.box-declaracion .tit-declaracion p{
	color: #9e3768;
	border:1px solid #9e3768;
}
.box-declaracion .tit-declaracion.active p {
	background: #9e3768;
}
.box-declaracion .tit-declaracion.active p {
	background: #9e3768;
}
.box-explains{
	border: 1px solid #9e3768;
}
.header-paso{
	background: #9e3768;
}
.own-carousel-menu .item {
	border-top:1px solid #9e3768;
	border-bottom:1px solid #9e3768;
	border-right: 1px solid #9e3768;

}
.own-carousel-menu .owl-item:first-child .item {
	border-left: 1px solid #9e3768;
}
.own-carousel-menu .menu-item-plan {
	color: #9e3768;
}
.own-carousel-menu .menu-item-plan.active {
	background: #9e3768;
	color: white;
}
.own-carousel-menu-plan .item {
	border: 1px solid #9e3768;
	min-width: 200px;
}
.own-carousel-menu-plan .menu-item-plan {
	color: #9e3768;
}
.own-carousel-menu-plan .menu-item-plan.active {
	background: #9e3768;
	color: white;
}
input.cant-asegurados:checked {
	background-color: #9e3768;
}