.box-declaracion .tit-declaracion p{
	color: #97999a;
	border:1px solid #97999a;
}
.box-declaracion .tit-declaracion.active p {
	background: #97999a;
}
.box-declaracion .tit-declaracion.active p {
	background: #97999a;
}
.box-explains{
	border: 1px solid #97999a;
}
.header-paso{
	background: #97999a;
}
.own-carousel-menu .item {
	border-top:1px solid #97999a;
	border-bottom:1px solid #97999a;
	border-right: 1px solid #97999a;

}
.own-carousel-menu .owl-item:first-child .item {
	border-left: 1px solid #97999a;
}
.own-carousel-menu .menu-item-plan {
	color: #97999a;
}
.own-carousel-menu .menu-item-plan.active {
	background: #97999a;
	color: white;
}
.own-carousel-menu-plan .item {
	border: 1px solid #97999a;
	min-width: 200px;
}
.own-carousel-menu-plan .menu-item-plan {
	color: #97999a;
}
.own-carousel-menu-plan .menu-item-plan.active {
	background: #97999a;
	color: white;
}
input.cant-asegurados:checked {
	background-color: #97999a;
}