.box-declaracion .tit-declaracion p{
	color: #15B3BB;
}
.box-declaracion .tit-declaracion.active p {
	background: #15B3BB;
}
.box-declaracion .tit-declaracion.active p {
	background: #15B3BB;
}
.box-explains{
	border: 1px solid #15B3BB;
}
.header-paso{
	background: #15b3bb;
}
.own-carousel-menu .item {
	border-top:1px solid #15B3BB;
	border-bottom:1px solid #15B3BB;
	border-right: 1px solid #15B3BB;
}
.own-carousel-menu .owl-item:first-child .item {
	border-left: 1px solid #15B3BB;
}

.own-carousel-menu .menu-item-plan {
	color: #15B3BB;
}
.own-carousel-menu .menu-item-plan.active {
	background: #15B3BB;
	color: white;
}
.own-carousel-menu-plan .item {
	border: 1px solid #15B3BB;
	min-width: 200px;
}
.own-carousel-menu-plan .menu-item-plan {
	color: #15B3BB;
}
.own-carousel-menu-plan .menu-item-plan.active {
	background: #15B3BB;
	color: white;
}