.box-declaracion .tit-declaracion p{
	color: #a9c338;
	border:1px solid #a9c338;
}
.box-declaracion .tit-declaracion.active p {
	background: #a9c338;
}
.box-declaracion .tit-declaracion.active p {
	background: #a9c338;
}
.box-explains{
	border: 1px solid #a9c338;
}
.header-paso{
	background: #a9c338;
}
.own-carousel-menu .item {
	border-top:1px solid #a9c338;
	border-bottom:1px solid #a9c338;
	border-right: 1px solid #a9c338;

}
.own-carousel-menu .owl-item:first-child .item {
	border-left: 1px solid #a9c338;
}
.own-carousel-menu .menu-item-plan {
	color: #a9c338;
}
.own-carousel-menu .menu-item-plan.active {
	background: #a9c338;
	color: white;
}
.own-carousel-menu-plan .item {
	border: 1px solid #a9c338;
	min-width: 200px;
}
.own-carousel-menu-plan .menu-item-plan {
	color: #a9c338;
}
.own-carousel-menu-plan .menu-item-plan.active {
	background: #a9c338;
	color: white;
}
.box-calendario p.datepicker{
    margin: 0;
    background-image: inherit;
    border: none;
}
div.fix_certificado div.box-certificado{
	float: right;
}
input.cant-asegurados:checked {
	background-color: #a9c338;
}