.box-declaracion .tit-declaracion p{
	color: #e21125;
	border:1px solid #e21125;
}
.box-declaracion .tit-declaracion.active p {
	background: #e21125;
}
.box-declaracion .tit-declaracion.active p {
	background: #e21125;
}
.box-explains{
	border: 1px solid #e21125;
}
.header-paso{
	background: #e21125;
}
.own-carousel-menu .item {
	border-top:1px solid #e21125;
	border-bottom:1px solid #e21125;
	border-right: 1px solid #e21125;
}
.own-carousel-menu .owl-item:first-child .item {
	border-left: 1px solid #e21125;
}
.own-carousel-menu .menu-item-plan {
	color: #e21125;
}
.own-carousel-menu .menu-item-plan.active {
	background: #e21125;
	color: white;
}
.own-carousel-menu-plan .item {
	border: 1px solid #e21125;
	min-width: 200px;
}
.own-carousel-menu-plan .menu-item-plan {
	color: #e21125;
}
.own-carousel-menu-plan .menu-item-plan.active {
	background: #e21125;
	color: white;
}

input.cant-asegurados:checked {
	background-color: #e21125;
}

.error-box{ background-color: #efeef0; position: relative;}
.error-box .error-center{position: relative;padding: 0 0 10px 55px;}
.error-box .error-icon{background: url('../../img/icons/icon-error.png') no-repeat; width: 44px; height: 44px; position: absolute; top: 0; left: 0; }
.error-box .error-close {text-align: right;}
.error-border {background: #efeef0 !important; border-bottom: 1px solid transparent !important; padding: 25px 30px 18px 25px !important; }

.featherlight:last-of-type {
    background: rgba(255, 255, 255, 0.65) !important;
}

.error-border {
    border: 1px solid red !important;
}

table {     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;    margin: 45px;     width: 480px; text-align: left;    border-collapse: collapse; }

th {     font-size: 13px;     font-weight: normal;     padding: 8px;     background: #b9c9fe;
    border-top: 4px solid #aabcfe;    border-bottom: 1px solid #fff; color: #039; text-align: center; }

td {    padding: 8px;     background: #e8edff;     border-bottom: 1px solid #fff;
    color: #669;    border-top: 1px solid transparent; }

tr:hover td { background: #d0dafd; color: #339; }