@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Handlee');

@defaultColor: rgba(255, 255, 255, 0.5);
@hoverColor: rgba(255, 255, 255, 0.9);

.transition-duration(@duration: 1s) {
  -webkit-transition-duration: @duration;
  -moz-transition-duration: @duration;
  -ms-transition-duration: @duration;
  -o-transition-duration: @duration;
  transition-duration: @duration;
}

.transition-property(@property) {
  -webkit-transition-property: @property;
  -moz-transition-property: @property;
  -ms-transition-property: @property;
  -o-transition-property: @property;
  transition-property: @property;
}

.user-select(@select: none) {
  -webkit-user-select: @select;
  -moz-user-select: @select;
  -ms-user-select: @select;
  -o-user-select: @select;
  user-select: @select;
}

html, body {
  background-color: #FFFF;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: red;
}

h2 {
  font-family: 'Handlee', cursive;
  font-weight: normal;
  color: @hoverColor;
  margin-left: 1em;
  margin-bottom: 0;
}

.treeview {
  float: left;
  .user-select;

  &:hover input ~ label:before,
  &.hover input ~ label:before{
    opacity: 1.0;
    .transition-duration(0.5s);
  }
  
  ul {
    .transition-duration;
    list-style: none;
    padding-left: 1em;
    
    li {
      span{
        .transition-property(color);
        .transition-duration;
      
        &:hover {
          color: @hoverColor;
          .transition-duration(0.3s);
        }
      }
    }
  }
  
  input{
    display: none;
    
    &:checked ~ ul {
      display: none;
    }
    
    & ~ label {
      cursor: pointer;
    }
    
    & ~ label:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      margin-left: -1em;
      margin-top: 0.4em;
      border-width: 4px;
      border-style: solid;
      border-top-color: solid;
      border-right-color: @defaultColor;
      border-bottom-color: @defaultColor;
      border-left-color: solid;
      opacity: 0.0;
      .transition-property(opacity);
      .transition-duration;
    }

    &:checked ~ label:before {
      margin-left: -0.8em;
      border-width: 5px;
      border-top-color: solid;
      border-right-color: solid;
      border-bottom-color: transparent;
      border-left-color: red;
    }
  }
}