#menu-toggle{
	position: relative;
    margin-left: -30px;
}
.sidebar-brand{
	text-align: left !important;
}
#buscar{
	margin-right: 0px;
	float: right;
}

/* GENERICAS */
.float-right{
	float: right !important;
}
.float-left{
	float: left;
}
.imagenes{
	max-width: 100px;
	max-height: 50px;
}
.hijo{     
	border-left: 0px;
    /* padding-left: 2px; */
    list-style: none;
    margin-left: 0px; 
}

#sortable1, #sortable2 {
    
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    margin-right: 10px;
    height: 100%;
  }
#sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    /*font-size: 1.2em;
    width: 120px;*/

  }
  .orditem{
    background-color: #8D0505;
    text-align: center;
    color: white;
  }

/* COLOR DE ICONOS */
.fa_color{
    color: #444 !important;
    text-align: center;
}
.td_icon{
    text-align: center;
    width: 50px;
    margin: 0px !important;
    padding-left: : 10px !important;
}
/* COLOR DE ICONOS */
.fa_verde{
    color: #1D9C73 !important;
    text-align: center;
}

.coberturas{
    text-align: center;
    margin: 1px solid gray;
}
.verde{
    background-color: #1DA075;
}
.blanco{
    background-color: #F5F5F5;
}
.asociacion{
    text-align: center;
    margin: 1px solid #777;
    padding: 2px 2px 2px 2px;
    list-style: none;
    height: 50px;
    
}
.asociacion:hover{
    cursor: pointer;
    background-color: #CCCCCC;
}
.gris{
    background-color: #999
}
.gris-oscuro{
    background-color: #666
}
/* ARBOL */

.productos{
    padding-left: 0px;
    height: 150px;
    background-color: #ccc;
    border: 1px solid #fff;
}
.planes{
    background-color: #ddd;
    border: 1px solid #fff;
    margin: 0px -15px -15px -15px;
}
.icono{
    padding-right: : -10px;
    margin-right: : -15px;
    border: 1px solid #fff;  
}

.ident{
    width: 25px;
    height: 3px;
    background-color: #ccc;
}

.divcontet{
    height: 50px;
    border: 1px solid grey;
}
.ico{
    padding: 1px;
    margin-right:2px;

    float: right;
    text-align: center;  
}

/* FIN ARBOL */



/* when hiding the thing */
.ng-hide-add         { 
  -webkit-animation:0.5s lightSpeedOut ease; 
  animation:0.5s lightSpeedOut ease; 
}

/* when showing the thing */
.ng-hide-remove      { 
  -webkit-animation:0.5s flipInX ease; 
  animation:0.5s flipInX ease; 
}

/* ANIMATIONS (FROM ANIMATE.CSS) */

/* flip in */
@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -ms-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    -webkit-transform: perspective(400px);
    -ms-transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@-webkit-keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(100%, 0, 0) skewX(30deg);
    -ms-transform: translate3d(100%, 0, 0) skewX(30deg);
    transform: translate3d(100%, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

.arbol{
  background-color: #ccc;
  padding: 2px;
  margin: 1px;
  border: 1px white;
  cursor: pointer;
}
.arbol:hover{
  background-color: #bbb;
}
.content{
  background-color: #ddd;
}
.boton-abajo{
    bottom:5px;
    right:10px; 
}

.moment{ width: 100% !important; }
.center{ text-align: center; margin-top: 40px; }

.preg{ display: none;}
.tit-final{ cursor: pointer;}
.oculto{}

/*Estilos nuevos 17 Agosto del 2017*/

.titulo {
  color: #CC0000;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
/*  font-family:"Open Sans", sans-serif; */
}
