    {% if id == 1 %}
        <h3>Configuracion Momentos</h3>
    {% else %}
        <h3>Configuracion Preocupaciones</h3>
    {% endif %}

<section id="paso1" class="form-horizontal">
	<form  action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>
		<div class="form-group ">
			<label for="nombre" class="control-label col-sm-2"> Cantidad maxima a seleccionar:</label>
			<div class="col-sm-10">
    			{{ form_widget(form.max_sel , { attr: {class: "form-control" }})}}
    		</div>
    	</div>
    	<div class="form-group">
			<label for="nombre" class="control-label col-sm-2"> Cantidad maxima a mostrar:</label>
			<div class="col-sm-10">
    			{{ form_widget(form.cant_max , { attr: {class: "form-control" }})}}
    		</div>
    	</div>
        <div class="form-group">
            <label for="nombre" class="control-label col-sm-2"> Descripcion:</label>
            <div class="col-sm-10">
                {{ form_widget(form.description , { attr: {class: "form-control" }})}}
            </div>
        </div>
        {% if tipo > 0 %}
        <input class="btn btn-primary  btn-lg" type="submit" name='registrar_momento' value="Actualizar" />
        {% else %}
        <input class="btn btn-success  btn-lg" type="submit" name='registrar_momento' value="Registrar" />
    	{# opcion con angular
        <div class="form-group col-sm-12">
    		<input ng-if="but == 1" class="btn btn-primary  btn-lg" type="submit" name='registrar_momento' value="Actualizar" />
            <input ng-if="but == 0" class="btn btn-primary  btn-lg" type="submit" name='registrar_momento' value="Registrar" />
    	</div>
        #}
        {% endif %}    	
	</form>
</section>
