{% extends "PlanificadorBundle::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
   
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/generico.js') }}"></script>
	
{% endblock %}

{% block body %}
	<div>
			<h3>Opciones Generales</h3>
		<section>
			{{ include('PlanificadorBundle:administrador:conf_generales/parametros_listar.html.twig') }}
		</section>
	</div>
{% endblock %}

