{% extends "PlanificadorBundle::base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}
  	<style src="{{ asset('assets/css/planificador/jasny-bootstrap.min.css') }}"></style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
   	<script src="{{ asset('assets/js/planificador/controller/generico.js') }}"></script>
   	<script src="{{ asset('assets/js/planificador/jasny-bootstrap.min.js') }}"></script>
   	<script>
   		var tipo = {{ tipo | raw }}
   	</script>
{% endblock %}

{% block body %}
	<div >	
	
		<div>
			{{ include('PlanificadorBundle:administrador:conf_generales/conf_generales.html.twig') }}
		</div>
	</div>
{% endblock %}