{% extends "PlanificadorBundle::base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}
  	<style src="{{ asset('assets/css/planificador/jasny-bootstrap.min.css') }}"></style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
   	<script src="{{ asset('assets/js/planificador/controller/momentos.js') }}"></script>
   	<script src="{{ asset('assets/js/planificador/jasny-bootstrap.min.js') }}"></script>
    <script>
      var tipo = {{ tipo | raw }}
    </script>
{% endblock %}

{% block body %}
<h3>Orden de Momentos</h3>
<section class="col-lg-5 col-md-5">
<h4>Momentos ordenados</h4>
  <ul id="sortable1" class="col-lg-6 col-md-6 col-xs-6 connectedSortable moment">
  {% for momentos in momentosordernado %}
    {% if momentos.orderBy > 0 %}
      <li id="{{momentos.id}}" class="col-lg-12 col-md-12 col-xs-12  ui-state-default"> 
        <label class="col-lg-9 col-md-9 col-xs-9">{{momentos.descripcion}}</label> 
        <label class="col-lg-3 col-md-3 col-xs-3"><img src="{{  asset('img/planificador/momentos')}}/{{ momentos.imagenTipo }}" alt="" class="img-thumbnail imagenes" >
      </label> 
      </li>
    {% endif %}
  {% endfor %}
  </ul>
</section>
<section class="center col-lg-2 col-md-2"> <i class="fa fa-exchange fa-3x"></i> </section>
<section class="col-lg-5 col-md-5">
<h4>Momentos desordenados</h4>
  <ul id="sortable2" class="connectedSortable">
  {% for momentosdes in momentosdesordenado %}
  <li id="{{momentosdes.id}}" class=" orditem col-lg-12 col-md-12 col-xs-12 moment ui-state-default">
    <label class="col-lg-9 col-md-9 col-xs-9">{{momentosdes.descripcion}}</label>
    <label class="col-lg-3 col-md-3 col-xs-3"><img src="{{  asset('img/planificador/momentos')}}/{{ momentosdes.imagenTipo }}" alt="" class="img-thumbnail imagenes" >
    </label>
  </li>
  {% endfor %}
</ul>
</section>

<section>
  <form  action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>
    <div class="form-group ">
      {#<label for="test" class="control-label col-sm-2"> Test:</label>#}
      <div class="col-sm-11">
          {{ form_widget(form.orderBy , { attr: {class: "file form-control" }})}}
        </div>
    </div>
    <div class="form-group ">
     {# <label for="test2" class="control-label col-sm-2"> Test:</label>#}
      <div class="col-sm-11">
          {{ form_widget(form.desOrderBy , { attr: {class: "file form-control" }})}}
        </div>
    </div>
  <br>
  <input class=" col-sm-2 btn btn-success  btn-lg" type="submit" name='registrar_momento' value="Guardar cambios" />
      {# opcion con angular
        <div class="form-group col-sm-12">
        <input ng-if="but == 1" class="btn btn-primary  btn-lg" type="submit" name='registrar_momento' value="Actualizar" />
            <input ng-if="but == 0" class="btn btn-primary  btn-lg" type="submit" name='registrar_momento' value="Registrar" />
      </div>
        #}     
  </form>
</section>

{#<h3>ordenador de georlys!</h3>
<section class="col-lg-6 col-md-5">
  <h4>Hola Georly 1</h4>
  <ul id="sortable1" class="connectedSortable">
    <li id="6" class="ui-state-default">Item 1</li>
    <li id="2" class="ui-state-default">Item 2</li>
    <li id="3"class="ui-state-default">Item 3</li>
    <li id="4" class="ui-state-default">Item 4</li>
    <li id="5" class="ui-state-default">Item 5</li>
  </ul>
</section>
<section class="col-lg-6 col-md-5 ">
  <h4>Hola Georly 2</h4>
  <ul id="sortable2" class="connectedSortable">
    <li data-val="1" class="ui-state-highlight">Item 1</li>
    <li class="ui-state-highlight">Item 2</li>
    <li class="ui-state-highlight">Item 3</li>
    <li class="ui-state-highlight">Item 4</li>
    <li class="ui-state-highlight">Item 5</li>
  </ul>
</section>
#}
 
{% endblock %}