{% extends "PlanificadorBundle::base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}
  	<style src="{{ asset('assets/css/planificador/jasny-bootstrap.min.css') }}"></style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
   	<script src="{{ asset('assets/js/planificador/controller/preocupaciones.js') }}"></script>
   	<script src="{{ asset('assets/js/planificador/jasny-bootstrap.min.js') }}"></script>
    <script>
      var tipo = {{ tipo | raw }}
    </script>
{% endblock %}

{% block body %}
<h3>Orden de Preocupaciones</h3>
<section class="col-lg-5 col-md-5">
<h4>Preocupaciones ordenadas</h4>
  <ul id="sortable1" class="col-lg-6 col-md-6 col-xs-6 connectedSortable moment">
{% for preocupacion in preocupacionordenado %}
  {% if preocupacion.orderBy > 0 %}
    <li id="{{preocupacion.id}}" class="col-lg-12 col-md-12 col-xs-12 ui-state-default">
      <label class="col-lg-9 col-md-9 col-xs-9" >{{preocupacion.descripcion}}</label>
      <label class="col-lg-3 col-md-3 col-xs-3" ><img src="{{  asset('img/planificador/preocupaciones')}}/{{ preocupacion.imagenTipo }}" class="img-thumbnail imagenes"> </label>
    </li>
  {% endif %}
{% endfor %}
</ul>
</section>
<section class="center col-lg-2 col-md-2"> <i class="fa fa-exchange fa-3x"></i> </section>
<section class="col-lg-5 col-md-5">
<h4>Preocupaciones desordenadas</h4>
  <ul id="sortable2" class="connectedSortable">
{% for preocupaciondes in preocupacionesDesOrdenadas %}
    <li  id="{{preocupaciondes.id}}" class=" orditem col-lg-12 col-md-12 col-xs-12 moment ui-state-default">
      <label class="col-lg-9 col-md-9 col-xs-9" >{{preocupaciondes.descripcion}}</label>
      <label class="col-lg-3 col-md-3 col-xs-3" ><img src="{{  asset('img/planificador/preocupaciones')}}/{{ preocupaciondes.imagenTipo }}" class="img-thumbnail imagenes"> </label>
    </li>
{% endfor %}
</ul>
</section>

<section>
  <form  action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>
    <div class="form-group ">
      <div class="col-sm-11">
          {{ form_widget(form.orderBy , { attr: {class: "file form-control" }})}}
        </div>
    </div>
    <div class="form-group ">
      <div class="col-sm-11">
          {{ form_widget(form.desOrderBy , { attr: {class: "file form-control" }})}}
        </div>
    </div>
  <br>
  <input class=" col-sm-2 btn btn-success  btn-lg" type="submit" name='registrar_momento' value="Guardar cambios" />   
  </form>
</section>

 
{% endblock %}