<div>
{#<div id="buscar" class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-5">
	<div class="col-sm-10 float-right">
    	<input type="text" class="form-control" placeholder="Ingrese datos de busqueda">
    </div>
</div>#}
<section class=" row form-horizontal">
	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr >
		   	<th>Id</th>
		   	<th>Descripción</th>
			<th>Máx Seleccionable</th>
			<th>Cant Máxima</th>
			<th>Editar</th>		    
		</tr>
		
	  {% for parametro in parametros %}
		<tr >
		  	<td>{{ parametro.id}}</td>
			<td>{{ parametro.description }}</td>
			<td>{{ parametro.maxsel }}</td>
			<td>{{ parametro.cantmax }}</td>
			<td class="centrar_bot"><a href="{{ path('opciones_generales',{'id':parametro.Id}) }}">Editar </a ></td>
		</tr>
	{% endfor %}
	</table >
</section>
</div>