{% extends "PlanificadorBundle::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
   
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/momentos.js') }}"></script>
	<script>
   		var tipo = {{ tipo | raw }}
   		
   	</script>
{% endblock %}
{% block body %}
<div>
<h3>Lista Momentos</h3>
<section class=" row form-horizontal">
	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr >
		   	<th>Id</th>
			<th>Nombre</th>
			<th>Visible</th>
			<th>Imagen</th>
			<th>Orden</th>
			<th class="td_icon">Editar</th>
			<th class="td_icon">Eliminar</th>		    
		</tr>
	  {% for momento in momentos %}
		<tr >
		  	<td>{{ momento.Id}}</td>
			<td>{{ momento.Descripcion }}</td>
			
			{% if momento.Visible == "" %}
				<td>0</td>
			{% else %}
                <td>{{ momento.Visible }}</td> 			
			{% endif %}
				
			
			
			<td>
				<img src="{{ asset('img/planificador/momentos/')}}{{momento.ImagenTipo}}" alt="" class="img-thumbnail imagenes" ></td>
			<td>{{ momento.orderby }}</td>
			<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('momento',{'id':momento.Id}) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"> </a ></td>
			<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('momento_eliminar',{'id':momento.Id}) }}"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i> </a ></td>
		</tr>
	{% endfor %}
	</table >
</section>
</div>
{% endblock %}