<section id="paso1" class="form-horizontal">
	<form  action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>
		<div class="form-group ">
			<label for="nombre" class="control-label col-sm-2"> Nombre:</label>
			<div class="col-sm-10">
    			{{ form_widget(form.descripcion , { attr: {class: "form-control" }})}}
    		</div>
    	</div>
    	<div class="form-group">
			<label for="nombre" class="control-label col-sm-2"> Visible:</label>
			<div class="col-sm-10">
    			{{ form_widget(form.visible , { attr: {class: "form-control" }})}}
    		</div>
    	</div>
        <div class="form-group">
            <label for="nombre" class="control-label col-sm-2"> Imagen:</label>
            
            <div class="col-sm-4 fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                    {% if tipo > 0 %}
                    <img src="{{ asset('img/planificador/momentos/')}}{{ img }}" alt="...">
                    {% endif %}
                </div>
                <div>
                    <span class="btn btn-default btn-file">
                        <span class="fileinput-new">Seleccionar </span>
                        <span class="fileinput-exists">Cambiar</span>
                        <input id="Momento_form_imagen_file" type="file" name="Momento_form[imagen][file]">
                    </span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                </div>
            </div>
             
            </div>  



        <div class="form-group">
            <label for="nombre" class="control-label col-sm-2"> Orden:</label>
            <div class="col-sm-10">
                {{ form_widget(form.orderBy , { attr: {class: "file form-control" }})}}
            </div>
        </div>
        {% if tipo > 0 %}
        <input class="btn btn-primary  btn-lg" type="submit" name='registrar_momento' value="Actualizar" />
        {% else %}
        <input class="btn btn-success  btn-lg" type="submit" name='registrar_momento' value="Registrar" />
    	{# opcion con angular
        <div class="form-group col-sm-12">
    		<input ng-if="but == 1" class="btn btn-primary  btn-lg" type="submit" name='registrar_momento' value="Actualizar" />
            <input ng-if="but == 0" class="btn btn-primary  btn-lg" type="submit" name='registrar_momento' value="Registrar" />
    	</div>
        #}
        {% endif %}    	
	</form>
</section>
