<div class="box-enfermedad">
    <p>
        <span class="block-mobile">¿Realiza o participa usted de alguna otra actividad que considere de alto riesgo?<sup class="red">*</sup></span>
    </p>
    <p>
        <label class="text-bold">
            <input type="radio" ng-model="actividad_riesgo" value="si" ng-init="actividad_riesgo = {% if form.questions.actividad_riesgo.answer.vars.value == 'no' %}'no'{% else %}'si'{% endif %}" onclick="$('.regular-input.w60p.actividad_riesgo').val('');"> Si
        </label>
        <label class="text-bold">
            <input type="radio" ng-model="actividad_riesgo" value="no" onclick="$('.regular-input.w60p.actividad_riesgo').val('no');"> No
        </label>
    </p>
    {{ form_widget(form.questions.actividad_riesgo.answer, {attr: {class: 'regular-input w60p actividad_riesgo', 'ng-show' : "actividad_riesgo == 'si'" }}) }}
    {{ form_widget(form.questions.actividad_riesgo.question) }}
</div>
