<div class="box-enfermedad">
    <p>
        <span class="block-mobile">Realiza o participa usted de alguna de las actividades, a vía de ejemplo, y sin que la enumeración sea taxativa o restrictiva sino que meramente enunciativa: manejo de explosivos, minería subterránea, trabajos en altura o líneas de alta tensión, excavacines, inmerción submarina, piloto civil, tripulante de aviones civiles o militares, tripulante de barco, bombero <sub class="red">*</sub></span>
    </p>
    <p>
        <label class="text-bold">
            <input type="radio" ng-model="actividad_ejemplo" value="si" ng-init="actividad_ejemplo = {% if form.questions.actividad_ejemplo.answer.vars.value == 'no' %}'no'{% else %}'si'{% endif %}" onclick="$('.regular-input.w60p.actividad_ejemplo').val('');"> Si
        </label>
        <label class="text-bold">
            <input type="radio" ng-model="actividad_ejemplo" value="no" onclick="$('.regular-input.w60p.actividad_ejemplo').val('no');"> No
        </label>
    </p>
    {{ form_widget(form.questions.actividad_ejemplo.answer, {attr: {class: 'regular-input w60p actividad_ejemplo', 'ng-show' : "actividad_ejemplo == 'si'" }}) }}
    {{ form_widget(form.questions.actividad_ejemplo.question) }}
</div>
