<div class="cont-box-actividad">
    <div class="text-actividad">
        <p class="bold-frutiger titulo">Declaración de actividad</p>
        <p>Selecciona el tipo de actividad o trabajo que se asemeje a lo que haces</p>
    </div>
    <div class="select-actividad">
        <div class="box-actividad">
            <div class="actividad">
                <label>
                    <img src="{{ asset('assets/img/icons/icon-oficina.png') }}" alt="Oficina">
                    <span class="texto h40">Oficina</span>
                    <input type="radio" name="activity" value="Oficina" ng-click="setActivity()" {% if form.activity.vars.value == 'Oficina' %}checked{% endif %}>
                </label>
            </div>
            <div class="actividad">
                <label>
                    <img src="{{ asset('assets/img/icons/icon-montaje-terreno.png') }}" alt="Montaje, terreno o explosivos">
                    <span class="texto">Montaje, terreno o explosivos</span>
                    <input type="radio" name="activity" value="Montaje, terreno o explosivos"  ng-click="setActivity()" {% if form.activity.vars.value == 'Montaje, terreno o explosivos' %}checked{% endif %}>
                </label>
            </div>
            <div class="actividad">
                <label>
                    <img src="{{ asset('assets/img/icons/icon-desplazamiento.png') }}" alt="Desplazamiento">
                    <span class="texto h40">Desplazamiento</span>
                    <input type="radio" name="activity" value="Desplazamiento"  ng-click="setActivity()" {% if form.activity.vars.value == 'Desplazamiento' %}checked{% endif %}>
                </label>
            </div>
            {{ form_widget(form.activity, {attr: {class: 'hidden activity'}}) }}
        </div>
    </div>
</div>
