
<div class="cont-box-cargas" id="forms-beneficiaries">
    <div class="cont-carga" ng-repeat="carga in beneficiaries">
        <div class="box-carga">
            <div class="mytable cellpadding box-datos-persona">
                <div class="myrow">
                    <div class="mytd datos-persona-item">
                        <label for="nombre">
                            <sup class="red">*</sup>Nombre:
                        </label>
                    </div>
                    <div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" data-field="name" data-entity="{{model_name}}">
                        <input type="text" name="insurance[{{model_name}}][{% verbatim %}{{$index}}{% endverbatim %}][name]" required="required" class="regular-input" ng-model="carga.name">
                    </div>
                </div>
                <div class="myrow">
                    <div class="mytd datos-persona-item">
                        <label for="a-paterno"><sup class="red">*</sup>Apellido Paterno:</label>
                    </div>
                    <div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" data-field="lastname1" data-entity="{{model_name}}">
                        <input type="text" name="insurance[{{model_name}}][{% verbatim %}{{$index}}{% endverbatim %}][lastname1]" required="required" class="regular-input" ng-model="carga.lastname1">
                    </div>
                </div>
                <div class="myrow">
                    <div class="mytd datos-persona-item">
                        <label for="a-materno"><sup class="red">*</sup>Apellido Materno:</label>
                    </div>
                    <div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" data-field="lastname2" data-entity="{{model_name}}">
                        <input type="text" name="insurance[{{model_name}}][{% verbatim %}{{$index}}{% endverbatim %}][lastname2]" required="required" class="regular-input" ng-model="carga.lastname2">
                    </div>
                </div>
                <div class="myrow">
                    <div class="mytd datos-persona-item">
                        <label for="rut"><sup class="red">*</sup>Rut:</label>
                    </div>
                    <div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" data-field="code" data-entity="{{model_name}}">
                        <input type="text" name="insurance[{{model_name}}][{% verbatim %}{{$index}}{% endverbatim %}][code]" class="regular-input rut" required="required" ng-model="carga.code" minlength="11" maxlength="12">
                    </div>
                </div>
                <div class="myrow">
                    <div class="mytd datos-persona-item">
                        <label for="fecha-n"><sup class="red">*</sup>Fecha de Nacimiento:</label>
                    </div>
                    <div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" data-entity="{{model_name}}">
                         <div class="mytd datos-persona-inputs" id="insurance_{% verbatim %}{{$index}}{% endverbatim %}_birthday" >
                            <select
								id="insurance_{{model_name}}_{% verbatim %}{{$index}}{% endverbatim %}_birthday_day" 
								name="insurance[{{model_name}}][{% verbatim %}{{$index}}{% endverbatim %}][birthday][day]"                                 		
								class="referSelect regular-select day" 
								onchange="showAlert(this.id)" 
								ng-change="mayorEdad();" 
								ng-model="carga.day" 
								required="required" 
								data-person="{% verbatim %}{{$index}}{% endverbatim %}">
                                <option value="" selected="selected">Día</option>
                                <option 
								ng-repeat="day in days()">{% verbatim %}{{ day }}{% endverbatim %}</option>
                            </select>
							<select
								id="insurance_{{model_name}}_{% verbatim %}{{$index}}{% endverbatim %}_birthday_month" 
								name="insurance[{{model_name}}][{% verbatim %}{{$index}}{% endverbatim %}][birthday][month]"                                 		
								class="referSelect regular-select month"
								onchange="showAlert(this.id)" 
								ng-change="mayorEdad();" 
								ng-model="carga.month" 
								required="required" 
								data-person="{% verbatim %}{{$index}}{% endverbatim %}">
                                <option value="" selected="selected">Mes</option>
                                <option 
								ng-repeat="month in months()">{% verbatim %}{{ month }}{% endverbatim %}</option>
                            </select>
							<select 
								id="insurance_{{model_name}}_{% verbatim %}{{$index}}{% endverbatim %}_birthday_year" 
								name="insurance[{{model_name}}][{% verbatim %}{{$index}}{% endverbatim %}][birthday][year]" 
								onchange="showAlert(this.id)" 
								ng-change="mayorEdad();" 
								ng-model="carga.year" 
								class="referSelect regular-select year" 
								required="required" 
								data-person="{% verbatim %}{{$index}}{% endverbatim %}">
								<option value="" selected="selected">Año</option>
								<option ng-repeat="year in yyyy()">{% verbatim %}{{ year }}{% endverbatim %}</option>
                    </select>
 
                       </div>
						
                    </div>
					
                </div>
                
                <div class="myrow">
                    <input type="hidden" name="insurance[{{model_name}}][{% verbatim %}{{$index}}{% endverbatim %}][relationship]" value="Otro">
                </div>
               
                {% if model_name == 'beneficiaries' %}
                <div class="myrow">
                    <div class="mytd datos-persona-item">
                        <label for="capital"><sup class="red">*</sup>Capital:</label>
                    </div>
                    <div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" data-field="capital" data-entity="{{model_name}}">
                         <div class="mytd datos-persona-inputs">
                             <input type="num" name="insurance[{{model_name}}][{% verbatim %}{{$index}}{% endverbatim %}][capital]" required="required" class="regular-input num" ng-model="carga.capital" minlength="1" maxlength="3">%
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
