{#
{% if form.offsetExists('insured') is not empty %}
	{% if isForYouOny is not defined %}
	<p class="pregunta-seguro">¿Desea asegurar la dirección registrada?</p>
		<div class="box-opcion-seguro">
			<label>
				<input class="consulta_hogar" type="radio" value="1" name="consultHogar" checked>Si
			</label>
			<label class="text-bold">
				<input class="consulta_hogar" type="radio" value="0" name="consultHogar">No
			</label>
	{{ form_widget(form.payerEqualsInsured) }}
		</div>
	{% endif %}
{% endif %}
#}