<div class="mytable cellpadding box-coberturas">
    <div class="myrow">
        <div class="mytd cobertura-item titulo">
            {% block coverage_title %}¿En qué curso está el beneficiario?{% endblock %}
            <div class="myrow">
        <select name="insurance[credit_cards][cardNumber]" required="required">
         </select>
    </div>
        </div>
    </div>
    
</div>