<div class="box-enfermedad">
    <p>
        <span class="block-mobile">Realiza o participa usted de alguno de los siguientes deportes, a via de ejemplo, y sin que la enumeración sea taxatia o restrictiva sino que meramente enunciativa: paracaidismo, montañismo, alas delta, benji, equitación, rodeo, parapente, carreras de auto y moto<sup class="red">*</sup></span>
    </p>
    <p>
        <label class="text-bold">
            <input type="radio" ng-model="deportes_riesgo" value="si" ng-init="deportes_riesgo = {% if form.questions.deportes_riesgo.answer.vars.value == 'no' %}'no'{% else %}'si'{% endif %}" onclick="$('.regular-input.w60p.deportes_riesgo').val('');"> Si
        </label>
        <label class="text-bold">
            <input type="radio" ng-model="deportes_riesgo" value="no" onclick="$('.regular-input.w60p.deportes_riesgo').val('no');"> No
        </label>
    </p>
    {{ form_widget(form.questions.deportes_riesgo.answer, {attr: {class: 'regular-input w60p deportes_riesgo', 'ng-show' : "deportes_riesgo == 'si'" }}) }}
    {{ form_widget(form.questions.deportes_riesgo.question) }}
</div>