<div class="overflow h90">
    <p>
        ¿Usted o algún integrante de su grupo familiar asegurado ha tenido o tiene conocimiento de padecer o de tener diagnosticada alguna dolencia o ha sido sometido a tratamiento médico por alguna de las siguientes enfermedades: Cáncer de cualquier naturaleza, Hepatitis B o C, Transplante de órganos, VIH (Sida)?
    </p>
</div>
<div class="box-enfermedad">
    <div align="center" id="radios">
        <p>        
            <label class="text-bold">
                <input class="radioDPS" name="radioDPS" type="radio" ng-model="disease" value="si" ng-init="disease = {% if form.questions.disease.answer.vars.value == 'no' %}'no'{% else %}'si'{% endif %}" onclick="$('.regular-input.w60p.disease').val('');"> Si
            </label>
            <label class="text-bold">
                <input class="radioDPS" name="radioDPS" type="radio" ng-model="disease" value="no" onclick="$('.regular-input.w60p.disease').val('no');"> No
            </label>
        </p>
    </div>
    {#{ form_widget(form.questions.disease.answer, {attr: {class: 'regular-input w60p disease', 'ng-show': "disease == 'si'"}}) }#}
    {{ form_widget(form.questions.disease.question) }}
</div>
