<div class="overflow h90">
    <p>
        Declaro estar en conocimiento acerca de que, en conformidad con la normativa legal vigente y con lo establecido en las condiciones generales de la póliza que rige la cobertura, es mi deber declarar sinceramente todas aquellas circunstancias relativas a mi estado pasado y actual de salud que puedan afectar el riesgo que asumirá la compañía y que pueden constituir una restricción, limitación o exclusión de cobertura. Declaro también que hasta esta fecha no me ha sido diagnosticada y que no tengo conocimiento de tener diabetes, enfermedades al riñon, enfermedades cardíacas, hipertensión arterial, enfermedades coronarias o soplos cardíacos, arritmias, sobrepeso u obesidad, enfermedades del pulmón, cáncer, hepatitis (excepto hepatitis a), enfermedades gastrointestinales como cirrosis hepática, ulcera gástrica, colitis ulcerosa; enfermedades hematológicas como leucemia, linfoma o anemia (excepto por falta de fierro); desórdenes nerviosos o mentales, vih positivo/sida, síndrome de down y enfermedades neurológicas como accidentes vasculares cerebrales, epilepsia y enfermedad de alzheimer, cualquier otra enfermedad, anormalidad, defecto o lesión que pueda afectar el riesgo que solicito asumir por este acto a la compañía. En caso de padecer o haber padecido alguna de las enfermedades señaladas precedentemente, declaro sinceramente que ella correspondió a:
    </p>
</div>
<div class="box-enfermedad">
    <p>
        <span class="block-mobile">¿Está en conocimiento de padecer alguna enfermedad, mencionada o no en la declaración?</span>
        <label class="text-bold">
            <input type="radio" ng-model="disease" value="si" ng-init="disease = {% if form.questions.disease.answer.vars.value == 'no' %}'no'{% else %}'si'{% endif %}" onclick="$('.regular-input.w60p.disease').val('');"> Si
        </label>
        <label class="text-bold">
            <input type="radio" ng-model="disease" value="no" onclick="$('.regular-input.w60p.disease').val('no');"> No
        </label>
    </p>
    {{ form_widget(form.questions.disease.answer, {attr: {class: 'regular-input w60p disease', 'ng-show': "disease == 'si'"}}) }}
    {{ form_widget(form.questions.disease.question) }}
</div>
