<a name="next{{ step }}"></a>
<div class="box-declaracion" id="step{{ step }}">
    <div class="tit-declaracion{% if inactive == false %} active{% endif %}" id="next{{ step }}" data-step="{{ step }}">
        <p>Declaración producto a asegurar</p>
    </div>
    <div class="info-declaracion{% if inactive == false %} hidden{% endif %}">
        <div class="cont-box-actividad">
            <div class="text-actividad">
                <p class="bold-frutiger titulo">Selecciona tu producto</p>
                <p>Selecciona el producto que vas a asegurar</p>
            </div>
            <div class="select-actividad">
                <div class="box-actividad">
                    {% for card in cards %}
                    <div class="actividad">
                        <label for="tarjeta-{{ card.cardNumber |slice(-4) }}">
                            <img src="{{ asset('assets/img/icons/icon-tarjeta.png') }}" alt="Oficina">
                            <span class="texto">******{{ card.cardNumber |slice(-4) }}<br> {{ card.name | upper }}</span>
                            <input id="tarjeta-{{ card.cardNumber |slice(-4) }}" type="radio" name="card" value="{{ card.id }}">
                        </label>
                    </div>
                    {% endfor %}
                    {{ form_widget(form.credit_cards) }}
                </div>
            </div>
        </div>
        <div class="info-footer no-border-top">
            <div class="box-btn-right clearfix">
                <input type="submit" class="btn-continuar" value="Continuar">
            </div>
        </div>
    </div>
</div>
