{{ include('partials/form/weight_height.html.twig') }}
{{ include('partials/form/disease.html.twig') }}
<div class="overflow h90">
    <p>Declaro asimismo que acepto y que estoy en conocimiento que en caso de que el siniestro se produzca por algunas de las enfermedades indicadas en esta solicitud así como aquellas que especialmente he declarado, la compañía no otorga cobertura y por tanto, no estará obligada a pagarlo.</p>
</div>
{# <p class="bold-frutiger">Autorización Especial de Salud</p>
<div class="box-enfermedad h90">
    <p>Se deja expresa constancia que el seguro propuesto no cubre la muerte con ocasión de la participación en cualquiera de las actividades o deportes riesgosos arriba señalados.</p>
</div>
<p class="bold-frutiger">Autorización especial de salud</p>
<div class="overflow h90">
    <p>Conforme a lo señalado en el artículo 61 del DFL N° 251 de 1931, sobre actividad aseguradora, autorizo a la compañía de seguros para requerir antecedentes adicionales sobre el estado de salud de los propuestos asegurados y autorizo a instituciones hospitalarias, laboratorios, médicos y demás personas que los hayan asistido o examinado, a proporcionar -a solicitud de la compañía-, todos los datos o antecedentes clínicos que tengan o hayan conocido con motivo de haberles prestado atención o servicios de salud.</p>
</div>
<p class="text-acepto">

       {{ form_widget(form.questions.accept.answer, {attr: {class: 'regular-check', id: 'acepto-autorizacion'}}) }}He leído y acepto la declaración personal de salud
        {{ form_widget(form.questions.accept.question) }} 

    
</p>#}

