
<div class="box-enfermedad h90">
    <p>Se deja expresa constancia que el seguro propuesto no cubre la muerte con ocasión de la participación en cualquiera de las actividades o deportes riesgosos arriba señalados.</p>
</div>
<p class="bold-frutiger">Autorización especial de salud</p>
<div class="overflow h90">
    <p>Conforme a lo señalado en el artículo 61 del DFL N° 251 de 1931, sobre actividad aseguradora, autorizo a la compañía de seguros para requerir antecedentes adicionales sobre el estado de salud de los propuestos asegurados y autorizo a instituciones hospitalarias, laboratorios, médicos y demás personas que los hayan asistido o examinado, a proporcionar -a solicitud de la compañía-, todos los datos o antecedentes clínicos que tengan o hayan conocido con motivo de haberles prestado atención o servicios de salud.</p>
</div> 
<p class="text-acepto">
   
        {{ form_widget(form.questions.accept.answer, {attr: {class: 'regular-check', id: 'acepto-autorizacion'}}) }}He leído y acepto la autorización especial de salud
        {{ form_widget(form.questions.accept.question) }}

    
</p>
