{{ include('partials/form/diseaseUC.html.twig') }}
<div class="overflow h90">
    <p>Declaro asimismo que acepto y que estoy en conocimiento que en caso de que el siniestro se produzca por algunas de las enfermedades indicadas en esta solicitud así como aquellas que especialmente he declarado, la compañía no otorga cobertura y por tanto, no estará obligada a pagarlo.</p>
</div>