<div class="col-6 xs">
    <div class="mytable cellpadding box-datos-persona">
        <div class="myrow">
            <div class="mytd datos-persona-item">
                <label for="direccion"><sup class="red">*</sup>Dirección:</label>
            </div>
            <div class="mytd datos-persona-inputs">
                {{ form_widget(form.address, {attr: {class: 'regular-input'}}) }}
            </div>
        </div>
        <div class="myrow">
            <div class="mytd datos-persona-item">
                <label for="comuna"><sup class="red">*</sup>Comuna:</label>
            </div>
            <div class="mytd datos-persona-inputs">
                {{ form_widget(form.addressState, {attr: {class: 'regular-select'}}) }}
            </div>
        </div>
        <div class="myrow">
            <div class="mytd datos-persona-item">
                <label for="ciudad"><sup class="red">*</sup>Ciudad:</label>
            </div>
            <label class="mytd datos-persona-item" id="ciudad2"></label>
            <div class="mytd datos-persona-inputs">
                {{ form_widget(form.addressCity, {attr: {class: 'regular-input'}}) }}
            </div>
        </div>
    </div>
</div>