
<div class="col-6 xs pL30" ng-init="insured = 1">
    {% if form.offsetExists('insured') is not empty %}
 {% if product.SeguroTerceros %}
        {% if isForYouOny is not defined %}
        <p class="pregunta-seguro">¿El seguro es para ti?</p>
        <div class="box-opcion-seguro">
            <label class="text-bold">
                <input type="radio" value="1" ng-model="insured" ng-init="insured = 1" onclick="setInsured(1)" name="isInsured" checked>Si
            </label>
            <label class="text-bold">
                <input type="radio" value="0" ng-model="insured" onclick="setInsured(0)" name="isInsured">No
            </label>
            {{ form_widget(form.payerEqualsInsured) }}
        </div>
        {% endif %}
         {% else %}
          {{ form_widget(form.payerEqualsInsured) }}
 {% endif %}
    <div class="mytable cellpadding box-datos-persona box-si">
        <div class="myrow" ng-show="insured == 1">
            <div class="mytd datos-persona-item">
                <label for="nombre">Nombre:</label>
            </div>
            <div class="mytd datos-persona-inputs">
                <span class="text-bold">{{ app.user.fullname }}</span>
                <span class="icon-x"></span>
            </div>
        </div>
        <div class="myrow" ng-show="insured == 1">
            <div class="mytd datos-persona-item">
                <label>Rut:</label>
            </div>
            <div class="mytd datos-persona-inputs">
                <span class="text-bold">
                    {{ app.user.code | slice(0, -2) | number_format(0, ',', '.') }}
                    {{ app.user.code | slice(-2) }}
                </span>
                <span class="icon-x"></span>
            </div>
        </div>
        <div class="myrow" ng-show="insured == 0">
            <div class="mytd datos-persona-item">
                {{ form_label(form.insured.name) }}
            </div>
            <div class="mytd datos-persona-inputs">
                {{ form_widget(form.insured.name, {attr: {class: 'regular-input fill', 'data-value': form.insured.vars.value.name}}) }}
                <span class="icon-x"></span>
            </div>
        </div>
        <div class="myrow" ng-show="insured == 0">
            <div class="mytd datos-persona-item">
                {{ form_label(form.insured.lastname1) }}
            </div>
            <div class="mytd datos-persona-inputs">
                {{ form_widget(form.insured.lastname1, {attr: {class: 'regular-input fill', 'data-value': form.insured.vars.value.lastname1}}) }}
                <span class="icon-x"></span>
            </div>
        </div>
        <div class="myrow" ng-show="insured == 0">
            <div class="mytd datos-persona-item">
                {{ form_label(form.insured.lastname2) }}
            </div>
            <div class="mytd datos-persona-inputs">
                {{ form_widget(form.insured.lastname2, {attr: {class: 'regular-input fill', 'data-value': form.insured.vars.value.lastname2}}) }}
                <span class="icon-x"></span>
            </div>
        </div>
        <div class="myrow" ng-show="insured == 0">
            <div class="mytd datos-persona-item">
                {{ form_label(form.insured.code) }}
            </div>
            <div class="mytd datos-persona-inputs">
                {{ form_widget(form.insured.code, {attr: {class: 'regular-input fill rut', 'data-value': form.insured.vars.value.code}}) }}
                <span class="icon-x"></span>
            </div>
        </div>
        {% if form.insured.birthday.vars.valid %}
            <div class="myrow">
                <div class="mytd datos-persona-item">
                    {{ form_label(form.insured.birthday) }}
                </div>
                {{ form_widget(form.insured.birthday.day, {attr: {class: 'regular-select day','ng-click': 'edadToggle(plan.id)', 'data-value': form.insured.vars.value.birthday | date('d')}}) }}/
                {{ form_widget(form.insured.birthday.month, {attr: {class: 'regular-select month','ng-click': 'edadToggle(plan.id)', 'data-value': form.insured.vars.value.birthday | date('m') | number_format }}) }}/
                {{ form_widget(form.insured.birthday.year, {attr: {class: 'regular-select year','ng-click': 'edadToggle(plan.id)', 'data-value': form.insured.vars.value.birthday | date('Y') }}) }}
            </div>
        {% else %}
            <div class="myrow">
                <div class="mytd datos-persona-item">
                    {{ form_label(form.insured.birthday) }}
                </div>
                <div class="mytd datos-persona-item error">
                {{ form_widget(form.insured.birthday.day, {attr: {class: 'regular-select day','ng-click': 'edadToggle(plan.id)'}}) }}/
                {{ form_widget(form.insured.birthday.month, {attr: {class: 'regular-select month','ng-click': 'edadToggle(plan.id)'}}) }}/
                {{ form_widget(form.insured.birthday.year, {attr: {class: 'regular-select year','ng-click': 'edadToggle(plan.id)'}}) }}
                </div>
            </div>
        {% endif %}
        <div class="myrow">
            <div class="mytd datos-persona-item">
                {{ form_label(form.insured.address) }}
            </div>
            <div class="mytd datos-persona-inputs">
                {{ form_widget(form.insured.address, {attr: {class: 'regular-input', 'data-value': form.insured.vars.value.address}}) }}
                <span class="icon-x"></span>
            </div>
        </div>
        <div class="myrow">
            <div class="mytd datos-persona-item">
                {{ form_label(form.insured.addressState) }}
            </div>
            <div class="mytd datos-persona-inputs">
                {{ form_widget(form.insured.addressState, {attr: {class: 'regular-select'},placeholder :"Seleccione una comuna"}) }}
        
                <span class="icon-x"></span>
            </div>
        </div>
        <div class="myrow">

            <div class="mytd datos-persona-item">
                {{ form_label(form.insured.addressCity) }}
            </div>
            <div class="mytd datos-persona-inputs">
            <label class="mytd datos-persona-item" id="ciudad"></label>
                {{ form_widget(form.insured.addressCity, {attr: {class: 'regular-input', 'data-value': form.insured.vars.value.address}}) }}
                {{ form_errors(form.insured.addressCity) }}
                <span class="icon-x"></span>
            </div>
        </div>
        {#<div class="myrow">
            <div class="mytd datos-persona-item">
                {{ form_label(form.insured.addressPhone) }}
            </div>
            <div class="mytd datos-persona-inputs">
                {{ form_widget(form.insured.addressPhone, {attr: {class: 'regular-input cel'}}) }}
                <div class="help-phone" title="Región: Cod. región + número teléfono
                    RM      : 22 + número teléfonico
                    movil   : 9 + número movil">
                    ?
                </div>
                <span class="icon-x"></span>
            </div>
        </div>
        #}
        <div class="myrow">
            <div class="mytd datos-persona-item">
                {{ form_label(form.insured.addressCellphone) }}
            </div>
            <div class="mytd datos-persona-inputs">
                {{ form_widget(form.insured.addressCellphone, {attr: {class: 'regular-input cel', 'data-value': form.insured.vars.value.addressCellphone}}) }}
                <span class="icon-x"></span>
            </div>
        </div>
        <div class="myrow">
            <div class="mytd datos-persona-item">
                {{ form_label(form.insured.addressEmail) }}
            </div>
            <div class="mytd datos-persona-inputs">
                {{ form_widget(form.insured.addressEmail, {attr: {class: 'regular-input', 'data-value': form.insured.vars.value.addressEmail}}) }}

                <span class="icon-x"></span>

              {{ form_widget(form.price, {attr: {'ng-model': 'price' }}) }}
                {{ form_widget(form.pri) }}
             {{  form_widget(form.curso, {attr: {'ng-model': 'curso' }})}} 
             {{ form_widget(form.renta, {attr: {'ng-model': 'renta' }}) }}
              {{ form_widget(form.primaanual, {attr: {'ng-model': 'primaanual' }}) }}
            

            </div>
            <div>
    
</div>
        </div>
    </div>
    {% endif %}
    <hr>
</div>
