{{ include('partials/form/weight_height.html.twig') }}
{{ include('partials/form/disease.html.twig') }}
{{ include('partials/form/actividad_ejemplo.html.twig') }}
{{ include('partials/form/actividad_riesgo.html.twig') }}
{{ include('partials/form/deportes_riesgo.html.twig') }}
{{ include('partials/form/health_declaration_auth.html.twig') }}
