<div class="mytd box-asegurados">
    <select id="curso">
        {% for arreglocurso in arraycursos %}
            {% if arreglocurso.descurso!='' %} 
                <option class="obtener_curso" value="{{ arreglocurso.codcurso }}">{{ arreglocurso.descurso | upper }} </option>
            {% endif %}
        {% endfor %}
    </select> 
</div>