{% verbatim %}
    <div class="box-explains" id="target-message">
        Al incluir asegurados adicionales a su Seguro de Oncológico,
        aumentará el valor mensual de su prima.
    </div>
{% endverbatim %}