<div class="mytable cellpadding font-frutiger" ng-show="plan.cargasMax > 0">
	<div class="myrow">
		<div class="mytd block-mobile">
            <span class="valor-prima">
                {% block more_beneficiaries_question %}¿Deseas incluir asegurados adicionales?{% endblock %}
            </span>
        </div>
		<div class="mytd box-asegurados">
			<span class="menos-asegurados" ng-click="lessBeneficiary()">-</span>
			<input class="cantidad-asegurados" type="text" value="{% verbatim %}{{beneficiaries.length}}{% endverbatim %}">
			<span class="mas-asegurados" ng-click="moreBeneficiary()">+</span>
		</div>
	</div>
</div>
