<div class="mytable cellpadding font-frutiger beneficiaries-travel" ng-show="plan.cargasMax > 0">
    <div class="myrow ">
        <strong class="valor-prima">Agregar</strong>
        <span class=" box-asegurados">
            <span class="menos-asegurados" ng-click="lessBeneficiary()">-</span>
            <input class="cantidad-asegurados" type="text" disabled value="{% verbatim %} {{beneficiaries.length}}{% endverbatim %}">
        </span>
        <span class="text-strong" > de {% verbatim %} {{ (plan.cargasMax ) }}{% endverbatim %}</span>
        <span class=" box-asegurados">
            <span class="mas-asegurados" ng-click="moreBeneficiary()">+</span>
        </span>
        <span class="text-strong" > asegurados</span> 
    </div>
</div>