<div class="notice notice-information" ng-if="errorBeneficiary">
    <div class="flex">
        <div class="col-auto xs align-self-center pl-3">
            <span class="icon icon-info"></span>
        </div>
        <div class="col-11 xs align-self-center ">
            <p>Los <strong>asegurados adicionales</strong> pueden ser <strong>1 adulto mayor a 23 años </strong>y hasta <strong>3 menores de 23 años.</strong> 
            La <strong>edad máxima de asegurabilidad</strong> para adultos es de <strong>68 años 11 meses.</strong></p>
        </div>
    </div>
</div>