<div class="mytable cellpadding box-datos-persona box-si">
    <div class="myrow">
        <div class="mytd datos-persona-item">
            <label for="nombre">Nombre:</label>
        </div>
        <div class="mytd datos-persona-inputs">
            <span class="texto-final">{{ app.user.fullname }}</span>
        </div>
    </div>
    <div class="myrow">
        <div class="mytd datos-persona-item">
            <label>Rut:</label>
        </div>
        <div class="mytd datos-persona-inputs">
            <span class="texto-final">{{ app.user.code }}</span>
        </div>
    </div>
    <div class="myrow">
        <div class="mytd datos-persona-item">
            {{ form_label(form.birthday) }}
        </div>
        {{ form_widget(form.birthday.day, {attr: {'ng-click': 'planToggle(plan)'}}) }}/{{ form_widget(form.birthday.month, {attr: {'ng-click': 'planToggle(plan)'}}) }}/{{ form_widget(form.birthday.year, {attr: {'ng-click': 'planToggle(plan)'}}) }}
    </div>
    {{ form_row(form.address, {attr: {class: 'regular-input'}}) }}
    {{ form_row(form.addressState, {attr: {class: 'regular-select'}}) }}
    {{ form_row(form.addressCity, {attr: {class: 'regular-input'}}) }}
    {{ form_row(form.addressPhone, {attr: {class: 'regular-input cel'}}) }}
    {{ form_row(form.addressCellphone, {attr: {class: 'regular-input cel'}}) }}
    {{ form_row(form.addressEmail, {attr: {class: 'regular-input'}}) }}
</div>
