
<p class="text-black font-frutiger valor-prima" ng-show="insurance.price > 0">

    <strong >{% block price_title %}Valor prima mensual:{% endblock %}</strong>
    <strong class="text-red" ng-show="plan.id == valores.id " ng-repeat="valores in plans ">
      <!--  {% verbatim %}
            ${{ upPrice(insurance.price * uf) | number:0 }} (UF {{ insurance.price | number:2 }})
        {% endverbatim %}-->
        <!-- cantidad corresponde a la cantidad de cargas-->
        {% verbatim %}
        <label ng-show="prima > 0" >${{ (prima | number:0) +' (UF '+ (prima_uf | number:2) }})</label>
        <label ng-show="prima == 0 ">Lo sentimos no fue posible calcular la prima, intenta mas tarde</label>
        {% endverbatim %}
        <img ng-click="matriz()" src="{{ asset('img/assist/lupa-esta.jpg') }}">
    </strong>
   
</p>

