
<p class="text-black font-frutiger valor-prima" ng-show="insurance.price > 0">

    <strong >{% block price_title %}Valor prima mensual:{% endblock %}</strong>
    <strong class="text-red" ng-show="plan.id == valores.id " ng-repeat="valores in plans ">
 
        {% verbatim %}
			${{ prima | number:0 }} (UF {{ prima_uf | number:2 }})
		{% endverbatim %}
    </strong>
	<br>
    
</p>
