
<p class="text-black font-frutiger valor-prima" ng-show="insurance.price > 0">

    <strong >{% block price_title %}Valor prima mensual:{% endblock %}</strong>
    <strong class="text-red" ng-show="plan.id == valores.id " ng-repeat="valores in plans ">
      {#  {% verbatim %}
            ${{ upPrice(insurance.price * uf) | number:0 }} (UF {{ insurance.price | number:2 }})
        {% endverbatim %} #}
        {# cantidad corresponde a la cantidad de cargas #}
        {% verbatim %}
			${{ upPrice(valores.price *uf) | number:0 }} (UF {{ valores.price | number:2 }})
		{% endverbatim %}
    </strong>
</p>
