<!--<hr>
<p class="text-black font-frutiger valor-prima" ng-show="beneficiaries.length > 0">
    <strong>{% block price_beneficiaries_title %}{% endblock %}</strong>
    <strong class="text-red monthly">
        {% verbatim %}
            ${{ insurance.price  | number:0 }} (UF {{ insurance.price | number:2 }})
        {% endverbatim %}
    </strong>
</p>
<div class="box-explains">
    {% block price_beneficiaries_explains %}De acuerdo a la cantidad que agregue sea actualizará el precio de la prima mensual automáticamente.{% endblock %}
</div>-->
<p class="text-black font-frutiger valor-prima" ng-show="insurance.price > 0">

    <strong >{% block price_title %}Valor prima mensuals 2:{% endblock %}</strong>
    <strong class="text-red"  ng-repeat="valores in plans ">
      <!--  {% verbatim %}
            ${{ upPrice(insurance.price * uf) | number:0 }} (UF {{ insurance.price | number:2 }})
        {% endverbatim %}-->
        {% verbatim %}
			${{ planPrice }}
		{% endverbatim %}
    </strong>
	<br>
    <strong >{% block price_title2 %}Valor prima Anual 2:{% endblock %}</strong>
    <strong class="text-red" ng-show="dato == valores.id" ng-repeat="valores in plans ">
     {% verbatim %}
            ${{ upPrice(valores.price* uf)*12 | number:0 }} (UF {{ upPrice((valores.price* uf)*12)/uf | number:2 }} )
        {% endverbatim %}
     
    </strong>
</p>