
<p class="text-black font-frutiger valor-prima" ng-show="insurance.price > 0">

    <strong >{% block price_title %}Valor prima mensual:{% endblock %}</strong>
    <strong class="text-red" >
      <!--  {% verbatim %}
            ${{ upPrice(insurance.price * uf) | number:0 }} (UF {{ insurance.price | number:2 }})
        {% endverbatim %}-->
        <!-- cantidad corresponde a la cantidad de cargas-->
        {% verbatim %}
			${{ prima | number:0 }} (UF {{ prima_uf | number:2 }})
		{% endverbatim %}
    </strong>
</p>
