
<p class="text-black font-frutiger valor-prima">
    <strong >{% block price_title %}El Valor prima mensual:{% endblock %}</strong>
    <strong class="text-red" ng-show="plan.id == valores.id " ng-repeat="valores in plans ">
      <!--  {% verbatim %}
            ${{ upPrice(insurance.price * uf) | number:0 }} (UF {{ insurance.price | number:2 }})
        {% endverbatim %}-->
        <!-- cantidad corresponde a la cantidad de cargas-->
        {% verbatim %}
            ${{ prima | number:0 }} (UF {{ pri | number:2 }})
        {% endverbatim %}
    </strong>
</p>
