
<p width="100%" class="text-black font-frutiger valor-prima" ng-show="insurance.price > 0">

    <strong >{% block price_title %}Valor prima mensual:{% endblock %}</strong>
    <strong class="text-red" ng-show="plan.id == valores.id" ng-repeat="valores in plans ">
      <!--  {% verbatim %}
            ${{ upPrice(insurance.price * uf) | number:0 }} (UF {{ insurance.price | number:2 }})
        {% endverbatim %}-->
        <!-- cantidad corresponde a la cantidad de cargas-->
        {% verbatim %}
        <label ng-if="prima > 0" >${{ prima | number:0 }} (UF {{ prima_uf | number:2 }})</label>
        <label ng-if="prima == 0" >No es posible calcula la prima, Favor ingrese valores dentro de los rangos permitidos.</label>
		{% endverbatim %}
    </strong>
</p>
