<div class="myrow">
    <div class="mytd datos-persona-item">
        <label for="rut"><sup class="red">*</sup>Parentesco:</label>
    </div>
    <div class="mytd datos-persona-inputs">
        <div ng-controller="selectCtrl">
            <select
                class="referSelect regular-input"
                ng-change="selectRel(relacion,{%verbatim%}{{bid}}{%endverbatim%})"
                ng-model="relacion"
                required="required"
                ng-options="item as item.value for item in items track by item.value">
                <option value="" selected="selected">Seleccione Parentesco</option>
            </select>
        </div>
        {{ form_widget(form.vars.prototype.relationship , {attr : { persona : '{{bid}}' } })  | replace({'__name__': '{{bid}}'}) | raw}}
    </div>
</div>
