{{ include('::partials/form/activity_work.html.twig') }}
<div class="cont-box-actividad">
    <div class="text-actividad">
        <p class="bold-frutiger titulo">Selecciona el tipo de actividad o trabajo que se asemeje a lo que haces</p>
        <p class="hide-on-mobile">Desliza el mouse y selecciona tu rango</p>
    </div>
    <div class="select-actividad">
        <div class="box-actividad">
            <div class="actividad">
                <label for="kilogramos">
                    <img src="{{ asset('assets/img/icons/icon-peso.png') }}" alt="Kilogramos">
                    {{ form_widget(form.weight, {attr: {class: 'regular-input w70'}}) }} Kg.
                </label>
            </div>
            <div class="actividad">
                <label for="estatura">
                    <img src="{{ asset('assets/img/icons/icon-estatura.png') }}" alt="Estatura">
                    {{ form_widget(form.height, {attr: {class: 'regular-input w70'}}) }} Cms.
                </label>
            </div>
        </div>
    </div>
</div>
<p class="titulo">Declaración de deportes</p>
<p>Los siguientes deportes se encuentran excluidos como parte de la cobertura del seguro (Deportes Excluidos: Alpinismo y Andinismo;Carrera de Autos,Motos, Lanchas y Caballos, Buceo;Alas Delta y Parapente;Jeep Fun Race; Paracaidismo;Benji;Estudiante Piloto de Aviación;Rally.</p>
<div class="box-enfermedad">
    <p>
        <span class="block-mobile">¿Practicas o realizas algún otro tipo de deporte?</span>
        <label for="si-deporte"><input type="radio" ng-model="sport" id="si-deporte" class="check-mobile" value="si"> Si</label>
        <label for="no-deporte"><input type="radio" ng-model="sport" class="check-mobile" checked value="no"> No</label>
    </p>
    {{ form_widget(form.sport, {attr: {class: 'regular-input w60p', 'ng-show': "sport == 'si'", 'ng-init': "sport = 'no'"}}) }}
</div>
