{% verbatim %}
<div class="box-explains" id="target-message" ng-show=" edad  > target.start &&  edad  <  target.finish">
    De acuerdo a los datos proporcionados, usted se encuentra en el <strong>tramo de edad de {{target.start}} a {{target.finish}} años*</strong>. La prima se calculó automáticamente.
</div>
{% endverbatim %}
