<div class="mytable cellpadding box-coberturas" ng-show="(coverages | filter:filterCoverage).length > 0">
    <div class="myrow">
        <div class="mytd cobertura-item titulo">
            {% block coverage_title %}Seleccione su tarjeta de crédito{% endblock %}
        </div>
    </div>
    <div class="myrow"> 
     {#  {{ form_widget(form.credit_card) }} #}

        <select id="appbundle_fraud_credit_card" name="appbundle_fraud[credit_card]" class="full-select" required="required">
        {% for card in cards %}
            <option value="{{ card.cardNumber }}">{{ card.name | upper }} ******{{ card.cardNumber |slice(-4) }}</option>
        {% endfor %}
        </select>
    </div>
</div>