<div class="select-actividad">
    <div class="actividad">
        Indíquenos su peso y estatura <sup class="red">*</sup>
    </div>
    <div class="box-actividad">
        <div class="actividad col-6">
            <div class="box">
                <img src="{{ asset('assets/img/icons/icon-peso.png') }}" alt="Kilogramos">
            </div>
            <div class="box">
                {{ form_widget(form.questions.weight.answer, {attr: {class: 'regular-input w70 number peso', maxlength: 3}}) }}
                <label>Kg.</label>
            </div>
        </div>
        {{ form_widget(form.questions.weight.question) }}
        <div class="actividad col-6">
            <div class="box">
                <img src="{{ asset('assets/img/icons/icon-estatura.png') }}" alt="Estatura">
            </div>
            <div class="box">
                {{ form_widget(form.questions.height.answer, {attr: {class: 'regular-input w70 number estatura', maxlength: 3}}) }}
                <label>Cms.</label>
            </div>
        </div>
        {{ form_widget(form.questions.height.question) }}
    </div>
</div>
