{% block javascripts %}
    <script>
        var filtrof= {{ filtrof.JsonFiltro| json_encode | raw}}
    </script>
   
{% endblock %}

{% block body %}
<br>
 <div>
                    <h3>Filtro Familia</h3>
        </div>
  <div >  
    <div>
      <section  class="form-horizontal">   
        <fieldset   data-ng-repeat="opcionf in opcionesf track by $index">
          <div>
  	       <label  class="control-label col-sm-1"> Si:</label>
  	       	<div id="0"  class="col-sm-2">
              <select id="filtro_form_edo" name="filtro_form[edo]" class="form-control ng-pristine ng-valid" ng-model="opcionf.opt">
                <option value='' selected="disabled">--Seleccione una opcion--</option>   
                <option value="indiferente">Indiferente</option>
                {% for edo in edocivil %}
                  <option value="{{edo.value}}">{{ edo.Description }}</option>            
                {% endfor %}
              </select>
            </div>
            <div>
            <label for="nombre" class="control-label col-sm-1">Hijos:</label>
                     {# <div   class="col-sm-2">
                        <select id="filtro_form_edo" name="filtro_form[edo]" class="form-control ng-pristine ng-valid" ng-model="opcionf.simbhijos">  
                          {% for simbolo in simbolos %}
                            <option value="{{simbolo.id}}">{{ simbolo.simbolo }}</option>           
                          {% endfor %}
                        </select>
                      </div>#}
                    
            {# <div   class="col-sm-1">
              <input id="filtro_form_json_canthijos" name="filtro_form[canthijos]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opcionf.canthijos">
            </div>#}
            <div   class="col-sm-2">
              <select id="filtro_form_json_canthijos" name="filtro_form[canthijos]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number  col-sm-1 col-md-1" ng-model="opcionf.canthijos" >
                <option value="Indiferente">Indiferente</option>
                <option value="0">sin hijos</option>
                <option value="1">1 hijos</option>
                <option value="2">2 hijos</option>
                <option value="3">3 hijos</option>
                <option value="4">4 hijos</option>
                <option value="5">5 hijos</option>
                <option value="6">6 hijos</option>
                <option value="7">1 ó más hijos</option>
                <option value="8">2 ó más hijos</option>
                <option value="9">3 ó más hijos</option>
                <option value="Todos">Todos</option>     
              </select>
            </div>
            <label for="nombre" class="control-label col-sm-1" ng-hide="opcionf.canthijos == 'Indiferente'"> Edad:</label>
            <div class="col-sm-2" ng-hide="opcionf.canthijos == 'Indiferente'">
              <select id="filtro_form_edo" name="filtro_form[edo]" class="form-control ng-pristine ng-valid" ng-model="opcionf.simboloedad">  
                  <option value="indiferente">Indiferente</option>
                  {% for simbolo in simbolos %}
                    <option value="{{simbolo.id}}">{{ simbolo.simbolo }}</option>           
                  {% endfor %}
                </select>
            </div>
            <div class="col-sm-1">
              <div ng-show="4!=opcionf.simboloedad" ng-hide="opcionf.canthijos == 'Indiferente' || opcionf.simboloedad == 'indiferente'">
                <input id="filtro_form_json_canthijos" name="filtro_form[canthijos]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opcionf.edad">
              </div>
              <div ng-show="4==opcionf.simboloedad">
                <input id="filtro_form_json_canthijos" name="filtro_form[canthijos]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opcionf.edadin">
                <input id="filtro_form_json_canthijos" name="filtro_form[canthijos]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opcionf.edadsu">
              </div>
            </div>    
            </div>   
          </div>        
          <button class="remove" ng-show="$last" ng-click="removeFiltro(3)">Eliminar</button>    
	  	  </fieldset>
        <br>
        <button type="button" class="btn btn-lg btn-primary"  ng-click="addNewFiltro(3)">Añadir Condición </button>  
         <div id="c hoicesDisplay"> {% verbatim %} {{ opcionesf }}{% endverbatim %} </div>
   		  <div  class="col-sm-2">{{ form_widget(form.choicesjsonfamilia)}}</div> 
      </form>
	  </section>
    </div>
  </div>
  {% endblock %}
