{% block javascripts %}
    <script>
        var filtrof= {{ filtroI.JsonFiltro| json_encode | raw}}
    </script>
   
{% endblock %}

{% block body %}
    <div >  
        <div>
            <section  class="form-horizontal">   
        <fieldset   data-ng-repeat="opcionI in opcionesI track by $index">
       
        <div>
	         <label  class="control-label col-sm-1"> Si:</label>
	       	<div id=0  class="col-sm-2">
            <select id="filtro_form_edo" name="filtro_form[edo]" class="form-control ng-pristine ng-valid" ng-model="opcionf.opt">   
              {% for edo in edocivil %}
                <option value="{{edo.value}}">{{ edo.Description }}</option>            
              {% endfor %}
            </select>
          </div>
              <div>
                    <label for="nombre" class="control-label col-sm-1"> Cantidad de Hijos:</label>
                        <div   class="col-sm-2">
                          <select id="filtro_form_edo" name="filtro_form[edo]" class="form-control ng-pristine ng-valid" ng-model="opcionf.simbhijos">  
                            {% for simbolo in simbolos %}
                              <option value="{{simbolo.id}}">{{ simbolo.simbolo }}</option>           
                            {% endfor %}
                          </select>
                        </div>
                      
                        <div   class="col-sm-1">
                            <input id="filtro_form_json_canthijos" name="filtro_form[canthijos]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opcionf.canthijos">
                        </div>

                        <label for="nombre" class="control-label col-sm-1"> Edades de los Hijos:</label>
                        <div   class="col-sm-2">
                          <select id="filtro_form_edo" name="filtro_form[edo]" class="form-control ng-pristine ng-valid" ng-model="opcionf.simboloedad">  
                              {% for simbolo in simbolos %}
                                <option value="{{simbolo.id}}">{{ simbolo.simbolo }}</option>           
                              {% endfor %}
                            </select>
                        </div>
                       <div   class="col-sm-1">
                            <input id="filtro_form_json_canthijos" name="filtro_form[canthijos]"  class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opcionf.edad">
                        </div>    
  
                    </div>   
                     </div>        
                     <button class="remove" ng-show="$last" ng-click="removeFiltro(3)">Eliminar</button>    
	  	</fieldset>
      
 
     	<button type="button"  ng-click="addNewFiltro(3)">Añadir Condición </button>  
        <div id="c hoicesDisplay"> {% verbatim %} {{ opcionesf }}{% endverbatim %} </div>
   		<div  class="col-sm-2">
                        {{ form_widget(form.choicesjsonfamilia)}}
                                    
              </div>
        

       </form>


	</section>
       
    </div>
       </div>
{% endblock %}
