{% block javascripts %}
    <script>
        var tipo = {{ tipo | raw }}
        var filtro= {{ filtro.JsonFiltro| json_encode | raw}}  
    </script>
{% endblock %}

{% block body %}
<div class="row">  
    <br/>
    <section  class="form-horizontal">
    <fieldset  data-ng-repeat="opcion in opciones track by $index">
        <div>
            <label for="nombre" class="control-label col-sm-2"> Si:</label>
            <div class="col-sm-2">
                <select id="filtro_form_filtro" name="filtro_form[{% verbatim %}{{$index}}{% endverbatim %}][filtro]" class="form-control " ng-model="opcion.opt" ng-change="showSelectValue(opcion.opt,{% verbatim %}{{$index}}{% endverbatim %})" >    
                    {% for option in options %}      
                        <option value="{{option.valor}}">{{option.Nombre}}</option>           
                    {% endfor %}
                 </select>
            </div>
        </div>
        <div id=0 >
            <label for="nombre" class="control-label col-sm-2">es:</label>
            <div  ng-show="0==opcion.opt" class="col-sm-4" >
             
                        <select id="filtro_form_json_valor" name="filtro_form[{% verbatim %}{{$index}}{% endverbatim %}][valor]" class="form-control ng-pristine ng-valid" ng-model="opcion.valor">
                            <option value="M">Masculino</option> 
                            <option value="F">Femenino</option>
                            <option value="A">Ambos</option> 
                        </select>
          
            </div>  
        </div>
        <div id=1>
            <div  ng-show="1==opcion.opt" class="col-sm-4">
                <select id="filtro_form_simbolo" name="filtro_form[simbolo]" class="form-control ng-pristine ng-valid" ng-model="opcion.simbolo">    {% for simbolo in simbolos %}
                        <option value="{{simbolo.id}}">{{ simbolo.simbolo }}</option>            
                    {% endfor %}
                </select>           
            </div>
            <div  ng-show="1==opcion.opt" class="col-sm-2">
                
                <div ng-show="4!=opcion.simbolo">
                    <input id="filtro_form_json_edad" name="filtro_form[valor]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opcion.valor">
                </div>
                 <div ng-show="4==opcion.simbolo">
                    <input id="filtro_form_json_edad" name="filtro_form[valor]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opcion.valorin">
                     
                    <input id="filtro_form_json_edad" name="filtro_form[valor]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opcion.valorsu">
                </div>

            </div>
        </div>      
        <div id=2>
            <div  ng-show="2==opcion.opt" class="col-sm-2">
                <select id="filtro_form_valor" name="filtro_form[valor]" class="form-control ng-pristine ng-valid" ng-model="opcion.valor" >
                    {% for segmento in segmentos %}
                        <option value="{{segmento.id}}">{{ segmento.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>  
        <button class="remove" ng-show="$last" ng-click="removeFiltro(1)">Eliminar</button> 
    </fieldset>
</section>
</div>           
<button class="btn btn-lg btn-primary" type="button" ng-click="addNewFiltro(1)">Añadir Condición </button>
<code>	   
<div id="choicesFiltro"> {% verbatim %} {{opciones}}{% endverbatim %} </div>
<div  class="col-sm-2">{{ form_widget(form.choicesjson)}}</div></code>
   

{% endblock %}
