
{% extends "PlanificadorBundle::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
   
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/generico.js') }}"></script>
	
{% endblock %}

{% block body %}
	<div>
			<h3>Lista de filtros</h3>

			<section class=" row form-horizontal">
				<table class="table table-striped table-bordered table-hover table-condensed">
					<tr >
					   	<th>Id</th>
						<th>Pregunta</th>
						<th>Segmento</th>
						<th>Edad</th>
						<th>Sexo</th>

						<th class="td_icon">Editar</th>
						<th class="td_icon">Eliminar</th>		    
					</tr>
				  {% for filtro in filtros %}
					<tr >
					  	<td>{{ filtro.index}}</td>
					  	<td>{{ filtro.pregunta }}</td>
					  	<td>
					  	{% for segmento in filtro.Segmento %}
					  		<li>{{ segmento }}</li>
					  	{% endfor %}
					  	</td>
					  	<td>
					  	
					  	{% for edades in filtro.Edad %}
					  	<li>
					  	   {% for edad in edades %}
					  	   
					  		{{ edad }}
					  		
					  	   {% endfor %}
					  	    </li>
					  	  
					  	{% endfor %}

					  	</td>
					  	<td>
					  	{% for sexoid in filtro.Sexo %}
					  		<li>{{ sexoid }}</li>
					  	{% endfor %}
					  	</td>
					  	<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('filtro',{'id':filtro.index}) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i> </a ></td>
						<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('filtro_eliminar',{'id':filtro.index}) }}"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a ></td>
					</tr>
					</tr>
				{% endfor %}
				</table >

		</section>
	</div>
{% endblock %}


