{% block javascripts %}
    <script>
      
        var filtroC= {{ filtroC.JsonFiltro| json_encode | raw}}
        var totalC= {{ filtroC.JsonTotal| json_encode | raw}}
        var arrayvariables={{ arrayvariables| json_encode| raw}}
    </script>
   
{% endblock %}
{% block body %}

<div id='capital'> 
    <div class="row">
        <div class="col-lg-12">
                    <h3>Filtro Capital</h3>
        </div>
        <div class="col-xs-4 col-md-2">
                    <label for="nombre" class="control-label"> Capital:</label>
        </div>
        <div class="col-xs-4 col-md-2">  
                <select id="filtro_form_capital" name="filtro_form[capital]" class="form-control" ng-model="capital" ng-change="change()">  
                    {% for capital in capitales %} <option value="{{capital.id}}">{{ capital.nombre}} </option>{% endfor %}
                </select>
        </div>
        
        <div class="col-xs-4 col-md-2">     
                    <label for="nombre" class="control-label"> Formula:</label> 
        </div>
        <div class="col-xs-4 col-md-2">        
                    <code>
                        {% for capital in capitales %}
                            <label for="formula" ng-show='capital=={{capital.id}}' class="control-label">{{capital.value}}</label>
                        {% endfor %}
                    </code>
        </div>
    </div>
    <br/>
    <div class="row" data-ng-repeat="opcionC in opcionesC track by $index">
        <div class="col-xs-4 col-md-2"><label for="nombre" class="control-label"> Variable:</label>
        </div>
        <div class="col-xs-4 col-md-2">
            <div>
                        <select id="filtro_form_gastos" disabled=disabled name="filtro_form[gastos]" class="form-control ng-pristine ng-valid" ng-model="opcionC.variable">   
                            {% for arrayvariable in arrayvariables %}
                               <option ng-show='capital=={{arrayvariable.id}}' value="{{arrayvariable.variable}}"> {{arrayvariable.variable}}</option>
                            {% endfor %}
                        </select>
            </div>
        </div>
    
        <div class="col-xs-4 col-md-2">
                    <select id="filtro_form_preg" name="filtro_form[pregunta]" class="form-control" ng-model="opcionC.opt">                 
                        <option  value="1">Valor Constante</option> 
                        <option  value="2">Valor en Pregunta:</option>
                    </select>
        </div>
        <div ng-show="opcionC.opt==1" class="col-xs-4 col-md-2">
            
        </div>
        <div ng-show="opcionC.opt==2" class="col-xs-4 col-md-2">
            <select id="filtro_form_preg" name="filtro_form[pregunta]" class="form-control" ng-model="opcionC.pregunta">   
                {% for preg in preguntasCapital %}
                    <option  value="{{ preg.id }}">{{ preg.titulo }}</option>
                {% endfor %}
            </select>
        </div>
        <div ng-show="opcionC.opt==1" class="col-xs-4 col-md-2">
            <input id="filtro_form_valor" name="filtro_form[valor]" required="required" class="form-control" ng-model="opcionC.valor">
        </div>
         <div ng-show="opcionC.opt==2" class="col-xs-4 col-md-2">
            <select id="filtro_form_respuestas" name="filtro_form[respuesta]" class="form-control " ng-model="opcionC.respuestas">   
                {% for gasto in anterioresResp %}
                    <option ng-show="{{gasto.id}} == {% verbatim %}opcionC.pregunta{% endverbatim %}" value="{{gasto.idrespuesta}}">{{ gasto.titulo }}</option>            
                {% endfor %}
                </select>
        </div>
   </div>

   <div class="row"  data-ng-repeat="total in totalesC track by $index">
                <div class="col-xs-4 col-md-2">
                            
                </div>
             
                <div class="col-xs-4 col-md-2"> 
                    
                </div>
                <div class="col-xs-4 col-md-2">
                    <label for="nombre" class="control-label"> Total:</label>
                </div>
                <div class="col-xs-4 col-md-2">
                        <select id="filtro_form_simbolo" name="filtro_form[simbolo]" class="form-control ng-pristine ng-valid" ng-model="total.simbolototal" ng-change="changeTotal()">      
                            {% for simbolo in simbolos %}
                                <option value="{{simbolo.id}}">{{ simbolo.simbolo }}</option>            
                            {% endfor %}
                        </select>
                </div>
                <div class="col-xs-4 col-md-2">
                        <div ng-show="4!=total.simbolototal">
                            <input id="filtro_form_json_valor" name="filtro_form[valor]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="total.valortotal">
                        </div>
                        <div ng-show="4==total.simbolototal">
                            <input id="filtro_form_json_valori" name="filtro_form[valor]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="total.valorintotal">
                     
                            <input id="filtro_form_json_valorsu" name="filtro_form[valor]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="total.valorsutotal">
                        </div>
                        
                </div>
                <div  class="col-sm-2">
                    <button  lass="remove" ng-show="$last" ng-click="removeCapital()">Eliminar</button>    
                </div>
   </div>
    <code>     
        <div id="choicesFiltro"> {% verbatim %} {{opciones}}{% endverbatim %}</div>
        <div  class="col-sm-2">{{ form_widget(form.json_total)}}</div>
    </code>
   
    <code>     
        <div id="choicesFiltro"> {% verbatim %} {{opciones}}{% endverbatim %}</div>
        <div  class="col-sm-2">{{ form_widget(form.choicesjsonCapital)}}</div>
    </code>
</div>
{% endblock %}
