{% block javascripts %}
    <script>
        var filtrog= {{ filtrog.JsonFiltro| json_encode | raw}}
        console.log(filtrog);
    </script>
   
{% endblock %}

{% block body %}
    <br/>
    <div>
        <section  class="form-horizontal">
            <fieldset   data-ng-repeat="opciong in opcionesg track by $index">
                <div>
        	         <label for="nombre" class="control-label col-sm-1"> Si:</label>
        	      	
        	  	</div>
				<div id=0  class="col-sm-2">
                     <select id="filtro_form_gastos" name="filtro_form[gastos]" class="form-control ng-pristine ng-valid" ng-model="opciong.opt">   
                        {% for gasto in gastos %}
                            <option value="{{gasto.idrespuesta}}">{{ gasto.titulo }}</option>            
                        {% endfor %}
                    </select> 
                </div>
                <div id=1>
                    <div   class="col-sm-2">
                                <select id="filtro_form_simbolo" name="filtro_form[simbolo]" class="form-control ng-pristine ng-valid" ng-model="opciong.simbolo">            
                                 {% for simbolo in simbolos %}
                                <option value="{{simbolo.id}}">{{ simbolo.simbolo }}</option>            
                               {% endfor %}
                                </select>
                    </div>
                    <div id=1  class="col-sm-2">
                        <div ng-show="4!=opciong.simbolo">
                            <input id="filtro_form_json_edad" name="filtro_form[valor]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opciong.valor">
                        </div>
                        <div ng-show="4==opciong.simbolo">
                            <input id="filtro_form_json_edad" name="filtro_form[valor]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opciong.valorin">
                     
                            <input id="filtro_form_json_edad" name="filtro_form[valor]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opciong.valorsu">
                        </div>
                    </div>
                 <button class="remove" ng-show="$last" ng-click="removeFiltro(2)">Eliminar</button> 
            </fieldset> 
            <div id="choicesFiltro"> {% verbatim %} {{opcionesg}}{% endverbatim %} </div>
            
            <code>     
<div id="choicesFiltro"> {% verbatim %} {{opciones}}{% endverbatim %} </div>
<div  class="col-sm-2">{{ form_widget(form.choicesjsongastos)}}</div></code>
            <button class="btn btn-lg btn-primary" type="button"  ng-click="addNewFiltro(2)">Añadir Condición </button>   
        </section>  
    </div>              
	  	
   
    
{% endblock %}
