
{% extends "PlanificadorBundle::base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}
 
    <link rel="stylesheet" href="{{ asset('assets/css/planificador/jasny-bootstrap.min.css') }}">
     <link rel="stylesheet" href="{{ asset('assets/css/planificador/planificador.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/planificador/controller/filtro.js') }}"></script>
    <script src="{{ asset('assets/js/planificador/jasny-bootstrap.min.js') }}"></script>
    <script>
        var tipo = {{ tipo | raw }}
    </script>
   
{% endblock %}

{% block body %}
    <div >  
        <h3>Filtros</h3>
        <div>
            <section  class="form-horizontal">

   
   <form action="{{ app.request.requestUri }}" method="POST" {{ form_enctype(form) }} novalidate>
        <div class="form-group">
            <label for="nombre" class="control-label col-sm-2"> Pregunta:</label>
            <div class="col-sm-10">
                {{ form_widget(form.pregunta , { attr: {class: "form-control" }})}}
            </div>
        </div>
           
                <div >
                   <fieldset  data-ng-repeat="choice in choices track by $index">
                    <label for="nombre" class="control-label col-sm-2"> Si:</label>
                    <div class="col-sm-2 ">


                        <select id="filtro_form_filtro" name="filtro_form[{% verbatim %}{{$index}}{% endverbatim %}][filtro]" class="form-control " ng-model="choice.opt" ng-change="showSelectValue(choice.opt,{% verbatim %}{{$index}}{% endverbatim %})" >          
                            <option value="0">Sexo</option>           
                            <option value="1">Edad</option>           
                            <option value="2">Segmento</option>
                        </select>
                    </div>
                    <div id=0 >
                        <div ng-show="0 == choice.opt" class="col-sm-2" >
                                    
                                     {{ form_widget(form.json_sexo , { attr: {class: "form-control",'ng-model':'choice.sexo' }})}}
                        </div>
                    </div>
                    <div id=1>
                        <div ng-show="1 == choice.opt" class="col-sm-2">

                                    {{ form_widget(form.simbolo , { attr: {class: "form-control",'ng-model':'choice.simbolo' }})}}
                        </div>
                        <div ng-show="1 == choice.opt" class="col-sm-2">
                                    {{ form_widget(form.json_edad , { attr: {class: "form-control" ,'ng-model':'choice.edad'}})}}
                        </div>
                    
                    </div>
                      <div id=2>
                        <div ng-show="2 == choice.opt" class="col-sm-2">
                                    {{ form_widget(form.json_segmento , { attr: {class: "form-control" ,'ng-model':'choice.segmento'}})}}
                                    
                        </div>
                    
                    </div>


                      <button class="remove" ng-show="$last" ng-click="removeChoice()">Eliminar</button>
                   </fieldset>
                   <button class="btn btn-lg btn-primary" type="button"  ng-click="addNewChoice()">Añadir Condición </button>  
        <div id="c hoicesDisplay"> 
        {% verbatim %}    
            {{ choices }}
        {% endverbatim %}
        </div>
    </div>
          
         	 <div  class="col-sm-2">
                        {{ form_widget(form.choicesjson)}}
                                    
              </div>

        <div class="form-actions">
            <button type="submit" ng-click="saveChoice()" class="test btn btn-success">Enviar</button>

         </div>

         </form>


</section>
       
    </div>
{% endblock %}
