{% block javascripts %}
    <script>
        var filtroR= {{ filtroR.JsonFiltro| json_encode | raw}}
        var simbolos = {{ simbolos | json_encode | raw }}
        var tiporesp= 0; 
    </script>
   
{% endblock %}

{% block body %}
         <div>
                    <h3>Filtro Respuestas</h3>
        </div>
    <div>

        <section  class="form-horizontal">
            <fieldset   data-ng-repeat="opcionR in opcionesR track by $index">
                <div>
        	         <label for="nombre" class="control-label col-sm-1"> Si:</label>	
        	  	</div>
                <div id=0  class="col-sm-2">
                    <select id="filtro_form_preg_ant" name="filtro_form[pregunta]" class="filtro_form_preg_ant form-control ng-pristine ng-valid" ng-model="opcionR.pregunta">   
                        {% for preg in preguntasfiltro %}
                            <option  value="{{ preg.id }}" data-id="{% verbatim %}{{$index}}{% endverbatim %}" data-tipo="{{ preg.tipo.idtipo }}">{{ preg.titulo }}</option>            
                        {% endfor %}
                    </select>
                </div>
               	<div  class="col-sm-2">
                    <select id="filtro_form_respuestas" name="filtro_form[respuesta]" class="form-control ng-pristine ng-valid" ng-model="opcionR.respuestas">   
                        {% for gasto in anterioresResp %}
                            <option ng-show="{{gasto.id}} == {% verbatim %}opcionR.pregunta{% endverbatim %}" value="{{gasto.idrespuesta}}">{{ gasto.titulo }}</option>            
                        {% endfor %}
                        </select>
                </div>
                
                    <div >
                        <div  class="col-sm-2">
                            <select id="filtro_form_simbolo" name="filtro_form[simbolo]" class=" {% verbatim %}{{$index}}{% endverbatim %} form-control ng-pristine ng-valid" ng-model="opcionR.simbolo">            
                            {# inhabilitado ya que no es necesario para la pregunta de rango un '<' '<>' '=' con    que seleccione o no la opcion es suficiente se comporta como un seleccione#}
                            {#
                             {% for simbolo in simbolos %}
                                <option  class="simbolos{% verbatim %}{{$index}}{% endverbatim %}"  value="{{simbolo.id}}">{{ simbolo.simbolo }}</option>            
                            {% endfor %}
                            #}
                            {# fin inhabilitado #}
                                <option  class="seleccion{% verbatim %}{{$index}}{% endverbatim %}" value="1">Seleccionado</option>
                                <option  class="seleccion{% verbatim %}{{$index}}{% endverbatim %}"  value="0">No Seleccionado</option>
                            </select>
                        </div>
                        {# si los filtros tienen rango debe habilitarse #}
                        {#
                            <div  class="col-sm-2 simbolos{% verbatim %}{{$index}}{% endverbatim %}">
                                <div ng-show="4!=opcionR.simbolo">
                                    <input id="filtro_form_json_valor" name="filtro_form[valor]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opcionR.valor">
                                </div>
                                <div ng-show="4==opcionR.simbolo">
                                    <input id="filtro_form_json_valor" name="filtro_form[valor]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opcionR.valorin">
                                    <input id="filtro_form_json_valor" name="filtro_form[valor]" required="required" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-number" ng-model="opcionR.valorsu">
                                </div>
                            </div>
                            #}
                        {# fin inhabilitado #}
                    </div>
                     
                    <button class="remove" ng-show="$last" ng-click="removeFiltro(4)">Eliminar</button> 
            </fieldset> 
            <div id="choicesFiltro"> {% verbatim %} {{opcionesR}}{% endverbatim %} </div>
            <div  class="col-sm-2">{{ form_widget(form.choicesjsonrespuesta)}}    </div>
            <button type="button" class="btn btn-lg btn-primary" ng-click="addNewFiltro(4)">Añadir Condición </button>   
        </section>  
    </div>              
	  	
   
    
{% endblock %}
