<section  class="form-horizontal">
    <form  action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>
        <div id="step1">
            <div class="form-group">
                <label for="nombre" class="control-label col-sm-2"> Nombre:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.nombre , { attr: {class: "form-control" }})}}
                </div>

                <label for="nombre" class="control-label col-sm-2"> Visible:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.estado , { attr: {class: "form-control" }})}}
                </div>
            </div>

            <div class="form-group">
            <label for="nombre" class="control-label col-sm-2"> Imagen:</label>
            
            <div class="col-sm-4 fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                    {% if tipo > 0 %}
                    <img src="{{  asset('img/planificador/productos/')}}{{ img }}" alt="...">
                   
                    {% endif %}
                </div>
                <div>
                    <span class="btn btn-default btn-file">
                        <span class="fileinput-new">Seleccionar </span>
                        <span class="fileinput-exists">Cambiar</span>
                        {#{{ form_widget(form.imagen , { attr: {class: "form-control hidden" }} ) }} #}
                         <input id="Producto_form_imagen_file" type="file" name="Producto_form[imagen][file]">
                    </span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                </div>
            </div>
             <label for="nombre" class="control-label col-sm-2"> Segmento:</label>
                <div class="col-sm-4">
                    {{ form_widget(form.Segmentosplani , { attr: {class: "form-control" }})}}
                </div>
            </div>  
            

    		<div class="form-group ">
    			<label for="nombre" class="control-label col-sm-2"> Descripcion:</label>
    			<div class="col-sm-10">
        			{{ form_widget(form.descripcion , { attr: {class: "form-control" }})}}
        		</div>
        	</div>
            <div class="form-group ">
                <label for="nombre" class="control-label col-sm-2"> Cubre:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.cubre , { attr: {class: "form-control" }})}}
                </div>
            </div>
            <div class="form-group ">
                <label for="nombre" class="control-label col-sm-2"> No Cubre:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.nocubre , { attr: {class: "form-control" }})}}
                </div>
            </div>
            <div class="form-group ">
                <label for="nombre" class="control-label col-sm-2"> Informacion:</label>
                <div class="col-sm-10">
                    {{ form_widget(form.informacion , { attr: {class: "form-control" }})}}
                </div>
            </div>

        	<div class="form-group">
    			<label for="nombre" class="control-label col-sm-2"></label>
    			<div class="col-sm-10">
        			{{ form_widget(form.choicesjson , { attr: {class: "file form-control" }})}}
        		</div>
        	</div>
          
        </div>
       
        {% verbatim %}
            <div class="btn btn-lg btn-primary " type="button" ng-click="add()" name='registrar_momento'>Agrege Coberturas:</div>
            <hr>
                <section ng-repeat="cober in coberturas track by $index">
                    <div class="form-group">
                        <label for="nombre" class="control-label col-sm-2">Coberturas:</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" ng-model='cober.text'>
                        </div>
                        <div class="col-sm-2" ng-show="$last">
                            <label for="" ng-click="delete({{$index}})">eliminar</label>
                        </div>
                    </div>
                </section>
        {% endverbatim %}
            <hr>
            <div class="btn btn-warning btn-lg" type="button" ng-click="step()" name='registrar_momento'>volver</div>
            {% if tipo > 0 %}
                <input class="btn btn-primary  btn-lg" type="submit" name='registrar_momento' value="Actualizar" />
            {% else %}
                <input class="btn btn-success  btn-lg" type="submit" name='registrar_momento' value="Registrar" />
            {% endif %} 
            
    </form>
</section>
