{% extends "PlanificadorBundle::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
   
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/generico.js') }}"></script>

{% endblock %}
{% block body %}
<div>
{#<div id="buscar" class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-5">
	<div class="col-sm-10 float-right">
    	<input type="text" class="form-control" placeholder="Ingrese datos de busqueda">
    </div>
</div>#}
<h3>Lista de Productos</h3>
<section class=" row form-horizontal">
	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr><td colspan="3">Datos del Planificador</td><td colspan="3">Datos del Web2.0</td></tr>
		<tr >
			
		   	<th>Id</th>
			<th>Nombre</th>
			<th>Imagen</th>
			<th>Idrelacion</th>
			<th>Nombre</th>
			
			
			<th class="td_icon">Editar</th>
			<th class="td_icon">Eliminar</th>
		</tr>
	  {% for prod in productos %}
		<tr >
		  	<td>{{ prod.ID | raw }}</td>
			<td>{{ prod.NOMBRE | raw }}</td>
			<td>
			{% if prod.IMAGENTIPO %}
				<img src="{{  asset('img/planificador/productos/')}}{{prod.IMAGENTIPO}}" alt="" class="img-thumbnail imagenes" >
	

			{% endif %}
			</td>
			<td>{{ prod.IDWEB | raw }}</td>
			<td>{{ prod.NAME | raw }}</td>
			<td class="centrar_bot td_icon"> 
			{% if prod.ID!=null %} 
			<a class="fa_color" href="{{ path('productos',{'id':prod.ID}) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i> </a >
			{% else %}
			<a class="fa_color" href="{{ path('productosweb',{'web':prod.IDWEB}) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i> </a >
			{% endif %}
			</td>
			<td class="centrar_bot td_icon"><a class="fa_color" href="{# {{ path('productos_eliminar',{'id':prod.ID}) }} #}"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a></td>
		</tr>
	{% endfor %}
	</table >
</section>
</div>
{% endblock %}