{% extends "PlanificadorBundle::base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}
     <link rel="stylesheet" href="{{ asset('assets/css/planificador/jasny-bootstrap.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/planificador/controller/productos.js') }}"></script>
    <script src="{{ asset('assets/js/planificador/jasny-bootstrap.min.js') }}"></script>
    <script>
      var tipo = {{ tipo | raw }}
      var coberturas = {{ coberturas | json_encode | raw  }};
      
    </script>
{% endblock %}

{% block body %}
  <div >  
    <h3>Productos</h3>
    <div>
      {{ include('PlanificadorBundle:administrador:productos/form_productos.html.twig') }}
    </div>
    
  </div>
{% endblock %}