@charset "UTF-8";
/* base */
/*
  ===================== colores =================
*/
/*Grises*/
/*link*/
/* color activo box */
/*otros*/
/*
  ===================== Base =====================
*/
/*
  ===================== Base =====================
*/
/*
  ===================== font-weight ==============
*/
/*
  ===================== font-size =====================
*/
/*
  ===================== fin font-size =====================
*/
/*
  ===================== margenes =====================
*/
/*
  ===================== fin margenes =====================
*/
/*
  ===================== MEDIA =====================
*/
/*
  =====================     Mixin ================
*/
.str-offset-top-1 {
    margin-top: 10px !important;
}

.str-offsety-top-1 {
    margin-top: -10px !important;
}

.str-offset-left-1 {
    margin-left: 10px !important;
}

.str-offsety-left-1 {
    margin-left: -10px !important;
}

.str-offset-bottom-1 {
    margin-bottom: 10px !important;
}

.str-offsety-bottom-1 {
    margin-bottom: -10px !important;
}

.str-offset-right-1 {
    margin-right: 10px !important;
}

.str-offsety-right-1 {
    margin-right: -10px !important;
}

.str-offset-top-2 {
    margin-top: 20px !important;
}

.str-offsety-top-2 {
    margin-top: -20px !important;
}

.str-offset-left-2 {
    margin-left: 20px !important;
}

.str-offsety-left-2 {
    margin-left: -20px !important;
}

.str-offset-bottom-2 {
    margin-bottom: 20px !important;
}

.str-offsety-bottom-2 {
    margin-bottom: -20px !important;
}

.str-offset-right-2 {
    margin-right: 20px !important;
}

.str-offsety-right-2 {
    margin-right: -20px !important;
}

.str-offset-top-3 {
    margin-top: 30px !important;
}

.str-offsety-top-3 {
    margin-top: -30px !important;
}

.str-offset-left-3 {
    margin-left: 30px !important;
}

.str-offsety-left-3 {
    margin-left: -30px !important;
}

.str-offset-bottom-3 {
    margin-bottom: 30px !important;
}

.str-offsety-bottom-3 {
    margin-bottom: -30px !important;
}

.str-offset-right-3 {
    margin-right: 30px !important;
}

.str-offsety-right-3 {
    margin-right: -30px !important;
}

.str-offset-top-4 {
    margin-top: 40px !important;
}

.str-offsety-top-4 {
    margin-top: -40px !important;
}

.str-offset-left-4 {
    margin-left: 40px !important;
}

.str-offsety-left-4 {
    margin-left: -40px !important;
}

.str-offset-bottom-4 {
    margin-bottom: 40px !important;
}

.str-offsety-bottom-4 {
    margin-bottom: -40px !important;
}

.str-offset-right-4 {
    margin-right: 40px !important;
}

.str-offsety-right-4 {
    margin-right: -40px !important;
}

.str-offset-top-5 {
    margin-top: 50px !important;
}

.str-offsety-top-5 {
    margin-top: -50px !important;
}

.str-offset-left-5 {
    margin-left: 50px !important;
}

.str-offsety-left-5 {
    margin-left: -50px !important;
}

.str-offset-bottom-5 {
    margin-bottom: 50px !important;
}

.str-offsety-bottom-5 {
    margin-bottom: -50px !important;
}

.str-offset-right-5 {
    margin-right: 50px !important;
}

.str-offsety-right-5 {
    margin-right: -50px !important;
}

.str-offset-top-6 {
    margin-top: 60px !important;
}

.str-offsety-top-6 {
    margin-top: -60px !important;
}

.str-offset-left-6 {
    margin-left: 60px !important;
}

.str-offsety-left-6 {
    margin-left: -60px !important;
}

.str-offset-bottom-6 {
    margin-bottom: 60px !important;
}

.str-offsety-bottom-6 {
    margin-bottom: -60px !important;
}

.str-offset-right-6 {
    margin-right: 60px !important;
}

.str-offsety-right-6 {
    margin-right: -60px !important;
}

.str-offset-top-7 {
    margin-top: 70px !important;
}

.str-offsety-top-7 {
    margin-top: -70px !important;
}

.str-offset-left-7 {
    margin-left: 70px !important;
}

.str-offsety-left-7 {
    margin-left: -70px !important;
}

.str-offset-bottom-7 {
    margin-bottom: 70px !important;
}

.str-offsety-bottom-7 {
    margin-bottom: -70px !important;
}

.str-offset-right-7 {
    margin-right: 70px !important;
}

.str-offsety-right-7 {
    margin-right: -70px !important;
}

.str-offset-top-8 {
    margin-top: 80px !important;
}

.str-offsety-top-8 {
    margin-top: -80px !important;
}

.str-offset-left-8 {
    margin-left: 80px !important;
}

.str-offsety-left-8 {
    margin-left: -80px !important;
}

.str-offset-bottom-8 {
    margin-bottom: 80px !important;
}

.str-offsety-bottom-8 {
    margin-bottom: -80px !important;
}

.str-offset-right-8 {
    margin-right: 80px !important;
}

.str-offsety-right-8 {
    margin-right: -80px !important;
}

.str-offset-top-9 {
    margin-top: 90px !important;
}

.str-offsety-top-9 {
    margin-top: -90px !important;
}

.str-offset-left-9 {
    margin-left: 90px !important;
}

.str-offsety-left-9 {
    margin-left: -90px !important;
}

.str-offset-bottom-9 {
    margin-bottom: 90px !important;
}

.str-offsety-bottom-9 {
    margin-bottom: -90px !important;
}

.str-offset-right-9 {
    margin-right: 90px !important;
}

.str-offsety-right-9 {
    margin-right: -90px !important;
}

.str-offset-top-10 {
    margin-top: 100px !important;
}

.str-offsety-top-10 {
    margin-top: -100px !important;
}

.str-offset-left-10 {
    margin-left: 100px !important;
}

.str-offsety-left-10 {
    margin-left: -100px !important;
}

.str-offset-bottom-10 {
    margin-bottom: 100px !important;
}

.str-offsety-bottom-10 {
    margin-bottom: -100px !important;
}

.str-offset-right-10 {
    margin-right: 100px !important;
}

.str-offsety-right-10 {
    margin-right: -100px !important;
}

.str-offset-top-11 {
    margin-top: 110px !important;
}

.str-offsety-top-11 {
    margin-top: -110px !important;
}

.str-offset-left-11 {
    margin-left: 110px !important;
}

.str-offsety-left-11 {
    margin-left: -110px !important;
}

.str-offset-bottom-11 {
    margin-bottom: 110px !important;
}

.str-offsety-bottom-11 {
    margin-bottom: -110px !important;
}

.str-offset-right-11 {
    margin-right: 110px !important;
}

.str-offsety-right-11 {
    margin-right: -110px !important;
}

.str-offset-top-12 {
    margin-top: 120px !important;
}

.str-offsety-top-12 {
    margin-top: -120px !important;
}

.str-offset-left-12 {
    margin-left: 120px !important;
}

.str-offsety-left-12 {
    margin-left: -120px !important;
}

.str-offset-bottom-12 {
    margin-bottom: 120px !important;
}

.str-offsety-bottom-12 {
    margin-bottom: -120px !important;
}

.str-offset-right-12 {
    margin-right: 120px !important;
}

.str-offsety-right-12 {
    margin-right: -120px !important;
}

/*
  ===================== fin Mixin =====================
*/
* {
    padding: 0;
    margin: 0;
    outline: none !important;
    box-sizing: border-box;
}

li {
    list-style: none;
}

fieldset {
    border: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/*
  ===================== Typography Open sans  =====================
*/
@font-face {
    font-family: 'open_sanslight',  sans-serif;
    src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular',  sans-serif;
    src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold',  sans-serif;
    src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold', sans-serif;
    src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

/*
  =====================  Base =====================
*/
body {
    text-rendering: optimizeLegibility;
    color: #444444;
    font-weight: normal;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

/*
  =====================     Titulos =====================
*/
h1, .h1,
h2, .h2,
h3, .h3, .str-subtitle-page,
h4, .h4,
h5, .h5,
h6, .h6 {
    line-height: 120%;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

h1,
.h1 {
    font-size: 24px;
}

h2,
.h2 {
    font-size: 20px;
}

h3,
.h3 {
    font-size: 14px; /*Cambios solicitados 03-08-2017*/

    /*font-size: 14px;*/
}

.str-subtitle-page {
    font-size: 15px;
}

h4,
.h4 {
    font-size: 20px;
}

h5,
.h5 {
    font-size: 18px;
}

h6,
.h6 {
    font-size: 14px;
}

/* layout */
/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    /*transform: translate3d(0, 0, 0);*/
    transform: translate3d(0, -12px, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
}

.slick-track:before, .slick-track:after {
    content: "";
    display: table;
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}

[dir="rtl"] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* layout */
/*
  =====================  Container  =====================
*/
@media (max-width: 800px) {
    body {
        background-color: #F0F0F0;
    }
}

.str-container {
    width: 850px;
    max-width: 100%;
    margin: auto;
    /*
        === desktop ===
    */
    /*
        === desktop ===
    */
}

@media (min-width: 801px) {
    .str-container {
        margin-top: 10px;
        margin-bottom: 30px;
    }
    .str-container .str-inset {
        padding: 25px;
        border: 2px solid #DDDDDD;
        box-shadow: 0px 2px 4px 0px rgba(25, 25, 25, 0.2);
        border-radius: 2px;
    }
}

@media (max-width: 800px) {
    .str-container {
        padding-bottom: 20px;
        background-color: #F0F0F0;
    }
}

/* Gutter */
/* columnas */
/*.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: $var-gutter;
  padding-right: $var-gutter;
}

@media (max-width: $break-sm - 1) {
  .col-xs-12 + .col-xs-12 {
    margin-top: $margen * 2;
  }
}


@media (max-width: $break-md - 1) {
  .col-sm-12 + .col-sm-12 {
    margin-top: $margen * 2;
  }
}


@media (min-width: $break-sm) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: $var-gutter;
  padding-right: $var-gutter;
}*/
/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: $var-gutter;
  padding-right: $var-gutter;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: $var-12;
}
.col-xs-11 {
  width: $var-11;
}
.col-xs-10 {
  width: $var-10;
}
.col-xs-9 {
  width: $var-09;
}
.col-xs-8 {
  width: $var-08;
}
.col-xs-7 {
  width: $var-07;
}
.col-xs-6 {
  width: $var-06;
}
.col-xs-5 {
  width: $var-05;
}
.col-xs-4 {
  width: $var-04;
}
.col-xs-3 {
  width: $var-03;
}
.col-xs-2 {
  width: $var-02;
}
.col-xs-1 {
  width: $var-01;
}
.col-xs-pull-12 {
  right: $var-12;
}
.col-xs-pull-11 {
  right: $var-11;
}
.col-xs-pull-10 {
  right: $var-10;
}
.col-xs-pull-9 {
  right: $var-09;
}
.col-xs-pull-8 {
  right: $var-08;
}
.col-xs-pull-7 {
  right: $var-07;
}
.col-xs-pull-6 {
  right: $var-06;
}
.col-xs-pull-5 {
  right: $var-05;
}
.col-xs-pull-4 {
  right: $var-04;
}
.col-xs-pull-3 {
  right: $var-03;
}
.col-xs-pull-2 {
  right: $var-02;
}
.col-xs-pull-1 {
  right: $var-01;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: $var-12;
}
.col-xs-push-11 {
  left: $var-11;
}
.col-xs-push-10 {
  left: $var-10;
}
.col-xs-push-9 {
  left: $var-09;
}
.col-xs-push-8 {
  left: $var-08;
}
.col-xs-push-7 {
  left: $var-07;
}
.col-xs-push-6 {
  left: $var-06;
}
.col-xs-push-5 {
  left: $var-05;
}
.col-xs-push-4 {
  left: $var-04;
}
.col-xs-push-3 {
  left: $var-03;
}
.col-xs-push-2 {
  left: $var-02;
}
.col-xs-push-1 {
  left: $var-01;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: $var-12;
}
.col-xs-offset-11 {
  margin-left: $var-11;
}
.col-xs-offset-10 {
  margin-left: $var-10;
}
.col-xs-offset-9 {
  margin-left: $var-09;
}
.col-xs-offset-8 {
  margin-left: $var-08;
}
.col-xs-offset-7 {
  margin-left: $var-07;
}
.col-xs-offset-6 {
  margin-left: $var-06;
}
.col-xs-offset-5 {
  margin-left: $var-05;
}
.col-xs-offset-4 {
  margin-left: $var-04;
}
.col-xs-offset-3 {
  margin-left: $var-03;
}
.col-xs-offset-2 {
  margin-left: $var-02;
}
.col-xs-offset-1 {
  margin-left: $var-01;
}
.col-xs-offset-0 {
  margin-left: 0%;
}*/
/*@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: $var-12;
  }
  .col-sm-11 {
    width: $var-11;
  }
  .col-sm-10 {
    width: $var-10;
  }
  .col-sm-9 {
    width: $var-09;
  }
  .col-sm-8 {
    width: $var-08;
  }
  .col-sm-7 {
    width: $var-07;
  }
  .col-sm-6 {
    width: $var-06;
  }
  .col-sm-5 {
    width: $var-05;
  }
  .col-sm-4 {
    width: $var-04;
  }
  .col-sm-3 {
    width: $var-03;
  }
  .col-sm-2 {
    width: $var-02;
  }
  .col-sm-1 {
    width: $var-01;
  }
  .col-sm-pull-12 {
    right: $var-12;
  }
  .col-sm-pull-11 {
    right: $var-11;
  }
  .col-sm-pull-10 {
    right: $var-10;
  }
  .col-sm-pull-9 {
    right: $var-09;
  }
  .col-sm-pull-8 {
    right: $var-08;
  }
  .col-sm-pull-7 {
    right: $var-07;
  }
  .col-sm-pull-6 {
    right: $var-06;
  }
  .col-sm-pull-5 {
    right: $var-05;
  }
  .col-sm-pull-4 {
    right: $var-04;
  }
  .col-sm-pull-3 {
    right: $var-03;
  }
  .col-sm-pull-2 {
    right: $var-02;
  }
  .col-sm-pull-1 {
    right: $var-01;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: $var-12;
  }
  .col-sm-push-11 {
    left: $var-11;
  }
  .col-sm-push-10 {
    left: $var-10;
  }
  .col-sm-push-9 {
    left: $var-09;
  }
  .col-sm-push-8 {
    left: $var-08;
  }
  .col-sm-push-7 {
    left: $var-07;
  }
  .col-sm-push-6 {
    left: $var-06;
  }
  .col-sm-push-5 {
    left: $var-05;
  }
  .col-sm-push-4 {
    left: $var-04;
  }
  .col-sm-push-3 {
    left: $var-03;
  }
  .col-sm-push-2 {
    left: $var-02;
  }
  .col-sm-push-1 {
    left: $var-01;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: $var-12;
  }
  .col-sm-offset-11 {
    margin-left: $var-11;
  }
  .col-sm-offset-10 {
    margin-left: $var-10;
  }
  .col-sm-offset-9 {
    margin-left: $var-09;
  }
  .col-sm-offset-8 {
    margin-left: $var-08;
  }
  .col-sm-offset-7 {
    margin-left: $var-07;
  }
  .col-sm-offset-6 {
    margin-left: $var-06;
  }
  .col-sm-offset-5 {
    margin-left: $var-05;
  }
  .col-sm-offset-4 {
    margin-left: $var-04;
  }
  .col-sm-offset-3 {
    margin-left: $var-03;
  }
  .col-sm-offset-2 {
    margin-left: $var-02;
  }
  .col-sm-offset-1 {
    margin-left: $var-01;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}*/
@media (min-width: 801px) {
    .row {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 0 !important;
    }
    .row:after {
        content: " ";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
    .col-md-1, .col-md-2, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
        float: left;
        position: relative;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .center {text-align: center;}
    .col-md-3{
        display: inline-block;
        position: relative;
        min-height: 1px;
        padding-left: 10px;
        padding-right: 10px;
        width: 24.6% !important;
    }
    .col-md-12 {
        width: 100%;
    }
    .col-md-11 {
        width: 91.66667%;
    }
    .col-md-10 {
        width: 83.33333%;
    }
    .col-md-9 {
        width: 75%;
    }
    .col-md-8 {
        width: 66.66667%;
    }
    .col-md-7 {
        width: 58.33333%;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-5 {
        width: 41.66667%;
    }
    .col-md-4 {
        width: 33.33333%;
    }
    .col-md-3 {
        width: 25%;
    }
    .col-md-2 {
        width: 16.66667%;
    }
    .col-md-1 {
        width: 8.33333%;
    }
    .col-md-pull-12 {
        right: 100%;
    }
    .col-md-pull-11 {
        right: 91.66667%;
    }
    .col-md-pull-10 {
        right: 83.33333%;
    }
    .col-md-pull-9 {
        right: 75%;
    }
    .col-md-pull-8 {
        right: 66.66667%;
    }
    .col-md-pull-7 {
        right: 58.33333%;
    }
    .col-md-pull-6 {
        right: 50%;
    }
    .col-md-pull-5 {
        right: 41.66667%;
    }
    .col-md-pull-4 {
        right: 33.33333%;
    }
    .col-md-pull-3 {
        right: 25%;
    }
    .col-md-pull-2 {
        right: 16.66667%;
    }
    .col-md-pull-1 {
        right: 8.33333%;
    }
    .col-md-pull-0 {
        right: auto;
    }
    .col-md-push-12 {
        left: 100%;
    }
    .col-md-push-11 {
        left: 91.66667%;
    }
    .col-md-push-10 {
        left: 83.33333%;
    }
    .col-md-push-9 {
        left: 75%;
    }
    .col-md-push-8 {
        left: 66.66667%;
    }
    .col-md-push-7 {
        left: 58.33333%;
    }
    .col-md-push-6 {
        left: 50%;
    }
    .col-md-push-5 {
        left: 41.66667%;
    }
    .col-md-push-4 {
        left: 33.33333%;
    }
    .col-md-push-3 {
        left: 25%;
    }
    .col-md-push-2 {
        left: 16.66667%;
    }
    .col-md-push-1 {
        left: 8.33333%;
    }
    .col-md-push-0 {
        left: auto;
    }
    .col-md-offset-12 {
        margin-left: 100%;
    }
    .col-md-offset-11 {
        margin-left: 91.66667%;
    }
    .col-md-offset-10 {
        margin-left: 83.33333%;
    }
    .col-md-offset-9 {
        margin-left: 75%;
    }
    .col-md-offset-8 {
        margin-left: 66.66667%;
    }
    .col-md-offset-7 {
        margin-left: 58.33333%;
    }
    .col-md-offset-6 {
        margin-left: 50%;
    }
    .col-md-offset-5 {
        margin-left: 41.66667%;
    }
    .col-md-offset-4 {
        margin-left: 33.33333%;
    }
    .col-md-offset-3 {
        margin-left: 25%;
    }
    .col-md-offset-2 {
        margin-left: 16.66667%;
    }
    .col-md-offset-1 {
        margin-left: 8.33333%;
    }
    .col-md-offset-0 {
        margin-left: 0%;
    }
}

/*@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: $var-12;
  }
  .col-lg-11 {
    width: $var-11;
  }
  .col-lg-10 {
    width: $var-10;
  }
  .col-lg-9 {
    width: $var-09;
  }
  .col-lg-8 {
    width: $var-08;
  }
  .col-lg-7 {
    width: $var-07;
  }
  .col-lg-6 {
    width: $var-06;
  }
  .col-lg-5 {
    width: $var-05;
  }
  .col-lg-4 {
    width: $var-04;
  }
  .col-lg-3 {
    width: $var-03;
  }
  .col-lg-2 {
    width: $var-02;
  }
  .col-lg-1 {
    width: $var-01;
  }
  .col-lg-pull-12 {
    right: $var-12;
  }
  .col-lg-pull-11 {
    right: $var-11;
  }
  .col-lg-pull-10 {
    right: $var-10;
  }
  .col-lg-pull-9 {
    right: $var-09;
  }
  .col-lg-pull-8 {
    right: $var-08;
  }
  .col-lg-pull-7 {
    right: $var-07;
  }
  .col-lg-pull-6 {
    right: $var-06;
  }
  .col-lg-pull-5 {
    right: $var-05;
  }
  .col-lg-pull-4 {
    right: $var-04;
  }
  .col-lg-pull-3 {
    right: $var-03;
  }
  .col-lg-pull-2 {
    right: $var-02;
  }
  .col-lg-pull-1 {
    right: $var-01;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: $var-12;
  }
  .col-lg-push-11 {
    left: $var-11;
  }
  .col-lg-push-10 {
    left: $var-10;
  }
  .col-lg-push-9 {
    left: $var-09;
  }
  .col-lg-push-8 {
    left: $var-08;
  }
  .col-lg-push-7 {
    left: $var-07;
  }
  .col-lg-push-6 {
    left: $var-06;
  }
  .col-lg-push-5 {
    left: $var-05;
  }
  .col-lg-push-4 {
    left: $var-04;
  }
  .col-lg-push-3 {
    left: $var-03;
  }
  .col-lg-push-2 {
    left: $var-02;
  }
  .col-lg-push-1 {
    left: $var-01;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: $var-12;
  }
  .col-lg-offset-11 {
    margin-left: $var-11;
  }
  .col-lg-offset-10 {
    margin-left: $var-10;
  }
  .col-lg-offset-9 {
    margin-left: $var-09;
  }
  .col-lg-offset-8 {
    margin-left: $var-08;
  }
  .col-lg-offset-7 {
    margin-left: $var-07;
  }
  .col-lg-offset-6 {
    margin-left: $var-06;
  }
  .col-lg-offset-5 {
    margin-left: $var-05;
  }
  .col-lg-offset-4 {
    margin-left: $var-04;
  }
  .col-lg-offset-3 {
    margin-left: $var-03;
  }
  .col-lg-offset-2 {
    margin-left: $var-02;
  }
  .col-lg-offset-1 {
    margin-left: $var-01;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}*/
/*@media (min-width: 992px) {
  .row-5 {
    [class*="col-"] {
      width: 20%;
    }
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .row-5 {
    .box-fondo {
      margin-bottom: 20px;
    }
  }
}
*/
/*
  modificacion row gutter
*/
.row.gutter-min {
    margin-left: -5px;
    margin-right: -5px;
}

.row.gutter-min [class*="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

/* helpers */
/*
  =====================  Container  =====================
*/
.hidden {
    display: none !important;
}

.semi-bold {
    font-weight: 600 !important;
}

.semi-light {
    font-weight: 300 !important;
}

.str-color-primary {
    color: #CC0000 !important;
}

.thumbs-center {
    text-align: center;
}

.thumbs-center img {
    margin: auto;
}

img {
    border: 0;
}

.str-content-circle {
    position: relative;
    padding-top: 50px !important;
    margin-top: 50px !important;
}

.str-circle-success,
.str-circle-error {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #F0F0F0;
    font-size: 25px;
    color: white;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.str-circle-success i,
.str-circle-error i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.str-circle-success {
    background-color: #ABC111;
}

.str-circle-error {
    background-color: #CC0000;
}

.str-list-check li .str-icons-li,
.str-list-check li .str-text-li {
    display: inline-block;
    vertical-align: top;
}

.str-list-check li .str-icons-li {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    /*top: 4px;*/
    background-color: #ABC111;
}

.str-list-check li .str-icons-li i {
    font-size: 9px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.str-list-check li .str-text-li {
    /*max-width: calc(100% - 33px);*/ /*Solicitud cambios 03-08-2017*/
}

.str-list-check li + li {
    margin-top: 8px;
}

.str-list-bullet li:before {
    content: '';
    border-radius: 50%;
    position: relative;
    top: 5px;
    background-color: #CC0000;
}

.str-list-bullet ul li {list-style: circle;margin-left: 17px;list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAIAAABvrngfAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA/SURBVBhXY/j1/PndsLDz/PxABGQAuQx3goLOMDDAEZDLAJREFgJysQndjYhAFgJywcaHhl4QFwciIOPX8+cAx0ErpacvWMQAAAAASUVORK5CYII=');}

.str-list-bullet li:before,
.str-list-bullet li span {
    display: inline-block;
    vertical-align: top;
}

.str-list-bullet li span {
    padding-left: 10px;
    max-width: calc(100% - 16px);
}

.str-size-active {
    text-align: center;
}

/*
  === desktop ===
*/
@media (min-width: 801px) {
    .show-mobile {
        display: none !important;
    }
}

/*
  === desktop ===
*/
@media (max-width: 800px) {
    .hidden-mobile {
        display: none !important;
    }
    .str-shadow-mobile {
        background: #FFFFFF;
        border: 2px solid #DDDDDD;
        box-shadow: 0px 8px 10px 0px rgba(25, 25, 25, 0.2);
        border-radius: 2px;
        margin: 10px;
        padding: 20px;
    }
}

.str {
    /*
      ===  box  ===
    */
    /*loading*/
    /*fin loading*/
    /*
      ===  /box  ===
    */
}

.str-head-page {
    text-align: center;
}

.str-title-page {
    color: #CC0000;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 400;
    font-family:"Open Sans", sans-serif; /*Solititud cambios 3/08/2017*/
}

.str-title-page2 {
    color: #EC0000;
    padding-left: 11px;
    padding-right: 20px;
    font-weight: 400;
    font-family:"Open Sans", sans-serif; /*Solititud cambios 3/08/2017*/
}

.str-subtitle-page {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    color: #444444;
    font-weight: 400;
}

.str-body-page {
    overflow: hidden;
}

.str-box {
    display: block;
    /* display: table-caption;*/
    text-decoration: none;
    border: 2px solid #DDD;
    border-radius: 4px;
    text-align: center;
    padding: 11px;
    color: #444444;
    background-color: white;
    transition: all ease-in-out 0.5s;

    /*
        === desktop ===
    */
    /*
        === mobile ===
    */
}

@media (min-width: 600px) and (max-width: 800px) {
    .str-box {
        margin: 20px;
    }
}

@media (max-width: 599px) {
    .str-box {
        margin: 20px 10px;
    }
}

.str-box .str-circle {
    transition: transform ease 0.6s;
    display: inline-block;
    margin: auto;
    position: relative;
}

.str-box .str-circle:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transition: background ease-in-out 0.6s;
}

.str-box .str-circle i {
    position: relative;
    z-index: 10;
}

.str-box .str-thumbs {
    margin-bottom: 10px;
}

.str-box .str-thumbs img {
    display: inline-block;
}

.str-box-active {
    border-color: #ABC111 !important;
}

.str-box-active:hover {
    box-shadow: none;
}

.str-box-active .str-circle:after {
    color: white;
    background-color: #ABC111;
    border-color: #ABC111 !important;
}

.str-box-active .str-circle i {
    color: white;
}

.str-box-error {
    border-color: #CC0000 !important;
}

@media (min-width: 801px) {
    .str-box {
        margin-bottom: 7px;
    }
    .str-box .str-circle {
        width: 35px;
        height: 35px;
        margin-top: 10px;
    }
    .str-box .str-circle:after {
        width: 31px;
        height: 31px;
        border: 2px dashed #aaaaaa;
    }
    .str-box .str-circle i {
        font-size: 14px;
        line-height: 35px;
    }
    .str-box .str-thumbs img {
        width: 112px;
        height: 103px;
    }
    .str-box:hover {
        box-shadow: 0px 10px 10px 0px rgba(25, 25, 25, 0.2);
        cursor: pointer;
    }
    .str-box:hover .str-circle:after {
        animation: spinAround 3s linear infinite;
    }
    .str-box.str-box-order .str-title-box {
        min-height: 64px;
        /*min-height: 45px; 53px segunda opcion*/
        /*min-height: 72px; /*37 originalmente*/
    }
    .str-box.str-shadow.str-box-min, .slick-center .str-box.str-box-min {
        min-height: 290px;
    }
}

@media (max-width: 800px) {
    .str-box {
        min-height: 430px;
        /*&.no-order {
            .str-title-box {
              order: 1;
              font-size: $font-size-h2;
              font-weight: $font-weight-normal;
            }
          }*/
    }
    .str-box.str-box-order {
        display: flex;
        justify-content: center;
        flex-flow: column;
    }
    .str-box.str-box-order .str-title-box {
        order: 1;
        min-height: 70px;
        font-size: 20px;
        font-weight: 400;
    }
    .str-box.str-box-order .str-thumbs {
        order: 2;
    }
    .str-box.str-box-order .str-circle {
        order: 3;
        width: 60px;
        height: 60px;
    }
    .str-box.str-box-order .str-circle:after {
        width: 56px;
        height: 56px;
        border: 2px dashed #aaaaaa;
    }
    .str-box.str-box-order .str-circle i {
        font-size: 24px;
        line-height: 60px;
    }
    .str-box.str-box-min .str-title-box {
        padding-bottom: 10px;
        font-size: 20px;
    }
}

.str-box-check {
    /*
        === desktop ===
    */
    /*
        === mobile ===
    */
}zz

.str-box-check .str-title-box {
    font-size: 14px;
    min-height: 35px;
}

.str-box-check .str-right {
    text-align: left;
}

.str-box-check .str-custom-checkbox .str-custom-checkbox2 {
    margin-top: 20px;
}

.str-box-check .str-input-box {
    position: relative;
}

.str-box-check .str-input-box .str-icon-check2 {
    position: absolute;
    top: 50%;
    right: -20px;
    font-size: 17px;
    opacity: 0;
    transition: 500ms ease;
    transform: translate3d(0, -50%, 0);
    color: #ABC111;
}

.str-box-check.str-box-active .str-input-box .str-icon-check2 {
    opacity: 1;
    right: 0px;
}

.str-box-check.str-box-active .str-input-box .str-input {
    border-bottom-color: #ABC111;
}

@media (min-width: 801px) {
    .str-box-check {
        margin-bottom: 20px;
        overflow: hidden;
    }
    .str-box-check .str-left,
    .str-box-check .str-right {
        float: left;
    }
    .str-box-check .str-left {
        width: 112px;
        margin-right: 40px;
    }
    .str-box-check .str-right {
        width: calc(100% - (122px + 40px));
    }
}

@media (max-width: 800px) {
    .str-box-check .str-title-box {
        font-size: 20px;
    }
    .str-box-check .str-custom-checkbox {
        text-align: center;
    }
    .str-box-check .str-custom-checkbox2 {
        text-align: center;
    }
}

.str-footer-btn {
    /*background-color: #FAFAFA;*/
    padding: 8px;
    margin-top: 20px;
    /*
        === desktop ===
    */
    /*
        === mobile ===
    */
}

@media (min-width: 801px) {
    .str-footer-btn {
        display: table;
        width: 100%;
    }
    .str-footer-btn .str-left,
    .str-footer-btn .str-right {
        display: table-cell;
        width: 45%;
        vertical-align: middle;
    }
    .str-footer-btn .str-right {
        text-align: right;
    }
}

@media (max-width: 800px) {
    .str-footer-btn {
        display: flex;
        flex-flow: column;
        text-align: center;
        justify-content: center;
    }
    .str-footer-btn .str-left {
        order: 2;
        /*margin-top: 20px;*/
        margin-top: 29px;
    }
    .str-footer-btn .str-right {
        order: 1;
    }
    .str-footer-btn .str-btn,
    .str-footer-btn .str-btn-border {
        display: block;
        width: 100%;
    }
    .str-footer-btn.str-footer-center .str-left,
    .str-footer-btn.str-footer-center .str-center,
    .str-footer-btn.str-footer-center .str-right {
        width: 100%;
    }
    .str-footer-btn.str-footer-center .str-right {
        order: 1;
    }
    .str-footer-btn.str-footer-center .str-left {
        order: 3;
        margin-bottom: 20px;
    }
    .str-footer-btn.str-footer-center .str-center {
        /*margin-top: 20px;*/
        margin-top: 15px;
        order: 2;
    }
}

.str-footer-center .str-center {
    display: table-cell;
}

.str-footer-center .str-left,
.str-footer-center .str-center,
.str-footer-center .str-right {
    width: 33.333%;
}

.str-loader-content {
    position: relative;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, 0, 0);
}

.str-loader-content span {
    color: #ec0000;
    font-size: 30px;
    left: 25px;
    position: absolute;
    top: 25px;
}

.str-loader-content .loading {
    animation-duration: 1.5s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name: loader;
}

@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes uil-ring-anim {
    .str-loader-content 0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .str-loader-content 100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes uil-ring-anim {
    0% {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.str-loader-content .uil-ring-css {
    background: none;
    position: relative;
}

.str-loader-content .uil-ring-css > div {
    position: absolute;
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    box-shadow: 0 2px 0 0 #ec0000;
    -ms-animation: uil-ring-anim 1s linear infinite;
    -moz-animation: uil-ring-anim 1s linear infinite;
    -webkit-animation: uil-ring-anim 1s linear infinite;
    -o-animation: uil-ring-anim 1s linear infinite;
    animation: uil-ring-anim 1s linear infinite;
}

.str-loader-content .brown .uil-ring-css > div {
    box-shadow: 0 2px 0 0 #fff;
}

.str-loader-content .uil-ring-css > div:before {
    content: "";
}

@keyframes loader {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.str-info-column .str-left {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.str-info-column .str-left,
.str-info-column .str-right {
    display: inline-block;
    vertical-align: middle;
}

.str-info-column .str-right {
    text-align: left;
    width: calc(100% - 64px);
}

.str-info-column .str-right p {
    font-size: 15px;
    font-weight: 100;
}

.str-info-column .circle-info {
    border: 1px solid #00B3BC;
    color: #00B3BC;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.str-info-column .circle-info span {
    display: block;
}

.str-info-column .circle-info .min-text {
    position: relative;
    margin-top: 4px;
    font-size: 10px;
}

.str-info-column .circle-info .max-text {
    line-height: 20px;
    font-size: 20px;
}

.str-info-column + .str-info-column {
    margin-top: 20px;
}

.str-shadow, .slick-center .str-box {
    box-shadow: 0px 15px 15px 0px rgba(25, 25, 25, 0.2);
}

.str-collapse-seguro {
    border: 1px solid #DDD;
    background-color: white;
}

.str-collapse-seguro .str-collapse-head {
    display: table;
    width: 100%;
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
    position: relative;
}

.str-collapse-seguro .str-collapse-head .str-custom-checkbox,
.str-collapse-seguro .str-collapse-head .str-icons,
.str-collapse-seguro .str-collapse-head .str-info-seguro,
.str-collapse-seguro .str-collapse-head .str-monto-seguro,
.str-collapse-seguro .str-collapse-head .str-info-li,
.str-collapse-seguro .str-collapse-head .str-event-collapse .str-custom-checkbox2{
    display: inline-block;
    vertical-align: middle;
}

.str-collapse-seguro .str-collapse-head .str-icons {
    margin-right: 20px;
}

.str-collapse-seguro .str-collapse-head .str-icons img {
    width: 87px;
    height: auto;
}

.str-collapse-seguro .str-collapse-head .str-info-seguro {
    width: 217px;
}

.str-collapse-seguro .str-collapse-head .str-info-seguro h3 {
    font-weight: 600;
}

.str-collapse-seguro .str-collapse-head .str-info-seguro p {
    font-weight: 100;
    margin-top: 7px;
}

.str-collapse-seguro .str-collapse-head .str-info-li {
    max-width: 180px;
}

.str-collapse-seguro .str-collapse-head .str-monto-seguro {
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 40px;
    border-left: 1px solid #DDD;
}

.str-collapse-seguro .str-collapse-head .str-monto-seguro .str-monto {
    font-size: 28px;
    font-weight: 600;
    color: #ABC111;
}

.str-collapse-seguro .str-collapse-head .str-monto-seguro .str-mensual {
    display: block;
    font-weight: 100;
}

.str-collapse-seguro .str-collapse-head .str-event-collapse {
    position: absolute;
    top: 50%;
    right: 20px;
    width: 20px;
    height: 20px;
    transform: translate3d(0, -50%, 0);
    text-decoration: none;
}

.str-collapse-seguro .str-collapse-head .str-event-collapse i {
    color: #CC0000;
    font-size: 13px;
    transition: 600ms ease transform;
}

.str-collapse-seguro .str-collapse-head .str-event-collapse.is-active i:before {
    content: "\e977";
}



@media (min-width: 801px) and (max-width: 840px) {
    .str-collapse-seguro .str-collapse-head .str-info-seguro {
        width: 180px;
    }
}

@media (max-width: 800px) {
    .str-collapse-seguro .str-collapse-head {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .str-collapse-seguro .str-collapse-head .str-custom-checkbox .str-custom-checkbox2 {
        position: relative;
        top: 10px;
    }
    .str-collapse-seguro .str-collapse-head .str-info-seguro {
        width: calc(100% - 49px);
        padding-left: 15px;
    }
    .str-collapse-seguro .str-collapse-head .str-info-seguro h3 {
        font-weight: 100;
        text-transform: uppercase;
    }
    .str-collapse-seguro .str-collapse-head .str-monto-seguro {
        border-left: 0;
        padding: 0 0 0 46px;
        margin: 0;
    }
    .str-collapse-seguro .str-collapse-head .str-monto-seguro .str-monto {
        font-weight: 400;
    }
    .str-collapse-seguro .str-collapse-head .str-monto-seguro .str-mensual {
        display: inline-block;
    }
    .str-collapse-seguro .str-collapse-head .str-monto-seguro .str-desde {
        font-weight: 100;
    }
}

.str-collapse-seguro .str-collapse-body {
    display: none;
}

.str-collapse-seguro .str-collapse-body .str-collapse-body-inner {
    padding: 20px;
    border-top: 1px solid #DDD;
}

.str-collapse-seguro .str-collapse-body li {
    font-size: 13px;
}

.str-collapse-seguro .str-collapse-body li + li {
    margin-top: 10px;
}

.str-collapse-seguro .str-collapse-body .str-subtitle-collapse {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .str-collapse-seguro .str-collapse-body .col-md-6 + .col-md-6 {
        margin-top: 40px;
    }
}

@media (min-width: 801px) {
    .str-collapse-seguro {
        border-radius: 4px;
    }
    .str-collapse-seguro + .str-collapse-seguro {
        margin-top: 25px;
    }
}

@media (max-width: 800px) {
    .str-collapse-seguro + .str-collapse-seguro {
        border-top: 0;
    }
}

.str-message .str-title-box {
    font-size: 24px;
    /*margin-bottom: 20px;*/
    margin-bottom: 46px;
}

.str-message-success, .str-message-error {
    position: relative;
}

.str-message-success .str-box, .str-message-error .str-box {
    padding-top: 60px;
}

.str-message-success .str-title, .str-message-error .str-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

.str-message-success ul, .str-message-error ul {
    text-align: left;
}

.str-message-success ul li + li, .str-message-error ul li + li {
    margin-top: 10px;
}

.str-message-success ul li, .str-message-error ul li{
    margin-top: 10px;
}

.str-message-success .str-btn, .str-message-error .str-btn {
    margin-top: -3px;
    display: block;
    width: 100%;
}

.str-message-success .str-icons, .str-message-error .str-icons {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #F0F0F0;
    font-size: 25px;
    color: white;
    position: absolute;
    top: -31px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}

.str-message-success .str-icons i, .str-message-error .str-icons i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.str-message-success .str-icons {
    background-color: #ABC111;
}

.str-message-error .str-icons {
    /*background-color: #CC0000;*/
    background-color: #E59D27;
}

.str-quantity-field .head-quantity {
    margin-bottom: 20px;
    font-size: 17px;
}

.str-quantity-field .head-quantity input {
    width: auto;
    border: 0;
    text-align: center;
    font-weight: bold;
}

.str-quantity-field a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: white;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    background-color: #CC0000;
}

.str-quantity-field .minus-btn:before {
    content: '';
    width: 10px;
    height: 4px;
    background-color: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.str-quantity-field .plus-btn:before {
    content: '';
    width: 12px;
    height: 4px;
    background-color: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.str-quantity-field .plus-btn:after {
    content: '';
    width: 4px;
    height: 12px;
    background-color: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

@media (max-width: 800px) {
    .remove-dots {
        margin-top: -30px;
    }
}

.offset-top-0 {
    margin-top: 0 !important;
}

.offset-top-1 {
    margin-top: 10px !important;
}

.offset-left-1 {
    margin-left: 10px !important;
}

.offset-bottom-1 {
    margin-bottom: 10px !important;
}

.offset-right-1 {
    margin-right: 10px !important;
}

.offset-top-2 {
    margin-top: 20px !important;
}

.offset-left-2 {
    margin-left: 20px !important;
}

.offset-bottom-2 {
    margin-bottom: 20px !important;
}

.offset-right-2 {
    margin-right: 20px !important;
}

.offset-top-3 {
    margin-top: 30px !important;
}

.offset-left-3 {
    margin-left: 30px !important;
}

.offset-bottom-3 {
    margin-bottom: 30px !important;
}

.offset-right-3 {
    margin-right: 30px !important;
}

.offset-top-4 {
    margin-top: 40px !important;
}

.offset-left-4 {
    margin-left: 40px !important;
}

.offset-bottom-4 {
    margin-bottom: 40px !important;
}

.offset-right-4 {
    margin-right: 40px !important;
}

.offset-top-5 {
    margin-top: 50px !important;
}

.offset-left-5 {
    margin-left: 50px !important;
}

.offset-bottom-5 {
    margin-bottom: 50px !important;
}

.offset-right-5 {
    margin-right: 50px !important;
}

.offset-top-6 {
    margin-top: 60px !important;
}

.offset-left-6 {
    margin-left: 60px !important;
}

.offset-bottom-6 {
    margin-bottom: 60px !important;
}

.offset-right-6 {
    margin-right: 60px !important;
}

.offset-top-7 {
    margin-top: 70px !important;
}

.offset-left-7 {
    margin-left: 70px !important;
}

.offset-bottom-7 {
    margin-bottom: 70px !important;
}

.offset-right-7 {
    margin-right: 70px !important;
}

.offset-top-8 {
    margin-top: 80px !important;
}

.offset-left-8 {
    margin-left: 80px !important;
}

.offset-bottom-8 {
    margin-bottom: 80px !important;
}

.offset-right-8 {
    margin-right: 80px !important;
}

.offset-top-9 {
    margin-top: 90px !important;
}

.offset-left-9 {
    margin-left: 90px !important;
}

.offset-bottom-9 {
    margin-bottom: 90px !important;
}

.offset-right-9 {
    margin-right: 90px !important;
}

.offset-top-10 {
    margin-top: 100px !important;
}

.offset-left-10 {
    margin-left: 100px !important;
}

.offset-bottom-10 {
    margin-bottom: 100px !important;
}

.offset-right-10 {
    margin-right: 100px !important;
}

.modal-mail h5 {
    text-align: center;
    margin-bottom: 60px;
    padding-top: 20px;
}

.modal-mail .str-btn {
    width: 260px;
    margin: 30px auto 0;
    display: table !important;
}

@media (min-width: 801px) {
    .modal-mail .str-cajaInput {
        width: 400px;
        margin: auto;
    }
}

.message-modal p {
    text-align: center;
    font-size: 24px;
    margin: 40px 0;
}

.message-modal .str-btn {
    margin: auto;
    width: 260px;
    display: table !important;
}

/*modal*/
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background-color: #FFF;
}

.modal-backdrop.in {
    opacity: 0.6;
    z-index: 1040;
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal .close {
    /*   position: absolute;
       top: -30px;
       right: 0;
       color: white;
       font-size: 22px;
       border: 0;
       cursor: pointer;
       background-color: transparent;*/
    position: absolute;
    top: 15px;
    margin-right: 10px;
    right: 0;
    color: #cc0000;
    font-size: 15px;
    border: 0;
    cursor: pointer;
    background-color: transparent;

}

.modal .close:hover {
    opacity: .8;
}

@media (max-width: 800px) {
    .modal .close {
        display: none;
    }
}

.modal .modal-dialog {
    width: 600px;
    max-width: 90%;
    margin: 30px auto;
    transition: transform .3s ease-out;
    transform: translate(0, -25%);
}

.modal .modal-content {
    position: relative;
    background-color: #fff;
    padding: 0 15px 30px 15px;
    border: 1px solid red;
}

.modal.in {
    opacity: 1;
    z-index: 1050;
}

.modal.in .modal-dialog {
    transform: translate(0, 30px);
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

@-webkit-keyframes spinAround {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinAround {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes spinAround {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* component */
/*
  ===================== Iconos =====================
*/
@font-face {
    font-family:  'iconos-santander-exclamacion';
    src:  url('../fonts/icomoon.eot?96qhf5');
    src:  url('../fonts/icomoon.eot?96qhf5#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?96qhf5') format('truetype'),
        url('../fonts/icomoon.woff?96qhf5') format('woff'),
        url('../fonts/icomoon.svg?96qhf5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'iconos-santander';
    src: url("../fonts/iconos-santander.eot?e8ru82");
    src: url("../fonts/iconos-santander.eot?e8ru82#iefix") format("embedded-opentype"), url("../fonts/iconos-santander.ttf?e8ru82") format("truetype"), url("../fonts/iconos-santander.woff?e8ru82") format("woff"), url("../fonts/iconos-santander.svg?e8ru82#iconos-santander") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="str-icon-"], .wizard .wizard-step.complete .wizard-dot:before, .custom-select:before, .str-cajaInput .str-ico-clave:before, .str-custom-checkbox input[type="checkbox"] + label .str-custom:before, [class*=" str-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconos-santander', sans-serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
[class^="str-icon-"], .wizard .wizard-step.complete .wizard-dot:before, .custom-select:before, .str-cajaInput .str-ico-clave:before, .str-custom-checkbox2 input[type="checkbox"] + label .str-custom:before, [class*=" str-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconos-santander', sans-serif !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i + span {
    margin-left: 5px;
} 

/*Tamaños*/
.str-icon-error:before{
    font-family: 'iconos-santander-exclamacion';
    content: "\e900";
}
.str-icon-m {
    font-size: 22px !important;
}

.str-icon-m2 {
    font-size: 30px !important;
}

.str-icon-l {
    font-size: 44px;
}

/*
.str-icon-error:before {
    content: "\e9b5";
}*/

.str-icon-flecha:before {
    content: "\e9b3";
}

.str-icon-www:before {
    content: "\e9b4";
}

.str-icon-a-chat:before {
    content: "\e9ae";
}

.str-icon-a-preguntas:before {
    content: "\e9af";
}

.str-icon-a-servicio:before {
    content: "\e9b0";
}

.str-icon-a-sucursal:before {
    content: "\e9b1";
}

.str-icon-a-telefono:before {
    content: "\e9b2";
}

.str-icon-s-auto:before {
    content: "\e9aa";
}

.str-icon-s-fraude:before {
    content: "\e9ab";
}

.str-icon-s-urgencia:before {
    content: "\e9ac";
}

.str-icon-s-vida:before {
    content: "\e9ad";
}

.str-icon-shield:before {
    content: "\e900";
}

.str-icon-eye:before {
    content: "\e901";
}

.str-icon-linkedin:before {
    content: "\e902";
}

.str-icon-cerrar2:before {
    content: "\e903";
}

.str-icon-check2:before {
    content: "\e904";
}

.str-icon-pdf:before {
    content: "\e905";
}

.str-icon-accesibilidad:before {
    content: "\e906";
}

.str-icon-accionistas:before {
    content: "\e909";
}

.str-icon-acreditacion:before {
    content: "\e90a";
}

.str-icon-acuerdos:before {
    content: "\e907";
}

.str-icon-ahorro:before {
    content: "\e908";
}

.str-icon-ajustes:before {
    content: "\e90b";
}

.str-icon-alarma:before {
    content: "\e90c";
}

.str-icon-analisis-datos:before {
    content: "\e90d";
}

.str-icon-app:before {
    content: "\e90e";
}

.str-icon-ATM:before {
    content: "\e90f";
}

.str-icon-audio:before {
    content: "\e910";
}

.str-icon-auto:before {
    content: "\e911";
}

.str-icon-avanzar:before {
    content: "\e912";
}

.str-icon-becas:before {
    content: "\e915";
}

.str-icon-beneficio:before {
    content: "\e916";
}

.str-icon-bluetooth:before {
    content: "\e913";
}

.str-icon-calculadora:before {
    content: "\e914";
}

.str-icon-calendario:before {
    content: "\e917";
}

.str-icon-centro-formacion:before {
    content: "\e918";
}

.str-icon-centro-medico:before {
    content: "\e919";
}

.str-icon-check:before {
    content: "\e91a";
}

.str-icon-ciberseguridad:before {
    content: "\e91b";
}

.str-icon-clientes-digitales:before {
    content: "\e91c";
}

.str-icon-clientes:before {
    content: "\e91d";
}

.str-icon-compartir:before {
    content: "\e91e";
}

.str-icon-compras-online:before {
    content: "\e921";
}

.str-icon-compras:before {
    content: "\e922";
}

.str-icon-credito:before {
    content: "\e91f";
}

.str-icon-cursos:before {
    content: "\e920";
}

.str-icon-datos:before {
    content: "\e923";
}

.str-icon-dinero:before {
    content: "\e924";
}

.str-icon-desventaja:before {
    content: "\e925";
}

.str-icon-documentos:before {
    content: "\e926";
}

.str-icon-editar:before {
    content: "\e927";
}

.str-icon-elegir:before {
    content: "\e928";
}

.str-icon-email:before {
    content: "\e929";
}

.str-icon-empleados-santander:before {
    content: "\e92a";
}

.str-icon-empleados:before {
    content: "\e92d";
}

.str-icon-empresas:before {
    content: "\e92e";
}

.str-icon-energias-renovables:before {
    content: "\e92b";
}

.str-icon-entradas:before {
    content: "\e92c";
}

.str-icon-favoritos:before {
    content: "\e92f";
}

.str-icon-fax:before {
    content: "\e930";
}

.str-icon-financiacion:before {
    content: "\e931";
}

.str-icon-formula-1:before {
    content: "\e932";
}

.str-icon-formularios:before {
    content: "\e933";
}

.str-icon-franquicia:before {
    content: "\e934";
}

.str-icon-futbol:before {
    content: "\e935";
}

.str-icon-gobierno-corporativo:before {
    content: "\e936";
}

.str-icon-golf:before {
    content: "\e939";
}

.str-icon-grafica-tarta:before {
    content: "\e93a";
}

.str-icon-grafica:before {
    content: "\e937";
}

.str-icon-hipoteca:before {
    content: "\e938";
}

.str-icon-horario:before {
    content: "\e93b";
}

.str-icon-ideas:before {
    content: "\e93c";
}

.str-icon-informacion:before {
    content: "\e93d";
}

.str-icon-integracion:before {
    content: "\e93e";
}

.str-icon-interes:before {
    content: "\e93f";
}

.str-icon-inversion:before {
    content: "\e940";
}

.str-icon-lector-tarjeta:before {
    content: "\e941";
}

.str-icon-llave:before {
    content: "\e942";
}

.str-icon-localizador:before {
    content: "\e943";
}

.str-icon-lupa:before {
    content: "\e944";
}

.str-icon-mantencion:before {
    content: "\e945";
}

.str-icon-mute:before {
    content: "\e946";
}

.str-icon-naturaleza:before {
    content: "\e947";
}

.str-icon-noticias:before {
    content: "\e948";
}

.str-icon-oficina:before {
    content: "\e949";
}

.str-icon-on-off:before {
    content: "\e94a";
}

.str-icon-ong:before {
    content: "\e94b";
}

.str-icon-orientacion:before {
    content: "\e94c";
}

.str-icon-parking:before {
    content: "\e94d";
}

.str-icon-petroleo:before {
    content: "\e94e";
}

.str-icon-plan-pensiones:before {
    content: "\e94f";
}

.str-icon-preguntas-frecuentes:before {
    content: "\e950";
}

.str-icon-prestamo-personal:before {
    content: "\e951";
}

.str-icon-promociones:before {
    content: "\e952";
}

.str-icon-regalo:before {
    content: "\e953";
}

.str-icon-rrss:before {
    content: "\e954";
}

.str-icon-rsvp:before {
    content: "\e955";
}

.str-icon-rutas:before {
    content: "\e956";
}

.str-icon-sacar-dinero:before {
    content: "\e957";
}

.str-icon-sala-de-arte:before {
    content: "\e958";
}

.str-icon-sala-reuniones:before {
    content: "\e959";
}

.str-icon-seguro-auto:before {
    content: "\e95a";
}

.str-icon-seguros-vida:before {
    content: "\e95b";
}

.str-icon-seguros-vivienda:before {
    content: "\e95c";
}

.str-icon-seguros:before {
    content: "\e95d";
}

.str-icon-sociedad:before {
    content: "\e95e";
}

.str-icon-subidas:before {
    content: "\e95f";
}

.str-icon-sucursales:before {
    content: "\e960";
}

.str-icon-tablet:before {
    content: "\e961";
}

.str-icon-telefono:before {
    content: "\e962";
}

.str-icon-tiempo-2:before {
    content: "\e963";
}

.str-icon-tiempo:before {
    content: "\e964";
}

.str-icon-tiendas:before {
    content: "\e965";
}

.str-icon-tipo-cambio:before {
    content: "\e966";
}

.str-icon-transacciones:before {
    content: "\e967";
}

.str-icon-tv:before {
    content: "\e968";
}

.str-icon-universidad-empleados:before {
    content: "\e969";
}

.str-icon-usuarios-digitales:before {
    content: "\e96a";
}

.str-icon-viajes:before {
    content: "\e96b";
}

.str-icon-video:before {
    content: "\e96c";
}

.str-icon-vinculo-clientes:before {
    content: "\e96d";
}

.str-icon-visit:before {
    content: "\e96e";
}

.str-icon-web:before {
    content: "\e96f";
}

.str-icon-wifi:before {
    content: "\e970";
}

.str-icon-workshops:before {
    content: "\e971";
}

.str-icon-cerrar:before {
    content: "\e972";
}

.str-icon-like:before {
    content: "\e973";
}

.str-icon-flecha-derecha:before {
    content: "\e974";
}

.str-icon-flecha-izquierda:before {
    content: "\e975";
}

.str-icon-flecha-abajo:before, .custom-select:before {
    content: "\e976";
}

.str-icon-flecha-arriba:before {
    content: "\e977";
}

.str-icon-tarjeta:before {
    content: "\e979";
}

.str-icon-alerta:before {
    content: "\e97a";
}

.str-icon-cuenta:before {
    content: "\e97b";
}

.str-icon-descarga:before {
    content: "\e97c";
}

.str-icon-smile:before {
    content: "\e97d";
}

.str-icon-documento:before {
    content: "\e97e";
}

.str-icon-grafico-barras:before {
    content: "\e97f";
}

.str-icon-ir:before {
    content: "\e980";
}

.str-icon-personas:before {
    content: "\e981";
}

.str-icon-marker-mundo:before {
    content: "\e982";
}

.str-icon-circulo:before {
    content: "\e983";
}

.str-icon-internacionalidad:before {
    content: "\e984";
}

.str-icon-candado:before {
    content: "\e985";
}

.str-icon-universidades:before {
    content: "\e986";
}

.str-icon-sanodelucas:before {
    content: "\e987";
}

.str-icon-galardon:before {
    content: "\e988";
}

.str-icon-arrow-top:before {
    content: "\e989";
}

.str-icon-acrobat:before {
    content: "\e98a";
}

.str-icon-marker-map:before {
    content: "\e98b";
}

.str-icon-compartir2:before {
    content: "\e98c";
}

.str-icon-spa-relax:before {
    content: "\e98d";
}

.str-icon-aventuras:before {
    content: "\e98e";
}

.str-icon-gastronomia:before {
    content: "\e98f";
}

.str-icon-santander:before {
    content: "\e990";
}

.str-icon-cupones:before {
    content: "\e991";
}

.str-icon-sol:before {
    content: "\e992";
}

.str-icon-trofeo:before {
    content: "\e993";
}

.str-icon-casa:before {
    content: "\e994";
}

.str-icon-descarga-arrow:before {
    content: "\e995";
}

.str-icon-sobre:before {
    content: "\e996";
}

.str-icon-avion:before {
    content: "\e997";
}

.str-icon-productos:before {
    content: "\e998";
}

.str-icon-pagos-en-linea:before {
    content: "\e999";
}

.str-icon-santander-logo:before {
    content: "\e99a";
}

.str-icon-facebook:before {
    content: "\e99b";
}

.str-icon-facebook2:before {
    content: "\e99c";
}

.str-icon-instagram:before {
    content: "\e99d";
}

.str-icon-instagram2:before {
    content: "\e99e";
}

.str-icon-twitter:before {
    content: "\e99f";
}

.str-icon-twitter2:before {
    content: "\e9a0";
}

.str-icon-youtube:before {
    content: "\e9a1";
}

.str-icon-youtube2:before {
    content: "\e9a2";
}

.str-icon-giro:before {
    content: "\e9a3";
}

.str-icon-pago-automatico:before {
    content: "\e9a4";
}

.str-icon-super-giro:before {
    content: "\e9a5";
}

.str-icon-transferencias:before {
    content: "\e9a6";
}

.str-icon-label-kms:before {
    content: "\e9a7";
}

.str-icon-monitor-dinero:before {
    content: "\e9a9";
}

/*
  ===================== Botones =====================
*/
.str-btn {
    display: inline-block !important;
    font-size: 15px;
    padding: 15px 38px;
    border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none !important;
    position: relative;
    vertical-align: middle;
    appearance: none;
}
.web20{ padding: 15px 18px !important; }

.str-btn .text-btn {
    font-weight: 400;
}

.str-btn-primary {
    color: #ffffff;
    background: #CC0000;
    border: none;
}

.str-btn-primary .str-icon-candado {
    vertical-align: sub;
}

.str-btn-primary:hover {
    background-color: #990000;
}

.str-btn-secondary {
    color: #CC0000;
    background-color: #ffffff;
    border: 2px solid #CC0000;
}

.str-btn-border {
    text-align: center;
    border-radius: 100px;
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
    color: #CC0000;
    border: 1px solid #CC0000;
    cursor:pointer; 
}

.str-btn-border .str-btn-volver .str-icon-email {
    font-size: 17px !important;
}

.str-btn-border i,
.str-btn-border .text-btn {
    display: inline-block;
    vertical-align: middle;
}

.str-btn-border .text-btn {
    font-size: 14px;
}

.str-btn-border:hover {
    background-color: white;
}

.str-btn-max {
    max-width: 260px;
}

.str-btn [class*="str-icon-"] {
    font-size: 10px;
}

.str-btn-volver {
    background-color: #ffffff;
    margin-bottom: 0px;
}

.str-btn-volver a {
    text-decoration: none;
}

.str-btn-volver a i {
    font-size: 14px;
}

.str-btn[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.str-links-return {
    /*color: #999;*/
    color: black;
    text-decoration: none;
    position: relative;
}

.str-links-return .text-btn {
    font-weight: 600;
}

.str-links-return i + .text-btn {
    padding-left: 10px;
}

.str-links-return i {
    font-size: 11px;
    position: absolute;
    left: 0px;
    top: 6px;
}

.str-links-return:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: currentColor;
    bottom: -2px;
    right: 0;
    left: 0;
    margin: 0 auto;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.str-links-return:hover .text-btn {
    color: currentColor;
}

.str-links-return:hover:before {
    width: 100%;
}

.str-links-return.second {
    color: #CC0000;
}

/*
  =====================  wizard =====================
*/
.wizard {
    display: table;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.wizard.step-two .wizard-step.active .progress-bar {
    width: 100%;
}

.wizard .wizard-step {
    display: table-cell;
    position: relative;
    width: 2%;
}

.wizard .wizard-step:first-child {
    /*&.active {
          .progress-bar { width: 0; }
        }*/
}

.wizard .wizard-step:first-child .wizard-progress {
    left: 0;
    width: 100%;
}

.wizard .wizard-step:last-child .wizard-progress {
    width: 100%;
}

.wizard .wizard-step:last-child.active .progress-bar {
    width: 100%;
}

.wizard .wizard-step.complete .progress-bar {
    width: 100%;
}

.wizard .wizard-step.complete .wizard-dot {
    color: transparent;
    border-color: #1BB3BC;
}

.wizard .wizard-step.complete .wizard-dot:before {
    color: #1BB3BC;
    position: relative;
    left: 3px;
    top: 1px;
    content: "";
}

.wizard .wizard-step.complete .wizard-text {
    /*color: #444444;*/
    color: #1BB3BC;
}

.wizard .wizard-step.active .progress-bar {
    width: 50%;
}

.wizard .wizard-step.active .wizard-dot {
    color: #D8D8D8;
    border-color: #d1d1d1;
    /*  color: #1BB3BC; Origial
      border-color: #1BB3BC;*/
}

.wizard .wizard-step.active .wizard-text {
    color: #444444;
}

.wizard .wizard-progress {
    position: relative;
    border-radius: 0px;
    height: 3px;
    box-shadow: none;
    margin: 17px 0  20px 0;
    overflow: hidden;
    background-color: #d1d1d1;
}

.wizard .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #1BB3BC;
    transition: width .3s ease;
}

.wizard .wizard-text {
    text-align: center;
    /* color:  #1BB3BC;*/
    color: #D8D8D8;
    font-size: 13px;
    min-height: 34px;
    font-weight: 100;
}

.wizard .wizard-dot {
    width: 36px;
    height: 36px;
    line-height: 32px;
    position: absolute;
    top: 34px;
    left: calc(50% - 22px);
    color: #D8D8D8;
    z-index: 10;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
    border: 2px solid #d1d1d1;
}

@media (max-width: 800px) {
    .wizard {
        display: none;
    }
    .wizard .wizard-step {
        display: none;
    }
    .wizard .wizard-step.active, .wizard .wizard-step:last-child {
        display: block;
    }
}

/*
  =====================  /wizard =====================
*/
.wizard-mobile {
    display: none;
    margin-bottom: 20px;
    background-color: white;
}

.wizard-mobile .title-wizard {
    display: inline-block;
    text-transform: uppercase;
    text-align: left;
    width: 68%;
    padding: 15px;
}

.wizard-mobile .title-wizard .wizard-text {
    font-weight: 600;
    color: #333;
}

.wizard-mobile .state-wizard {
    display: inline-block;
    text-align: right;
    width: 30%;
    padding-right: 15px;
}

.wizard-mobile .progress-wizard {
    position: relative;
    float: left;
    height: 4px;
    width: 100%;
    background-color: #ddd;
}

.wizard-mobile .progress-wizard .inner-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    border-radius: 0 4px 4px 0;
    background-color: #1bb3bc;
}

.wizard-mobile .wizard-dot {
    border: 4px solid #1bb3bc;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 18px;
    color: #1bb3bc;
    font-size: 17px;
}

.wizard-mobile .wizard-dot,
.wizard-mobile .wizard-text {
    display: inline-block;
    vertical-align: middle;
}

.wizard-mobile .wizard-text {
    width: calc(100% - 50px);
}

@media (max-width: 800px) {
    .wizard-mobile {
        display: block;
    }
}

/*
  ===================== Form =====================

*/
label,
input,
select {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    width: 100%;
    color: #444444;
}

select::-ms-expand {
    display: none;
}

::-ms-clear {
    display: none;
}

.custom-select {
    position: relative;
    /*
      === desktop ===
    */
    /*
      === mobile ===
    */
}

.custom-select select {
    display: block;
    width: 100%;
    padding: 5px 0px 5px 5px;
    height: 50px;
    position: relative;
    z-index: 10;
    background-color: transparent !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    font-weight: 100;
}

.custom-select:before {
    position: absolute;
    top: calc(50% - 7px);
    right: 20px;
    color: #CC0000;
    font-size: 14px;
}

@media (min-width: 801px) {
    .custom-select select {
        border: 1px solid #CCC;
    }
}

@media (max-width: 800px) {
    .custom-select {
        border-bottom: 1px solid #DDD;
    }
    .custom-select select {
        border: 0;
    }
}

input[type="submit"] {
    border: none;
}

.str-info-form label {
    font-weight: 100;
    margin-bottom: 10px;
    display: block;
}

.str-info-form + .str-info-form {
    margin-top: 30px;
}

:-ms-input-placeholder {
    color: #999;
}

.str-input {
    background-color: transparent;
    padding: 10px;
    display: block;
    border: none;
    color: #333;
    font-weight: 600;
    border-bottom: 1px solid #DDD;
    border-radius: 0;
    -o-border-radius: 0;
    -ms-border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.str-input.str-validado + .str-barra {
    width: 100%;
    background-color: #9ccc3c;
}

.str-input.str-validado ~ .str-label {
    top: -20px;
    font-size: 13px;
    color: #9ccc3c;
}

.str-input.str-novalidado + .str-barra {
    width: 100%;
    background-color: #CC0000;
}

.str-input.str-novalidado ~ .str-barra {
    width: 100%;
    background-color: #CC0000;
}

.str-input.str-novalidado ~ .str-label {
    top: -20px;
    font-size: 13px;
    color: #CC0000;
}

.str-input.str-editar ~ .str-label {
    top: -20px;
    font-size: 13px;
}

.str-input.str-editar ~ .str-barra {
    width: 100%;
    background-color: #949494;
}

.str-cajaInput {
    position: relative;
    width: 100%;
    margin-top: 30px;
}

.str-cajaInput label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: All .3s ease;
}

.str-cajaInput .str-icon-check2 {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #9ccc3c;
}

.str-cajaInput .str-icon-cerrar {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #CC0000;
}

.str-cajaInput .str-icon-editar {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: #444444;
}

.str-cajaInput .str-ico-clave {
    position: absolute;
    right: 0;
    text-decoration: none;
    bottom: 8px;
    height: 15px;
}

.str-cajaInput .str-ico-clave:before {
    display: block;
    content: "\e901";
    color: #444444;
    font-size: 13px;
}

.str-cajaInput .str-icon-cerrar + .str-pass {
    right: 30px;
}

.str-barra {
    background-color: #66B1BA;
    position: absolute;
    width: 0;
    left: 0;
    right: 0;
    height: 2px;
    bottom: 0;
    margin: 0 auto;
    transition: All .3s ease;
}

.str-barra.str-validado {
    background-color: #9ccc3c;
}

.str-barra.str-novalidado {
    background-color: #CC0000;
}

.str-custom-checkbox {
    display: block;
    vertical-align: bottom;
    line-height: 20px;
}
.str-custom-checkbox2 {
    display: block;
    vertical-align: bottom;
    line-height: 20px;
}

.str-custom-checkbox input[type="checkbox"] {
    display: none;
}
.str-custom-checkbox2 input[type="checkbox"] {
    display: none;
}

.str-custom-checkbox .str-custom {
    background-color: white;
}
.str-custom-checkbox2 .str-custom {
    background-color: white;
}


.str-custom-checkbox label span {
    display: inline-block;
    vertical-align: middle;
    max-width: 85%;
}
.str-custom-checkbox2 label span {
    display: inline-block;
    vertical-align: middle;
    max-width: 85%;
}

.str-custom-checkbox .label-text {
    font-size: 12px;
}
.str-custom-checkbox2 .label-text {
    font-size: 12px;
}

.str-custom-checkbox input[type="checkbox"] + label .str-custom {
    position: relative;
    width: 26px;
    height: 26px;
    border: 1px solid #979797;
    margin-right: 5px;
    display: inline-block;
    vertical-align: bottom;
}

.str-custom-checkbox input[type="checkbox"] + label .str-custom:before {
    content: '\e904';
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 11px;
    opacity: 0;
    color: #ABC111;
    font-size: 15px;
    transition: all 0.25s ease-in-out;
    text-align: center;
}

.str-custom-checkbox input[type="checkbox"]:checked + label .str-custom:before {
    opacity: 1;
}
.str-custom-checkbox2 input[type="checkbox"] + label .str-custom {
    position: relative;
    width: 26px;
    height: 26px;
    border: 1px solid #979797;
    margin-right: 5px;
    margin-top: 10px;
    display: inline-block;
    vertical-align: bottom;
}

.str-custom-checkbox2 input[type="checkbox"] + label .str-custom:before {
    content: '\e903';
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 11px;
    opacity: 0;
    color: #CC0000;
    font-size: 15px;
    transition: all 0.25s ease-in-out;
    text-align: center;
}

.str-custom-checkbox2 input[type="checkbox"]:checked + label .str-custom:before {
    opacity: 1;
}

.str-custom-radio {
    position: relative;
    padding-left: 30px;
}

.str-custom-radio input {
    display: none;
}

.str-custom-radio .str-custom {
    display: inline-block;
    width: 21px;
    height: 21px;
    text-align: center;
    margin-right: 10px;
    position: absolute;
    left: 0;
    overflow: hidden;
    border-radius: 50%;
    top: -2px;
    background-color: #fff;
    box-shadow: 0px 2px 0px #f0f0f0;
    border: 1px solid #dddddd;
}

.str-custom-radio .str-custom:before {
    content: '';
    border-radius: 100%;
    transition: 500ms ease;
}

.str-custom-radio input:checked + label .str-custom:before {
    width: 10px;
    height: 10px;
    background-color: red;
    display: block;
    position: relative;
    top: 4px;
    left: 4px;
}

.str-custom-radio input[type="radio"] {
    display: none;
}

.str-custom-radio .inputRadio:checked + label::after {
    content: '';
    width: 10px;
    height: 10px;
    display: block;
    background-color: red;
}

.str-custom-radio .labelRadio {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 35px;
    margin-right: 15px;
}

.str-custom-radio .labelRadio:after {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    text-align: center;
    margin-right: 10px;
    position: absolute;
    left: 0;
    overflow: hidden;
    border-radius: 50%;
    top: -2px;
    background-color: #fff;
    -moz-box-shadow: 0px 2px 0px #f0f0f0;
    -webkit-box-shadow: 0px 2px 0px #f0f0f0;
    box-shadow: 0px 2px 0px #f0f0f0;
    border: 1px solid #dddddd;
}

/*Dropdown*/
.str-select-ui {
    margin: 10px auto 20px;
}

.str-select-ui .str-inputFlecha {
    display: none;
}

.str-select-ui .str-drop {
    position: relative;
    display: inline-block;
    width: 100%;
}

.str-select-ui .str-drop .str-botonDrop {
    background-color: #ffffff;
    color: #444444;
    padding: 10px 16px;
    width: 100%;
    height: 50px;
    text-align: left;
    font-size: 15px;
    border: 1px solid #DDD;
    border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    cursor: pointer;
    margin: 0;
    transition: All .3s ease;
    position: relative;
    font-weight: 700;
}

.str-select-ui .str-drop .str-botonDrop .str-icon-flecha-abajo, .str-select-ui .str-drop .str-botonDrop .custom-select:before {
    position: absolute;
    right: 16px;
    top: 18px;
    margin: 0;
    color: #CC0000;
    font-size: 14px;
}

.str-select-ui .str-down {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.str-select-ui .str-down a {
    display: block;
    background-color: #ffffff;
    color: #424242;
    padding: 11px 0 11px 16px;
    font-size: 14px;
    border: 1px solid #DDD;
    border-top: 0;
}

.str-select-ui .str-down.str-show {
    display: block;
}

.str-barra span {
    position: absolute;
    right: 0;
    top: -25px;
}

.str-input:focus ~ .str-label,
.str-input:valid ~ .str-label {
    top: -20px;
    font-size: 13px;
}

.str-input:invalid {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    /* box-shadow: none; */
}

.str-input:focus ~ .str-barra {
    width: 100%;
}

.str-cont-login.str-scroll-active {
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    animation: opacity-scroll 500ms ease-out;
    top: -140px;
}

@keyframes opacity-scroll {
    0% {
        opacity: 0;
        top: -200px;
    }
    100% {
        opacity: 1;
        top: -140px;
    }
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group + .form-group {
    margin-top: 20px;
}

.bgModal {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 8888;
}

.bgModalHide {
    display: none;
}

.modalSimple, .modalUsuario, .modalFiltro {
    display: none;
}

.contenedorModal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    z-index: 8889;
}

.contenedorModal .subtitle {
    margin-bottom: 20px;
}

.contenedorModalSimple {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-bottom: 60px;
    height: auto;
    z-index: 8889;
    position: relative;
    top: 110px;
}

.cuerpoModal {
    /*width: 90%;*/
    padding: 30px;
    background-color: #ffffff;
    height: auto;
    margin: auto;
    overflow: hidden;
}

.cuerpoModal img {
    width: 100%;
    height: auto;
}

.contenedorModalUsuario {
    width: 660px;
    height: auto;
    padding: 70px 70px 20px 70px;
    background-color: #ffffff;
    margin: 110px auto 0 auto;
    position: relative;
}

.contenedorModalUsuario .p_l {
    max-width: inherit;
}

.contenedorModalUsuario img.perfil {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: -50px;
    border: 3px solid #ffffff;
    border-radius: 50%;
}

.contenedorModalFiltro {
    width: 720px;
    height: auto;
    padding: 70px 40px 20px 40px;
    background-color: #ffffff;
    margin: 110px auto 0 auto;
    position: relative;
    text-align: left;
}

.contenedorModalFiltro h6 {
    background-color: #ec0000;
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    margin: 0;
    text-align: left;
    padding: 20px 0 20px 20px;
    width: calc(100% - 20px);
}

.contenedorModalFiltro .cerrarModal {
    top: 20px;
    right: 20px;
    z-index: 2;
}

.contenedorModalFiltro ul {
    padding: 0;
    text-align: left;
}

.contenedorModalFiltro ul li {
    list-style: none;
    border-bottom: 1px solid #dddddd;
    padding: 20px 0;
}

.contenedorModalFiltro ul li .switch {
    float: right;
    margin-top: 8px;
}

.contenedorModalFiltro ul li span {
    margin-right: 20px;
}

.cerrarModal {
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: -30px;
}

.footerModal {
    padding-top: 20px;
    margin-top: 30px;
    text-align: center;
    border-top: 1px solid #DDD;
}

.footerModal .str-btn {
    margin: auto;
}

.modalCoberturas ul {
    padding-right: 20px;
}

@media (max-width: 992px) {
    .modalCoberturas ul {
        padding-left: 20px;
    }
}

.modalEnviarEmail .str-btn {
    float: none !important;
    margin: 20px auto 0 !important;
}

.modalEnviarEmail.exito, .modalEnviarEmail.error {
    padding-top: 70px;
}

@media (min-width: 768px) {
    .modalEnviarEmail .ingreso-datos {
        padding: 50px;
    }
    .modalEnviarEmail .mensaje-exito,
    .modalEnviarEmail .mensaje-error {
        padding: 40px 0;
    }
}

.str-table-simple {
    color: #999;
    width: 100%;
}

.str-table-simple th,
.str-table-simple td {
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
}

.str-table-simple th {
    padding-right: 10px;
    text-align: left;
}

.str-table-simple td {
    text-align: right;
}

/*
  ===================== custom libs  =====================
*/
.slick-center .inset-str-box {
    transform: scale(1.04);
}

.slider {
    padding-top: 20px;
}

.slider [class*="str-message-"] {
    margin-top: 50px;
}

.slick-list {
    overflow: visible;
}

/*.slick-list.draggable {
  padding-bottom: 20px!important;
}*/
.slick-dots {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    pointer-events: none;
}

.slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: silver;
    border: 2px solid transparent;
    text-indent: -9999px;
}

.slick-dots li + li {
    margin-left: 5px;
}

.slick-dots li.slick-active {
    position: relative;
    top: -2px;
}

.slick-dots li.slick-active button {
    width: 14px;
    height: 14px;
    border-color: white;
    background-color: red;
}

/* page */
.str-message-intro {
    background-color: #D5EFF1;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    position: relative;
}

.str-mensaje-intro {
    background-color: #D5EFF1;
    text-align: center;
    padding: 5px;
    margin-top: 23px;
    position: relative;
}

.str-mensaje-mobile-intro {
    background-color: #D5EFF1;
    text-align: center;
    padding: 10px;
    margin-top: 23px;
    position: relative;
    /*   background-color: #D5EFF1;
       text-align: center;
       padding: 20px;
       margin-top: 23px;
       position: relative;*/
}

.str-message-intro .str-icons {
    border-radius: 50%;
    display: table;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    background-color: #3CA3B2;
}

.str-mensaje-intro .str-icons {

    border-radius: 50%;
    display: table;
    margin: auto;
    background-color: #3CA3B2;

}

.str-mensaje-mobile-intro .str-icons {
    border-radius: 50%;
    display: table;
    margin: auto;
    position: absolute;
    left: 51%;
    transform: translate3d(-380%, 0, 0);
    background-color: #3CA3B2;
    /* border-radius: 50%;
     display: table;
     margin: auto;
     position: absolute;
     left: 7%;
     transform: translate3d(-50%, 0, 0);
     background-color: #3CA3B2;
     margin-top: 38px;*/
}

.str-message-intro .str-icons i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.str-mensaje-intro .str-icons i {
    color: white;
    position: absolute;
    top: 50%;
    left: 62%;
    transform: translate3d(-50%, -50%, 0);
}

.str-mensaje-mobile-intro .str-icons i {
    color: white;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate3d(-50%, -50%, 0);
}

.str-message-intro p {
    padding-top: 13px;
}

.str-mensaje-intro p {
    padding-top: 8px;
    font-size: 12px;
}

.str-mensaje-mobile-intro p {
    padding-top: 8px;
    font-size: 9px;
}

@media (min-width: 801px) {
    .str-pagina-intro .str-icons {
        width: 50px;
        height: 50px;
        top: -25px;
        font-size: 30px;
    }
}

.str-page-loading .str-loader-content {
    margin-bottom: 50px;
}

.str-page-loading .str-inset {
    padding-top: 60px;
    padding-bottom: 60px;
}

.str-children {
    margin-top: 20px;
    overflow: hidden;
}

.str-children .str-children-inner .str-icons {
    border-radius: 50%;
    overflow-x: hidden;
    margin-right: 10px;
}

.str-children .str-children-inner .str-icons,
.str-children .str-children-inner .custom-select {
    float: left;
}

@media (min-width: 801px) {
    .str-children .str-children-inner {
        width: 50%;
        float: left;
        margin-bottom: 10px;
    }
    .str-children .custom-select {
        width: 140px;
    }
}

@media (max-width: 800px) {
    .str-children .str-icons {
        width: 50px;
        height: 50px;
    }
    .str-children .custom-select {
        width: calc(100% - 60px);
    }
}

.str-total {
    text-align: center;
    margin-bottom: 20px;
}

.str-total img,
.str-total p {
    display: inline-block;
    vertical-align: middle;
}

.str-total img {
    margin-right: 10px;
}

.str-total p {
    font-size: 24px;
    font-weight: 400;
}

@media (max-width: 800px) {
    .str-page-result .str-inset {
        background: #FFFFFF;
        border: 2px solid #DDDDDD;
        box-shadow: 0px 15px 15px 0px rgba(25, 25, 25, 0.2);
        border-radius: 2px;
        margin: 20px;
    }
    .str-page-result .str-collapse-seguro {
        border-left: 0;
        border-right: 0;
    }
    .str-page-result .str-footer-btn {
        background-color: transparent;
    }
}

@media (min-width: 801px) {
    .str-page-intro .str-icons {
        width: 30px;
        height: 30px;
        font-size: 18px;

    }
}

@media (max-width: 800px) {
    .str-page-intro .str-inset{
        min-height: 570px;
    }
    .str-page-intro .str-inset {
        padding: 20px;
    }
    .str-page-intro .str-btn {
        margin-top: 40px;
        display: block;
        width: 100%;
    }
    .str-page-intro .str-icons {
        width: 27px;
        height: 27px;
        top: 6px;
        font-size: 17px;
    }
}



/* COMIENZO DE RANGO */


@media (min-width: 600px) {
    body {
    }
}

.range-slider {
    margin: 60px 0 0 0%;
}

.range-slider {
    width: 100%;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 10px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #D01700;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-webkit-slider-thumb {
    background: #1abc9c;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #D01700;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
    background: #1abc9c;
}
.range-slider__range:active::-moz-range-thumb {
    background: #1abc9c;
}

.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    background: #D01700;
    padding: 5px 10px;
    margin-left: 8px;
}
.range-slider__value:after {
    position: absolute;
    top: 8px;
    left: -7px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #D01700;
    border-bottom: 7px solid transparent;
    content: '';
}

::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}
/* FIN DE RANGO */
.error{
    border: solid 1px red;
}
.error-icono{background: url('error-rojo.png') no-repeat; width: 44px; height: 44px; position: absolute; top: 0; left: 0; }
.error-message{display: none;}
.error-box{position: relative;min-height: 60px;background: rgba(255, 0, 0, 0);}
.error-box .error-content{position: relative;padding: 0px 0 20px 0;}
.error-box .error-icon{background: url('../img/icons/icon-error.png') no-repeat; width: 44px; height: 44px; position: absolute; top: 0; left: 0; }
.error-box .error-close {text-align: right;top: -41px;position: absolute;right: -10px;font-size: 23px;color: black;cursor: pointer;}
.error-box .str-box {margin: 0; border: 0; } 
.error-box .str-box .str-icons {border: 0; width: 60px; height: 60px; error-rojo.pngtop: -29px; }
.error-box .str-box:hover { box-shadow: inherit !important; cursor: pointer;}
.error-box h2 { color: grey; }

.error-box .featherlight-close{margin-top: 20px; display: block; width: 306px; margin-bottom: 10px; }

.error-border {overflow: inherit !important;background: #fff !important;border: 1px solid #dddddd !important;border-radius: 3px;box-shadow: 1px 1px 10px 1px rgba(25, 25, 25, 0.07);}

/*.featherlight {background: rgba(187, 2, 172, 0.51) !important;}*/
/*.featherlight {background: rgba(128, 128, 128, 128) !important;}ORIGINAL 30-10-2017*/
.featherlight {background: rgba(0, 0, 0, 0.51) !important;}
.featherlight-content.error-border {overflow: inherit;padding: 0px !important;margin: 0px !important;}

.str-btn-volver {
    text-align: center;
    border-radius: 100px;
    padding: 10px 37px 10px;
    /*padding: 15px 37px 10px;*/
    /*   padding: 15px 20px; Original*/
    display: inline-block;
    text-decoration: none;
    color: #444;
    border: 1px solid #444;
    width: 100%;
    /*width: 34%;*/
    margin-top: 10px;
    /*margin-top: 20px;*/
    /*margin-top: 100px;*/
    /*margin-top: 5px;*/
    /*margin-top: 70px;*/
}
.str-btn-volver  {
    font-size: 17px !important;
}

.str-btn-volver i,
.str-btn-volver .text-btn {
    display: inline-block;
    vertical-align: middle;
}

.str-btn-volver .text-btn {
    font-size: 14px;
}

.str-btn-volver:hover {
    background-color: white;
}
.str-btn-volver-destop {
    padding: 12px 20px !important;
    width: 40% !important; 
    /*margin-top: -5% !important;*/
    margin-top: 0% !important;
    cursor:pointer;
}
.str-btn-volver-destop2 {
    padding: 13px 23px !important;
    width: 89% !important;
    margin-top: -1% !important;
}
.str-btn-volver-destop3 {
    padding: 14px 23px !important;
    width: 100% !important;
    margin-top: -5% !important;
}

.final-error input[type="checkbox"] + label .str-custom{
    position: relative;
    width: 26px;
    height: 26px;
    border: 1px solid #cc0000 !important;
    margin-right: 5px;
    display: inline-block;
    vertical-align: bottom;
}

.opa{
    opacity: 0.4;
}

div{
    word-wrap: break-word;
}

/* fixed */
.str-page-result .str-plan-fx .str-collapse-seguro .str-collapse-head .str-info-seguro{ width: auto; }
.str-page-result .str-plan-fx .col-md-3{ float: left; }
.row-eq-height { display: -webkit-box;display: -webkit-flex;display: -ms-flexbox; display:         flex; } 
.str-page-result .str-plan-fx .str-list-bullet { font-size: 13px; }
.str-page-result .str-plan-fx .str-list-bullet p{ margin-bottom: 10px; line-height: 15px; }
.str-page-result .str-plan-fx .str-list-bullet ul li{padding-left: 8px; line-height: 18px;padding-bottom: 10px;}
.str-page-result .str-plan-fx .str-collapse-seguro .str-collapse-head .str-event-collapse{right: 0px}
.str-page-result .str-plan-fx .str-collapse-seguro .str-collapse-head .str-icons{margin-left: 15px; margin-right: 0px;}
.str-page-result .str-plan-fx .str-collapse-seguro .str-collapse-head .str-info-seguro h3{text-transform: uppercase;}
.str-page-result .str-plan-fx .str-list-check{margin-top: 5px;}

.volverycontinuar {
    text-transform: uppercase;
}

.griserroryresultado{
    display: table;
    width: 100%;
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 13px;
    position: relative;
    background-color: rgba(142, 132, 132, 0.24);
} 
.popup-layout {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
}

.popup-content {
    position: absolute;
    top: 50%;
    width: 100%;
    /*left: 50%;*/

    background: #f6f6f6; /* just for demo */
    padding: 15px;
    /* width: 400px; */
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
}
.popup-center-horizontal {
    display: table;
    margin: 0 auto;
    background-color: #D5EFF1;
}
.st-relative-planificador{ position:  relative; }
.top-75{ margin-top: 75px; }

.btnSalir{
    padding-right: 28px;
}

.btnComenzar{
    padding-left: 53px;
}