<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Formulario Aceptación</title>
  <meta name="description" content="Formulario Aceptación">
  <meta name="author" content="SitePoint">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ asset('assets/acceptance/css/bootstrap.min.css') }}">
  <script src="{{ asset('assets/acceptance/js/jquery-3.5.0.min.js') }}"></script>

  <script src="{{ asset('assets/acceptance/js/bootstrap.min.js') }}"></script>
  <link rel="stylesheet" href="{{ asset('assets/acceptance/css/style.css') }}">
  <script src="{{ asset('assets/acceptance/js/app.js') }}"></script>
</head>

<body>
    <div class="main">
        <div class="container"> 
            <div class="pol-w  mt-4">
                 {% block body %}{% endblock %}
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="mt-5 pol-footer pt-3  mb-5">
                        <p>Informese sobre las garantías estatal de los depositos en su banco o en www.cmfchile.cl / infórmese sobre las 
                            entidades autorizadas para emitir Tarjetas de Pago en el país quienes se encuentran inscritas en los Registros de Emisiones de
                            Tarjetas que lleva la CMF, en www.cmf.cl. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade box-pol-modal "  id="box-pol-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                   <i><img src="{{ asset('assets/acceptance/images/icon-error.png')}}" class="mr-2" width="40"></i>
                  No reconozco contratación de seguro
                </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p class="px-4 pb-2">Si no reconoces haber contratado este seguro, te recomendamos comunicarte con nuestra central telefónica llámando al <strong>600 320 3000</strong> </p>
            </div>
            <div class="modal-footer">
                <div class="text-center d-block mx-auto my-3">
                    <button type="button" class="btn btn-pol" data-dismiss="modal">Aceptar</button>
                </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>  