{% extends "::acceptance/base.html.twig" %}

{% block body %}
<div class="row ">
    <div class="col-12">
        <div class="box-confirmation">
            <div class="row">
                <div class="col-12">
                    <div class="border-bottom">
                        <h2 class="text-center">
                            <i><img src="{{ asset('assets/acceptance/images/icon-ticket-ok.png') }}" class="mr-2" width="40"></i>
                            Has aceptado la propuesta con éxito
                        </h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="box-confirmation-content p-90">
                        <div class="border-bottom pt-4 pb-4 mb-4">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p><strong>Nº solicitud:</strong> {{poliza.NUMSOLICITUD}}  </p>
                                </div>
                                <div class="col-12 col-md-4">
                                    <p><strong>Producto:</strong>{{poliza.NOMBREPRODUCTO}}</p>
                                </div>
                                <div class="col-12 col-md-4">
                                    <p><strong>Fecha venta: </strong> {{poliza.FECHAVENTA}}</p>
                                </div>
                            </div>
                        </div>
                         {% if poliza.MATRIZ_INTERVINIENTES  is iterable %}
              
                            {% for intervinientes in poliza.MATRIZ_INTERVINIENTES  %}
                             {% if intervinientes.TIPOINTERVINIENTE == 'CONTRATANTE' %}
                        <div class="border-bottom pb-2 mb-4">
                            <div class="row">
                                <div class="col-12">
                                    <span class="box-sub mb-3">Datos del contratante</span>
                                </div>
                                <div class="col-md-8 col-12">
                                    <h4>Nombre y apellidos</h4>
                                    <p>{{intervinientes.NOMINTERVINIENTE}}</p>
                                </div>
                                <div class="col-md-4 col-12">
                                    <h4>Rut</h4>
                                    <p>{{intervinientes.RUTINTERVINIENTE | format_rut}}</p>
                                </div>
                            </div>
                        </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="pb-4">
                            <div class="row">
                                <div class="col-12">
                                    <span class="box-sub mb-3">Datos del producto</span>
                                </div>
                                <div class="col-12">
                                    <div class="row mb-3">
                                        <div class="col-md-8 col-12">
                                            <h4>Producto</h4>
                                            <p>{{poliza.NOMBREPRODUCTO}} {{ poliza.DESCRIPCIONPLAN}} </p>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <h4>Línea de Producto</h4>
                                            <p>{{ poliza.DESCFAMILIAPROD }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row mb-3">
                                        <div class="col-md-4 col-12">
                                            <h4>Fecha venta</h4>
                                            <p> {{poliza.FECHAVENTA}}</p>
                                        </div>
                                        <div class="col-md-8 col-12">
                                            <h4>Plan</h4>
                                            <p>{{ poliza.DESCRIPCIONPLAN}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="px-4 pb-4  border-bottom">
                        <div class="box-information p-3">
                            <p class="p-0 m-0"><i class="icon icon-info"></i>En caso de no recibir el correo durante las próximas xx horas, llámanos al 800 397 397 para recibir ayuda </p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="text-center  p-3 pb-4   box-download">
                        <a href="javascript:window.print();" class="" ><i class="icon icon-download"></i>Descargar comprobante</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="box-back my-4">
            <a href="{{ path('acceptance_form') }}" class="btn btn-back">Ir a aceptar propuestas</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="box-pol-terms px-3 py-2  mt-4">
            <div class="row">
                <div class="col-12 col-md-12 ">
                    <h3  data-toggle="collapse" data-target="#terms" aria-expanded="false" aria-controls="terms">Condiciones  <i class="icon icon-down"></i></h3>

                </div>
                <div class="col-12 box-details collapse" id="terms">
                    <p>Intermedia Santander Corredora de Seguros Ltda. Las coberturas, condiciones y exclusiones se rigen según lo dispuesto en las condiciones generales depositadas en la SVS para el Seguro Vacaciones Seguras bajo la POL 2 2013 0555. La Compañía que cubre el riesgo es Zurich Santander Seguros de Vida Chile S.A.</p>

                    <p>Zurich Santander Seguros de Vida Chile se encuentra adherida al Código de Autorregulación de las Compañías de Seguros y está sujeta al Compendio de Buenas Prácticas Corporativas, que contiene un conjunto de normas destinadas a promover una adecuada relación de las compañías de seguros con sus clientes. Copia de este compendio se encuentra en la página web www.aach.cl. Asimismo, ha aceptado la intervención del Defensor del Asegurado cuando los clientes le presenten reclamos en relación a los contratos celebrados con ella. Los clientes pueden presentar sus reclamos ante el Defensor del Asegurado utilizando los formularios disponibles en las oficinas de Zurich Santander Seguros de Vida Chile S.A. o a través de la página web www.ddachile.cl .</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}