 {% extends "::acceptance/base.html.twig" %}

{% block body %}
 <div class="row ">
    <div class="col-12">
        <div class="box-error">
            <div class="row">
                <div class="col-12">
                    <div class="border-bottom">
                        <h2 class="text-center">
                            <i><img src="{{ asset('assets/acceptance/images/icon-error.png')}}" class="mr-2" width="40"></i>
                            No logramos enviar tu aceptación de propuesta
                        </h2>
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div class="col-12">
                    <div class="box-message">
                        <p class="text-center ">
                            Inténtalo en unos minutos. Si el error persiste, te recomendamos que te comuniques con nuestra central 
                            telefónica llámando al <b>600 320 3000</b>
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="px-4 pb-4  ">
                        <div class="box-information p-3">
                            <div class="d-flex">
                                <div class="d-flex">
                                    <i class="icon icon-info"></i>
                                </div>
                                <div class="d-flex">
                                    <p class="p-0 m-0">
                                        <b>Horario de atención central telefónica:</b> <br/>
                                        Lunes a Viernes de 08:00 a 21:00 hrs. Sábado, Domingo 
                                        y festivos de 09:00 a 18:00 hrs
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-12">
                    <div class="box-back">
                        <a href="#" class="btn btn-back">Volver a aceptar propuestas</a>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    
</div>
{% endblock %}