{% extends "::acceptance/base.html.twig" %}

{% block body %}
 {% if polizas is iterable and polizas | length > 0 %}
<form action="{{ app.request.uri }}" method="POST" id="proposal">
    <div class="row ">
        <div class="mb-3 box-legal col-12">
            <p>Ya puedes confirmar tu Seguro completamente online que ya se encuentra vigente.</p>
        </div>
    
    </div>
    <div class="row ">
        <div class="col-12">
            <div class="box-pol">
            
                <div class="col-12">
                    <div class="pt-3 pb-4">
                        <div class="box-information p-3">
                            <div class="d-flex">
                                <div class="d-flex">
                                    <i class="icon icon-info"></i>
                                </div>
                                <div class="d-flex">
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="p-0 m-0">
                                                Si desconoces ésta solicitud o ya no la necesitas, solo espera 6 días y se anulará automáticamente.

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            
                <div class="col-12 box-pol-title">
                    <h2>Aceptación de propuestas</h2>
                </div>
                <!-- toogle -->
             

               
                    {% for poliza in polizas %}
                <div class="col-12 box-toogle">
                    <div class="row">
                        <div class="col-12 box-pol-content">
                            <div class=" mx-1 mb-2">
                                <div class="row">
                                    <div class="col-2 col-md pr-0">
                                        <p>
                                            <input type="radio" id="radio-{{poliza.NUMSOLICITUD}}" name="poliza" value="{{poliza.NUMSOLICITUD}}" >
                                            <label for="radio-{{poliza.NUMSOLICITUD}}"></label>
                                        </p>
                                    </div>
                                    <div class="col-10 col-md-11 pl-0 mb-2">
                                        <h3  data-toggle="collapse" data-target="#pol-{{poliza.NUMSOLICITUD}}" aria-expanded="false" aria-controls="pol-1">
                                            {{poliza.NOMBREPRODUCTO}} <i class="icon icon-down"></i>
                                        </h3>
                                        <div class="row mt-3">
                                            <div class="col-6 col-md-4">
                                                <p><strong>Nº solicitud:</strong> {{poliza.NUMSOLICITUD}}</p>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <p><strong>Producto:</strong> {{poliza.NOMBREPRODUCTO}}</p>
                                            </div>
                                            <div class="col-6 col-md-4">
                                                <p><strong>Fecha venta: </strong> {{poliza.FECHAVENTA}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                
                <div class="col-12 box-details collapse" id="pol-{{poliza.NUMSOLICITUD}}">
              
                    <div class="row">
                        <div class="col-12 box-pol-content">
                            <div class="border-bottom">
                                <div class="row">
                                    <div class="col-11 offset-md-1 pl-md-1 ">
                                        <div class="row mb-3">
                                            <div class="col-12">
                                                <h3>Datos del producto</h3>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-8 col-12">
                                                <h4>Producto</h4>
                                                <p>{{poliza.NOMBREPRODUCTO}} {{poliza.DESCRIPCIONPLAN}}</p>
                                            </div>
                                          
                                            <div class="col-md-4 col-12">
                                                <h4>Línea de producto</h4>
                                                <p>{{poliza.DESCFAMILIAPROD}}</p>
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <div class="col-md-4 col-12">
                                                <h4>Fecha venta</h4>
                                                <p>{{poliza.FECHAVENTA}}</p>
    
                                            </div>
                                            <div class="col-md-4 col-12">
                                                <h4>Plan</h4>
                                                <p>{{poliza.DESCRIPCIONPLAN}}</p>
                                            </div>
                                            <div class="col-md-4 col-12">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        {% if poliza.MATRIZ_INTERVINIENTES  is iterable %}
              
                            {% for intervinientes in poliza.MATRIZ_INTERVINIENTES  %}
                             {% if intervinientes.TIPOINTERVINIENTE == 'CONTRATANTE' %}
                        <div class="col-12 box-pol-content  ">
                            <div class="row">
                                <div class="col-11 offset-md-1 pl-md-1 ">
                                    <div class="row mb-3">
                                        <div class="col-12">
                                            <h3>Datos del contratante</h3>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <div class="col-md-8 col-12">
                                            <h4>Nombre y apellidos</h4>
                                            <p>{{intervinientes.NOMINTERVINIENTE}}</p>
                                        </div>
                                        <div class="col-md-4 col-12">
                                            <h4>Rut</h4>
                                            <p>{{intervinientes.RUTINTERVINIENTE | format_rut}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                    {% endfor %}
               

                <!-- end toogle -->
                

                
                <div class="col-12 text-center mb-4 box-btn">
                    <div class="row"> 
                       
                        <div class="col-12">
                            <button class="btn btn-pol" data-submit="accept" type="submit" disabled>CONTINUAR <i class="icon icon-next"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% else %}

<div class="row ">
    <div class="col-12">
        <div class="box-error">
            <div class="row">
                <div class="col-12">
                    <div class="border-bottom">
                        <h2 class="text-center">
                            <i><img src="{{ asset('assets/acceptance/images/icon-ticket-ok.png')}}" class="mr-2" width="40"></i>
                            No tienes porpuestas pendientes para aceptar 
                        </h2>
                    </div>
                </div>
            </div>

            
            <div class="row">
                <div class="col-12">
                    <div class="box-message">
                        <p class="text-center ">
                            Nuestros sistemas no registran propuestas de seguros pendientes de aceptar.
                        </p>
                        <p  class="text-center ">Si necesitas contratar o cotizar algunos de nuestros seguro, te invitamos a visitar la página de seguros<br/>
                            para informarte a cerca de las coberturas y beneficios que tenemos para ti. </p>
                    </div>
                </div>
                
                <div class="col-12">
                    <div class="box-back">
                        <a href="#" class="btn btn-back px-5">Ir a seguros</a>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
    
</div>

 {% endif %}

<div class="row">
    <div class="col-12">
        <div class="box-pol-terms px-3 py-2  mt-4">
            <div class="row">
                <div class="col-12 col-md-12 ">
                    <h3  data-toggle="collapse" data-target="#terms" aria-expanded="false" aria-controls="terms">Condiciones  <i class="icon icon-down"></i></h3>

                </div>
                <div class="col-12 box-details collapse" id="terms">
                    <p>Intermedia Santander Corredora de Seguros Ltda. Las coberturas, condiciones y exclusiones se rigen según lo dispuesto en las condiciones generales depositadas en la SVS para el Seguro Vacaciones Seguras bajo la POL 2 2013 0555. La Compañía que cubre el riesgo es Zurich Santander Seguros de Vida Chile S.A.</p>

                    <p>Zurich Santander Seguros de Vida Chile se encuentra adherida al Código de Autorregulación de las Compañías de Seguros y está sujeta al Compendio de Buenas Prácticas Corporativas, que contiene un conjunto de normas destinadas a promover una adecuada relación de las compañías de seguros con sus clientes. Copia de este compendio se encuentra en la página web www.aach.cl. Asimismo, ha aceptado la intervención del Defensor del Asegurado cuando los clientes le presenten reclamos en relación a los contratos celebrados con ella. Los clientes pueden presentar sus reclamos ante el Defensor del Asegurado utilizando los formularios disponibles en las oficinas de Zurich Santander Seguros de Vida Chile S.A. o a través de la página web www.ddachile.cl .</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}