 {% extends "::acceptance/base.html.twig" %}

{% block body %}
 <div class="row ">
    <div class="col-12">
        <div class=" box-pol-terms-pdf">
            <form  action="{{ app.request.uri }}" method="POST" id="proposal">
                <div class="row">
                    <div class="col-12">
                        <h4>Detalle de la propuesta</h4>
                    </div>
                    <div class="col-12">
                        <div class="box-pol-terms-pdf-border">
                            
                            <object type="application/pdf" data="{{ path('acceptance_pdf_proposal', {id: id}) }}?#zoom=70&pagemode=none" width='100%' height='700' >
                                <param name="src" value="{{ path('acceptance_pdf_proposal', {id: id}) }}?#zoom=70&pagemode=none" />
                                <param name="type" value="application/pdf" />
                                <param name="width" value="100%" />
                                <param name="height" value="800" />
                                <param name="zoom" value="70%" />
                                <param name="pagemode" value="0" />
                            </object>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <div class="row mt-4">
                            <div class="col-auto  pr-0 ">
                                <label class="box-pol-terms-checkbox" id="proposal-terms">
                                    <input type="checkbox" value="yes" >
                                    <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-md-11 col-xs-10 col-9 ml-0 pl-0 pol-terms text-justify">
                                <p>Declaro haber leído las notas precedentes y acepto en señal de conformidad y acuerdo con todos los
                                    puntos establecidos en este documento. La presente propuesta de seguro es parte integrante de la
                                    póliza de seguro, para todos los efectos legales y contractuales.</p>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-6 col-12 mb-md-0 mb-2">
                                <div class="box-btn text-left">
                                    <button class="btn btn-pol-reject" data-submit="reject" type="submit" >Cancelar</button>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 mb-md-0 mb-2">
                                <div class="box-btn text-right">
                                    <button class="btn btn-pol" data-submit="accept" type="submit" disabled>Aceptar propuesta<i class="icon icon-next"></i></button>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</div>
<div class="row">
    <div class="col-12">
        <div class="box-pol-terms px-3 py-2  mt-4">
            <div class="row">
                <div class="col-12 col-md-12 ">
                    <h3  data-toggle="collapse" data-target="#terms" aria-expanded="false" aria-controls="terms">Condiciones  <i class="icon icon-down"></i></h3>

                </div>
                <div class="col-12 box-details collapse" id="terms">
                    <p>Intermedia Santander Corredora de Seguros Ltda. Las coberturas, condiciones y exclusiones se rigen según lo dispuesto en las condiciones generales depositadas en la SVS para el Seguro Vacaciones Seguras bajo la POL 2 2013 0555. La Compañía que cubre el riesgo es Zurich Santander Seguros de Vida Chile S.A.</p>

                    <p>Zurich Santander Seguros de Vida Chile se encuentra adherida al Código de Autorregulación de las Compañías de Seguros y está sujeta al Compendio de Buenas Prácticas Corporativas, que contiene un conjunto de normas destinadas a promover una adecuada relación de las compañías de seguros con sus clientes. Copia de este compendio se encuentra en la página web www.aach.cl. Asimismo, ha aceptado la intervención del Defensor del Asegurado cuando los clientes le presenten reclamos en relación a los contratos celebrados con ella. Los clientes pueden presentar sus reclamos ante el Defensor del Asegurado utilizando los formularios disponibles en las oficinas de Zurich Santander Seguros de Vida Chile S.A. o a través de la página web www.ddachile.cl .</p>
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}