{% autoescape false %}
<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ax21="http://admintoken.isban.cl/xsd"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:ns="http://ws.isban.cl"
	xmlns:ns1="http://org.apache.axis2/xsd"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://ws.isban.cl">
	<wsp:Policy
		xmlns:wsp="http://www.w3.org/ns/ws-policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		wsu:Id="Sign">
      <wsp:ExactlyOne>
         <wsp:All>
            <sp:AsymmetricBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
               <wsp:Policy>
                  <sp:InitiatorToken>
                     <wsp:Policy>
                        <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                           <wsp:Policy>
                              <sp:RequireThumbprintReference />
                              <sp:WssX509V3Token10 />
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:InitiatorToken>
                  <sp:RecipientToken>
                     <wsp:Policy>
                        <sp:X509Token sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/Never">
                           <wsp:Policy>
                              <sp:RequireThumbprintReference />
                              <sp:WssX509V3Token10 />
                           </wsp:Policy>
                        </sp:X509Token>
                     </wsp:Policy>
                  </sp:RecipientToken>
                  <sp:AlgorithmSuite>
                     <wsp:Policy>
                        <sp:TripleDesRsa15 />
                     </wsp:Policy>
                  </sp:AlgorithmSuite>
                  <sp:Layout>
                     <wsp:Policy>
                        <sp:Strict />
                     </wsp:Policy>
                  </sp:Layout>
                  <sp:IncludeTimestamp />
                  <sp:OnlySignEntireHeadersAndBody />
               </wsp:Policy>
            </sp:AsymmetricBinding>
            <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
               <sp:Policy>
                  <sp:MustSupportRefKeyIdentifier />
                  <sp:MustSupportRefIssuerSerial />
               </sp:Policy>
            </sp:Wss10>
            <sp:SignedParts xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
               <sp:Body />
            </sp:SignedParts>
         </wsp:All>
      </wsp:ExactlyOne>
   </wsp:Policy>

   <wsdl:documentation>Dummy WSS</wsdl:documentation>

   <wsdl:types>
      <xs:schema targetNamespace="http://admintoken.isban.cl/xsd" elementFormDefault="qualified" attributeFormDefault="qualified">
         <xs:complexType name="AdminTokenStub_RespuestaStd">
            <xs:sequence>
               <xs:element name="codRespuesta" type="xs:string" nillable="true" minOccurs="0" />
               <xs:element name="codRespuestaSpecified" type="xs:boolean" minOccurs="0" />
               <xs:element name="descRespuesta" type="xs:string" nillable="true" minOccurs="0" />
               <xs:element name="descRespuestaSpecified" type="xs:boolean" minOccurs="0" />
               <xs:element name="token" type="xs:string" nillable="true" minOccurs="0" />
               <xs:element name="tokenSpecified" type="xs:boolean" minOccurs="0" />
            </xs:sequence>
         </xs:complexType>
      </xs:schema>
      <xs:schema xmlns:ax22="http://admintoken.isban.cl/xsd" targetNamespace="http://ws.isban.cl" elementFormDefault="qualified" attributeFormDefault="qualified">
         <xs:import namespace="http://admintoken.isban.cl/xsd" />
         <xs:element name="getValidarToken">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="cToken" type="xs:string" nillable="true" minOccurs="0" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getValidarTokenResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="ax21:AdminTokenStub_RespuestaStd" nillable="true" minOccurs="0" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getGenerarToken">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="cData" type="xs:string" nillable="true" minOccurs="0" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getGenerarTokenResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="return" type="ax21:AdminTokenStub_RespuestaStd" nillable="true" minOccurs="0" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>

   <wsdl:message name="getGenerarTokenRequest">
      <wsdl:part name="parameters" element="ns:getGenerarToken" />
   </wsdl:message>

   <wsdl:message name="getGenerarTokenResponse">
      <wsdl:part name="parameters" element="ns:getGenerarTokenResponse" />
   </wsdl:message>

   <wsdl:message name="getValidarTokenRequest">
      <wsdl:part name="parameters" element="ns:getValidarToken" />
   </wsdl:message>

   <wsdl:message name="getValidarTokenResponse">
      <wsdl:part name="parameters" element="ns:getValidarTokenResponse" />
   </wsdl:message>

   <wsdl:portType xmlns:wsp="http://www.w3.org/ns/ws-policy" name="ProxyAdmTokenPortType" wsp:PolicyURIs="#Sign">
      <wsdl:operation name="getGenerarToken">
         <wsdl:input wsaw:Action="urn:getGenerarToken" message="ns:getGenerarTokenRequest" />
         <wsdl:output wsaw:Action="urn:getGenerarTokenResponse" message="ns:getGenerarTokenResponse" />
      </wsdl:operation>
      <wsdl:operation name="getValidarToken">
         <wsdl:input wsaw:Action="urn:getValidarToken" message="ns:getValidarTokenRequest" />
         <wsdl:output wsaw:Action="urn:getValidarTokenResponse" message="ns:getValidarTokenResponse" />
      </wsdl:operation>
   </wsdl:portType>

   <wsdl:binding name="ProxyAdmTokenSoap11Binding" type="ns:ProxyAdmTokenPortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="getGenerarToken">
         <soap:operation style="document" soapAction="urn:getGenerarToken" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getValidarToken">
         <soap:operation style="document" soapAction="urn:getValidarToken" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:binding name="ProxyAdmTokenSoap12Binding" type="ns:ProxyAdmTokenPortType">
      <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="getGenerarToken">
         <soap12:operation style="document" soapAction="urn:getGenerarToken" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getValidarToken">
         <soap12:operation style="document" soapAction="urn:getValidarToken" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:binding name="ProxyAdmTokenHttpBinding" type="ns:ProxyAdmTokenPortType">
      <http:binding verb="POST" />
      <wsdl:operation name="getGenerarToken">
         <http:operation location="getGenerarToken" />
         <wsdl:input>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getValidarToken">
         <http:operation location="getValidarToken" />
         <wsdl:input>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>

   <wsdl:service name="ProxyAdmToken">
      <wsdl:port name="ProxyAdmTokenHttpSoap11Endpoint" binding="ns:ProxyAdmTokenSoap11Binding">
         <soap:address location="{{ endpoint }}" />
      </wsdl:port>
      <wsdl:port name="ProxyAdmTokenHttpsSoap11Endpoint" binding="ns:ProxyAdmTokenSoap11Binding">
         <soap:address location="{{ endpoint }}" />
      </wsdl:port>
      <wsdl:port name="ProxyAdmTokenHttpSoap12Endpoint" binding="ns:ProxyAdmTokenSoap12Binding">
         <soap12:address location="{{ endpoint }}" />
      </wsdl:port>
      <wsdl:port name="ProxyAdmTokenHttpsSoap12Endpoint" binding="ns:ProxyAdmTokenSoap12Binding">
         <soap12:address location="{{ endpoint }}" />
      </wsdl:port>
      <wsdl:port name="ProxyAdmTokenHttpsEndpoint" binding="ns:ProxyAdmTokenHttpBinding">
         <http:address location="{{ endpoint }}" />
      </wsdl:port>
      <wsdl:port name="ProxyAdmTokenHttpEndpoint" binding="ns:ProxyAdmTokenHttpBinding">
         <http:address location="{{ endpoint }}" />
      </wsdl:port>
   </wsdl:service>

</wsdl:definitions>
{% endautoescape %}
