<!doctype html>
<html class="no-js" ng-app="portal" >
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Santander | Seguro </title>

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!--link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"-->

    <link rel="stylesheet" href="{{ asset('assets/seguros/styles/main.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/seguros/styles/print.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/seguros/styles/fix.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/featherlight.css') }}">
    
    <script src="{{ asset('assets/seguros/scripts/angular.min.js?v=1.3.7') }}"></script> 

    <script src="{{ asset('assets/seguros/scripts/angular-locale_es-cl.js') }}"></script>
      
    <script src="{{ asset('assets/seguros/scripts/jquery-2.2.4.min.js') }}"></script>
    <!--script src="https://code.jquery.com/jquery-2.2.4.min.js"></script-->
	<script src="{{ asset('assets/seguros/scripts/jquery-ui.js') }}"></script>
	<script src="{{ asset('assets/seguros/scripts/datepicker.js') }}"></script>
	
    <script src="{{ asset('assets/seguros/scripts/jquery.mask.min.js') }}"></script>

    <script src="{{ asset('assets/seguros/scripts/main.js') }}"></script>
    <script src="{{ asset('assets/seguros/scripts/app.js') }}"></script>
    <script src="{{ asset('assets/seguros/scripts/angular.rut.js') }}"></script>
    <script src="{{ asset('assets/seguros/scripts/angular-credit-cards.js') }}"></script>
    
    <script src="{{ asset('/assets/js/featherlight.js') }}" charset="utf-8"></script>
	
    <script> var app = { url : '{{ app.request.getBaseURL() }}', uf: '{{ uf.value }}' };</script>

    {% block googleoptimize %}{% endblock %}
  </head>
  <body>

    <div class="sts-wrapper" >
      <div class="sts-content"> 
        <div class="col-12 text-align-left sts-offset-top-2 sts-offset-bottom-2"> 
          <img src="{{ asset('assets/seguros/images/logo-santander-seguros.png') }}" alt="" />
        </div>
        {% block body %}{% endblock %}
        
        {% if product is defined %}
        <div class="sts-block sts-block--small sts-block--toggle ng-cloak">
            <a href="" class="sts-block--toggle__head">Términos legales <i class="str-icon-flecha-abajo"></i></a>
            <div class="sts-block--toggle__body">
              {{ product.textLegal  | raw  }}
            </div>
        </div>
        {% endif %} 
      </div>
	  	
    </div>
	
    <script type="text/javascript">var utag_data = {};</script>
    <script type="text/javascript">
      (function(a,b,c,d){
      a='//tags.tiqcdn.com/utag/santander/ch-online-banking/dev/utag.js';
      b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
      a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
      })();
    </script>
    <script type="text/javascript" src="{{ asset('assets/seguros/scripts/iframeResizer.contentWindow.min.js') }}" defer></script>
  </body>
</html>