{% extends "PlanificadorBundle::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
   
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/preocupaciones.js') }}"></script>
	<script>
   		var tipo = {{ tipo | raw }}
   		
   	</script>
{% endblock %}
{% block body %}
<div>
{#<div id="buscar" class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-5">
	<div class="col-sm-10 float-right">
    	<input type="text" class="form-control" placeholder="Ingrese datos de busqueda">
    </div>
</div>#}
<h3>Lista de cobertura</h3>
<section class=" row form-horizontal">
	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr >
			
		   	<th>Id</th>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th>Imagen</th>
			<th>Capital</th>
			<th class="td_icon">Editar</th>
			<th class="td_icon">Eliminar</th>		    
		</tr>
	  {% for cober in cobertura %}
		<tr >
		  	<td>{{ cober.Id | raw }}</td>
			<td>{{ cober.Nombre | raw }}</td>
			<td>{{ cober.Descripcion | raw }}</td>
			<td>
				<img src="{{  asset('img/planificador/cobertura/')}}{{cober.imagenTipo}}" alt="" class="img-thumbnail imagenes" >
			</td>
			<td>{{ cober.capital | raw }}</td>
			<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('cobertura',{'id':cober.Id}) }}"><i class="fa fa-upload fa-2x" aria-hidden="true"></i> </a ></td>
			<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('cobertura_eliminar',{'id':cober.Id}) }}"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a></td>
		</tr>
	{% endfor %}
	</table >
</section>
</div>
{% endblock %}