	<div ng-controller="beneficiary" ng-init="initial()" data-min="{{ cargas.min }}" data-max="{{ cargas.max }}"> 

		<div class="sts-block sts-block--small sts-block--icons">
            <div class="sts-animate--fadeIn">
                <span class="sts-block__header-icon sts--icons-secondary"><i class="str-icon-empleados"></i></span>
            </div>

            <div class="sts-text-center offset-bottom-3">
                <div class="sts-h3 sts-text-center sts-text-bold"> Datos de los beneficiarios</div>
                <div class="sts-head__text"><small>Todos los datos son obligatorios</small></div>
            </div>
            
			
			<div class="sts-form--small sts-new">
			
			
				<div class="ng-cloak"  ng-if="error.limit" alert-scroll>
					<div class="sts-alert sts-alert--info" >
						  <span class="sts-alert__icons"><i class="str-icon-informacion"></i></span>
						  <div class="sts-alert__text">
							<p>Debes agregar como mínimo {[{ limit.min }]} y máximo {[{ limit.max }]} beneficiario.</p>
						  </div>
					</div>	
				</div>
				<div class="ng-cloak"  ng-if="error.rut || error.maxapparition || error.capital" alert-scroll>		
					<div class="sts-alert sts-alert--info" >
						  <span class="sts-alert__icons"><i class="str-icon-informacion"></i></span>
						  <div class="sts-alert__text">
							<p  ng-if="error.rut">El RUT ingresado ya existe como titular o carga. </p>
							<!-- p  ng-if="error.conyuge">Sólo puede existir un cónyuge, confirme su información. </p -->
                            <p  ng-if="error.maxapparition">Sólo puede existir un {[{ beneficiary.relationship | lowercase }]}, confirme su información</p>
							<p  ng-if="error.capital">El capital de la suma de los beneficiarios debe ser 100%. </p>
						  </div>
					</div>	
				</div>
				<div class="ng-cloak"  ng-if="errorCapital" alert-scroll>
					<div class="sts-alert  sts-alert--info" >
						  <span class="sts-alert__icons"><i class="str-icon-informacion"></i></span>
						  <div class="sts-alert__text">
							<p>El capital de la suma de los beneficiarios debe ser 100%.</p>
						  </div>
					</div>	
				</div>
				
				
				<div class="sts-form sts-form--nombre" data-error="El nombre es requeridos" >
				   <input type="text" class="sts-form__input " ng-model="beneficiary.name" only-text>
				  <label for="">Nombre</label>
				  <span class="sts-form__line"></span>
				</div>
				<div class="sts-form sts-form--nombre" data-error="El apellido paterno es requerido" >
				   <input type="text" class="sts-form__input " ng-model="beneficiary.lastname1" only-text>
				  <label for="">Apellido Paterno</label>
				  <span class="sts-form__line"></span>
				</div>
				<div class="sts-form sts-form--nombre"  data-error="El apellido materno es requerido">
				   <input type="text" class="sts-form__input " ng-model="beneficiary.lastname2" only-text>
				  <label for="">Apellido Materno</label>
				  <span class="sts-form__line"></span>
				</div>
				<div class="sts-form--date">
				  <label for="">Fecha de nacimiento</label>
				  <div class="sts-parent-select" data-error="La fecha de nacimiento es requerida">
					<div class="sts-form--select">
					  <select class="sts-form--dia" ng-init="selectInit('beneficiary.birthday')"  ng-model="beneficiary.birthday" >
						<option value="0">Día</option>
						{% for i in range(1, 31) %}
						 <option value="{{ i }}">{{ '%02d'|format(i) }}</option>     
						{% endfor %}
					  </select>
					</div>

					<div class="sts-form--select">
					  <select  class="sts-form--mes" ng-model="beneficiary.birthmonth" ng-init="selectInit('beneficiary.birthmonth')">
						<option value="0">Mes</option>
						{% for i in range(1, 12) %}
						 <option value="{{ i }}">{{ '%02d'|format(i) }}</option>     
						{% endfor %}
					  </select>
					</div>

					<div class="sts-form--select">
					  <select  class="sts-form--anio"  ng-model="beneficiary.birthyear" ng-init="selectInit('beneficiary.birthyear')">
						<option value="0">Año</option>
						{% set year =  "now" | date('Y') %}	
						{% for i in range( (year-85), year) %}
						 <option value="{{ i }}">{{ i }}</option>     
						{% endfor %}
					  </select>
					</div>
				  </div>
				</div>
				
				
				<div class="sts-form sts-form--rut" data-error="El rut es inválido">
				  <input type="text" class="sts-form__input " ng-rut maxlength ="12" rut-format="live" ng-model="beneficiary.code">
				  <label for="">Rut</label>
				  <span class="sts-form__line"></span>
				</div>

				<div class="sts-form--select sts-form--parentesco" data-error="El parentesco es requeridos" >
					<label style="display:none">Parentesco</label>
				  <select  ng-model="beneficiary.relationship" ng-init="selectInit('beneficiary.relationship')" relationship>
					<option value="0">Parentesco</option>
					{% for relationship in relationships %}
						<option maxapparition="{{relationship.maxapparition}}">{{ relationship.value }}</option>
					{% endfor %}
				  </select>
				</div>
				
				{% if capital is defined %}
				<div class="sts-form sts-form--capital" data-error="El capital es requeridos" >
				  <input type="text" class="sts-form__input capital" ng-model="beneficiary.capital">
				  <label for="">Capital asignado (%)</label>
				  <span class="sts-form__line"></span>
				</div>
				{% endif %}
				<div class="sts-btns--center">
				  <a href="javascript:void(0);" title="Volver al home" ng-click="actionBeneficiary()"  class="sts-btn sts-btn--second" >
					{[{buttonText}]}
				  </a>
				</div>
			  </div>
		</div>
		<div class=" sts-text-prima offset-top-3">
            <p>Datos del titular</p>
        </div>
		<div class="sts-block sts-block--small ng-cloak" ng-show="user.name">
		  <div class="sts-beneficiario">
			<div class="sts-info">
			  <p class="sts-nombre"><strong>{[{ user.name }]}</strong></p>
			  <p class="sts-fecha">Fecha de nacimiento: 
				<span class="sts-dia">{[{ user.birthday.day | rpad:2 }]}</span>/<span class="sts-mes">{[{ user.birthday.month | rpad:2  }]}</span>/<span class="sts-anio">{[{ user.birthday.year }]}</span>
			  </p>
			  <p class="sts-rut">RUT <span class="sts-dato">{[{ user.code | rut }]}</span></p>
			  <p class="sts-parentesco">Títular</p>
			</div>
		  </div>
		</div>
		 
		<div class="sts-block sts-block--small sts-hide" rel="add-beneficiary" >
		  <div class="sts-alert sts-alert--success">
			<span class="sts-alert__icons"><i class="str-icon-check"></i></span>
			<div class="sts-alert__text">
			  <p>Se agrego una beneficiario en tu plan de seguro.</p>
			</div>
		  </div>
		</div>
		<div ng-if="(beneficiaries | empty) == false">
            <div class=" sts-text-prima offset-top-3">
                <p>Datos de los beneficiarios</p>
            </div>
        </div>
		<div  ng-repeat="beneficiary in beneficiaries" shake-animate>
			<div class="sts-block sts-block--small  ng-cloak" ng-show="beneficiary" >
			  <div class="sts-beneficiario beneficiario-{[{$index}]}" >
				<div class="sts-info">
				  <p class="sts-nombre">
					<strong>{[{ beneficiary.name }]} {[{ beneficiary.lastname1 }]} {[{ beneficiary.lastname2 }]}</strong>
					<input type="hidden" name="insurance[beneficiaries][{[{$index}]}][name]" value="{[{ beneficiary.name }]}">
					<input type="hidden" name="insurance[beneficiaries][{[{$index}]}][lastname1]" value="{[{ beneficiary.lastname1 }]}">
					<input type="hidden" name="insurance[beneficiaries][{[{$index}]}][lastname2]" value="{[{ beneficiary.lastname2 }]}">
				</p>
				  <p class="sts-fecha">Fecha de nacimiento: 
					<span class="sts-dia">{[{ beneficiary.birthday | rpad:2}]}</span>/<span class="sts-mes">{[{ beneficiary.birthmonth |  rpad:2 }]}</span>/<span class="sts-anio">{[{ beneficiary.birthyear}]}</span>
					<input type="hidden" name="insurance[beneficiaries][{[{$index}]}][birthday][day]" value="{[{ beneficiary.birthday }]}">
					<input type="hidden" name="insurance[beneficiaries][{[{$index}]}][birthday][month]" value="{[{ beneficiary.birthmonth }]}">
					<input type="hidden" name="insurance[beneficiaries][{[{$index}]}][birthday][year]" value="{[{ beneficiary.birthyear }]}">		
				  </p>
				  <p class="sts-rut">
					RUT <span class="sts-dato">{[{ beneficiary.code | rut }]}</span>
					<input type="hidden" name="insurance[beneficiaries][{[{$index}]}][code]" value="{[{ beneficiary.code | rut }]}">
				  </p>
				  <p class="sts-parentesco">
					{[{ beneficiary.relationship }]}
					<input type="hidden" name="insurance[beneficiaries][{[{$index}]}][relationship]" value="{[{ beneficiary.relationship }]}">
				  </p>
				  {% if capital is defined %}
				   <p>
					Capital <span class="sts-dato">({[{ beneficiary.capital }]}%)</span>
					<input type="hidden" data-capital="{[{ beneficiary.capital }]}" name="insurance[beneficiaries][{[{$index}]}][capital]" value="{[{ beneficiary.capital }]}">
				  </p>
				  {% endif %}
				 </div>
				<div class="sts-action">
				  <ul class="sts-action__box">
					<li>
					  <a ng-click="editBeneficiary($index)" href="javascript:void(0);"  class="sts-text-links sts-text-links--small" >
						<i class="str-icon-editar2"></i>
						<span>Editar</span>
					  </a>
					</li>
					<li>
					  <a href="#delete-beneficiaries" rel="delete-beneficiaries" ng-click="deleteBeneficiary($index);" class="sts-text-links sts-text-links--small" >
						<i class="str-icon-borrar2"></i>
						<span>Eliminar</span>
					  </a>
					</li>
				  </ul>
				</div>
				
			  </div>
			</div>
		</div>
		
	</div>
    
     <div class="hidden error-box" id="delete-beneficiaries">
                <div class="inset-str-box str-message-error sts-modal-cargas">
                    <div class=" sts-block--small sts-block--icons">
                        <div class="sts-animate--fadeIn">
                            <span class="sts-block__header-icon sts--icons-secondary">
                                <i class="str-icon-alert"></i></span>
                        </div>

                        <div class="sts-text-center offset-bottom-3">
                            <h3 class="sts-h1 sts-text-bold sts-text--center offset-bottom-4">
                                Estás seguro que deseas eliminar el beneficiario asociada a tú seguro?
                            </h3>
                            <div class="sts-text-center-align offset-top-3">
                            <!-- cargas.splice($index,1) -->
                                <a class="sts-btn sts-btn-primary featherlight-close" href="javascript:void(0);" rel="delete-beneficiary">
                                    <span class="text-btn">ACEPTAR</span>
                                </a>&nbsp;
                                <a class="sts-btn sts-btn--second featherlight-close">
                                    <span class="text-btn">Cancelar</span>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            

        </div>
	