	<div ng-controller="carga" ng-init="initial()"  data-min="{{ cargas.min }}" data-max="{{ cargas.max }}"> 
		<div class="sts-block sts-block--small sts-block--icons" >
            <div class="sts-animate--fadeIn">
                <span class="sts-block__header-icon sts--icons-secondary"><i class="str-icon-empleados"></i></span>
            </div>

            <div class="sts-text-center offset-bottom-3">
                <div class="sts-h3 sts-text-center sts-text-bold"> Datos de las cargas</div>
                <div class="sts-head__text"><small>Todos los datos son obligatorios</small></div>
            </div>
            
			

			<div class="sts-form--small sts-new">
			
				<div class=" ng-cloak"  ng-if="error.limit" alert-scroll>
					<div class="sts-alert sts-alert--info" >
						  <span class="sts-alert__icons"><i class="str-icon-informacion"></i></span>
						  <div class="sts-alert__text">
							<p ng-if="limit.min != limit.max">Debes agregar como mínimo {[{ limit.min }]} y máximo {[{ limit.max }]} cargas.</p>
							<p ng-if="limit.min == limit.max">Debes agregar {[{ limit.min }]} carga(s) para poder contratar este seguro </p>
						  </div>
					</div>	
				</div>	
				<div class=" ng-cloak"  ng-if="error.rut || error.conyuge || error.maxapparition" alert-scroll>		
					<div class="sts-alert sts-alert--info">
						  <span class="sts-alert__icons"><i class="str-icon-informacion"></i></span>
						  <div class="sts-alert__text">
							<p  ng-if="error.rut">El RUT ingresado ya existe como carga. </p>
							<!-- p  ng-if="error.conyuge">Sólo puede existir un cónyuge, confirme su información. </p -->
                            <p  ng-if="error.maxapparition">Sólo puede existir un {[{ carga.relationship | lowercase }]}, confirme su información</p>
                         </div>
					</div>	
				</div>
				
				
				<div class="sts-form sts-form--nombre" data-error="El nombre es requerido" >
				   <input type="text" class="sts-form__input " ng-model="carga.name" only-text>
				  <label for="">Nombre</label>
				  <span class="sts-form__line"></span>
				</div>
				<div class="sts-form sts-form--nombre" data-error="El apellido paterno es requerido">
				   <input type="text" class="sts-form__input " ng-model="carga.lastname1" only-text>
				  <label for="">Apellido Paterno</label>
				  <span class="sts-form__line"></span>
				</div>
				<div class="sts-form sts-form--nombre" data-error="El apellido materno es requerido">
				   <input type="text" class="sts-form__input " ng-model="carga.lastname2" only-text>
				  <label for="">Apellido Materno</label>
				  <span class="sts-form__line"></span>
				</div>
				<div class="sts-form--date" >
					
					  <label for="">Fecha de nacimiento</label>
					  <div class="sts-parent-select"  data-error="La fecha de nacimiento es requerida">
						<div class="sts-form--select">
						  <select class="sts-form--dia" ng-init="selectInit('carga.birthday',0)"  ng-model="carga.birthday" >
							<option value="0">Día</option>
							{% for i in range(1, 31) %}
							 <option value="{{ i }}">{{ '%02d'|format(i) }}</option>     
							{% endfor %}
						  </select>
						</div>

						<div class="sts-form--select">
						  <select  class="sts-form--mes" ng-model="carga.birthmonth" ng-init="selectInit('carga.birthmonth',0)">
							<option value="0">Mes</option>
							{% for i in range(1, 12) %}
							 <option value="{{ i }}">{{ '%02d'|format(i) }}</option>     
							{% endfor %}
						  </select>
						</div>

						<div class="sts-form--select">
						  <select  class="sts-form--anio"  ng-model="carga.birthyear" ng-init="selectInit('carga.birthyear',0)">
							<option value="0">Año</option>
							{% set year =  "now" | date('Y') %}	
							{% for i in range( (year-85), year) %}
							 <option value="{{ i }}">{{ i }}</option>     
							{% endfor %}
						  </select>
						</div>
					  </div>
				</div>
				
			
				<div class="sts-form sts-form--rut" data-error="El rut es inválido">
					
				  <input type="text" class="sts-form__input "  ng-model="carga.code" ng-rut maxlength ="12" rut-format="live">
				  <label for="">Rut</label>
				  <span class="sts-form__line"></span>
				</div>

				<div class="sts-form--select sts-form--parentesco" data-error="El parentesco es requerido">
                    <label style="display:none">Parentesco</label>
                    <select  ng-model="carga.relationship" ng-init="selectInit('carga.relationship')" relationship>
                        <option value="0" maxapparition="0">Parentesco</option>
                        {% for relationship in relationships %}
                        <option maxapparition="{{relationship.maxapparition}}">{{ relationship.value }}</option>
                        {% endfor %}
                    </select>
                    
				</div>

				<div class="sts-btns--center">
				  <a href="javascript:void(0);" title="Volver al home" ng-click="actionCarga()"  class="sts-btn sts-btn--second" >
					{[{buttonText}]}
				  </a>
				</div>
			  </div>
		</div>
        <div class=" sts-text-prima offset-top-3">
            <p>Datos del titular</p>
        </div>
        
		<div class="sts-block sts-block--small ng-cloak" ng-show="user.name">
		  <div class="sts-beneficiario">
			<div class="sts-info">
			  <p class="sts-nombre"><strong>{[{ user.name }]}</strong></p>
			  <p class="sts-fecha">Fecha de nacimiento: 
				<span class="sts-dia">{[{ user.birthday.day | rpad:2}]}</span>/<span class="sts-mes">{[{ user.birthday.month | rpad:2 }]}</span>/<span class="sts-anio">{[{ user.birthday.year }]}</span>
			  </p>
			  <p class="sts-rut">RUT <span class="sts-dato">{[{ user.code | rut }]}</span></p>
			  <p class="sts-parentesco">Títular</p>
			</div>
		  </div>
		</div>
		 
		<div class="sts-block sts-block--small sts-hide"  rel="add-carga">
		  <div class="sts-alert sts-alert--success">
			<span class="sts-alert__icons"><i class="str-icon-check"></i></span>
			<div class="sts-alert__text">
			  <p>Se agregó una carga en tu plan de seguro.</p>
			</div>
		  </div>
		</div>
        
        
        <div ng-if="(cargas | empty) == false">
            <div class=" sts-text-prima offset-top-3">
                <p>Datos de las cargas</p>
            </div>
          
        </div>
		<div  ng-repeat="carga in cargas "  shake-animate>
			<div class="sts-block sts-block--small  ng-cloak" ng-show="carga" >
			
			  <div class="sts-beneficiario carga-{[{$index}]}">
				<div class="sts-info">
				  <p class="sts-nombre">
					<strong>{[{ carga.name }]} {[{ carga.lastname1 }]} {[{ carga.lastname2 }]}</strong>
					<input type="hidden" name="insurance[cargas][{[{$index}]}][name]" value="{[{ carga.name }]}">
					<input type="hidden" name="insurance[cargas][{[{$index}]}][lastname1]" value="{[{ carga.lastname1 }]}">
					<input type="hidden" name="insurance[cargas][{[{$index}]}][lastname2]" value="{[{ carga.lastname2}]}">
				  </p>
				  
				 
				  <p class="sts-fecha">Fecha de nacimiento: 
					<span class="sts-dia">{[{ carga.birthday | rpad:2}]}</span>/<span class="sts-mes">{[{ carga.birthmonth |  rpad:2 }]}</span>/<span class="sts-anio">{[{ carga.birthyear}]}</span>
					<input type="hidden" name="insurance[cargas][{[{$index}]}][birthday][day]" value="{[{ carga.birthday }]}">
					<input type="hidden" name="insurance[cargas][{[{$index}]}][birthday][month]" value="{[{ carga.birthmonth }]}">
					<input type="hidden" name="insurance[cargas][{[{$index}]}][birthday][year]" value="{[{ carga.birthyear }]}">		
				  </p>
				  <p class="sts-rut">
					RUT <span class="sts-dato">{[{ carga.code | rut }]}</span>
					<input type="hidden" name="insurance[cargas][{[{$index}]}][code]" value="{[{ carga.code | rut }]}">
				  </p>
				  <p class="sts-parentesco">
					{[{ carga.relationship }]}
					<input type="hidden" name="insurance[cargas][{[{$index}]}][relationship]" value="{[{ carga.relationship }]}">
				  </p>
				 </div>
				<div class="sts-action">
				  <ul class="sts-action__box">
					<li>
					  <a href="javascript:void(0);"  ng-click="editCarga($index)" class="sts-text-links sts-text-links--small" >
						<i class="str-icon-editar2"></i>
						<span>Editar</span>
					  </a>
					</li>
					<li>
					  <a href="#delete-cargas" rel="delete-cargas" ng-click="deleteCarga($index);" class="sts-text-links sts-text-links--small" >
						<i class="str-icon-borrar2"></i>
						<span>Eliminar</span>
					  </a>
					</li>
				  </ul>
				</div>
				
			  </div>
			</div>
		</div>
        
        

	</div>
    
    <div class="hidden error-box" id="delete-cargas">
            
                <div class="inset-str-box str-message-error sts-modal-cargas">
                    <div class=" sts-block--small sts-block--icons">
                        <div class="sts-animate--fadeIn">
                            <span class="sts-block__header-icon sts--icons-secondary">
                                <i class="str-icon-alert"></i></span>
                        </div>

                        <div class="sts-text-center offset-bottom-3">
                            <h3 class="sts-h1 sts-text-bold sts-text-center-align offset-bottom-4">
                                Estás seguro que deseas eliminar la carga asociada a tú seguro?
                            </h3>
                            <div class="sts-text-center-align offset-top-3">
                            <!-- cargas.splice($index,1) -->
                                <a class="sts-btn sts-btn-primary featherlight-close" href="javascript:void(0);" rel="delete-carga">
                                    <span class="text-btn">ACEPTAR</span>
                                </a>&nbsp;
                                <a class="sts-btn sts-btn--second featherlight-close">
                                    <span class="text-btn">Cancelar</span>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            

        </div>
	