

<div class="sts-head-title">
  <h2 class="sts-head__title">Declaración personal de salud del beneficiario</h2>
  <p class="sts-head__text">Todos los datos son obligatorios</p> 
</div>

<div class="sts-block sts-block--small">
  <div class="sts-block__head sts-questions_block">
	<div class="row">
	  <div class="col-sm-6 col-xs-12">
		<div class="sts-form sts-form--min sts-form--active" data-error="El dato es requerido">
		  {{form_widget(form.questions.weight.answer, { 'attr': { 'class': 'sts-form__input kg', 'rel':'required',  'ng-model':'question.weight', 'placeholder':'KG', 'maxlength': '3'} } )}}
		 
		  <label for="">¿Cuál es el peso del Beneficiario?</label>
		  <span class="sts-form__line"></span>
		</div>
         {{form_widget(form.questions.weight.question )}}
	  </div>

	  <div class="col-sm-6 col-xs-12">
		<div class="sts-form sts-form--min sts-form--active" data-error="El dato es requerido">
		{{form_widget(form.questions.height.answer, { 'attr': { 'class': 'sts-form__input cm', 'rel':'required',  'ng-model':'question.height', 'placeholder':'CMS.' , 'maxlength': '3'} } )}}
		
		 <label for="">¿Cuánto mide el beneficiario?</label>
		  <span class="sts-form__line"></span>
		</div>
        {{form_widget(form.questions.height.question )}}	
	  </div>
	</div>
  </div>

  <div class="sts-block__body">
	<div class="sts-block__body-inner">
	  <div class="sts-scroll--vertical">
		<div class="sts-small-text"> 
		  <p>Declaro estar en conocimiento acerca de que, en conformidad con la normativa legal vigente y con lo establecido en las condiciones generales de la póliza que rige la cobertura, es mi deber declarar sinceramente todas aquellas circunstancias relativas a mi estado pasado y actual de salud que puedan afectar el riesgo que asumirá la compañía y que pueden constituir una restricción, limitación o exclusión de cobertura. Declaro también que hasta esta fecha no me ha sido diagnosticada y que no tengo conocimiento de tener diabetes, enfermedades al riñon, enfermedades cardíacas, hipertensión arterial, enfermedades coronarias o soplos cardíacos, arritmias, sobrepeso u obesidad, enfermedades del pulmón, cáncer, hepatitis (excepto hepatitis a), enfermedades gastrointestinales como cirrosis hepática, ulcera gástrica, colitis ulcerosa; enfermedades hematológicas como leucemia, linfoma o anemia (excepto por falta de fierro); desórdenes nerviosos o mentales, vih positivo/sida, síndrome de down y enfermedades neurológicas como accidentes vasculares cerebrales, epilepsia y enfermedad de alzheimer, cualquier otra enfermedad, anormalidad, defecto o lesión que pueda afectar el riesgo que solicito asumir por este acto a la compañía. En caso de padecer o haber padecido alguna de las enfermedades señaladas precedentemente, declaro sinceramente que ella correspondió a:</p>
		</div>  
	  </div>

	  <div class="sts-parents">
		<div class="sts-form-wrap">
		  <label class="sts-text-small">¿Está en conocimiento de padecer alguna enfermedad, mencionada o no en la declaración?</label>
		  <div class="sts-form--inline">
			<div class="sts-form--radio">
			  <input id="si" type="radio" value="Si" data-show="si" >
			  <label for="si">
				<span class="sts-form__checked"></span>
				<span class="sts-form__label">Si</span>
			  </label>
			</div>

			<div class="sts-form--radio">
			  <input id="no" type="radio" value="No" data-show="no" checked>
			  <label for="no">
				<span class="sts-form__checked"></span>
				<span class="sts-form__label">No</span>
			  </label>
			</div>
		  </div>
		</div>

		<div class="sts-count-text sts-hide sts-cont" data-content="si" >
		  <div class="sts-form sts-form--medium"  data-error="El dato es requerido"> 
			{{form_widget(form.questions.disease.answer, { 'attr': { 'type':'text','maxlength':'300','class':'sts-form__input sts-count-text textfield'} } )}}
			
			<label for="">Declarar</label>
			<span class="sts-form__line"></span>
		  </div>
          {{form_widget(form.questions.disease.question )}}
		  <span class="sts-count"><span class="sts-text-count counter">0</span> / 300</span>
		</div>
	  </div>
	</div>
  </div>
</div>



<div class="sts-head-title">
  <h2 class="sts-head__title">Autorización especial de salud</h2>
</div>



<div class="sts-block sts-block--small">

  <div class="sts-block__body">
	<div class="sts-block__body-inner">
	  <p>Se deja expresa constancia que el seguro propuesto no cubre la muerte con ocasión de la participación de cualquiera de las actividades o deportes riesgosos arriba señalados.</p>
	  <div class="sts-scroll--vertical">
		<div class="sts-small-text"> 
		  <p>Declaro asimismo que acepto y que estoy en conocimiento que en caso de que el siniestro se produzca por algunas de las enfermedades indicadas en esta solicitud así como aquellas que especialmente he declarado, la compañía no otorga cobertura y por tanto, no estará obligada a pagarlo.</p>
		</div>  
	  </div>

	  <div class="sts-form--checkbox sts-form--legal" data-error="Debes autorizar la declaración">
		{{ form_widget(form.questions.accept.answer, {attr: {id: 'autorizacion','required':'required', "ng-model": 'questions.accept'}}) }}
		 {{ form_widget(form.questions.accept.question) }} 
		
		<label for="insurance_questions_accept_answer">
		  <span class="sts-form__checked"></span>
		  <span class="sts-form__label"></span>
		</label>
		
		<div class="sts-links-modal">
		  <a class="sts-text-links sts-color--base" href="" data-modal="autorizacion">He leído y acepto la autorización especial de salud</a>
		</div>
	  </div>
	</div>
  </div>
</div>

<div class="sts-modal" id="autorizacion">
  <div class="sts-modal__content">
	<a href="" data-modal="close" class="sts-modal__close"><i class="str-icon-cerrar2"></i></a>

	<div class="sts-autorizacion">
      <div class="sts__autoriza">
		<h3 class="sts-h4">Autorización especial de salud:</h3>
		 <p>Conforme a lo señalado en el artículo 61 del DFL N° 251 de 1931, sobre actividad aseguradora, 
          autorizo a la compañía de seguros para requerir antecedentes adicionales sobre el estado de salud de los propuestos asegurados 
          y autorizo a instituciones hospitalarias, laboratorios, médicos y demás personas que los hayan asistido o examinado, a proporcionar -a solicitud de la compañía-, todos los datos o antecedentes clínicos que tengan o hayan conocido con motivo de haberles prestado atención o servicios de salud.</p>
	  </div>

	  
	</div>
  </div>
</div>

<div class="sts-modal-backdrop" data-modal="close"></div>