	
	<div class="sts-block sts-block--small sts-block--icons">
        <div class="sts-animate--fadeIn">
            <span class="sts-block__header-icon sts--icons-secondary"><i class="str-icon-hipoteca"></i></span>
        </div>

        <div class="sts-text-center offset-bottom-3">
            <div class="sts-h3 sts-text-center sts-text-bold"> Datos de la propiedad ha asegurar</div>
            <div class="sts-head__text"><small>Todos los datos son obligatorios</small></div>
        </div>
	  <div class="sts-form--small">
		<div class="sts-form" data-error="La dirección es requerida">
		  {{ form_widget(form.home.address, { 'attr': {'ng-model': 'home.address', 'class': 'sts-form__input', 'rel':'required'} }) }}
		  <label for="">Dirección</label>
		  <span class="sts-form__line"></span>
		</div>
		<div class="sts-form--select" data-error="La ciudad es requerida">
		  {{ form_widget(form.home.address_city, { 'attr': {'ng-model': 'home.address_city', 'rel':'required','ng-change':'home.address_state=0', 'ng-init':'selectInit("home.address_city")', 'required': 'required'} }) }}
		  <label for="" style="display:none">Ciudad</label>
		</div>
		<div class="sts-form--select" data-error="La comuna es requerida">
		  {{ form_widget(form.home.address_state, { 'attr': { 'ng-model': 'home.address_state','rel':'required', 'ng-init':'selectInit("home.address_state")', 'required': 'required'} }) }}
		  <label for="" style="display:none">Comuna</label>
		</div>
	  </div>
	</div>
