{% extends 'form_div_layout.html.twig' %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        {%- for error in errors -%}
            <span>{{ error.message }}</span><br>
        {%- endfor -%}
    {%- endif -%}
{%- endblock form_errors -%}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if required %}
                <sup class="red">*</sup>
            {% endif %}
            {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}:
        </label>
    {%- endif -%}
{%- endblock form_label -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{% block form_row %}
{% spaceless %}
    <div class="myrow">
        <div class="mytd datos-persona-item">
            {{ form_label(form) }}
        </div>
        {% if not form.vars.valid %}
            <div class="mytd datos-persona-inputs error">
                {{ form_widget(form) }}
                <!-- span class="icon-x"></span -->
            </div>
        {% else %}
            {{ form_widget(form) }}
        {% endif %}
    </div>
    {% if not form.vars.valid %}
        <div class="myrow">
            <div class="mytd datos-persona-item"></div>
            <div class="mytd datos-persona-inputs error">
                {{ form_errors(form) }}
            </div>
        </div>
    {% endif %}
{% endspaceless %}
{% endblock form_row %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('field_widget') }}
    {% else %}
        <div {{ block('widget_container_attributes') }} class="dates">
            <div class="datetime_widget">
                {{ form_widget(form.day) }}/{{ form_widget(form.month) }}/{{ form_widget(form.year) }}
            </div>
        </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block telephone_widget %}
    {{ form_widget(form.code, {attr: {class: 'regular-select cel digits', 'data-value': form.vars.value.code}}) }}
    {{ form_widget(form.telephone, {attr: {class: 'regular-input cel digits telefono', 'data-value': form.vars.value.telephone}}) }}
{% endblock %}

{% block cellphone_widget %}
    {{ form_widget(form.code, {attr: {class: 'regular-select cel', 'data-value': form.vars.value.code}}) }}
    {{ form_widget(form.telephone, {attr: {class: 'regular-input cel digits telefono', 'data-value': form.vars.value.telephone}}) }}
{% endblock %}

{% block _campaign_select_plans_widget %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}> 
    {% for group_label, choice in choices %}
        {% if choice is iterable %}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>
                {% if choice is selectedchoice(value) %}
                    ({{ choice.value }})
                {% endif %}
                {% if choice.data.product is defined %}   
                    {{ choice.data.product.name }} -
                {% endif %}
                {{ choice.label }}
            </option>
        {% endif %}
    {% endfor %}
    </select>
{% endblock %}