<!--INFORMACION DE LOS BOTONES -->
<!--<div class="col-6 xs">
    {{ product.description | raw }}
    <div class="row text-center">
        {% if product.isFraud %}
            <a href="{{ path_token('fraud_insurance', {id: product.id}) }}" class="button-solicitar inline-block hidden-sm">Cotizar</a>
        {% elseif product.redirectUrl | length > 0 %}
            <a target="_blank" href="{{ product.redirectUrl }}" class="button-solicitar inline-block hidden-sm">Cotizar</a>
        {% else %}
            <a href="{{ path_token('details_insurance', {id: product.id}) }}" class="button-solicitar inline-block hidden-sm">Cotizar</a>
        {% endif %}

        {% if product.hasButtonHelp %}
            <a href="#" class="button-solicitar black inline-block hidden-sm"> <img src="{{ asset('assets/img/icons/icon-phone-white.png') }}">Te Ayudamos</a>
        {% endif %}
    </div>
</div>
-->
<div class="beneficios-seguro">
            <div class="row">
            <!--texto de beneficios-->
                <div class="col-6 xs">
                    <h3 class="title-beneficio">Beneficios de tu seguros</h3>
                        <!--trae lista lista li por defecto-->
                        {{ product.description | raw }}

                </div>
            <!--fin texto de beneficio-->
            <!--inicio de botones-->
                <div class="col-6 xs hidden-sm">
                    <div class="row text-center">
                        <div class="col-6 xs">
                            <span class="icon-llamar"></span>
                            <a id="clicktocall" class="button-solicitar btn-llamar"> Te llamamos </a>
                        </div>
                        <div class="col-6 xs">
                            <span class="icon-cotizar"></span>
                             {% if product.isFraud %}
                            <a href="{{ path_token('fraud_insurance', {id: product.id}) }}" class="button-solicitar">Cotizar</a>
                        {% elseif product.redirectUrl | length > 0 %}
                            <a target="_blank" href="{{ product.redirectUrl }}" class="button-solicitar">Cotizar</a>
                        {% else %}
                            <a href="{{ path_token('details_insurance', {id: product.id}) }}" class="button-solicitar">Cotizar</a>
                        {% endif %}
                        </div>

                        <p class="text-small">Sin trámites ni papeles, quedarás asegurado inmediatamente.</p>
                    </div>
                    
                    <div class="second-box">
                        <div class="row">
                            <div class="col-6 xs">
                                <p class="text-right">¿Necesita <br> más información?</p>
                            </div>
                            <div class="col-6 xs">
                                <p class="llamar-vox">Llámenos al <br>(600) 320 3000</p>
                            </div>
                        </div>
                    </div>
                </div>
            <!--fin de botones-->
            </div>
</div>


<!--TRAER LOS ICONOS SECCION ASISTENCIA
<div class="col-6 xs">
    <div class="title-less">
        <p>Contamos con las mejores asistencias en:</p>
    </div>
    <ul class="items-seguros row">
        {% for assist in assists %}
            <li class="col-4 col-sm-6">
              <a href="#;">
                <span class="icon-seguro">
                  <img src="{{ asset('img/assist/' ~ assist.icon) }}">
                </span>
                <h6>{{ assist.name }}</h6>
                <div class="tooltip">
                  <p>{{ assist.description }}</p>
                </div>
              </a>
            </li>
        {% endfor %}
    </ul>
</div>
-->

<div class="row">
            <div class="col-sm-12">
                <div class="title-less">
                    <p class="subtitle-seguro">Contamos con las mejores asistencias en:</p>
                </div>
            </div>
            <ul class="items-seguros row">
                {% for assist in assists %}
                <li class="col-2">
                    <a href="#;">
                        <span class="icon-seguro">
                            <img src="{{ asset('img/assist/' ~ assist.icon) }}">
                        </span>
                        <h6>{{ assist.name }}</h6>
                        <div class="tooltip">
                            <p>{{ assist.description}}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
</div>