<!--TRAER LOS ICONOS SECCION ASISTENCIA
<div class="col-6 xs">
    <div class="title-less">
        <p>Contamos con las mejores asistencias en:</p>
    </div>
    <ul class="items-seguros row">
        {% for assist in assists %}
            <li class="col-4 col-sm-6">
              <a href="#;">
                <span class="icon-seguro">
                  <img src="{{ asset('img/assist/' ~ assist.icon) }}">
                </span>
                <h6>{{ assist.name }}</h6>
                <div class="tooltip">
                  <p>{{ assist.description }}</p>
                </div>
              </a>
            </li>
        {% endfor %}
    </ul>
</div>
-->
<div class="row">
            <div class="col-sm-12">
                <div class="title-less">
                    <p class="subtitle-seguro">Contamos con las mejores asistencias en:</p>
                </div>
            </div>
            <ul class="items-seguros row">
                {% for assist in assists %}
                <li class="col-2">
                    <a href="#;">
                        <span class="icon-seguro">
                            <img src="{{ asset('img/assist/' ~ assist.icon) }}">
                        </span>
                        <h6>{{ assist.name }}</h6>
                        <div class="tooltip">
                            <p>{{ assist.description}}</p>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
</div>

