<!--INFORMACION DE LOS BOTONES -->
<!--<div class="col-6 xs">
    {{ product.description | raw }}
    <div class="row text-center">
        {% if product.isFraud %}
            <a href="{{ path_token('fraud_insurance', {id: product.id}) }}" class="button-solicitar inline-block hidden-sm">Cotizar</a>
        {% elseif product.redirectUrl | length > 0 %}
            <a target="_blank" href="{{ product.redirectUrl }}" class="button-solicitar inline-block hidden-sm">Cotizar</a>
        {% else %}
            <a href="{{ path_token('details_insurance', {id: product.id}) }}" class="button-solicitar inline-block hidden-sm">Cotizar</a>
        {% endif %}

        {% if product.hasButtonHelp %}
            <a href="#" class="button-solicitar black inline-block hidden-sm"> <img src="{{ asset('assets/img/icons/icon-phone-white.png') }}">Te Ayudamos</a>
        {% endif %}
    </div>
</div>
-->
<div class="beneficios-seguro">
            <div class="row">
            <!--texto de beneficios-->
                <div class="col-6 xs">
                    <h3 class="title-beneficio">Beneficios de tu seguro</h3>
                        <!--trae lista lista li por defecto-->
                       
                         {{ desc | raw  }}
                         
                        
                </div>
            <!--fin texto de beneficio-->
            <!--inicio de botones-->
                <div class="col-6 xs hidden-sm">
                {% if product.buttonHelp != 1 or product.IdClicktocall == "" or product.UrlClicktocall == "" or product.GlosaClicktocall==""  %}
                    <div class="row text-center no-disponible">
                {% else %}
                    {% if fecha['hours'] < 9 or fecha['hours'] > 18 %}
                        <div class="row text-center no-disponible">
                    {% else %}
                    {% if fecha['wday'] == 0 or fecha['wday'] == 6 %}
                        <div class="row text-center no-disponible">
                    {% endif %}
                        <div class="row text-center">
                    {% endif%}
                {% endif%}
                        
                        <div class="col-6 xs">
                            <span class="icon-llamar"></span>
                            <a id="clicktocall" class="button-solicitar btn-llamar"> Te llamamos </a>
                        </div>
                    {% if product.permiteCotizar== true %}
                        <div class="col-6 xs">
                            <span class="icon-cotizar"></span>
                             {% if product.isFraud %}
                            <a href="{{ path_token('fraud_insurance', {id: product.id}) }}" class="button-solicitar">Cotizar</a>
                        {% elseif product.redirectUrl | length > 0 %}
                            <a target="_blank" href="{{ product.redirectUrl }}" class="button-solicitar">Cotizar</a>
                        {% else %}
                            <a href="{{ path_token('details_insurance', {id: product.id}) }}" class="button-solicitar">Cotizar</a>
                        {% endif %}
                        </div>
                      <p class="text-small">Sin trámites ni papeles, quedarás asegurado inmediatamente.</p>
                        {% endif %}
                    
                    </div>
                    
                    <div class="second-box">
                        <div class="row">
                            <div class="col-6 xs">
                                <p class="text-right">¿Necesita <br> más información?</p>
                            </div>
                            <div class="col-6 xs">
                                <p class="llamar-vox">Llámenos al<br>(600) 320 3000</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="second-box">
                        <div class="row">
                            <div class="box-btn-right clearfix">
                                <a href="javascript:history.back(1)" class="btn-volver-detalle">Volver</a>
                            </div>
                        </div>
                    </div>
                </div>
            <!--fin de botones-->
            </div>
</div>
