
<!--INICIO DE BANNER DEL SITIO-->
<div class="col-12 hidden-sm bkg-banner-simulador gray">
    <img class="banner" src="{{ asset('img/product/' ~ product.image) }}" />
    {% if product.imageSubtitle is not empty %}
        <div class="imageSubtitle">
            <h3 class="red">{{ product.imageSubtitle }}</h3>
            <h2 class="black">{{ product.name }}</h2>
        </div>
    {% endif %}
    {% if product.imageTitle is not empty %}
        <div class="corners">
            <h1>{{ product.imageTitle }}</h1>
            {{ include('partials/brackets.html.twig') }}
        </div>
    {% endif %}
</div>
