 <div class="col-12 bkg-banner-simulador" style="display: none;">
 <div class="carousel slide">
  <div class="single item" role="listbox">  
   {% for bann in banner %}
    <div >
    <a href="{{relative_path(bann.url)}}">
      <img src="{{ asset('img/banners/' ~ bann.image) }}" alt="">
        <div class="corners">
            <h1>{{ bann.title }}</h1>
            <div class="bajada">{{ bann.subtitle }}</div>
            {% if bann.title | trim or  bann.subtitle | trim %}
                {{ include('partials/brackets.html.twig') }}
            {% endif %}
        </div>
    </a>
    </div>

    {% endfor %}
  </div>
</div>

    {#
    {% if banner.url %}
        <a href={{relative_path(banner.url)}}>
    {% endif %}
    #}
        
        {#<img class="banner" src="{{ asset('img/banners/' ~ banner.image) }}" alt="">
            {% if banner.title > "" %}
                <div class="corners">
                    <h1>{{ banner.title }}</h1>
                    <div class="bajada">{{ banner.subtitle }}</div>
                    {{ include('partials/brackets.html.twig') }}
                </div>
            {% endif %}#}
    {#{% if banner.url %}
        </a>
    {% endif %}#}
    
    {#
    <div class="corners">
        <h1>{{ banner.title }}</h1>
        <div class="bajada">{{ banner.subtitle }}</div>
        {{ include('partials/brackets.html.twig') }}
    </div>
    #}
</div>
