<span class="corner lt"><img src="{{ asset('assets/img/corner-lt.png') }}" /></span>
<span class="corner lb"><img src="{{ asset('assets/img/corner-lb.png') }}" /></span>
<span class="corner rt"><img src="{{ asset('assets/img/corner-rt.png') }}" /></span>
<span class="corner rb"><img src="{{ asset('assets/img/corner-rb.png') }}" /></span>