<div class="mytable cellpadding box-coberturas">
    <div class="myrow">
        <div class="mytd cobertura-item titulo">
            {% block coverage_title %}Coberturas{% endblock %}
        </div>
        <div class="mytd cobertura-valor titulo">Capital</div>
    </div>
    {% verbatim %}
    <div class="myrow" ng-repeat="coverage in cober  | orderBy:'id':false" >

        <div class="mytd text-black cobertura-item">{{ coverage.name  }}</div>
        <div class="mytd cobertura-valor">UF {{ coverage.capital | number }}</div>
    </div>
    {% endverbatim %}
</div>
