<div class="mytable cellpadding box-coberturas">
    <div class="myrow">
        <div class="mytd cobertura-item titulo">
            {% block coverage_title %}Coberturas del plan y opciones de renta anual {% endblock %}
        </div>
        </div>
    {% verbatim %}
    <div class="myrow" ng-repeat="coverage in cober  | orderBy:'coverage':true " >

        <div class="mytd text-black cobertura-item">{{ coverage.name  }}</div>
        
    </div>
    {% endverbatim %}
</div>
