<div class="mytable cellpadding box-coberturas" ng-show="(coverages | filter:filterCoverage).length > 0 | orderBy:'coverages.capital':true ">
    <div class="myrow">
        <div class="mytd cobertura-item titulo">
            {% block coverage_title %}Coberturas{% endblock %}
        </div>
        <div class="mytd cobertura-valor titulo">Capital</div>
    </div>
    {% verbatim %}
    <div class="myrow" ng-repeat="coverage in coverages | orderBy:'--capital' | filter:filterCoverage ">
        <div  class="mytd text-black cobertura-item">
            <input id="cober" data-valor="{{ coverage.id }}" type="radio" class="cant-asegurados" ng-click="checked(coverage.id)" name="cober" ng-checked="$first">{{ coverage.name  }}
        </div>
        <div ng-if="coverage.capital != 0" class="mytd cobertura-valor">UF {{ coverage.capital | number }}</div>
        <div ng-if="coverage.capital == 0" class="mytd cobertura-valor"><input id="cober" type="radio" class="checkred" checked blocked disabled></div>
    </div>
    {% endverbatim %}
</div>
<br>

