{{ include('partials/progress.html.twig', {current: step}) }}
<div class="col-9 xs title">
    <div class="mytable">
      <div class="myrow">
        <div class="mytd icon">
          <img src="{{ asset(icon) }}" />
        </div>
        <div class="mytd">
          <h1>{{ title }}</h1>
        </div>
      </div>
    </div>
</div>
