{% if idplan!=0 %}
    {% set init = idplan %}
{% else %}
    {% set init = form.plan.vars.value  %}
{% endif %}
<div class="col-12 clearfix" ng-init="planToggle({{ init }})" id="plans">
    <div class="own-carousel-menu">
        {% for plan in plans %}
            {% if plan.description is empty %}
                <div class="item" ng-click="planToggle({{ plan.id }})">
            {% else %}
                <div class="item plan" ng-click="planToggle({{ plan.id }})" title="{{ plan.description }}">
            {% endif %}
                {% if init == plan.id %}
                    <div data-valor="{{ plan.id }}" id="plan" class="menu-item-plan active">
                {% else %}
                    <div data-valor="{{ plan.id }}" id="plan" class="menu-item-plan">
                {% endif %}
                    <p><strong>{{ plan.name | truncate(20) }}</strong></p>
                    <span class="prima"> Desde: {{ plan.price | monthly(uf.value) }} (UF {{ plan.price | number_format(2, ',', '.') }})
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
