
<div class="col-12 clearfix" ng-init="planToggle({{ form.plan.vars.value }})" id="plans">
    <div class="own-carousel-menu">
        {% for plan in plans %}
            {% if plan.description is empty %}
                <div class="item" ng-click="planToggle({{ plan.id }})">
            {% else %}
                <div class="item plan" ng-click="planToggle({{ plan.id }})" title="{{ plan.description }}">
            {% endif %}
                {% if form.plan.vars.value == plan.id %}
                    <div data-valor="{{ plan.id }}" id="plan" class="menu-item-plan active">
                {% else %}
                    <div data-valor="{{ plan.id }}" id="plan" class="menu-item-plan">
                {% endif %}
                    <p><strong>{{ plan.name | truncate(20) }}</strong></p>
                 {% for cov in cover %}
                    {% for c in cov %}
                        {% if plan.id ==  c.plan.id  %}
                        <!--<span  ng-if="edad  >= {{c.start}} && edad  <= {{c.finish}}"> Desde:{% set total= (uf.value*c.price)|number_format(0, ',', '.') %}{{ total }}</span>-->
                        {% endif %}
                    {% endfor %}            
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>
