<div class="col-3 xs fRight">
    <ul class="steps">
        {% for step in 1..3 %}
            {% if step <= current %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            <span>{{ step }}</span></li>
        {% endfor %}
    </ul>
</div>