<div class="col-8 xs">
    {{ product.description | raw }}
</div>

<div class="col-4 xs text-center">
{% if product.permiteCotizar== true %}
    {% if product.isFraud %}
            <a href="{{ path_token('fraud_insurance', {id: product.id}) }}" class="button-solicitar inline-block hidden-sm">Cotizar</a>
    {% elseif product.redirectUrl | length > 0 %}
        <a target="_blank" href="{{ product.redirectUrl }}" class="button-solicitar inline-block hidden-sm">Cotizar</a>
    {% else %}
        <a href="{{ path_token('details_insurance', {id: product.id}) }}" class="button-solicitar inline-block hidden-sm">Cotizar</a>
    {% endif %}
{% endif %}
    {% if product.hasButtonHelp %}
        <a href="#" class="button-solicitar black inline-block hidden-sm"> <img src="{{ asset('assets/img/icons/icon-phone-white.png') }}">Te Ayudamos</a>
    {% endif %}
</div>

<div class="col-12">
    <div class="second-box">
        <div class="row">
            <div class="box-btn-right clearfix">
                <a href="javascript:history.back(1)" class="btn-volver-detalle">Volver</a>
            </div>
        </div>
    </div>
</div>
