<div class="col-12 clearfix">
    <div class="header-paso">
        <div class="mytable">
            <div class="myrow">
                <div class="mytd img-header">
                    <img src="{{ asset('assets/img/icons/icon-contrato.png') }}" alt="">
                </div>
                <div class="mytd">
                    {% if insurance.plan %}
                        <h2>{{ insurance.plan.name }}</h2>
                    {% else %}
                        <h2>{{ insurance.name }}</h2>
                    {% endif %}
                    <p>Prima: {{ insurance.price | monthly(uf.value) }} (UF {{ insurance.price | number_format(2, ',', '.') }})</p>
                </div>
            </div>
        </div>
    </div>
</div>
