
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Beneficiarios</title>
        <script>{% if _BENEFICIARIES is defined %} var _BENEFICIARIES =  {{ _BENEFICIARIES | json_encode | raw }}; {% endif %}{% if _NO_BENEFICIARIES is defined %} var _NO_BENEFICIARIES =  {{ _NO_BENEFICIARIES | json_encode | raw }}; {% endif %} {% if _NAME is defined %} var _NAME =  {{ _NAME | json_encode | raw }}; {% endif %} {% if _VIDA is defined %} var _VIDA =  {{ _VIDA | json_encode | raw }}; {% endif %} {% if _DATA_PRIMA is defined %} var _DATA_PRIMA =  {{ _DATA_PRIMA | json_encode | raw }}; {% endif %} {% if _PRODUCTS is defined %} var _PRODUCTS =  {{ _PRODUCTS | json_encode | raw }}; {% endif %} {% if _CLP_UF is defined %} var _CLP_UF =  {{ _CLP_UF | json_encode | raw }}; {% endif %} {% if _DATE_UF is defined %} var _DATE_UF =  {{ _DATE_UF | json_encode | raw }}; {% endif %} {% if _MEDICAL_URGENCY is defined %} var _MEDICAL_URGENCY =  {{ _MEDICAL_URGENCY | json_encode | raw }}; {% endif %} {% if _MEDICAL_DENTAL is defined %} var _MEDICAL_DENTAL =  {{ _MEDICAL_DENTAL | json_encode | raw }}; {% endif %} {% if _PLANNER is defined %} var _PLANNER =  {{ _PLANNER | json_encode | raw }}; {% endif %} </script>
    <script type="text/javascript" src="/web20/legos-assets/loading_head.bundle.js?hash=0854234e34cd32a5ec66"></script></head>
    <body>    
        <div id="legos" style="display:none">
    <!-- Module -->
    <div id="legosLifeBeneficiary" class="container">
            <form action="" method="POST" id="formMain" autocomplete="off">
           <div class="row">
               <div class="layout_container col-md-8">
                 <div class="_l-base__section layout_section_barProgress">
                     <div class="layout_section_barProgress__content">
                       <div class="layout_section_barProgress__content__title">
                           <span class="layout_section_barProgress__content__title__circle">2</span> BENEFICIARIOS
                       </div>
                       <div class="layout_section_barProgress__content__steps">
                           PASO 2/4
                       </div>
                     </div>
                     <div class="layout_section_barProgress__progress">
                       <span class="step step--active"></span>
                       <span class="step step--active"></span>
                       <span class="step"></span>
                       <span class="step"></span>
                     </div>
                 </div>
                   <!-- ***************************** Layout ***************************** -->
                   <div id="legosBeneficiaryComponent" class="layout layout_section_form container">
                       <div class="layout_form_header row">
                           <div class="mod_title col-9 col-md-10 col-lg-11">
                               <div class="container">
                                   <div class="row">
                                       <span class="subtitle_bold">DATOS DE BENEFICIARIOS</span>
                                   </div>
                                   <div class="row">
                                       <span class="caption caption_normal">Quienes designas para recibir el pago en caso de tu muerte.</span>
                                   </div>
                               </div>
                           </div>
                           <div class="mod_switch col-3 col-md-2 col-lg-1">
                               <label class="switch">
                                   <input type="checkbox" id="module-beneficiary-switch" checked>
                                   <span class="slider round"></span>
                               </label>
                           </div>
                       </div>
                       
                           
                       <div class="row mt-4">
                           <div class="col-md-12">
                               <div class="container">
                                   <!-- ********** message ********** -->
                                   <div class="mod-message msg-info row">
                                       <div class="container">
                                           <div class="row">
                                               <span class="col-auto pr-0">
                                                   <i class="iconbase icon-info"></i>
                                               </span>
                                               <span class="col-10 col-md-10 col-lg-11 caption caption-normal">
                                                   Designa hasta 5 beneficiarios y sus datos de contacto, para que reciban el pago en caso de ser necesario. De lo contrario, los beneficiarios serán tus herederos legales.
                                               </span>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   
   
                       <div class=" layout-form layout_form_container row pb-0">
                           <div class="_form-child" id="child_1">
                               <div class="_line__separator _s-div--disabled"></div>
                               <div class="container">
                                    <div class="row _form-child__header _m-tabs__contents__header px-0">
                                        <div class="col-6">
                                            <span class="text-body_semibold">Beneficiario Nº<span class="_form-child__header__number"></span></span>
                                            
                                        </div>
                                        <div class="col-6 _align-text__right">
                                           
                                            <span class="">
                                                <a id="child_1" href="#" class="_button _button__beneficiary _button__small  btnBeneficiaryRemove">
                                                    <i class="icon-legos-delete"></i>
                                                </a>
                                            </span>
                                            <div class="d-inline-block ml-md-4 ml-1">
                                                <icon class="_icon__medium icon-color__red icon-arrow-head-up collapsible"></icon>
                                            </div>
                                        </div>
                                    </div>
   
                                   <div class="container mb-3">
                                       <div class="row">
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="nombre" class="_input">
                                                   <input class="_input _input__text" maxlength="30" type="text" name="beneficiaryName_1" id="nombre" placeholder="&nbsp;">
                                                   <span class="_input__label">Nombres</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un nombre válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="apellido" class="_input">
                                                   <input class="_input _input__text" maxlength="30" type="text" name="beneficiarySurname_1" id="apellido" placeholder="&nbsp;">
                                                   <span class="_input__label">Apellidos</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un apellido válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="rut" class="_input">
                                                   <input class="_input _input__text" type="text" maxlength="12"  name="beneficiaryRUT_1" id="rut" placeholder="&nbsp;">
                                                   <span class="_input__label">RUT</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help caption caption-normal">Incluya el digito verificador</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un rut válido</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="telefono" class="_input">
                                                   <input class="_input _input__text _input__phone"  maxlength="9" type="text" name="beneficiaryTel_1" id="telefono" placeholder="&nbsp;">
                                                   <span class="_input__label">Teléfono</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__prefix">+56</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa de un número válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="email" class="_input">
                                                   <input class="_input _input__text" type="text" maxlength="30" name="beneficiaryEmail_1" id="email" placeholder="&nbsp;">
                                                   <span class="_input__label">e-mail</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un mail válido</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="inp" class="_input">
                                                   <input class="_input _input__text" type="text" name="beneficiaryINP_1" id="inp"  maxlength="3" placeholder="&nbsp;">
                                                   <span class="_input__label">Porcentaje de beneficio</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help caption caption-normal">La suma de todos debe ser 100%</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Revisa el porcentaje para que todos sumen 100%.</span>
                                               </label>
                                           </div>
                                       </div>
   
                                   </div>
                               </div>
                           </div>
                           
   
   
                           <div class="_form-child _s-forms--disabled" id="child_2">
                               <div class="_line__separator _s-div--disabled"></div>
                               <div class="container">
                                    <div class="row _form-child__header _m-tabs__contents__header px-0">
                                        <div class="col-6">
                                            <span class="text-body_semibold">Beneficiario Nº<span class="_form-child__header__number"></span></span>
                                            
                                        </div>
                                        <div class="col-6 _align-text__right">
                                           
                                            <span class="">
                                                <a id="child_2" href="#" class="_button _button__beneficiary _button__small  btnBeneficiaryRemove">
                                                    <i class="icon-legos-delete"></i>
                                                </a>
                                            </span>
                                            <div class="d-inline-block ml-md-4 ml-1">
                                                <icon class="_icon__medium icon-color__red icon-arrow-head-up collapsible"></icon>
                                            </div>
                                        </div>
                                        
                                    </div>

                                    
   
                                   <div class="container mb-3">
                                       <div class="row">
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="nombre" class="_input">
                                                   <input class="_input _input__text" maxlength="30" type="text" name="beneficiaryName_2" id="nombre" placeholder="&nbsp;">
                                                   <span class="_input__label">Nombres</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un nombre válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="apellido" class="_input">
                                                   <input class="_input _input__text" maxlength="30" type="text" name="beneficiarySurname_2" id="apellido" placeholder="&nbsp;">
                                                   <span class="_input__label">Apellidos</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un apellido válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="rut" class="_input">
                                                   <input class="_input _input__text" type="text" maxlength="12"  name="beneficiaryRUT_2" id="rut" placeholder="&nbsp;">
                                                   <span class="_input__label">RUT</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help caption caption-normal">Incluya el digito verificador</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un rut válido</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="telefono" class="_input">
                                                   <input class="_input _input__text _input__phone"  maxlength="9" type="text" name="beneficiaryTel_2" id="telefono" placeholder="&nbsp;">
                                                   <span class="_input__label">Teléfono</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__prefix">+56</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa de un número válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="email" class="_input">
                                                   <input class="_input _input__text" type="text" maxlength="30" name="beneficiaryEmail_2" id="email" placeholder="&nbsp;">
                                                   <span class="_input__label">e-mail</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un mail válido</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="inp" class="_input">
                                                   <input class="_input _input__text" type="text" name="beneficiaryINP_2" id="inp"  maxlength="3" placeholder="&nbsp;">
                                                   <span class="_input__label">Porcentaje de beneficio</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help caption caption-normal">La suma de todos debe ser 100%</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Revisa el porcentaje para que todos sumen 100%.</span>
                                               </label>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           
                           
                           
                           <div class="_form-child _s-forms--disabled" id="child_3">
                               <div class="_line__separator _s-div--disabled"></div>
                               <div class="container">
                                    <div class="row  _form-child__header  _m-tabs__contents__header px-0">
                                        <div class="col-6">
                                            <span class="text-body_semibold">Beneficiario Nº<span class="_form-child__header__number"></span></span>
                                            
                                        </div>
                                        <div class="col-6 _align-text__right">
                                           
                                            <span class="">
                                                <a id="child_3" href="#" class="_button _button__beneficiary _button__small  btnBeneficiaryRemove">
                                                    <i class="icon-legos-delete"></i>
                                                </a>
                                            </span>
                                            <div class="d-inline-block ml-md-4 ml-1">
                                                <icon class="_icon__medium icon-color__red icon-arrow-head-up collapsible"></icon>
                                            </div>
                                        </div>
                                    </div>
   
                                    <div class="container mb-3">
                                       <div class="row">
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="nombre" class="_input">
                                                   <input class="_input _input__text" maxlength="30" type="text" name="beneficiaryName_3" id="nombre" placeholder="&nbsp;">
                                                   <span class="_input__label">Nombres</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un nombre válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="apellido" class="_input">
                                                   <input class="_input _input__text" maxlength="30" type="text" name="beneficiarySurname_3" id="apellido" placeholder="&nbsp;">
                                                   <span class="_input__label">Apellidos</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un apellido válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="rut" class="_input">
                                                   <input class="_input _input__text" type="text" maxlength="12"  name="beneficiaryRUT_3" id="rut" placeholder="&nbsp;">
                                                   <span class="_input__label">RUT</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help caption caption-normal">Incluya el digito verificador</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un rut válido</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="telefono" class="_input">
                                                   <input class="_input _input__text _input__phone"  maxlength="9" type="text" name="beneficiaryTel_3" id="telefono" placeholder="&nbsp;">
                                                   <span class="_input__label">Teléfono</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__prefix">+56</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa de un número válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="email" class="_input">
                                                   <input class="_input _input__text" type="text" maxlength="30" name="beneficiaryEmail_3" id="email" placeholder="&nbsp;">
                                                   <span class="_input__label">e-mail</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un mail válido</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="inp" class="_input">
                                                   <input class="_input _input__text" type="text" name="beneficiaryINP_3" id="inp"  maxlength="3" placeholder="&nbsp;">
                                                   <span class="_input__label">Porcentaje de beneficio</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help caption caption-normal">La suma de todos debe ser 100%</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Revisa el porcentaje para que todos sumen 100%.</span>
                                               </label>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           
                           
                           
                           <div class="_form-child _s-forms--disabled" id="child_4">
                               <div class="_line__separator _s-div--disabled"></div>
                               <div class="container ">
                                    <div class="row _form-child__header  _m-tabs__contents__header px-0">
                                        <div class="col-6">
                                            <span class="text-body_semibold">Beneficiario Nº<span class="_form-child__header__number"></span></span>
                                            
                                        </div>
                                        <div class="col-6 _align-text__right">
                                           
                                            <span class="">
                                                <a id="child_4" href="#" class="_button _button__beneficiary _button__small  btnBeneficiaryRemove">
                                                     <i class="icon-legos-delete"></i>
                                                </a>
                                            </span>
                                            <div class="d-inline-block ml-md-4 ml-1">
                                                <icon class="_icon__medium icon-color__red icon-arrow-head-up collapsible"></icon>
                                            </div>
                                        </div>
                                    </div>
   
                                    <div class="container mb-3">
                                       <div class="row">
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="nombre" class="_input">
                                                   <input class="_input _input__text" maxlength="30" type="text" name="beneficiaryName_4" id="nombre" placeholder="&nbsp;">
                                                   <span class="_input__label">Nombres</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un nombre válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="apellido" class="_input">
                                                   <input class="_input _input__text" maxlength="30" type="text" name="beneficiarySurname_4" id="apellido" placeholder="&nbsp;">
                                                   <span class="_input__label">Apellidos</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un apellido válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="rut" class="_input">
                                                   <input class="_input _input__text" type="text" maxlength="12"  name="beneficiaryRUT_4" id="rut" placeholder="&nbsp;">
                                                   <span class="_input__label">RUT</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help caption caption-normal">Incluya el digito verificador</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un rut válido</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="telefono" class="_input">
                                                   <input class="_input _input__text _input__phone"  maxlength="9" type="text" name="beneficiaryTel_4" id="telefono" placeholder="&nbsp;">
                                                   <span class="_input__label">Teléfono</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__prefix">+56</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa de un número válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="email" class="_input">
                                                   <input class="_input _input__text" type="text" maxlength="30" name="beneficiaryEmail_4" id="email" placeholder="&nbsp;">
                                                   <span class="_input__label">e-mail</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un mail válido</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="inp" class="_input">
                                                   <input class="_input _input__text" type="text" name="beneficiaryINP_4" id="inp"  maxlength="3" placeholder="&nbsp;">
                                                   <span class="_input__label">Porcentaje de beneficio</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help caption caption-normal">La suma de todos debe ser 100%</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Revisa el porcentaje para que todos sumen 100%.</span>
                                               </label>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           
                           <div class="_form-child _s-forms--disabled" id="child_5">
                               <div class="_line__separator _s-div--disabled"></div>
                               <div class="container">
                                   <div class="row  _form-child__header  _m-tabs__contents__header px-0">
                                        <div class="col-6">
                                            <span class="text-body_semibold">Beneficiario Nº<span class="_form-child__header__number"></span></span>
                                            
                                        </div>
                                        <div class="col-6 _align-text__right">
                                           
                                            <span class="">
                                                <a id="child_5" href="#" class="_button _button__beneficiary _button__small  btnBeneficiaryRemove">
                                                    <i class="icon-legos-delete"></i>
                                                </a>
                                            </span>
                                           
                                            <div class="d-inline-block ml-md-4 ml-1">
                                                <icon class="_icon__medium icon-color__red icon-arrow-head-up collapsible"></icon>
                                            </div>
                                        </div>
                                   </div>
   
                                   <div class="container mb-3">
                                       <div class="row">
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="nombre" class="_input">
                                                   <input class="_input _input__text" maxlength="30" type="text" name="beneficiaryName_5" id="nombre" placeholder="&nbsp;">
                                                   <span class="_input__label">Nombres</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un nombre válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="apellido" class="_input">
                                                   <input class="_input _input__text" maxlength="30" type="text" name="beneficiarySurname_5" id="apellido" placeholder="&nbsp;">
                                                   <span class="_input__label">Apellidos</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un apellido válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="rut" class="_input">
                                                   <input class="_input _input__text" type="text" maxlength="12"  name="beneficiaryRUT_5" id="rut" placeholder="&nbsp;">
                                                   <span class="_input__label">RUT</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help caption caption-normal">Incluya el digito verificador</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un rut válido</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="telefono" class="_input">
                                                   <input class="_input _input__text _input__phone"  maxlength="9" type="text" name="beneficiaryTel_5" id="telefono" placeholder="&nbsp;">
                                                   <span class="_input__label">Teléfono</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__prefix">+56</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa de un número válido.</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="email" class="_input">
                                                   <input class="_input _input__text" type="text" maxlength="30" name="beneficiaryEmail_5" id="email" placeholder="&nbsp;">
                                                   <span class="_input__label">e-mail</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un mail válido</span>
                                               </label>
                                           </div>
                                           <div class="col-md-6 mod-col-padding">
                                               <label for="inp" class="_input">
                                                   <input class="_input _input__text" type="text" name="beneficiaryINP_5" id="inp"  maxlength="3" placeholder="&nbsp;">
                                                   <span class="_input__label">Porcentaje de beneficio</span>
                                                   <span class="_input__border"></span>
                                                   <span class="_input__help caption caption-normal">La suma de todos debe ser 100%</span>
                                                   <span class="_input__help__error caption caption-normal _s-div--disabled">Revisa el porcentaje para que todos sumen 100%.</span>
                                               </label>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           
                       </div>
                       <div class="layout_message_checkbox row mod-disabled pt-0 ">
                           <div class="col-md-12 ">
                               <div class="container ">
                                   <div class="row pb-4">
                                       <div class="col-auto  pl-0 ">
                                           <input type='checkbox' class="check-box" id="checkbox-form-disabled">
                                       </div>
                                       <div class="col-10 col-lg-11  pl-0  pr-0  mod-msg-form-disabled">
                                           <p>
                                               <span class="text-body_semibold">Acepto que no quiero especificar ningún beneficiario</span> asociado a la contratación de mi seguro. Por lo tanto, mis beneficiarios serán mis herederos legales, con la consiguiente dificultad que esto implica para poder contactarlos para el pago del seguro.
                                           </p>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-12 mt-2">
                               <div class="container ">
                                   <div id="messageDeclarationConformity" data-validation-error="true" class="mod-message msg__warning row">
                                       <div class="container">
                                       <div class="row">
                                           <span class="col-auto pr-0">
                                               <i class="_icons _icons__warning icon-exclamation"></i>
                                           </span>
                                           <span class="col-10 col-md-10 col-lg-11 caption caption-normal msg-text">
                                               Mis beneficiarios serán mis herederos legales, con la consiguiente dificultad que esto implica poder contactarlos para el pago del seguro.
                                           </span>
                                       </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="layout_button row">
                           <div class="col-12 _text__center mod-button-add-benificiary">
                               <button type="button" class="mod-btn mod-btn_margin mod-btn_link" id="btnBeneficiaryAdd"><i class="icon-plus"></i> Agregar beneficiario</button>
                           </div>
                       </div>
                   </div>
   
   
                   <!-- ***************************** End Layout ***************************** -->
                   <div class="layout_section_button container">
                       <div class="row">
                           <div class="col-6">
                             <a id="btnPreviousStep" class="mod-btn_back"> < Volver </a>
                           </div>
                           
                       </div>
                   </div>
   
                   <!--- Layout Legal --->
                   <div class="layout_container row d-md-block d-none">
                       <div  class=" col-md-12 legal">
                           <p class="legal__p">El proponente asegurado autoriza, en este acto, al Banco Santander, para que informe a la
                           Compañía aseguradora sobre sus datos personales, de contacto, las actualizaciones y/o cualquier
                           modificación de los mismos que le entregue u otorgue. Autoriza además a la Compañía a
                           notificarlos a estas nuevas o diferentes direcciones informadas sean físicas o electrónicas.
                           Autorización de enviar las comunicaciones y notificaciones al correo electrónico definido en la
                           contratación. La cobertura es otorgada por Zurich Santander Seguros de Vida Chile SA, RUT 96.819.630-8,
                           intermediada por Santander Corredora de Seguros Ltda. Rut: 96.524.260-0, ambas domiciliadas en
                           Bombero Ossa 1068 piso 4, Santiago y se rige según lo dispuesto por las Condiciones Generales
                           depositadas en el registro de la Superintendencia de Valores y Seguros indicado en el cuadro de
                           “Coberturas”.
                           Zurich Santander Seguros de Vida Chile S.A. se encuentra adherida al Código de Autorregulación
                           de las Compañías de Seguros y está sujeta al Compendio de Buenas Prácticas Corporativas, que
                           contiene un conjunto de normas destinadas a promover una adecuada relación de las compañías
                           de seguros con sus clientes. Copia de este Compendio se encuentra en la página web www.aach.cl.
                           Asimismo, ha aceptado la intervención del Defensor del Asegurado cuando los clientes le
                           presenten reclamos en relación a los contratos celebrados con ella. Los clientes pueden presentar
                           sus reclamos ante el Defensor del Asegurado utilizando los formularios disponibles en las oficinas
                           de Zurich Santander Seguros de Vida Chile S.A o a través de la página web www.ddachile.cl.
                           </p>
                       </div>
                   </div>
                   <!--- End Layout Legal --->
               </div>
               <aside class="_m-summary col-md-4">
                       <div class="_m-summary__sticky">
                           <section class="_l-base__section">
                               <header class="_m-summary__header">
                                   Simulación
                               </header>
       
                               <div class="_m-summary__name">
                                   <div class="container">
                                       <article class="_m-summary__body">
                                           <div class="_m-summary__body__insured">
                                               <span class="title">Asegurado</span>
                                               <span id="insuredName" class="name"></span>
                                           </div>
                                       </article>
                                   </div>
                               </div>
                               <div class="_m-summary__coverage _m-summary--grey">
                                   <div class="container">
                                       <div class="_m-summary__body">
                                           <div class="_m-summary__body__insurance">
                                               <span class="title">Seguro de vida base</span>
                                               <span class="information">
                                                   <span id="insuranceVidaUf" class="uf"></span>
                                                   <span id="insuranceVidaClp" class="clp"></span>
                                               </span>
                                           </div>
                                           <div id="disabilityInsurance" class="other-insurance _s-div--disabled" data-insurance="1">
                                               <hr />
                                               <div class="_m-summary__body__insurance">
                                                   <span class="cancel-insurance" data-insurance="1">
                                                       <i class="icon icon-times"></i>
                                                   </span>
                                                   <span class="title">Invalidez total y permanente 2/3</span>
                                                   <span class="information">
                                                       <span id="insuranceInvalidezUf" class="uf"></span>
                                                       <span id="insuranceInvalidezClp" class="clp"></span>
                                                   </span>
                                                   <span class="_s-div--disabled">
                                                       <input type="checkbox" class="check-box _main-l-section__header__checkbox" id="checkboxDisability" data-insurance="1" name="invalidez_valor" >
                                                       <input type='hidden' name="invalidez_nombre" value="Invalidez total y permanente 2/3">
                                                       <input type='hidden' name="invalidez_id" value="5">
                                                   </span>
           
                                               </div>
                                           </div>
                                           <div id="medicalInsurance" class="other-insurance _s-div--disabled">
                                               <hr />
                                               <div class="_m-summary__body__insurance">
                                                   <span class="cancel-insurance" data-insurance="2">
                                                       <i class="icon icon-times"></i>
                                                   </span>
                                                   <span class="title">Muerte Accidental + Urgencias Médicas</span>
                                                   <span class="information">
                                                       <span id="insuranceMedicalUf" class="uf"></span>
                                                       <span id="insuranceMedicalClp" class="clp"></span>
                                                   </span>
                                                   <span class="_s-div--disabled">
                                                       <input type='checkbox' name="urgencias_medicas_valor" class="check-box _main-l-section__header__checkbox" id="checkboxMedical" data-insurance="2" >
                                                       <input type='hidden' name="urgencias_medicas_nombre" value="Muerte accidental + Urgencias médicas">
                                                       <input type='hidden' name="urgencias_medicas_id" value="3">
                                                   </span>
           
                                               </div>
                                           </div>
                                           <div id="dentalInsurance" class="other-insurance _s-div--disabled">
                                               <hr />
                                               <div class="_m-summary__body__insurance">
                                                   <span class="cancel-insurance" data-insurance="3">
                                                       <i class="icon icon-times"></i>
                                                   </span>
                                                   <span class="title">Muerte Accidental + Urgencia Dental</span>
                                                   <span class="information">
                                                       <span id="insuranceDentalUf" class="uf"></span>
                                                       <span id="insuranceDentalClp" class="clp"></span>
                                                   </span>
                                                   <span class="_s-div--disabled">
                                                       <input type='checkbox' name="urgencias_dental_valor" class="check-box _main-l-section__header__checkbox" id="checkboxDental" data-insurance="3">
                                                       <input type='hidden' name="urgencias_dental_nombre" value="Muerte accidental + Urgencia dental">
                                                       <input type='hidden' name="urgencias_dental_id" value="2">
                                                   </span>
           
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="_m-summary__prime">
                                   <div class="container">
                                       <div class="_m-summary__body">
                                           <div class="_m-summary__body__consolidated">
                                               <span class="title">Valor prima mensual</span>
                                               <span id="resumeTotalUF" class="total-uf"></span>
                                               <span id="resumeTotalCLP" class="total-clp"></span>
                                               <input type="hidden" name="prima_mensual_UF" id="primaMensualUF">
                                               <input type="hidden" name="prima_mensual_cl" id="primeResultCLInput">
                                               <span class="description">Valor referencial UF al <span id="dateUF"></span></span>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <div class="_m-summary__submit _m-summary--border-top">
                                   <div class="container ">
                                       <div class="_m-summary__body _text__center text-uppercase">
                                           <button id="btnNextStep" class="mod-btn  mod-align-right mod-btn_summary">Siguiente ></button>
                                       </div>
                                   </div>
                               </div>
                           </section>
       
                           
                       </div>
                   </aside>
               </div>
           </form>
           <!--- Layout Legal --->
           <div class="row d-sm-block d-md-none">
               <div  class="layout_container col-md-8 legal">
                   <p class="legal__p">El proponente asegurado autoriza, en este acto, al Banco Santander, para que informe a la
                   Compañía aseguradora sobre sus datos personales, de contacto, las actualizaciones y/o cualquier
                   modificación de los mismos que le entregue u otorgue. Autoriza además a la Compañía a
                   notificarlos a estas nuevas o diferentes direcciones informadas sean físicas o electrónicas.
                   Autorización de enviar las comunicaciones y notificaciones al correo electrónico definido en la
                   contratación. La cobertura es otorgada por Zurich Santander Seguros de Vida Chile SA, RUT 96.819.630-8,
                   intermediada por Santander Corredora de Seguros Ltda. Rut: 96.524.260-0, ambas domiciliadas en
                   Bombero Ossa 1068 piso 4, Santiago y se rige según lo dispuesto por las Condiciones Generales
                   depositadas en el registro de la Superintendencia de Valores y Seguros indicado en el cuadro de
                   “Coberturas”.
                   Zurich Santander Seguros de Vida Chile S.A. se encuentra adherida al Código de Autorregulación
                   de las Compañías de Seguros y está sujeta al Compendio de Buenas Prácticas Corporativas, que
                   contiene un conjunto de normas destinadas a promover una adecuada relación de las compañías
                   de seguros con sus clientes. Copia de este Compendio se encuentra en la página web www.aach.cl.
                   Asimismo, ha aceptado la intervención del Defensor del Asegurado cuando los clientes le
                   presenten reclamos en relación a los contratos celebrados con ella. Los clientes pueden presentar
                   sus reclamos ante el Defensor del Asegurado utilizando los formularios disponibles en las oficinas
                   de Zurich Santander Seguros de Vida Chile S.A o a través de la página web www.ddachile.cl.
                   </p>
               </div>
           </div>
           <!--- End Layout Legal --->
       </div>
    </div>
   
    <script> var utag_data =   {%  if _UDATA is defined %} {{ _UDATA | json_encode | raw }}  {% else %} {} {% endif %};</script>
    <script type="text/javascript">
        (function() {
           var script=document.createElement("script");script.src="//code.jquery.com/jquery-1.12.4.min.js",
           script.async=!1,document.body.appendChild(script)
       })();
   </script>
    <script type="text/javascript">
        (function(a,b,c,d){
        a='https://tags.tiqcdn.com/utag/santander/ch-online-banking/prod/utag.js';
        b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
        a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
        })();
    </script>
<script type="text/javascript" src="/web20/legos-assets/common.bundle.js?hash=0854234e34cd32a5ec66"></script><script type="text/javascript" src="/web20/legos-assets/stylesheet.bundle.js?hash=0854234e34cd32a5ec66"></script><script type="text/javascript" src="/web20/legos-assets/beneficiary.bundle.js?hash=0854234e34cd32a5ec66"></script></body>
</html>
