
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Confirmation</title>
        <script>{% if _APPLICATION_NUM is defined %} var _APPLICATION_NUM =  {{ _APPLICATION_NUM | json_encode | raw }}; {% endif %}{% if _INSURED is defined %} var _INSURED =  {{ _INSURED | json_encode | raw }}; {% endif %}{% if _COVERAGE is defined %} var _COVERAGE =  {{ _COVERAGE | json_encode | raw }}; {% endif %}{% if _MATRIZ_BENEFICIARIOS is defined %} var _MATRIZ_BENEFICIARIOS =  {{ _MATRIZ_BENEFICIARIOS | json_encode | raw }}; {% endif %}{% if _DPS is defined %} var _DPS =  {{ _DPS | json_encode | raw }}; {% endif %}{% if _PAYMENT_CONFIRMAT is defined %} var _PAYMENT_CONFIRMAT =  {{ _PAYMENT_CONFIRMAT | json_encode | raw }}; {% endif %} {% if _NAME is defined %} var _NAME =  {{ _NAME | json_encode | raw }}; {% endif %} {% if _VIDA is defined %} var _VIDA =  {{ _VIDA | json_encode | raw }}; {% endif %} {% if _DATA_PRIMA is defined %} var _DATA_PRIMA =  {{ _DATA_PRIMA | json_encode | raw }}; {% endif %} {% if _PRODUCTS is defined %} var _PRODUCTS =  {{ _PRODUCTS | json_encode | raw }}; {% endif %} {% if _CLP_UF is defined %} var _CLP_UF =  {{ _CLP_UF | json_encode | raw }}; {% endif %} {% if _DATE_UF is defined %} var _DATE_UF =  {{ _DATE_UF | json_encode | raw }}; {% endif %} {% if _MEDICAL_URGENCY is defined %} var _MEDICAL_URGENCY =  {{ _MEDICAL_URGENCY | json_encode | raw }}; {% endif %} {% if _MEDICAL_DENTAL is defined %} var _MEDICAL_DENTAL =  {{ _MEDICAL_DENTAL | json_encode | raw }}; {% endif %} {% if _PLANNER is defined %} var _PLANNER =  {{ _PLANNER | json_encode | raw }}; {% endif %} </script>
    <script type="text/javascript" src="/web20/legos-assets/loading_head.bundle.js?hash=0854234e34cd32a5ec66"></script></head>
    <body>    
        <div id="legos" style="display:none">
    <div id="legosLifeConfirmation" class="container">
      <div class="row">
        <div class="layout_container col-md-12">
          <div class="_l-base__section layout_section_form container">
            <div class="_m-container-header row">
              <div class="container-icon-header">
                <i class="icon icon-check"></i>
              </div>
              <div class="containter container-title-header">
                <div class="_m-container-header__col _m-container-header__content">
                  <div class="subtitle_bold">La solicitud se ha enviado con éxito.</div>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="mod-message msg-info row">
                <div class="container">
                  <div class="row">
                    <span class="mod-message__icon-container">
                      <i class="iconbase icon-info"></i>
                    </span>
                    <span class="caption caption-normal msg-text">
                      El valor definitivo de tu prima mensual puede variar de acuerdo a la evaluación de tu propuesta, por lo tanto este documento no significa cobertura inmediata.
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="container">
                <div class="data-section container">
                  <div class="layout_form_header row">
                    <div class="mod_title col-12">
                      <div class="container">
                        <h1 class="data-section__title">Valor prima mensual</h1>
                        <h2 id="primeMonthly" class="data-section__uf header-info"></h2>
                        <p class="data-section__info">
                          Propuesta <span id="numerProposal" class="header-info"></span> Emitida el <span id="currentDate" class="header-info"></span>
                        </p>
                        <p class="data-section__info">
                          a nombre de <span id="nameAssured" class="header-info"></span>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout_container col-md-12">
          <div class="_l-base__section layout_section_form container">
            <div class="_m-container-header row">
              <div class="col-md-12">
                <div class="_m-container-header__col _m-container-header__content">
                  <span class="subtitle_bold">Datos del asegurado</span>
                </div>
              </div>
            </div>
            <div class="layout_container__info">
              <div class="row margin--bottom">
                <div class="col-md-3">
                  <div class="label label-insured">Nombres</div>
                  <div class="info info-insured" data-type="names"></div>
                </div>
                <div class="col-md-3">
                  <div class="label label-insured">Apellidos</div>
                  <div class="info info-insured" data-type="surnames"></div>
                </div>
                <div class="col-md-3">
                  <div class="label label-insured">Rut</div>
                  <div class="info info-insured" data-type="rut"></div>
                </div>
                <div class="col-md-3">
                  <div class="label label-insured">Fecha de nacimiento</div>
                  <div class="info info-insured" data-type="birthdate"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3">
                  <div class=" label label-insured">Teléfono</div>
                  <div class=" info info-insured" data-type="phone"></div>
                </div>
                <div class="col-md-3">
                  <div class="label label-insured">e-mail</div>
                  <div class="info info-insured" data-type="email"></div>
                </div>
                <div class="col-md-3">
                  <div class="label label-insured">Dirección</div>
                  <div class="info info-insured" data-type="direction"></div>
                </div>
                <div class="col-md-3">
                  <div class="label label-insured">Región</div>
                  <div class="info info-insured" data-type="region"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout_container col-md-12">
          <div class="_l-base__section layout_section_form container">
            <div class="_m-container-header row">
              <div class="col-md-12">
                <div class="_m-container-header__col _m-container-header__content">
                  <span class="subtitle_bold">Monto de cobertura solicitada</span>
                </div>
              </div>
            </div>
            <div class="layout_container__info">
              <div class="row">
                <div id="onlyLife" class="col-md-3 _s-div--disabled">
                    <div class="label label-hedge">Seguro de Vida base</div>
                    <div class="info info-hedge" data-type="vidaEmergency" data-family="false"></div>
                </div>
                <div id="lifeAndDisability" class="col-md-3 _s-div--disabled">
                  <div class="label label-hedge">Seguro de Vida base / Invalidez total y permanente 2/3</div>
                  <div class="info info-hedge" data-type="totalAndPermanentDisability" data-family="false"></div>
                </div>
                <div class="col-md-3">
                  <div class="label label-hedge">Muerte accidental / Urgencias Médicas</div>
                  <div class="info info-hedge" data-type="medicalEmergency" data-family="true"></div>
                </div>
                <div class="col-md-3">
                  <div class="label label-hedge">Muerte accidental / Urgencia Dental</div>
                  <div class="info info-hedge" data-type="dentalEmergency" data-family="true"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout_container col-md-12">
          <div class="_l-base__section layout_section_form container">
            <div class="_m-container-header row">
              <div class="col-md-12">
                <div class="_m-container-header__col _m-container-header__content">
                  <span class="subtitle_bold">Beneficiarios</span>
                </div>
              </div>
            </div>
            <div class="layout_container__info">
              <div class="no-beneficiaries-msg hide-element">
                <div class="col-md-12">
                  <div class="mod-message msg-info row">
                    <div class="container">
                      <div class="row">
                        <span class="mod-message__icon-container">
                          <i class="iconbase icon-info"></i>
                        </span>
                        <span class="caption caption-normal msg-text">
                          No declaraste nungún beneficiario, los beneficiarios serán tus herederos legales. Esto dificulta a la compañia liquidar el siniestro.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="beneficiaries-content" data-beneficiary="0">
                <hr class="hide-element" />
                <div class="row margin--bottom">
                  <div class="col-md-3">
                    <div class="label label-beneficiary">Nombres</div>
                    <div class="info info-beneficiary" data-type="names"></div>
                  </div>
                  <div class="col-md-3">
                    <div class="label label-beneficiary">Apellidos</div>
                    <div class="info info-beneficiary" data-type="surnames"></div>
                  </div>
                  <div class="col-md-3">
                    <div class="label label-beneficiary">e-mail</div>
                    <div class="info info-beneficiary" data-type="email"></div>
                  </div>
                  <div class="col-md-3">
                    <div class="label label-beneficiary">Teléfono</div>
                    <div class="info info-beneficiary" data-type="phone"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                    <div class="label label-beneficiary">Porcentaje de beneficio</div>
                    <div class="info info-beneficiary" data-type="percentage"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout_container col-md-12">
          <div class="_l-base__section layout_section_form container">
            <div class="_m-container-header row">
              <div class="col-md-12">
                <div class="_m-container-header__col _m-container-header__content">
                  <span class="subtitle_bold">Declaraciones de salud y actividades</span>
                </div>
              </div>
            </div>
            <div class="layout_container__info">
              <div class="row">
                <div class="col-md-3">
                  <div class="label label-health-activity">Enfermedades</div>
                  <div class="info info-health-activity" data-type="disease"></div>
                </div>
                <div class="col-md-3">
                  <div class="label label-health-activity">Actividades de riesgo</div>
                  <div class="info info-health-activity" data-type="riskActivity"></div>
                </div>
                <div class="col-md-3">
                  <div class="label label-health-activity">Antecedentes Adicionales</div>
                  <div class="info info-health-activity" data-type="otherBackground"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="layout_container col-md-12">
          <div class="_l-base__section layout_section_form container">
            <div class="_m-container-header row">
              <div class="col-md-12">
                <div class="_m-container-header__col _m-container-header__content">
                  <span class="subtitle_bold">Forma de pago</span>
                </div>
              </div>
            </div>
            <div class="layout_container__info">
              <div class="row">
                <div class="col-md-3">
                  <div class="label label-payment">Cuenta de cargo</div>
                  <div class="info info-payment" data-type="chargeAccount"></div>
                </div>
                <div class="col-md-3">
                  <div class="label label-payment">Días de pago</div>
                  <div class="info info-payment" data-type="paydays"></div>
                </div>
                <div class="col-md-3">
                  <div class="label label-payment">Prima mensual</div>
                  <div class="info info-payment" data-type="monthlyPremium"></div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="container-final-options">
                <a class="option" href="javascript:window.print();">
                  <i class="icon icon-printer"></i>
                  Imprimir
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row hide-element" id="confirmation-normal">
        <div class="col-md-12">
          <div class="conteiner-button-back">
            <button id="go-home">Volver al inicio</button>
          </div>
        </div>
      </div>
      <div class="row hide-element" id="confirmation-planner">
        <div class="col-md-6">
          <div class="conteiner-button-back mt-4 text-left">
            <button id="go-home">Volver al inicio</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mt-4 text-right">
            <button id="go-planner" class=" mod-btn mod-btn_summary">Volver al asesor de seguros</button>
          </div>
        </div>
      </div>
      <div class="row">
          <div  class="layout_container col-md-12 legal">
              <p class="legal__p">El proponente asegurado autoriza, en este acto, al Banco Santander, para que informe a la
              Compañía aseguradora sobre sus datos personales, de contacto, las actualizaciones y/o cualquier
              modificación de los mismos que le entregue u otorgue. Autoriza además a la Compañía a
              notificarlos a estas nuevas o diferentes direcciones informadas sean físicas o electrónicas.
              Autorización de enviar las comunicaciones y notificaciones al correo electrónico definido en la
              contratación. La cobertura es otorgada por Zurich Santander Seguros de Vida Chile SA, RUT 96.819.630-8,
              intermediada por Santander Corredora de Seguros Ltda. Rut: 96.524.260-0, ambas domiciliadas en
              Bombero Ossa 1068 piso 4, Santiago y se rige según lo dispuesto por las Condiciones Generales
              depositadas en el registro de la Superintendencia de Valores y Seguros indicado en el cuadro de
              “Coberturas”.
              Zurich Santander Seguros de Vida Chile S.A. se encuentra adherida al Código de Autorregulación
              de las Compañías de Seguros y está sujeta al Compendio de Buenas Prácticas Corporativas, que
              contiene un conjunto de normas destinadas a promover una adecuada relación de las compañías
              de seguros con sus clientes. Copia de este Compendio se encuentra en la página web www.aach.cl.
              Asimismo, ha aceptado la intervención del Defensor del Asegurado cuando los clientes le
              presenten reclamos en relación a los contratos celebrados con ella. Los clientes pueden presentar
              sus reclamos ante el Defensor del Asegurado utilizando los formularios disponibles en las oficinas
              de Zurich Santander Seguros de Vida Chile S.A o a través de la página web www.ddachile.cl.
              </p>
          </div>
      </div>
    </div>
    </div>
   
    <script> var utag_data =   {%  if _UDATA is defined %} {{ _UDATA | json_encode | raw }}  {% else %} {} {% endif %};</script>
    <script type="text/javascript">
        (function() {
           var script=document.createElement("script");script.src="//code.jquery.com/jquery-1.12.4.min.js",
           script.async=!1,document.body.appendChild(script)
       })();
   </script>
    <script type="text/javascript">
        (function(a,b,c,d){
        a='https://tags.tiqcdn.com/utag/santander/ch-online-banking/prod/utag.js';
        b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
        a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
        })();
    </script>
<script type="text/javascript" src="/web20/legos-assets/common.bundle.js?hash=0854234e34cd32a5ec66"></script><script type="text/javascript" src="/web20/legos-assets/stylesheet.bundle.js?hash=0854234e34cd32a5ec66"></script><script type="text/javascript" src="/web20/legos-assets/confirmation.bundle.js?hash=0854234e34cd32a5ec66"></script></body>
</html>
