<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mantención</title>
</head>
    <body>
        <div class="error__container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="_l-base__section layout_section_form container">
                            <!-- Header Container -->
                            <div class="error__container__header _m-container-header  row">
                                <div class="modal__container__header__icon s-modal--danger _text__center">
                                    <i class="icon icon-exclamation"></i>
                                </div>
                                <h1 class="error__container__header__title">¡Lo sentimos!</h1>
                            </div><!-- END Header Container -->

                            <div class="error__container__body  _m-container-abstract row">
                                <p class="_text__center">En este momento estamos realizando mejoras en nuestro servicio, inténtalo más<br/> tarde o comunicate al 
                                    <strong>600 320 3000</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <script> var utag_data = { "PENUMPER": "{%  if _PENUMPER is defined %}{{ _PENUMPER }}{% endif %}" }; </script>
        <script type="text/javascript">
            (function(a,b,c,d){
            a='//tags.tiqcdn.com/utag/santander/ch-online-banking/dev/utag.js';
            b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
            a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
            })();
        </script>
    <script type="text/javascript" src="/web20/legos-assets/common.bundle.js"></script><script type="text/javascript" src="/web20/legos-assets/stylesheet.bundle.js"></script></body>
</html>
