
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dps</title>
        <script>{% if _DATA_SESSION is defined %} var _DATA_SESSION =  {{ _DATA_SESSION | json_encode | raw }}; {% endif %} {% if _NAME is defined %} var _NAME =  {{ _NAME | json_encode | raw }}; {% endif %} {% if _VIDA is defined %} var _VIDA =  {{ _VIDA | json_encode | raw }}; {% endif %} {% if _DATA_PRIMA is defined %} var _DATA_PRIMA =  {{ _DATA_PRIMA | json_encode | raw }}; {% endif %} {% if _PRODUCTS is defined %} var _PRODUCTS =  {{ _PRODUCTS | json_encode | raw }}; {% endif %} {% if _CLP_UF is defined %} var _CLP_UF =  {{ _CLP_UF | json_encode | raw }}; {% endif %} {% if _DATE_UF is defined %} var _DATE_UF =  {{ _DATE_UF | json_encode | raw }}; {% endif %} {% if _MEDICAL_URGENCY is defined %} var _MEDICAL_URGENCY =  {{ _MEDICAL_URGENCY | json_encode | raw }}; {% endif %} {% if _MEDICAL_DENTAL is defined %} var _MEDICAL_DENTAL =  {{ _MEDICAL_DENTAL | json_encode | raw }}; {% endif %} {% if _PLANNER is defined %} var _PLANNER =  {{ _PLANNER | json_encode | raw }}; {% endif %} </script>
    <script type="text/javascript" src="/web20/legos-assets/loading_head.bundle.js?hash=0854234e34cd32a5ec66"></script></head>
    <body>    
        <div id="legos" style="display:none">
    <!-- Module -->
    <div id="legosLifeBeneficiary" class="container">
        <form action="" method="POST" id="formMain" autocomplete="off">
        <div class="row">
            <div class="layout_container col-md-8">
              <div class="_l-base__section layout_section_barProgress">
                  <div class="layout_section_barProgress__content">
                    <div class="layout_section_barProgress__content__title">
                        <span class="layout_section_barProgress__content__title__circle">3</span> DECLARACIONES
                    </div>
                    <div class="layout_section_barProgress__content__steps">
                        PASO 3/4
                    </div>
                  </div>
                  <div class="layout_section_barProgress__progress">
                    <span class="step step--active"></span>
                    <span class="step step--active"></span>
                    <span class="step step--active"></span>
                    <span class="step"></span>
                  </div>
              </div>
                <div class="layout layout_section_form container">

                    <div class="layout_form_header row _m-collapsible__contents__header">
                        <div class="mod_title col-8">
                            <div class="container">
                                <div class="row">
                                    <span class="subtitle_bold">DECLARACIÓN PERSONAL DE SALUD</span>
                                </div>
                                <div class="row">
                                    <span class="caption caption_normal">Declaración de preexistencias o tu condición actual de salud.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 _align-text__right">
                            <div class="d-inline-block ml-md-4 ml-1">
                                <icon class="_icon__medium icon-color__red icon-arrow-head-up collapsible"></icon>
                            </div>
                        </div>
                    </div>
                    <div class="layout_form_container row _m-collapsible__contents__content">
                        <div class="container">
                            <div class="row  _m-dps-body-index">
                                <div class="col-md-12">
                                    <div class="_m-dps-body-index__subtitle text-body_semibold">Indicanos tu estatura y peso</div>
                                </div>
                                <div class="col-md-4">
                                    <div data-validation="true">
                                        <label for="nombre" class="_input">
                                            <input class="_input _input__text" type="text" name="estatura" id="inputEstatura" placeholder="&nbsp;" value="" >
                                            <span class="_input__label">Estatura</span>
                                            <span id="suffixHeight" class="_input__suffix _input__suffix-1 _s-input__suffix--disabled">cm</span>
                                            <span class="_input__border"></span>
                                            <span class="_input__help caption caption-normal">Estatura actual en cm.</span>
                                            <span class="_input__help__error caption caption-normal _s-div--disabled">Indica una estatura correcta.</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div data-validation="true">
                                        <label for="nombre" class="_input">
                                            <input class="_input _input__text" type="text" name="peso" id="inputPeso" placeholder="&nbsp;" value="">
                                            <span class="_input__label">Peso</span>
                                            <span id="suffixWidth" class="_input__suffix _input__suffix-1 _s-input__suffix--disabled">kg</span>
                                            <span class="_input__border"></span>
                                            <span class="_input__help caption caption-normal">Peso actual en kg.</span>
                                            <span class="_input__help__error caption caption-normal _s-div--disabled">Indica un peso correcto.</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 _m-dps-body-index__index">
                                    <div id="showIMC" class="headline headline__semibold text_imc"></div>
                                    <div class="_m-dps-body-index__index__description">Tu índice de masa corporal</div>
                                </div>
                            </div>
                            <hr />
                            <div class="row _l-grids__section__margin">
                                <div class="col-md-12 mt-3">
                                    <p class="title_semibold">Enfermedades y condiciones</p>
                                    <p class="mt-3">¿Has sido diagnosticado o estás en conocimiento de tener alguna de las enfermedades mencionadas a continuación?</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12" data-validation="true">
                                    <!-- QUESTION -->
                                    <div class="row">
                                        <div class="col-md-12" id="questionDeceases">
                                            <div class="row">
                                                
                                                <div class="col-md-12 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="ninguna_enfermedad" id="notDeceases">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Ninguna enfermedad de riesgo
                                                            </div>
                                                            <div class="caption caption_normal">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="enfermedades_infecciosas" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades infecciosas
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                VIH positivo/SIDA, Hepatitis (excepto hepatitis A).
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="enfermedades_oncologicas" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades oncológicas
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Cáncer.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="enfermedades_hematologicas" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades hematológicas
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Leucemia, Linfoma o Anemia (excepto por falta de fierro).
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="enfermedades_cardiovasculares" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades cardiovasculares
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Hipertensión arterial, Arritmias , Soplos cardíacos.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="enfermedades_metabolicas" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades metabólicas
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Diabetes, Obesidad.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="enfermedades_neurologicas" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades neurológicas
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Accidentes vasculares cerebrales, Epilepsia, Alzhéimer.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="enfermedades_gastrointestinales" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades gastrointestinales
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Cirrosis hepática, Úlcera gástrica, Colitis ulcerosa.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="enfermedades_mentales" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades mentales
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Desórdenes nerviosos o mentales.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="enfermedades_geneticas_hereditarias" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades genéticas y hereditarias
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Síndrome de Down.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="enfermedades_renales" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades renales
                                                            </div>
                                                            <div class="caption caption_normal">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="enfermedades_respiratorias" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades respiratorias
                                                            </div>
                                                            <div class="caption caption_normal">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="enfermedades_degenerativas" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades degenerativas
                                                            </div>
                                                            <div class="caption caption_normal">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="otra_enfermedad" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Otra enfermedad, anormalidad, defecto o lesión
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Que ponga en riesgo mi vida.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>

                                        </div>
                                    
                                    </div><!-- END QUESTION -->

                                    <!-- DECLARETION -->
                                    <div class="row  _s-div--disabled" id="whichDeceases">
                                    <!--<div class="row dps-component__declaration _l-grids__section__margin">-->
                                        <div class="col-md-12">
                                            <div class="container">
                                                <div data-validation="true">
                                                    <div class="row">
                                                        <label for="deceases" class="_input _input__long">
                                                            <input class="_input _input__text _input__long _input__text__counter"
                                                                type="text"
                                                                id="deceases"
                                                                placeholder="&nbsp;"
                                                                data-validation-min="1"
                                                                data-validation-max="100"
                                                                maxlength="100"
                                                                data-validation-type="alphabet-symbol-number"
                                                                name="descripcion_enfermedades"
                                                            >
                                                            <span class="_input__label">¿Cuáles?</span>
                                                            <span class="_input__label__counter caption caption-normal">0/100</span>
                                                            <span id="deceasesHelp" class="_input__help caption caption-normal">Separa las enfermedades con una coma</span>
                                                            <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa información sobre tu o tus enfermedades.</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                         <!-- TERM CONDITION -->
                                         <div class="col-md-12">
                                            <div class="_l-grids__section__margin">
                                                <div class="col-md-12">
                                                    <div class="mod-message msg-info row">
                                                        <div class="container">
                                                            <div class="row">
                                                                <span class="col-auto pr-0">
                                                                    <i class="iconbase icon-info"></i>
                                                                </span>
                                                                <span class="col-10 col-md-10 col-lg-11 caption caption-normal msg-text">
                                                                <span class="text-semi-bold">Cualquier enfermedad o condición que hayas declarado anteriormente quedará fuera de tu cobertura.</span> No se podrá cobrar el seguro por eventos causados por éstas.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- END TERM CONDITION -->
                                        <div class="col-md-12"> <!-- ADD DESEASES -->
                                            <div class="row  _m-dps-choise">
                                                <div class="col-md-12 _m-dps-choise__subtitle">
                                                    <p>
                                                        Si quieres incluirlos en tu cobertura, te pediremos más información para analizar el caso con posible aumento en tu prima,
                                                        te contactaremos para informar sobre cualquier aumento para ver si aceptas el nuevo valor.
                                                    </p>
                                                </div>
                                                <div id="radioOptionsCoverage" class="col-md-12">
                                                    <div data-validation="true">
                                                        <div>
                                                            <input type="radio" id="radioOutsideCoverage" name="incluir_cobertura" value="si">
                                                            <label for="radioOutsideCoverage">Acepto dejar las condiciones declaradas fuera de mi cobertura.</label>
                                                        </div>
                                                        <div>
                                                            <input type="radio" id="radioIncludingCoverage" name="incluir_cobertura" value="no">
                                                            <label for="radioIncludingCoverage">Prefiero analizar la posibilidad de incluirlas en mi cobertura.</label>
                                                        </div>
                                                        <div class="margin_container">
                                                            <span class="_input__help caption caption-normal"></span>
                                                            <span class="_input__help__error caption caption-normal _s-div--disabled">Señala si quieres excluir o incluir las condiciones indicadas.</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> <!-- END ADD DESEASES  -->
                                        </div>
                                    </div><!-- END DECLARETION -->
                                    
                                </div>
                            </div>
                            <hr />

                            
                            <div class="row _l-grids__section__margin">
                                <div class="col-md-12" data-validation="true">
                                    <div class="row ">
                                        <div class="col-md-12">
                                            <div class="container ">
                                                <div id="messageDeclarationConformity" data-validation-error="true" class="  _l-grids__section__margin _s-div--disabled mod-message msg__warning row">
                                                    <div class="container">
                                                        <div class="row">
                                                            <span class="col-auto pr-0">
                                                                <i class="_icons _icons__warning icon-exclamation"></i>
                                                            </span>
                                                            <span class="col-10 col-md-10 col-lg-11 caption caption-normal msg-text">
                                                            Confirma la veracidad de tu declaración de salud, y que autorizas el acceso a tu historial médico.
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="dps-component__checkbox">
                                                <input type="checkbox" class="check-box _main-l-section__header__checkbox" name="declaracion_conformidad" id="declarationConformity" >
                                            </div>
                                            <p class="caption caption-normal _m-dps-comments__left">
                                                Declaro estar en conocimiento que, en conformidad con la normativa legal vigente y con lo establecido en las <a href="#" class="_link _link__in-text" id="terms-condition-file">condiciones generales de la póliza</a> que rige la cobertura, es mi deber declarar sinceramente todas aquellas circunstancias relativas a mi estado pasado y actual de salud que pueden afectar el riesgo que asumirá la compañía y que pueden constituir una restricción, limitación o exclusión de cobertura.
                                            </p>
                                            <br>
                                            <p class="caption caption-normal _m-dps-comments__left" >
                                                Asimismo, autorizo a <span class="_text__italic" >Zurich Santander Seguros de Vida Chile S.A.</span> a solicitar a cualquier médico, hospital, clínica u otra institución, información sobre mi estado de salud o el estado de las personas propuestas para el seguro. Finalmente, declaro que ninguno de los propuestos asegurados de esta solicitud ha sido rechazado por alguna compañía aseguradora de vida durante los últimos 24 meses
                                            </p>
                                            <br class="clearfix"/>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layout layout_section_form container dps-compleja">
                  <div class="layout_form_header row _m-collapsible__contents__header">
                      <div class="mod_title col-8">
                          <div class="container">
                              <div class="row">
                                  <span class="subtitle_bold">Otros antecedentes</h1>
                              </div>
                              <div class="row">
                                  <span class="caption caption_normal">Declaración de antecedentes familiares y estilo de vida.</h2>
                              </div>
                          </div>
                      </div>
                      <div class="col-4 _align-text__right">
                        <div class="d-inline-block ml-md-4 ml-1">
                            <icon class="_icon__medium icon-color__red icon-arrow-head-up collapsible"></icon>
                        </div>
                      </div>
                  </div>
				  <div class="_m-collapsible__contents__content">
						  <div class="row content ">
							  <div class="col-md-12 header-content">
								  <p class="title-text">Actividad laboral</p>
								  <p>Señala el tipo de actividad que realizas</p>
							  </div>
							  <div class="col-md-12 body-content">
									<div data-validation="true">
									  <div class="row">
										<div class="col-md-12 body-content_input-container">
											<input type="radio" id="oficina" name="actividad_laboral" data-value="1" value="1-En oficina"/>
											<label for="oficina">En oficina</label>
										</div>
										<div class="col-md-12 body-content_input-container">
											<input type="radio" id="desplazamiento" name="actividad_laboral" data-value="2" value="2-Incluye desplazamiento"/>
											<label for="desplazamiento">Incluye desplazamiento</label>
										</div>
										<div class="col-md-12 body-content_input-container">
											<input type="radio" id="others" name="actividad_laboral" data-value="3" value="3-Incluye montaje, terreno o explosivos"/>
											<label for="others">Incluye montaje, terreno o explosivos</label>
										</div>
										<br/>
										<div class="col-md-12 margin_container">
											<span class="_input__help caption caption-normal"></span>
											<span class="_input__help__error caption caption-normal _s-div--disabled">Declara tu tipo de actividad laboral.</span>
										</div>
									  </div>
								  </div>
								  <hr />
							  </div>
						  </div>

						  <div class="row content">
							  <div class="col-md-12 header-content no--margin">
								  <p class="title-text">Actividades de riesgo</p>
								  <p>Este seguro de vida excluye las siguientes actividades de riesgo:</p>
							  </div>
							  <div class="col-md-12 body-content">
								  <ul class="_list">
									<li>Montañismo.</li>
									  <li>Carreras o competencias de auto, motos, lanchas y caballos.</li>
									<li>Buceo.</li>
									<li>Alas delta, parapente, paracaidismo o benji.</li>
									<li>Piloto civil o estudiante de aviación.</li>
								  </ul>
							  </div>

							  <div class="col-md-12">
								<div class="container">
								  <div class="mod-message msg-info row">
									<div class="container">
									  <div class="row">
										<span class="col-auto pr-0">
										  <i class="iconbase icon-info"></i>
										</span>
										<span class="col-10 col-md-10 col-lg-11 caption caption-normal msg-text">
										  <span class="text-semi-bold">Cualquier deporte o actividad señalados anteriormente quedará fuera de tu cobertura.</span>
										  No se podrá cobrar el seguro por eventos causados por éstos.
										</span>
									  </div>
									</div>
								  </div>
								</div>
							  </div>

							  <div class="col-md-12 information-content">
								Si quieres incluirlos en tu cobertura, te pediremos más información para analizar el caso con posible
								aumento en tu prima, te contactaremos para informar sobre cualquier aumento para ver si aceptas el
								nuevo valor.
							  </div>

							  <div class="col-md-12 body-content">
								  <div data-validation="true">
									<div class="row">
										<div class="col-md-12 body-content_input-container">
											<input type="radio" id="excludeCoverage" name="practica_actividades" value="Practico alguna(s) de las actividades mencionadas y acepto dejarla fuera de cobertura.">
											<label for="excludeCoverage">Practico alguna(s) de las actividades mencionadas y acepto dejarla fuera de cobertura.</label>
										</div>
										<div class="col-md-12 body-content_input-container">
											<input type="radio" id="includeCoverage" name="practica_actividades" value="Practico alguna(s) de las actividades mencionadas y quiero incluirla en mi cobertura.">
											<label for="includeCoverage">Practico alguna(s) de las actividades mencionadas y quiero incluirla en mi cobertura.</label>
										</div>
										<div class="col-md-12 body-content_input-container">
											<input type="radio" id="noPracticeActivities" name="practica_actividades" value="No practico ninguna de las actividades mencionadas.">
											<label for="noPracticeActivities">No practico ninguna de las actividades mencionadas.</label>
										</div>
										<div class="col-md-12 margin_container">
											<span class="_input__help__error caption caption-normal _s-div--disabled"> Declara tu intención de cubrir o excluir actividades de riesgo.</span>
										</div>                              
									</div>
									<hr />
								 </div>
							  </div>

							  <div class="col-md-12 header-content no--margin">
								  <p class="title-text">Antecedentes adicionales</p>
								  <p>Responde las siguientes preguntas para finalizar la declaración</p>
							  </div>

							  <div class="questions">

								  <div class="col-md-12 questions-section">
									  <div class="questions-section__title">
										<p>¿Padeces actualmente alguna afección, lesión o enfermedad?</p>
									  </div>
									  <div data-validation="true">
										<div class="questions-section__responses">
											<div class="questions-section__responses__response">
											<input id="currentSicknessQuestionYes" class="radio-button-dps-complex" type="radio" data-verify="true" data-name="currentSicknessQuestion" name="pregunta_afeccion_lesion_enfermedad" value="S" />
											<label for="currentSicknessQuestionYes">Si</label>
											</div>
											<div class="questions-section__responses__response">
											<input id="currentSicknessQuestionNo" class="radio-button-dps-complex" type="radio" data-verify="false" data-name="currentSicknessQuestion" name="pregunta_afeccion_lesion_enfermedad" value="N" />
											<label for="currentSicknessQuestionNo">No</label>
											</div>
										</div>
										<div class="margin_container">
											<span class="_input__help__error caption caption-normal _s-div--disabled">Debes declarar si actualmente padeces alguna lesión o enfermedad.</span>
										</div>
									  </div>
									  <div data-validation="true">
										<div id="currentSicknessQuestionDiv" class="complement_questions row">
											<div class="col-md-7">
											<label for="nombre" class="_input">
												<input class="_input _input__text" type="text" id="estatura" maxlength="20" name="descripcion_afeccion_enfermedad_lesion" placeholder="&nbsp;" />
												<span class="_input__label">Enfermedad o lesión</span>
												<span class="_input__border"></span>
												<span class="_input__help caption caption-normal">Ej.: apendicitis, hernia discal...</span>
												<span class="_input__help__error caption caption-normal _s-div--disabled">Señala la enfermedad a declarar.</span>
											</label>
										  </div>
										</div>
									  </div>
								  </div>

								  <div class="col-md-12 questions-section">
									  <div class="questions-section__title">
										<p>¿En los últimos cinco años, has estado en tratamiento médico?</p>
									  </div>
									  <div data-validation="true">
										<div class="questions-section__responses">
											<div class="questions-section__responses__response">
											<input id="medicalTreatmentQuestionYes" class="radio-button-dps-complex" type="radio" data-verify="true" data-name="medicalTreatmentQuestion" name="pregunta_tratamiento_medico" value="S" />
											<label for="medicalTreatmentQuestionYes">Si</label>
											</div>
											<div class="questions-section__responses__response">
											<input id="medicalTreatmentQuestionNo" class="radio-button-dps-complex" type="radio" data-verify="false" data-name="medicalTreatmentQuestion" name="pregunta_tratamiento_medico" value="N" />
											<label for="medicalTreatmentQuestionNo">No</label>
											</div>
										</div>
										<div class="margin_container">
											<span class="_input__help__error caption caption-normal _s-div--disabled">Declara si has estado o no en tratamiento médico durante los últimos cinco años.</span>
										</div>
									  </div>
									  <div data-validation="true">
										<div id="medicalTreatmentQuestionDiv" class="complement_questions row">
											<div class="col-md-7">
											  
												<label for="nombre" class="_input">
													<input class="_input _input__text" type="text" id="estatura" name="descripcion_tratamiento_medico" maxlength="20" placeholder="&nbsp;" />
													<span class="_input__label">Enfermedad o lesión causante</span>
													<span class="_input__border"></span>
													<span class="_input__help caption caption-normal">Ej.: apendicitis, hernia discal...</span>
													<span class="_input__help__error caption caption-normal _s-div--disabled">Indica la causa de tu tratamiento.</span>
												</label>
											</div>
										</div>
									  </div>
								  </div>

								  <div class="col-md-12 questions-section">
									  <div class="questions-section__title">
										<p>¿Has sido intervenido quirúrgicamente en los últimos 10 años?</p>
									  </div>
										<div data-validation="true">
											<div class="questions-section__responses">
												<div class="questions-section__responses__response">
													<input id="underwentSurgeryQuestionYes" class="radio-button-dps-complex" type="radio" data-verify="true" data-name="underwentSurgeryQuestion" name="pregunta_intervencion_quirurgica" value="S" />
													<label for="underwentSurgeryQuestionYes">Si</label>
												</div>
												<div class="questions-section__responses__response">
													<input id="underwentSurgeryQuestionNo" class="radio-button-dps-complex" type="radio" data-verify="false" data-name="underwentSurgeryQuestion" name="pregunta_intervencion_quirurgica" value="N" />
													<label for="underwentSurgeryQuestionNo">No</label>
												</div>
											</div>
											<div class="margin_container">
												<span class="_input__help__error caption caption-normal _s-div--disabled">Declara si has tenido alguna cirugía durante los últimos diez años.</span>
											</div> 
										</div>
										<div data-validation="true">
											<div id="underwentSurgeryQuestionDiv" class="complement_questions row">
												<div class="col-md-7">
												<label for="nombre" class="_input">
													<input class="_input _input__text" type="text" id="estatura" maxlength="20" name="descripcion_intervencion_quirurgica" placeholder="&nbsp;" />
													<span class="_input__label">Enfermedad o lesión causante</span>
													<span class="_input__border"></span>
													<span class="_input__help caption caption-normal">Ej.: apendicitis, hernia discal...</span>
													<span class="_input__help__error caption caption-normal _s-div--disabled">Señala la causa de tu intervención.</span>
												</label>
												</div>
											</div>
										</div>
								  </div>

								  <div class="col-md-12 questions-section">
									  <div class="questions-section__title">
										<p>¿Has sido diagnosticado con presión alta?</p>
									  </div>
									  <div data-validation="true">
										<div class="questions-section__responses">
											<div class="questions-section__responses__response">
												<input id="highPressureQuestionYes" class="radio-button-dps-complex" type="radio" data-verify="false" data-name="highPressureQuestion" name="pregunta_presion_alta" value="1" />
												<label for="highPressureQuestionYes">Si</label>
											</div>
											<div class="questions-section__responses__response">
												<input id="highPressureQuestionNo" class="radio-button-dps-complex" type="radio" data-verify="false" data-name="highPressureQuestion" name="pregunta_presion_alta" value="0" />
												<label for="highPressureQuestionNo">No</label>
											</div>
										</div>
										<div class="margin_container">
											<span class="_input__help__error caption caption-normal _s-div--disabled">Declara si has tenido o no presión alta.</span>
										</div>
									  </div>
								  </div>

								  <div class="col-md-12 questions-section">
									  <div class="questions-section__title">
										<p>¿Consumes drogas habitualmente?</p>
									  </div>
									  <div data-validation="true">
										<div class="questions-section__responses">
											<div class="questions-section__responses__response">
											<input id="drugsQuestionYes" class="radio-button-dps-complex" type="radio" data-verify="false" data-name="drugsQuestion" name="pregunta_drogas" value="S" />
											<label for="drugsQuestionYes">Si</label>
											</div>
											<div class="questions-section__responses__response">
											<input id="drugsQuestionNo" class="radio-button-dps-complex" type="radio" data-verify="false" data-name="drugsQuestion" name="pregunta_drogas" value="N" />
											<label for="drugsQuestionNo">No</label>
											</div>
										</div>
										<div class="margin_container">
											<span class="_input__help__error caption caption-normal _s-div--disabled">Declara si consumes o no drogas.</span>
										</div>
									  </div>
								  </div>

								  <div class="col-md-12 questions-section">
									  <div class="questions-section__title">
										  <p>¿Eres fumador habitual?</p>
									  </div>
									  <div data-validation="true">
										<div class="questions-section__responses">
											<div class="questions-section__responses__response">
												<input id="smokerQuestionYes" class="radio-button-dps-complex" type="radio" data-verify="true" data-name="smokerQuestion" name="pregunta_fumador" value="S" />
												<label for="smokerQuestionYes">Si</label>
											</div>
											<div class="questions-section__responses__response">
												<input id="smokerQuestionNo" class="radio-button-dps-complex" type="radio" data-verify="false" data-name="smokerQuestion" name="pregunta_fumador" value="N"/>
												<label for="smokerQuestionNo">No</label>
											</div>
										</div>
										<div class="margin_container">
											<span class="_input__help__error caption caption-normal _s-div--disabled">Declara si eres o no fumador.</span>
										</div>
									  </div>
									  <div data-validation="true">
										<div id="smokerQuestionDiv" class="complement_questions row">
											<div class="col-md-7">
										   
												<label for="nombre" class="_input">
													<input class="_input _input__text" type="text" id="estatura" name="descripcion_fumador" maxlength="2" placeholder="&nbsp;" />
													<span class="_input__label">¿Cuántos cigarrillos al día?</span>
													<span class="_input__border"></span>
													<span class="_input__help caption caption-normal">Indica la cantidad</span>
													<span class="_input__help__error caption caption-normal _s-div--disabled">Indica tu consumo diario.</span>
												</label>
											</div>
										</div>
									  </div>
									 
								  </div>
							  </div>
						  </div>
					</div>
                </div>

                
               
                
                <!-- ***************************** End Layout ***************************** -->
                <div class="layout_section_button container">
                    <div class="row">
                        <div class="col-6">
                          <a id="btnPreviousStep" class="mod-btn_back"> < Volver </a>
                        </div>
                    </div>
                </div>

                 <!--- Layout Legal --->
                 <div class="layout_container row d-md-block d-none">
                    <div  class=" col-md-12 legal">
                        <p class="legal__p">El proponente asegurado autoriza, en este acto, al Banco Santander, para que informe a la
                        Compañía aseguradora sobre sus datos personales, de contacto, las actualizaciones y/o cualquier
                        modificación de los mismos que le entregue u otorgue. Autoriza además a la Compañía a
                        notificarlos a estas nuevas o diferentes direcciones informadas sean físicas o electrónicas.
                        Autorización de enviar las comunicaciones y notificaciones al correo electrónico definido en la
                        contratación. La cobertura es otorgada por Zurich Santander Seguros de Vida Chile SA, RUT 96.819.630-8,
                        intermediada por Santander Corredora de Seguros Ltda. Rut: 96.524.260-0, ambas domiciliadas en
                        Bombero Ossa 1068 piso 4, Santiago y se rige según lo dispuesto por las Condiciones Generales
                        depositadas en el registro de la Superintendencia de Valores y Seguros indicado en el cuadro de
                        “Coberturas”.
                        Zurich Santander Seguros de Vida Chile S.A. se encuentra adherida al Código de Autorregulación
                        de las Compañías de Seguros y está sujeta al Compendio de Buenas Prácticas Corporativas, que
                        contiene un conjunto de normas destinadas a promover una adecuada relación de las compañías
                        de seguros con sus clientes. Copia de este Compendio se encuentra en la página web www.aach.cl.
                        Asimismo, ha aceptado la intervención del Defensor del Asegurado cuando los clientes le
                        presenten reclamos en relación a los contratos celebrados con ella. Los clientes pueden presentar
                        sus reclamos ante el Defensor del Asegurado utilizando los formularios disponibles en las oficinas
                        de Zurich Santander Seguros de Vida Chile S.A o a través de la página web www.ddachile.cl.
                        </p>
                    </div>
                </div>
                <!--- End Layout Legal --->
            </div>

            <aside class="_m-summary col-md-4">
                <div class="_m-summary__sticky">
                    <section class="_l-base__section">
                        <header class="_m-summary__header">
                            Simulación
                        </header>

                        <div class="_m-summary__name">
                            <div class="container">
                                <article class="_m-summary__body">
                                    <div class="_m-summary__body__insured">
                                        <span class="title">Asegurado</span>
                                        <span id="insuredName" class="name"></span>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="_m-summary__coverage _m-summary--grey">
                            <div class="container">
                                <div class="_m-summary__body">
                                    <div class="_m-summary__body__insurance">
                                        <span class="title">Seguro de vida base</span>
                                        <span class="information">
                                            <span id="insuranceVidaUf" class="uf"></span>
                                            <span id="insuranceVidaClp" class="clp"></span>
                                        </span>
                                    </div>
                                    <div id="disabilityInsurance" class="other-insurance _s-div--disabled" data-insurance="1">
                                        <hr />
                                        <div class="_m-summary__body__insurance">
                                            <span class="cancel-insurance" data-insurance="1">
                                                <i class="icon icon-times"></i>
                                            </span>
                                            <span class="title">Invalidez total y permanente 2/3</span>
                                            <span class="information">
                                                <span id="insuranceInvalidezUf" class="uf"></span>
                                                <span id="insuranceInvalidezClp" class="clp"></span>
                                            </span>
                                            <span class="_s-div--disabled">
                                                <input type="checkbox" class="check-box _main-l-section__header__checkbox" id="checkboxDisability" data-insurance="1" name="invalidez_valor" >
                                                <input type='hidden' name="invalidez_nombre" value="Invalidez total y permanente 2/3">
                                                <input type='hidden' name="invalidez_id" value="5">
                                            </span>
    
                                        </div>
                                    </div>
                                    <div id="medicalInsurance" class="other-insurance _s-div--disabled">
                                        <hr />
                                        <div class="_m-summary__body__insurance">
                                            <span class="cancel-insurance" data-insurance="2">
                                                <i class="icon icon-times"></i>
                                            </span>
                                            <span class="title">Muerte Accidental + Urgencias Médicas</span>
                                            <span class="information">
                                                <span id="insuranceMedicalUf" class="uf"></span>
                                                <span id="insuranceMedicalClp" class="clp"></span>
                                            </span>
                                            <span class="_s-div--disabled">
                                                <input type='checkbox' name="urgencias_medicas_valor" class="check-box _main-l-section__header__checkbox" id="checkboxMedical" data-insurance="2" >
                                                <input type='hidden' name="urgencias_medicas_nombre" value="Muerte accidental + Urgencias médicas">
                                                <input type='hidden' name="urgencias_medicas_id" value="3">
                                            </span>
    
                                        </div>
                                    </div>
                                    <div id="dentalInsurance" class="other-insurance _s-div--disabled">
                                        <hr />
                                        <div class="_m-summary__body__insurance">
                                            <span class="cancel-insurance" data-insurance="3">
                                                <i class="icon icon-times"></i>
                                            </span>
                                            <span class="title">Muerte Accidental + Urgencia Dental</span>
                                            <span class="information">
                                                <span id="insuranceDentalUf" class="uf"></span>
                                                <span id="insuranceDentalClp" class="clp"></span>
                                            </span>
                                            <span class="_s-div--disabled">
                                                <input type='checkbox' name="urgencias_dental_valor" class="check-box _main-l-section__header__checkbox" id="checkboxDental" data-insurance="3">
                                                <input type='hidden' name="urgencias_dental_nombre" value="Muerte accidental + Urgencia dental">
                                                <input type='hidden' name="urgencias_dental_id" value="2">
                                            </span>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="_m-summary__prime">
                            <div class="container">
                                <div class="_m-summary__body">
                                    <div class="_m-summary__body__consolidated">
                                        <span class="title">Valor prima mensual</span>
                                        <span id="resumeTotalUF" class="total-uf"></span>
                                        <span id="resumeTotalCLP" class="total-clp"></span>
                                        <input type="hidden" name="prima_mensual_UF" id="primaMensualUF">
                                        <input type="hidden" name="prima_mensual_cl" id="primeResultCLInput">
                                        <span class="description">Valor referencial UF al <span id="dateUF"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="_m-summary__submit _m-summary--border-top">
                            <div class="container ">
                                <div class="_m-summary__body _text__center text-uppercase">
                                    <button id="btnNextStep" class="mod-btn  mod-align-right mod-btn_summary">Siguiente ></button>
                                </div>
                            </div>
                        </div>
                    </section>

                    
                </div>
            </aside>
          </div>
        </form>
        <!--- Layout Legal --->
        <div class="row d-sm-block d-md-none">
            <div  class="layout_container col-md-8 legal">
                <p class="legal__p">El proponente asegurado autoriza, en este acto, al Banco Santander, para que informe a la
                Compañía aseguradora sobre sus datos personales, de contacto, las actualizaciones y/o cualquier
                modificación de los mismos que le entregue u otorgue. Autoriza además a la Compañía a
                notificarlos a estas nuevas o diferentes direcciones informadas sean físicas o electrónicas.
                Autorización de enviar las comunicaciones y notificaciones al correo electrónico definido en la
                contratación. La cobertura es otorgada por Zurich Santander Seguros de Vida Chile SA, RUT 96.819.630-8,
                intermediada por Santander Corredora de Seguros Ltda. Rut: 96.524.260-0, ambas domiciliadas en
                Bombero Ossa 1068 piso 4, Santiago y se rige según lo dispuesto por las Condiciones Generales
                depositadas en el registro de la Superintendencia de Valores y Seguros indicado en el cuadro de
                “Coberturas”.
                Zurich Santander Seguros de Vida Chile S.A. se encuentra adherida al Código de Autorregulación
                de las Compañías de Seguros y está sujeta al Compendio de Buenas Prácticas Corporativas, que
                contiene un conjunto de normas destinadas a promover una adecuada relación de las compañías
                de seguros con sus clientes. Copia de este Compendio se encuentra en la página web www.aach.cl.
                Asimismo, ha aceptado la intervención del Defensor del Asegurado cuando los clientes le
                presenten reclamos en relación a los contratos celebrados con ella. Los clientes pueden presentar
                sus reclamos ante el Defensor del Asegurado utilizando los formularios disponibles en las oficinas
                de Zurich Santander Seguros de Vida Chile S.A o a través de la página web www.ddachile.cl.
                </p>
            </div>
        </div>
        <!--- End Layout Legal --->
      </div>
<!-- End Module -->
    </div>
   
    <script> var utag_data =   {%  if _UDATA is defined %} {{ _UDATA | json_encode | raw }}  {% else %} {} {% endif %};</script>
    <script type="text/javascript">
        (function() {
           var script=document.createElement("script");script.src="//code.jquery.com/jquery-1.12.4.min.js",
           script.async=!1,document.body.appendChild(script)
       })();
   </script>
    <script type="text/javascript">
        (function(a,b,c,d){
        a='https://tags.tiqcdn.com/utag/santander/ch-online-banking/prod/utag.js';
        b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
        a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
        })();
    </script>
<script type="text/javascript" src="/web20/legos-assets/common.bundle.js?hash=0854234e34cd32a5ec66"></script><script type="text/javascript" src="/web20/legos-assets/stylesheet.bundle.js?hash=0854234e34cd32a5ec66"></script><script type="text/javascript" src="/web20/legos-assets/dps.bundle.js?hash=0854234e34cd32a5ec66"></script></body>
</html>