
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Dps Simple</title>
        <script>{% if _DATA_SESSION is defined %} var _DATA_SESSION =  {{ _DATA_SESSION | json_encode | raw }}; {% endif %} {% if _NAME is defined %} var _NAME =  {{ _NAME | json_encode | raw }}; {% endif %} {% if _VIDA is defined %} var _VIDA =  {{ _VIDA | json_encode | raw }}; {% endif %} {% if _DATA_PRIMA is defined %} var _DATA_PRIMA =  {{ _DATA_PRIMA | json_encode | raw }}; {% endif %} {% if _PRODUCTS is defined %} var _PRODUCTS =  {{ _PRODUCTS | json_encode | raw }}; {% endif %} {% if _CLP_UF is defined %} var _CLP_UF =  {{ _CLP_UF | json_encode | raw }}; {% endif %} {% if _DATE_UF is defined %} var _DATE_UF =  {{ _DATE_UF | json_encode | raw }}; {% endif %} {% if _MEDICAL_URGENCY is defined %} var _MEDICAL_URGENCY =  {{ _MEDICAL_URGENCY | json_encode | raw }}; {% endif %} {% if _MEDICAL_DENTAL is defined %} var _MEDICAL_DENTAL =  {{ _MEDICAL_DENTAL | json_encode | raw }}; {% endif %} {% if _PLANNER is defined %} var _PLANNER =  {{ _PLANNER | json_encode | raw }}; {% endif %} </script>
    <script type="text/javascript" src="/web20/legos-assets/loading_head.bundle.js?hash=0854234e34cd32a5ec66"></script></head>
    <body>    
        <div id="legos" style="display:none">
    <div id="legosLifeBeneficiary" class="container">
        <form action="" method="POST" id="formMain" autocomplete="off">
        <div class="row">
            <div class="layout_container col-md-8">
              <div class="_l-base__section layout_section_barProgress">
                  <div class="layout_section_barProgress__content">
                    <div class="layout_section_barProgress__content__title">
                        <span class="layout_section_barProgress__content__title__circle">3</span> DECLARACIONES
                    </div>
                    <div class="layout_section_barProgress__content__steps">
                        PASO 3/4
                    </div>
                  </div>
                  <div class="layout_section_barProgress__progress">
                    <span class="step step--active"></span>
                    <span class="step step--active"></span>
                    <span class="step step--active"></span>
                    <span class="step"></span>
                  </div>
              </div>
                <div class="layout layout_section_form container">

                    <div class="layout_form_header row _m-collapsible__contents__header">
                        <div class="mod_title col-8">
                            <div class="container">
                                <div class="row">
                                    <span class="subtitle_bold">DECLARACIÓN PERSONAL DE SALUD</span>
                                </div>
                                <div class="row">
                                    <span class="caption caption_normal">Declaración de preexistencias o tu condición actual de salud.</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 _align-text__right">
                            <div class="d-inline-block ml-md-4 ml-1">
                                <icon class="_icon__medium icon-color__red icon-arrow-head-up collapsible"></icon>
                            </div>
                        </div>
                    </div>
                    <div class="layout_form_container row _m-collapsible__contents__content">
                        <div class="container">
                            <div class="row _l-grids__section__margin">
                                <div class="col-md-12">
                                    <p class="caption caption_normal _align-text__justify">
                                        Declaro estar en conocimiento que, en conformidad con la normativa legal vigente y con lo establecido en las condiciones generales de la póliza que rige la cobertura, es mi deber declarar sinceramente todas aquellas circunstancias relativas a mi estado pasado y actual de salud que puedan afectar el riesgo que asumirá la compañía y que pueden constituir una restricción, limitación o exclusión de cobertura.
                                    </p>
                                </div>
                            </div>

                            <div class="row _l-grids__section__margin">
                                <div class="col-md-12">
                                    <span class="text-body_semibold">
                                        ¿Has sido diagnosticado o estás en conocimiento de tener alguna de las enfermedades mencionadas a continuación?
                                    </span>
                                </div>
                            </div>
                            <div class="row _l-grids__section__margin">
                                <div class="col-md-12" data-validation="true">
                                    <!-- QUESTION -->
                                    <div class="row">
                                        <div class="col-md-12" id="questionDeceases">
                                            <div class="row">
                                                <div class="col-md-12 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="ninguna_enfermedad" id="notDeceases">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Ninguna enfermedad de riesgo
                                                            </div>
                                                            <div class="caption caption_normal">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0">
                                                            <input type='checkbox' class="check-box" name="enfermedades_infecciosas" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades infecciosas
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                VIH positivo/SIDA, Hepatitis (excepto hepatitis A).
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0">
                                                            <input type='checkbox' class="check-box" name="enfermedades_oncologicas" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades oncológicas
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Cáncer.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0">
                                                            <input type='checkbox' class="check-box" name="enfermedades_hematologicas" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades hematológicas
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Leucemia, Linfoma o Anemia (excepto por falta de fierro).
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0">
                                                            <input type='checkbox' class="check-box" name="enfermedades_cardiovasculares" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades cardiovasculares
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Hipertensión arterial, Arritmias , Soplos cardíacos.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0">
                                                            <input type='checkbox' class="check-box" name="enfermedades_metabolicas" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades metabólicas
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Diabetes, Obesidad.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0">
                                                            <input type='checkbox' class="check-box" name="enfermedades_neurologicas" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades neurológicas
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Accidentes vasculares cerebrales, Epilepsia, Alzhéimer.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0">
                                                            <input type='checkbox' class="check-box" name="enfermedades_gastrointestinales" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades gastrointestinales
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Cirrosis hepática, Úlcera gástrica, Colitis ulcerosa.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0">
                                                            <input type='checkbox' class="check-box" name="enfermedades_mentales" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades mentales
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Desórdenes nerviosos o mentales.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0">
                                                            <input type='checkbox' class="check-box" name="enfermedades_geneticas_hereditarias" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades genéticas y hereditarias
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Síndrome de Down.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0">
                                                            <input type='checkbox' class="check-box" name="enfermedades_renales" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades renales
                                                            </div>
                                                            <div class="caption caption_normal">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0">
                                                            <input type='checkbox' class="check-box" name="enfermedades_respiratorias" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades respiratorias
                                                            </div>
                                                            <div class="caption caption_normal">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0">
                                                            <input type='checkbox' class="check-box" name="enfermedades_degenerativas" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Enfermedades degenerativas
                                                            </div>
                                                            <div class="caption caption_normal">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 _l-grids--col">
                                                    <div class="row mod-col-padding">
                                                        <div class="col-auto pr-0 ">
                                                            <input type='checkbox' class="check-box" name="otra_enfermedad" id="checkbox-form-disabled">
                                                        </div>
                                                        <div class="col-10 col-md-10">
                                                            <div class="caption caption_semibold">
                                                                Otra enfermedad, anormalidad, defecto o lesión
                                                            </div>
                                                            <div class="caption caption_normal">
                                                                Que ponga en riesgo mi vida.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                

                                            </div>

                                        </div>
                                    
                                    </div><!-- END QUESTION -->

                                   
                                    <div class="row _s-div--disabled" id="whichDeceases">
                                    <!--<div class="row dps-component__declaration _l-grids__section__margin">-->
                                         <!-- DECLARETION -->
                                        <div class="col-md-12">
                                            <div class="container">
                                                <div data-validation="true">
                                                    <div class="row">
                                                        <label for="deceases" class="_input _input__long">
                                                            <input class="_input _input__text _input__long _input__text__counter"
                                                                type="text"
                                                                id="deceases"
                                                                placeholder="&nbsp;"
                                                                data-validation-min="1"
                                                                data-validation-max="100"
                                                                maxlength="100"
                                                                data-validation-type="alphabet-symbol-number"
                                                                name="descripcion_enfermedades"
                                                            >
                                                            <span class="_input__label">¿Cuáles?</span>
                                                            <span class="_input__label__counter caption caption-normal">0/100</span>
                                                            <span id="deceasesHelp" class="_input__help caption caption-normal">Separa las enfermedades con una coma</span>
                                                            <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa información sobre tu o tus enfermedades.</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- END DECLARETION -->
                                        <!-- TERM CONDITION -->
                                        <div class="col-md-12">
                                            <div class="container ">
                                                <div class="mod-message msg-info row">
                                                    <div class="container">
                                                        <div class="row">
                                                            <span class="col-auto pr-0">
                                                            <i class="iconbase icon-info"></i>
                                                            </span>
                                                            <span class="col-10 col-lg-11 col-md-10 pr-md-0 caption caption-normal msg-text">
                                                            <span class="text-semi-bold">Cualquier enfermedad o condición que hayas declarado anteriormente quedará fuera de tu cobertura.</span> No se podrá cobrar el seguro por eventos causados por éstas.
                                                        </div>
                                                    </div>
                                                </div>
                                            
                                            </div>
                                        </div>
                                        <!-- END TERM CONDITION -->
                                    </div>
                                </div>
                                <div class="col-md-12 " data-validation="true">
                                    <div class="row"  >
                                        <div class="col-md-12" >
                                            <div class="container margin_container">
                                                <div id="messageDeclarationConformity" data-validation-error="true" class="_l-grids__section__margin _s-div--disabled mod-message msg__warning row">
                                                    <div class="container">
                                                    <div class="row">
                                                        <span class="col-auto pr-0">
                                                            <i class="_icons _icons__warning icon-exclamation"></i>
                                                        </span>
                                                        <span class="col-10 col-lg-11 col-md-10 pr-md-0 caption caption-normal msg-text">
                                                        Confirma la veracidad de tu declaración de salud, y que autorizas el acceso a tu historial médico.
                                                        </span>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                    <div class="row">
                                        <div class="col-md-12" >
                                            <div class="dps-component__checkbox">
                                                <input type="checkbox" class="check-box _main-l-section__header__checkbox" name="declaracion_conformidad" id="declarationConformity" >
                                            </div>
                                            <p class="caption caption-normal _m-dps-comments__left">
                                                Declaro estar en conocimiento que, en conformidad con la normativa legal vigente y con lo establecido en las <a href="#" class="_link _link__in-text" id="terms-condition-file">condiciones generales de la póliza</a> que rige la cobertura, es mi deber declarar sinceramente todas aquellas circunstancias relativas a mi estado pasado y actual de salud que pueden afectar el riesgo que asumirá la compañía y que pueden constituir una restricción, limitación o exclusión de cobertura.
                                            </p>
                                            <br>
                                            <p class="caption caption-normal _m-dps-comments__left" >
                                                Asimismo, autorizo a <span class="_text__italic" >Zurich Santander Seguros de Vida Chile S.A.</span> a solicitar a cualquier médico, hospital, clínica u otra institución, información sobre mi estado de salud o el estado de las personas propuestas para el seguro. Finalmente, declaro que ninguno de los propuestos asegurados de esta solicitud ha sido rechazado por alguna compañía aseguradora de vida durante los últimos 24 meses
                                            </p>
                                            <br class="clearfix"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
                <!-- ***************************** End Layout ***************************** -->
                <div class="layout_section_button container">
                    <div class="row">
                        <div class="col-6">
                          <a id="btnPreviousStep" class="mod-btn_back"> < Volver </a>
                        </div>
                       
                    </div>
                </div>


                <!--- Layout Legal --->
                <div class="layout_container row d-md-block d-none">
                    <div  class=" col-md-12 legal">
                        <p class="legal__p">El proponente asegurado autoriza, en este acto, al Banco Santander, para que informe a la
                        Compañía aseguradora sobre sus datos personales, de contacto, las actualizaciones y/o cualquier
                        modificación de los mismos que le entregue u otorgue. Autoriza además a la Compañía a
                        notificarlos a estas nuevas o diferentes direcciones informadas sean físicas o electrónicas.
                        Autorización de enviar las comunicaciones y notificaciones al correo electrónico definido en la
                        contratación. La cobertura es otorgada por Zurich Santander Seguros de Vida Chile SA, RUT 96.819.630-8,
                        intermediada por Santander Corredora de Seguros Ltda. Rut: 96.524.260-0, ambas domiciliadas en
                        Bombero Ossa 1068 piso 4, Santiago y se rige según lo dispuesto por las Condiciones Generales
                        depositadas en el registro de la Superintendencia de Valores y Seguros indicado en el cuadro de
                        “Coberturas”.
                        Zurich Santander Seguros de Vida Chile S.A. se encuentra adherida al Código de Autorregulación
                        de las Compañías de Seguros y está sujeta al Compendio de Buenas Prácticas Corporativas, que
                        contiene un conjunto de normas destinadas a promover una adecuada relación de las compañías
                        de seguros con sus clientes. Copia de este Compendio se encuentra en la página web www.aach.cl.
                        Asimismo, ha aceptado la intervención del Defensor del Asegurado cuando los clientes le
                        presenten reclamos en relación a los contratos celebrados con ella. Los clientes pueden presentar
                        sus reclamos ante el Defensor del Asegurado utilizando los formularios disponibles en las oficinas
                        de Zurich Santander Seguros de Vida Chile S.A o a través de la página web www.ddachile.cl.
                        </p>
                    </div>
                </div>
                <!--- End Layout Legal --->
            </div>

            <aside class="_m-summary col-md-4">
                <div class="_m-summary__sticky">
                    <section class="_l-base__section">
                        <header class="_m-summary__header">
                            Simulación
                        </header>

                        <div class="_m-summary__name">
                            <div class="container">
                                <article class="_m-summary__body">
                                    <div class="_m-summary__body__insured">
                                        <span class="title">Asegurado</span>
                                        <span id="insuredName" class="name"></span>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="_m-summary__coverage _m-summary--grey">
                            <div class="container">
                                <div class="_m-summary__body">
                                    <div class="_m-summary__body__insurance">
                                        <span class="title">Seguro de vida base</span>
                                        <span class="information">
                                            <span id="insuranceVidaUf" class="uf"></span>
                                            <span id="insuranceVidaClp" class="clp"></span>
                                        </span>
                                    </div>
                                    <div id="disabilityInsurance" class="other-insurance _s-div--disabled" data-insurance="1">
                                        <hr />
                                        <div class="_m-summary__body__insurance">
                                            <span class="cancel-insurance" data-insurance="1">
                                                <i class="icon icon-times"></i>
                                            </span>
                                            <span class="title">Invalidez total y permanente 2/3</span>
                                            <span class="information">
                                                <span id="insuranceInvalidezUf" class="uf"></span>
                                                <span id="insuranceInvalidezClp" class="clp"></span>
                                            </span>
                                            <span class="_s-div--disabled">
                                                <input type="checkbox" class="check-box _main-l-section__header__checkbox" id="checkboxDisability" data-insurance="1" name="invalidez_valor" >
                                                <input type='hidden' name="invalidez_nombre" value="Invalidez total y permanente 2/3">
                                                <input type='hidden' name="invalidez_id" value="5">
                                            </span>
    
                                        </div>
                                    </div>
                                    <div id="medicalInsurance" class="other-insurance _s-div--disabled">
                                        <hr />
                                        <div class="_m-summary__body__insurance">
                                            <span class="cancel-insurance" data-insurance="2">
                                                <i class="icon icon-times"></i>
                                            </span>
                                            <span class="title">Muerte Accidental + Urgencias Médicas</span>
                                            <span class="information">
                                                <span id="insuranceMedicalUf" class="uf"></span>
                                                <span id="insuranceMedicalClp" class="clp"></span>
                                            </span>
                                            <span class="_s-div--disabled">
                                                <input type='checkbox' name="urgencias_medicas_valor" class="check-box _main-l-section__header__checkbox" id="checkboxMedical" data-insurance="2" >
                                                <input type='hidden' name="urgencias_medicas_nombre" value="Muerte accidental + Urgencias médicas">
                                                <input type='hidden' name="urgencias_medicas_id" value="3">
                                            </span>
    
                                        </div>
                                    </div>
                                    <div id="dentalInsurance" class="other-insurance _s-div--disabled">
                                        <hr />
                                        <div class="_m-summary__body__insurance">
                                            <span class="cancel-insurance" data-insurance="3">
                                                <i class="icon icon-times"></i>
                                            </span>
                                            <span class="title">Muerte Accidental + Urgencia Dental</span>
                                            <span class="information">
                                                <span id="insuranceDentalUf" class="uf"></span>
                                                <span id="insuranceDentalClp" class="clp"></span>
                                            </span>
                                            <span class="_s-div--disabled">
                                                <input type='checkbox' name="urgencias_dental_valor" class="check-box _main-l-section__header__checkbox" id="checkboxDental" data-insurance="3">
                                                <input type='hidden' name="urgencias_dental_nombre" value="Muerte accidental + Urgencia dental">
                                                <input type='hidden' name="urgencias_dental_id" value="2">
                                            </span>
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="_m-summary__prime">
                            <div class="container">
                                <div class="_m-summary__body">
                                    <div class="_m-summary__body__consolidated">
                                        <span class="title">Valor prima mensual</span>
                                        <span id="resumeTotalUF" class="total-uf"></span>
                                        <span id="resumeTotalCLP" class="total-clp"></span>
                                        <input type="hidden" name="prima_mensual_UF" id="primaMensualUF">
                                        <input type="hidden" name="prima_mensual_cl" id="primeResultCLInput">
                                        <span class="description">Valor referencial UF al <span id="dateUF"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="_m-summary__submit _m-summary--border-top">
                            <div class="container ">
                                <div class="_m-summary__body _text__center text-uppercase">
                                    <button id="btnNextStep" class="mod-btn  mod-align-right mod-btn_summary">Siguiente ></button>
                                </div>
                            </div>
                        </div>
                    </section>

                    
                </div>
            </aside>
          </div>
        </form>
        <!--- Layout Legal --->
        <div class="row d-sm-block d-md-none">
            <div  class="layout_container col-md-8 legal">
                <p class="legal__p">El proponente asegurado autoriza, en este acto, al Banco Santander, para que informe a la
                Compañía aseguradora sobre sus datos personales, de contacto, las actualizaciones y/o cualquier
                modificación de los mismos que le entregue u otorgue. Autoriza además a la Compañía a
                notificarlos a estas nuevas o diferentes direcciones informadas sean físicas o electrónicas.
                Autorización de enviar las comunicaciones y notificaciones al correo electrónico definido en la
                contratación. La cobertura es otorgada por Zurich Santander Seguros de Vida Chile SA, RUT 96.819.630-8,
                intermediada por Santander Corredora de Seguros Ltda. Rut: 96.524.260-0, ambas domiciliadas en
                Bombero Ossa 1068 piso 4, Santiago y se rige según lo dispuesto por las Condiciones Generales
                depositadas en el registro de la Superintendencia de Valores y Seguros indicado en el cuadro de
                “Coberturas”.
                Zurich Santander Seguros de Vida Chile S.A. se encuentra adherida al Código de Autorregulación
                de las Compañías de Seguros y está sujeta al Compendio de Buenas Prácticas Corporativas, que
                contiene un conjunto de normas destinadas a promover una adecuada relación de las compañías
                de seguros con sus clientes. Copia de este Compendio se encuentra en la página web www.aach.cl.
                Asimismo, ha aceptado la intervención del Defensor del Asegurado cuando los clientes le
                presenten reclamos en relación a los contratos celebrados con ella. Los clientes pueden presentar
                sus reclamos ante el Defensor del Asegurado utilizando los formularios disponibles en las oficinas
                de Zurich Santander Seguros de Vida Chile S.A o a través de la página web www.ddachile.cl.
                </p>
            </div>
        </div>
        <!--- End Layout Legal --->
      </div>
    </div>
   
    <script> var utag_data =   {%  if _UDATA is defined %} {{ _UDATA | json_encode | raw }}  {% else %} {} {% endif %};</script>
    <script type="text/javascript">
        (function() {
           var script=document.createElement("script");script.src="//code.jquery.com/jquery-1.12.4.min.js",
           script.async=!1,document.body.appendChild(script)
       })();
   </script>
    <script type="text/javascript">
        (function(a,b,c,d){
        a='https://tags.tiqcdn.com/utag/santander/ch-online-banking/prod/utag.js';
        b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
        a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
        })();
    </script>
<script type="text/javascript" src="/web20/legos-assets/common.bundle.js?hash=0854234e34cd32a5ec66"></script><script type="text/javascript" src="/web20/legos-assets/stylesheet.bundle.js?hash=0854234e34cd32a5ec66"></script><script type="text/javascript" src="/web20/legos-assets/dps_simple.bundle.js?hash=0854234e34cd32a5ec66"></script></body>
</html>