
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Error</title>
        
    <script type="text/javascript" src="/web20/legos-assets/loading_head.bundle.js?hash=80f1dbcc9eb944dffb67"></script></head>
    <body>    
        <div id="legos" style="display:none">
        <div class="error__container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="_l-base__section layout_section_form container">
                            <!-- Header Container -->
                            <div class="error__container__header _m-container-header  row">
                                <div class="modal__container__header__icon s-modal--danger _text__center">
                                    <i class="icon icon-minus"></i>
                                </div>
                                <h1 class="error__container__header__title">¡Lo sentimos!</h1>
                            </div><!-- END Header Container -->

                            <div class="error__container__body  _m-container-abstract row">
                                <p class="_text__center">El sistema está demorando más tiempo del esperado en procesar esta operación.<br/>
                                    <strong>Inténtalo de nuevo.</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="error__container__button">
                        <button id="go-home">Volver al inicio</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    <script> var utag_data =   {%  if _UDATA is defined %} {{ _UDATA | json_encode | raw }}  {% else %} {} {% endif %};</script>
    <script type="text/javascript">
        (function() {
           var script=document.createElement("script");script.src="//code.jquery.com/jquery-1.12.4.min.js",
           script.async=!1,document.body.appendChild(script)
       })();
   </script>
    <script type="text/javascript">
        (function(a,b,c,d){
        a='//tags.tiqcdn.com/utag/santander/ch-online-banking/prod/utag.js';
        b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
        a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
        })();
    </script>
<script type="text/javascript" src="/web20/legos-assets/common.bundle.js?hash=80f1dbcc9eb944dffb67"></script><script type="text/javascript" src="/web20/legos-assets/stylesheet.bundle.js?hash=80f1dbcc9eb944dffb67"></script><script type="text/javascript" src="/web20/legos-assets/error.bundle.js?hash=80f1dbcc9eb944dffb67"></script></body>
</html>
