<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ asset('assets/legos/css/base.css?time') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <!-- Module -->
    <div id="legosLifeHome" class="container">
        <header class="row">
            <div class="layout_header col-md-12">
                <div class="layout">
                    <icon></icon>
                    <h1>Seguro de vida a tu medida</h1>
                    <h2>Arma tu seguro de Vida de acuerdo a tus necesidades</h2>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="layout_container col-md-8">
                <div class="layout layout_section_barProgress">
                    <div>
                        1 - Personalización
                    </div>
                    <div>
                        PASO 1/4
                    </div>
                </div>
                <div class="layout layout_section_buildInsurance" style="text-align:center">
                    <h3>- Vida a tu medida -</h3>
                </div>
                <div class="layout layout_section_summary">
                    <div class="LegosLifeHome_summary_header">
                        <div class="LegosLife_title">
                            <div class="ico"></div>
                            <h3>Seguro de Vida</h3>
                            <h5>Seguro de vida base con cobertura sobre muerte natural.</h5>
                        </div>
                        <div class="LegosLife_price">
                            Prima mensual UF 1.14 ($30.802)
                        </div>
                    </div>
                    <div class="LegosLifeHome_summary_container">
                        <input type="text">
                        <p>
                            Protege a tu familia en caso de muerte natural con un monto de capital personalizado
                        </p>
                    </div>
                </div>
                <div class="layout layout_section_assists container">
                    <div class="row">
                        <div class="cols-md-8">
                            <input type="checkbox" id="invalides" value="9200" onclick="sumPrima(this,0.34,9200)">
                            <b>INVALIDEZ</b>
                            <br>
                            <span>Cobertura Total y Parcial</span>
                        </div>
                        <div class="cols-md-4">
                            <b>UF 0,34</b>
                            ($9.200)
                            <span>15% descuento incluido</span>
                        </div>
                        <p>Protege a tu familia en caso de quedar inválido.</p>
                    </div>
                    <div class="row">
                        <div class="cols-md-8">
                            <input type="checkbox" id="accidente-urgencia" value="9800" onclick="sumPrima(this,0.38,9800)">
                            <b>ACCIDENTE FATAL  + URGENCIAS MÉDICAS</b>
                            <br>
                            <span>Cobertura de muerte accidental y Atención en urgencias Médicas</span>
                        </div>
                        <div class="cols-md-4">
                            <b>UF 0.36</b>
                            ($9.800)
                            <span>27% descuento incluido</span>
                        </div>
                        <p>Agrega protección adicional en caso de muerte accidental de UF 150 a tu seguro de vida, y el beneficio de atención médica de urgencia para toda tu familia.</p>
                    </div>
                    <div class="row">
                        <div class="cols-md-6">
                            <input type="checkbox" id="accidente-dental" value="10000" onclick="sumPrima(this,0.40,10000)">
                            <b>ACCIDENTE FATAL  + ATENCIÓN DENTAL</b>
                            <br>
                            <span>Cobertura de muerte accidental y Atención Dental</span>
                        </div>
                        <div class="cols-md-6">
                            <b>UF 0,40</b>
                            ($10.000)
                            <span>15% descuento incluido</span>
                        </div>
                        <p>Agrega protección adicional en caso de muerte accidental de UF 250 a tu seguro de vida, y el beneficio de atención dental para toda tu familia.</p>
                    </div>
                </div>
                <div class="layout layout_section_information">
                </div>
                <div class="layout layout_section_button">
                    <a href="#"> < Volver </a>
                    <a href="{{ path_token('legos_life_homepage') }}/2" class="more">Sigiuente</a>
                </div>
            </div>
            <aside class="layout layout_assert col-md-4">
                <b>VALOR PRIMA MENSUAL</b>
                <br>
                UF<span id="resultadoUF"></span>
                <br>
                $<span id="resultadoPrima"></span>
                <br>
                <span>Valor referencial a la UF del día</span>
            </aside>
        </div>
    </div>
    <script type="text/javascript">
        var prima;
        var ufs;
        var resultPrimaUf = document.getElementById('resultadoUF');
        var resultPrima = document.getElementById('resultadoPrima');

        function main(){
            prima = 30802;
            ufs=1.14;
            resultPrima.innerHTML = prima;
            resultPrimaUf.innerHTML = ufs;
        }

        function checkcheck(e){
            return e.checked;
        }

        function sumPrima(e,eluf,prim) {
            if ( checkcheck(e) ) {
                prima = prima + (prim);
                ufs = parseFloat(ufs) + parseFloat(eluf);
                resultPrimaUf.innerHTML = ufs.toFixed(2);
                resultPrima.innerHTML = prima;
            }else{
                prima = prima - (prim);
                ufs = parseFloat(ufs) - parseFloat(eluf);
                resultPrimaUf.innerHTML = ufs.toFixed(2);
                resultPrima.innerHTML = prima;
            }
        }

        main();
    </script>
    <!-- End Module -->

    </body>
</html>
