
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Coberturas Bases</title>
        <script>{% if _CHECKEDS is defined %} var _CHECKEDS =  {{ _CHECKEDS | json_encode | raw }}; {% endif %}{% if _ALLOWINVALIDEZ is defined %} var _ALLOWINVALIDEZ =  {{ _ALLOWINVALIDEZ | json_encode | raw }}; {% endif %}{% if _INVALIDEZ is defined %} var _INVALIDEZ =  {{ _INVALIDEZ | json_encode | raw }}; {% endif %}{% if _VIDA is defined %} var _VIDA =  {{ _VIDA | json_encode | raw }}; {% endif %}{% if _COVERAGE is defined %} var _COVERAGE =  {{ _COVERAGE | json_encode | raw }}; {% endif %} {% if _NAME is defined %} var _NAME =  {{ _NAME | json_encode | raw }}; {% endif %} {% if _VIDA is defined %} var _VIDA =  {{ _VIDA | json_encode | raw }}; {% endif %} {% if _DATA_PRIMA is defined %} var _DATA_PRIMA =  {{ _DATA_PRIMA | json_encode | raw }}; {% endif %} {% if _PRODUCTS is defined %} var _PRODUCTS =  {{ _PRODUCTS | json_encode | raw }}; {% endif %} {% if _CLP_UF is defined %} var _CLP_UF =  {{ _CLP_UF | json_encode | raw }}; {% endif %} {% if _DATE_UF is defined %} var _DATE_UF =  {{ _DATE_UF | json_encode | raw }}; {% endif %} {% if _MEDICAL_URGENCY is defined %} var _MEDICAL_URGENCY =  {{ _MEDICAL_URGENCY | json_encode | raw }}; {% endif %} {% if _MEDICAL_DENTAL is defined %} var _MEDICAL_DENTAL =  {{ _MEDICAL_DENTAL | json_encode | raw }}; {% endif %} {% if _PLANNER is defined %} var _PLANNER =  {{ _PLANNER | json_encode | raw }}; {% endif %} </script>
    <script type="text/javascript" src="/web20/legos-assets/loading_head.bundle.js?hash=0854234e34cd32a5ec66"></script></head>
    <body>    
        <div id="legos" style="display:none">
    <!-- Module -->
    <div id="legosLifeBeneficiary" class="container" >
        <div class="row">
            <div class="layout_container col-md-8">
                <div class="_l-base__section layout_section_barProgress">
                    <div class="layout_section_barProgress__content">
                      <div class="layout_section_barProgress__content__title">
                          <span class="layout_section_barProgress__content__title__circle">1</span> PERSONALIZACIÓN
                      </div>
                      <div class="layout_section_barProgress__content__steps">
                          PASO 1/4
                      </div>
                    </div>
                    <div class="layout_section_barProgress__progress">
                      <span class="step step--active"></span>
                      <span class="step"></span>
                      <span class="step"></span>
                      <span class="step"></span>
                    </div>
                </div>
                <!-- ***************************** Layout ***************************** -->
                <form action="" method="POST" id="formMain" autocomplete="off">
                <div class="_l-base__section layout_section_form container">

                    <!-- Header Container -->
                    <div class="_m-container-header row">
                        <div class=" _m-container-header__icon col-2">
                            <icon class="_icon__medium icon-santander"></icon>
                        </div>
                        <div class="_m-container-header__content col-10">
                            <div class="subtitle_bold">Seguro de vida</div>
                            <div class="caption caption_normal">Elige el monto de cobertura que recibirán tus beneficiarios en caso de fallecimiento.</div>
                        </div>
                    </div><!-- END Header Container -->

                    <div class="_m-container-abstract row">
                        <div class="container">
                            <div class="row _m-container-abstract__section__first">
                                <div class="_m-container-abstract__section__amount _l-grids-col">
                                    <div class="_m-container-abstract__section__amount__icon"><icon class="_icon__medium icon-coin-stack"></icon></div>
                                    <div class="">
                                        <span class="_m-container-abstract__text__overtitle">MONTO DE COBERTURA</span>
                                        <div class="headline headline__semibold">UF
                                            <span id="amountUF">1.500</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="_m-container-abstract__section__uf _l-grids-col _l-grids-col__vertical">
                                    <div class="">
                                        Prima mensual
                                        <span class="_main-text__uf text-body_bold"> UF
                                            <span id="primeResult"></span>
                                            <input type="hidden" name="cobertura_total" id="primeResultInput" value="">
                                            <input type="hidden" name="vida_valor" id="inputVidaValue" value="">
                                        </span>
                                    </div>
                                    <div class="caption">
                                        $<span id="primeResultCLP" class="caption"></span>
                                        <span class="text-body_light">Valor referencial UF al <span id="dateUFCoverage"></span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row _m-container-abstract__section__seconds">
                                <div class="_m-container-abstract__section__slide">
                                    <div class="">
                                        <input type="range" min="1000" max="30000" step="100" />
                                    </div>
                                    <div class="_m-container-abstract__section__range-details">
                                        <span class="caption">UF 1.000</span>
                                        <span class="caption">UF 30.000</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

              
                <div  class=" _l-base__section" id="invalidezSection">
                        <div class="_main-l-section__header h-auto d-block  p-3 pb-0">
                            <div class="row">
                                <div class="  col-md-8 col-7 pr-0">
                                    
                                    <div class="row">
                                        <div class="col-auto pr-0">
                                            <input type="checkbox" class="mr-0 ml-0 check-box _main-l-section__header__checkbox" id="checkboxDisability" data-insurance="1" name="invalidez_valor" value="0.96">
                                            <input type='hidden' name="invalidez_nombre" value="Invalidez total y permanente 2/3">
                                            <input type='hidden' name="invalidez_id" value="5">
                                            <input type='hidden' name="isCheckedDisability" id="isCheckedDisability" value="false">
                                        </div >
                                        <div class="col-9 pr-0">
                                            <div class="text-body_bold">Invalidez total y permanente 2/3 </div>
                                        </div>
                                        
                                    </div>
                                
                                    
                                </div>
                                <div class=" _align-text__right col-md-4 col-5"> 
                                    <div class="d-inline-block ">
                                        <div class="d-flex">
                                            <div class="d-inline-block">
                                                <span class="_main-text__uf text-body_bold">
                                                    UF <span id="disabilityResult"></span>
                                                </span>
                                                <span class="text-body_light _main-text__price" id="disabilityResultCLP"></span>
                                            </div>
                                            <div class="d-inline-block ml-md-4 ml-1">
                                                <icon class="_icon__medium icon-color__red icon-arrow-head-down collapsible"></icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="_main-l-section__content _s-tabs__content--disabled pb-3">
                            Agrega cobertura ante la pérdida irreversible y definitiva de a lo menos 2/3 de la capacidad física, intelectual o laboral; a causa de una enfermedad o accidente.
                        </div>
                    </div>
    
                     <div class="_l-base__section" id="urgenciaMedica">
                            <div class="_main-l-section__header h-auto d-block  p-3 pb-0">
                                <div class="row">
                                    <div class=" col-md-8 col-7 pr-0">
                                        <div class="row">
                                            <div class="col-auto pr-0">
                                                <input type='checkbox' name="urgencias_medicas_valor" class=" mr-0 ml-0  check-box _main-l-section__header__checkbox" id="checkboxMedical" data-insurance="2" value="0.36">
                                                <input type='hidden' name="urgencias_medicas_nombre" value="Muerte accidental + Urgencias médicas">
                                                <input type='hidden' name="urgencias_medicas_id" value="3">
                                                <input type='hidden' name="isCheckedMedical" id="isCheckedMedical" value="false">
    
                                            </div>
                                            <div class="col-9 col-lg-10 pr-0">
                                                <div class="text-body_bold">
                                                    Muerte accidental + Urgencias médicas
                                                    <div class="_main-text__discount  d-none d-xl-inline-block ml-2">27%   descuento</div>
                                                </div>
                                                <div class="_main-text__discount  d-xl-none d-inline-block mt-2">27%   descuento</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class=" _align-text__right col-md-4 col-5">
                                        <div class="d-inline-block ">
                                            <div class="d-flex">
                                                <div class="d-inline-block">
                                                    <span class="_main-text__uf text-body_bold">
                                                        <span id="medicalResult"></span>
                                                    </span>
                                                    <span class="text-body_light _main-text__price" id="medicalResultCLP"></span>
                                                   
                                                </div>
                                                <div class="d-inline-block ml-md-4 ml-1">
                                                    <icon class="_icon__medium icon-color__red icon-arrow-head-down collapsible "></icon>
                                                </div>
                                            </div>
                                        </div>
                                       
                                    </div>   
                                    
                                </div>
                            </div>
                            <div class="_main-l-section__content _s-tabs__content--disabled pb-3">
                                Agrega <span class="text-body_semibold"> UF 150 </span> a la cobertura de vida base en caso de muerte accidental. Incluye beneficio de atención en sala de urgencias a causa de enfermedad o accidente en diferentes clínicas o centros asistenciales de Chile.
                            </div>
                    </div>
    
                     <div class="_l-base__section" id="urgenciaDental">
                        <div class="_main-l-section__header h-auto d-block  p-3 pb-0">
                            <div class="row">
                                <div class="  col-md-8 col-7 pr-0">
                                    <div class="row">
                                        <div class="col-auto pr-0">
                                            <input type='checkbox' name="urgencias_dental_valor" class="mr-0 ml-0 check-box _main-l-section__header__checkbox" id="checkboxDental" data-insurance="3" value="0.38">
                                            <input type='hidden' name="urgencias_dental_nombre" value="Muerte accidental + Urgencia dental">
                                            <input type='hidden' name="urgencias_dental_id" value="2">
                                            <input type='hidden' name="isCheckedDental" id="isCheckedDental" value="false">
                                        </div>
                                        <div class="col-9 col-lg-10 pr-0">
                                            <div class="text-body_bold">
                                                Muerte accidental + Urgencia dental
                                                <div class="_main-text__discount  d-none d-xl-inline-block ml-2">15%   descuento</div>
                                            </div>
                                            <div class="_main-text__discount  d-xl-none d-inline-block mt-2">15%   descuento</div>
                                        </div>
                                    </div>
                                </div>
                                <div class=" _align-text__right col-md-4 col-5">
                                    <div class="d-inline-block ">
                                        <div class="d-flex">
                                            <div class="d-inline-block">
                                                <div>
                                                    <span class="_main-text__uf text-body_bold">
                                                        <span id="dentalResult"></span>
                                                    </span>
                                                    <span class="text-body_light _main-text__price" id="dentalResultCLP"></span>
                                                </div>
                                                <div>
                                                    
                                                    
                                                </div>
                                            </div>
                                            <div class="d-inline-block ml-md-4 ml-1">
                                                <icon class="_icon__medium icon-color__red icon-arrow-head-down collapsible"></icon>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="_main-l-section__content _s-tabs__content--disabled pb-3">
                            Agrega <span class="text-body_semibold">UF 250 </span> a la cobertura de vida base en caso de muerte accidental. Incluye beneficio de atención en urgencia odontológica y servicio de prevención para tu familia en centros dentales del país.
                        </div>
                    </div>
                <div class="_l-base__section">
                    <div class="_m-tabs">
                        <ul class="_m-tabs__headers">
                            <div class="_m-tabs__headers__tab _s-tabs--active"> ¿Qué cubre? </div>
                            <div class="_m-tabs__headers__tab"> ¿Qué no cubre? </div>
                            <div class="_m-tabs__headers__tab"> ¿Cómo usarlo? </div>
                        </ul>
                        <!-- Content 1 -->
                        <div class="_m-tabs__contents">
                            <div class="_m-tabs__contents__header text-body_semibold">
                                <div class="_m-tabs__contents__header__item _text__vertical__center">
                                    <icon class="_icon icon-legos-family mr-3"></icon>
                                    Seguro de Vida Base
                                </div>
                                <div class="_m-tabs__contents__header__item"> <icon class="_icon__medium icon-color__red icon-arrow-head-down"></icon> </div>
                            </div>
                            <div class="_m-tabs__contents__content _s-tabs__content--disabled">
                                <ul class="_list">
                                    <li>
                                        En caso de muerte natural o accidental, la compañía pagará a tus beneficiarios el capital asegurado.
                                    </li>
                                    <li>
                                        Requisitos de asegurabilidad de la cobertura principal de Vida y Muerte Accidental:
                                        <ul class="_list__sublist">
                                            <li>Edad mínima de ingreso: 18 años</li>
                                            <li>Edad máxima de ingreso 69 y 364 días</li>
                                            <li>La póliza será anual con renovación automática mientras el asegurado sea
                                            menor de 79 y 364 días años. Se deja expresa constancia que a la fecha de
                                            renovación la Compañía Aseguradora podrá modificar alguna de las
                                            condiciones de la póliza.</li>
                                        </ul>
                                    </li>
                                    <li>Requisitos de asegurabilidad de la cobertura principal de Anticipo de Capital por
                                        Invalidez Total y permanente 2/3:
                                        <ul class="_list__sublist">
                                            <li> Edad mínima de ingreso: 18 años</li>
                                            <li> Edad máxima de ingreso 60 y 364 días</li>
                                            <li> La póliza será anual con renovación automática mientras el asegurado sea
                                            menor de 64 y 364 días años. Se deja expresa constancia que a la fecha de
                                            renovación la Compañía Aseguradora podrá modificar alguna de las
                                            condiciones de la póliza.</li>
                                            
                                        </ul>
                                    </li>
                                    <li>Póliza de vigencia Anual con renovación automática.</li>
                                    <li>La prima del seguro variará en cada renovación de la póliza de acuerdo a la edad del
                                    asegurado y coberturas vigentes a esa fecha. De conformidad a lo señalado en la tabla
                                    señalada en las Condiciones Particulares que se emitan.</li>
                                    <li>En caso que el asegurado contrate la cobertura de Vida e Invalidez permanente 2/3,
                                    una vez cumplida la edad máxima de permanencia de esta última cobertura, la prima
                                    se calculará sólo en base a la tasa de riesgo de la cobertura de Vida.</li>
                                    <li>Con la emisión del comprobante de contratación, no se obtiene cobertura alguna al
                                    riesgo que se procura asegurar. La cobertura comienza a regir únicamente a partir del
                                    momento en que el riesgo sea aceptado por el asegurador y se inicie la vigencia de la
                                    póliza de acuerdo a la fecha que se indique en las condiciones particulares.</li>
                                    <li>Informese sobre la diversificación de la producción de Santander corredora de
                                    seguros limitada. En www .santander.cl</li>
                                    <li>Derecho de retractación: en el caso que este seguro haya sido contratado por un
                                    canal remoto o a web20/legos-assetsancia, por ejemplo en forma telefónica o por internet, el
                                    asegurado tendrá la facultad de retractarse dentro del plazo de 35 días, contado
                                    desde que reciba el certificado de cobertura en la dirección electrónica o el domicilio
                                    designado para tal efecto, sin expresión de causa ni cargo alguno, teniendo derecho a
                                    la devolución de la prima que hubiere pagado.</li>
                                </ul>
                            </div>
                            <div id="coverSectionInvalidez" class="_m-tabs__contents__header text-body_semibold">
                                <div class="_m-tabs__contents__header__item _text__vertical__center">
                                    <icon class="_icon icon-legos-disability mr-3"></icon>
                                    Invalidez Total y Permanente 2/3
                                </div>
                                <div class="_m-tabs__contents__header__item"> <icon class="_icon__medium icon-color__red icon-arrow-head-down"></icon> </div>
                            </div>
                            <div class="_m-tabs__contents__content _s-tabs__content--disabled">
                                <ul class="_list">
                                    <li>En caso de contratar la cobertura adicional invalidez permanente 2/3, la compañía pagará al titular el <span class="text-body_semibold">capital asegurado para cobertura de vida</span>. Este pago finaliza la póliza y sus cláusulas asociadas.</li>
                                    <li>Invalidez permanente 2/3 es la pérdida irreversible y definitiva, a consecuencia de enfermedad, accidente o debilitamiento de las fuerzas físicas o intelectuales, de a lo menos dos tercios (2/3) de la <span class="text-body_semibold">capacidad de trabajo</span>, evaluado conforme a las "Normas para la evaluación y calificación del grado de invalidez de los trabajadores afiliados al nuevo sistema de pensiones", regulado por el D.L. No 3.500 de 1980.</li>
                                </ul>
                            </div>
                            <div class="_m-tabs__contents__header text-body_semibold">
                                <div class="_m-tabs__contents__header__item _text__vertical__center">
                                    <icon class="_icon icon-legos-health mr-3"></icon>
                                    Muerte Accidental + Urgencias Médicas
                                </div>
                                <div class="_m-tabs__contents__header__item"> <icon class="_icon__medium icon-color__red icon-arrow-head-down"></icon> </div>
                            </div>
                            <div class="_m-tabs__contents__content _s-tabs__content--disabled">
                                <p class="text-body_space-bottom">La cobertura adicional de Muerte Accidental otorga beneficios adicionales de asistencias de Urgencias Médicas:</p>
                                <ul class="_list">
                                    <li>En caso de muerte accidental, <span class="text-body_semibold">se agregan UF 150</span> al capital asegurado que la compañía pagará a tus beneficiarios.</li>
                                    <li>Además tú y tu <span class="text-body_semibold">grupo familiar</span>, podrán contar con atención en <span class="text-body_semibold">salas de urgencias médicas</span> a causa de enfermedad o accidente, en diferentes clínicas o centros asistenciales del país, sin costo adicional.</li>
                                    <li>Se define como grupo familiar a <span class="text-body_semibold">cónyuge</span> o pareja e <span class="text-body_semibold">hijos</span> del asegurado menores de 24 años, y una <span class="text-body_semibold">empleada doméstica</span> con contrato vigente.</li>
                                </ul>
                                <div class="_m-tabs__title text-body_semibold">Cobertura adicional de Muerte Accidental</div>
                                <ul class="_list">
                                    <li>En caso de muerte a causa directa o indirecta de accidentes, la compañía pagará a tus beneficiarios el capital asegurado.</li>
                                    <li>Para los efectos de este seguro se entiende por accidente, todo suceso imprevisto, involuntario, repentino y fortuito, causado por medios externos, que afecte al asegurado provocándole lesiones que se manifiesten por heridas visibles o contusiones internas.</li>
                                    <li>Además, se entenderá como fallecimiento directo e inmediato aquel que se produzca a más tardar dentro de los sesenta (60) días seguidos de ocurrido el accidente.</li>
                                </ul>
                                <div class="_m-tabs__title text-body_semibold">Asistencia  de Urgencias Médicas</div>
                                <ul class="_list">
                                    <li>Cubre todos los <span class="text-body_semibold">gastos médicos</span> del servicio de urgencia no pagados por la institución previsional de salud, ya sea estatal, privada o de bienestar que tengas, asociados a la cuenta final de una atención en salas de urgencia por accidente o enfermedades, incluso si has padecido enfermedades preexistentes.</li>
                                    <li>Contempla el traslado en <span class="text-body_semibold">ambulancia</span>, si fuese necesario.</li>
                                    <li>Incluye cobertura en <span class="text-body_semibold">medicamentos</span> que estén incluidos en la cuenta final de una atención y los exámenes de imagenología propios y necesarios a la atención de urgencia.</li>
                                    <li>El <span class="text-body_semibold">tope de cobertura</span> por plan familiar es de <span class="text-body_semibold">UF 22</span> , con un máximo de <span class="text-body_semibold">3 eventos al año</span>.</li>
                                    <li>La cobertura por <span class="text-body_semibold">enfermedades</span> tiene una carencia de <span class="text-body_semibold">30 días</span> desde el inicio del seguro. Para hijos nacidos durante la vigencia de la póliza, la carencia comienza el día de su nacimiento.</li>
                                    <li>Si tienes <span class="text-body_semibold">sistema de salud</span> (Isapres o Fonasa) se cubre el monto de asistencia al <span class="text-body_semibold">100%</span> de los gastos que debas pagar luego de IMED. Si no cuentas con sistema de salud (isapre o Fonasa), se aplicará el monto de la asistencia al 50% de los gastos que debas pagar.</li>
                                </ul>
                            </div>
                            <div class="_m-tabs__contents__header text-body_semibold">
                                <div class="_m-tabs__contents__header__item _text__vertical__center">
                                    <icon class="_icon icon-legos-dental mr-3"></icon>
                                    Muerte Accidental + Urgencias Dentales
                                </div>
                                <div class="_m-tabs__contents__header__item"> <icon class=" _icon__medium icon-color__red icon-arrow-head-down"></icon> </div>
                            </div>
                            <div class="_m-tabs__contents__content _s-tabs__content--disabled">
                                <p class="text-body_space-bottom">La cobertura adicional de Muerte Accidental otorga beneficios adicionales de asistencias de Urgencias Dentales:</p>
                                <ul class="_list">
                                    <li>En caso de muerte accidental, <span class="text-body_semibold">se agregan UF 250</span> al capital asegurado que la compañía pagará a tus beneficiarios.</li>
                                    <li>Además tú y tu grupo familiar podrán contar con el servicio de asistencia dental para <span class="text-body_semibold">urgencias odontológicas</span> en centros asociados de <span class="text-body_semibold">todo el país</span>.</li>
                                    <li>Se define como <span class="text-body_semibold">grupo familiar</span> a <span class="text-body_semibold">cónyuge</span> o pareja y hasta <span class="text-body_semibold">tres hijos</span> menores de 24 años.</li>
                                    <li>Incluye hasta el <span class="text-body_semibold">60%</span> de descuento en tratamientos dentales <span class="text-body_semibold">que no estén cubiertos</span> por la asistencia dental.</li>
                                    <li>La cobertura incluye los tratamientos de urgencia antes descritos, durante la atención inicial, cualquier atención de seguimiento posterior queda fuera de cobertura.</li>
                                    <li>Si al necesitar tratamientos de urgencia, no existen prestadores asociados a <span class="_text__italic">Sigma Dental</span> en tu localidad, puedes atenderte con un prestador de tu elección y pedir un reembolso de “gastos razonables” con un tope de $60.000, el que será pagado una vez que presentes la factura original, informe odontológico, radiografías correspondientes y cualquier otro documento que pudiese requerir <span class="_text__italic">Sigma Dental</span>.</li>
                                </ul>
                                <div class="_m-tabs__title text-body_semibold">Cobertura adicional de Muerte Accidental</div>
                                <ul class="_list">
                                    <li>En caso de muerte a causa directa o indirecta de accidentes, la compañía pagará a tus beneficiarios el capital asegurado.</li>
                                    <li>Para los efectos de este seguro se entiende por accidente, todo suceso imprevisto, involuntario, repentino y fortuito, causado por medios externos, que afecte al asegurado provocándole lesiones que se manifiesten por heridas visibles o contusiones internas.</li>
                                    <li>Además, se entenderá como fallecimiento directo e inmediato aquel que se produzca a más tardar dentro de los sesenta (60) días seguidos de ocurrido el accidente.</li>
                                </ul>

                                <div class="_m-tabs__title text-body_semibold">Asistencia de Urgencias Dentales</div>
                                    <p class="text-body_space-bottom">La asistencia de urgencias dentales consiste en urgencias, tratamiento inicial, y medicación en los casos de:</p>
                                    <ul class="_list">
                                        <li>Urgencias Endodónticas (Eliminación de caries, recubrimiento pulpar directo, intrusión, extrusión, avulsión, fractura dentaria, abscesos, pulpitis reversibles e irreversibles).</li>
                                        <li>Urgencias Periodontales (Curetaje radicular localizado, eliminación de contacto prematuro, medicación en caso de dolor muscular y abscesos).</li>
                                        <li>Urgencias Protésicas: Cementado provisional de coronas y puentes fijos, Reparación de fracturas en la porción acrílica de dentaduras parciales o totales realizadas en el consultorio, medicación en el caso de Estomatitis Sub-protésica.</li>
                                    </ul>
                                    <p class="text-body_space-bottom">El detalle de servicios odontológicos cubiertos por la Asistencia Dental es:</p>
                                <ul class="_list">
                                    <li>Restauradora y Operatoria:</li>
                                    <ul class="_list__sublist">
                                        <li>Amalgamas en dientes posteriores.</li>
                                        <li>Resinas en dientes anteriores y/o posteriores.</li>
                                        <li>Vidrio Ionomérico.</li>
                                    </ul>
                                    <li>Periodoncia:</li>
                                    <ul class="_list__sublist">
                                        <li>Tartrectomía Simple.</li>
                                    </ul>
                                    <li>Cirugía:</li>
                                    <ul class="_list__sublist">
                                        <li>Exodoncias o extracciones simples en dientes permanentes.</li>
                                        <li>Exodoncias o extracciones simples en dientes temporales.</li>
                                        <li>Exodoncias o extracciones simples en dientes restos radiculares.</li>
                                        <li>Exodoncias o extracciones simples en dientes fracturados.</li>
                                    </ul>
                                    <li>Endodoncia:</li>
                                    <ul class="_list__sublist">
                                        <li>Tratamientos de conductos monorradiculares, birradiculares y multiradiculares.</li>
                                        <li>Pulpotomías.</li>
                                        <li>Pulpectomías.</li>
                                        <li>Curas formocresoladas.</li>
                                        <li>Capielos.</li>
                                    </ul>
                                    <li>Radiografías:</li>
                                    <ul class="_list__sublist">
                                        <li>Periapicales individuales y coronales requeridas para realizar los tratamientos amparados en la cobertura, realizadas en la consulta.</li>
                                    </ul>
                                </ul>
                                <div class="_m-tabs__title text-body_semibold">Otros beneficios adicionales</div>
                                <p class="text-body_space-bottom">La Cobertura Preventiva que se puede utilizar una vez al año y consiste en:</p>
                                <ul class="_list">
                                    <li>Aplicación de sellante de dientes para niños (será hasta los 6 años y sobre esta edad siempre cuando el odontólogo lo indique y la auditoría de Sigma lo apruebe).</li>
                                    <li>Aplicación tópica de flúor.</li>
                                    <li>Sellantes de fosas y fisuras.</li>
                                    <li>Enseñanza de la técnica de cepillado, uso del hilo dental e higiene bucal.</li>
                                    <li>Tartrectomía simple (Limpieza bucal).</li>
                                    <li>Profilaxis (Pulido dental).</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Content 2 -->
                        <div class="_m-tabs__contents _s-tabs__content--disabled">
                            <div class="_m-tabs__contents__header text-body_semibold">
                                <div class="_m-tabs__contents__header__item _text__vertical__center">
                                    <icon class="_icon icon-legos-family mr-3"></icon>
                                    Seguro de Vida Base
                                </div>
                                <div class="_m-tabs__contents__header__item"> <icon class="_icon__medium icon-color__red icon-arrow-head-down"></icon></icon> </div>
                            </div>
                            <div class="_m-tabs__contents__content _s-tabs__content--disabled">
                                <ul class="_list">
                                    <li>Lesión o enfermedad causada por participación en actos calificados como <span class="text-body_semibold">delitos</span> por ley, <span class="text-body_semibold">hechos deliberados</span> tales como suicidio, lesiones auto-inferidas y abortos provocados.</li>
                                    <li>Participación en <span class="text-body_semibold">actos temerarios</span> o actividad notoriamente <span class="text-body_semibold">peligrosa</span>.</li>
                                    <li>Práctica de <span class="text-body_semibold">deportes de alto riesgo</span>, que hayan sido declarados al momento de contratar el seguro o durante su vigencia.</li>
                                    <li>La práctica o el desempeño de alguna <span class="text-body_semibold">actividad, profesión u oficio claramente de riesgo</span> durante su vigencia.</li>
                                    <li>Estado de <span class="text-body_semibold">ebriedad</span> o efectos de alucinógenos o <span class="text-body_semibold">drogas</span>.</li>
                                    <li>Viaje o <span class="text-body_semibold">vuelo</span> en vehículo aéreo de cualquier clase, <span class="text-body_semibold">excepto como pasajero</span> en uno operado por una <span class="text-body_semibold">empresa</span> de transporte de pasajeros sujeto a itinerario.</li>
                                    <li><span class="text-body_semibold">Tratamientos médicos</span>, fisioterapéuticos, quirúrgicos o anestésicos.</li>
                                </ul>
                            </div>
                            <div id="noCoverSectionInvalidez" class="_m-tabs__contents__header text-body_semibold">
                                <div class="_m-tabs__contents__header__item _text__vertical__center">
                                    <icon class="_icon icon-legos-disability mr-3"></icon>
                                    Invalidez Total y Permanente 2/3
                                </div>
                                <div class="_m-tabs__contents__header__item"> <icon class="_icon__medium icon-color__red icon-arrow-head-down"></icon> </div>
                            </div>
                            <div class="_m-tabs__contents__content _s-tabs__content--disabled">
                                <div class="_m-tabs__title text-body_semibold">La presente cláusula adicional excluye de su cobertura la invalidez permanente dos tercios del asegurado que ocurran a consecuencia de:</div>
                                <ul class="_list">
                                    <li><span class="text-body_semibold">Intento de suicidio</span>, cualquiera sea la época en que ocurra o por lesiones inferidas al asegurado por sí mismo o por terceros con su consentimiento.</li>
                                    <li>La participación del asegurado en <span class="text-body_semibold">actos temerarios</span> o en cualquier maniobra, experimento, exhibición, desafío o actividad notoriamente peligrosa, entendiendo por tales aquellas donde se pone en grave peligro la vida e integridad física de las personas.</li>
                                    <li>La práctica de <span class="text-body_semibold">deportes riesgosos</span> tales como: inmersión submarina, montañismo, alas delta, paracaidismo; carreras de caballos, automóviles, motocicletas y de lanchas; y otros deportes riesgosos, que hayan sido declarados por el asegurado al momento de contratar el seguro o durante su vigencia y de lo cual se haya dejado constancia en las Condiciones Particulares.</li>
                                    <li>La práctica o el desempeño de alguna <span class="text-body_semibold">actividad, profesión u oficio claramente riesgoso</span>, que hayan sido declarados por el asegurado al momento de contratar el seguro o durante su vigencia y de lo cual se haya dejado constancia en las Condiciones Particulares.</li>
                                    <li>Que el asegurado se encuentre en estado de <span class="text-body_semibold">ebriedad</span> o bajo los efectos de <span class="text-body_semibold">drogas</span> o alucinógenos. Estos estados deberán ser calificados por la autoridad competente.</li>
                                    <li>Viaje o <span class="text-body_semibold">vuelo</span> en vehículo aéreo de cualquier clase, <span class="text-body_semibold">excepto como pasajero</span> en uno operado por una empresa de transporte aéreo comercial, sobre una ruta establecida para el transporte de pasajeros sujeto a itinerario.</li>
                                    <li><span class="text-body_semibold">Situaciones o enfermedades preexistentes</span>. Para los efectos de la aplicación de esta exclusión, al momento de la contratación la Compañía Aseguradora deberá consultar al asegurable acerca de todas aquellas situaciones o enfermedades preexistentes que pueden importar una limitación o exclusión de cobertura. En las condiciones particulares se establecerán las restricciones y limitaciones de la cobertura en virtud de la declaración de salud efectuada por el asegurable o la exclusión de las enfermedades preexistentes declaradas.</li>
                                </ul>
                            </div>
                            <div class="_m-tabs__contents__header text-body_semibold">
                                <div class="_m-tabs__contents__header__item _text__vertical__center">
                                    <icon class="_icon icon-legos-health mr-3"></icon>
                                    Muerte Accidental + Urgencias Médicas
                                </div>
                                <div class="_m-tabs__contents__header__item"> <icon class="_icon__medium icon-color__red icon-arrow-head-down"></icon> </div>
                            </div>
                            <div class="_m-tabs__contents__content _s-tabs__content--disabled">
                                <div class="_m-tabs__title text-body_semibold">La compañía no será responsable de pago alguno por muerte accidental, que sea consecuencia de:</div>
                                <ul class="_list">
                                    <li>Efectos de <span class="text-body_semibold">guerra</span>, declarada o no declarada.</li>
                                    <li>Participación del asegurado en algún <span class="text-body_semibold">delito</span>.</li>
                                    <li>Actos de <span class="text-body_semibold">terrorismo</span> llevados a cabo utilizando armas o materiales <span class="text-body_semibold">nucleares, biológicos y/o químicos</span>.</li>
                                    <li>Ejercicio de actividad o profesión en la cual se porten <span class="text-body_semibold">armas</span>.</li>
                                    <li>Práctica de <span class="text-body_semibold">deportes</span> de manera <span class="text-body_semibold">profesional o federada</span>.</li>
                                    <li>Siniestros derivados directa o indirectamente del resultado de una <span class="text-body_semibold">fisión o fusión nuclear o de radioactividad</span>.</li>
                                    <li><span class="text-body_semibold">Conducir</span> cualquier medio de transporte motorizado bajo la influencia del <span class="text-body_semibold">alcohol</span> o los efectos de cualquier narcótico o <span class="text-body_semibold">droga</span>.</li>
                                </ul>
                            </div>
                            <div class="_m-tabs__contents__header text-body_semibold">
                                <div class="_m-tabs__contents__header__item _text__vertical__center">
                                    <icon class="_icon icon-legos-dental mr-3"></icon>
                                    Muerte Accidental + Urgencias Dentales
                                </div>
                                <div class="_m-tabs__contents__header__item"> <icon class="_icon__medium icon-color__red icon-arrow-head-down"></icon> </div>
                            </div>
                            <div class="_m-tabs__contents__content _s-tabs__content--disabled">
                                <div class="_m-tabs__title text-body_semibold">Exclusiones de la cobertura de Muerte Accidental:</div>
                                <ul class="_list">
                                    <li>Efectos de <span class="text-body_semibold">guerra</span>, declarada o no declarada, invasión, acción de un enemigo extranjero, hostilidades u operaciones bélicas, ya sea con o sin declaración de guerra, así como tampoco ningún ejercicio o práctica de guerra.</li>
                                    <li>Participación del asegurado en algún <span class="text-body_semibold">delito</span>.</li>
                                    <li>Actos de <span class="text-body_semibold">terrorismo</span> llevados a cabo utilizando armas o materiales <span class="text-body_semibold">nucleares, biológicos y/o químicos</span>.</li>
                                    <li>Ejercicio de actividad o profesión en la cual se porten <span class="text-body_semibold">armas</span>.</li>
                                    <li>Práctica de <span class="text-body_semibold">deportes</span> de manera <span class="text-body_semibold">profesional o federada</span>.</li>
                                    <li>Siniestros derivados directa o indirectamente del resultado de una <span class="text-body_semibold">fisión o fusión nuclear o de radioactividad</span>.</li>
                                    <li>Conducir cualquier medio de transporte motorizado bajo la influencia del alcohol o los efectos de cualquier narcótico o <span class="text-body_semibold">droga</span>. Lo anterior se acreditará mediante la documentación expedida por los organismos correspondientes.</li>
                                </ul>
                            </div>
                        </div>
                        <!-- Content 3 -->
                        <div class="_m-tabs__contents _s-tabs__content--disabled">
                            <div class="_m-tabs__contents__header text-body_semibold">
                                <div class="_m-tabs__contents__header__item _text__vertical__center">
                                    <icon class="_icon icon-legos-family mr-3"></icon>
                                    Seguro de Vida Base
                                </div>
                                <div class="_m-tabs__contents__header__item"> <icon class="_icon__medium icon-color__red icon-arrow-head-down"></icon></div>
                            </div>
                            <div class="_m-tabs__contents__content _s-tabs__content--disabled">
                                <p>Debes llamar al <span class="text-body_semibold">600 320 3000</span> donde se indicará el procedimiento a seguir.</p>
                                <p class="text-body_space-bottom">Horarios:</p>
                                <ul class="_list">
                                    <li>Atención 24/7.</li>
                                </ul>
                                <p class="text-body__space-bottom">En todas las denuncias <span class="text-body_semibold">la persona denunciante</span> debe dejar constancia del <span class="text-body_semibold">nombre, dirección, correo electrónico y teléfono</span> para posteriores contactos.
                                Documentación requerida para muerte natural y accidental</p>

                                <div class="text-body text-body_semibold _m-tabs__title">En caso de fallecimiento, los documentos presentar para la liquidación del siniestro son:</div>
                                <ul class="_list">
                                    <li><span class="text-body_semibold">Certificado de Defunción</span> original con causa de muerte del asegurado.</li>
                                    <li><span class="text-body_semibold">Certificado de Nacimiento</span> del asegurado u otro documento que acredite la fecha de nacimiento. Solo en el caso que este dato no esté consignado en el certificado de defunción.</li>
                                    <li>En caso de <span class="text-body_semibold">no existir beneficiarios designados</span> se deberán presentar los documentos que acredite la <span class="text-body_semibold">posesión efectiva</span> del asegurado y la demás documentación necesaria para acreditar quienes y en qué porcentaje son los herederos del asegurado.</li>
                                    <li><span class="text-body_semibold">Documentos médicos</span> tales como un informe del médico tratante, cartola de la isapre o Fonasa, resultado de exámenes, entre otros.</li>
                                    <li>La compañía se reserva el derecho de solicitar más antecedentes de ser necesario.</li>
                                </ul>
                                <div class="text-body text-body_semibold _m-tabs__title">En caso de muerte accidental, se solicitarán adicionalmente:</div>
                                <ul class="_list">
                                    <li><span class="text-body_semibold">Parte policial</span> que acredite que el fallecimiento fue causado por accidente para el caso de la cobertura de <span class="text-body_semibold">Muerte Accidental</span>.</li>
                                    <li>Alcoholemia y examen toxicológico.</li>
                                </ul>

                                <div class="text-body text-body_semibold _m-tabs__title">Requisitos de Asegurabilidad:</div>
                                <ul class="_list">
                                    <li>Vida y Muerte Accidental:</li>
                                    <ul class="_list__sublist">
                                        <li>Edad mínima de Ingreso 18 años.</li>
                                        <li>Edad máxima de ingreso: 69 años y 364 días.</li>
                                        <li>Edad máxima de permanencia: 79 años y 364 días.</li>
                                    </ul>
                                    <li>ITP 2/3:</li>
                                    <ul class="_list__sublist">
                                        <li>Edad mínima de Ingreso 18 años.</li>
                                        <li>Edad máxima de ingreso: 64 años y 364 días.</li>
                                        <li>Edad máxima de permanencia: 69 años y 364 días.</li>
                                    </ul>

                                    <br />
                                    <p class="text-body__space-bottom">Garantía de Satisfacción</p>
                                    Este producto si cuenta con Garantía de Satisfacción o Derecho de Retractación para las contrataciones por medios a web20/legos-assetsancia, en virtud de la cual se devuelve el total de las primas pagadas en caso de que el contratante se retracte de su contratación.
                                    El plazo para hacer efectiva esta garantía es 35 días contados desde la fecha que el contratante tomó conocimiento de la póliza respectiva o desde la recepción de la póliza vía correo electrónico designado por el contratante, lo primero que ocurra.
                                </ul>
                            </div>
                            <div id="howUseSectionInvalidez" class="_m-tabs__contents__header text-body_semibold">
                                <div class="_m-tabs__contents__header__item _text__vertical__center">
                                    <icon class="_icon icon-legos-disability mr-3"></icon>
                                    Invalidez Total y Permanente 2/3
                                </div>
                                <div class="_m-tabs__contents__header__item"> <icon class="_icon__medium icon-color__red icon-arrow-head-down"></icon> </div>
                            </div>
                            <div class="_m-tabs__contents__content _s-tabs__content--disabled">
                                <p>Debes llamar al <span class="text-body_semibold">600 320 3000</span> donde se indicará el procedimiento a seguir.</p>
                                <p class="text-body_space-bottom">Horarios:</p>
                                <ul class="_list">
                                    <li>Atención 24/7.</li>
                                </ul>
                                <p class="_text__p">
                                    En todas las denuncias <span class="text-body_semibold">la persona denunciante</span> debe dejar constancia del <span class="text-body_semibold">nombre, dirección, correo electrónico y teléfono</span> para posteriores contactos.
                                    Documentación requerida para Invalidez Total y Permanente 2/3
                                </p>

                                <div class="text-body text-body_semibold _m-tabs__title">En caso de Invalidez los documentos a presentar para liquidar son:</div>
                                <ul class="_list">
                                    <li><span class="text-body_semibold">Dictamen de invalidez</span> ejecutoriado por COMPIN</li>
                                    <li>En caso de evaluar preexistencia, se solicitan <span class="text-body_semibold">documentos médicos</span> (informe de médico tratante – cartola de prestaciones médicas de Isapre o Fonasa) y resultados de exámenes entre otros.</li>
                                    <li>La compañía se reserva el derecho de solicitar más antecedentes de ser necesario.</li>
                                </ul>
                            </div>
                            <div class="_m-tabs__contents__header text-body_semibold">
                                <div class="_m-tabs__contents__header__item _text__vertical__center">
                                    <icon class="_icon icon-legos-health mr-3"></icon>
                                    Urgencias Médicas
                                </div>
                                <div class="_m-tabs__contents__header__item"> <icon class="_icon__medium icon-color__red icon-arrow-head-down"></icon> </div>
                            </div>
                            <div class="_m-tabs__contents__content _s-tabs__content--disabled">
                                <ul class="_list">
                                    <li>Ante una urgencia, un accidente traumático súbito o enfermedad, llama al <span class="text-body_semibold">600 945 52 40, para que te asignen un centro médico de urgencia cerca de tu ubicación.</li>
                                    <ul class="_list__sublist">
                                        <li>El número de atención opera las 24 horas y los 7 días de la semana.</li>
                                    </ul>
                                    <li>Al momento del pago en el centro médico, menciona que tienes éste seguro (independiente de tener seguros complementarios) para activar el pago en línea.</li>
                                    <li>Si no se realiza el descuento automático en línea, deberás pagar en el momento y posteriormente, enviar los comprobantes de gastos al correo reembolso.urg@axa-assistance.cl. Estos gastos deben tener el descuento de isapre o Fonasa.</li>
                                </ul>
                            </div>
                            <div class="_m-tabs__contents__header text-body_semibold">
                                <div class="_m-tabs__contents__header__item _text__vertical__center">
                                    <icon class="_icon icon-legos-dental mr-3"></icon>
                                    Urgencias Dentales
                                </div>
                                <div class="_m-tabs__contents__header__item"> <icon class="_icon__medium icon-color__red icon-arrow-head-down"></icon> </div>
                            </div>
                            <div class="_m-tabs__contents__content _s-tabs__content--disabled">
                                <ul class="_list">
                                    <li>Cuando tengas una urgencia dental, llama al <span class="text-body_semibold">600 687 0911</span> desde red fija, o al <span class="text-body_semibold">22 203 6135</span> desde celulares, para que te asignen un centro médico dental cerca de tu ubicación.</li>
                                    <li>El centro o el odontólogo solicitarán la clave de autorización para proceder al tratamiento.</li>
                                    <li>Finalizado el tratamiento, deberás firmar una constancia de haberlo recibido.</li>
                                    <li>Para recibir el beneficio adicional de <span class="text-body_semibold">revisión preventiva</span>, el procedimiento es el mismo que para las urgencias.</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- ***************************** End Layout ***************************** -->
                <div class="layout_section_button container">
                    <div class="row">
                        <div class="col-6"><a href="#" class="mod-btn_back"> < Volver </a></div>
                        
                    </div>
                </div>
            </div>
            <aside class="_m-summary col-md-4">
                <div class="_m-summary__sticky">
                    <section class="_l-base__section">
                        <header class="_m-summary__header">
                            Simulación
                        </header>

                        <div class="_m-summary__name">
                            <div class="container">
                                <article class="_m-summary__body">
                                    <div class="_m-summary__body__insured">
                                        <span class="title">Asegurado</span>
                                        <span id="insuredName" class="name"></span>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="_m-summary__coverage _m-summary--grey">
                            <div class="container">
                                <div class="_m-summary__body">
                                    <div class="_m-summary__body__insurance">
                                        <span class="title">Seguro de vida base</span>
                                        <span class="information">
                                            <span id="insuranceVidaUf" class="uf"></span>
                                            <span id="insuranceVidaClp" class="clp"></span>
                                        </span>
                                    </div>
                                    <div id="disabilityInsurance" class="other-insurance _s-div--disabled" data-insurance="1">
                                        <hr />
                                        <div class="_m-summary__body__insurance">
                                            <span class="cancel-insurance" data-insurance="1">
                                                <i class="icon icon-times"></i>
                                            </span>
                                            <span class="title">Invalidez total y permanente 2/3</span>
                                            <span class="information">
                                                <span id="insuranceInvalidezUf" class="uf"></span>
                                                <span id="insuranceInvalidezClp" class="clp"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div id="medicalInsurance" class="other-insurance _s-div--disabled">
                                        <hr />
                                        <div class="_m-summary__body__insurance">
                                            <span class="cancel-insurance" data-insurance="2">
                                                <i class="icon icon-times"></i>
                                            </span>
                                            <span class="title">Muerte Accidental + Urgencias Médicas</span>
                                            <span class="information">
                                                <span id="insuranceMedicalUf" class="uf"></span>
                                                <span id="insuranceMedicalClp" class="clp"></span>
                                            </span>
                                        </div>
                                    </div>
                                    <div id="dentalInsurance" class="other-insurance _s-div--disabled">
                                        <hr />
                                        <div class="_m-summary__body__insurance">
                                            <span class="cancel-insurance" data-insurance="3">
                                                <i class="icon icon-times"></i>
                                            </span>
                                            <span class="title">Muerte Accidental + Urgencia Dental</span>
                                            <span class="information">
                                                <span id="insuranceDentalUf" class="uf"></span>
                                                <span id="insuranceDentalClp" class="clp"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="_m-summary__prime">
                            <div class="container">
                                <div class="_m-summary__body">
                                    <div class="_m-summary__body__consolidated">
                                        <span class="title">Valor prima mensual</span>
                                        <span id="resumeTotalUF" class="total-uf"></span>
                                        <span id="resumeTotalCLP" class="total-clp"></span>
                                        <input type="hidden" name="prima_mensual_UF" id="primaMensualUF">
                                        <input type="hidden" name="prima_mensual_cl" id="primeResultCLInput">
                                        <span class="description">Valor referencial UF al <span id="dateUF"></span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="_m-summary__submit _m-summary--border-top">
                            <div class="container ">
                                <div class="_m-summary__body _text__center text-uppercase">
                                    <button id="btnNextStep" class="mod-btn  mod-align-right mod-btn_summary">Siguiente ></button>
                                </div>
                            </div>
                        </div>
                    </section>

                    
                </div>
            </aside>
            </form>
        </div>
        <div class="row">
            <div  class="layout_container col-md-8 legal">
                <p class="legal__p">El proponente asegurado autoriza, en este acto, al Banco Santander, para que informe a la
                Compañía aseguradora sobre sus datos personales, de contacto, las actualizaciones y/o cualquier
                modificación de los mismos que le entregue u otorgue. Autoriza además a la Compañía a
                notificarlos a estas nuevas o diferentes direcciones informadas sean físicas o electrónicas.
                Autorización de enviar las comunicaciones y notificaciones al correo electrónico definido en la
                contratación. La cobertura es otorgada por Zurich Santander Seguros de Vida Chile SA, RUT 96.819.630-8,
                intermediada por Santander Corredora de Seguros Ltda. Rut: 96.524.260-0, ambas domiciliadas en
                Bombero Ossa 1068 piso 4, Santiago y se rige según lo dispuesto por las Condiciones Generales
                depositadas en el registro de la Superintendencia de Valores y Seguros indicado en el cuadro de
                “Coberturas”.
                Zurich Santander Seguros de Vida Chile S.A. se encuentra adherida al Código de Autorregulación
                de las Compañías de Seguros y está sujeta al Compendio de Buenas Prácticas Corporativas, que
                contiene un conjunto de normas destinadas a promover una adecuada relación de las compañías
                de seguros con sus clientes. Copia de este Compendio se encuentra en la página web www.aach.cl.
                Asimismo, ha aceptado la intervención del Defensor del Asegurado cuando los clientes le
                presenten reclamos en relación a los contratos celebrados con ella. Los clientes pueden presentar
                sus reclamos ante el Defensor del Asegurado utilizando los formularios disponibles en las oficinas
                de Zurich Santander Seguros de Vida Chile S.A o a través de la página web www.ddachile.cl.
                </p>
            </div>
        </div>
    </div>
    <!-- End Module -->
    </div>
   
    <script> var utag_data =   {%  if _UDATA is defined %} {{ _UDATA | json_encode | raw }}  {% else %} {} {% endif %};</script>
    <script type="text/javascript">
        (function() {
           var script=document.createElement("script");script.src="//code.jquery.com/jquery-1.12.4.min.js",
           script.async=!1,document.body.appendChild(script)
       })();
   </script>
    <script type="text/javascript">
        (function(a,b,c,d){
        a='https://tags.tiqcdn.com/utag/santander/ch-online-banking/prod/utag.js';
        b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
        a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
        })();
    </script>
<script type="text/javascript" src="/web20/legos-assets/common.bundle.js?hash=0854234e34cd32a5ec66"></script><script type="text/javascript" src="/web20/legos-assets/stylesheet.bundle.js?hash=0854234e34cd32a5ec66"></script><script type="text/javascript" src="/web20/legos-assets/index.bundle.js?hash=0854234e34cd32a5ec66"></script><script type="text/javascript" src="/web20/legos-assets/main.bundle.js?hash=0854234e34cd32a5ec66"></script></body>
</html>
