
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>No permitido</title>
        
    <script type="text/javascript" src="/web20/legos-assets/loading_head.bundle.js?hash=80f1dbcc9eb944dffb67"></script></head>
    <body>    
        <div id="legos" style="display:none">
        <div id="modal" class="modal">
            <div class="modal__container s-modal--center s-modal--t-center s-modal--small">
                <div class="modal__container__header">
                    <div class="modal__container__header__icon s-modal--danger">
                        <i class="icon icon-minus"></i>
                    </div>
                    <h1 class="modal__container__header__title">Lo sentimos</h1>
                </div>
                <div class="modal__container__body">
                    <p class="modal__container__body__text text-body">
                        El seguro de vida sólo está disponible para menores de 70 años. Nuestros registros indican que has pasado esta etapa.
                        Si esto no es correcto, por favor comunícate con nuestras ejecutivas para corregirlo.
                    </p>
                </div>
                <div class="modal__container__footer">
                    <button id="btnModal" class="modal__container__footer__btn">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
   
    <script> var utag_data =   {%  if _UDATA is defined %} {{ _UDATA | json_encode | raw }}  {% else %} {} {% endif %};</script>
    <script type="text/javascript">
        (function() {
           var script=document.createElement("script");script.src="//code.jquery.com/jquery-1.12.4.min.js",
           script.async=!1,document.body.appendChild(script)
       })();
   </script>
    <script type="text/javascript">
        (function(a,b,c,d){
        a='//tags.tiqcdn.com/utag/santander/ch-online-banking/prod/utag.js';
        b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
        a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
        })();
    </script>
<script type="text/javascript" src="/web20/legos-assets/common.bundle.js?hash=80f1dbcc9eb944dffb67"></script><script type="text/javascript" src="/web20/legos-assets/stylesheet.bundle.js?hash=80f1dbcc9eb944dffb67"></script><script type="text/javascript" src="/web20/legos-assets/no_allowed.bundle.js?hash=80f1dbcc9eb944dffb67"></script></body>
</html>