
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Mandato de pago</title>
        <script>{% if _INSURED is defined %} var _INSURED =  {{ _INSURED | json_encode | raw }}; {% endif %}{% if _CARDS is defined %} var _CARDS =  {{ _CARDS | json_encode | raw }}; {% endif %}{% if _PAYMENT_DATA is defined %} var _PAYMENT_DATA =  {{ _PAYMENT_DATA | json_encode | raw }}; {% endif %}{% if _REGIONS_DATA is defined %} var _REGIONS_DATA =  {{ _REGIONS_DATA | json_encode | raw }}; {% endif %}{% if _REGIONS is defined %} var _REGIONS =  {{ _REGIONS | json_encode | raw }}; {% endif %}{% if _CHECKBOX is defined %} var _CHECKBOX =  {{ _CHECKBOX | json_encode | raw }}; {% endif %} {% if _NAME is defined %} var _NAME =  {{ _NAME | json_encode | raw }}; {% endif %} {% if _VIDA is defined %} var _VIDA =  {{ _VIDA | json_encode | raw }}; {% endif %} {% if _DATA_PRIMA is defined %} var _DATA_PRIMA =  {{ _DATA_PRIMA | json_encode | raw }}; {% endif %} {% if _PRODUCTS is defined %} var _PRODUCTS =  {{ _PRODUCTS | json_encode | raw }}; {% endif %} {% if _CLP_UF is defined %} var _CLP_UF =  {{ _CLP_UF | json_encode | raw }}; {% endif %} {% if _DATE_UF is defined %} var _DATE_UF =  {{ _DATE_UF | json_encode | raw }}; {% endif %} {% if _MEDICAL_URGENCY is defined %} var _MEDICAL_URGENCY =  {{ _MEDICAL_URGENCY | json_encode | raw }}; {% endif %} {% if _MEDICAL_DENTAL is defined %} var _MEDICAL_DENTAL =  {{ _MEDICAL_DENTAL | json_encode | raw }}; {% endif %} {% if _PLANNER is defined %} var _PLANNER =  {{ _PLANNER | json_encode | raw }}; {% endif %} </script>
    <script type="text/javascript" src="/web20/legos-assets/loading_head.bundle.js?hash=0854234e34cd32a5ec66"></script></head>
    <body>    
        <div id="legos" style="display:none">
        <!-- Module -->
        <div id="legosLifePaymentOrder" class="legos-life-payment-order container">
            <form action="" method="POST" id="formMain" autocomplete="off">
            <div class="row">
                <div class="layout_container col-md-8">
                    <div class="_l-base__section layout_section_barProgress">
                        <div class="layout_section_barProgress__content">
                            <div class="layout_section_barProgress__content__title">
                                <span class="layout_section_barProgress__content__title__circle">4</span> PAGO
                            </div>
                            <div class="layout_section_barProgress__content__steps">
                                PASO 4/4
                            </div>
                        </div>
                        <div class="layout_section_barProgress__progress">
                            <span class="step step--active"></span>
                            <span class="step step--active"></span>
                            <span class="step step--active"></span>
                            <span class="step step--active"></span>
                        </div>
                    </div>

                    <div class="_l-base__section form-section container pb-0">
                        <div class="_m-container-header row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-10">
                                        <p class="title-text">Datos de pago</p>
                                        <p class="content-text">Configura tu método de pago y verifica tu información personal.</p>
                                    </div>
                                    <div class="col-2 _align-text__right">
                                        <div class="d-inline-block ml-md-4 ml-1">
                                            <icon class="_icon__medium icon-color__red icon-arrow-head-up collapsible"></icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row content pb-3">
                            <div class="col-md-12">
                                <div class="selects_section row">
                                    <div class="col-md-6">
                                        <div id="container_select_credit_cards" class="container_select">
                                            <p class="description-select">Cuenta de cargo</p>
                                            <div id="creditCards" class="select">
                                                <span id="creditCardsText" class="text_select opacity">Seleccionar cuenta</span>
                                                <i class="icon icon-arrow-head-down"></i>
                                            </div>
                                            <div id="boxSelectCreditCards" class="box_select box_select--left box-hide"></div>
                                            <input type="hidden" name="inputCreditCard" id="inputCreditCard" />
                                            <input type="hidden" name="numberCreditCard" id="numberCreditCard" />
                                            <span class="_input__help__error caption caption-normal _s-div--disabled">Selecciona una cuenta.</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div id="container_select_payment_day" class="container_select">
                                            <p class="description-select">Día de pago</p>
                                            <div id="paymentDate" class="select">
                                                <span id="paymentDateText" class="text_select opacity">Seleccionar fecha</span>
                                                <i class="icon icon-arrow-head-down"></i>
                                            </div>
                                            <div id="boxSelectPaymentDay" class="box_select box_select--left box-hide"></div>
                                            <input type="hidden" name="inputPaymentDay" id="inputPaymentDay" />
                                            <input type="hidden" name="numberDayPayment" id="numberDayPayment" />
                                            <span class="_input__help__error caption caption-normal _s-div--disabled">Selecciona un día de pago.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="_l-base__section form-section  container pb-0">
                        <div class="_m-container-header row">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-10">
                                        <p class="title-text">Información personal</p>
                                    </div>
                                    <div class="col-2 _align-text__right">
                                        <div class="d-inline-block ml-md-4 ml-1">
                                            <icon class="_icon__medium icon-color__red icon-arrow-head-up collapsible"></icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row content pb-3">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="container">
                                            <div class="mod-message msg-info row">
                                                <div class="container">
                                                    <div class="row">
                                                        <span class="col-auto pr-0">
                                                            <i class="iconbase icon-info"></i>
                                                        </span>
                                                        <span class="col-10 col-lg-11 caption caption-normal msg-text">
                                                            Verifica o actualiza tu información de contacto.
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="row content">
                                    <div class="col-md-12">
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="nombre" class="_input">
                                                    <input class="_input _input__text _s-input__border--disabled" type="text" name="name" id="insuredName" value="Pedro Pablo" disabled />
                                                    <span class="_input__label">Nombres</span>
                                                    <span class="_input__border"></span>
                                                </label>
                                            </div>
                                            <div class="col">
                                                <label for="apellido" class="_input">
                                                    <input class="_input _input__text _s-input__border--disabled" type="text" name="last_name" id="insuredLastname" value="Pereira Rodríguez" disabled />
                                                    <span class="_input__label">Apellidos</span>
                                                    <span class="_input__border"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="rut" class="_input">
                                                    <input class="_input _input__text _s-input__border--disabled" type="text" name="rut" id="insuredRut" value="25.341.865-K" disabled />
                                                    <span class="_input__label">RUT</span>
                                                    <span class="_input__border"></span>
                                                </label>
                                            </div>
                                            <div class="col">
                                                <label for="birthday" class="_input">
                                                    <input class="_input _input__text _s-input__border--disabled" type="text" name="birthday" id="insuredBirthday" value="27/12/1990" disabled />
                                                    <span class="_input__label">Fecha de nacimiento</span>
                                                    <span class="_input__border"></span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col">
                                                <label for="phone" class="_input">
                                                    <input class="_input _input__text  _input__phone" type="text" id="insuredPhone" name="phone" maxlength="9" placeholder="&nbsp;" />
                                                    <span class="_input__label">Teléfono</span>
                                                    <span class="_input__border"></span>
                                                    <span class="_input__prefix">+56</span>
                                                    <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un número válido.</span>
                                                </label>
                                            </div>
                                            <div class="col">
                                                <label for="email" class="_input">
                                                    <input class="_input _input__text" type="text" id="insuredEmail" name="email" value="mail@dominio.cl" placeholder="&nbsp;" />
                                                    <span class="_input__label">e-mail</span>
                                                    <span class="_input__border"></span>
                                                    <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa un mail válido</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12 col-md-6 box_container_select">
                                                <div id="container_select_regions" class="container_select">
                                                    <p class="description-select">Región</p>
                                                    <div id="regions" class="select">
                                                        <span id="regionsText" class="text_select opacity">Seleccionar</span>
                                                        <i class="icon icon-arrow-head-down"></i>
                                                    </div>
                                                    <div id="boxSelectRegions" class="box_select box-hide">
                                                    </div>
                                                    <input type="hidden" name="inputRegion" id="inputRegion" />
                                                    <input type="hidden" name="numberRegion" id="numberRegion" />
                                                    <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa una región válida</span>
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6 box_container_select">
                                                <div id="container_select_comunes" class="container_select">
                                                    <p class="description-select">Comuna, Ciudad</p>
                                                    <div id="cities" class="select">
                                                        <span id="citiesText" class="text_select opacity">Seleccionar</span>
                                                        <i class="icon icon-arrow-head-down"></i>
                                                    </div>
                                                    <div id="boxSelectCities" class="box_select box-hide">
                                                        <div class="option" data-content="SIN COMUNA" data-code="0">SIN COMUNA</div>
                                                    </div>
                                                    <input type="hidden" name="nameCity" id="nameCity" />
                                                    <input type="hidden" name="inputCity" id="inputCity" />
                                                    <input type="hidden" name="nameCommune" id="nameCommune" />
                                                    <input type="hidden" name="inputCommune" id="inputCommune" />
                                                    <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa una comuna válida</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="col-12 col-md-6">
                                                <label for="direction" class="_input">
                                                    <input class="_input _input__text" type="text" id="insuredDirection" name="direction" value="mi casa" placeholder="&nbsp;" />
                                                    <span class="_input__label">Dirección</span>
                                                    <span class="_input__border"></span>
                                                    <span class="_input__help__error caption caption-normal _s-div--disabled">Ingresa tu dirección.</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        

                

                    <div class="_l-base__section contract-section container">
                        <div class="_m-container-header row">
                            <div class="_m-container-header__col _m-container-header__content col-12">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="title-text">Mandato de pago</div>
                                        <div class="caption caption_normal">Autorización para el cargo de primas a tu cuenta de forma automática.</div>
                                    </div>
                                    <div class="col-2 _align-text__right">
                                        <div class="d-inline-block ml-md-4 ml-1">
                                            <icon class="_icon__medium icon-color__red icon-arrow-head-down collapsible"></icon>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="_main-l-section__content _s-tabs__content--disabled">
                            <div class="row content">
                                <div class="col-md-12">
                                    <p class="text-title-checkbox">Al aceptar el Mandato de Pago estás de acuerdo con los siguientes puntos</p>
                                </div>
                            </div>
                        
                            <div class="_main-l-section__header__sectionCheckbox">
                                <ul>
                                    <li>Autorizas que las primas de los seguros aquí contratados se cobren desde tus cuentas corrientes (PAC) ó tarjeta de crédito (PAT).</li>
                                    <li>Si no tienes fondos, autorizas el cobro desde cualquier cuenta que tengas en Banco Santander en cuanto tenga fondos disponibles.</li>
                                    <li>Este mandato se establece entre el Banco Santander y el titular del seguro, sin responsabilidad de la aseguradora.</li>
                                    <li>Autorizas al Banco Santander a notificar a la aseguradora tus datos personales y de contacto, así como de mantenerlos actualizados.</li>
                                    <li>Puedes revocar este mandato en cualquier momento dando aviso previo al Banco.</li>
                                    <li>El Banco también puede revocar el mandato en ciertas condiciones.</li>
                                </ul>
                            </div>
                        
                            <div class="row _l-grids__section__margin">
                                <div class="col-md-12">
                                    <div class="container">
                                    <div id="messageDeclarationConformity" class="mod-message msg__warning row">
                                        <div class="container">
                                        <div class="row">
                                            <span class="col-auto pr-0">
                                                <i class="_icons _icons__warning icon-exclamation"></i>
                                            </span>
                                            <span class="col-10 col-md-10 col-lg-11 caption caption-normal msg-text">
                                                Confirma que aceptas las condiciones de pago.
                                            </span>
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="checkbox-container">
                                        <div>
                                            <input type="checkbox" class="check-box" name="checkboxPaymentOrder" id="checkboxPaymentOrder" />
                                        </div>
                                        <div class="checkbox-text">He leido el <span id="buttonReadPaymentOrder" class="link--red">Mandato de Pago</span> y autorizo al banco Santander a cobrar las primas desde las cuentas especificadas.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="last-section layout_section_button container">
                        <div class="row">
                            <div class="col-6">
                                <a id="btnPreviousStep" class="mod-btn_back"> < Volver </a>
                            </div>
                        </div>
                    </div>


                    <!--- Layout Legal --->
                   <div class="layout_container row d-md-block d-none">
                        <div  class=" col-md-12 legal">
                            <p class="legal__p">El proponente asegurado autoriza, en este acto, al Banco Santander, para que informe a la
                            Compañía aseguradora sobre sus datos personales, de contacto, las actualizaciones y/o cualquier
                            modificación de los mismos que le entregue u otorgue. Autoriza además a la Compañía a
                            notificarlos a estas nuevas o diferentes direcciones informadas sean físicas o electrónicas.
                            Autorización de enviar las comunicaciones y notificaciones al correo electrónico definido en la
                            contratación. La cobertura es otorgada por Zurich Santander Seguros de Vida Chile SA, RUT 96.819.630-8,
                            intermediada por Santander Corredora de Seguros Ltda. Rut: 96.524.260-0, ambas domiciliadas en
                            Bombero Ossa 1068 piso 4, Santiago y se rige según lo dispuesto por las Condiciones Generales
                            depositadas en el registro de la Superintendencia de Valores y Seguros indicado en el cuadro de
                            “Coberturas”.
                            Zurich Santander Seguros de Vida Chile S.A. se encuentra adherida al Código de Autorregulación
                            de las Compañías de Seguros y está sujeta al Compendio de Buenas Prácticas Corporativas, que
                            contiene un conjunto de normas destinadas a promover una adecuada relación de las compañías
                            de seguros con sus clientes. Copia de este Compendio se encuentra en la página web www.aach.cl.
                            Asimismo, ha aceptado la intervención del Defensor del Asegurado cuando los clientes le
                            presenten reclamos en relación a los contratos celebrados con ella. Los clientes pueden presentar
                            sus reclamos ante el Defensor del Asegurado utilizando los formularios disponibles en las oficinas
                            de Zurich Santander Seguros de Vida Chile S.A o a través de la página web www.ddachile.cl.
                            </p>
                        </div>
                    </div>
                    <!--- End Layout Legal --->
                    
                </div>

                <div id="modal" class="modal modal--hiden">
                    <div class="modal__container s-modal--top s-modal--large">
                        <div class="modal__container__close">
                            <span id="btnCloseModal">
                                <i class="icon icon-times-thin"></i>
                            </span>
                        </div>
                        <div class="modal__container__header">
                            <div class="modal__container__header__icon s-modal--info">
                                <i class="icon icon-info"></i>
                            </div>
                            <h1 class="modal__container__header__title">Mandato de Pago</h1>
                        </div>
                        <div class="modal__container__body">
                            <p class="modal__container__body__text text-body">
                                El presente mandato afecta <span class="text-body_bold">al conjunto de pólizas</span> y renovaciones contratadas
                                con <span class="_text__italic">Zurich Santander Seguros de Vida Chile S.A</span>. Durante la vigencia del mismo
                                y <span class="text-body_bold">autoriza que las primas de dichas pólizas</span> se
                                <span class="text-body_bold">paguen mediante la modalidad de</span> <span class="text-body_bold text-body_bold">PAT</span>,
                                es decir, el cargo se realizará en base a la autorización de descuento en
                                <span class="text-body_bold">tarjeta de crédito</span> bancaria. El monto de la prima, su forma y modalidad de
                                pago se encuentran insertas en las condiciones particulares de cada póliza. Asimismo, el presente mandato
                                se podrá hacer efectivo para que el pago de las primas de dichas pólizas se <span class="text-body_bold">pague mediante
                                la modalidad de</span> <span class="text-body_bold _text__italic">PAC</span>, es decir, autorización de descuento en
                                <span class="text-body_bold">cuenta corriente</span>. El monto de la prima, su forma y modalidad de pago, se encuentran
                                insertos en las condiciones particulares de cada póliza. Conforme a lo anterior, por el presente instrumento
                                <span class="text-body_bold">otorgo un mandato</span> mercantil al banco <span class="_text__italic">Santander-Chile</span>,
                                para cargar <span class="text-body_bold">el valor de la prima de mi póliza</span> de seguros contratadas con
                                <span class="_text__italic">Zurich Santander Seguros de Vida Chile S.A</span>. En <span class="text-body_bold">cualquiera
                                de mis cuentas</span> corrientes y/o líneas de créditos, así como en <span class="text-body_bold">cualquier tarjeta de
                                crédito que se encuentre vigente en el banco</span>. La duración de este mandato es por un <span class="text-body_bold">plazo
                                indefinido</span>, sin perjuicio de que <span class="_text__italic">"el mandante"</span> <span class="text-body_bold">puede
                                revocarlo</span> en cualquier tiempo, notificando por escrito al banco con una anticipación mínima de 30 días corridos.
                                Se deja constancia que este mandato se contrae directamente entre "el mandante" y el banco, quedando liberada
                                "la compañía de cualquier responsabilidad, salvo en lo referido al suministro oportuno y correcto de la información
                                del mandante al banco para los cobros respectivos, caso en el cual el banco quedará liberado de toda responsabilidad.
                                El pago de la o las prima(s) deberá hacerse en la fecha señalada en la póliza respectiva a favor de
                                <span class="_text__italic">Zurich Santander Seguros de Vida Chile S.A</span>. En el evento de <span class="text-body_bold">no
                                disponer de fondos</span> y/o crédito en la fecha señalada, <span class="text-body_bold">autorizo al banco para
                                debitar el valor de la prima convenida, tan pronto existan éstos disponibles, en cualquiera de las cuentas y
                                medios de pago identificados con anterioridad</span>. Faculto asimismo al banco para cargar en mi cuenta corriente,
                                cuenta vista, o en cualquier otra que el mandante mantuviera con el banco <span class="_text__italic">Santander Chile</span>
                                (incluyendo tarjetas de crédito), <span class="text-body_bold">todos los gastos y comisiones</span> que se generen en
                                virtud de este mandato. El presente mandato <span class="text-body_bold">no revoca y es complementario de otros
                                anteriores</span> conferidos al banco. El presente mandato <span class="text-body_bold">podrá terminar por voluntad
                                unilateral del banco</span>, por cierre de la cuenta de cargo o de todas las cuentas corrientes, cuentas vistas
                                que el contratante mantenga con el banco mandatario o por revocación por parte del cliente de los servicios señalados.
                                Se entiende incorporadas al presente mandato todas las condiciones generales del uso del servicio de pago
                                automático de cuentas a disposición del público en cada sucursal del banco señalado precedentemente.
                                <span class="text-body_bold">El Asegurado autoriza</span>, en este acto, al Banco para que informe a la
                                <span class="_text__italic">Compañía Aseguradora</span> sobre <span class="text-body_bold">sus datos personales de
                                contacto</span>, las actualizaciones y/o cualquier modificación de los mismos que él entregue u otorgue.
                                Autoriza además a la Compañía a <span class="text-body_bold">notificar a estas nuevas o diferentes direcciones informadas</span>,
                                ya sean físicas o electrónicas.
                            </p>
                        </div>
                        <div class="modal__container__footer s-modal--separate">
                            <button type="button" id="btnModal" class="modal__container__footer__btn">Aceptar</button>
                        </div>
                    </div>
                </div>

                <aside class="_m-summary col-md-4">
                    <div class="_m-summary__sticky">
                        <section class="_l-base__section">
                            <header class="_m-summary__header">
                                Simulación
                            </header>
    
                            <div class="_m-summary__name">
                                <div class="container">
                                    <article class="_m-summary__body">
                                        <div class="_m-summary__body__insured">
                                            <span class="title">Asegurado</span>
                                            <span id="insuredName" class="name"></span>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="_m-summary__coverage _m-summary--grey">
                                <div class="container">
                                    <div class="_m-summary__body">
                                        <div class="_m-summary__body__insurance">
                                            <span class="title">Seguro de vida base</span>
                                            <span class="information">
                                                <span id="insuranceVidaUf" class="uf"></span>
                                                <span id="insuranceVidaClp" class="clp"></span>
                                            </span>
                                        </div>
                                        <div id="disabilityInsurance" class="other-insurance _s-div--disabled" data-insurance="1">
                                            <hr />
                                            <div class="_m-summary__body__insurance">
                                                <span class="cancel-insurance" data-insurance="1">
                                                    <i class="icon icon-times"></i>
                                                </span>
                                                <span class="title">Invalidez total y permanente 2/3</span>
                                                <span class="information">
                                                    <span id="insuranceInvalidezUf" class="uf"></span>
                                                    <span id="insuranceInvalidezClp" class="clp"></span>
                                                </span>
                                                <span class="_s-div--disabled">
                                                    <input type="checkbox" class="check-box _main-l-section__header__checkbox" id="checkboxDisability" data-insurance="1" name="invalidez_valor" >
                                                    <input type='hidden' name="invalidez_nombre" value="Invalidez total y permanente 2/3">
                                                    <input type='hidden' name="invalidez_id" value="5">
                                                </span>
        
                                            </div>
                                        </div>
                                        <div id="medicalInsurance" class="other-insurance _s-div--disabled">
                                            <hr />
                                            <div class="_m-summary__body__insurance">
                                                <span class="cancel-insurance" data-insurance="2">
                                                    <i class="icon icon-times"></i>
                                                </span>
                                                <span class="title">Muerte Accidental + Urgencias Médicas</span>
                                                <span class="information">
                                                    <span id="insuranceMedicalUf" class="uf"></span>
                                                    <span id="insuranceMedicalClp" class="clp"></span>
                                                </span>
                                                <span class="_s-div--disabled">
                                                    <input type='checkbox' name="urgencias_medicas_valor" class="check-box _main-l-section__header__checkbox" id="checkboxMedical" data-insurance="2" >
                                                    <input type='hidden' name="urgencias_medicas_nombre" value="Muerte accidental + Urgencias médicas">
                                                    <input type='hidden' name="urgencias_medicas_id" value="3">
                                                </span>
        
                                            </div>
                                        </div>
                                        <div id="dentalInsurance" class="other-insurance _s-div--disabled">
                                            <hr />
                                            <div class="_m-summary__body__insurance">
                                                <span class="cancel-insurance" data-insurance="3">
                                                    <i class="icon icon-times"></i>
                                                </span>
                                                <span class="title">Muerte Accidental + Urgencia Dental</span>
                                                <span class="information">
                                                    <span id="insuranceDentalUf" class="uf"></span>
                                                    <span id="insuranceDentalClp" class="clp"></span>
                                                </span>
                                                <span class="_s-div--disabled">
                                                    <input type='checkbox' name="urgencias_dental_valor" class="check-box _main-l-section__header__checkbox" id="checkboxDental" data-insurance="3">
                                                    <input type='hidden' name="urgencias_dental_nombre" value="Muerte accidental + Urgencia dental">
                                                    <input type='hidden' name="urgencias_dental_id" value="2">
                                                </span>
        
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="_m-summary__prime">
                                <div class="container">
                                    <div class="_m-summary__body">
                                        <div class="_m-summary__body__consolidated">
                                            <span class="title">Valor prima mensual</span>
                                            <span id="resumeTotalUF" class="total-uf"></span>
                                            <span id="resumeTotalCLP" class="total-clp"></span>
                                            <input type="hidden" name="prima_mensual_UF" id="primaMensualUF">
                                            <input type="hidden" name="prima_mensual_cl" id="primeResultCLInput">
                                            <span class="description">Valor referencial UF al <span id="dateUF"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="_m-summary__submit _m-summary--border-top">
                                <div class="container ">
                                    <div class="_m-summary__body _text__center text-uppercase">
                                        <button id="btnNextStep" class="mod-btn  mod-align-right mod-btn_summary">Siguiente ></button>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </aside>
            </div>
            </form>
            <!--- Layout Legal --->
            <div class="row d-sm-block d-md-none">
                <div  class="layout_container col-md-8 legal">
                    <p class="legal__p">El proponente asegurado autoriza, en este acto, al Banco Santander, para que informe a la
                    Compañía aseguradora sobre sus datos personales, de contacto, las actualizaciones y/o cualquier
                    modificación de los mismos que le entregue u otorgue. Autoriza además a la Compañía a
                    notificarlos a estas nuevas o diferentes direcciones informadas sean físicas o electrónicas.
                    Autorización de enviar las comunicaciones y notificaciones al correo electrónico definido en la
                    contratación. La cobertura es otorgada por Zurich Santander Seguros de Vida Chile SA, RUT 96.819.630-8,
                    intermediada por Santander Corredora de Seguros Ltda. Rut: 96.524.260-0, ambas domiciliadas en
                    Bombero Ossa 1068 piso 4, Santiago y se rige según lo dispuesto por las Condiciones Generales
                    depositadas en el registro de la Superintendencia de Valores y Seguros indicado en el cuadro de
                    “Coberturas”.
                    Zurich Santander Seguros de Vida Chile S.A. se encuentra adherida al Código de Autorregulación
                    de las Compañías de Seguros y está sujeta al Compendio de Buenas Prácticas Corporativas, que
                    contiene un conjunto de normas destinadas a promover una adecuada relación de las compañías
                    de seguros con sus clientes. Copia de este Compendio se encuentra en la página web www.aach.cl.
                    Asimismo, ha aceptado la intervención del Defensor del Asegurado cuando los clientes le
                    presenten reclamos en relación a los contratos celebrados con ella. Los clientes pueden presentar
                    sus reclamos ante el Defensor del Asegurado utilizando los formularios disponibles en las oficinas
                    de Zurich Santander Seguros de Vida Chile S.A o a través de la página web www.ddachile.cl.
                    </p>
                </div>
            </div>
            <!--- End Layout Legal --->
        </div>
    </div>
   
    <script> var utag_data =   {%  if _UDATA is defined %} {{ _UDATA | json_encode | raw }}  {% else %} {} {% endif %};</script>
    <script type="text/javascript">
        (function() {
           var script=document.createElement("script");script.src="//code.jquery.com/jquery-1.12.4.min.js",
           script.async=!1,document.body.appendChild(script)
       })();
   </script>
    <script type="text/javascript">
        (function(a,b,c,d){
        a='https://tags.tiqcdn.com/utag/santander/ch-online-banking/prod/utag.js';
        b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
        a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
        })();
    </script>
<script type="text/javascript" src="/web20/legos-assets/common.bundle.js?hash=0854234e34cd32a5ec66"></script><script type="text/javascript" src="/web20/legos-assets/stylesheet.bundle.js?hash=0854234e34cd32a5ec66"></script><script type="text/javascript" src="/web20/legos-assets/payment_order.bundle.js?hash=0854234e34cd32a5ec66"></script></body>
</html>
