{%  if insurance.hasBeneficiaries %}
    <h3 class="sts-h3 sts-text-bold margin-bottom">Datos de los beneficiarios</h3>

    <div class="beneficiaries">
        {% set number = 1 %}
        {% for beneficiario in insurance.beneficiaries %}
        <div class="col-sm-6 col-xs-12">
            <h3 class="sts-h3 offset-bottom-1"><strong>Asegurado {{ number }}</strong></h3>
            <div class="sts-info-form">
                <p class="sts-info-form__label"><strong>Nombre completo:</strong></p>
                <p class="sts-info-form__text">{{ beneficiario.name ~ " " ~ beneficiario.lastname1 ~ " " ~ beneficiario.lastname2 }}</p>
            </div>

            <div class="sts-info-form">
                <p class="sts-info-form__label"><strong>Fecha de nacimiento:</strong></p>
                <p class="sts-info-form__text">{{ beneficiario.birthday | date('d/m/Y') }}</p>
            </div>

            <div class="sts-info-form">
                <p class="sts-info-form__label"><strong>Rut:</strong></p>
                <p class="sts-info-form__text">{{ beneficiario.code | format_rut }}</p>
            </div>

            <div class="sts-info-form">
                <p class="sts-info-form__label"><strong>Parentesco:</strong></p>
                <p class="sts-info-form__text">{{ beneficiario.relationship }}</p>
            </div>
            
            <div class="sts-info-form">
                <p class="sts-info-form__label"><strong>Capital:</strong></p>
                <p class="sts-info-form__text">{{ beneficiario.capital }}%</p>
            </div>
        </div>
            {% set number = number + 1 %}
        {% endfor %}
    </div>
{% endif %}