{%  if insurance.hasCargas %}
    <h3 class="sts-h3 sts-text-bold margin-bottom">Datos de las cargas</h3>

    <div class="beneficiaries">
        {% set number = 1 %}
        {% for carga in insurance.cargas %}
        <div class="col-sm-6 col-xs-12">
            <h3 class="sts-h3 offset-bottom-1"><strong>Asegurado {{ number }}</strong></h3>
            <div class="sts-info-form">
                <p class="sts-info-form__label"><strong>Nombre completo:</strong></p>
                <p class="sts-info-form__text">{{ carga.name ~ " " ~ carga.lastname1 ~ " " ~ carga.lastname2 }}</p>
            </div>

            <div class="sts-info-form">
                <p class="sts-info-form__label"><strong>Fecha de nacimiento:</strong></p>
                <p class="sts-info-form__text">{{ carga.birthday | date('d/m/Y') }}</p>
            </div>

            <div class="sts-info-form">
                <p class="sts-info-form__label"><strong>Rut:</strong></p>
                <p class="sts-info-form__text">{{ carga.code | format_rut }}</p>
            </div>

            <div class="sts-info-form">
                <p class="sts-info-form__label"><strong>Parentesco:</strong></p>
                <p class="sts-info-form__text">{{ carga.relationship }}</p>
            </div>
        </div>
            {% set number = number + 1 %}
        {% endfor %}
    </div>
{% endif %}