{% if insurance.travelDate is not empty %}
<h3 class="sts-h3 sts-text-bold">Datos de viaje</h3>


  <div class="sts-alert sts-alert--info2 no-border no-bg no-padding-left no-padding-right">
    <div class="row">

      <div class="col-sm-6 col-xs-12">
        <div class="sts-info-form">
          <p class="sts-info-form__label"><strong>Fecha de viaje:</strong></p>
          <p class="sts-info-form__text">{{ insurance.travelDate }}</p>
        </div>
      </div>
    </div>
  </div>
{% endif %}
