{% extends "SeguroBundle::base.html.twig" %}

{% block body %}

        {% embed "SeguroBundle::Front/comprobante.html.twig" %}
		
			{% block voucherextra %}
            <h3 class="sts-h3 sts-text-bold">Datos de la propiedad ha asegurar</h3>

            <div class="sts-alert sts-alert--info2 no-border no-bg no-padding-left no-padding-right">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Dirección:</strong></p>
                            <p class="sts-info-form__text">{{ insurance.home.address }}</p>
                        </div>

                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Ciudad:</strong></p>
                            <p class="sts-info-form__text">{{ insurance.home.addressCity  |capitalize }}</p>
                        </div>

                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Comuna:</strong></p>
                            <p class="sts-info-form__text">{{ insurance.home.addressState |capitalize }}</p>
                        </div>
                    </div>
                </div>
            </div>
			{% endblock %}
		{% endembed %}
{% endblock %}