{% extends "SeguroBundle::base.html.twig" %}

{% block body %}

        {% embed "SeguroBundle::Front/comprobante.html.twig" %}
			
			{% block voucherextra %}
				  {% embed "SeguroBundle::Voucher/cargas.html.twig" %}{% endembed %}
			{% endblock %}
		{% endembed %}
{% endblock %}