{% extends "SeguroBundle::base.html.twig" %}

{% block body %}

        {% embed "SeguroBundle::Front/comprobante.html.twig" %}
			
			{% block voucherextra %}
				{% embed "SeguroBundle::Voucher/declaracion.html.twig" %}{% endembed %}
			{% endblock %}
		{% endembed %}
{% endblock %}