{% extends "SeguroBundle::base.html.twig" %}
{% block body %}
        {% embed "SeguroBundle::Front/comprobante.html.twig" %}
			{% block voucherextra %}
                {% embed "SeguroBundle::Voucher/fecha-viaje.html.twig" %}{% endembed %}
				{% embed "SeguroBundle::Voucher/cargas.html.twig" %}{% endembed %}
			{% endblock %}
            {% block tipopago %}anual{% endblock %}
		{% endembed %}
{% endblock %}