{% extends "SeguroBundle::base.html.twig" %}

{% block body %}
	{% embed "SeguroBundle::Front/index.html.twig"  with {'product': product ,'icon': 'salud','iconi':'s-urgencia', 'simulador': 'true'} %}
		{% block simulador %}
		<div class="sts-block sts-block--small sts-simular">
	  <div class="sts-block__body-inner">
	 
		<div class="sts-form--date">
		  <div class="row">
			<div class="col-sm-6 col-sm-offset-3">
			  <label for="" class="sts-text-center">Fecha de nacimiento del asegurado</label>
			  <div class="sts-parent-select">
				<div class="sts-form--select">
				  <select name="insured[birthday][day]" ng-model="fields.birthday.day" ng-init="fields.birthday.day=0">
					<option value="0">Día</option>
						{% for i in range(1, 31) %}
						 <option value="{{ i }}">{{ '%02d'|format(i) }}</option>     
						{% endfor %}
				  </select>
				</div>

				<div class="sts-form--select">
				  <select name="insured[birthday][month]"  ng-model="fields.birthday.month" ng-init="fields.birthday.month=0">
					<option value="0">Mes</option>
					{% for i in range(1, 12) %}
					 <option value="{{ i }}">{{ '%02d'|format(i) }}</option>     
					{% endfor %}
				  </select>
				</div>

				<div class="sts-form--select">
				  <select name="insured[birthday][year]"  ng-model="fields.birthday.year" ng-init="fields.birthday.year=0">
					<option value="0">Año</option>
					{% set year =  "now" | date('Y') %}	
					{% for i in range( (year-85), year) %}
					 <option value="{{ i }}">{{ i }}</option>     
					{% endfor %}
				  </select>
				</div>
			  </div>
			</div>
		  </div>
			
		</div>
		

		<div class="sts-btns--center">
		  <a href="javascript:void(0);" title="Simular" class="sts-btn"  button-simulador="Volver a simular"  ng-click="getCatastrofico($event,{{product.id}})" data-evento="simular"><span>SIMULAR</span> <i class="str-icon-flecha-derecha"></i></a>
		</div>
	  </div>
	</div>
		{% endblock %}
		
		{% block textResult %}
			<div class="sts-head-title">
              <h2 class="sts-head__title">Resultados de la simulación</h2>
              <p class="sts-head__text">Te recomendamos los siguientes planes de salud</p>
            </div>
		{% endblock %}
	{% endembed %}

{% endblock %}