{% extends "SeguroBundle::base.html.twig" %}

{% block body %}
	{% embed "SeguroBundle::Front/index.html.twig"  with {'product': product ,'icon': 'hogar'} %}
		{% block simulador %}
			<h2 class="sts-h3 sts-text-center sts-text-bold offset-bottom-3">Compara y contrata el tipo de plan de acuerdo a tu necesidad</h2>
		{% endblock %}
		
	{% endembed %}
{% endblock %}