{% extends "SeguroBundle::base.html.twig" %}

{% block body %}
	{% embed "SeguroBundle::Front/index.html.twig"  with {'product': product ,'icon': 'salud','iconi':'s-urgencia', 'simulador': 'true'} %}
		{% block simulador %}
        <h2 class="sts-h3 sts-text-center sts-text-bold offset-bottom-3">Indícanos el tipo de plan que necesitas</h2>
        <div class="formbg offset-bottom-3 sts-block__body-inner">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3"> 
                    <div class="sts-form--select sts-form-reset">
                      <label class="sts-text-small">Indícanos el tipo de plan que necesitas</label>
                      <select name="insured[asegurados]" ng-model="fields.asegurados" ng-init="fields.asegurados = 0" >
                        <option value="0">Titular</option>
                        <option value="1">Titular + 1 asegurado</option>
                        <option value="2">Titular + 2 asegurado</option>
                        <option value="3">Titular + 3 asegurado</option>
                        <option value="4">Titular + 4 asegurado</option>
                        <option value="5">Titular + 5 asegurado</option>
                      </select>
                    </div>
                </div>
             
             
            </div>
        </div>
        <div class="sts-btns--center offset-bottom-3 no-margin-top">
          <a href="javascript:void(0);" title="Simular" class="sts-btn" button-simulador="Volver a simular" ng-click="getHospital($event,{{product.id}})"><span>SIMULAR</span>
			   <i class="str-icon-flecha-derecha"></i></a>
        </div>
		{% endblock %}
        
		{% block textResult %}
			<h2 class="sts-h3 sts-text-center sts-text-bold border-top offset-bottom-3">Resultados de la simulación:</h2>
		{% endblock %}
	{% endembed %}

{% endblock %}