
{% extends "SeguroBundle::base.html.twig" %}

{% block body %}
	{% embed "SeguroBundle::Front/index.html.twig"  with {'product': product ,'icon': 'salud','iconi':'s-urgencia', 'simulador': 'true'} %}
		{% block simulador %}
		<h2 class="sts-h3 sts-text-center sts-text-bold offset-bottom-3">Si deseas calcular tu seguro, indícanos, ¿En qué fecha naciste?</h2>
        <div class="formbg offset-bottom-3">
            <div class="sts-form--date">
                    <div class="sts-form--select">
                     <select name="insured[birthday][day]" ng-model="fields.birthday.day" ng-init="fields.birthday.day=0">
                        <option value="0">Día</option>
                            {% for i in range(1, 31) %}
                             <option value="{{ i }}">{{ '%02d'|format(i) }}</option>     
                            {% endfor %}
                      </select>
                    </div>

                    <div class="sts-form--select">
                        <select name="insured[birthday][month]"  ng-model="fields.birthday.month" ng-init="fields.birthday.month=0">
							<option value="0">Mes</option>
							{% for i in range(1, 12) %}
							 <option value="{{ i }}">{{ '%02d'|format(i) }}</option>     
							{% endfor %}
						 </select>
                    </div>

                    <div class="sts-form--select">
                        <select name="insured[birthday][year]"  ng-model="fields.birthday.year" ng-init="fields.birthday.year=0">
                            <option value="0">Año</option>
                            {% set year =  "now" | date('Y') %}	
                            {% for i in range( (year-85), year) %}
                             <option value="{{ i }}">{{ i }}</option>     
                            {% endfor %}
                        </select>
                    </div>
            </div>
        </div>
        <div class="sts-btns--center offset-bottom-3 no-margin-top">
          <a href="javascript:void(0);" title="Simular" class="sts-btn" button-simulador="Volver a simular"  ng-click="getOncologico($event,{{product.id}})"><span>SIMULAR</span> <i class="str-icon-flecha-derecha"></i></a>
        </div>
         
		{% endblock %}
		{% block textResult %}
			<h2 class="sts-h3 sts-text-center sts-text-bold border-top offset-bottom-3">Resultados de la simulación:</h2>
		{% endblock %}
	{% endembed %}

{% endblock %}
