{% extends "SeguroBundle::base.html.twig" %}

{% block body %}
	{% embed "SeguroBundle::Front/index.html.twig"  with {'product': product ,'icon': 'viajes','iconi' :'viajes', 'simulador': 'true'} %}
		{% block simulador %}
            <h2 class="sts-h3 sts-text-center sts-text-bold offset-bottom-3">¿Cuántas personas viajarán?</h2>
            <div class="formbg offset-bottom-3 sts-block__body-inner">
                <div class="row">
                  <div class="col-sm-6 col-sm-offset-3">
                    <div class="sts-form--select sts-form-reset">
                      <label class="sts-text-small">¿Cuántas personas viajarán?</label>
                      <select name="insured[viajeros]" ng-model="fields.viajeros" ng-init="fields.viajeros=0">
                        <option value="0">Plan individual (Titular)</option>
                        <option value="1:1">El titular + 1 asegurado</option>
                        <option value="2:5">Plan familiar (3 o más asegurados)</option>
                      </select>
                    </div>
                  </div>
                </div>
            </div>	
            <div class="sts-btns--center offset-bottom-3 no-margin-top">
              <a href="javascript:void(0);" ng-model="button.simular" button-simulador="Volver a simular" ng-click="getViaje($event,{{product.id}}) "  title="Simular" class="sts-btn">
                <span>SIMULAR</span> 
                <i class="str-icon-flecha-derecha"></i>
              </a>
            </div>
            
		{% endblock %}

		{% block period %}pago anual{% endblock %}
		
		{% block textResult %}
			<h2 class="sts-h3 sts-text-center sts-text-bold border-top offset-bottom-3">
                Resultados de la simulación:
            </h2>
		{% endblock %}
	{% endembed %}

{% endblock %}
