{% extends "SeguroBundle::base.html.twig" %}
{% block body %}
	{% embed "SeguroBundle::Front/index.html.twig"  with {'product': product ,'icon' : 'salud','iconi':'s-urgencia', 'simulador': 'true'} %}
		{% block simulador %}
            <h2 class="sts-h3 sts-text-center sts-text-bold offset-bottom-3">
                Indícanos el tipo de plan que necesitas
            </h2>
            <div class="formbg offset-bottom-3 sts-block__body-inner">
                <div class="row">
                
                    <div class="col-sm-6 col-sm-offset-3"> 
                        <div class="sts-form--select sts-form-reset">
                          <label class="sts-text-small">Indícanos el tipo de plan que necesitas</label>
                          <select name="insured[asistencia]" ng-model="fields.asistencia" ng-init="fields.asistencia ='1:5'">                            
                            {#<option value="0">Asistencia por urgencia individual</option>#}
                            <option value="1:5">Asistencia por urgencia grupal</option>
                          </select>
                        </div>
                    </div>
                 
                 
                </div>
            </div>
            
            	
            <div class="sts-btns--center offset-bottom-3 no-margin-top">
               <a href="javascript:void(0);" title="Simular"  button-simulador="Volver a simular" class="sts-btn"  ng-click="getUrgencia($event,{{product.id}})">
                <span>SIMULAR</span> <i class="str-icon-flecha-derecha"></i>
                </a>
            </div>
            
			
		{% endblock %}
        {% block textResult %}
            <h2 class="sts-h3 sts-text-center sts-text-bold border-top offset-bottom-3">Resultados de la simulación:</h2>
		{% endblock %}
	{% endembed %}

{% endblock %}
