{% extends "SeguroBundle::base.html.twig" %}

{% block googleoptimize %}
 <!-- Anti-flicker snippet (recommended)  -->
  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-WZ9RLQW':true});</script>
  <!-- Global site tag (gtag.js) - Google Analytics --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1166545-3"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-1166545-3', { 'send_page_view':false, 'optimize_id': 'GTM-WZ9RLQW'}); </script> 
 
{% endblock %}

{% block body %}
	{% embed "SeguroBundle::Front/index.html.twig"  with {'product': product ,'icon': 'viajes','iconi' :'viajes', 'simulador': 'true'} %}
        
		{% block simulador %}
            <h2 class="sts-h3 sts-text-center sts-text-bold offset-bottom-3">Arma tu seguro</h2>
            <div class="formbg offset-bottom-3 sts-block__body-inner">
                <div class="row">
                  <div class="col-sm-6 col-xs-12">
                    <div class="sts-form--select sts-form-reset">
                      <label class="sts-text-small">¿Con quién viajas?</label>
                      <select name="insured[viajeros]" ng-model="fields.viajeros" ng-init="fields.viajeros=0">
                        <option value="0">Solo</option>
                        <option value="1:1">Con un acompañante</option>
                        <option value="2:5">Con mi familia</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="col-sm-6 col-xs-12">
                    <div class="sts-form--select sts-form-reset">
                      <label class="sts-text-small">¿Cuánto durará tu viaje?</label>
                      <select name="insured[dias]" ng-model="fields.dias" ng-init="fields.dias='{{ dias|first }}'">
                        {% for dia in dias %}
                        <option value="{{dia}}">Hasta {{dia}} días</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                 
                </div>
            </div>
            
            	
             <div class="sts-btns--center offset-bottom-3 no-margin-top">
              <a href="javascript:void(0);" ng-model="button.simular" button-simulador="Volver a simular" ng-click="getVacaciones($event,{{product.id}}) "  title="Simular" class="sts-btn">
                <span>SIMULAR</span> 
                <i class="str-icon-flecha-derecha"></i>
              </a>
            </div>
            
		{% endblock %}
		
		{% block period %}pago único{% endblock %}
		
		{% block textResult %}
			<h2 class="sts-h3 sts-text-center sts-text-bold border-top offset-bottom-3">Resultados de la simulación:</h2>
		{% endblock %}
	{% endembed %}

{% endblock %}

