<style type="text/css">
    .the-legend {
  /*  border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;*/
    background: #8D0505;
    border: solid 1px black;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 6px;
    font-size: 14px;
    color: #fff;
}
.the-fieldset {
    border: 2px groove threedface #444;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
    
}   
</style>
<form  action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} novalidate>
    <fieldset class="well the-fieldset">
            <legend class="the-legend">Preguntas Arbol</legend>
        <div class="row">
            <div class="form-group" >
                <label for="preocupacion" class="control-label col-sm-2"> Preocupacion:</label>
                <div class="col-sm-4" auto-complete source="source" placeholder="Select Bar">
                    {{ form_widget(form.idpreocupacion , { attr: {class: "form-control" , 'ng-model':'preo' }})}}
                </div>
            </div>
            <div class="form-group ">
                <label for="tipo" class="control-label col-sm-2">Tipo de Pregunta:</label>
                <!--<div class="col-sm-10">-->
                <div class="col-sm-4">
                   {# {{ form_widget(form.tipo , { attr: {class: "form-control" }})}} #}
                    <select name="Arbol_form[tipo]" id="Arbol_form_tipo" class="form-control" ng-model="gen">
                        {#<option value="0" placeholder="Elija una opcion" not-selected></option>#}
                        <option disabled selected value>Tipo de pregunta</option>
                        {% for tip in form.tipo.vars.choices %}
                            <option class="tipo" value="{{ tip.value }}">{{ tip.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group" ng-show="gen != 1">
                <label for="pregpadre" class="control-label col-sm-2"> Pregunta Padre:</label>
                <!--<div class="col-sm-10">-->
                <div class="col-sm-4">
                     <select name="Arbol_form[pregPadre]" id="Arbol_form_pregPadre" class="form-control" ng-model='padre'>
                                  
                         {% for preg in PreguntasPadres %}        
                            <option  ng-show="{{preg.Idpreocupacion.Id}} == preo" class="tipo" data-preo={{preg.Idpreocupacion.Id}} value="{{ preg.Id }}">{{preg.Id}}-{{ preg.PregHijo.Titulo }}</option>
                           
                        {% endfor %}
                    </select> 
                </div>
            </div>
             
            <div class="form-group ">
                <label for="preghijo" class="control-label col-sm-2"> Etiqueta del Producto:</label>
                <div class="col-sm-4">
                    <select name="Arbol_form[preghijo]" id="Arbol_form_preghijo" class="form-control test" ng-model='hijo'>
                        <option disabled selected value>Escoja una pregunta</option>
                        {% for preg in pregunta %}
                            {# {{ dump(form.preghijo.vars.choices.id) }} #}    
                            <option class="tipo" data-georly="{{ preg.tipo.idtipo }}" ng-show="(gen == {{preg.pregtipo.id}}) && (padre != {{preg.id}}) && ({{preg.visible}} == 1)" id='{{preg.pregtipo.id}}' value="{{preg.id}}">{{ preg.titulo }}</option>
                        {% endfor %}
                    </select> 
                    {# {{ form_widget(form.preghijo , { attr: {class: "form-control" }})}} #}
                </div>
            </div>
      
            <div class="form-group ">
                <div class="col-sm-10">
                    {{ form_widget(form.choices , { attr: {class: "form-control" }})}}
                </div>
            </div>
            </div>
       </fieldset>     
        <fieldset class="well the-fieldset">
            <legend class="the-legend">Productos</legend>
            {{ include('PlanificadorBundle:administrador:arbol/layout_productos.html.twig') }}
        </fieldset>
        <fieldset class="well the-fieldset">
            <legend class="the-legend">Asociar Filtros</legend>
                {{ include('PlanificadorBundle:administrador:arbol/layout_filtros.html.twig') }} 
        </fieldset>

        <div> 
           <!-- <button  class="aqui btn btn-lg gris"  ng-click="saveChoice()" type="submit" name='continuar'> Registrar </button>-->
           <button  class="btn btn-success  btn-lg"  ng-click="saveChoice()" type="submit" name='continuar'> Registrar </button>
           {#} <button id="ver2" type="submit" ng-show="submit == {{step}}" ng-click="visible = 1" class="btn-continuar" data-next="{{ (step+1) }}" data-step="{{ step }}">Continuar</button> #}
        </div>
 
    
</form>
