<form  action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>
    <div class="row">
      <div class="form-group" >   
            <label for="preocupacion" class="control-label col-sm-2"> Preocupacion:</label>
            <div class="col-sm-10">
                {{ form_widget(form.idpreocupacion , { attr: {class: "form-control" , 'ng-model':'preo' }})}}
            </div>
        </div>
         <div class="col-sm-10">

        
      </div>
        <div class="form-group ">
            <label for="tipo" class="control-label col-sm-2">Tipo de Pregunta:</label>
            <div class="col-sm-10">
                <input type="text" name="Arbol_form[tipo]" id="Arbol_form_tipo" class="form-control" ng-model="preo">
                <input type="text" name="Arbol_form[tipo]" id="Arbol_form_tipo" class="form-control" ng-model="gen">
                    {#<option value="0" placeholder="Elija una opcion" not-selected></option>#}
                  
            </div>
        </div>

      
        <ul>
          <li>Preocupación </li>
     
            <ul>
            <li>A </li>
            <li>B </li>
            </ul>
          </li>
          <li>C</li>
        </ul>


        
  
      

    </div>
</form>