{% extends "PlanificadorBundle::base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}    
    <link rel="stylesheet" href="{{ asset('assets/css/planificador/jasny-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/planificador/planificador.css') }}">
    <!--   <link rel="stylesheet" href="estiloarbol.css') }}">-->  
{% endblock %}

{% block javascripts %}
    {{ parent() }}    
    <script src="{{ asset('assets/js/planificador/jasny-bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/planificador/controller/arbol_back.js') }}"></script>
    <script> var bloqueadas
        = {{ bloqueadas | json_encode | raw }} </script>
    {% endblock %}

{#<li>{{ ar.ID }}</li>
    <li>{{ ar.PREGPRADRE }}</li>
    <li>{{ ar.PREGHIJO }}</li>
    <li>{{ ar.LEVEL }}</li>#}

{% block body %}

    <h2>Arbol de Relaciones</h2>
    {% set visible=0 %}
	
    {% for i in 0..cont %}
        {% for arg in resultado[i].arbolito %}
			{#{ dump (arg) }#}
            {% if arg == loop.first %}
                <ul>

                    {#Listado Superior#}
                    <div ng-click="content{{i}} = !content{{i}}">
                        <a data-toggle="collapse" ng-click="menu" class="contenedor" href="#">
                            <i class="fa fa-arrow-right"></i> 
                            {{resultado[i].preocupacion.descripcion}}
                        </a>
                    </div>

                    {#Información interior#}    
                    <div  ng-show="content{{i}}">
                        <h6><b>Preguntas Genericas:</b></h6>
                        {% for item in resultado[i].pregene %}
                            <h6>{{item.TITULO}}  </h6>
                        {% endfor %}
                        <h6><b>Arbol:</b></h6>      
            {% endif %}
                    
                        <li class="col-lg-12 col-md-12 col-xs-12  ui-state-default">
                            {# INDICA CUAL ES EL PADRE #}
                            {% if arg.LEVEL > 1 %}
                            {% else %}
                                <label><h6><a href="{{ path('arbol',{'id':arg.ID}) }}">({{arg.HIJO }}){{ arg.TITULO }}</a> </h6></label>
                                <a class="ico" ng-show="hasntBlock({{ arg.ID }})"  href="{{ path('arbol_eliminar',{'id':arg.ID}) }}"><i class="fa fa-trash-o " aria-hidden="true"></i> </a > 
                                <a href="{{ path('arbol',{'id':arg.ID}) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"> </i></a>
                            {% endif %}
                            {# FIN DEL  PADRE #}
                            {# TRAE AL HIJO E ITERA LOS LEVEL  #}
                            {% if arg.LEVEL > 1 %}
                                <div>   
                                    {% for i in 1..arg.LEVEL %}
                                        {% if i == loop.last %}
                                        {% else %}
                                            <label></label>
                                        {% endif %}
                                    {% endfor %}
                                    <section>
                                        <label><a href="{{ path('arbol',{'id':arg.ID}) }}">({{arg.ID }}) - {{ arg.TITULO }}</a> </label> 

                                        <a href="{{ path('arbol',{'id':arg.ID}) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"> </i></a>
                                    </section>
                                    <a class="ico" ng-show="hasntBlock({{ arg.ID }})" href="{{ path('arbol_eliminar',{'id':arg.ID}) }}">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i></a>    
                                </div>
                            {% else %}
                            {% endif %}
                            
                        </li>
                   
                {% endfor %} 
            </div>
        </ul>
    {% endfor %}
{% endblock %}