{% extends "PlanificadorBundle::base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    
    <link rel="stylesheet" href="{{ asset('assets/css/planificador/jasny-bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/planificador/planificador.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/planificador/controller/arbol.js') }}"></script>
    <script src="{{ asset('assets/js/planificador/jasny-bootstrap.min.js') }}"></script>

    <script>
    var productos = {{ productos | json_encode | raw }}
    var prodplani = {{ prodplani | json_encode | raw }}
    var arbol = {{ arbol | json_encode | raw }}
    var arr = {{ arr | json_encode | raw }}
    var preo = {{ PreguntasPadres | json_encode | raw }}
    </script>
   
{% endblock %}

{% block body %} 
 <label><h3>Crear Arbol</h3></label>
<section  class="form-horizontal">
    {# FORMULAIO #}
    <div id= 'paso1'>
    {{ include('PlanificadorBundle:administrador:arbol/arbol_layout_form.html.twig') }}
    </div>
 

       
</section>
{% endblock %}