{% extends "PlanificadorBundle::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
   
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/generico.js') }}"></script>
	
{% endblock %}

{% block body %}
	<div>
			<h3>Lista de Relaciones</h3>

			<section class=" row form-horizontal">
	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr >
		   	<th>Id</th>
		   	<th>Preocupación</th>
		   	<th>Tipo</th>
			<th>Pregunta Padre</th>
			<th>Pregunta</th>
			<th>Ver Arbol</th>
			<th>Editar</th>
			<th>Eliminar</th>		    
		</tr>
	  {% for arbol in arboles %}
		<tr >
		  	<td>{{ arbol.Id}}</td>
		  	<td>{{ arbol.idPreocupacion.Descripcion }}</td>
		  	<td>{{ arbol.pregHijo.Tipo.nombre }}</td>
		  	{% if arbol.pregpadre %}
			<td>{{ arbol.pregpadre.Titulo }}</td>
			{% else %}
			<td>N/A</td>
			{% endif %}
			<td>{{ arbol.pregHijo.Titulo }}</td>
			<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('arbol_mostrar',{'id':arbol.idPreocupacion.Id}) }}"><i class="fa fa-sitemap fa-2x" aria-hidden="true"></i></a></td>
			<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('arbol',{'id':arbol.Id}) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i> </a ></td>
			<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('arbol_eliminar',{'id':arbol.Id}) }}"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a></td>
			
		</tr>
	{% endfor %}
	</table >
</section>
	</div>
{% endblock %}

