<style type="text/css">
/* CSS used here will be applied after bootstrap.css */

.content-section-c {
    padding: 50px 0;
    background-color: #d4d4d4;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #3C5A78;
    line-height: 1;
    text-align:center;
    padding: 0 0 16px 0;
}
h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #3C5A78;
    line-height: 1;
    text-align:center;
    padding: 0 0 16px 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: 3px solid #8D0505;
 font-weight: bold;
 background-color: #d4d4d4 !important; 
}

.nav-tabs>li>a:hover{
  border: 1px solid transparent;
}

.nav>li>a:focus, .nav>li>a:hover{
    background-color: #d4d4d4;
}

.nav-tabs{
    border-bottom: none;
    display: inline-block; /* needed to center the list items */
}

.tabbable{
     text-align: center;
}
</style>
<div class="content-section-c">
    <div class="row">
      
       <!-- <ul class="nav nav-pills nav-justified">-->
       <div class="tabbable">
        <ul class="nav nav-tabs">
       <!-- <ul class="nav nav-pills">-->
            <li class="active"><a href="#filtro1" data-toggle="tab">GENERAL</a></li>
           <li><a data-toggle="tab" href="#filtro2">GASTOS</a></li>
            <li><a data-toggle="tab" href="#filtro3">FAMILIA</a></li>
            <li><a data-toggle="tab" href="#filtro4">RESPUESTAS </a></li>
            <li><a data-toggle="tab" href="#filtro5">CAPITAL</a></li>
        </ul>

            <div class="tab-content">
                <div id="filtro1" class="tab-pane active">     
                <!--<div id="filtro1" class="tab-pane fade in active">
                    <p>Filtro General</p>-->
                    <div class="col-md-6 col-xs-12">
                        {{ include('PlanificadorBundle:administrador:filtro/filtro_formeditar.html.twig') }}
                    </div>
                </div>
                <div id="filtro2" class="tab-pane">
                <!--<div id="filtro2" class="tab-pane fade">-->
                   {{ include('PlanificadorBundle:administrador:filtro/filtro_gastos_editar.html.twig') }} 
                </div>
                <div id="filtro3"  class="tab-pane">
                    {{ include('PlanificadorBundle:administrador:filtro/filtro_familiar_editar.html.twig') }}
                </div>
                <div id="filtro4" class="tab-pane">
                    {{ include('PlanificadorBundle:administrador:filtro/filtro_respuesta_editar.html.twig') }}
                </div> 
                <div id="filtro5" class="tab-pane">
                    {{ include('PlanificadorBundle:administrador:filtro/filtro_capital_editar.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
