<style type="text/css">
    
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #3C5A78;
    line-height: 1;
    text-align:center;
    padding: 0 0 16px 0;
}
</style>
<div class="row" ng-show="gen == 3">
<h2>Asociar Productos</h2>    
        <section data-ng-repeat="choice in choices track by $index">
        {% if arr %}
        {% verbatim %}
         <br>
            <div class="form-group col-sm-5 col-md-5">
                <select class="form-control prod" data-index="{{$index}}" ng-model="q" ng-init="q = choice.producto"> 
                    <option  ng-repeat="prod in prodplani" ng-selected="{{prod.id}} == q" value="{{prod.id}}">({{prod.id}}){{prod.nombre_pro}}</option>
                </select>
            </div>
            
            <div class="form-group col-sm-5 col-md-5">
                <select class="form-control col-sm-4 col-md-4 pln" data-index="{{$index}}" id="{{$index}}" ng-model="pln" ng-init="pln = choice.plan">
                    <option ng-repeat="planes in plan" ng-selected="planes.id == pln" value="{{planes.id}}" ng-show="planes.prod == q" >({{planes.id}}){{planes.nom}}</option>
                </select>
            </div>
            {% endverbatim %}
           <!-- <div class="form-group col-sm-2 col-md-2">
                <button class="remove" ng-show="$last" ng-click="removeChoice()">Elimiiiinar</button>
            </div>-->

            <div class="form-group col-sm-2 col-md-2" ng-show="$last" ng-click="removeChoice()">
                <a ng-click="removeChoice()"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i> </a>
            </div>

        {% else %}
        {% verbatim %}
        <br>
        
            <div class="form-group col-sm-5 col-md-5">
                <select class="form-control prod" data-index="{{$index}}" ng-model="q"> 
                    <option  ng-repeat="prod in prodplani" value="{{prod.id}}">({{prod.id}}){{prod.nombre_pro}}</option>
                </select>
            </div>
            
            <div class="form-group col-sm-5 col-md-5">
                <select class="form-control col-sm-4 col-md-4 pln" data-index="{{$index}}" id="{{$index}}" ng-model="pln">
                    <option ng-repeat="planes in plan" value="{{planes.id}}" ng-show="planes.prod == q" >({{planes.id}}){{planes.nom}}</option>
                </select>
            </div>
            {% endverbatim %}
            {#<input type="text" ng-model="choice.name" name="" placeholder="Enter mobile number">#}

            <div class="form-group col-sm-2 col-md-2">
                <button class="remove" ng-show="$last" ng-click="removeChoice()">Eliminar</button>
            </div>
       

        {% endif %}
        </section>
        
        <div class="btn btn-lg btn-primary" type="button" ng-click="addNewChoice()">Asociar productos y planes</div>
       {# <div id="choicesDisplay"> 
        {% verbatim %}    
            {{ choices }}
        {% endverbatim %}
        </div>#}
    </div>
    <br>