{% embed "::insurance/details.html.twig" %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            var relationships = {{ relationships | json_encode | raw }};
        </script>
        <script src="{{ asset('assets/js/controllers/catastrofico.js') }}"></script>
    {% endblock %}
    {% block details_steps %}
        {% if product.hasPlan %}
            {% embed "::insurance/step_first.html.twig" with {inactive: false, step: 1} %}
                {% block step_first_header %}
                    {{ include('partials/plan_edad.html.twig', {plans: product.plans, price: product.price, form: form}) }}
                    {{ form_widget(form.plan, {attr: {style: 'display: none', 'ng-value': 'plan' }}) }}
                {% endblock %}
                  
                {% block step_first_info %}
                  
                    {% if product.hasCoverages %}
                      {{ include('partials/coverage_onco.html.twig', {product: product}) }}
                    {% endif %}
                    {{ include('::partials/form/more_cargas.html.twig') }}
                    {{ include('::partials/form/price_life.html.twig') }}
                    {{ include('::partials/form/target_message.html.twig') }}
                    
                {% endblock %}
            {% endembed %}
        {% endif %}

        {% if form.offsetExists('cargas') is not empty %}
            {% embed "::insurance/steps.html.twig" with {inactive: form.cargas.vars.valid, step: 2} %}
                {% block step_declaration %}Declaración de cargas{% endblock %}
                {% block step_title %}Declaración de cargas{% endblock %} 
                {% block step_subtitle %}Completa los datos requeridos para ingresar tus cargas{% endblock %}
                {% block step_attr %}ng-show="visible == 1"{% endblock %}
                {% block step_body_attr %}ng-show="visible == 1"{% endblock %}
                {% block step_body %}
                    {{ include('partials/form/cargas.html.twig', {form: form.cargas}) }}
                    <div class="box-aumento" ng-show="plan.cargasMax > 1">
                        <span class="texto">{% block add_beneficiarie %}Agregar{% endblock %}</span>
                        <span class="menos-carga" ng-click="lessBeneficiary()">-</span>
                        <span class="mas-carga" ng-click="moreBeneficiary()">+</span>
                    </div>
                     {{ include('::partials/form/price_catastrofico.html.twig') }}
                   {# {% embed "::partials/form/price_beneficiaries.html.twig" %}
                        {% block price_beneficiaries_title %}
                            La prima mensual con tus cargas es:
                        {% endblock %}
                        {% block price_beneficiaries_explains %}
                            De acuerdo a los datos proporcionados, su cónyuge es mayor que el titular. Por tanto, el valor mensual de la prima se ajustará al tramo de edad de este. Si no es correcto, cambie la fecha de nacimiento de su cónyuge.
                        {% endblock %} 
                    {% endembed %}#}
                {% endblock %}

                {% block footer_step %}
                    <p class="legal-form-dos">
                        1) la Compañía calculará el monto reembolsable de cada uno de los documentos que acrediten el gasto cubierto por este seguro aplicándole los porcentajes de la tabla de coberturas de las condiciones particulares del seguro, a los montos efectivamente pagados por el asegurado, es decir, los gastos descontados, los reembolsos de Isapre / Fonasa y cualquier otro seguro. Si el total de los montos reembolsables es inferior a UF 100, no corresponderá reembolso alguno por parte de la Compañía. 2) Para los afiliados a Fonasa, este seguro reembolsará el 100% del copago de cada uno de los bonos presentados. Los gastos que sean rendidos con boletas o facturas (diferencias no cubiertas por Fonasa o prestaciones sin coberturas) serán reembolsados al 50% de
                    </p>
                {% endblock %}
            {% endembed %}
        {% endif %}

         {% if form.offsetExists('questions') is not empty %}
         {% embed "::insurance/steps.html.twig" with {inactive: form.vars.valid, step: 3, last: true} %}
            {% block step_declaration %}Declaración personal Salud{% endblock %}
            {% block step_title %}{% endblock %}
            {% block step_attr %} ng-show="visible == 1"{% endblock %}
            {% block step_body_attr %} ng-show="visible == 1"{% endblock %}
            {% block step_body %}
                {{ include('partials/form/health_declaration_oncologico.html.twig', { form: form }) }}
            {% endblock %} 
        {% endembed %} 
        {% endif %}

        {% if form.offsetExists('questions') is not empty %}
         {% embed "::insurance/steps.html.twig" with {inactive: form.vars.valid, step: 4, last: true} %}
            {% block step_declaration %}Autorización especial de salud{% endblock %}
            {% block step_title %}{% endblock %}
            {% block step_attr %} ng-show="visible == 1"{% endblock %}
            {% block step_body_attr %} ng-show="visible == 1"{% endblock %}
            {% block step_body %}
                {{ include('partials/form/health_declaration_auth.html.twig', { form: form }) }}
            {% endblock %} 
        {% endembed %} 
        {% endif %}
    {% endblock %}
{% endembed %}
