{% extends "::base.html.twig" %}

{% block title %}Santander. Simulador | Paso 1{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/details.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/css_familia/'~ (product.getMasterFamily | lower | trim | trim(' ') ) ~'.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/jquery-ui.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/featherlight.css') }}" media="screen" charset="utf-8">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/featherlight.js') }}" charset="utf-8"></script>
    <script src="{{ asset('assets/js/details.js') }}"></script>
    <script type="text/javascript">
        var token = 'info';
        var product = {{ product.toArray | json_encode | raw }};
        var insurance = {{ insurance.toArray | json_encode | raw }};
        var coverages = {{ product.coverages.toArray | json_encode() | raw }};
        var plans = {{ product.plans.toArray | json_encode | raw }};
        var errors = {{ errors | json_encode | raw }}
        var cover = {{ cover | json_encode | raw }};
        var code = {{ product.code | raw }};
        var georly = {{ georly | json_encode | raw }};
        var campaigns = {{ campaigns | json_encode | raw }};

        {% if form.offsetExists('beneficiaries') is not empty %}
            {% if form.beneficiaries.vars.value | length > 0 %}
                var beneficiaries = {{ form.beneficiaries.vars.value.toArray | json_encode | raw }};
            {% else %}
                var beneficiaries = [];
            {% endif %}
        {% endif %}

        {% if form.offsetExists('cargas') is not empty %}
            {% if form.cargas.vars.value | length > 0 %}
                var beneficiaries = {{ form.cargas.vars.value.toArray | json_encode | raw }};
            {% else %}
                var beneficiaries = [];
            {% endif %}
        {% endif %}

   //     var precio = plans[0]['cargasPrice'];
   

    </script>
<script src="{{ asset('assets/js/jquery-ui.min.js')}}"></script>
    <script type="text/javascript">
     $(function() {
       $('.item.plan').tooltip();
       $('.question.phone').tooltip();
     });
    </script>
{% endblock %}

{% block body %}

    {% block details_header %}
        {{ include('partials/details_header.html.twig', {step: 1, title: 'Solicitud de Seguro de ' ~ insurance.product.name, icon: 'img/family/' ~ insurance.family.icon }) }}
        {%  if product.hasPlan %}
            <div class="col-9 xs" id="step_first_selected">
                <p class="subtitulo">Selecciona tu plan y completa los datos requeridos</p>
            </div>
        {% endif %}
    {% endblock %}
    {% set currentPath = path_token(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
    <form action="{{ currentPath }}" method="POST" {{ form_enctype(form) }} ng-controller="details" name="superform" id="superform" ng-init="product.id = {{ product.id }}">

       
        <div class="col-12" data-target="plana">
            {% block details_steps %}{% endblock %}
                  {{ form_errors(form) }}
        </div>
        {{ form_widget(form._token) }}
    </form>
    <div class="error-message">
        <div class="error-box">
            <div class="error-box2">
                <div class="error-icon"></div>
                <div class="error-content">
                </div>
            </div>
            <div class="error-close">
                <button type="button" class="error-cerrar btn-cerrar">Continuar</button>
            </div>
        </div>
    </div>
{% endblock %}
