{% embed "::insurance/details.html.twig" %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('assets/js/controllers/fraudeTarjeta.js') }}"></script>
    {% endblock %}
    {% block details_steps %}
        {% if product.hasPlan %}
            {% embed "::insurance/step_first.html.twig" with {inactive: false, step: 1} %}
                {% block step_first_header %}
                    {{ include('partials/plan.html.twig', {plans: product.plans, price: product.price, form: form}) }}
                    {{ form_widget(form.plan, {attr: {style: 'display: none', 'ng-value': 'plan' }}) }}
                {% endblock %}
                {% block step_first_info %}
                    {% if product.hasCoverages %}
                        {{ include('partials/coverages_fraudTarjeta.html.twig', {product: product}) }}
                    {% endif %}
                    {# validacion erronea #}                    
                    <br>
                        {{ include('partials/form/tarjeta_credito.html.twig') }}
                    
                        {{ include('::partials/form/price_fraude.html.twig') }}
                {% endblock %}
            {% endembed %}
        {% endif %}
        {{ include('::insurance/textoLegal.html.twig') }}
    {% endblock %}
{% endembed %}
