{% embed "::insurance/details.html.twig" %}
	{% block javascripts %}
      	{{ parent() }}
        <script src="{{ asset('assets/js/controllers/home.js') }}"></script>
         <script type="text/javascript">
         	var idplan = {{ idplan }}
         </script>
    {% endblock %}
   
	{% block details_steps %}
		{% if product.hasPlan %}
			{% embed "::insurance/step_first.html.twig" with {inactive: false, step: 1} %}
				{% block step_first_header %}
					{{ include('partials/plan.html.twig', {plans: product.plans, price: product.price, form: form}) }}
					{{ form_widget(form.plan, {attr: {style: 'display: none', 'ng-value': 'plan' }}) }}
				{% endblock %}
				{% block step_first_info %}
					{% if product.hasCoverages %}
						{{ include('partials/coverages_home.html.twig', {product: product}) }}
					{% endif %}
					{{ include('::partials/form/consulta_hogar.html.twig') }}
					{{ include('::partials/form/price_home.html.twig',{plans: product.plans, price: product.price}) }}
				{% endblock %}
			{% endembed %}
        {% endif %}
        {% embed "::insurance/steps.html.twig" with {inactive: true, step: 2, last: false} %}
        	{% block step_declaration %}Declaración de datos del domicilio asegurado{% endblock %}
            {% block step_title %}Dirección del domicilio{% endblock %}
            {% block step_subtitle %}Ingrese la dirección del domicilio que desea asegurar.{% endblock %}
            {% block step_attr %}{% endblock %}
            {% block step_body %}
                {{ include('partials/form/home.html.twig', {form: form.home}) }}
            {% endblock %}
        {% endembed %}
    	{{ include('::insurance/textoLegal.html.twig') }}
    {% endblock %}
{% endembed %}
