{% embed "::insurance/details.html.twig" %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            var relationships
            = {{ relationships | json_encode | raw }};
                    var idplan ={{ idplan }}
        </script>
        <script src="{{ asset('assets/js/controllers/life_not_dps.js') }}"></script>
    {% endblock %}
    {% block details_steps %}
        {% if product.hasPlan %}
            {% embed "::insurance/step_first.html.twig" with {inactive: false, step: 1} %}
                {% block step_first_header %}

                    {{ include('partials/plan_edad.html.twig', {plans: product.plans, price: product.price, form: form}) }}
                    {{ form_widget(form.plan, {attr: {style: 'display: none', 'ng-value': 'plan' }}) }}
                {% endblock %}
                {% block step_first_info %}
                    {% if product.hasCoverages %}
                        {{ include('partials/coverage_life.html.twig', {product: product}) }}
                    {% endif %}

                    {{ include('partials/form/price_life.html.twig') }}
                    {{ include('partials/form/target_message.html.twig') }}
                    {% embed "partials/form/more_beneficiaries.html.twig" %}
                        {% block more_beneficiaries_question %}¿Deseas incluir beneficiarios?{% endblock %}
                    {% endembed %}
                {% endblock %}
                {% block step_first_message %}
                    {{ include('::partials/form/target_message_age.html.twig') }}
                {% endblock %}
            {% endembed %}
        {% endif %}
		{% if form.offsetExists('beneficiaries') is not empty %}
            {% embed "::insurance/steps.html.twig" with {inactive: form.beneficiaries.vars.valid, step: 2 } %}
                {% block step_declaration %}Declaración de beneficiarios{% endblock %}
                {% block step_title %}Declaración de beneficiarios del seguro{% endblock %}
                {% block step_subtitle %}Completa los datos requeridos para ingresar tus beneficiarios al seguro{% endblock %}
                {% block step_attr %}ng-show="visible > 0"{% endblock %}
                {% block step_body_attr %}ng-show="visible > 0"{% endblock %}
                {% block step_body %}
                    {{ include('partials/form/beneficiaries.html.twig', {form: form.beneficiaries, template: product.formTemplate ,model_name: 'beneficiary'}) }}
                    <div class="box-aumento" ng-show="plan.cargasMax > 1">
                        <span class="texto">{% block add_beneficiarie %}Agregar{% endblock %}</span>
                        <span class="menos-carga" ng-click="lessBeneficiary()">-</span>
                        <span class="mas-carga" ng-click="moreBeneficiary()">+</span>
                    </div>
                {% endblock %}
                {% block footer_step %}
                    <p class="notas-importantes">Notas importantes:</p>
                    <p class="legal-form-dos">*En caso de fallecimiento del Asegurado Titular, se le entregara a cada beneficiario el % de capital indicado precedentemente. El o los benecifiarios deben ser distintos al asegurado.</p>
                    <p class="legal-form-dos">1) la Compañía calculará el monto reembolsable de cada uno de los documentos que acrediten el gasto cubierto por este seguro aplicándole los porcentajes de la tabla de coberturas de las condiciones particulares del seguro, a los montos efectivamente pagados por el asegurado, es decir, los gastos descontados, los reembolsos de Isapre / Fonasa y cualquier otro seguro. Si el total de los montos reembolsables es inferior a UF 100, no corresponderá reembolso alguno por parte de la Compañía. 2) Para los afiliados a Fonasa, este seguro reembolsará el 100% del copago de cada uno de los bonos presentados. Los gastos que sean rendidos con boletas o facturas (diferencias no cubiertas por Fonasa o prestaciones sin coberturas) serán reembolsados al 50% de</p>
                {% endblock %}
            {% endembed %}
        {% endif %}
{#% endif %#}
{{ include('::insurance/textoLegal.html.twig') }}
{% endblock %}
{% endembed %}
