{% embed "::insurance/details.html.twig" %}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('assets/js/controllers/oncologico.js') }}"></script>
    {% endblock %}

    {% block details_steps %}
        {% if product.hasPlan %}
            {% embed "::insurance/step_first.html.twig" with {inactive: false, step: 1} %}
                {% block step_first_header %}
                    {{ include('partials/plan_edad.html.twig', {plans: product.plans, price: product.price, form: form}) }}
                    {{ form_widget(form.plan, {attr: {style: 'display: none', 'ng-value': 'plan' }}) }}
                {% endblock %}
                {% block step_first_info %}
                    {% if product.hasPlanTargetCoverage %}
                        {{ include('partials/coverage_onco.html.twig', {product: product}) }}
                    {% endif %}
                    {{ include('::partials/form/target_message.html.twig') }}
                    {{ include('::partials/form/price_life.html.twig') }}
                
                {% endblock %}
                {% block step_first_message %}
                    {{ include('::partials/form/target_message_age.html.twig') }}
                {% endblock %}
            {% endembed %}
        {% endif %}
        
        {% if form.offsetExists('questions') is not empty %}
         {% embed "::insurance/steps.html.twig" with {inactive: form.vars.valid, step: 2, last: true} %}
            {% block step_declaration %}Declaración personal de Salud{% endblock %}
            {% block step_title %}{% endblock %}
            {% block step_attr %} ng-show="visible == 1"{% endblock %}
            {% block step_body_attr %} ng-show="visible == 1"{% endblock %}
            {% block step_body %}
                {{ include('partials/form/health_declaration_oncologico.html.twig', { form: form }) }}
            {% endblock %} 
        {% endembed %} 
        {% endif %}

        {% if form.offsetExists('questions') is not empty %}
         {% embed "::insurance/steps.html.twig" with {inactive: form.vars.valid, step: 3, last: true} %}
            {% block step_declaration %}Autorización especial de salud{% endblock %}
            {% block step_title %}{% endblock %}
            {% block step_attr %} ng-show="visible == 1"{% endblock %}
            {% block step_body_attr %} ng-show="visible == 1"{% endblock %}
            {% block step_body %}
                {{ include('partials/form/health_declaration_auth.html.twig', { form: form }) }}
            {% endblock %} 
        {% endembed %} 
        {% endif %}
        {{ include('::insurance/textoLegal.html.twig') }}
    {% endblock %}
{% endembed %}
