{% extends "::base.html.twig" %}

{% block title %}Pago - Paso 2{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/paso-2.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/css_familia/'~ (insurance.product.getMasterFamily | lower | trim | trim(' ') ) ~'.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/featherlight.css') }}" media="screen" charset="utf-8">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/featherlight.js') }}" charset="utf-8"></script>
    <script>
        $(document).ready(function () {
            //$('#appbundle_payment_paymentMethod').removeClass('error-acepto');
            //$('#appbundle_payment_paymentMethod').featherlight('', {});

            $('#aceptoCoberturas').featherlight('', {});
            $('a.button-solicitar.inline-block').click(function () {

                if ($('#appbundle_payment_paymentMethod').val() == null) {
                    $('#appbundle_payment_paymentMethod').addClass('error-acepto');
                    if ($('#appbundle_payment_coverageAndExclusions').is(':checked')) {
                        $('.acepto-marco').removeClass('error-acepto')
                    } else {
                        $('.acepto-marco').addClass('error-acepto')
                    }

                } else {
                    $('#appbundle_payment_paymentMethod').removeClass('error-acepto');
                    if ($('#appbundle_payment_coverageAndExclusions').is(':checked'))
                    {
                        $('.acepto-marco').removeClass('error-acepto')
                        $('#form').submit();
                        $('#mensajeespera').fadeIn(300);
                    } else
                    {
                        $('.acepto-marco').addClass('error-acepto')
                    }
                }
                //$('#mensajeespera').fadeIn(300); 
                //$('#form').submit();

            });

            $("#form").validate({
                success: function (label, element) {

                    $(element).parent().removeClass('error-acepto');
                },
                errorPlacement: function (error, element) {
                    $('#mensajeespera').fadeOut(300);
                    return true;
                },
                onfocusout: function (el, ev) {
                    return false;
                    /*if($(el).valid()){
                     $(el).parent().removeClass('error-acepto');
                     }*/
                },
                highlight: function (element, errorClass) {
                    $(element).parent().addClass('error-acepto');
                },
                unhighlight: function (element, errorClass) {
                    $(element).parent().removeClass('error-acepto');
                }
            });

        });
    </script>
{% endblock %}

{% block body %}
    {{ include('partials/details_header.html.twig', {step: 2, title: 'Solicitud de Seguro de ' ~ insurance.product.name, icon: 'img/family/' ~ insurance.family.icon }) }}
    {{ include('partials/steps_plan_header.html.twig', {insurance: insurance}) }}
    <div class="col-12">
        <div class="bkg-gray">
            <div class="row">
                <form method="POST" {{ form_enctype(form) }} id="form">
                    <div class="col-6 xs">
                        <h3>Forma de pago:</h3>
                        <div class="mytable cellpadding">
                            <div class="myrow">
                                <div class="mytd text-black">
                                    {% if product.codFrecPago is defined %}
                                        {% if product.codFrecPago == 1 %}
                                            {% set frecuencia = 'Mensual' %}
                                        {% elseif product.codFrecPago == 4 %}
                                            {% set frecuencia = 'Anual' %} 
                                        {% elseif product.codFrecPago == 5 %}
                                            {% set frecuencia = 'Único' %}                        
                                        {% endif %}
                                    {% endif %}
                                    {% if frecuencia is defined %} 
                                        <strong>Prima {{ frecuencia }}</strong>
                                    {% else %}   
                                        {% if insurance.product.codFrecPago==1%} {# prima mensual #}
                                            <strong>Prima Mensual:</strong>
                                        {% else %}
                                            {% if insurance.product.codFrecPago==4%} {# prima anual #}                                            
                                            <strong>Prima Anual:</strong>
                                            {% else %}
                                                {% if insurance.product.codFrecPago==5 %} {# prima Única #}
                                                    <strong>Prima Única:</strong>
                                                {% else %}
                                                    <strong>Prima:</strong>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}   
                                </div>
                                <div class="mytd">{{ insurance.price | monthly(uf.value) }} (UF {{ insurance.price | number_format(2, ',', '.') }})</div>
                            </div>
                            <div class="myrow">
                                <div class="mytd text-black"><strong>Medio de Pago:</strong></div>
                                <div class="mytd text-black">
                                    {{ form_widget(form.paymentMethod, {attr: { class: 'form-control' }}) }}
                                </div>
                            </div>
                            <div class="myrow">
                                <div class="mytd text-black"><strong>Día de cargo</strong></div>
                                <div class="mytd">
                                    {{ form_widget(form.paymentDay, {attr: { class: 'form-control' }}) }}
                                </div>
                            </div>
                        </div>
                        <div>

                        </div>
                    </div>
                    <div class="col-6 xs">
                        <h3>Mandato de pago:</h3>
                        <div class="overflow h110">
                            El presente mandato afecta al conjunto de pólizas y renovaciones contratadas con Zurich Santander Seguros de Vida Chile S.A. Durante la vigencia del mismo y autoriza a que las primas de dichas pólizas se paguen mediante la modalidad de PAT, es decir, el cargo se realizará en base a la autorización de descuento en tarjeta de crédito bancaria. El monto de la prima, su forma y modalidad de pago se encuentran insertas en las condiciones particulares de cada póliza. Asimismo, el presente mandato se podrá hacer efectivo para que el pago de las primas de dichas pólizas se pague mediante la modalidad de PAC, es decir, autorización de descuento en cuenta corriente. El monto de la prima, su forma y modalidad de pago, se encuentran insertos en las condiciones particulares de cada póliza. Conforme a lo anterior, por el presente instrumento otorgo un mandato mercantil al banco Santander-Chile, para cargar el valor de la prima de mi póliza de seguros contratadas con Zurich Santander Seguros de Vida Chile S.A. En cualquiera de mis cuentas corrientes y/o líneas de créditos, así como en cualquier tarjeta de crédito que se encuentre vigente en el banco. La duración de este mandato es por un plazo indefinido, sin perjuicio de que "el mandante" puede revocarlo en cualquier tiempo, notificando por escrito al banco con una anticipación mínima de 30 días corridos. Se deja constancia que este mandato se contrae directamente entre "el mandante" y el banco, quedando liberada "la compañía de cualquier responsabilidad, salvo en lo referido al suministro oportuno y correcto de la información del mandante al banco para los cobros respectivos, caso en el cual el banco quedará liberado de toda responsabilidad. El pago de la o las prima(s) deberá hacerse en la fecha señalada en la póliza respectiva a favor de Zurich Santander Seguros de Vida Chile S.A. En el evento de no disponer de fondos y/o crédito en la fecha señalada, autorizo al banco para debitar el valor de la prima convenida, tan pronto existan éstos disponibles, en cualquiera de las cuentas y medios de pago identificados con anterioridad. Faculto asimismo al banco para cargar en mi cuenta corriente, cuenta vista -, o en cualquier otra que el mandante mantuviera con el banco Santander Chile (incluyendo tarjetas de crédito), todos los gastos y comisiones que se generen en virtud de este mandato. El presente mandato no revoca y es complementario de otros anteriores conferidos al banco. El presente mandato podrá terminar por voluntad unilateral del banco, por cierre de la cuenta de cargo o de todas las cuentas corrientes, cuentas vistas que el contratante mantenga con el banco mandatario o por revocación por parte del cliente de los servicios señalados. Se entiende incorporadas al presente mandato todas las condiciones generales del uso del servicio de pago automático de cuentas a disposición del público en cada sucursal del banco señalado precedentemente. El Asegurado autoriza, en este acto, al Banco para que informe a la Compañía Aseguradora sobre sus datos personales de contacto, las actualizaciones y/o cualquier modificación de los mismos que él entregue u otorgue. Autoriza además a la Compañía a notificar a estas nuevas o diferentes direcciones informadas, ya sean físicas o electrónicas.
                        </div>
                        <div class="acepto-marco">
                            {{ form_widget(form.coverageAndExclusions, {attr: {class: 'form-control'}}) }}
                            <a href="#" id="aceptoCoberturas" class="more inline less" data-featherlight="#mylightbox">
                                Acepto las Coberturas y Exclusiones que se me han informado
                            </a>
                        </div>
                        <div id="mylightbox" class="hidden">
                            <h3>¿Qué cubre?</h3>
                            <p>
                                {{ insurance.coverage | raw}}
                            </p>
                            <hr>
                            <h3>¿Qué no cubre?</h3>
                            <p>
                                {{ insurance.coverageNot | raw}}
                            </p>
                        </div>
                        <hr>
                        {# <a href="{{ path_token('homepage_family') }}" class="more inline-block">Volver</a> #}
                        <a href="javascript:history.back(1)" class="more inline-block">Volver</a>
                        <a href="javascript:void(0)" class="button-solicitar inline-block">Contratar Seguro</a>
                        {{ form_rest(form) }}
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}
