{% extends "::base.html.twig" %}

{% block title %}Resumen - Paso 3{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/paso-3.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/css_familia/'~ (insurance.product.getMasterFamily | lower | trim | trim(' ') ) ~'.css') }}">
{% endblock %}

{% block body %}
    {{ include('partials/details_header.html.twig', {step: 3, title: 'Solicitud de Seguro de ' ~ insurance.product.name, icon: 'img/family/' ~ insurance.family.icon }) }}
    {{ include('partials/steps_plan_header.html.twig', {insurance: insurance}) }}
    <div class="col-12">
        <div class="bkg-gray">
            <div class="row">
                <div class="col-6 xs">
                    <h3>Comprobante:</h3>
                   <p>
            
                    {% if insurance.suscripcion == 1 %}
                    
                        Gracias, hemos recibido su solicitud de contratación de seguro y 
                        enviado un comprobante a su correo electrónico. Con las declaraciones efectuadas,
                        la companía de seguros evaluará la solicitud, y en el caso de ser aceptado el riesgo,
                        comenzará a regir la cobertura y le será enviada la póliza a su correo electrónico: {{ insurance.payer.addressEmail }}
                    
                    {% else %}
                        Gracias por contratar su Seguro de {{ insurance.product.name }}.
                        Le hemos enviado un comprobante a su email: {{ insurance.payer.addressEmail }}.
                        {% for insu in insurance.questions %}

                        {% if (insu.answer=="si") %}
                            y además recibirá su póliza de seguro en su domicilio.   
                        {% endif %}

                    {% endfor %}
                    {% endif %}
                 </p>
                </div>
                <div class="col-6 xs">
                    <h4>Transacción</h4>
                    <div class="mytable">
                        <div class="myrow">
                            <div class="mytd">Número:</div>
                            <div class="mytd"><strong>{{ "%s" | format(insurance.id) }}</strong></div>
                        </div>
                         {% if (proposal != null and proposal.solicitud != null) %}
                        <div class="myrow">
                            <div class="mytd">Solicitud:</div>
                            <div class="mytd"><strong>{{ "%s" | format(proposal.solicitud) }}</strong></div>
                        </div>
                        {% endif %}
                        <div class="myrow">
                            <div class="mytd">Fecha:</div>
                            <div class="mytd"><strong>{{ insurance.created | date('d/m/Y H:i') }}</strong></div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="col-6 xs">
                    <h4>Datos de pago:</h4>
                    <div class="mytable">
                        <div class="myrow">
                            <div class="mytd">Nombre:</div>
                            <div class="mytd">{{ insurance.payer.fullname }}</div>
                        </div>
                        <div class="myrow">
                            <div class="mytd">Rut:</div>
                            <div class="mytd">{{ insurance.payer.code }}</div>
                        </div>
                        <div class="myrow">
                            <div class="mytd">Fecha de nacimiento:</div>
                            <div class="mytd">{{ insurance.payer.birthday | date('d/m/Y') }}</div>
                        </div>
                        <div class="myrow">
                            <div class="mytd">Dirección:</div>
                            <div class="mytd">{{ insurance.payer.address }}</div>
                        </div>
                          <div class="myrow">
                            <div class="mytd">Ciudad:</div>
                            <div class="mytd">{{ insurance.payer.addressCity }}</div>
                        </div>
                          <div class="myrow">
                            <div class="mytd">Comuna:</div>
                            <div class="mytd">{{ insurance.payer.addressState }}</div>
                        </div>
                        <div class="myrow">
                            <div class="mytd">Teléfono:</div>
                            <div class="mytd">{{ insurance.payer.addressCellphone }}</div>
                        </div>
                        <div class="myrow">
                            <div class="mytd">E-mail:</div>
                            <div class="mytd">{{ insurance.payer.addressEmail }}</div>
                        </div>
                    </div>
                </div>
               
               
                

                {% if insurance.home %} 
                   <div class="col-6 xs">
                    <h4>Direccion Asegurada:</h4>
                    <div class="mytable">
                        <div class="myrow">
                            <div class="mytd">Direccion:</div>
                            <div class="mytd">{{ (insurance.home.Address) }} </div>
                        </div>
                        <div class="myrow">
                            <div class="mytd">Comuna:</div>
                            <div class="mytd">{{ insurance.home.AddressState }}</div>
                        </div>
                        <div class="myrow">
                            <div class="mytd">Ciudad:</div>
                            <div class="mytd">{{ insurance.home.AddressCity }}</div>
                        </div>
                    </div>
                </div>

                {% endif %}

                {% if insurance.beneficiaries %}
                    {% set titulo=0 %}
                     {% for beneficiary in insurance.beneficiaries %}
                     {% set titulo=1 %}
                     {% endfor %}
                      {% if titulo==1 %}
                      <div class="col-6 xs">
                          <h4>Beneficiarios:</h4>
                        {% endif %}
                       {% for beneficiary in insurance.beneficiaries %}
                        <div class="mytable">
                            <div class="myrow">
                                <div class="mytd">Nombre:</div>
                                <div class="mytd text-black">{{ beneficiary.name }} {{ beneficiary.lastname1 }} {{ beneficiary.lastname2 }}</div>
                            </div>
                            <div class="myrow">
                                <div class="mytd">Rut:</div>
                                <div class="mytd text-black">{{ beneficiary.code }}</div>
                            </div>
                            <div class="myrow">
                                <div class="mytd">Fecha de nacimiento:</div>
                                <div class="mytd text-black">{{ beneficiary.birthday | date('d/m/Y') }}</div>
                            </div>
                        </div>
                        <br>
                    {% endfor %}
                    {% if titulo==1 %}
                    </div>
                    {% endif %}
                {% endif %}
                {% if insurance.cargas %}
                {% set titulo=0 %}
                          {% for carga in insurance.cargas %}
                         {% set titulo=1 %}
                         {% endfor %}
                          {% if titulo==1 %}
                           <div class="col-6 xs">
                            <h4>Asegurados:</h4>
                            {% endif %}
                   
                           {% for carga in insurance.cargas %}
                            <div class="mytable">
                                <div class="myrow">
                                    <div class="mytd">Nombre:</div>
                                    <div class="mytd text-black">{{ carga.name }} {{carga.lastname1 }} {{ carga.lastname2 }}</div>
                                </div>
                                <div class="myrow">
                                    <div class="mytd">Rut:</div>
                                    <div class="mytd text-black">{{carga.code }}</div>
                                </div>
                                <div class="myrow">
                                    <div class="mytd">Fecha de nacimiento:</div>
                                    <div class="mytd text-black">{{ carga.birthday | date('d/m/Y') }}</div>
                                </div>
                            </div>
                        
                            <br>
                        {% endfor %}
                         {% if titulo==1 %}
                        </div>
                        {% endif %}

                {% endif %}
                {% if insurance.travelDate %}
                <div class="col-6 xs">
                    <h4>Datos de viaje:</h4>
                    <div class="mytable">
                        
                        <div class="myrow">
                            <div class="mytd">Fecha de Viaje:</div>
                            <div class="mytd">{{ insurance.travelDate}}</div>
                        </div>
                        
                    </div>
                </div>
                {% endif %}
               
                  {% if insurance.creditCard %}
                
                <div class="col-6 xs">
                    <h4>Datos de tarjeta asegurada:</h4>
                    <div class="mytable">
                        
                        <div class="myrow">
                            <div class="mytd">Número de tarjeta:</div>
                            <div class="mytd">{{ insurance.creditCard.name | upper }}*****{{ insurance.creditCard.cardNumber |slice(-4) }}</div>
                        </div>
                        
                    </div>
                </div>
                {% endif %}
                <div class="col-6 xs">
                    <h4>Formas de Pago:</h4>
                    <div class="mytable">
                        <div class="myrow">
                            <div class="mytd">Monto:</div>
                            <div class="mytd">${{ (insurance.price * uf.value) | number_format(0, ',', '.') }} (UF {{ insurance.price|number_format(2, ',', '.') }})</div>
                        </div>
                        <div class="myrow">
                            <div class="mytd">Medio de pago:</div>
                            <div class="mytd"> *****{{ insurance.paymentMethod|slice(-4) }}</div>
                        </div>
                        <div class="myrow">
                            <div class="mytd">Día de cargo:</div>
                            <div class="mytd">{{ insurance.paymentDay }}</div>
                        </div>
                    </div>
                </div>
                {% if insurance.product.seguroTerceros %}
                   {% if insurance.payer.code != insurance.insured.code %}
                    <div class="col-6 xs">
                        <h4>Datos de Asegurado:</h4>
                        <div class="mytable">
                            <div class="myrow">
                                <div class="mytd">Nombre:</div>
                                <div class="mytd">{{ insurance.insured.fullname }}</div>
                            </div>
                            <div class="myrow">
                                <div class="mytd">Rut:</div>
                                <div class="mytd">{{ insurance.insured.code }}</div>
                            </div>
                            <div class="myrow">
                                <div class="mytd">Fecha de nacimiento:</div>
                                <div class="mytd">{{ insurance.insured.birthday | date('d/m/Y') }}</div>
                            </div>
                            <div class="myrow">
                                <div class="mytd">Dirección:</div>
                                <div class="mytd">{{ insurance.insured.address }}</div>
                            </div>
                              <div class="myrow">
                                <div class="mytd">Ciudad:</div>
                                <div class="mytd">{{ insurance.insured.addressCity }}</div>
                            </div>
                              <div class="myrow">
                                <div class="mytd">Comuna:</div>
                                <div class="mytd">{{ insurance.insured.addressState }}</div>
                            </div>
                            <div class="myrow">
                                <div class="mytd">Teléfono:</div>
                                <div class="mytd">{{ insurance.insured.addressCellphone }}</div>
                            </div>
                            <div class="myrow">
                                <div class="mytd">E-mail:</div>
                                <div class="mytd">{{ insurance.insured.addressEmail }}</div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
                {% set salud = 0 %}
                {% set actividad = 0 %}
                {% set riesgo=0 %}
                {% if insurance.questions %}     
                    {% for insu in insurance.questions %}
                        {% if (insu.question=="Peso") or (insu.question=="estatura") or (insu.question=="Enfermedad") %}
                            {% set salud=1 %}
                        {% endif %}

                        {% if (insu.question=="Actividad Riesgo") or (insu.question=="Actividad Ejemplo") %}
                            {% set actividad=1 %}
                        {% endif %}

                        {% if (insu.question=="Deportes Riesgo") %}
                            {% set riesgo=1 %}
                        {% endif %}

                    {% endfor %}
                {% endif %}

                {% if salud==1 %}
                <div class="col-6 xs">
                    <h4>Declaración Personal de Salud:</h4>
                    <div class="mytable">
                            {% if insurance.questions %}                   
                                {% for insu in insurance.questions %}
                                {% if insu.question=="Peso" %}
                                    <div class="myrow">
                                        <div class="mytd">{{insu.question}}:</div>
                                        <div class="mytd">{{insu.answer}}</div>
                                    </div>
                                    {% endif %}
                                    {% if insu.question=="estatura" %}
                                    <div class="myrow" >
                                        <div class="mytd">{{insu.question}}:</div>
                                        <div class="mytd">{{insu.answer}}</div>
                                    </div>
                                    {% endif %}
                                    {% if insu.question=="Enfermedad" %}
                                    <div class="myrow">
                                        <div class="mytd">{{insu.question}}:</div>
                                        <div class="mytd">{{insu.answer}}</div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                    </div>
                </div>
                {% endif %}
                {% if actividad ==1 %}
                <div class="col-6 xs">
                <h4>Declaración Personal de Actividades:</h4>
                        <div class="mytable">
                            {% if insurance.questions %}                   
                                {% for insu in insurance.questions %}
                                    {% if insu.question=="Actividad Riesgo" %}
                                    <div class="myrow">
                                        <div class="mytd">{{insu.question}}:</div>
                                        <div class="mytd">{{insu.answer}}</div>
                                    </div>
                                    {% endif %}
                                    {% if insu.question=="Actividad Ejemplo" %}
                                    <div class="myrow">
                                        <div class="mytd">{{insu.question}}:</div>
                                        <div class="mytd">{{insu.answer}}</div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                </div>
                {% endif %}
                {% if riesgo==1 %}
                <div class="col-6 xs">
                    <h4>Declaración Personal de Deportes:</h4>
                        <div class="mytable">
                            {% if insurance.questions %}                   
                                {% for insu in insurance.questions %}
                                    {% if insu.question=="Deportes Riesgo" %}
                                    <div class="myrow">
                                        <div class="mytd">{{insu.question}}:</div>
                                        <div class="mytd">{{insu.answer}}</div>
                                    </div>
                                    {% endif %}
                                {% endfor %}     
                            {% endif %}
                        </div>
                </div>
                {% endif %}
            </div>
            <br>
            <div class="col-12">
                <div class="row">
                    <div class="col-6 xs">
                        <div class="mytable">
                            <div class="myrow">
                                <div class="mytd">
                                    <a href="javascript:window.print();" class="button-solicitar ">Imprimir</a>
                                </div>
                                <div class="mytd">
                                    {% if planificador==''%}
                                        {% if themedisplay == 'mobile' %}
                                            <a href="{{ path_token('homepage_family') }}{{ '?theme=mobile' }}" class="more">Volver al Inicio</a>
                                        {% else %}
                                            <a href="{{ path_token('homepage_family') }}" class="more">Volver al Inicio</a>
                                        {% endif %}
                                    {% else %}
                                        {% if themedisplay == 'mobile' %}
                                            <a href="{{ path_token('front_resultados') }}{{ '?theme=mobile' }}" class="more">Finalizar</a>
                                        {% else %}
                                            <a href="{{ path_token('front_resultados') }}" class="more">Finalizar</a>
                                        {% endif %}
                                    {% endif %}
                                   
                                </div>
                            </div>
                            {% if planificador!=''%}
                                {% set classnew='' %}
                                {% if continuar==false %}
                                    {% set classnew='onlyBack' %}
                                {% endif %}
                                <form  action="{{ app.request.requestUri }}" method="post"  novalidate>
                                    <div class="myrow {{ classnew }}">
                                        {% if continuar==true %}
                                            <div class="mytd">
                                                <button class="button-asesor" name="continuarOtro" type="submit">
                                                    Continuar
                                                </button>
                                            </div>
                                        {% endif %}
                                        <div class="mytd">
                                            <button class="button-asesor btnBack fRight" name="volver" type="submit">
                                                Volver
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6 xs">
                        <div class="mytable">
                            <div class="myrow">
                                <div class="mytd">
                                    <img   width="60%" heigth="40%" src="{{asset('assets/img/icons/santander_seguro.png') }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <p class="small">(1) El proponente asegurado autoriza que las comunicaciones o notificaciones que la compañía de seguro o el Banco Santander Chile envíen o deban enviar en razón de la póliza, se dirijan al correo electrónico indicado, así como a cualquier otra dirección de contacto que él hubiese entregado a dicho banco. Además a este email te enviaremos el comprobante e información del seguro.</p>
    </div>
{% endblock %}
