<a name="next{{ step }}" style="visibility: hidden"></a>
{% block step_first_header %}{% endblock %}
<div class="info-declaracion bkg-gray{% if inactive == true %} hidden{% endif %}" {% block step_body_attr %}{% endblock %} id="step1" ng-show="step_first">
    <div class="row">
        <div class="col-6 xs">
            {% block step_first_info %}{% endblock %}
        </div>
        {{ include('partials/form/insured.html.twig', {form: form}) }}
        {% block step_first_question %}{% endblock %}
    </div>
    
    <div class="info-footer">
        <div class="box-btn-right clearfix">
            {% if origen == 1 %}
                <a href="{{ path_token('front_resultados') }}" class="btn-volver-declaracion">Volver</a>
            {% else %}
                <a href="javascript:history.back(1)" class="btn-volver-declaracion">Volver</a>
            {% endif %}
                {% block step_button_next %}
                <button id="ver" type="button" ng-show="submit != {{step}}" ng-click="visible = 1" class="btn-continuar" data-next="{{ (step+1) }}" data-step="{{ step }}">Continuar</button>
                <button id="ver2" type="submit" ng-show="submit == {{step}}" ng-click="visible = 1" class="btn-continuar" data-next="{{ (step+1) }}" data-step="{{ step }}">Continuar</button>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        {% block step_first_message %}{% endblock %}
        {{ include('::partials/form/message_auth_email.html.twig') }}
    </div>
</div>
<div class="box-declaracion selected_plan hidden">
    <div class="tit-declaracion" id="next{{ step }}" data-step="{{ step }}">
        <p>Selección de plan</p>
    </div>
</div>
