<a name="next{{ step }}" style="visibility: hidden"></a>
<div class="box-declaracion" id="box-declaracion" style='display:none;' {% block step_attr %}{% endblock %}>
    <div class="tit-declaracion{% if inactive == false %} active{% endif %}" id="next{{ step }}" data-step="{{ step }}">
        <p>{% block step_declaration %}{% endblock %}</p>
    </div>
</div>
<div class="info-declaracion {% if inactive == true %} hidden{% endif %}" style='display:none;' id="info-declaracion" {% block step_body_attr %}{% endblock %}>
    <p class="titulo">{% block step_title %}{% endblock %}</p>
    <p class="subtitulo">{% block step_subtitle %}{% endblock %}</p>
    {% block step_body %}{% endblock %}
    <div class="info-footer">
        {% block step_footer %}{% endblock %}
        <div class="box-btn-right clearfix">
            <div id="{{step}}" class="btn-volver-declaracion" data-next="{{ (step-1) }}" data-step="{{ step }}" ng-click="volver({{step}},{{step-1}})">Volver</div>
            {% block step_button_next %}
                <button type="button" ng-show="submit != {{step}}"  class="btn-continuar" data-next="{{ (step+1) }}" data-step="{{ step }}" ng-click="capital()">Continuar</button>
                <button type="submit" ng-show="submit == {{step}}"  class="btn-continuar" data-next="{{ (step+1) }}" data-step="{{ step }}" ng-click="capital()">Continuar</button>
            {% endblock %}
        </div>
    </div>
</div>
