{% embed "::insurance/details.html.twig" %}
	{% block javascripts %}
		{{ parent() }}
        <script type="text/javascript">
	        var relationships = {{ relationships | json_encode | raw }};
        </script>
        <script src="{{ asset('assets/js/controllers/travels.js') }}"></script>
    {% endblock %}
    {% block details_steps %}
        {% if product.hasPlan %}
			{% embed "::insurance/step_first.html.twig" with {inactive: false, step: 1} %}
				{% block step_first_header %}
					{{ include('partials/plan.html.twig', {plans: product.plans, price: product.price, form: form}) }}
					{{ form_widget(form.plan, {attr: {style: 'display: none', 'ng-value': 'plan' }}) }}
				{% endblock %}
				{% block step_first_info %}
					{% if product.hasCoverages %}
						{{ include('partials/coverages.html.twig', {product: product}) }}
					{% endif %}
					<div class="mytable cellpadding box-coberturas" ng-show="plan.cargasMax > 0">
                        <div class="myrow">
                            <div class="mytd cobertura-item titulo">Cantidad de asegurados</div>
                        </div>
                        {% embed "::partials/form/more_beneficiaries_travel.html.twig" %}
                        {% endembed %}
                    </div>
					{% embed "partials/form/price_travel.html.twig" %}
                        {% block price_title %}Valor prima anual:{% endblock %}
                    {% endembed %}
				{% endblock %}
			{% endembed %}
        {% endif %}
        
        {% if form.offsetExists('cargas') is not empty %}
            {% embed "::insurance/steps.html.twig" with {inactive: form.cargas.vars.valid, step: 2} %}
                {% block step_declaration %}Declaración de asegurados{% endblock %}
                {% block step_title %}Declaración de asegurados{% endblock %}
                {% block step_subtitle %}Completa los datos requeridos para ingresar sus asegurados{% endblock %}
                {% block step_attr %}ng-show="visible == 1"{% endblock %}
                {% block step_body_attr %}{% endblock %}
                {% block step_body %}
                    {{ include('partials/form/notice_beneficiaries.html.twig') }}
                    {{ include('partials/form/cargas.html.twig', {form: form.cargas}) }}
                    <div class="text-right">
                  		{{ include("partials/form/more_beneficiaries_travel.html.twig") }}
					</div>
                    <hr>
					{% embed "partials/form/price_travel.html.twig" %}
                        {% block price_title %}Valor prima anual:{% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
        {% endif %}
      {{ include('::insurance/textoLegal.html.twig') }}

    {% endblock %}
{% endembed %}
