{% embed "::insurance/details.html.twig" %}
    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript">
            var relationships = {{ relationships |json_encode | raw }};
        </script>
        <script src="{{ asset('assets/js/controllers/urgencias_medicas.js') }}"></script>
    {% endblock %}

    {% block details_steps %}
        {% if product.hasPlan %}
            {% embed "::insurance/step_first.html.twig" with {inactive: false, step: 1} %}
                {% block step_first_header %}
                  {% for error in formErrors %}
                {# <div class="box-explains" id='target-message'>{{ error }} </div> #}
              {% endfor %}
                    {{ include('partials/plan.html.twig', {plans: product.plans, price: product.price, form: form}) }}
                    {{ form_widget(form.plan, {attr: {style: 'display: none', 'ng-value': 'plan' }}) }}
                {% endblock %}
                {% block step_first_info %}
                    {% if product.hasCoverages %}
                       {% embed "::partials/coverages.html.twig" with {product: product} %}{% endembed %}
                    {% endif %}
                    {{ include('::partials/form/price_catastrofico.html.twig') }}
                    {% embed "::partials/form/more_beneficiaries.html.twig" %}
                        {% block more_beneficiaries_question %}
                            ¿Desea incluir beneficiarios para el pago del capital por fallecimiento?
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
        {% endif %}
               
        {% if form.offsetExists('beneficiaries') is not empty %} 
            {% embed "::insurance/steps.html.twig" with {inactive: form.beneficiaries.vars.valid, step: 2} %}
                {% block step_declaration %}Declaración de beneficiarios{% endblock %}
                {% block step_title %}Declaración de beneficiarios por cobertura muerte accidental{% endblock %}
                {% block step_attr %}ng-show="visible > 0"{% endblock %}
                {% block step_body_attr %}ng-show="visible > 0"{% endblock %}
                {% block step_body %}
                    {{ include('partials/form/beneficiaries.html.twig', {form: form.beneficiaries}) }}
                    <div class="box-aumento" ng-show="plan.cargasMax > 1">
                        <span class="texto">{% block add_beneficiarie %}Agregar/quitar otro beneficiario{% endblock %}</span>
                        <span class="menos-carga" ng-click="lessBeneficiary()">-</span>
                        <span class="mas-carga" ng-click="moreBeneficiary()">+</span>
                    </div>
                    {% embed "::partials/form/price_catastrofico.html.twig" %}
                        {% block price_beneficiaries_title %}
                            La prima mensual con tus asegurados adicionales es:
                        {% endblock %}
                    {% endembed %}
                {% endblock %}
                {% block footer_step %}
                    <p class="legal-form-dos">
                        1) la Compañía calculará el monto reembolsable de cada uno de los documentos que acrediten el gasto cubierto por este seguro aplicándole los porcentajes de la tabla de coberturas de las condiciones particulares del seguro, a los montos efectivamente pagados por el asegurado, es decir, los gastos descontados, los reembolsos de Isapre / Fonasa y cualquier otro seguro. Si el total de los montos reembolsables es inferior a UF 100, no corresponderá reembolso alguno por parte de la Compañía. 2) Para los afiliados a Fonasa, este seguro reembolsará el 100% del copago de cada uno de los bonos presentados. Los gastos que sean rendidos con boletas o facturas (diferencias no cubiertas por Fonasa o prestaciones sin coberturas) serán reembolsados al 50% de
                    </p>
                {% endblock %}
            {% endembed %}
         {% endif %}
        
        
        {#{% if form.offsetExists('questions') is not empty %}
         {% embed "::insurance/steps.html.twig" with {inactive: form.vars.valid, step: 3, last: true} %}
            {% block step_declaration %}Declaración personal de actividades{% endblock %}
            {% block step_title %}{% endblock %}
            {% block step_attr %} ng-show="visible == 1"{% endblock %}
            {% block step_body_attr %} ng-show="visible == 1"{% endblock %}
            {% block step_body %}
                {{ include('partials/form/urgencia_declaration.html.twig', { form: form }) }}
            {% endblock %} 
        {% endembed %} 
        {% endif %}

        {% if form.offsetExists('questions') is not empty %}
         {% embed "::insurance/steps.html.twig" with {inactive: form.vars.valid, step: 4, last: true} %}
            {% block step_declaration %}Autorización especial de salud{% endblock %}
            {% block step_title %}{% endblock %}
            {% block step_attr %} ng-show="visible == 1"{% endblock %}
            {% block step_body_attr %} ng-show="visible == 1"{% endblock %}
            {% block step_body %}
                {{ include('partials/form/health_declaration_auth.html.twig', { form: form }) }}
            {% endblock %} 
        {% endembed %} 
        {% endif %}#}
    
    {{ include('::insurance/textoLegal.html.twig') }}
    {% endblock %}
{% endembed %}
