{% embed "::insurance/details.html.twig" %}
	{% block javascripts %}
		{{ parent() }}
        <script type="text/javascript">
	        var relationships = {{ relationships |json_encode | raw }};
        </script>
        <script src="{{ asset('assets/js/controllers/vacaciones.js') }}"></script>
    {% endblock %}
    {% block details_steps %}
        {% if product.hasPlan %}
			{% embed "::insurance/step_first.html.twig" with {inactive: false, step: 1} %}
				{% block step_first_header %}
					{{ include('partials/plan.html.twig', {plans: product.plans, price: product.price, form: form}) }}
					{{ form_widget(form.plan, {attr: {style: 'display: none', 'ng-value': 'plan' }}) }}
				{% endblock %}
				{% block step_first_info %}
					{% if product.hasCoverages %}
					   {% embed "::partials/coverages_vacas.html.twig" with {product: product} %}
					   {% endembed %}
					{% endif %}
					<div class="mytable cellpadding box-coberturas">
						<div class="myrow">
							<div class="mytd cobertura-item titulo">Cantidad de asegurados</div>
						</div>
						<div class="myrow">
							<div class="mytd text-black cobertura-item"><input id='1' type="radio" class="cant-asegurados cargas" ng-click="setCargas(0,0)" load-first name="cant-asegurados" checked>Plan individual (Titular)</div>
						</div>
						<div class="myrow">
							<div class="mytd text-black cobertura-item"><input type="radio" class="cant-asegurados cargas" ng-click="setCargas(1,1)" name="cant-asegurados">Plan para dos (Titular + 1 asegurado)</div>
						</div>
						<div class="myrow">
							<div class="mytd text-black cobertura-item"><input type="radio" class="cant-asegurados cargas" ng-click="setCargas(2,4)" name="cant-asegurados">Plan familiar (Titular hasta 4 asegurados)</div>
						</div>
					</div>
					<div class="box-calendario mytable">
						<div class="myrow">
							<div class="mytd">
								<span class="tit-datepicker">Fecha Viaje</span>
								{{ form_widget(form.travelDate, {attr: {
									'class': 'datepicker',
									'data-days' : '{{ rangoDias }}'
								}}) }}
							</div>
							<div class="mytd">
								<span class="tit-datepicker">Fin Cobertura</span>
								<div class="datepicker">
									<p class="datepick"></p>
								</div>
							</div>
						</div>
					</div>
					{% embed "partials/form/price_vacaciones.html.twig" %}
                        {% block price_title %}Valor prima:{% endblock %}
                    {% endembed %}
				{% endblock %}
				{% block step_first_question %}
					<div class="fix_certificado">
						<div class="box-certificado">
							<p>¿Quieres que te enviemos el certificado a tu domicilio?</p>
							<label for="si-certificado">
								<input type="radio" ng-model="sendCertificate" value="si" onclick="$('.regular-input.w60p.sendCertificate').val('si');">Si
							</label>
							<label for="no-certificado">
								<input type="radio" ng-model="sendCertificate" value="no" onclick="$('.regular-input.w60p.sendCertificate').val('no');"  ng-checked="true">No
							</label>
							{{ form_widget(form.questions.sendCertificate.answer, {attr: {class: 'regular-input w60p sendCertificate', 'ng-show': true}}) }}
							{{ form_widget(form.questions.sendCertificate.question) }}
						</div>
					</div>
				{% endblock %}
			{% endembed %}
        {% endif %}
       
		
        {% if form.offsetExists('cargas') is not empty %}
            {% embed "::insurance/steps.html.twig" with {inactive: form.cargas.vars.valid, step: 2} %}
                {% block step_declaration %}Declaración de asegurados{% endblock %}
                {% block step_title %}Declaración de asegurados{% endblock %}
                {% block step_subtitle %}Completa los datos requeridos para ingresar sus asegurados{% endblock %}
                {% block step_attr %}ng-show="visible == 1"{% endblock %}
                {% block step_body_attr %}ng-show="beneficiaries.length > 0"{% endblock %}
                {% block step_body %}
					<div class="box-row">
                    	{{ include('partials/form/cargas.html.twig', {form: form.cargas}) }}
					</div>
					<div class="text-right">
                  		{{ include("partials/form/more_beneficiaries_travel.html.twig") }}
					</div>
                    <hr>
					{% embed "partials/form/price_vacaciones.html.twig" %}
                        {% block price_title %}Valor prima anual:{% endblock %}
                    {% endembed %}
                {% endblock %}
            {% endembed %}
        {% endif %}
	 {{ include('::insurance/textoLegal.html.twig') }}
    {% endblock %}
{% endembed %}
