<div>
    <ul class="icons-buttons owl-carousel" id="sync2">
        {% for family in families %}
            {% if family.products | length > 0 %}
                <li class=" icon-button {{ family.name | lower }} item">
                    <a  href="#" data-href="{{ path_token('homepage_family', { theme: 'mobile', p: family.name | lower  }) }}">
                        <img src="{{ asset('img/family/' ~ family.icon) }}" alt="">
                        <span>{{ family.name }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>


{# 
<div id="sync2" class="owl-carousel">
    <div class="item"><h1>1</h1></div>
    <div class="item"><h1>2</h1></div>
    <div class="item"><h1>3</h1></div>
    <div class="item"><h1>4</h1></div>
    <div class="item"><h1>5</h1></div>
    <div class="item"><h1>6</h1></div>
</div>
#}