<!-- imagenes-->
<div id="main-icons">
    <ul class="icons-buttons">
        {% for family in families %}
            {% if family.products | length > 0 %}
                <li class="main-icon-button {{ family.name | replace(' ', '-') | lower }}">
                    <a href="#" data-href="{{ path_token('homepage_family', { theme: 'mobile', p: family.name | lower  }) }}#{{ family.name | lower }}" data-target="{{ family.name | replace(' ', '-') | lower }}" class="family">
                        <img src="{{ asset('img/family/' ~ family.icon) }}" alt="">
                        <span>{{ family.name }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>

<div class="combo-box">
    <div class="option">Selecciona</div>
    <ul class="icons-buttons">
        {% for family in families %}
            {% if family.products | length > 0 %}
                <li class="icon-button {{ family.name | replace(' ', '-') | lower }}">
                    <a href="#" data-href="{{ path_token('homepage_family', { theme: 'mobile', p: family.name | lower  }) }}#{{ family.name | lower }}" data-target="{{ family.name | replace(' ', '-') | lower }}" class="family">
                        <img src="{{ asset('img/family/' ~ family.icon) }}" alt="">
                        <span>{{ family.name }}</span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
