{% extends "::base.html.twig" %}

{% block title %}Familias{% endblock %}

{% block stylesheets %}
    {{ parent() }}
   
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
{% if app.user.segment.banners | length > 0 %}
    {{ include('partials/banner.html.twig', { banner: app.user.segment.banners }) }}

{% endif %}
<div class="col-12 wrapper" id="grancarrusel">
    {{ include('family/family_select.html.twig', { 'families': families }) }}
    <div id="sync1" class="owl-carousel">
        {% for family in families %}
            {% if family.products | length > 0 %}
                <div class="item">
                    <div class="carousel-wrapper">
                    <div class="jcarousel">
                    <ul>
                    {% for product in family.products  %} 
                        {{ include('family/product.html.twig', { 'product': product, 'uf': uf ,'val': family.name , 'url': product.redirectUrl }) }}
                     {% endfor %} 
                    </ul>
                    </div>
                    <a href="#" class="jcarousel-control-prev">&lsaquo;</a>
                            <a href="#" class="jcarousel-control-next">&rsaquo;</a>

                            <p class="jcarousel-pagination"></p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {#<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
    <a href="#" class="jcarousel-control-next">&rsaquo;</a>
    <p class="jcarousel-pagination"></p>#}
    <p class="col-12" align="center">
        Intermedia Santander Corredora de Seguros Ltda.
    </p>
</div>
{% endblock %}
