{% extends "::base.html.twig" %}

{% block title %}Familias{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/familia.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/funciones-familia.js') }}"></script>
    <script>
        $(function(){
            var getParam = getQueryVariable("p");

            if (getParam){
                $('.combo-box .option').empty().append('<img src="{{ asset('/img/family/') }}'+getParam.toLowerCase()+'.png" alt=""><span>'+getParam+'</span>');
                $('body').find('#'+getParam).show();
            }            
        });
    </script>
{% endblock %} 

{% block body %}
<div class="col-12">
    <p class="text-center"><strong>¿Qué tipo de seguro está buscando?</strong></p>
</div>
<div class="col-12">
    {{ include('family/family_selectMobile.html.twig', { 'families': families }) }}
    <div id="fam-info">
        {% for family in families %}
            {% if family.products | length > 0 %}
                <div id="{{ family.name | replace(' ', '-') | lower }}" class="hidden">
                    <div class="accordeon" class="owl-carousel">

                        <div class="own-carousel {{ family.name | replace(' ', '-') | lower }}">
                            {% for product in family.products %}

                                {{ include('family/productMobile.html.twig', { 'product': product, 'uf': uf, 'families': families, 'url': product.redirectUrlMobile }) }}                   
                            
                            {% endfor %}
                        </div>                    
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
