<!-- productos --->
<div class="item-own">
    <div class="inner-item-own">
        <div class="header-own">
            <h6>{{ product.name }} </h6>
            <p ng-if="{{product.family != 'Autos'}} ">
                {% if product.codFrecPago is defined %}
                    {% if product.codFrecPago == 1 %}
                        {% set frecuencia = 'mensual' %}
                    {% elseif product.codFrecPago == 4 %}
                        {% set frecuencia = 'anual' %} 
                    {% elseif product.codFrecPago == 5 %}
                        {% set frecuencia = 'único' %}                        
                    {% endif %}
                {% endif %}
                <span>{% if product.price>0 %} Desde {{ product.price | monthly(uf.value) }}{% if frecuencia is defined %}/pago {{ frecuencia }} *{% endif %}</span> 
                ({{ product.price | number_format(2, ',', '.')}} UF) {% endif %}
            </p>
        </div>
        <div class="content-own">
            <div class="marketing-text">
                {{ product.marketingText | raw }}
            </div>
        
    
    
        {% if product.isFraud %}
            {% if product.permiteCotizar==true %}
                <a href="{{ path_token('fraud_insurance', {id: product.id}) }}" class="button-solicitar segmento">Cotizar</a>
                <a href="{{ path_token('show_product', {product_id: product.id}) }}" class="more">Más información</a>
            {% else %}
                <a href="{{ path_token('show_product', {product_id: product.id}) }}" class="button-solicitar segmento">Cotizar</a>
                <a href="{{ path_token('show_product', {product_id: product.id}) }}" class="more">Más información</a>
            {% endif %}
        {% elseif product.redirectUrlMobile | length > 0 %}
            {% if product.permiteCotizar==true %}
                    <a target="_blank" href="{{ product.redirectUrlMobile }}" class="button-solicitar segmento">Cotizar</a>
                    <a target="_blank" href="{{ product.redirectUrlMobile }}" class="more">Más información</a>
            {% else %}
                    <a target="_blank" href="{{ product.redirectUrlMobile }}" class="button-solicitar segmento">Cotizar</a>
                    <a target="_blank" href="{{ product.redirectUrlMobile }}" class="more">Más información</a>
            {% endif %}
        {% else %}
            {% if product.permiteCotizar==true %}
                <a href="{{ path_token('details_insurance', {id: product.id}) }}" class="button-solicitar segmento">Cotizar</a>
                <a href="{{ path_token('show_product', {product_id: product.id}) }}" class="more">Más información</a>
            {% else %}
                <a href="{{ path_token('show_product', {product_id: product.id}) }}" class="button-solicitar segmento">Cotizar</a>
                <a href="{{ path_token('show_product', {product_id: product.id}) }}" class="more">Más información</a>
            {% endif %}
        {% endif %}
        </div>
    </div>

</div>

