.mod-align {
    &_right {
        text-align: right;
    }
}

._align-text {
    &__right {
        text-align: right;
    }
    &__justify {
        text-align: justify;
    }
}

._align__verticle {
    vertical-align: 50%;
}
