$btnRed:#ec0000;
$btnText: #ffffff; 
/*
* Refactor
*/
.mod-btn {
    background-color: transparent;
    background-image: none;
    border: none;
    height: 36px;
    border-radius: 100px;
    &_margin {
        margin: 16px auto;
    }
    &_link {
        color: $btnRed;
        @include textSemiBold();
    }
    &_primary {
        background: $btnRed;
        color: $btnText;
        padding: 8px 24px;
       
    }

    &_summary {
        background: $btnRed;
        color: $btnText;
        padding: 10px 24px;
        width: 100%;
        display: block;
        text-transform: uppercase;
        height: auto;
    }

    &_back {
        color: #333;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            color: #333;
            text-decoration: none;
        }
    }
}

._button {
    background-color: transparent;
    background-image: none;
    border: none;
    height: 36px;
    border-radius: 100px;
    &__margin {
        margin: 16px auto;
    }
    &__link {
        color: $btnRed;
        @include textSemiBold();
    }
    &__primary {
        background: $btnRed;
        color: $btnText;
        padding: 8px 24px;
    }
    &__back {
        color: #333;
    }
    &__small {
        width: 80px;
        height: 25px;
        font-size: 12px;
    }
    &__outline {
        border: solid 1px $btnRed;
        color: $btnRed;
    }

    &__beneficiary {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
        &> * {
            pointer-events: none;
        }
    }
}