@import "../../../../node_modules/sass-google-fonts/src/GoogleFonts.scss";
@include google-font( 'Open Sans', '300,400,bold,600' );
$font-path: '/dist/fonts';
$name: 'santander-seguros-completo';
$name-icon:  'santander-icons';

@font-face {
  font-family: $name;
  src:  url('#{$font-path}/#{$name}.eot?jogatb');
  src:  url('#{$font-path}/#{$name}.eot?jogatb#iefix') format('embedded-opentype'),
    url('#{$font-path}/#{$name}.ttf?jogatb') format('truetype'),
    url('#{$font-path}/#{$name}.woff?jogatb') format('woff'),
    url('#{$font-path}/#{$name}.svg?jogatb#santander-seguros-completo') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: $name-icon;
  src:  url('#{$font-path}/#{$name-icon}.eot?jogatb');
  src:  url('#{$font-path}/#{$name-icon}.eot?jogatb#iefix') format('embedded-opentype'),
    url('#{$font-path}/#{$name-icon}.ttf?jogatb') format('truetype'),
    url('#{$font-path}/#{$name-icon}.woff?jogatb') format('woff'),
    url('#{$font-path}/#{$name-icon}.svg?jogatb#santander-seguros-completo') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin bodyStyle{
    background-color: #f0f0f0;
}

@mixin bodyText {
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-stretch: normal; 
    letter-spacing: normal;
    line-height: 20px;
    color: #444444;
    -webkit-font-smoothing: antialiased;
}

@mixin textNormal { font-weight: normal; }
@mixin textBold { font-weight: bold; }
@mixin textSemiBold { font-weight: 600; }

$errorColor:#ec0000;
$colorRed:#ec0000;
$colorGreen: #adc000;
$colorLightBlue: #1bb3bc;

p {
  margin: 0px;
}