.iconbase {
    border-radius: 25px;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #1bb3bc;
    color: #fff;
    padding: 5px;
    padding-top: 5px;
    padding-left: 7px;
    font-size: 0.7rem;
}

.iconCheckbox {
    position:absolute;
    border-radius: 25px;
    display: block;
    background-color: #fff;
    color: #1bb3bc;
    padding: 5px;
    font-size: 1rem;
}

._icons {
  border-radius: 25px;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  padding-top: 5px;
  padding-left: 7px;
  font-size: 0.7rem;
  &__warning {
    background: #e59d27;
    color: #ffffff;
  }
}

.icon-color {
  &__green:before {
    color: $colorGreen;
    font-weight: bold;
  }
  &__green::before {
    color: $colorGreen;
    font-weight: bold;
  }
  &__red:before {
    color: #ec0000;
  }
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $name !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-legos"], [class*="icon-legos"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: $name-icon !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon {
  &__medium {
    font-size: 24px;
  }
}

.icon-legos-family:before {
  content: "\e800";
}

.icon-legos-disability:before {
  content: "\e803";
}

.icon-legos-dental:before {
  content: "\e801";
}


.icon-legos-health:before {
  content: "\e802";
}

.icon-legos-edit:before {
  content: "\e805";
}

.icon-legos-delete:before {
  content: "\e804";
}

.icon-comment:before {
  content: "\e900";
}
.icon-comment-o:before {
  content: "\e901";
}
.icon-share:before {
  content: "\e902";
}
.icon-share-o:before {
  content: "\e903";
}
.icon-rss:before {
  content: "\e904";
}
.icon-rss-o:before {
  content: "\e905";
}
.icon-wifi:before {
  content: "\e906";
}
.icon-wifi-o:before {
  content: "\e907";
}
.icon-bluetooth:before {
  content: "\e908";
}
.icon-bluetooth-o:before {
  content: "\e909";
}
.icon-lightbulb:before {
  content: "\e90a";
}
.icon-lightbulb-o:before {
  content: "\e90b";
}
.icon-key:before {
  content: "\e90c";
}
.icon-key-o:before {
  content: "\e90d";
}
.icon-lock:before {
  content: "\e90e";
}
.icon-lock-o:before {
  content: "\e90f";
}
.icon-thumbs-up:before {
  content: "\e910";
}
.icon-thumbs-up-o:before {
  content: "\e911";
}
.icon-thumbs-down:before {
  content: "\e912";
}
.icon-thumbs-down-o:before {
  content: "\e913";
}
.icon-index-up:before {
  content: "\e914";
}
.icon-index-up-o:before {
  content: "\e915";
}
.icon-mouse:before {
  content: "\e916";
}
.icon-mouse-o:before {
  content: "\e917";
}
.icon-video:before {
  content: "\e918";
}
.icon-video-o:before {
  content: "\e919";
}
.icon-alarm-clock:before {
  content: "\e91a";
}
.icon-alarm-clock-o:before {
  content: "\e91b";
}
.icon-timer:before {
  content: "\e91c";
}
.icon-timer-o:before {
  content: "\e91d";
}
.icon-clock:before {
  content: "\e91e";
}
.icon-clock-o:before {
  content: "\e91f";
}
.icon-phone:before {
  content: "\e920";
}
.icon-phone-o:before {
  content: "\e921";
}
.icon-smartphone:before {
  content: "\e922";
}
.icon-smartphone-o:before {
  content: "\e923";
}
.icon-smartphone-msg:before {
  content: "\e924";
}
.icon-smartphone-msg-o:before {
  content: "\e925";
}
.icon-tablet:before {
  content: "\e926";
}
.icon-tablet-o:before {
  content: "\e927";
}
.icon-tablet-profile:before {
  content: "\e928";
}
.icon-tablet-profile-o:before {
  content: "\e929";
}
.icon-tablet-hand-tap:before {
  content: "\e92a";
}
.icon-tablet-hand-tap-o:before {
  content: "\e92b";
}
.icon-tv:before {
  content: "\e92c";
}
.icon-tv-o:before {
  content: "\e92d";
}
.icon-laptop-web:before {
  content: "\e92e";
}
.icon-laptop-web-o:before {
  content: "\e92f";
}
.icon-laptop-e-commerce:before {
  content: "\e930";
}
.icon-laptop-e-commerce-o:before {
  content: "\e931";
}
.icon-laptop-lock:before {
  content: "\e932";
}
.icon-laptop-lock-o:before {
  content: "\e933";
}
.icon-whatsapp:before {
  content: "\e934";
}
.icon-instagram:before {
  content: "\e935";
}
.icon-facebook:before {
  content: "\e936";
}
.icon-twitter:before {
  content: "\e937";
}
.icon-youtube:before {
  content: "\e938";
}
.icon-linkedin:before {
  content: "\e939";
}
.icon-skype:before {
  content: "\e93a";
}
.icon-android:before {
  content: "\e93b";
}
.icon-apple:before {
  content: "\e93c";
}
.icon-home:before {
  content: "\e93d";
}
.icon-home-o:before {
  content: "\e93e";
}
.icon-user-o:before {
  content: "\e93f";
}
.icon-hambuger-menu:before {
  content: "\e940";
}
.icon-hambuger-menu-thin:before {
  content: "\e941";
}
.icon-slanted-bars:before {
  content: "\e942";
}
.icon-slanted-bars-thin:before {
  content: "\e943";
}
.icon-calendar:before {
  content: "\e944";
}
.icon-calendar-o:before {
  content: "\e945";
}
.icon-search2:before {
  content: "\e946";
}
.icon-search-o2:before {
  content: "\e947";
}
.icon-copy:before {
  content: "\e948";
}
.icon-copy-o:before {
  content: "\e949";
}
.icon-edit:before {
  content: "\e94a";
}
.icon-edit-o:before {
  content: "\e94b";
}
.icon-envelope:before {
  content: "\e94c";
}
.icon-envelope-o:before {
  content: "\e94d";
}
.icon-filters:before {
  content: "\e94e";
}
.icon-filters-o:before {
  content: "\e94f";
}
.icon-swipe:before {
  content: "\e950";
}
.icon-swipe-o:before {
  content: "\e951";
}
.icon-trash:before {
  content: "\e952";
}
.icon-trash-o:before {
  content: "\e953";
}
.icon-eye-slash:before {
  content: "\e954";
}
.icon-eye-slash-o:before {
  content: "\e955";
}
.icon-eye:before {
  content: "\e956";
}
.icon-eye-o:before {
  content: "\e957";
}
.icon-compass:before {
  content: "\e958";
}
.icon-compass-o:before {
  content: "\e959";
}
.icon-map-marker:before {
  content: "\e95a";
}
.icon-map-marker-o:before {
  content: "\e95b";
}
.icon-wrench:before {
  content: "\e95c";
}
.icon-wrench-o:before {
  content: "\e95d";
}
.icon-cog:before {
  content: "\e95e";
}
.icon-cog-o:before {
  content: "\e95f";
}
.icon-play:before {
  content: "\e960";
}
.icon-play-o:before {
  content: "\e961";
}
.icon-volume-up:before {
  content: "\e962";
}
.icon-volume-up-o:before {
  content: "\e963";
}
.icon-mute:before {
  content: "\e964";
}
.icon-mute-o:before {
  content: "\e965";
}
.icon-printer:before {
  content: "\e966";
}
.icon-printer-o:before {
  content: "\e967";
}
.icon-download:before {
  content: "\e968";
}
.icon-download-o:before {
  content: "\e969";
}
.icon-upload:before {
  content: "\e96a";
}
.icon-upload-o:before {
  content: "\e96b";
}
.icon-question:before {
  content: "\e96c";
}
.icon-question-o:before {
  content: "\e96d";
}
.icon-exclamation:before {
  content: "\e96e";
}
.icon-exclamation-o:before {
  content: "\e96f";
}
.icon-info:before {
  content: "\e970";
}
.icon-info-o:before {
  content: "\e971";
}
.icon-plus:before {
  content: "\e972";
}
.icon-plus-o:before {
  content: "\e973";
}
.icon-check:before {
  content: "\e974";
}
.icon-check-o:before {
  content: "\e975";
}
.icon-check-thin:before {
  content: "\e976";
}
.icon-times:before {
  content: "\e977";
}
.icon-times-o:before {
  content: "\e978";
}
.icon-times-thin:before {
  content: "\e979";
}
.icon-minus:before {
  content: "\e97a";
}
.icon-minus-o:before {
  content: "\e97b";
}
.icon-not-allowed:before {
  content: "\e97c";
}
.icon-not-allowed-o:before {
  content: "\e97d";
}
.icon-arrow-up:before {
  content: "\e97e";
}
.icon-arrow-up-o:before {
  content: "\e97f";
}
.icon-arrow-right:before {
  content: "\e980";
}
.icon-arrow-right-o:before {
  content: "\e981";
}
.icon-arrow-down:before {
  content: "\e982";
}
.icon-arrow-down-o:before {
  content: "\e983";
}
.icon-arrow-left:before {
  content: "\e984";
}
.icon-arrow-left-o:before {
  content: "\e985";
}
.icon-kebab-menu:before {
  content: "\e986";
}
.icon-arrow-head-up:before {
  content: "\e987";
}
.icon-arrow-head-right:before {
  content: "\e988";
}
.icon-arrow-head-down:before {
  content: "\e989";
}
.icon-arrow-head-left:before {
  content: "\e98a";
}
.icon-sign-off:before {
  content: "\e98b";
}
.icon-clip:before {
  content: "\e98c";
}
.icon-excel:before {
  content: "\e98d";
}
.icon-write-down:before {
  content: "\e98e";
}
.icon-write-down-o:before {
  content: "\e98f";
}
.icon-santander:before {
  content: "\e990";
}
.icon-money-circle:before {
  content: "\e991";
}
.icon-money-circle-o:before {
  content: "\e992";
}
.icon-wallet:before {
  content: "\e993";
}
.icon-wallet-o:before {
  content: "\e994";
}
.icon-money-stack:before {
  content: "\e995";
}
.icon-money-stack-o:before {
  content: "\e996";
}
.icon-pig:before {
  content: "\e997";
}
.icon-pig-o:before {
  content: "\e998";
}
.icon-coin-stack:before {
  content: "\e999";
}
.icon-coin-stack-o:before {
  content: "\e99a";
}
.icon-card:before {
  content: "\e99b";
}
.icon-card-o:before {
  content: "\e99c";
}
.icon-broken-card:before {
  content: "\e99d";
}
.icon-blocked-card:before {
  content: "\e99e";
}
.icon-card-check:before {
  content: "\e99f";
}
.icon-hand-money:before {
  content: "\e9a0";
}
.icon-hand-coin:before {
  content: "\e9a1";
}
.icon-umbrella:before {
  content: "\e9a2";
}
.icon-umbrella-o:before {
  content: "\e9a3";
}
.icon-umbrella-cellphone:before {
  content: "\e9a4";
}
.icon-umbrella-suitcase:before {
  content: "\e9a5";
}
.icon-umbrella-car:before {
  content: "\e9a6";
}
.icon-umbrella-car-o:before {
  content: "\e9a7";
}
.icon-umbrella-home:before {
  content: "\e9a8";
}
.icon-umbrella-home-o:before {
  content: "\e9a9";
}
.icon-umbrella-money:before {
  content: "\e9aa";
}
.icon-umbrella-health:before {
  content: "\e9ab";
}
.icon-umbrella-group:before {
  content: "\e9ac";
}
.icon-umbrella-group-o:before {
  content: "\e9ad";
}
.icon-umbrella-person:before {
  content: "\e9ae";
}
.icon-clock-person:before {
  content: "\e9af";
}
.icon-clock-person-o:before {
  content: "\e9b0";
}
.icon-write-check:before {
  content: "\e9b1";
}
.icon-spiral:before {
  content: "\e9b2";
}
.icon-atm:before {
  content: "\e9b3";
}
.icon-atm-o:before {
  content: "\e9b4";
}
.icon-money-in:before {
  content: "\e9b5";
}
.icon-money-in-o:before {
  content: "\e9b6";
}
.icon-money-out:before {
  content: "\e9b7";
}
.icon-money-out-o:before {
  content: "\e9b8";
}
.icon-document:before {
  content: "\e9b9";
}
.icon-document-o:before {
  content: "\e9ba";
}
.icon-document-add:before {
  content: "\e9bb";
}
.icon-document-add-o:before {
  content: "\e9bc";
}
.icon-document-write:before {
  content: "\e9bd";
}
.icon-document-write-o:before {
  content: "\e9be";
}
.icon-document-check-o:before {
  content: "\e9bf";
}
.icon-document-pdf:before {
  content: "\e9c0";
}
.icon-document-pdf-o:before {
  content: "\e9c1";
}
.icon-document-money:before {
  content: "\e9c2";
}
.icon-discount-tag:before {
  content: "\e9c3";
}
.icon-discount-ribbon:before {
  content: "\e9c4";
}
.icon-discount-ribbon-o:before {
  content: "\e9c5";
}
.icon-percent:before {
  content: "\e9c6";
}
.icon-percent-o:before {
  content: "\e9c7";
}
.icon-santander-employees:before {
  content: "\e9c8";
}
.icon-santander-employees-o:before {
  content: "\e9c9";
}
.icon-spf-employees:before {
  content: "\e9ca";
}
.icon-spf-employees-o:before {
  content: "\e9cb";
}
.icon-money-exchange:before {
  content: "\e9cc";
}
.icon-money-exchange-o:before {
  content: "\e9cd";
}
.icon-suitcase:before {
  content: "\e9ce";
}
.icon-suitcase-o:before {
  content: "\e9cf";
}
.icon-money-bag:before {
  content: "\e9d0";
}
.icon-person-money:before {
  content: "\e9d1";
}
.icon-person-money-o:before {
  content: "\e9d2";
}
.icon-pie-chart:before {
  content: "\e9d3";
}
.icon-pie-chart-o:before {
  content: "\e9d4";
}
.icon-line-chart:before {
  content: "\e9d5";
}
.icon-line-chart-o:before {
  content: "\e9d6";
}
.icon-profit:before {
  content: "\e9d7";
}
.icon-profit-o:before {
  content: "\e9d8";
}
.icon-bar-chart:before {
  content: "\e9d9";
}
.icon-bar-chart-o:before {
  content: "\e9da";
}
.icon-bar-chart-search:before {
  content: "\e9db";
}
.icon-bar-chart-search-o:before {
  content: "\e9dc";
}
.icon-subsidiaries:before {
  content: "\e9dd";
}
.icon-subsidiaries-o:before {
  content: "\e9de";
}
.icon-hand-shake:before {
  content: "\e9df";
}
.icon-hand-shake-o:before {
  content: "\e9e0";
}
.icon-house-money:before {
  content: "\e9e1";
}
.icon-executive:before {
  content: "\e9e2";
}
.icon-couple:before {
  content: "\e9e3";
}
.icon-couple-o:before {
  content: "\e9e4";
}
.icon-couple-in-circle:before {
  content: "\e9e5";
}
.icon-couple-in-circle-o:before {
  content: "\e9e6";
}
.icon-couple-bar-chart:before {
  content: "\e9e7";
}
.icon-couple-bar-chart-o:before {
  content: "\e9e8";
}
.icon-executives:before {
  content: "\e9e9";
}
.icon-executives-o:before {
  content: "\e9ea";
}
.icon-calculator:before {
  content: "\e9eb";
}
.icon-calculator-o:before {
  content: "\e9ec";
}
.icon-transbank:before {
  content: "\e9ed";
}
.icon-transbank-o:before {
  content: "\e9ee";
}
.icon-card-123:before {
  content: "\e9ef";
}
.icon-card-123-o:before {
  content: "\e9f0";
}
.icon-university:before {
  content: "\e9f1";
}
.icon-university-o:before {
  content: "\e9f2";
}
.icon-building:before {
  content: "\e9f3";
}
.icon-building-o:before {
  content: "\e9f4";
}
.icon-tree:before {
  content: "\e9f5";
}
.icon-tree-o:before {
  content: "\e9f6";
}
.icon-oil-tank:before {
  content: "\e9f7";
}
.icon-oil-tank-o:before {
  content: "\e9f8";
}
.icon-couple-world:before {
  content: "\e9f9";
}
.icon-couple-world-o:before {
  content: "\e9fa";
}
.icon-team:before {
  content: "\e9fb";
}
.icon-team-o:before {
  content: "\e9fc";
}
.icon-smiley:before {
  content: "\e9fd";
}
.icon-smiley-o:before {
  content: "\e9fe";
}
.icon-laptop-man:before {
  content: "\e9ff";
}
.icon-laptop-man-o:before {
  content: "\ea00";
}
.icon-baby:before {
  content: "\ea01";
}
.icon-baby-o:before {
  content: "\ea02";
}
.icon-wheelchair:before {
  content: "\ea03";
}
.icon-wheelchair-o:before {
  content: "\ea04";
}
.icon-parking:before {
  content: "\ea05";
}
.icon-parking-o:before {
  content: "\ea06";
}
.icon-teaching:before {
  content: "\ea07";
}
.icon-teaching-o:before {
  content: "\ea08";
}
.icon-videocall:before {
  content: "\ea09";
}
.icon-videocall-o:before {
  content: "\ea0a";
}
.icon-exchange:before {
  content: "\ea0b";
}
.icon-exchange-o:before {
  content: "\ea0c";
}
.icon-newspaper:before {
  content: "\ea0d";
}
.icon-newspaper-o:before {
  content: "\ea0e";
}
.icon-old-couple:before {
  content: "\ea0f";
}
.icon-old-couple-o:before {
  content: "\ea10";
}
.icon-grad-student:before {
  content: "\ea11";
}
.icon-grad-student-o:before {
  content: "\ea12";
}
.icon-artwork:before {
  content: "\ea13";
}
.icon-artwork-o:before {
  content: "\ea14";
}
.icon-workshop:before {
  content: "\ea15";
}
.icon-workshop-o:before {
  content: "\ea16";
}
.icon-church:before {
  content: "\ea17";
}
.icon-church-o:before {
  content: "\ea18";
}
.icon-graduation-cap:before {
  content: "\ea19";
}
.icon-graduation-cap-o:before {
  content: "\ea1a";
}
.icon-restaurant:before {
  content: "\ea1b";
}
.icon-restaurant-o:before {
  content: "\ea1c";
}
.icon-football:before {
  content: "\ea1d";
}
.icon-football-o:before {
  content: "\ea1e";
}
.icon-cup:before {
  content: "\ea1f";
}
.icon-cup-o:before {
  content: "\ea20";
}
.icon-star:before {
  content: "\ea21";
}
.icon-star-o:before {
  content: "\ea22";
}
.icon-plane:before {
  content: "\ea23";
}
.icon-plane-o:before {
  content: "\ea24";
}
.icon-car:before {
  content: "\ea25";
}
.icon-car-o:before {
  content: "\ea26";
}
.icon-wagon:before {
  content: "\ea27";
}
.icon-wagon-o:before {
  content: "\ea28";
}
.icon-bus:before {
  content: "\ea29";
}
.icon-bus-o:before {
  content: "\ea2a";
}
.icon-mini-bus:before {
  content: "\ea2b";
}
.icon-mini-bus-o:before {
  content: "\ea2c";
}
.icon-truck:before {
  content: "\ea2d";
}
.icon-truck-o:before {
  content: "\ea2e";
}
.icon-racing-flag:before {
  content: "\ea2f";
}
.icon-racing-flag-o:before {
  content: "\ea30";
}
.icon-leaf:before {
  content: "\ea31";
}
.icon-leaf-o:before {
  content: "\ea32";
}
.icon-windmill:before {
  content: "\ea33";
}
.icon-windmill-o:before {
  content: "\ea34";
}
.icon-bag:before {
  content: "\ea35";
}
.icon-bag-o:before {
  content: "\ea36";
}
.icon-gift:before {
  content: "\ea37";
}
.icon-gift-o:before {
  content: "\ea38";
}
.icon-travel-case:before {
  content: "\ea39";
}
.icon-travel-case-o:before {
  content: "\ea3a";
}
.icon-golf:before {
  content: "\ea3b";
}
.icon-golf-o:before {
  content: "\ea3c";
}
.icon-puzzle:before {
  content: "\ea3d";
}
.icon-puzzle-o:before {
  content: "\ea3e";
}
.icon-globe:before {
  content: "\ea3f";
}
.icon-globe-o:before {
  content: "\ea40";
}
.icon-movie-ticket:before {
  content: "\ea41";
}
.icon-movie-ticket-o:before {
  content: "\ea42";
}
.icon-trophy:before {
  content: "\ea43";
}
.icon-trophy-o:before {
  content: "\ea44";
}
.icon-one-ribbon:before {
  content: "\ea45";
}
.icon-one-ribbon-o:before {
  content: "\ea46";
}
.icon-health:before {
  content: "\ea47";
}
.icon-health-o:before {
  content: "\ea48";
}
.icon-credential:before {
  content: "\ea49";
}
.icon-credential-o:before {
  content: "\ea4a";
}
.icon-user:before {
  content: "\ea4b";
}
