// COMPONENT SWITCH
.switch {
  display: inline-block;
  height: 14px;
  position: relative;
  width: 36px;
}

.switch input {display: none;}

.slider {
  background-color: #c2c2c2;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;

  &:before {
    background-color: #6d6d6d;
    bottom: -3px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    transition: .4s;
    width: 20px;
  }
}

input:checked + .slider:before {
  background-color: #abc111;
}

input:checked + .slider:before {
  transform: translateX(17px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// END COMPONENT SWITCH
._input {
  border: 0;
  margin: 15px;
  max-width: 300px;
  position: relative;
  width: 100%;

  &__label {
    color: #444;
    font-size: 16px;
    font-weight: 500;
    left: 0;
    opacity: .5;
    position: absolute;
    top: 16px;
    transform-origin: 0 0;
    transition: all .2s ease;

    &__counter {
      top: 40px;
      position: absolute;
      right: 10px;
      color: #a1a1a1;
    }
  }

  &__border {
    background: #07f;
    bottom: 0;
    height: 2px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all .15s ease;
    width: 100%;
  }

  &__text {
    border-bottom: 1px solid #444444;
  }

  &__long {
    max-width: 800px;
  }
 
  &__help {
    display: block;
    margin-top: -10px;
    opacity: .5;
    &__error {
      display: block;
      margin-top: -10px;
      opacity: .5;
    }
  }

  &__prefix {
    left: -2px;
    position:absolute;
    pointer-events: none;
    color:#444444;
    opacity: 1;
    top: 27px;
    line-height: 1.5;
    font-size: 16px;
    display: none;
  }


  &__suffix {
    color:#444444;
    opacity: 1;
    pointer-events: none;
    position:absolute;
    top:30px;
    
    &-1 {
        left: 2px;
    }

    &-2 {
        left: 11px;
    }

    &-3 {
        left: 20px;
    }

    &.p_left_10 {
      padding-left: 10px;
    }
  }
}

input[type='text']{
  appearance: none;
  background: none;
  border-radius: 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  height: 48px;
  margin-left: -10px;
  padding: 12px 0;
  transition: all .15s ease;
  width: 100%;
  line-height: 1.5;
  
}

input._input {
  &__text {
    &__counter {
      padding-right: 45px;
    }
  }
}

// RADIO BUTTON
input[type='radio']:checked,
input[type='radio']:not(:checked) {
  left: -9999px;
  position: absolute;
}

input[type='radio']:checked + label,
input[type='radio']:not(:checked) + label {
  color: #444444;
  cursor: pointer;
  display: inline-block;
  line-height: 1.43;
  padding-left: 33px;
  position: relative;
}

input[type='radio']:checked + label:before,
input[type='radio']:not(:checked) + label:before {
  background: #ffffff;
  border: 1px solid #444444;
  border-radius: 100%;
  content: '';
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

input[type='radio']:checked + label:after,
input[type='radio']:not(:checked) + label:after {
  background: $colorRed;
  border-radius: 100%;
  content: '';
  height: 8px;
  left: 5px;
  position: absolute;
  top: 5px;
  transition: all .2s ease;
  width: 8px;
}

input[type='radio']:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

input[type='radio']:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

// END RADIO BUTTON
