._line {
    &__separator {
        width: 105%;
        min-height: 2px;
        border: dashed 1px #dddddd;
        display: flex;
        margin: 30px 0;
        margin-right: -15px;
        margin-left: -15px;
    }
}