._list {
    list-style: none;
    padding-left: 5px;
    & > li {
        display: table-row;
    }

    & > li::before {
        content: "•"; 
        color: #ec0000;
        padding-right: 20px;
        display: table-cell;
         text-align: right;
    }

    &__sublist {
        list-style:none;
        & > li::before {
            content: "⁃";
            padding-right: 20px;
        }
    }
}