.modal {
  background-color: rgba(0, 0, 0, .66);
  display: block;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 999;
  left:0;
  top:0;

  &--hiden {
    display: none;
  }

  &__container {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(25, 25, 25, .1);
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    outline: 0;
    position: relative;
    max-width: 680px;
    
    &__close {
      color: #ffffff;
      cursor: pointer;
      font-size: 24px;
      height: 24px;
      position: absolute;
      right: 0;
      text-align: center;
      top: -29px;
      width: 24px;
    }

    &__header {
      margin-bottom: 16px;
      padding-top: 50px;
      text-align: center;

      &__icon {
        border-radius: 50%;
        height: 75px;
        padding-top: 17px;
        position: absolute;
        top: -36px;
        width: 75px;
        left: 50%;
        transform: translateX(-50%);

        .icon {
          color: #ffffff;
          font-size: 36px;
          height: 36px;
          width: 36px;
        }
      }

      &__title {
        color: #444444;
        font-size: 20px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        height: 28px;
        letter-spacing: normal;
        line-height: 1.4;
      }
    }

    &__body {
      height: auto;
      max-height: 30em;
      overflow-y: auto;
      padding-left: 69px;
      padding-right: 69px;
    }

    &__footer {
      margin-left: -.5px;
      margin-right: -.5px;
      text-align: center;
      width: 100%;

      button {
        background-color: #ec0000;
        border-radius: 100px;
        color: #ffffff;
        cursor: pointer;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 600;
        height: 48px;
        letter-spacing: normal;
        line-height: 1.5;
        margin-top: 24px;
        width: 240px;
      }
    }
  }
}


@media screen and (max-width: 768px)  {
  .modal {
    &__container {
      max-width: 90%;
      &__body {
        padding-left: 30px;
        padding-right: 30px;
        height: 20em;
      }
    }
    
  }
}

@media screen and (max-height: 640px) and (orientation: landscape) { 
  .modal {
    &__container {
      max-width: 90%;
      &__body {
        padding-left: 30px;
        padding-right: 30px;
        height: 8em;
      }
    }
    
  }
}