.headline {
    font-size: 24px;
    line-height: 1.17;
    &__bold
    {
        font-weight: bold;
    }

     &__semibold
    {
        font-weight: 600;
    }

    &__normal
    {
        font-weight: normal;
    }
}

.title
{
    font-size: 20px;
    line-height: 28px;
    &_bold
    {
        font-weight: bold;
    }

     &_semibold
    {
        font-weight: 600;
    }

    &_normal
    {
        font-weight: normal;
    }
}

.subtitle
{
    font-size: 16px;
    line-height: 16px;
    &_bold
    {
        font-weight: bold;
    }

    &_semibold
    {
        font-weight: 600;
    }

    &_normal
    {
        font-weight: normal;
    }
}

.text-body
{
    font-size: 14px;
    line-height: 20px;
    &_bold
    {
        font-weight: bold;
    }

    &_semibold
    {
        font-weight: 600;
    }

    &_normal
    {
        font-weight: normal;
    }

    &_light {
        font-weight: 300;
    }

    &_space-bottom {
        margin-bottom: 10px;
    }
}

.caption
{
    font-size: 12px;
    line-height: 18px;
    &_bold
    {
        font-weight: bold;
    }

    &_semibold
    {
        font-weight: 600;
    }

    &_normal
    {
        font-weight: normal;
    }
}

._text {
    &__italic {
        font-style: italic;
    }
    &__p {
        margin-bottom: 16px;
    }
    &__center {
        text-align: center;
    }
    &__vertical{

        &__center {
            display: flex;
            align-items: center;
        }
    }
}

.legal {
    margin-bottom: 24px;
    &__p {
        font-size: 12px;
        text-align: justify;
    }
}