<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="es-CL" id="ng-app" ng-app="planificador">
    <head>
        <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=EDGE; IE=9; IE=8; IE=7; chrome=1" />
        <title>{% block title %}Zurich Santander{% endblock %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!--[if lte IE 7]>
          <script src="{{ asset('assets/js/json3.min.js') }}"></script>
        <![endif]-->
        <!--[if lte IE 8]>

          <script src="{{ asset('assets/js/json3.min.js') }}"></script>
          <script>
            document.createElement('ng-include');
            document.createElement('ng-pluralize');
            document.createElement('ng-view');

            // Optionally these for CSS
            document.createElement('ng:include');
            document.createElement('ng:pluralize');
            document.createElement('ng:view');
          </script>
        <![endif]-->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/front/css/main.min.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/front/css/fix.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/js/featherlight.css') }}" media="screen" charset="utf-8">
        {% endblock %}
    </head>
    <body ng-controller="plan">

        <section>
            {% block body %} {% endblock %}


        </section>
        <!-- /#page-content-wrapper -->
    </div>
        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery-1.12.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/angular.min.js?v=1.1.5') }}"></script>
            <script src="{{ asset('assets/js/planificador/angular-animate.min.js') }}"></script>
            <script src="{{ asset('assets/js/angular-locale_es-cl.js') }}"></script>
            <script src="{{ asset('assets/js/front/app.js') }}"></script>
            <script src="{{ asset('assets/js/front/app/main.js') }}"></script>
            <script src="{{ asset('assets/js/front/controller/front.js') }}"></script>
            <script src="{{ asset('assets/js/front/libs/slick.min.js') }}"></script>
            <script src="{{ asset('assets/js/front/libs/modal.js') }}"></script>
            <script src="{{ asset('assets/js/featherlight.js') }}" charset="utf-8"></script>
            {#<script type="text/javascript">
                var utag_data = {

                }
            </script>

                <!-- Loading script asynchronously -->
            <script type="text/javascript">
                (function(a,b,c,d){
                a='//tags.tiqcdn.com/utag/santander/ch-santander-alianzas-externas/prod/utag.js';
                b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
                a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
                })();
            </script>#}


        {% endblock %}
        <script type="text/javascript">

            
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

        </script>
            <script type="text/javascript">
                var utag_data = {
            }
            </script>
            <!-- Loading script asynchronously -->
            <script type="text/javascript">
                 (function(a,b,c,d){
                 a='//tags.tiqcdn.com/utag/santander/ch-online-banking/prod/utag.js';
                 b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true;
                 a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a);
                 })();
            </script>

        <div class="error-message">

            <div class="error-box">
                <div class="inset-str-box str-message-error">
                    <div class="str-box">
                        <div class="str-icons"><i class="str-icon-error"></i></div>
                        <h2 class="str-title-page error-content"></h2>
                        <div class="str-btn str-btn-primary featherlight-close">
                            <span class="text-btn">ACEPTAR</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </body>
</html>
