{% extends "PlanificadorBundle::front/base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}  	

    <script src="{{ asset('assets/js/front/controller/front.js') }}"></script>
{% endblock %}
{% block body %}
    <div class="str-container str-page-intro">
        {% embed "PlanificadorBundle:front:navegacion.html.twig" with {active: '5'} %}
        {% endembed %}
        <section class="row center slider slider-intro">
            <div class="str-footer-btn hidden-mobile" >

                <div class="inset-str-box str-inset st-relative-planificador">



                    <div class="row">
                        <div class="">
                            <div class="str-circle-success"><i class="str-icon-check"></i></div>
                            <div class="show-mobile offset-top-2"></div>

                            <div class="col-md-6">
                                <div class="str-left">
                                    <h1 class="str-title-page top-75" align="justify"><b>¡Felicidades {{ nombre |capitalize}}!</b> </h1>
                                    <h2 class="str-subtitle-page" align="justify"><b>Según tus respuestas en Nuestro Asesor, estás muy bien asegurada.</b>
                                        <br/><br/>	<br/>		
                                        <div class="show-mobile offset-top-5"></div>
                                        Te invitamos a cotizar más seguros para apoyarte a <b>proteger lo que más te importa.</b></h2>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row" >
                                    <div class="col-md-offset-2 col-md-10">
                                        <div class="str-info-form">
                                            <img src="{{  asset('assets/img/front/')}}familia.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="show-mobile offset-top-4"></div><br/>
                    <img src="{{  asset('assets/img/front/')}}sinsegurologo1.png" alt="">

                </div>
            </div>

            <div class="show-mobile">
                <div class="str-box str-shadow str-box-min">
                    <div class="str-head-page">
                        <img src="{{  asset('assets/img/front/')}}logomovil2.png" alt="">			<br/>

                        <div class="str-left">
                            <h1 class="str-title-page"><b align="justify"><b>¡Felicidades! {{ nombre |capitalize}} </b> </h1>
                            <h2 class="str-subtitle-page"><b>Según tus respuestas en Nuestro Asesor, estás muy bien asegurada.</b>
                                <div class="show-mobile offset-top-1"></div>
                                Te invitamos a cotizar más seguros para apoyarte a <b>proteger lo que más te importa.</b></h2>	

                        </div>


                        <div class="str-center">

                        </div>
                        <div class="str-center">
                            <a href="{{ path_token('front') }}" title="" class="str-btn str-btn-primary" data-dismiss="modal">
                                <span class="text-btn">Ver más Seguros</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="str-footer-btn str-footer-center hidden-mobile">

                <div class="str-left">
                    <a name="volver" href="{{ path_token('front') }}" class="str-btn-volver str-btn-volver-destop2">
                        <i class="str-icon-flecha-izquierda"></i>
                        <span class="text-btn">Repetir asesor</span>
                    </a>
                </div>

                <div class="str-center">

                </div>

                <div class="str-right">
                    <a name="volver" href="#" class="str-btn str-btn-primary">
                        <span class="text-btn">Ver más seguros</span>
                        <i class="str-icon-flecha-derecha"></i>
                    </a>
                </div>
            </div>
        </section>
    </div>
{% endblock %}