{% extends "PlanificadorBundle::front/base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}
  	
{% endblock %}

{% block javascripts %}
    {{ parent() }}   	
   	
    <script src="{{ asset('assets/js/front/controller/front.js') }}"></script>
{% endblock %}

{% block body %}

		<div class="str-container">
			
			<!--
				===== wizard =====
			-->
			<div class="wizard">
				<div class="wizard-step complete">
					<div class="wizard-text">1. <span>MOMENTO <br>DE TU VIDA</span></div>
					<div class="wizard-dot">1</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step complete">
					<div class="wizard-text">2. <span>¿QUÉ TE <br>PREOCUPA?</span></div>
					<div class="wizard-dot">2</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step active">
					<div class="wizard-text">3. <span>¿CÓMO ES TU <br>FAMILIA?</span></div>
					<div class="wizard-dot">3</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step">
					<div class="wizard-text">4. <span>TUS GASTOS <br>MENSUALES</span></div>
					<div class="wizard-dot">4</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step">
					<div class="wizard-text">5. <span>¿QUÉ SEGUROS <br>TIENES?</span></div>
					<div class="wizard-dot">5</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step">
					<div class="wizard-text">6. <span>RESULTADO <br>ASESOR</span></div>
					<div class="wizard-dot">6</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
			</div>
			<div class="wizard-mobile">
				<p class="title-wizard"><span class="wizard-dot"><span class="step">1</span></span><span class="wizard-text"></span></p>
				<p class="state-wizard">PASO <span class="step">1</span>/<span class="size-wizard">5</span></p>
				<span class="progress-wizard"><span class="inner-progress" style="width: 40%;"></span></span>
			</div>
			<!--
				===== /wizard =====
			-->

			<div class="str-inset">
				<div class="str-head-page hidden-mobile">
					<h1 class="str-title-page">¿Cómo es tu familia?</h1>
				</div>


				<div class="str-body-page">
					<!--
						===== versión desktop ===== 
					 -->
					<div class="hidden-mobile offset-top-5">
						<div class="row">
							<div class="col-md-5">
								<img src="img/pregunta-03/familia.png" alt="">
							</div>
							<div class="col-md-7">
								<div class="row">
									<div class="col-md-10">
										<div class="str-info-form">
											<label for="">Estoy</label>
											<div class="custom-select">
												<select>
													<option value="">Casado</option>
													<option value="">Separado</option>
													<option value="">Viudo</option>
													<option value="">Soltero</option>
												</select>
											</div>
										</div>

										<div class="str-info-form">
											<label for="">Tengo</label>
											<div class="custom-select">
												<select id="select-hijos">
													<option value="0">Seleccionar ...</option>
													<option value="1">1 Hijo</option>
													<option value="2">2 hijos</option>
													<option value="3">3 hijos</option>
													<option value="4">4 hijos</option>
													<option value="5">5 hijos</option>
													<option value="6">6 hijos</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								
								<div class="str-children hidden">
									<div class="str-children-inner hidden">
										<div class="str-icons"><img src="{{  asset('assets/img/front/')}}img-hijo.png" /></div>
										<div class="custom-select">
											<select name="selector" id="estoy">
												<option value="">1 año</option>
												<option value="">2 años</option>
												<option value="">3 años</option>
												<option value="">10 años</option>
												<option value="">20 años</option>
												<option value="">30 años</option>
											</select>
										</div>
									</div>

									<div class="str-children-inner hidden">
										<div class="str-icons"><img src="{{  asset('assets/img/front/')}}img-hijo.png" /></div>
										<div class="custom-select">
											<select name="selector" id="estoy">
												<option value="">1 año</option>
												<option value="">2 años</option>
												<option value="">3 años</option>
												<option value="">10 años</option>
												<option value="">20 años</option>
												<option value="">30 años</option>
											</select>
										</div>
									</div>

									<div class="str-children-inner hidden">
										<div class="str-icons"><img src="{{  asset('assets/img/front/')}}img-hijo.png" /></div>
										<div class="custom-select">
											<select name="selector" id="estoy">
												<option value="">1 año</option>
												<option value="">2 años</option>
												<option value="">3 años</option>
												<option value="">10 años</option>
												<option value="">20 años</option>
												<option value="">30 años</option>
											</select>
										</div>
									</div>

									<div class="str-children-inner hidden">
										<div class="str-icons"><img src="{{  asset('assets/img/front/')}}img-hijo.png" /></div>
										<div class="custom-select">
											<select name="selector" id="estoy">
												<option value="">1 año</option>
												<option value="">2 años</option>
												<option value="">3 años</option>
												<option value="">10 años</option>
												<option value="">20 años</option>
												<option value="">30 años</option>
											</select>
										</div>
									</div>

									<div class="str-children-inner hidden">
										<div class="str-icons"><img src="{{  asset('assets/img/front/')}}img-hijo.png" /></div>
										<div class="custom-select">
											<select name="selector" id="estoy">
												<option value="">1 año</option>
												<option value="">2 años</option>
												<option value="">3 años</option>
												<option value="">10 años</option>
												<option value="">20 años</option>
												<option value="">30 años</option>
											</select>
										</div>
									</div>

									<div class="str-children-inner hidden">
										<div class="str-icons"><img src="{{  asset('assets/img/front/')}}img-hijo.png" /></div>
										<div class="custom-select">
											<select name="selector" id="estoy">
												<option value="">1 año</option>
												<option value="">2 años</option>
												<option value="">3 años</option>
												<option value="">10 años</option>
												<option value="">20 años</option>
												<option value="">30 años</option>
											</select>
										</div>
									</div>
								</div>	
							</div>
						</div>
					</div>
					<!--
						===== /versión desktop ===== 
					 -->




					 <!--
						===== versión mobile ===== 
					 -->
					 	<div class="show-mobile">
					 		<section class="row center slider slider-intro">	
					 			
					 			<div class="col-md-3 show-mobile remove-dots">
					 				<div class="inset-str-box str-message">
					 					<div class="str-box str-shadow">
					 						<h3 class="str-title-box str-color-primary">¿Cómo es tu familia?</h3>
					 						<p>A continuación te preguntamos por tu estado civil y cuantos hijos tienes; selecciona las opciones para continuar</p>
					 						
					 						<div class="offset-top-3">
					 							<div class="thumbs-center">
					 								<img src="img/icon-deslizar.png" alt="">
					 							</div>
					 							<p class="offset-top-1">Desliza para avanzar o retroceder en las preguntas</p>
					 						</div>
					 					</div>
					 				</div>
					 			</div>

					 			<div class="col-md-3">
					 				<div class="inset-str-box">
					 					<div class="str-box str-box-min">
					 						<h3 class="str-title-box semi-bold">¿Cuál es tu estado civil?</h3>
					 						<div class="str-thumbs"><img src="img/pregunta-03/familia.png" alt=""></div>

					 						<div class="custom-select">
					 							<select name="selector" id="estoy">
					 								<option value="">Estoy Casado</option>
					 								<option value="">Estoy Separado</option>
					 								<option value="">Estoy Viudo</option>
					 								<option value="">Estoy Soltero</option>
					 							</select>
					 						</div>
					 					</div>
					 				</div>
					 			</div>

					 			<div class="col-md-3">
					 				<div class="inset-str-box">
					 					<div class="str-box str-box-min">
					 						<h3 class="str-title-box semi-bold">¿Cuantos hijos tienes?</h3>
					 						<div class="str-thumbs"><img src="img/pregunta-03/familia.png" alt=""></div>

											<div class="str-quantity-field">
												<div class="head-quantity">
													Tengo 
													<input class="quantity" id="quantity_xxxxxx" type="text" size="1" maxlength="1" /> <strong>hijos</strong>
												</div class="head-">
												
						 						<a class="minus-btn" href="javascript: void(0)"></a>
						 						<a class="plus-btn" href="javascript: void(0)"></a>
						 					</div>
					 					</div>
					 				</div>
					 			</div>
		 			 			<div class="col-md-3">
		 			 				<div class="inset-str-box str-box-min">
		 			 					<div class="str-box">
		 			 						<h3 class="str-title-box semi-bold">¿Cuáles son las edades de tus hijos?</h3>

		 									<div class="str-children">
		 										<div class="str-children-inner">
		 											<div class="str-icons"><img src="img/img-hijo.png" /></div>
		 											<div class="custom-select">
		 												<select name="selector" id="estoy">
		 													<option value="">1 año</option>
		 													<option value="">2 años</option>
		 													<option value="">3 años</option>
		 													<option value="">10 años</option>
		 													<option value="">20 años</option>
		 													<option value="">30 años</option>
		 												</select>
		 											</div>
		 										</div>
		 									</div>


		 									<div class="str-children">
		 										<div class="str-children-inner">
		 											<div class="str-icons"><img src="img/img-hijo.png" /></div>
		 											<div class="custom-select">
		 												<select name="selector" id="estoy">
		 													<option value="">1 año</option>
		 													<option value="">2 años</option>
		 													<option value="">3 años</option>
		 													<option value="">10 años</option>
		 													<option value="">20 años</option>
		 													<option value="">30 años</option>
		 												</select>
		 											</div>
		 										</div>
		 									</div>


		 									<div class="str-children">
		 										<div class="str-children-inner">
		 											<div class="str-icons"><img src="img/img-hijo.png" /></div>
		 											<div class="custom-select">
		 												<select name="selector" id="estoy">
		 													<option value="">1 año</option>
		 													<option value="">2 años</option>
		 													<option value="">3 años</option>
		 													<option value="">10 años</option>
		 													<option value="">20 años</option>
		 													<option value="">30 años</option>
		 												</select>
		 											</div>
		 										</div>
		 									</div>


		 									<div class="str-children">
		 										<div class="str-children-inner">
		 											<div class="str-icons"><img src="img/img-hijo.png" /></div>
		 											<div class="custom-select">
		 												<select name="selector" id="estoy">
		 													<option value="">1 año</option>
		 													<option value="">2 años</option>
		 													<option value="">3 años</option>
		 													<option value="">10 años</option>
		 													<option value="">20 años</option>
		 													<option value="">30 años</option>
		 												</select>
		 											</div>
		 										</div>
		 									</div>
		 			 					</div>
		 			 				</div>
		 			 			</div>

		 			 			<div class="col-md-3 remove-dots show-mobile">
		 			 				<div class="inset-str-box str-message-success">
		 			 					<div class="str-box str-box-min">
		 			 						<div class="str-icons"><i class="str-icon-check"></i></div>
		 			 						<h3 class="str-title">Tu y tu familia</h3>
		 			 						<ul class="str-list-check">
		 			 							<li>
		 			 								<span class="str-icons-li"><i class="str-icon-check"></i></span>
		 			 								<span class="str-text-li">Estás casado</span></li>
		 			 							<li>
		 			 								<span class="str-icons-li"><i class="str-icon-check"></i></span>
		 			 								<span class="str-text-li">Tienes 1 hijo</span></li>
		 			 						</ul>
		 			 						<a href="pregunta-zurich-04.html" class="str-btn str-btn-primary">
		 			 							<span class="text-btn">Continuar</span>
		 			 						</a>
		 			 					</div>
		 			 				</div>
		 			 			</div>
					 		</section>
					 	</div>
					 <!--
						===== versión mobile ===== 
					 -->
				</div>
			</div>

	<form  action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }} novalidate>
				{{ form_widget(form.checked , { attr: {class: "form-control"  }})}}
			<div class="str-footer-btn hidden-mobile">
				<div class="str-left">
					<a href="javascript:history.back(1)" class="str-links-return">
						<i class="str-icon-flecha-izquierda"></i>
						<span class="text-btn">Volver</span>
					</a>
				</div>
				<div class="str-right">
					<button class="str-btn str-btn-primary" type="submit">
						<span class="text-btn">Continuar</span>
						<i class="str-icon-flecha-derecha"></i>
					</button>
				</div>
			</div>
					</form>
		</div>
{% endblock %}

