{% extends "PlanificadorBundle::front/base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var cantMax = 100
        var cantSel = 100
        var volver = 0
        var total = 0
    </script>
    <script src="{{ asset('assets/js/front/controller/front.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="str-container str-page-intro home">
        <div class="str-inset str-shadow-mobile">
            <div class="str-head-page">
                <div class="str-footer-btn hidden-mobile">
                    <img src="{{  asset('assets/img/front/')}}logo1.png" alt="">
                    <br/>
                </div>
                <div class="show-mobile">
                    <img src="{{  asset('assets/img/front/')}}logomovil.png" alt="">
                    <br/>
                </div>
                <br><br>
                <h2><strong>Bienvenido al Asesor de Seguros</strong></h2><br>
                <h3>Responde las preguntas y en pocos minutos tendrás las mejores opciones de Seguros para ti.</h3>
 		<br><br><br>
            </div>
            <div class="str-body-page">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <!--div class="str-mensaje-intro hidden-mobile">
                            <div class="popup-center-horizontal">
                                <div class="row">
                                    <div class="col-md-2">
                                        <span class="str-icons"><i class="str-icon-informacion"></i></span>
                                    </div>
                                    <div class="col-md-10">
                                        <p>No te tomará más de 5 minutos </p>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <!--div class="str-mensaje-mobile-intro show-mobile">

                            <div class="popup-center-horizontal">
                                <div class="row">
                                    <div class="col-md-2">
                                        <span class="str-icons"><i class="str-icon-informacion"></i></span>
                                    </div>
                                    <div class="col-md-10">
                                        <p>No te tomará más de 5 minutos </p>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>

                <div class="show-mobile">
                    <a href="{{ path('front_momentos') }}" class="str-btn str-btn-primary">
                        <span class="text-btn volverycontinuar">Comenzar</span>
                    </a>
                </div>
            </div>
        </div>

		<div class="hidden-mobile">
			<div class="popup-center-horizontal">
				<div class="row">
					<a onclick="OneClick(); return false;" href="" class="str-btn str-btn-primary">
							<span class="text-btn volverycontinuar">Comenzar</span>
							<i class="str-icon-flecha-derecha"></i>
					</a>
				</div>
			</div>
		</div>
    <script>
      var a = 0;
      function OneClick() {

        if ( !a ) {
          a = 1;
          location.href="{{ path('front_momentos') }}"
        }
      }
    </script>



			<!--<div class="str-right">
                <a class="str-btn-volver-destop str-btn-volver">
                    <i class="str-icon-flecha-izquierda"></i>
                    <span class="text-btn volverycontinuar">Salir</span>
                </a>
            </div>-->
            <!--<div class="col-md-4"></div>-->
            <!--<div class="str-left" >
                <a href="{{ path('front_momentos') }}" class="str-btn str-btn-primary">
                    <span class="text-btn volverycontinuar">Comenzar</span>
                    <i class="str-icon-flecha-derecha"></i>
                </a>
            </div>-->
        </div>
    </div>
{% endblock %}
