{% extends "PlanificadorBundle::front/base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}
  	
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/front/controller/front.js') }}"></script>	
     <script>
    var cantMax  = 0;
    var cantSel = 0;
    </script>
   
{% endblock %}

{% block body %}


		<div class="str-container str-page-loading">
			
			<div class="str-inset str-shadow-mobile">

				<div class="str-body-page">
<br/>
			 		<div class="str-loader-content">
 						<span class="str-icon-santander"></span>
 						<div class="uil-ring-css"><div></div></div>
 					</div>

 					<div class="str-head-page">
 						<h1 class="str-title-page">{{ nombre | capitalize}}, estamos preparando tu plan</h1>
 						<h2 class="str-subtitle-page">{{ resumen | raw}}</h2>
 					</div>
					 
				</div>
			</div>

		</div>
{% endblock %}