{% extends "PlanificadorBundle::front/base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var cantMax ={{ parametros.cantMax | json_encode | raw }}
                var cantSel ={{ parametros.maxSel | json_encode | raw }}
                var datos ={{ datos | json_encode | raw }}
                var tipo ={{ tipo }}
        var volver ={{ volver |json_encode| raw}}
                var total ={{ parametros.cantMax | json_encode | raw }}
    </script>

{% endblock %}

{% block body %}
    <div class="str-container">
        {% embed "PlanificadorBundle:front:navegacion.html.twig" with {active: '1'} %}
        {% endembed %}
        <div class="str-inset">
            <div class="str-head-page hidden-mobile">
                <h1 class="str-title-page">¿En qué momento de tu vida estás?</h1>
                <h2 class="str-subtitle-page">Debes seleccionar un <span class="semi-bold">máximo de {{ parametros. maxSel }} opciones</span></h2>
            </div>
            <div class="str-body-page">
                <section class="row center slider slider-intro">

                    <div class="col-md-3 show-mobile ">
                        <div class="inset-str-box str-message">
                            <div class="str-box str-shadow">
                                <h3 class="str-title-box str-color-primary">¿En qué momento de tu vida estás?</h3>

                                <div class="show-mobile offset-top-4"></div>

                                <div class="str-info-column">
                                    <div class="str-left">
                                        <div class="circle-info">
                                            <span class="min-text">max</span>
                                            <span class="max-text">3</span>
                                        </div>
                                    </div>
                                    <div class="str-right">
                                        <p>Debes seleccionar un <span class="semi-bold">máximo de {{ parametros.Maxsel }} opciones</span></p>
                                    </div>
                                </div>

                                <div class="show-mobile offset-top-3"></div>

                                <div class="str-info-column">
                                    <div class="str-left">
                                        <img src="{{asset('assets/img/front/')}}icon-deslizar.png" alt="">
                                    </div>
                                    <div class="str-right">
                                        <p>Desliza para avanzar o retroceder en las preguntas</p>
                                    </div>
                                </div>

                                <div class="show-mobile offset-top-3"></div>

                                <div class="str-info-column">
                                    <div class="str-left">
                                        <img src="{{asset('assets/img/front/')}}icon-tocar.png" alt="">
                                    </div>
                                    <div class="str-right">
                                        <p>Toca para seleccionar una respuesta</p>
                                    </div>
                                    <!--form action="{{ app.request.requestUri }}" method="post" name="geo" {{ form_enctype(form) }} novalidate>
                                        <input type="hidden" id="sin_nada" name='checked_form[checked]' class="form-control">
                                        <br>
                                        <button class="str-btn-volver" type='submit' name='volver' >
                                            <i class="str-icon-flecha-izquierda"></i>
                                            <span class="text-btn volverycontinuar">Volver</span>
                                        </button>
                                    </form-->
                                </div>
                            </div>
                        </div>
                    </div>

                    {# inicio momentos #}
                    {% for mom in datos %}
                        {% if mom.orderby > 0 %}
                            {% if loop.index <= parametros.cantMax %}
                                <div class="col-md-3">
                                    <div id="{{mom.id}}" class="inset-str-box" data-nom="{{mom.descripcion}}" ng-click="add({{ mom.id }})" class="prod">
                                        <a title="" class="str-box str-box-order">
                                            <div class="str-thumbs"><img src="{{asset('img/planificador/momentos/')}}{{ mom.ImagenTipo }}" alt=""></div>
                                            <div><h3 class="str-title-box">{{ mom.descripcion }}</h3></div>
                                            <span class="str-circle"><i class="str-icon-check"></i></span>
                                        </a>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {# Fin momentos #}

                    <div class="col-md-3 show-mobile remove-dots">
                        <div class="inset-str-box str-message-success">
                            <div class="str-box str-shadow">
                                <div class="str-icons"><i class="str-icon-check"></i></div>
                                <h3 ng-show='checked.length < 1' class="str-title">No has seleccionado momentos</h3>
                                <h3 ng-show='checked.length == 1' class="str-title">Has seleccionado {% verbatim %}{{ checked.length}}{%endverbatim%}  momento</h3>
                                <h3 ng-show='checked.length > 1' class="str-title">Has seleccionado {% verbatim %}{{ checked.length}}{%endverbatim%}  momentos</h3>
                                <ul class="str-list-check" ng-repeat="dat in nom">
                                    {%verbatim%}
                                        <li>
                                            <div >
                                                <table>
                                                    <tr>
                                                        <td><span class="str-icons-li"><i class="str-icon-check"></i></span></td>
                                                        <td><span class="str-text-li">{{dat.nombre}}</span><!--str-text-li--></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </li>
                                    {%endverbatim%}

                                </ul><br>
                                <form  action="{{ app.request.requestUri }}" method="post" id="geo" name="geo" {{ form_enctype(form) }} novalidate>
                                    {{ form_widget(form.checked , { attr: {class: "form-control"  }})}}

                                    <div class="str-footer-btn">

                                        <div class="str-right">
                                            <div ng-show="checked.length > 0">
                                                <button class="str-btn str-btn-primary btnContinue" type="submit">
                                                    <span class="text-btn volverycontinuar">Continuar</span>
                                                    <i class="str-icon-flecha-derecha"></i>
                                                </button>
                                            </div>
                                            <div ng-show="checked.length < 1">
                                                <div class="str-btn str-btn-primary" ng-click="alert()" class='continuar'>
                                                    <span class="text-btn volverycontinuar">Continuar</span>
                                                    <i class="str-icon-flecha-derecha"></i>
                                                </div>
                                            </div>
                                            <br>
                                            <button class="str-btn-volver btnBack " type='submit' name='volver' >
                                                <i class="str-icon-flecha-izquierda"></i>
                                                <span class="text-btn volverycontinuar">Volver</span>
                                            </button>

                                        </div>
                                    </div>
                                    {# <div class="str-left">
                            <form action="{{ app.request.requestUri }}" method="post" name="geo" {{ form_enctype(form) }} novalidate> #}


                                    {#	</form>
                                    </div>#}

                            </div>
                        </div>
                    </div>
                </section>

                <div class="show-mobile">
                    <p class="str-size-active hidden-no-dots">Has seleccionado
                        <strong>
                            <span class="active-size">{% verbatim %}{{ checked.length}}{%endverbatim%}</span> de {{ datos | length }} momentos
                        </strong>
					</p>

					<!--div class="buttonFooter hidden-no-dots">
                        <div ng-show="checked.length > 0">
                            <button class="str-btn str-btn-primary" ng-click="continua()">
                                <span class="text-btn volverycontinuar">Continuar</span>
                                <i class="str-icon-flecha-derecha"></i>
                            </button>
                        </div>
                        <div ng-show="checked.length < 1">
                            <div class="str-btn str-btn-primary" ng-click="alert()" class='continuar'>
                                <span class="text-btn volverycontinuar">Continuar</span>
                                <i class="str-icon-flecha-derecha"></i>
                            </div>
                        </div>
                        <br>
                        <button class="str-btn-volver" ng-click="volver()" name='volver'>
                            <i class="str-icon-flecha-izquierda"></i>
                            <span class="text-btn volverycontinuar">Volver</span>
                        </button>
					</div-->
                </div>
            </div>
        </div>


        {{ form_widget(form.checked , { attr: {class: "form-control"  }})}}
        <div class="str-footer-btn hidden-mobile">
            <div class="str-left">
                <a onclick="OneClickReturn(); return false;" href="" class="str-btn-volver str-btn-volver-destop">
                    <i class="str-icon-flecha-izquierda"></i>
                    <span class="text-btn volverycontinuar">Volver</span>
                </a>
            </div>
            <script>
              var a = 0;
              function OneClickReturn() {
                  if ( !a ) {
                    a = 1;
                    location.href="{{ path_token('front') }}"
                  }
              }
            </script>
            <div class="str-right" ng-show="checked.length > 0">
                <button onclick="OneClick(); return false;" class="str-btn str-btn-primary">
                    <span class="text-btn volverycontinuar">Continuar</span>
                    <i class="str-icon-flecha-derecha"></i>
                </button>
            </div>
            <script>
              var a = 0;
              function OneClick() {
                  if ( !a ) {
                    a = 1;
                    document.getElementById("geo").submit();
                  }
              }
            </script>
            <div class="str-right" ng-show="checked.length < 1">
                <div class="str-btn str-btn-primary" ng-click="alert()">
                    <span class="text-btn volverycontinuar">Continuar</span>
                    <i class="str-icon-flecha-derecha"></i>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
