
<div class="wizard">
	{% set ind = 1 %}	
	{% set ind_new = 5 %}
	{% set one = 1 %}
	{% set two = 2 %}
	{% set tres = 3 %}
	{% set cuatro = 4 %}
	{% for menu in menus %} 
     {% set active_anterior=active-1 %}
  <!--  <div ng-class="{ 'complete' :{# {{ind_new}} <= {{active_anterior}} #}" class="wizard-step">-->

  	<!--div ng-class="{ 'active' : {{ind}} == {{active}} > {{active}}, 'complete' : {{ind}} < {{active}} ? 'complete' : {{ind_new}} == {{active}} }" class="wizard-step"-->
	<div ng-class="{ 'complete' : {{ ind }} <= {{active}} }" class="wizard-step">
		<div class="wizard-text"><span> {{menu.Description}} </span> </div>
		<div class="wizard-dot">{{ind}}</div>
		<div class="wizard-progress"><div class="progress-bar"></div></div>
	</div>
	{% set ind=ind+1 %}
{% endfor %}
</div>

<div class="wizard-mobile">

	{% set id = 1 %}
	{% set final = 5 %}
	{% set titulo = "" %}
	{% set paso = "" %}
	{% for menu in menus %}
				{% if active is defined %}
					{% if active == id %}
						{% set titulo = menu.Description %}
						{% set progress = 20 %}
					{%elseif active == id %}
						{% set titulo = menu.Description %}
					    {% set paso = 2 %}
						{% set progress = 40 %}
					{%elseif active == id %}
						{% set paso = 3 %}
						{% set titulo = menu.Description %}
						{% set progress = 60 %}
					{%elseif active == id %}
						{% set paso = 4 %}
						{% set titulo = menu.Description %}
						{% set progress = 80 %}
					{% endif %}
				{% endif %}
			{% set id=id+1 %}
	{% endfor %}			
		<p class="title-wizard"><span class="wizard-dot"><span class="wizard-step">{{active}}</span></span>{{titulo}}</p>
		<p class="state-wizard">PASO <span class="wizard-step">{{active}}</span>/<span class="size-wizard">{{final}}</span></p>
		<span class="progress-wizard"><span class="inner-progress" style="width: {% if progress is defined %}{{ progress }}{% else %}100{% endif %}%;"></span></span>
	
		


	
</div>
	


	