<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Santander Zurich</title>
		
		<link rel="stylesheet" href="style/css/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="js/libs/jquery-v1.11.2.js" type="text/javascript"></script>
		<script src="js/libs/slick.min.js"></script>
	</head>
	<body>
		<div class="str-container">
			
			<!-- wizard -->
			<div class="wizard">
				<div class="wizard-step complete">
					<div class="wizard-text">1. <span>MOMENTO <br>DE TU VIDA</span></div>
					<div class="wizard-dot">1</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step complete">
					<div class="wizard-text">2. <span>¿QUÉ TE <br>PREOCUPA?</span></div>
					<div class="wizard-dot">2</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step complete">
					<div class="wizard-text">3. <span>¿CÓMO ES TU <br>FAMILIA?</span></div>
					<div class="wizard-dot">3</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step complete">
					<div class="wizard-text">4. <span>TUS GASTOS <br>MENSUALES</span></div>
					<div class="wizard-dot">4</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step active">
					<div class="wizard-text">5. <span>¿QUÉ SEGUROS <br>NO TIENES?</span></div>
					<div class="wizard-dot">5</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step ">
					<div class="wizard-text">6. <span>RESULTADO <br>ASESOR</span></div>
					<div class="wizard-dot">6</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
			</div>
			<div class="wizard-mobile">
				<p class="title-wizard"><span class="wizard-dot"><span class="step">1</span></span><span class="wizard-text"></span></p>
				<p class="state-wizard">PASO <span class="step">1</span>/<span class="size-wizard">5</span></p>
				<span class="progress-wizard"><span class="inner-progress" style="width: 100%;"></span></span>
			</div>
			<!-- /wizard -->


			<div class="str-inset">
				<div class="str-head-page hidden-mobile">
					<h1 class="str-title-page">¿Qué tipo de seguros ya tiene?</h1>
				</div>
				<div class="str-body-page">
					<section class="row center slider slider-intro">

						<div class="col-md-3 show-mobile remove-dots">
							<div class="inset-str-box str-message">
								<div class="str-box str-shadow">
									<h3 class="str-title-box str-color-primary">¿Qué tipo de seguros ya tienes?</h3>
									<p>Selecciona los seguros que ya tengas, aunque no los tengas contratados con nosotros</p>
									<div class="str-info-column offset-top-2">
										<div class="str-left">
											<img src="img/icon-deslizar.png" alt="">
										</div>
										<div class="str-right">
											<p>Desliza para avanzar o retroceder en las preguntas</p>
										</div>
									</div>
									<div class="str-info-column">
										<div class="str-left">
											<img src="img/icon-tocar.png" alt="">
										</div>
										<div class="str-right">
											<p>Toca para seleccionar una respuesta</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-3">
							<div class="inset-str-box">
								<a href="#;" title="" class="str-box str-box-order">
									<div class="str-thumbs"><img src="img/pregunta-05/01.jpg" alt=""></div>
									<h3 class="str-title-box">Seguro accidentes escolares</h3>
									<span class="str-circle"><i class="str-icon-check"></i></span>
								</a>
							</div>
						</div>

						<div class="col-md-3">
							<div class="inset-str-box">
								<a href="#;" title="" class="str-box str-box-order">
									<div class="str-thumbs"><img src="img/pregunta-05/02.jpg" alt=""></div>
									<h3 class="str-title-box">Seguro educación</h3>
									<span class="str-circle"><i class="str-icon-check"></i></span>
								</a>
							</div>
						</div>

						<div class="col-md-3">
							<div class="inset-str-box">
								<a href="#;" title="" class="str-box str-box-order">
									<div class="str-thumbs"><img src="img/pregunta-05/03.jpg" alt=""></div>
									<h3 class="str-title-box">Seguro salud catastrófico</h3>
									<span class="str-circle"><i class="str-icon-check"></i></span>
								</a>
							</div>
						</div>

						<div class="col-md-3">
							<div class="inset-str-box">
								<a href="#;" title="" class="str-box str-box-order">
									<div class="str-thumbs"><img src="img/pregunta-05/04.jpg" alt=""></div>
									<h3 class="str-title-box">Seguro complementario salud</h3>
									<span class="str-circle"><i class="str-icon-check"></i></span>
								</a>
							</div>
						</div>	



						<div class="col-md-3">
							<div class="inset-str-box">
								<a href="#;" title="" class="str-box str-box-order">
									<div class="str-thumbs"><img src="img/pregunta-05/05.jpg" alt=""></div>
									<h3 class="str-title-box">Seguro hogar no hipotecario</h3>
									<span class="str-circle"><i class="str-icon-check"></i></span>
								</a>
							</div>
						</div>	

						<div class="col-md-3">
							<div class="inset-str-box">
								<a href="#;" title="" class="str-box str-box-order">
									<div class="str-thumbs"><img src="img/pregunta-05/06.jpg" alt=""></div>
									<h3 class="str-title-box">Gastos isapre o Fonasa</h3>
									<span class="str-circle"><i class="str-icon-check"></i></span>
								</a>
							</div>
						</div>	

						<div class="col-md-3">
							<div class="inset-str-box">
								<a href="#;" title="" class="str-box str-box-order">
									<div class="str-thumbs"><img src="img/pregunta-05/07.jpg" alt=""></div>
									<h3 class="str-title-box">Seguro de vida</h3>
									<span class="str-circle"><i class="str-icon-check"></i></span>
								</a>
							</div>
						</div>	

						<div class="col-md-3">
							<div class="inset-str-box">
								<a href="#;" title="" class="str-box str-box-order">
									<div class="str-thumbs"><img src="img/pregunta-05/08.jpg" alt=""></div>
									<h3 class="str-title-box">Seguro auto</h3>
									<span class="str-circle"><i class="str-icon-check"></i></span>
								</a>
							</div>
						</div>



						<div class="col-md-3 show-mobile remove-dots">
							<div class="inset-str-box str-message-success">
								<div class="str-box str-shadow">
									<div class="str-icons"><i class="str-icon-check"></i></div>
									<h3 class="str-title">Has seleccionado 2 seguros</h3>
									<ul class="str-list-check">
										<li>
											<span class="str-icons-li"><i class="str-icon-check"></i></span>
											<span class="str-text-li">Seguro de vida</span>
										</li>
										<li>
											<span class="str-icons-li"><i class="str-icon-check"></i></span>
											<span class="str-text-li">Seguro auto</span>
										</li>
									</ul>
									<a href="resultado.html" class="str-btn str-btn-primary">
										<span class="text-btn">Continuar</span>
									</a>
								</div>
							</div>
						</div>					
					</section>

					<div class="show-mobile">
						<p class="str-size-active hidden-no-dots">Has seleccionado <strong><span class="active-size">1</span> de 8 momentos</strong></p>
					</div>
				</div>
			</div>

			<div class="str-footer-btn hidden-mobile">
                <div class="str-left">
					<a href="javascript:history.back(1)" class="str-links-return">
						<i class="str-icon-flecha-izquierda"></i>
						<span class="text-btn">Volver</span>
					</a>
				</div>
				<br>
				<div class="str-right">
					<a href="resultado.html" class="str-btn str-btn-primary">
						<span class="text-btn">Continuar</span>
						<i class="str-icon-flecha-derecha"></i>
					</a>
				</div>
				
			
			</div>
		</div>
		
		<script src="js/app/main.js"></script>
	</body>
</html>