{% extends "PlanificadorBundle::front/base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}
  	
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/front/controller/generico.js') }}"></script>   	
   	<script>
	   	var cantSel = 100
	   	var cantMax = 100
	   	var tipo = {{ pregunta.tipo.idTipo }};
	   	var respuestas = {{ respuestas }}
	   	var preguntas = {{ valores | json_encode | raw  }}

   	</script>
{% endblock %}


{% block body %}

	{% if pregunta.tipo.idTipo == 6 %}
		{{ include('PlanificadorBundle:front:layout/familia.html.twig') }}
	{% elseif pregunta.tipo.idTipo == 2 %}
		{{ include('PlanificadorBundle:front:layout/rango.html.twig') }}
	{% elseif pregunta.tipo.idTipo == 3 %}
		{{ include('PlanificadorBundle:front:layout/simple.html.twig') }}
	{% elseif pregunta.tipo.idTipo == 4 %}
		{{ include('PlanificadorBundle:front:layout/multiple.html.twig') }}
	{% elseif pregunta.tipo.idTipo == 5 %}
		{{ include('PlanificadorBundle:front:layout/gmensual.html.twig') }}
	{% elseif pregunta.tipo.idTipo == 1 %}
		{{ include('PlanificadorBundle:front:layout/true.html.twig') }}
	{% endif %}
	
{% endblock %}