{% extends "PlanificadorBundle::front/base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
         var cantMax ={{ parametros.cantMax | json_encode | raw }}
                 var cantSel ={{ parametros.maxSel | json_encode | raw }}
                 var tipo ={{ tipo }}
                 var volver ={{ volver |json_encode| raw}}
         var total ={{ datos|length }}
    </script>

    <script src="{{ asset('assets/js/front/controller/front.js') }}"></script>

{% endblock %}

{% block body %}
    <div class="str-container">

        {% embed "PlanificadorBundle:front:navegacion.html.twig" with {active: '2'} %}
        {% endembed %}


        <div class="str-inset">
            <div class="str-head-page hidden-mobile">
                <h1 class="str-title-page">¿Qué es lo que más te preocupa?</h1>
                <h2 class="str-subtitle-page">Debes seleccionar un <span class="semi-bold">máximo de {{parametros.maxSel }} opciones</span></h2>
            </div>
            <div class="str-body-page">
                <section class="row center slider slider-intro">
                    <div class="col-md-3 show-mobile ">
                        <div class="inset-str-box str-message">
                            <div class="str-box str-shadow">
                                <h3 class="str-title-box str-color-primary">¿Qué es lo que más te preocupa?</h3>

                                <div class="show-mobile offset-top-4"></div>

                                <div class="str-info-column">
                                    <div class="str-left">
                                        <div class="circle-info">
                                            <span class="min-text">max</span>
                                            <span class="max-text">3</span>
                                        </div>
                                    </div>
                                    <div class="str-right">
                                        <p>Debes seleccionar un <span class="semi-bold">máximo de {{parametros.maxSel }} opciones</span></p>
                                    </div>
                                </div>

                                <div class="show-mobile offset-top-3"></div>

                                <div class="str-info-column">
                                    <div class="str-left">
                                        <img src="{{  asset('assets/img/front/')}}icon-deslizar.png" alt="">
                                    </div>
                                    <div class="str-right">
                                        <p>Desliza para avanzar o retroceder en las preguntas</p>
                                    </div>
                                </div>

                                <div class="show-mobile offset-top-3"></div>

                                <div class="str-info-column">
                                    <div class="str-left">
                                        <img src="{{  asset('assets/img/front/')}}icon-tocar.png" alt="">
                                    </div>
                                    <div class="str-right">
                                        <p>Toca para seleccionar una respuesta</p>
                                    </div>
                                </div>
                                <form action="{{ app.request.requestUri }}" method="post" name="geo" {{ form_enctype(form) }} novalidate>
                                    <input type="hidden" id="sin_nada" name='checked_form[checked]' class="form-control">
                                    <br>
                                    <button class="str-btn-volver" type='submit' name='volver' >
                                        <i class="str-icon-flecha-izquierda"></i>
                                        <span class="text-btn volverycontinuar">Volver</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    {% for preocupacion in datos %}
                        {% if loop.index <= parametros.cantMax %}
                            <div class="col-md-3">
                                <div class="inset-str-box" id="{{ preocupacion.id }}" data-nom="{{preocupacion.descripcion}}" ng-click="add({{ preocupacion.id }})">
                                    <a  title="" class="str-box str-box-order" >
                                        <div class="str-thumbs"><img src="{{  asset('img/planificador/preocupaciones/')}}{{ preocupacion.ImagenTipo }}" alt=""></div>
                                        <div><h3 class="str-title-box" >{{ preocupacion.descripcion }}</h3></div>
                                        <span class="str-circle"><i class="str-icon-check"></i></span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% for preocupacion in datos %}
                        {% if loop.index > parametros.cantMax %}
                            <div class="col-md-3 onlyCarrouselMobile">
                                <div class="inset-str-box" id="{{ preocupacion.id }}" data-nom="{{preocupacion.descripcion}}" ng-click="add({{ preocupacion.id }})">
                                    <a  title="" class="str-box str-box-order" >
                                        <div class="str-thumbs"><img src="{{  asset('img/planificador/preocupaciones/')}}{{ preocupacion.ImagenTipo }}" alt=""></div>
                                        <h3 class="str-title-box" id="{{preocupacion.id}}" data-nom="{{preocupacion.descripcion}}">{{ preocupacion.descripcion }}</h3>
                                        <span class="str-circle"><i class="str-icon-check"></i></span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <div class="col-md-3 show-mobile remove-dots" >
                        <div class="inset-str-box str-message-success">
                            <div class="str-box str-shadow">
                                <div class="str-icons"><i class="str-icon-check"></i></div>
                                <h3 ng-show='checked.length < 1' class="str-title">No has seleccionado preocupaciones</h3>
                                <h3 ng-show='checked.length == 1' class="str-title">Has seleccionado {% verbatim %}{{ checked.length}}{%endverbatim%}  preocupación</h3>
                                <h3 ng-show='checked.length > 1' class="str-title">Has seleccionado {% verbatim %}{{ checked.length}}{%endverbatim%}  preocupaciones</h3>
                                <ul class="str-list-check" ng-repeat="dat in nom">
                                    {%verbatim%}
                                        <li>
                                            <div >
                                                <table>
                                                    <tr>
                                                        <td><span class="str-icons-li"><i class="str-icon-check"></i></span></td>
                                                        <td><span class="str-text-li">{{dat.nombre}}</span><!--str-text-li--></td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </li>
                                    {%endverbatim%}
                                </ul>
                                <form  action="{{ app.request.requestUri }}" method="post" id="geo" name="geo" {{ form_enctype(form) }} novalidate>
                                    <div class="str-footer-btn">
                                        {{ form_widget(form.checked , { attr: {class: "form-control"  }})}}
                                        <div class="str-footer-btn">
                                            <div ng-show="checked.length > 0">
                                                <button class="str-btn str-btn-primary btnContinue" type="submit">
                                                    <span class="text-btn volverycontinuar">Continuar</span>
                                                    <i class="str-icon-flecha-derecha"></i>
                                                </button>
                                            </div>
                                            <div ng-show="checked.length < 1">
                                                <div class="str-btn str-btn-primary" ng-click="alert()">
                                                    <span class="text-btn volverycontinuar">Continuar</span>
                                                    <i class="str-icon-flecha-derecha"></i>
                                                </div>
                                            </div>
                                            <br>
                                            <button class="str-btn-volver btnBack" type='submit' name='volver' >
                                                <i class="str-icon-flecha-izquierda"></i>
                                                <span class="text-btn volverycontinuar">Volver</span>
                                            </button>
                                        </div>
                                    </div>

                            </div>
                        </div>
                    </div>
                </section>
                {# esta en este lugar porque si se colocaba arriba aparecia para la version movil tanto los punticos de slider como pantallas vacias, y solo se queria ver mas opciones para la version de escritorio#}
            <!--    <section class="row center">-->
                <section class="row">
                    {% for preocupacion in datos %}
                        {% if loop.index > parametros.cantMax %}
                            <div class="col-md-3 ocultar" id="ocultar" style="display: none;">
                                <div class="inset-str-box" id="{{ preocupacion.id }}" ng-click="add({{ preocupacion.id }})">
                                    <a  title="" class="str-box str-box-order" >
                                        <div class="str-thumbs"><img src="{{  asset('img/planificador/preocupaciones/')}}{{ preocupacion.ImagenTipo }}" alt=""></div>
                                        <h3 class="str-title-box" id="{{preocupacion.id}}" data-nom="{{preocupacion.descripcion}}">{{ preocupacion.descripcion }}</h3>
                                        <span class="str-circle"><i class="str-icon-check"></i></span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </section>

                {% if datos|length > parametros.cantMax %}
                    <br>
                    <div  class="col-md-4 str-center displayNone hidden-mobile otrasPreocupaciones">
                        <a  ng-click="mostrar()" id="displayNone" class="str-links-return " href="#">
                            <i class="str-icon-flecha-abajo"></i>
                            <span class="str-title-page2">Otras Preocupaciones</span>
                        </a>
                    </div>
                {% endif %}

                <div class="show-mobile">
                    <p class="str-size-active hidden-no-dots">Has seleccionado <strong><span class="active-size">{% verbatim %}{{ checked.length}}{% endverbatim %}</span> de {{ datos|length }} preocupaciones</strong></p>

                    <!--div class="buttonFooter hidden-no-dots">
                        <div ng-show="checked.length > 0">
                            <button class="str-btn str-btn-primary" ng-click="continua()">
                                <span class="text-btn volverycontinuar">Continuar</span>
                                <i class="str-icon-flecha-derecha"></i>
                            </button>
                        </div>
                        <div ng-show="checked.length < 1">
                            <div class="str-btn str-btn-primary" ng-click="alert()" class='continuar'>
                                <span class="text-btn volverycontinuar">Continuar</span>
                                <i class="str-icon-flecha-derecha"></i>
                            </div>
                        </div>
                        <br>
                        <button class="str-btn-volver" ng-click="volver()" name='volver'>
                            <i class="str-icon-flecha-izquierda"></i>
                            <span class="text-btn volverycontinuar">Volver</span>
                        </button>
					</div-->
                </div>
            </div>
        </div>


        <div class="str-footer-btn hidden-mobile">
            <div class="str-left">
                <a onclick="OneClickReturn(); return false;" href="" class="str-btn-volver str-btn-volver-destop">
                    <i class="str-icon-flecha-izquierda"></i>
                    <span class="text-btn volverycontinuar">Volver</span>
                </a>
            </div>
            <script>
              var a = 0;
              function OneClickReturn() {
                  if ( !a ) {
                    a = 1;
                    location.href="{{ path('front_momentos') }}"
                  }
              }
            </script>
            <div class="str-right" ng-show="checked.length > 0">
                <button onclick="OneClick(); return false;" class="str-btn str-btn-primary">
                    <span class="text-btn volverycontinuar">Continuar</span>
                    <i class="str-icon-flecha-derecha"></i>
                </button>
            </div>
            <script>
              var a = 0;
              function OneClick() {
                  if ( !a ) {
                    a = 1;
                    document.getElementById("geo").submit();
                  }
              }
            </script>
            <div class="str-right" ng-show="checked.length < 1">
                <div class="str-btn str-btn-primary" ng-click="alert()">
                    <span class="text-btn volverycontinuar">Continuar</span>
                    <i class="str-icon-flecha-derecha"></i>
                </div>
            </div>

        </div>
    </form>
</div>


{% endblock %}
