
{% extends "PlanificadorBundle::front/base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/front/controller/resultado.js') }}"></script>
    <script type="text/javascript">
        var cantMax = 100
        var cantSel = 100
    </script>
{% endblock %}

{% block body %}
    <div class="str-container str-page-result">
        {% if arregloPresentacion %}

        {% else %}
            {% embed "PlanificadorBundle:front:navegacion.html.twig" with {active: '5'} %}{% endembed %}
        {% endif %}

{% for idarbol in ids %}
    <input type="hidden" name="" value="{{idarbol}}">
{% endfor %}

    {% if arregloPresentacion %}
        <div class="str-inset str-content-circle str-plan-fx">
            <div class="str-head-page">
                <div class="str-circle-success"><i class="str-icon-check"></i></div>

                <h1 class="str-title-page">{{ nombre |capitalize}}, completaste el asesor con éxito</h1>
                <h2 class="str-subtitle-page">Te recomendamos los siguientes seguros</h2>

            </div>
            <div class="str-body-page offset-top-4 offset-bottom-4">
                {% for producto in arregloPresentacion %}
                    <div class="str-collapse-seguro">
                        <div class="str-collapse-head">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="str-custom-checkbox" >
										<input id="{{ producto.idplan }}" name="checkbox" type="checkbox" value="{{ producto.idplan }}" class="prod">
                                        <label for="{{ producto.idplan }}" ng-click="add({{ producto.idplan }})"><span class="str-custom"></span></label>
                                    </div>

                                    <div class="str-icons hidden-mobile"><img src="{{  asset('img/planificador/productos/')}}{{producto.imagentipo}}" alt=""></div>
                                </div>
                                <div class="col-md-9">
                                    <div class="row  row-eq-height">
                                        <div class="col-md-11">
                                            <div class="str-info-seguro">
                                                <h3>{{producto.Nombre}} - {{producto.plan}}</h3>
												<p class="hidden-mobile">{{producto.Descripcion| raw}}</p>
                                            </div>
                                            {% if producto.Price!='' %}
                                                <div class="str-monto-seguro">
                                                    <p class="str-desde">Desde:</p>
                                                    <p class="str-prima"><span class="str-monto">{{producto.Price | monthly(uf.value) }} </span> <span class="str-mensual">mensuales</span></p>
                                                </div>
                                            {% endif %}
                                             <div class="str-info-li hidden-mobile">
                                                <ul class="str-list-check">
                                                    {% if producto.coberturas %}
                                                        {% for cobertura in producto.coberturas %}
                                                            <li>
                                                                <span class="str-icons-li"><i class="str-icon-check"></i></span>
                                                                <span class="str-text-li">{{cobertura.text}}</span>
                                                            </li>
                                                        {% endfor %}
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-1 moreIcon">
                                            <a href="#;" title="" class="str-event-collapse">
                                                <i class="str-icon-flecha-abajo"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="str-collapse-body">
                            <div class="str-collapse-body-inner">
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="show-mobile offset-bottom-4">
                                            <ul class="str-list-check">
                                                {% if producto.coberturas %}
                                                    {% for cobertura in producto.coberturas %}
                                                        <li>
                                                            <span class="str-icons-li"><i class="str-icon-check"></i></span>
                                                            <span class="str-text-li">{{cobertura.text}}</span>
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        </div>


                                        <h4 class="str-subtitle-collapse">¿Qué cubre?</h4>

                                        <div class="str-list-bullet">

                                            <span>
                                                {{producto.cubre|raw}}
                                            </span>

                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <h4 class="str-subtitle-collapse">¿Qué no cubre?</h4>
                                        <div class="str-list-bullet">
                                            <span>
                                                {{producto.nocubre | raw}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="str-footer-btn str-footer-center show-mobile">
                <div class="str-left">
                    <a name="volver" href="{{ path_token('front') }}" class="str-btn-volver str-btn-volver-destop3">
                        <i class="str-icon-flecha-izquierda"></i>
                        <span class="text-btn">Repetir asesor</span>
                    </a>
                </div>
                <div class="str-center">

                </div>
                <form id="frmResult"  action="{{ app.request.requestUri }}" method="post"  {{ form_enctype(form) }} novalidate>
                    {{ form_widget(form.checked , { attr: {class: "form-control"  }})}}
                    <div class="str-right">
                        <button class="str-btn str-btn-primary web20" type="submit" >
                            <span class="text-btn">Me Interesa, quiero contratar</span>
                        </button>
                    </div>
            </div>


            <div class="str-footer-btn str-footer-center hidden-mobile">
                <div class="str-left">
                    <a onclick="OneClickReturn(); return false;" name="volver" href="" class="str-btn-volver str-btn-volver-destop2">
                        <i class="str-icon-flecha-izquierda"></i>
                        <span class="text-btn">Repetir Aasesor</span>
                    </a>
                </div>
                <script>
                  var a = 0;
                  function OneClickReturn() {
                      if ( !a ) {
                        a = 1;
                        location.href="{{ path_token('front') }}"
                      }
                  }
                </script>
                <div class="str-center">

                </div>
                <div class="str-right">
                     <button class="str-btn str-btn-primary web20" type="submit">
                        <span class="text-btn">Me interesa, quiero contratar</span>
                        <i class="str-icon-flecha-derecha"></i>
                    </button>
                </div>
            </div>
        {% else %}
            <div class="str-footer-btn hidden-mobile">

                <section class="row center slider slider-intro">

                                <div class="inset-str-box str-inset st-relative-planificador">
                                <div class="row">
                                    <div class="">
                                        <div class="str-circle-success"><i class="str-icon-check"></i></div>
                                        <div class="show-mobile offset-top-2"></div>

                                        <div class="col-md-6">
                                            <div class="str-left">
                                                <h1 class="str-title-page top-75" align="justify"><b>¡Felicidades {{ nombre |capitalize}}!</b> </h1>
                                                <h2 class="str-subtitle-page" align="justify"><b>Según tus respuestas en Nuestro Asesor, estás muy bien asegurado(a).</b>
                                                <br/><br/>  <br/>
                                                <div class="show-mobile offset-top-5"></div>
                                                Te invitamos a cotizar más seguros para apoyarte a <b>proteger lo que más te importa.</b></h2>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row" >
                                                <div class="col-md-offset-2 col-md-10">
                                                    <div class="str-info-form">
                                                        <img src="{{  asset('assets/img/front/')}}familia.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="show-mobile offset-top-4"></div><br/>
                                    <img src="{{  asset('assets/img/front/')}}sinsegurologo1.png" alt="">
                            </div>


                            <div class="str-footer-btn str-footer-center hidden-mobile">

                             <div class="str-left">
                                <a name="volver" href="{{ path_token('front') }}" class="str-btn str-btn-volver">
                                        <i class="str-icon-flecha-izquierda"></i>
                                        <span class="text-btn">Repetir asesor</span>
                                </a>
                            </div>

                            <div class="str-center">

                            </div>

                            <div class="str-right">
                                <a name="volver" href="../customers/info/" class="str-btn str-btn-primary">
                                    <span class="text-btn volverycontinuar">Ver más seguros</span>
                                    <i class="str-icon-flecha-derecha"></i>
                                </a>
                            </div>
                        </div>
                </section>

            </div>


                         <div class="show-mobile">
                            <div class="str-box str-shadow str-box-min">
                                <div class="str-head-page">
                                    <img src="{{  asset('assets/img/front/')}}logomovil2.png" alt="">         <br/>

                                        <div class="str-left">
                                            <h1 class="str-title-page"><b align="justify">Felicidades! {#{{ nombre |capitalize}}#} </b> </h1>
                                            <h2 class="str-subtitle-page"><b>Según tus respuestas en Nuestro Asesor, estás muy bien asegurado(a).</b>
                                            <div class="show-mobile offset-top-1"></div>
                                            Te invitamos a cotizar más seguros para apoyarte a <b>proteger lo que más te importa.</b></h2>

                                        </div>
                                    <div class="show-mobile offset-top-5"></div>


                                        <div class="str-left">
                                            <a href="{{ path_token('front') }}" title="" class="str-btn str-btn-primary" data-dismiss="modal">
                                                <span class="text-btn">Repetir asesor</span>
                                            </a>
                                        </div>


                                </div>
                            </div>
                    </div>


            {% endif %}






            </form>

            <!-- Modal -->

        {% endblock %}
