	{% extends "PlanificadorBundle::front/base.html.twig" %}

	{% block title %}Santander. Planificador{% endblock %}

	{% block stylesheets %}
	{{ parent() }}

	{% endblock %}

	{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/front/controller/resultado.js') }}"></script>	
	<script type="text/javascript">
		var cantMax = 100
		var cantSel = 100
	</script>  
	{% endblock %}

	{% block body %}
	<div class="str-container str-page-result">

		{% if arregloPresentacion %}
		<div class="str-inset str-content-circle">
			<div class="str-head-page">
				<div class="str-circle-success"><i class="str-icon-check"></i></div>
				<h1 class="str-title-page">Muchas gracias por contratar tu seguro con nosotros</h1>
				<h2 class="str-subtitle-page">Tus seguros contratados son:</h2>
			</div>
		<div class="str-body-page offset-top-4">


				{% for producto in arregloPresentacion %}			 		
				<div class="str-collapse-seguro">
					<div class="str-collapse-head">
						<div class="str-icons hidden-mobile"><img src="{{  asset('img/planificador/productos/')}}{{producto.imagentipo}}" alt=""></div>
						<div class="str-info-seguro">
							<h3>{{producto.Nombre}} - {{producto.plan}}</h3>
							<p class="hidden-mobile">{{producto.Descripcion| raw}}</p>
						</div>

						<div class="str-monto-seguro">
							<p class="str-desde">Desde:</p>
							<p class="str-prima"><span class="str-monto">{{producto.Price | monthly(uf.value) }} </span> <span class="str-mensual">mensuales</span></p>
						</div>

						<div class="str-info-li hidden-mobile">

							<ul class="str-list-check">
								{% for cobertura in producto.coberturas %}
								<li>
									<span class="str-icons-li"><i class="str-icon-check"></i></span>
									<span class="str-text-li">{{cobertura.text}}</span>
								</li>
								{% endfor %}
							</ul>
						</div>

						<a href="#;" title="" class="str-event-collapse"><i class="str-icon-flecha-abajo"></i></a>
					</div>

					<div class="str-collapse-body">
						<div class="str-collapse-body-inner">
							<div class="row">
								<div class="col-md-6">

									<div class="show-mobile offset-bottom-4">
										<ul class="str-list-check">
											{% for cobertura in producto.coberturas %}
											<li>
												<span class="str-icons-li"><i class="str-icon-check"></i></span>
												<span class="str-text-li">{{cobertura.text}}</span>
											</li>
											{% endfor %}
										</ul>
									</div>

									<h4 class="str-subtitle-collapse">¿Qué cubre?</h4>

									<div class="str-list-bullet">

										<span>
											{{producto.cubre|raw}}
										</span>

									</div>
								</div>

								<div class="col-md-6">
									<h4 class="str-subtitle-collapse">¿Qué no cubre?</h4>
									<div class="str-list-bullet">
										<span>
											{{producto.nocubre |raw}}
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="str-footer-btn str-footer-center show-mobile">
				<div class="str-left">
					<a href="{{ path_token('lguplanif') }}"  class="str-links-return str-color-primary">
						<span class="text-btn">Repetir asesor</span>
					</a>
				</div>
			</div>


			<div class="str-footer-btn str-footer-center hidden-mobile">
				<div class="str-left">
					<a href="{{ path_token('lguplanif') }}" class="str-links-return">
						<i class="str-icon-flecha-izquierda"></i>
						<span class="text-btn">Repetir asesor</span>
					</a>
				</div>
				
			</div>
		
				{% endif %}

				
			</form>
			{% endblock %}