{% extends "PlanificadorBundle::front/base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}
  	
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/front/controller/front.js') }}"></script>
    <script type="text/javascript">
    	var cantMax = {{ parametros.cantMax | json_encode | raw }}
    	var cantSel = {{ parametros.maxSel | json_encode | raw }}
    </script>   	
    
{% endblock %}

{% block body %}


		<div class="str-container">
			
			<!--
				===== wizard =====
			-->
			<div class="wizard">
				<div class="wizard-step complete">
					<div class="wizard-text">1. <span>MOMENTO <br>DE TU VIDA</span></div>
					<div class="wizard-dot">1</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step complete">
					<div class="wizard-text">2. <span>¿QUÉ TE <br>PREOCUPA?</span></div>
					<div class="wizard-dot">2</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step complete">
					<div class="wizard-text">3. <span>¿CÓMO ES TU <br>FAMILIA?</span></div>
					<div class="wizard-dot">3</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step active">
					<div class="wizard-text">4. <span>TUS GASTOS <br>MENSUALES</span></div>
					<div class="wizard-dot">4</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step">
					<div class="wizard-text">5. <span>¿QUÉ SEGUROS <br> NO TIENES?</span></div>
					<div class="wizard-dot">5</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
				<div class="wizard-step">
					<div class="wizard-text">6. <span>RESULTADO <br>ASESOR</span></div>
					<div class="wizard-dot">6</div>
					<div class="wizard-progress"><div class="progress-bar"></div></div>
				</div>
			</div>
			<div class="wizard-mobile">
				<p class="title-wizard"><span class="wizard-dot"><span class="step">1</span></span><span class="wizard-text"></span></p>
				<p class="state-wizard">PASO <span class="step">1</span>/<span class="size-wizard">5</span></p>
				<span class="progress-wizard"><span class="inner-progress" style="width: 40%;"></span></span>
			</div>
			<!--
				===== /wizard =====
			-->

			<div class="str-inset">
				<div class="str-head-page hidden-mobile">
					<h1 class="str-title-page">¿Cómo es tu familia?</h1>
				</div>


				<div class="str-body-page">

			 		<section class="row center slider slider-intro">	

			 			<div class="col-md-6 show-mobile remove-dots">
			 				<div class="inset-str-box str-message">
			 					<div class="str-box str-shadow">
			 						<h3 class="str-title-box str-color-primary">¿Cuáles son tus gastos mensuales en el hogar?</h3>
			 						<p>A continuación debes escribir los montos que mensualmente gastas en tu hogar en las secciones correspondientes</p>
			 						
			 						<div class="offset-top-3">
			 							<div class="thumbs-center">
			 								<img src="img/icon-deslizar.png" alt="">
			 							</div>
			 							<p class="offset-top-1">Desliza para avanzar o retroceder en las preguntas</p>
			 						</div>
			 					</div>
			 				</div>
			 			</div>
			 			
						<div class="col-md-6">
							<div class="inset-str-box">
								<div class="str-box str-box-check">
									<h3 class="str-title-box semi-bold show-mobile">Alimentos</h3>

									<div class="str-left">
										<div class="str-thumbs"><img src="img/pregunta-04/08.jpg" alt=""></div>
									</div>

									<div class="str-right">
										<h3 class="str-title-box semi-bold hidden-mobile">Alimentos</h3>
										
										<div class="str-input-box">
											<input class="str-input" type="text" placeholder="Ingresa monto">
											<i class="str-icon-check2"></i>
										</div>	
										
										<div class="str-custom-checkbox">
								            <input id="check-01" name="checkbox" type="checkbox" value="">
								            <label for="check-01"><span class="str-custom"></span> <span class="label-text">No tengo este gasto</span></label>
								        </div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="inset-str-box">
								<div class="str-box str-box-check">
									<h3 class="str-title-box semi-bold show-mobile">Transportes</h3>

									<div class="str-left">
										<div class="str-thumbs"><img src="img/pregunta-04/01.jpg" alt=""></div>
									</div>

									<div class="str-right">
										<h3 class="str-title-box semi-bold hidden-mobile">Transportes</h3>
										
										<div class="str-input-box">
											<input class="str-input" type="text" placeholder="Ingresa monto">
											<i class="str-icon-check2"></i>
										</div>	
										
										<div class="str-custom-checkbox">
								            <input id="check-02" name="checkbox" type="checkbox" value="">
								            <label for="check-02"><span class="str-custom"></span> <span class="label-text">No tengo este gasto</span></label>
								        </div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-6">
							<div class="inset-str-box">
								<div class="str-box str-box-check">
									<h3 class="str-title-box semi-bold show-mobile">Cuentas básicas</h3>

									<div class="str-left">
										<div class="str-thumbs"><img src="img/pregunta-04/02.jpg" alt=""></div>
									</div>

									<div class="str-right">
										<h3 class="str-title-box semi-bold hidden-mobile">Cuentas básicas</h3>
										
										<div class="str-input-box">
											<input class="str-input" type="text" placeholder="Ingresa monto">
											<i class="str-icon-check2"></i>
										</div>	
										
										<div class="str-custom-checkbox">
								            <input id="check-03" name="checkbox" type="checkbox" value="">
								            <label for="check-03"><span class="str-custom"></span> <span class="label-text">No tengo este gasto</span></label>
								        </div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-6">
							<div class="inset-str-box">
								<div class="str-box str-box-check">
									<h3 class="str-title-box semi-bold show-mobile">Educación (Mensualidad)</h3>

									<div class="str-left">
										<div class="str-thumbs"><img src="img/pregunta-04/03.jpg" alt=""></div>
									</div>

									<div class="str-right">
										<h3 class="str-title-box semi-bold hidden-mobile">Educación (Mensualidad)</h3>
										
										<div class="str-input-box">
											<input class="str-input" type="text" placeholder="Ingresa monto">
											<i class="str-icon-check2"></i>
										</div>	
										
										<div class="str-custom-checkbox">
								            <input id="check-04" name="checkbox" type="checkbox" value="">
								            <label for="check-04"><span class="str-custom"></span> <span class="label-text">No tengo este gasto</span></label>
								        </div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-6">
							<div class="inset-str-box">
								<div class="str-box str-box-check">
									<h3 class="str-title-box semi-bold show-mobile">Dividendos o arriendo</h3>

									<div class="str-left">
										<div class="str-thumbs"><img src="img/pregunta-04/04.jpg" alt=""></div>
									</div>

									<div class="str-right">
										<h3 class="str-title-box semi-bold hidden-mobile">Dividendos o arriendo</h3>
										
										<div class="str-input-box">
											<input class="str-input" type="text" placeholder="Ingresa monto">
											<i class="str-icon-check2"></i>
										</div>	
										
										<div class="str-custom-checkbox">
								            <input id="check-05" name="checkbox" type="checkbox" value="">
								            <label for="check-05"><span class="str-custom"></span> <span class="label-text">No tengo este gasto</span></label>
								        </div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-6">
							<div class="inset-str-box">
								<div class="str-box str-box-check">
									<h3 class="str-title-box semi-bold show-mobile">Otros</h3>

									<div class="str-left">
										<div class="str-thumbs"><img src="img/pregunta-04/05.jpg" alt=""></div>
									</div>

									<div class="str-right">
										<h3 class="str-title-box semi-bold hidden-mobile">Otros</h3>
										
										<div class="str-input-box">
											<input class="str-input" type="text" placeholder="Ingresa monto">
											<i class="str-icon-check2"></i>
										</div>	
										
										<div class="str-custom-checkbox">
								            <input id="check-06" name="checkbox" type="checkbox" value="">
								            <label for="check-06"><span class="str-custom"></span> <span class="label-text">No tengo este gasto</span></label>
								        </div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-6">
							<div class="inset-str-box">
								<div class="str-box str-box-check">
									<h3 class="str-title-box semi-bold show-mobile">Asistente del hogar</h3>

									<div class="str-left">
										<div class="str-thumbs"><img src="img/pregunta-04/06.jpg" alt=""></div>
									</div>

									<div class="str-right">
										<h3 class="str-title-box semi-bold hidden-mobile">Asistente del hogar</h3>
										
										<div class="str-input-box">
											<input class="str-input" type="text" placeholder="Ingresa monto">
											<i class="str-icon-check2"></i>
										</div>	
										
										<div class="str-custom-checkbox">
								            <input id="check-07" name="checkbox" type="checkbox" value="">
								            <label for="check-07"><span class="str-custom"></span> <span class="label-text">No tengo este gasto</span></label>
								        </div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-6">
							<div class="inset-str-box">
								<div class="str-box str-box-check">
									<h3 class="str-title-box semi-bold show-mobile">Dividendos</h3>

									<div class="str-left">
										<div class="str-thumbs"><img src="img/pregunta-04/07.jpg" alt=""></div>
									</div>

									<div class="str-right">
										<h3 class="str-title-box semi-bold hidden-mobile">Dividendos</h3>
										
										<div class="str-input-box">
											<input class="str-input" type="text" placeholder="Ingresa monto">
											<i class="str-icon-check2"></i>
										</div>	
										
										<div class="str-custom-checkbox">
								            <input id="check-08" name="checkbox" type="checkbox" value="">
								            <label for="check-08"><span class="str-custom"></span> <span class="label-text">No tengo este gasto</span></label>
								        </div>
									</div>
								</div>
							</div>
						</div>


						<div class="col-md-6 show-mobile remove-dots">
							<div class="inset-str-box str-message-success">
								<div class="str-box str-shadow">
									<div class="str-icons"><i class="str-icon-check"></i></div>
									<h3 class="str-title semi-light">Total de tus gastos</h3>
									<div class="str-total">
										<img src="img/icon-billetera.png" alt="">
										<p>$ 1.720.000</p>
									</div>
									<table class="str-table-simple">
										<tbody>
											<tr>
												<th>Alimentos</th>
												<td>$250.000</td>
											</tr>
											<tr>
												<th>Transporte</th>
												<td>$80.000</td>
											</tr>
											<tr>
												<th>Cuentas básicas</th>
												<td>$170.000</td>
											</tr>
											<tr>
												<th>Educación</th>
												<td>$220.000</td>
											</tr>
											<tr>
												<th>Dividendo o arriendo</th>
												<td>$300.000</td>
											</tr>
											<tr>
												<th>Otros</th>
												<td>$300.000</td>
											</tr>
											<tr>
												<th>Asistente del hogar</th>
												<td>$400.000</td>
											</tr>
										</tbody>
									</table>
									<a href="pregunta-zurich-05.html" class="str-btn str-btn-primary">
										<span class="text-btn">Continuar</span>
									</a>
								</div>
							</div>
						</div>


			 		</section>
					 
				</div>
			</div>


			<div class="str-footer-btn hidden-mobile">
				<div class="str-left">
					<a href="javascript:history.back(1)" class="str-links-return">
						<i class="str-icon-flecha-izquierda"></i>
						<span class="text-btn">Volver</span>
					</a>
				</div>
				<div class="str-right">
					<a href="pregunta-zurich-05.html" class="str-btn str-btn-primary">
						<span class="text-btn">Continuar</span>
						<i class="str-icon-flecha-derecha"></i>
					</a>
				</div>
			</div>
		</div>
{% endblock %}