body {
  background-color: #F0F0F0;
  color: $color-base;
}

.sts {
  
  &-wrapper {
    margin-bottom: 30px;
    font-family: $font-base;

    strong,
    .sts-text-bold {
      font-family: $font-family-bold;
      font-weight: bold!important;
    }


    //mostrar y/o ocultar
    .sts-hide { display: none; }
    .sts-show { display: block; }


    // reset margen
    .sts-reset-margen { margin: 0;}


    // colores
    .sts-color {
      &--base    { color: $color-base; }
      &--primary   { color: $color-principal; }
      &--secondary { color: $color-secundario; }
    }

    // colores
    .sts-bg-color {
      &--base    { background-color: $color-base; }
      &--primary   { background-color: $color-principal; }
      &--secondary { background-color: $color-secundario; }
    }





    // fuentes
    .sts-text {
      &-light    { font-family: $font-family-light; font-weight: 300!important; }
      &-regular  { font-family: $font-family-regular; font-weight: 500!important; }
      &-semi     { font-family: $font-family-semi; font-weight: 600!important; }
      &-bold     { font-family: $font-family-bold; font-weight: 700!important; }


      //
      &-left   { text-align: left; }
      &-center { text-align: center; }
      &-right  { text-align: right; }
    }


   
    



    //animaciones
    .sts-animate--fadeIn {
      @extend .animated;
      @extend .fadeIn;
    }


    // subtitulo
    .sts-subtitle {
      font-size: 14px;
      font-weight: normal;
      margin-bottom: 24px;
    }


    // alineaciones
    .sts {
      &-align--right {
        float: right;
        clear: both;
      }
    }


    // extend para color de fondo
    .sts-bg {
      border: 1px solid #DDD;
      background-color: lighten($color-base, 70%);
    }


    // alineaciones de textos
    .sts-text {
      &--left   { text-align: left; }
      &--center { text-align: center; }
      &--right  { text-align: right; }
    }

    /*
      ==============================
      Títulos
      ==============================    
    */
    .sts {

      &-h1,
      &-h2,
      &-h3,
      &-h4 {
        font-weight: 100;
      }

      &-h1 {
        font-size: $h1;
      }

      &-h2 {
        font-size: $h2;
      }

      &-h3 {
        font-size: $h3
      }
    }

  }



  &-webpay-pay {
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }





  // 
 &-row--table {
   @media (min-width: $desktop) {
     & {
      display: table;
      width: 100%;
   
   
      [class*="col-md"] {
        float: none!important;
        display: table-cell;
      }
     }
   }
 }
  
}

// class offset-margin-top-x
@mixin offset-margin($margin, $value){
  margin-#{$margin}: $value!important;
}

@for $i from 1 through 6 {
  @each $margin in top, left, bottom, right {

    .offset-#{$margin}-#{$i}{
      @include offset-margin($margin, 10px * $i)
    }

  }
}