
.sts {
  &-btn {
    border-radius: 30px;
    padding: 12px 40px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    transition: all .3s ease;
    color: white;
    font-size: 15px;
    border: 0;
    cursor: pointer;
    // font-family: $font-family-semi;
    // font-weight: 600;
    background-color: $color-principal;

    &[disabled] {
      background-color: #C2C2C2;
    }
    

    &:hover:not(.sts-btn--return) {
      background-color: $color-base;
    }

    &:not(.sts-btn--return) {
      min-width: 240px;
      max-width: 312px;
    }

    [class*="flecha"] {
      font-size: 12px;
      position: relative;
      top: 0px;
    }




     /*
      ==============================
      Modificacion: boton volver
      ==============================    
    */
    &--return {
      padding: 0;
      color: $color-base;
      position: relative;
      background-color: transparent;

      i {
        font-size: 11px;
        margin-right: 10px;
      }

      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 1px;
        bottom: -8px;
        right: 0;
        left: 0;
        margin: 0 auto;
        background-color: #808080;
        transition: all .3s ease;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }
    }   



    /*
      ==============================
      Modificacion: boton secundario blanco
      ==============================    
    */
    &--second {
      color: $color-principal;
      border: 1px solid #C2C2C2; 
      background-color: white;

      &:hover {
        border-color: $color-base; 
        color: $color-base;
        background-color: white!important;
      }
    }
  }



    /*
      ==============================
      Text links
    ==============================    
    */
  &-text-links {
    color: $color-principal;
    font-size: 12px;
    padding: 8px;
    border-radius: 4px;
    position: relative;
    text-decoration: none;
    transition: .2s ease;

    i + span {
      margin-left: 8px;
    }


    // &:before {
    //   content: "";
    //   position: absolute;
    //   width: 0;
    //   height: 1px;
    //   bottom: -5px;
    //   right: 0;
    //   left: 0;
    //   margin: 0 auto;
    //   background-color: $color-principal;
    //   transition: all .3s ease;
    // }


    &:hover {
      background-color: #F2F2F2;
    }


    &--small {
      span {
        font-size: 12px;
        font-family: $font-family-semi;
      }

      .str-icon-flecha-derecha {
        font-size: 9px;
      }
    }
  }

}


[disabled] {
  pointer-events: none;
}

