
.sts {
  

  /*
    ==============================
    Bloque superior página
    ==============================    
  */
  &-head-wrap {
    text-align: center;
    margin-top: 30px;

    &__title {
      margin-bottom: 12px;
      @extend strong;
    }

    p {
      font-size: 14px;
    }
  }




  /*
    ==============================
    Bloque blanco
    ==============================    
  */
  &-block {
    display: table;
    width: 100%;
    position: relative;
    margin-top: 16px;
    border: 1px solid #DDDDDD;
    box-shadow: 0 2px 4px 0 rgba(25,25,25,0.10);
    border-radius: 4px;
    background: white;




    //Head
    &__head {
      padding: 22px 25px;
      border-bottom: 1px solid $color-border;

      h2 {
        font-size: 16px;
        margin-bottom: 0;
        font-family: $font-family-semi;
      }
    }


    //Body
    &__body {
      

      &-inner {
        padding: 22px 25px;

        //block 

        &.sts-border {
          border-bottom: 1px solid $color-border;
        }


        @media (max-width: $tablet) {
          & {
            .sts-info-form {
              margin-bottom: 15px;
            }

            .row--block-not-mobile {
              margin-top: 0!important;
            }
          }
        }
      }
    }

      





    //////////legales
    &--toggle {

      &__head {
        padding: 19px 25px;
        display: block;
        text-decoration: none;
        color: $color-base;
        font-size: 14px;
        font-family: $font-family-semi;
        font-weight: 500;
        position: relative;

        [class*="str-icon"] {
          position: absolute;
          top: 50%;
          right: 25px;
          color: $color-principal;
          font-size: 12px;
          transform: translate(0, -50%);
        }
      }

      &__body { 
        display: none; 
        padding: 0 25px 25px 25px;
        font-size: 10px;
      }



      // active
      &.sts-toggle--active {

        .sts-block--toggle {
          &__head {
            i:before {
              content: '\e979';
            }
          }

          &__body { display: block; }
        }
      }
    }


    

    ///////////small
    &--small {
      
      margin-left: auto;
      margin-right: auto;


      @media (min-width: 700px) {
        & {
          width: 680px;
        }
      }


      @media (max-width: 699px) {
        & {
          width: 100%;
        }
      }
    } 



    //////////  con icons superior
    &--icons {
      padding-top: 50px;
    }


    //////////  con icons superior
    &--home {
      padding-bottom: 13px;
      text-align: center;
      padding-left: 15px;
      padding-right: 15px;

      h1 {
        font-size: 24px;
        font-family: $font-family-regular;
        font-weight: 100;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
      }
    }
    




    &__header {
      text-align: center;

      .sts-h3 {
        @extend strong;
      }

      .sts-required {
        font-size: 11px;
      }
     

      &-icon {
        position: absolute;
        top: -30px;
        left: 50%;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: block;
        color: white;
        transform: translate(-50%, 0);


        &.sts--icons-primary    { background-color: $color-principal; }
        &.sts--icons-secondary  { background-color: $color-secundario; }
        &.sts--icons-confirm    { background-color: $color-confirm; }
        &.sts--icons-success    { background-color: $color-exito; }
      }



      //mergen bottom
      &--margin {
        margin-bottom: 30px;
      }
      
    }



   



    /*
      ==============================
      Modificacion: small padding
      ==============================    
    */
    // &--small {
    //   padding: 20px;
    // }


     /*
      ==============================
      Modificacion: icons
      ==============================    
    */
    &--icons {
      margin-top: 50px;

      .sts-block__header-icon i {
        font-size: 29px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

  }



  &-info-form {
    margin-bottom: 10px;
    &__label { 
      font-size: 12px; 
    }

    &__text { 
      font-size: 14px; 
    }
  }




  &-links-inline {
    margin-top: 16px;

    .sts-text-links {
      & + .sts-text-links {
        margin-left: 60px;
      }
    }
  }


  /*
    ==============================
    títulos entre bloques
    ==============================    
  */
  &-head-title {
    margin-top: 24px;
    text-align: center;

    .sts {
      &-head__title {
        font-size: 16px;
        font-weight: 500;
        font-family: $font-family-semi;
      }

      &-head__text {
        font-size: 12px;
      }
    }
  }



  /*
    ==============================
    bloque prima plan
    ==============================    
  */
  &-prima {
    padding: 21px 8px;
    text-align: center;

    p:not(.sts-prima__price) {
      margin: 0;
      line-height: 100%;
    }

    &__val   {
      font-size: 12px;
    }

    &__price {
      font-size: 32px;
      margin: 1px 0 5px 0;
    }

    &__type  {
      font-size: 14px;
    }

    &__small {
      font-size: 12px;
      margin-top: 8px!important;
    }
  }




  /*
    ==============================
    pull
    ==============================    
  */
  &-pull {
    margin-top: 35px;
  }






  /*
    ==============================
    botones centrados
    ==============================    
  */
  &-btns {
    margin-top: 24px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 700px){
      & {
          width: 680px;
      }
    }

    .sts-btn:not(.sts-btn--return) {
      float: right;
    }

    .sts-btn + .sts-btn--return {
      margin-left: 60px;
    }

    .sts-btn + .sts-btn {
      margin-left: 20px;
    }

    .sts-btn--return {
      margin-top: 10px;
    }


    @media (max-width: $small) {
      & {
        align-items: center;
        display: flex;
        flex-flow: column;

        .sts-btn--return { 
          order: 2; 
          margin-top: 20px; 
        }

        .sts-btn + .sts-btn {
          margin-left: 0;
          margin-top: 20px;
        }
      }
    }



    &--center {
      display: table;
      margin: 24px auto 0;
    }
  }





  &-legal {
    margin-top: 25px;
    font-size: 13px;
    line-height: 20px;
    color: lighten($color-base, 20%);
  }






  /*
    ==============================
    box content hover
    ==============================    
  */
  &-box-content {
    padding: 15px;
    border-radius: 2px;
    transition: .2s ease-in-out;
    border: 1px solid transparent;

    .sts-form--select {
      min-width: 60px;
    }

    &:hover {
      border-color: #DDD;
      background-color: lighten($color-base, 70%);
    }
  }





  /*
    ==============================
    box wrap text
    ==============================    
  */
  &-wrap-text {
    margin-top: 25px;
    padding: 15px;
    @extend .sts-bg;


    .sts {

      &-h3 {
        margin-bottom: 15px;
      }


      &-info {

        & + .sts-info {
          margin-top: 8px;
        }
      }
    }


    & + .sts-block__header {
      margin-top: 15px;
    }


    // reset bgcolor
    &--reset {
      padding: 0;
      border: 0!important;
      background-color: transparent!important;
    }


    // column
    &--column {
      padding: 0 15px;
      @extend .sts-bg;


      [class*="col-md"] {
        vertical-align: middle;
      }

      .sts-inner__column {
        padding: 20px 0;
      }


      @media (min-width: $mobile + 1) {
        & {
          [class*="col-sm"]:nth-child(2n) {
            border-left: 1px solid #DDD;
            border-right: 1px solid #DDD;
            padding-left: 30px;
            padding-right: 30px;
          }
        }
      }


      @media (max-width: $mobile) {
        & {
          [class*="col-sm"]:nth-child(2n) {
            border-top: 1px solid #DDD;
            border-bottom: 1px solid #DDD;
          }
        }
      }
    }
  }





  /*
    ==============================
    Webpay
    ==============================    
  */
  &-webpay {
    text-align: center;   
  }




  /*
    ==============================
    Scroll
    ==============================    
  */
  &-scroll {
    &--vertical,
    &--horizontal {
      font-size: 13px;
      margin-top: 15px;
      margin-bottom: 30px;

      .sts-small-text {
        font-size: 10px;
        line-height: 14px;

        p + p {
          margin-top: 8px;
        }
      }
    }

    &--vertical {
      overflow-y: scroll;
      height: 120px;
    }



    
  }






  /*
    ==============================
    box success
    ==============================    
  */
  &-box-success {
    text-align: center;
  }





  /*
    ==============================
    box bg color
    ==============================    
  */
  &-wrap-bg {
    text-align: center;


    &__inner {
      display: inline-block;
      vertical-align: middle;
      @extend .sts-bg;
      padding: 15px 20px;
      border-radius: 2px;      
    }


    p:not(.sts-medium) {
      font-size: 14px;
    }

    .sts-medium {
      font-size: 15px;
    }

    p + p {
      margin-top: 10px;
    }


    @media (min-width: $small + 1) {
      & {
        &__inner {
          & + .sts-wrap-bg__inner {
            margin-left: 20px;
          }
        }
      }
    }


    @media (max-width: $small) {
      & {
        &__inner {
          display: block;

          &:last-child {
            margin-top: -1px;
          }
        }
      }
    }
  }





  /*
    ==============================
    Plan
    ==============================    
  */
  &-plan {

    &__tipo {
      display: inline-block;
      color: white;
      border-radius: 100px;
      padding: 6px 20px;
      margin-bottom: 10px;
      background-color: $color-aux-1;
    }


    &__details {
      font-size: 16px;
      @extend strong;
    }
  }




  &-details-plan {

    &__price {
      font-size: 24px;
      @extend strong;
      color: $color-secundario;
    }
   
  }





  /*
    ==============================
    Wizard
    ==============================    
  */
  &-wizard {
    overflow: hidden;
    padding: 15px;
    position: relative;

    background: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(25,25,25,0.10);
    border-radius: 4px;   
   
    &:before {
      content: '';
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: #DDD;
    }


    //left
    &__left {
      float: left;
    }

    &__dots,
    &__label {
      display: inline-block;
      vertical-align: middle;
    }

     &__dots {
       width: 24px;
       height: 24px;
       line-height: 20px;
       text-align: center;
       border-radius: 50%;
       font-size: 12px;
       color: $color-secundario;
       font-family: $font-family-bold;
       font-weight: bold;
       border: 3px solid $color-secundario;
     }

     &__label {
       font-size: 14px;
       margin-left: 12px;
       font-family: $font-family-bold;
       text-transform: uppercase;
       font-weight: bold;
       color: $color-base;
     }

     &__progress {
       height: 4px;
       position: absolute;
       bottom: 0;
       left: 0;
      //  transition: 2s ease-in-out;
       background-color: $color-secundario;
       border-radius: 0 100px 100px 0;
       animation: move .8s linear;
       animation-name: slideInLeft;
     }









    //right
    &__right {
      float: right;
    }

      &__status {
        font-size: 16px;
        color: $color-base;
      }

    
      @media (max-width: 425px) {
        & {
          &__label,
          &__status { font-size: 12px; }
        }
      }
  }







  /*
    ==============================
    Alertas
    ==============================    
  */
  &-alert {
    padding: 16px;
    border: 1px solid transparent;

    &__icons {
      width: 24px;
      height: 24px;
      background-color: red;
      text-align: center;
      border-radius: 50%;
      position: relative;
      margin-right: 10px;

      i {
        font-size: 12px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__icons,
    &__text {
      display: inline-block;
      vertical-align: middle;
    }

    &__text {
      width: calc(100% - 40px);

      p {
        font-size: 12px;
      }
    }


    // tipos de alertas
    &--success {
      background-color: #F3F6DA;
      border-color: #E6EDB5;

      .sts-alert__icons {
        background-color: #ACC200;
      }
    }


    &--info {
      background-color: #DEF5F5;
      border-color: #B1E2E5;

      .sts-alert__icons {
        background-color: #36B2BE;
      }
    }

    &--info2 {
      background-color: #F6F7F8;
      border-color: #DDDDDD;
      border-radius: 5px;

    }

    &--alert {
      background-color: #F8F0DF;
      border-color: #F5D8A9;

      .sts-alert__icons {
        background-color: #E59D27;
      }
    }

    &--error {
      background-color: #FBD0D0;
      border-color: #F68B8B;

      .sts-alert__icons {
        background-color: #EC0000;
      }
    }

    &--error {
      background-color: #FBD0D0;
      border-color: #F68B8B;

      .sts-alert__icons {
        background-color: #EC0000;
      }
    }
    
  }




  /*
    ==============================
    mensaje éxito paso 3
    ==============================    
  */
  &-success {
    text-align: center;

    &--border {
      padding-bottom: 15px;
      padding-left: 10px;
      padding-right: 10px;
      border-bottom: 1px solid $color-border;
    }
  }





  /*
    ==============================
    circulos de color con icons
    ==============================    
  */
  &-icon {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    display: block;
    color: white;
    position: relative;
    text-decoration: none;

    i {
      font-size: 36px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &--vida {
      background-color: $color-principal;
    }

    &--salud {
      background-color: #A33465;
    }

    &--viajes {
      background-color: #D69F19;
    }

    &--fraude {
      background-color: #AAC200;
    }

    &--hogar {
      background-color: #C3D365;
    }
  }





  /*
    ==============================
    promo seguros
    ==============================    
  */
  &-promo {
    padding: 15px;

    &__icons,
    &__text {
      display: inline-block;
      vertical-align: middle;
    }

    .sts-wrap-icons {
      float: left;
      text-decoration: none;

      &:hover {
        opacity: .8;
      }

      p {
        font-family: $font-family-semi;
        text-decoration: none;
        color: $color-base;
      }

      & + .sts-wrap-icons {
        margin-left: 6px;
      }

      p {
        text-align: center;
        font-size: 12px;
        margin-top: 12px;
        display: block;
      }
    }


    //text
    &__text {
      
      @media (min-width: 690px) {
        & {
          margin-left: 35px;
          width: calc(100% - 350px);    
        }
      }
      
      h5 {
        font-size: 16px;
        margin-bottom: 14px; 
      }
    }



    @media (max-width: 689px) {
      & {
        display: flex;
        flex-flow: column;

        &__text {
          order: 1;
          margin-bottom: 24px;
        }

        &__icons {
          order: 2;
        }
      }
    }


    @media (max-width: 375px) {
      & {
        .sts-icon {
          width: 63px;
          height: 63px;
        }
      }
    }

    
  }




  /*
    ==============================
    Seguro
    ==============================    
  */
  &-seguro {
    

    &__head {
      padding: 16px 24px 6px 24px;

      .sts {
        @media (min-width: 600px) {
          & {
            &-text-links {
              top: 16px;
            }
          }
        }        
      }

      @media (max-width: 599px) {
        [class*="col-xs-"] {
          width: 100%;
          float: none;
          text-align: left;
        }
      }
    }

    &__body {
      border-top: 1px solid #DDD;
      padding: 16px 24px;
      word-break: break-all;

      @media (max-width: 599px) {
        & {
          [class*="col-"] {
            margin-bottom: 16px;
          }
        }
      }
    }



    //type
    &__type {

      h2,
      p {
        font-size: 16px;
      }
    } 

    //price
    &__price {
      @media (min-width: 600px) {
        & {
          display: table;
          margin: auto; 
        }
      }  

      @media (max-width: 599px) {
        & {
          margin-top: 16px;
          margin-bottom: 3px;
        }
      }
    } 

    .sts__price {
      &-month {
        font-size: 12px;
      }

      &-peso {
        span {
          font-size: 32px;
        }

        small {
          font-size: 16px;
        }
      }
    }

      

    //action
    &__action {
      @media (min-width: 600px) {
        & {
          text-align: right;
        }
      }
    }

    @media (min-width: 600px) {
      .sts-show--mobile { display: none; }
    }

    @media (max-width: 599px) {
      .sts-hide--mobile { display: none; }
    }
  }





  /*
    ==============================
    Páginas html
    ==============================    
  */
  &-pages {
    padding-top: 30px;

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    ul {
      margin-left: 20px;

      li {
        list-style: disc;
      }

      a {
        text-decoration: none;
        font-size: 12px;
        color: $color-base;

        &:hover {
          color: $color-principal;
        }
      }
    }
  }






  /*
    ==============================
    resultado de simulación
    ==============================    
  */
  &-simular {
    .sts-form--date {
      margin-top: 0;
    }
  }

  &-result {
    display: none;
  }





  /*
    ==============================
    Beneficiario
    ==============================    
  */
  &-beneficiario {
    padding: 24px;
    display: table;
    width: 100%;

    p {
      font-size: 14px;
    }


    .sts {

      &-info,
      &-action {
        @media (min-width: 600px) {
          & {
            display: table-cell;
            vertical-align: bottom;
          }
        }
      }


      &-action {

        &__box {
          @media (min-width: 600px) {
            & {
              text-align: right;
            }
          }

          li {
            display: inline-block;
            vertical-align: middle;

            & + li {
              margin-left: 12px;
            }
          }
        }
      }
    }
  }



  /*
    ==============================
    autorizacion modal
    ==============================    
  */
  $var-separar: 8px;
  &-autorizacion {
    padding-right: 20px;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;

    p,
    ul {
      font-size: 14px;
      margin-top: $var-separar;
    }

    p {
      
    }

    .sts-h4 {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: $var-separar;
    }

    .sts__autoriza {
      margin-top: $var-separar * 2;
    }
  }


  &-list {
    li {
      span {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 20px);
      }

      &:before {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        display: inline-block;
        margin-right: 8px;
        background-color: $color-principal;
      }
    }
  }

  &-barra {
    display: flex;
    margin: 0;
    overflow: hidden;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    li {
      position: relative;
      height: 4px;
      display: inline-block;
      width: 25%;
      //background-color: $color-border-light;
      border-right: 2px solid white;
      &:before {
        content: '';
        width: 0%;
        height: 4px;
        position: absolute;
        bottom: 0;
        animation: slideInLeft 1s;
        transition: all 800ms ease;
        //background-color: $color-border-light;
      }
      &.active {
        &:before {
          background-color: $color-secundario;
          width: 100%;
          //@include border-radius(0 8px  8px 0);
        }
      }
      &:last-child {
        border-right: none;
      }
    }
  }

  
} //fin sts


 //block 
 .row--block + .row--block { 
  margin-top: 25px; 
}

.row--block {
  @media (max-width: 767px) {
    & {
      display: flex;
      flex-flow: row wrap;
      margin-top: 0!important;
    }
  }
}