/*
    ==============================
    Colores
    ==============================    
*/
$color-base:        #444444;
$color-principal:   #ec0000; 
$color-secundario:  #34B3BB; 
$color-border:      #DDD;

$color-confirm:    #A53064;

$color-exito:       #AFBF31; 
$color-error:       $color-principal; 
$color-warning:     #d8bb24; 

$color-aux-1:      #CF9F0A;



/*
    ==============================
    Base
    ==============================    
*/
$font-base:         'Open Sans', sans-serif;
$font-size-base:    14px;
$line-height:       22px;

$font-family-light:     'open_sanslight',  sans-serif;
$font-family-regular:   'open_sansregular',  sans-serif;
$font-family-semi:      'open_sanssemibold',  sans-serif;
$font-family-bold:      'open_sansbold',  sans-serif;

$h1: 24px;
$h2: 21px;
$h3: 20px;
$h4: 26px;
// $h3: 33px;
// $h4: 18px;



$desktop: 992px;
$tablet:  $desktop - 1;
$mobile:  767px;
$small:   500px;




// class sts-offset-top-x
@mixin offset-margin($margin, $value){
    margin-#{$margin}: $value!important;
}

@for $i from 1 through 6 {
    @each $margin in top, left, bottom, right {

        .sts-offset-#{$margin}-#{$i}{
        @include offset-margin($margin, 10px * $i)
        }

    }
}