
.sts {
  

  &-form {
    position: relative;
    width: 100%;
    margin-top: 50px;

   
    // aplica para radios y checkbox con label superior
    &-wrap {
      margin-top: 24px;

      // label
      .sts-text-small {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
      }
    }

    &__input {
      font-size: 16px;
      color: $color-base;
      background-color: transparent;
      padding: 7px 0px;
      display: block;
      width: 100%;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid $color-base;
    }

    textarea {
      resize: none;
      height: 33px;
    }


    label {
      color: $color-base;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 0px;
      top: 9px;
      transition: all .3s ease;
    }


    &__line {
      position: absolute;
      width: 0;
      left: 0;
      right: 0;
      height: 2px;
      bottom: 0;
      margin: 0 auto;
      display: block;
      transition: all .3s ease;
      background-color: #66B1BA;
    }


    // iconos
    [class*="str-"] {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
    }


    // animacion label
    &__input:focus ~ label {
      top: -20px;
      font-size: 11px;
    }

    &__input:focus ~ &__line {
      width: 100%;
    }




    /*
      =====================================================================
      Valid
      =====================================================================
    */
    &--valid {
      label {
        top: -20px;
        font-size: 11px;
        color: $color-exito;
      }

      [class*="str-"] {
        color: $color-exito;
      }

      .sts {
        &-form {
          &__line {
            width: 100%;
            background-color: $color-exito;
          }
        }
      }
        
    }




    /*
      =====================================================================
      active
      =====================================================================
    */
    &--active {
      label {
        top: -20px;
        font-size: 11px;
      }
        
    }



    /*
      =====================================================================
      Invalid
      =====================================================================
    */
    &--invalid {
      label {
        top: -20px;
        font-size: 11px;
        color: $color-error;
      }

      [class*="str-"] {
        color: $color-error;
        font-size: 12px;
      }

      .sts {
        &-form {
          &__line {
            width: 100%;
            background-color: $color-error;
          }
        }
      }
        
    }






    /*
      =====================================================================
      Radio & Checkbox
      =====================================================================
    */
    &--radio,
    &--checkbox {
      
      input {
        display: none;
      }


      .sts-form {

        &__label {
          vertical-align: middle;
          display: inline-block;
          margin-left: 5px;
          width: calc(100% - 31px);
        }



        &__checked {
          width: 21px;
          height: 21px;
          background-color: #fff;
          // box-shadow: 0px 2px 0px #f0f0f0;
          border: 1px solid $color-base;
          display: inline-block;
          vertical-align: middle;
        }
      }



      .sts-form__checked {
        position: relative;

        &:before {
          position: absolute;
          top: 50%;
          left: 50%;
          opacity: 0;
          transform: translate(-50%, -50%);
          transition: all 0.25s ease-in-out;
        }
      }


      
      
    }


    /*
      =====================================================================
      Only Radio 
      =====================================================================
    */
    &--radio {
      .sts-form {
        &__checked {
          border-radius: 50%;
        }
      }

      .sts-form__checked {
        &:before {
          content: '';
          width: 8px;
          height: 8px;
          display: block;
          border-radius: 50%;
          background-color: $color-principal;
        }
      }


      // checked
      input:checked ~ label {

        .sts-form__checked {
          position: relative;
  
          &:before {
            opacity: 1;
          }
        }
      }

      
    }





    /*
      =====================================================================
      Only checkbox 
      =====================================================================
    */
    &--checkbox {
     
      .sts-form__checked {
        &:before {
          opacity: 0;
          @extend [class^="str-icon-"];
          content: '\e91c';
          font-size: 15px;
          text-align: center;
          color: $color-exito;
        }
      }


      // checked
      input:checked ~ label {

        .sts-form__checked {
          position: relative;
  
          &:before {
            opacity: 1;
          }
        }
      }


      //aplica para los checkbox de legales + links modal
      &.sts-form--legal {

        label,
        .sts-links-modal {
          display: inline-block;
          vertical-align: middle;
        }

        .sts-links-modal {
          width: calc(100% - 35px);
          text-align: left;

          @media (max-width: $small) {
            & {
              .sts-text-links { padding-left: 0; }
            }
          }
        }
      }

      
    }




    /*
      =====================================================================
      Only select
      =====================================================================
    */
    &--select {
      margin-top: 50px;
      position: relative;
      padding-right: 10px;
      min-width: 63px;
      border-bottom: 1px solid $color-base;

      label,
      select {
        display: table-cell;
      }

      // label
      .sts-text-small { font-size: 12px;}
      
      select {
        width: 100%;
        height: 31px;
        font-size: 16px;
        color: $color-base;
        border: 0;
        border-radius: 0;
        appearance: none;
        padding: 0;
        background-color: transparent;
      }


      //quitar mergen top
      &.sts-form-reset {
        margin-top: 0;
      } 


      // icons arrow
      &:before {
        @extend [class^="str-icon-"];
        content: "\e976";
        font-size: 12px;
        color: $color-principal;
        position: absolute;
        bottom: 10px;
        right: 0;
      }



      &-full {
        display: block;
        width: 100%;
        
        select {
          font-size: 16px;
        }
      }


      // valid
      &.sts-form--valid {
        border-bottom: 2px solid $color-exito;
        
        select {
          //color: $color-exito;
        }
      }


      // invalid
      &.sts-form--invalid {
        border-bottom: 2px solid $color-error;
        
        select {
          color: $color-error;
        }
      }

    }



    
    &--calendar {
      margin-top: 0;

      .str-icon-calendario {
        font-size: 22px;
        top: inherit;
        bottom: 8px;
        transform: inherit;
        color: #444444;
      }
    }



    /*
      =====================================================================
      modificaciones radios inline
      =====================================================================
    */
    &--inline {
      

      &.sts-margin {
        margin-top: 15px;
      }

      h3 {
        margin-bottom: 18px;
      }

      label {
        vertical-align: bottom;
      }

      .sts-form {

        &--radio,
        &--checkbox {
          display: inline-block;
          margin-right: 25px;
        }
      }

      .sts-form {
        &--select {
          display: inline-block;
          margin-left: 5px;
        }
      }
    }





    /*
      =====================================================================
      Fecha de nacimiento
      =====================================================================
    */
    &--date {
      clear: both;
      margin: 38px 0;
      overflow: hidden;

      label {
        display: block;
        font-size: 11px;
        margin-bottom: 2px;
        font-family: $font-family-semi;
      }

      .sts-form--select {
        width: 70px;
        float: left;
        margin-top: 0;
      }


      @media (min-width: 400px) {
        & {
          .sts-form--select:nth-of-type(2) {
            margin-left: 46px;
            margin-right: 46px;
          }
        }
      }


      @media (max-width: 399px) {
        & {
          .sts-parent-select {
            display: flex;
            justify-content: space-between;
          }

          label {
            display: block;
          }
        }
      }
    }




    /*
      =====================================================================
      input Teléfono
      =====================================================================
    */
    &--phone {

      &:before {
        content: attr(data-phone);
        position: absolute;
        bottom: 8px;
        left: 0;
        font-size: 16px;
        color: $color-base;
      }

      .sts-form__input {
        padding-left: 35px;
      }
    }



  }



  &-count {
    position: relative;
    text-align: right;
    display: block;
    font-size: 12px;
  }




  &-form--min {
    margin-top: 20px;
  }

  &-form--medium {
    margin-top: 30px;
  }



  // form small
  &-form--small {
    margin: 0 auto 50px;

    @media (min-width: 400px) {
      & {
        width: 304px;
      }
    }

    @media (max-width: 399px) {
      & {
        margin-left: 16px;
        margin-right: 16px;
      }
    }
  }


  @media (max-width: $small) {
    &-full-mobile {
      display: block;
      margin-top: 40px;
      width: 100%!important;


      & ~ .sts-form--select {
        margin-top: 0;
      }
    }
  }


}

