/*
  ==============================
  calendario
  ==============================    
*/
#ui-datepicker-div {
  box-shadow: 0 4px 6px 0 rgba(0,0,0,0.07);
  border-radius: 0 0 5px 5px;
  padding: 0 0 10px 0;
  border: 0;
  width: 280px;
  margin-bottom: 10px;


  // Header 
  .ui-widget-header {
    color: white;
    font-family: $font-family-light;
    font-weight: 100;
    font-size: 20px;
    border: 0;
    border-radius: 0;
    padding: 0;
    background-color: $color-principal;

    // title
    .ui-datepicker-title {
      line-height: 67px;
    }

    // arrow
    .ui-corner-all {
      position: absolute;
      top: 50%;
      text-align: center;
      font-size: 12px;
      transform: translate(0, -50%);
      color: white;
      border-radius: 0;
      width: 30px;
      height: 30px;
      padding-top: 7px;
      cursor: pointer;
      border: 0!important;
      background-color: transparent!important;
      @extend [class^="str-icon-"];
    }

    .ui-icon {
      display: none;
      font-size: 12px;
    }

    .ui-datepicker-prev {
      left: 0;
      @extend .str-icon-flecha-izquierda;
    }

    .ui-datepicker-next {
      right: 0;
      @extend .str-icon-flecha-derecha;
    }
  }


  // Días
  .ui-datepicker-calendar {
    font-size: 13px;
    padding: 8px;
    margin: 0 10px;
    width: auto;
    

    // Thead
    thead {
      th {
        padding-top: 28px;
        color: #9E9E9E;
        text-align: center;
        font-family: $font-family-light;
        font-weight: 400;
        width: 40px;
        height: 40px;
      }
    }


    // Tbody
    tbody {
      td {
        
        padding: 0;
        
        a {
          padding: 0;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          text-align: center;
          line-height: 35px;
          border: 0;
          color: #4C4C4A;
          text-align: center;
          display: block;
          font-family: $font-family-light;
          font-weight: 400;
          transition: .2s ease;
          background-color: white;

          &.ui-state-active {
            color: white;
            background-color: red;
          }

          &.ui-state-highlight {
            color: $color-principal;
          }
        }
      }
    }
  }
}



