.overlay {
  display: block;
  z-index: 90;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255,255,255,0.9);
}

.cnt-load {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  top: 50%;
  margin: -40px 0 0 -40px;
}

.cnt-load svg {
  position: absolute;
  left: 27px;
  top: 24px;
}

.uil-ring-css {
  background: none;
  position: relative;
}

.uil-ring-css > div {
  position: absolute;
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  box-shadow: 0 2px 0 0 #ec0000;
  animation: uil-ring-anim 1s linear infinite;
}

.uil-ring-css > div:before {
  content: "";
}

@keyframes uil-ring-anim { 
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

