/*
  ==============================
  Modal
  ==============================    
*/
.modal-visible { overflow: hidden; }

.sts {

  &-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;

    // cerrar
    &__close {
      position: absolute;
      top: -30px;
      right: 0;
      font-size: 14px;
      color: white;
      text-decoration: none;
    }



    &__content {
      position: relative;
      top: 50%;
      width: auto;
      margin: 0 auto;
      width: 792px;
      max-width: 90%;
      transform: translate(0,-50%);
      background-color: white;
      padding: 24px;
      transition: transform .3s ease-out;
    }


    // active modal
    &.sts-modal-active {
      overflow-x: hidden;
      overflow-y: auto;
      opacity: 1;
      z-index: 1050;
      display: block;

      .sts-modal {
        &__content {
          transform: translate(0, -50%);
        }
      }
    }
  }



  // backgrop
  &-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity .15s linear;
    background-color: rgba(0, 0, 0, 0.50);
    width: 100%;
    height: 100%;

    &.sts-modal-active {
      opacity: 1;
      z-index: 1040;
    }
  }

}