  * {
    padding: 0;
    margin: 0;
    outline: none!important;
    box-sizing: border-box;
  }
  
  
  li {
    list-style: none;
  }
  
  fieldset {
    border: 0;
    display: block;
    clear: both;
  }

