.sts-wrapper {
	.sts-content{
		width: 960px;
	}
}

.sts-block--small{
	width: 100%;
}

.sts-form--select select{
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sts-form--select:before{
	content: "\e978";
	font-weight: 700;
}

.formbg{
	background: #f2f2f2;
	margin: 0 auto;
    width:70%;
	overflow: hidden;

	.sts-form--date{
		width: 303px;
		margin: 25px auto;
	}
}

.no-margin-top{
	margin-top: 0;
}

.border-top{
	border-top: 2px solid #f0f0f0;
	padding-top: 30px;
}

.border-right{
	border-right: 1px solid #dddddd;
}

.border-left{
	border-left: 1px solid #dddddd;
}

.border-left-gray{
	border-left: 1px solid #dddddd;
}

.border{
	border: 1px solid #dddddd;
}

.padding{
	padding: 3% !important;
}

.flexblock{
	overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.txt{
	&-red{
		color: #ef1600
	}
}

.padding-right {
	padding-right: 26px;
}

.boxes{
	.box{
		background: #f6f7f8;
		padding: 20px;

		.plan{
			text-align: center;

			> .type{
				width: 100%;
				background: #5fb1bb;
				color: #ffffff;
				border-radius: 30px;
				display: block;
				padding: 5px 30px;
				display: inline-block;
				font-size: 14px;
				margin-bottom: 10px;
			}

			> p{
				font-size: 16px;
				font-weight: 700;
				color: #444444;
			}
		}

		.details{
			.price{
				color: #34b3bb;
				font-size: 32px;
				font-weight: 700;
				margin-bottom: 5px;

				> span{
					font-size: 14px;
					margin-left: 4px;
				}
			}

			> ul{
				> li{
					font-size: 14px;
					color: #727272;
					overflow: hidden;
					line-height: 22px;

					> i{
						color: #00b1b8;
						font-size: 20px;
						float: left;
						margin-right: 10px;
						font-weight: 700;
					}
				}
			}
		}

		.contratar{
			text-align: center;

			> .sts-btn{
				text-align: center;
				min-width: 200px;
			}
		}
	}
}

.legal{
	text-align: justify;
	font-size: 13px;
}

.no-border{
	border: 0;
}

.no-bg{
	background: transparent;
}

.cyan{
	color: #5fb1bb;
}

.red{
	color: #ef1600;
}

.sts-info-form{
	.sts-info-form__label, .sts-info-form__text{
		display: inline-block;
		font-size: 16px;
	}
}

.sts-btns{
	width: 100%;
}

.sts-scroll--vertical .sts-small-text{
	font-size: 13px;
	line-height: 18px;
}

.sts-form--checkbox .sts-form__checked:before{
	color: #AFBF31;
}

.sts-form--radio .sts-form__checked:before{
	width: 7px;
    height: 7px;
}

.tbk{
	> span, img{
		float: left;
		margin-right: 5px;
	}

	> span{
		margin-top: 10px;
	}
}

.big-text{
	font-size: 20px;
}

.sts-icon--autos{
	background: #00b3bb;
}

.sts-promo__text{
	width: 53%;

	> p{
		font-size: 14px;
	}
}

.otherInsurances{
	color: #ef1600;
	font-size: 17px;
	text-decoration: none;
	margin-top: 6px;
	display: block;

	> span, > i{
		float: left;
	}

	> span{
		text-decoration: underline;
		margin-right: 10px;
	}

	> i{
		margin-top: 8px;
		font-size: 13px;
	}
}

.transaction{
	display: table;
	width: 60%;
	margin: 30px auto 20px;

	> div{
		display: table-cell;
		padding: 15px 0;
		border: 1px solid #dddddd;
		background: #F6F7F8;

		&.sep{
			width: 30px;
			border: 0;
			background: transparent;
		}

		> .title{
			font-size: 14px;
		}
	}
}

.text-align-left{
	text-align: left;
}

.margin-bottom{
	margin-bottom: 16px;
}

.no-padding-left{
	padding-left: 0;
}

.no-padding-right{
	padding-right: 0;
}

.info{
	display: table;
	width: 100%;
	border: 1px solid #dddddd;
	background-color: #F6F7F8;
    border-color: #DDDDDD;
    border-radius: 5px;

	> div{
		display: table-cell;
		padding: 40px;
		vertical-align: middle;
		text-align: center;

		&.plan{
			> .type{
				background: #5fb1bb;
				color: #ffffff;
				border-radius: 30px;
				display: block;
				padding: 5px 30px;
				display: inline-block;
				font-size: 14px;
				margin-bottom: 10px;
			}

			> p{
				font-size: 16px;
				font-weight: 700;
				color: #444444;
			}
		}

		&.quantity{
			border-left: 1px solid #dddddd;
			border-right: 1px solid #dddddd;

			> .price {
				font-size: 24px;
				font-weight: 700;

				> span{
					font-size: 14px;
				}
			}
		}
	}
}

.beneficiaries{
	overflow: hidden;
	
	> div{
		padding: 0 !important;
		margin: 0 0 10px;
	}
}

.buttons{
	text-align: center;
	margin: 20px 0;

	> a{
		display: inline-block;
	}
}

.btn-reverse{
	background: #fcfefe;
	color: #e51a0d;
	border: 1px solid #e51a0d;
	font-weight: 700;

	&:hover{
		background-color: #e51a0d !important;
		color: #ffffff;
	}
}

.sts-wrapper .row{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.sts-block__header-icon{
	z-index: 91;
}

.bgCyan{
	background: #34b3bb;
}

.sts-text-prima{
	padding: 0 10px;
}

select::-ms-expand { display: none; }

.overflow{
	overflow: hidden;
}

.sts-form--calendar .str-icon-calendario{
	cursor: pointer;
}

.sts-alert--alert,
.sts-alert{
	border: 0px;
}

.transaction > div{
	padding: 15px 5px;
}

.sts-questions_block{
	label {
		font-size: 14px;
	}
}

@media ( max-width: 992px ) {
	.border-left-gray{
		border-left: 0;
		padding-top: 0 !important;
		margin-top: 0 !important;
	}
}

@media (max-width: 991px) {
	.boxes .box .contratar {
		text-align: left;

		>.sts-btn {
			display: block;
			margin: 0 auto;
			width: 200px;
		}
	}
}

@media (max-width: 951px) {
	.sts-promo__text{
		margin-top: 20px;
		margin-left: 0;
		width: 100%;
	}
}

@media (max-width: 630px) {
	.info > div{
		display: block;
		width: 100%;
		padding: 5%;
		border-bottom: 1px solid #dddddd;
	}

	.info > div.quantity{
		border-left: 0;
		border-right: 0;
	}

	.sts-success{
		> p{
			padding: 0 5%;
		}
	}
}

@media (max-width: 500px) {
	.formbg {
		width: 90%;
	}

	.transaction{
		width: 90%;
	}

	.buttons > a{
		margin-bottom: 15px;
	}
}

@media (max-width: 400px) {
	.tbk{
		.type_pay{
			width: 100%;
		}

		> img{
			max-width: 100%;
		}
	}
}

@media (max-width: 399px) {
	.sts-form--date .sts-parent-select {
	    display: -webkit-box;
	    display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: justify;
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
		margin: 0 7%;
	}

	.sts-info-form{
		.sts-info-form__label, .sts-info-form__text{
			float: none;
		}
	}
}