.sts-result .sts-coverage-radio .sts-form__checked{ margin-top:5px; margin-bottom:5px;}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important;}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background:#fff;}

.ng-fix-hide{display:none;}
.sts-form--radio input.checkedthis ~ label .sts-form__checked:before {opacity: 1; }
.sts-form--radio input.checkednot ~ label .sts-form__checked:before {opacity: 1; }
.sts-alert.fix-top {margin-top:20px;}
.sts-wrapper .sts-bg-color--secondary {  background-color: #34B3BB; }
.fixlegal p{ margin-bottom: 10px; }
.fixlegal ul{ padding-left: 20px; margin-bottom: 10px; }
.fixlegal ul li{ list-style: disc; margin-bottom: 5px; }
.sts-seguro__body{ word-break: normal; } 
.left { float:left; }  
#padre { width:95%;height: 47px;}  
#hijo { width:58%;}  

.sts-form .sts-alert__icons i{right:50%;}
/* .sts-form{margin-top:40px;}*/
.sts-relative{position:relative;}
.sts-notice{ color: #ec0000; margin-top: 5px; line-height: 12px;}
.sts-form--invalid label{color:#444;}
.sts-form--invalid .sts-form--select{border-bottom: 1px solid #ec0000;}
.sts-form--select.sts-form--invalid select{color:#444;}
body *{ font-family: 'Open Sans', sans-serif; }
.sts-parent-select {position: relative; overflow: hidden;}
.sts-form--select:before {content: "\e978";}
.sts-alert-home{width:70%;}
.sts-form--invalid label,.sts-form--valid label{ color: #444444;}
.sts-head__text small{font-size:12px;}
.sts-form--select { margin-top: 50px; padding-right: 0px !important;}
.sts-form--select select{ position:relative;}
.sts-fx-inputs{ padding-bottom: 20px; position:  relative;}
.sts-fx-inputs .sts-notice{position: absolute;bottom: 0; width:100%;}
@media (max-width: 767px){
.sts-barra li {     border-right: none; }
}
.sts-modal-cargas .sts-block--icons{margin-top:0px;}
.sts-modal-cargas .featherlight .featherlight-content{    overflow: visible;}
.error-box {
    position: relative;
    min-height: 60px;
    background: rgba(255, 0, 0, 0);
}
.sts-modal-carga .featherlight-content {
    overflow: inherit !important;
    background: #fff !important;
    border: 1px solid #dddddd !important;
    border-radius: 3px;
    box-shadow: 1px 1px 10px 1px rgba(25, 25, 25, 0.07);
}


.sts-modal-carga.featherlight .featherlight-content{
    padding: 0 25px 0;
}
.sts-modal-carga .sts-block__header-icon.sts--icons-secondary{
   background-color:#E59D27; 
}

.featherlight {
    background: rgba(0, 0, 0, 0.51) !important;
}
.sts-text-center-align{text-align:center;}
.sts-modal-carga .sts-btn--second{border:0px solid;}
.sts-scroll--vertical {   overflow-y: auto; height: 120px;}
.sts-autorizacion {padding-right: 20px;   height: 400px;overflow: hidden;overflow-y: auto;}

.type span{display:block;}
/* body{ padding-bottom:20px;padding-top:20px;} */