@media print { 
 body {
        background-color: transparent;
    }


    .sts {

        // block
        &-block {
            box-shadow: none;   
            border: 0;
            padding: 0; 
            width: 100%;
            background-color: transparent;
            
            
            &--icons {
                padding-top: 0;
                margin-top: 0;
            }
        }


        //wizard
        &-wizard {
            display: none;
        } 


        // legales
        &-block--toggle {
            &__head {
                i {
                    display: none;
                }
            }
            
            &__head,
            &__body {
                padding-left: 0;
                padding-right: 0;
            }

            &__body {
                display: block;
            }
        }


        &--icons-success {
            display: none;
        }


        //inner
        &-block__head {
            padding-left: 0;
            padding-right: 0;
        }
        &-block__body-inner {
            padding-left: 0;
            padding-right: 0;

            .col-sm-3 { 
                width: 25%; 
                float: left;
            }
        }



        //ocultar
        &-hide-print {
            display: none;
        } 


        // page break print
        &-page-break {
            display: block; 
            page-break-before: always;
        }
    }
}