<section  class="form-horizontal">

<form action="{{ app.request.requestUri }}" method="POST" {{ form_enctype(form) }} >
   <div class="row">
        <div class="form-group ">
            <label for="nombre" class="control-label col-sm-2"> Nombre:</label>
            <div class="col-sm-10">
                {{ form_widget(form.titulo , { attr: {class: "form-control" }})}}
            </div>
        </div>
        <div class="form-group ">
            <label for="nombre" class="control-label col-sm-2"> Descripcion:</label>
            <div class="col-sm-10">
                {{ form_widget(form.descripcion , { attr: {class: "form-control" }})}}
            </div>
        </div>
       {# <div class="form-group">
            <label for="nombre" class="control-label col-sm-2"> Visible:</label>
            <div class="col-sm-10">
                {{ form_widget(form.visible , { attr: {class: "form-control" }})}}
            </div>
        </div>#}

       <div class="form-group">
            <label for="nombre" class="control-label col-sm-2"> Imagen:</label>
            
            <div class="col-sm-4 fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                    {% if tipo > 0 %}
                    <img src="{{  asset('img/planificador/preguntas/')}}{{ img }}" alt="...">
                    {% endif %}
                </div>
                <div>
                    <span class="btn btn-default btn-file">
                        <span class="fileinput-new">Seleccionar </span>
                        <span class="fileinput-exists">Cambiar</span>
                        <input id="Pregunta_form_imagen_file" type="file" name="Pregunta_form[imagen][file]">
                    </span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                </div>
            </div>
             
            </div>  

        <div class="form-group ">
            <label for="nombre" class="control-label col-sm-2"> Tipos de respuesta:</label>
            <div class="col-sm-10">
                {{ form_widget(form.tipo , { attr: {class: "form-control" }})}}
            </div>
        </div>
         <div class="form-group ">
            <label for="nombre" class="control-label col-sm-2"> Tipo de Pregunta:</label>
            <div class="col-sm-10">
                {{ form_widget(form.pregtipo , { attr: {class: "form-control" ,"ng-model":"tipoPreg" }})}}
            </div>
        </div>
      
        <div class="form-group " ng-show="tipoPreg==1">
            <label for="nombre" class="control-label col-sm-2"> Orden:</label>
            <div class="col-sm-4">
                {{ form_widget(form.orderBy , { attr: {class: "form-control" }})}}
            </div>
        </div>

    <h3>Respuestas</h3>

    {% if tipo == 0 %} {# new#}
    <div >
        <div class="respuestas" data-prototype="{{form_widget(form.respuestas.vars.prototype)|e}}" >
            {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
            {% for respuesta in form.respuestas %}
               {% if respuesta.vars.value.visible==1 %}
	                <div id="resp" class="">
		             
		                	<button id="cerrar" type="button" class="close remove-tag">&times;</button>
		               
		               {{ form_errors(respuesta) }}
		                <div class="myrow">
		                    <div class="mytd datos-persona-item"><label for="Pregunta_form_respuestas_0_titulo" class="required">{{ form_label(respuesta.titulo) }}</label>
		                    </div> {{ form_widget(respuesta.titulo) }} 
		                </div>
		                <div class="myrow">
		                    <div class="mytd datos-persona-item"><label for="Pregunta_form_respuestas_0_descripcion" class="required">{{ form_label(respuesta.descripcion) }}</label>
		                    </div> {{ form_widget(respuesta.descripcion) }} 
		                </div>
                        <div class="myrow">

		                    <div class="mytd datos-persona-item"><label for="Pregunta_form_respuestas_0_imagen" class="required">{{ form_label(respuesta.imagen) }}</label>
		                    </div> {{ form_widget(respuesta.imagen) }}
		                </div>
		               
	           		</div>
                {% endif %}
                
            {% endfor %}
        </div>
    </div>
 {% else %} {# editando #}
<div class="row">
        <div class=" col-md-12 edit respuestas" data-prototype="{{form_widget(form.respuestas.vars.prototype)|e}}" >
            {# itera sobre cada etiqueta existente y reproduce su único campo: name #}
            {% for respuestaedit in arregloPresentacion %}
               {% if respuestaedit.visible==1 %}
	                <div id="resp" class="col-md-3 well tres">
	                	{% if (tiporesp.Idtipo!=1) %}
		             	<button id="cerrar" type="button" class="close remove-tag">&times;</button>
		               {% endif %}
		                <div class="myrow">
		                    <div class="mytd datos-persona-item"><label for="Pregunta_form_respuestas_0_titulo" class="required">Título:</label>
		                    </div> 
		                    <div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" >
                        		<input type="text" name="Pregunta_form[respuestas][{{respuestaedit.index}}][titulo]" class="regular-input" value="{{respuestaedit.titulo }}" >
                       		</div>
		                </div>
		                <div class="myrow">
		                    <div class="mytd datos-persona-item"><label for="Pregunta_form_respuestas_0_descripcion" class="required">Descripción:</label>
		                    </div> 
		                    <div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" >
                        		<input type="text" name="Pregunta_form[respuestas][{{respuestaedit.index}}][descripcion]" class="regular-input" value="{{respuestaedit.descripcion }}">
                       		</div>
		                </div>
		                {% if (tiporesp.Idtipo==2) %}
		                <div class="myrow">
		                    <div class="mytd datos-persona-item"><label for="Pregunta_form_respuestas_0_desde" class="required">Desde:</label>
		                    </div> 
		                    <div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" >
                        		<input type="text" name="Pregunta_form[respuestas][{{respuestaedit.index}}][Desde]" class="regular-input" value="{{respuestaedit.Desde }}">
                       		</div>
		                </div>
		                 <div class="myrow">
		                    <div class="mytd datos-persona-item"><label for="hasta" class="required">Hasta:</label>
		                    </div> 
		                    <div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" >
                        		<input type="text" name="Pregunta_form[respuestas][{{respuestaedit.index}}][Hasta]" class="regular-input" value="{{respuestaedit.Hasta }}">
                       		</div>
		                </div>
		                {% else %}
		                 {#<div class="myrow">
		                    <div class="mytd datos-persona-item"><label for="Pregunta_form_respuestas_0_valor" class="required">Valor:</label>
		                    </div> 
		                    <div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" >
                        		<input type="text" name="Pregunta_form[respuestas][{{respuestaedit.index}}][Desde]" class="regular-input" value="{{respuestaedit.Valor }}">
                       		</div>
		                </div>#}

		                {% endif %}
		                <div class="myrow ">

		                    <div class="col-sm-4 fileinput fileinput-new" data-provides="fileinput">
    			                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
    			                    {% if tipo > 0 %}
    			                    <img src="{{  asset('img/planificador/respuestas/')}}{{ respuestaedit.imagen }}" alt="...">
    			                    {% endif %}
    			                </div>
    			                <div>
    			                    <span class="btn btn-default btn-file">
    			                    <span class="fileinput-new">Seleccionar </span>
    			                    <span class="fileinput-exists">Cambiar</span>
    			                    <input id="Pregunta_form_respuestas_imagen_file" type="file" name="Pregunta_form[respuestas][{{respuestaedit.index}}][imagen][file]">
    			                    </span>
    			                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
    			                </div>
			            	</div>
		                </div>
		               
	           		</div>
	           		
                {% endif %}
                
            {% endfor %}
        </div>
    </div>
 {% endif %}
   	<p class="boton-abajo" >
        <button type="submit" class="btn btn-success">
            Enviar
        </button>
    </p>
</form>

</section>