
{% extends "PlanificadorBundle::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
   
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/generico.js') }}"></script>
	
{% endblock %}

{% block body %}
	<div>
			<h3>Lista de Pregunta</h3>
			{% if eliminar==false %}
				<div class="alert alert-warning alert-dismissable">
  					<button type="button" class="close" data-dismiss="alert">&times;</button>
				  	<strong>¡Cuidado!</strong> Esta pregunta tiene un arbol asociado.
				</div>
			{% endif %}

			<section class=" row form-horizontal">
				<table class="table table-striped table-bordered table-hover table-condensed">
					<tr >
					   	<th>Id</th>
						<th>Nombre</th>
						<th>Despcripcion</th>
						<th>Tipo de Pregunta</th>
						<th>Tipo de Respuesta</th>
						<th>Imagen</th>
						<th class="td_icon">Editar</th>
						<th class="td_icon">Eliminar</th>		   
					</tr>
				  {% for pregunta in preguntas %}
				  	{% if pregunta.pregtipo.id == 1 or pregunta.pregtipo.id == 2   %}
					<tr >
					  	<td>{{ pregunta.Id}}</td>
					  	<td>{{ pregunta.Titulo }}</td>
						<td>{{ pregunta.Descripcion | raw  }}</td>
						<td>{% if pregunta.pregtipo %} {{ pregunta.pregtipo.Titulo }} {% else %} No Asignado {% endif %}</td> 
						<td>{% if pregunta.Tipo %}{{ pregunta.Tipo.Nombre }}{% else %} No asignado {% endif %}</td> 
						<td>
							<img src="{{  asset('img/planificador/preguntas/')}}{{pregunta.ImagenTipo}}" alt="" class="img-thumbnail imagenes" ></td>
						<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('preguntas',{'id':pregunta.Id}) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i> </a ></td>
						<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('preguntas_eliminar',{'id':pregunta.Id}) }}"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a ></td>
					</tr>
					{% endif %}
				{% endfor %}
				</table >
				<h4 class="tit-final">Producto Final <i class="fa fa-angle-double-down" aria-hidden="true"></i></h4>
				<section class="preg oculto">
					<table class="table table-striped table-bordered table-hover table-condensed">
						<tr >
						   	<th>Id</th>
							<th>Nombre Producto</th>
							<th>Despcripción</th>
							<th>Tipo de Pregunta</th>
							<th>Tipo de Respuesta</th>
							<th>Imagen</th>
							<th class="td_icon">Editar</th>
							<th class="td_icon">Eliminar</th>		   
						</tr>
					  	{% for pregunta in preguntas %}
						  	{% if pregunta.pregtipo.id == 3 %}
								<tr >
								  	<td>{{ pregunta.Id}}</td>
								  	<td>{{ pregunta.Titulo }}</td>
									<td>{{ pregunta.Descripcion | raw  }}</td>
									<td>{% if pregunta.pregtipo %} {{ pregunta.pregtipo.Titulo }} {% else %} No Asignado {% endif %}</td> 
									<td>{% if pregunta.Tipo %}{{ pregunta.Tipo.Nombre }}{% else %} No asignado {% endif %}</td> 
									<td>
										<img src="{{  asset('img/planificador/preguntas/')}}{{pregunta.ImagenTipo}}" alt="" class="img-thumbnail imagenes" >
									</td>
									<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('preguntas',{'id':pregunta.Id}) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i> </a ></td>
									<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('preguntas_eliminar',{'id':pregunta.Id}) }}"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a ></td>
								</tr>
							{% endif %}
						{% endfor %}
					</table >
				</section>

		</section>
	</div>
{% endblock %}


