{% extends "PlanificadorBundle::base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}
 
    <link rel="stylesheet" href="{{ asset('assets/css/planificador/jasny-bootstrap.min.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
   	<script src="{{ asset('assets/js/planificador/controller/preguntas.js') }}"></script>
   	<script src="{{ asset('assets/js/planificador/jasny-bootstrap.min.js') }}"></script>
   	<script>
   		var tipo = {{ tipo | raw }}
   	</script>
   
{% endblock %}

{% block body %}
	<div >	
		<h3>Preguntas</h3>
		<div>
			{{ include('PlanificadorBundle:administrador:preguntas/preguntas_form.html.twig') }}
		</div>
	</div>
{% endblock %}