
{% extends "PlanificadorBundle::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
   
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/generico.js') }}"></script>
	
{% endblock %}

{% block body %}
	<div>
			<h3>Lista de Pregunta</h3>
			<section class=" row form-horizontal">
				<table class="table table-striped table-bordered table-hover table-condensed">
					<tr >
					   	<th>Id</th>
						<th>Nombre</th>
						<th>Visible</th>
						<th>Tipo</th>
						<th>Imagen</th>
						<th>Editar</th>
						<th>Eliminar</th>	
						<th>Respuestas</th>	    
					</tr>
				  {% for pregunta in preguntas %}
					<tr >
					  	<td>{{ pregunta.Id}}</td>
						<td>{{ pregunta.Descripcion }}</td>
						<td>{{ pregunta.Visible }}</td>
						<td>{{ pregunta.Tipo.Nombre }}</td>
						<td>
							<img src="{{  asset('img/planificador/preguntas/')}}{{pregunta.ImagenTipo}}" alt="" class="img-thumbnail imagenes" >
						</td>
						<td class="centrar_bot"><a href="{{ path('preguntas',{'id':pregunta.Id}) }}">Editar </a ></td>
						<td class="centrar_bot"><a href="{{ path('preguntas_eliminar',{'id':pregunta.Id}) }}">Eliminar </a ></td>
						<td><a class="fa_verde" href="{{ path('preguntaRespuestaMostrar',{'id':pregunta.Id}) }}"> <i class="fa fa-search" aria-hidden="true"></i> </a></td>
					</tr>
				{% endfor %}
				</table >

		</section>
	</div>
{% endblock %}


