
{% extends "PlanificadorBundle::base.html.twig" %}
{% block stylesheets %}
	{{ parent() }}

     <link rel="stylesheet" href="{{ asset('assets/css/planificador/jasny-bootstrap.min.css') }}">
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/generico.js') }}"></script>
{% endblock %}
{% block body %}
	<div>
<h3>Pregunta</h3>
			<section class=" row form-horizontal">	
				<table class="table table-striped table-bordered table-hover table-condensed">
					<tr >
					   	<th>Id</th>
						<th>Pregunta</th>
						<th>Tipo</th>
						<th>Imagen</th>	    
					</tr>
					<tr>
						<td>{{pregunta.Id }}</td>
						<td>{{ pregunta.descripcion | capitalize }}</td>
						<td>{{ pregunta.Tipo.Nombre | capitalize }}</td>
						<td><img src="{{  asset('img/planificador/preguntas/')}}{{pregunta.imagenTipo}}" alt="" class="img-thumbnail imagenes" ></td>   
					</tr>
				</table >
			</section>
	</div>
	<form  action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>
		<div class="form-group ">
			
			<div class="col-sm-10">
    			{{ form_widget(form.pregRel , { attr: {class: "form-control" }})}}
    		</div>
    	
    	</div>
	<div class="form-group col-sm-12">
    		<input class="btn btn-primary  btn-lg" type="submit" name='registrar' value="Actualizar" />
    </div>
    </form>

    
{% endblock %}


