<div class="cont-box-cargas" id="forms-respuestas">
    <div class="cont-carga" ng-repeat="respuesta in respuestas">
        <div class="box-carga">
            <div class="mytable cellpadding box-datos-persona">
                <div class="myrow">
                    <div class="mytd datos-persona-item">
                        <label for="titulo"><sup class="red">*</sup>Titulo:</label>
                    </div>
                    <div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" data-field="titulo" data-entity="respuestas">
                        <input type="text" name="Pregunta_form[json_respuesta][{% verbatim %}{{$index}}{% endverbatim %}][titulo]" required="required" class="regular-input" ng-model="respuesta.Titulo">
                    </div>
                </div>
                <div class="myrow">
                    <div class="mytd datos-persona-item">
                        <label for="descripcion"><sup class="red">*</sup>Descripcion:</label>
                    </div>
                    <div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" data-field="descripcion" data-entity="respuestas">
                        <input type="text" name="Pregunta_form[json_respuesta][{% verbatim %}{{$index}}{% endverbatim %}][descripcion]"  class="regular-input" ng-model="respuesta.Descripcion">
                    </div>
                </div>
                <div class="myrow">
                    <div class="mytd datos-persona-item">
                        <label for="imagentipo"><sup class="red"></sup>Imagen:</label>
                    </div>

                    <div class="col-sm-4 fileinput fileinput-new" data-provides="fileinput">
                <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                    </div>
                <div>
                    <span class="btn btn-default btn-file">
                        <span class="fileinput-new">Seleccionar </span>
                        <span class="fileinput-exists">Cambiar</span>
                                                 <input id="Pregunta_form__json_respuestas_imagen_file" type="file" name="Pregunta_form[json_respuesta][{% verbatim %}{{$index}}{% endverbatim %}][imagen][file]" ng-model="respuesta.ico">
                    </span>
                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Eliminar</a>
                </div>
            </div>
                    {#
                    <div id="Pregunta_form_imagen_[{% verbatim %}{{$index}}{% endverbatim %}]" class="file form-control"><div class="myrow"><div class="mytd datos-persona-item"></div><input type="file" id="Pregunta_form_imagen_file_[{% verbatim %}{{$index}}{% endverbatim %}]" name="Pregunta_form[json_respuesta][{% verbatim %}{{$index}}{% endverbatim %}][imagentipo][file]" ng-model="respuesta.ico"></div>
                    #}
                    {#<div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" data-field="imagentipo" data-entity="respuestas">
                        <input type="text" name="Pregunta_form[json_respuesta][{% verbatim %}{{$index}}{% endverbatim %}][imagentipo]"  class="regular-input" ng-model="respuesta.ico">
                    </div>#}
                </div>
                <div class="myrow">
                    <div class="mytd datos-persona-item">
                        <label for="valor"><sup class="red">*</sup>valor:</label>
                    </div>
                    <div class="mytd datos-persona-inputs" class-error data-index="{% verbatim %}{{$index}}{% endverbatim %}" data-field="valor" data-entity="respuestas">
                        <input type="text" name="Pregunta_form[json_respuesta][{% verbatim %}{{$index}}{% endverbatim %}][valor]" class="regular-input rut"  ng-model="respuesta.valor">
                    </div>
                </div>
                </div>
               
            </div>
        </div>
    </div>
</div>