{% extends "PlanificadorBundle::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
   
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/preocupaciones.js') }}"></script>
	<script>
   		var tipo = {{ tipo | raw }}
   	</script>
{% endblock %}

{% block body %}

<div>
{#<div id="buscar" class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-5">
	<div class="col-sm-10 float-right">
    	<input type="text" class="form-control" placeholder="Ingrese datos de busqueda">
    </div>
</div>#}
<h3>Lista Preocupaciones</h3>
<section class=" row form-horizontal">
	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr >
		   	<th>Id</th>
			<th>Nombre</th>
			<th>Visible</th>
			<th>Imagen</th>
			<th>Orden</th>
			<th class="td_icon">Editar</th>
			<th class="td_icon">Eliminar</th>		    
		</tr>
	  {% for preocupaciones in preocupacion %}
		<tr >
		  	<td>{{ preocupaciones.id}}</td>
			<td>{{ preocupaciones.descripcion }}</td>
			{% if preocupaciones.visible == "" %}
				<td>0</td>
			{% else %}
                <td>{{ preocupaciones.visible }}</td> 			
			{% endif %}
				
			<td>
				<img src="{{  asset('img/planificador/preocupaciones/')}}{{preocupaciones.ImagenTipo}}" alt="" class="img-thumbnail imagenes" >
			</td>
			
			<td>{{ preocupaciones.orderBy }}</td>
			<td class="centrar_bot td_icon"><a href="{{ path('preocupacion',{'id':preocupaciones.Id}) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"> </a ></td>
			<td class="centrar_bot td_icon"><a href="{{ path('preocupacion_eliminar',{'id':preocupaciones.Id}) }}"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i> </a ></td>
			
		</tr>
	{% endfor %}
	</table >
</section>
</div>
{% endblock %}
