{%  if insurance.hasBeneficiaries %}
<tr>
    <td>
        <h2 style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;">Datos de los beneficiarios</h2>
        <table width="100%" style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;">
            <tr>
                {% set number = 1 %}
                {% set i = 0 %}
                {% for beneficiario in insurance.beneficiaries %}
                <td width="50%" valign="top">
                    <h2 style="margin: 0;font-size: 19px;">Asegurado {{ number }}</h2>
                    <table style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;">
                        <tr>
                            <td><strong>Nombre completo:</strong></td>
                            <td>{{ beneficiario.name ~ " " ~ beneficiario.lastname1 ~ " " ~ beneficiario.lastname2 }} </td>
                        </tr>
                        <tr>
                            <td><strong>Fecha de nacimiento:</strong></td>
                            <td>{{ beneficiario.birthday | date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <td><strong>Rut:</strong></td>
                            <td>{{ beneficiario.code }}</td>
                        </tr>
                        <tr>
                            <td><strong>Parentesco:</strong></td>
                            <td>{{ beneficiario.relationship }}</td>
                        </tr>
                        <tr>
                            <td><strong>Capital:</strong></td>
                            <td>{{ beneficiario.capital }}%</td>
                        </tr>
                    </table>
                </td>
                    {% if i >= 1 %}
                        </tr><tr>
                        {% set i = 0 %}
                    {% endif %}
                    {% set number = number + 1 %}
                    {% set i = i + 1 %}
                {% endfor %}
            </tr>
        </table>
    </td>
</tr>
{% endif %}