<tr>
    <td>
        <h2 style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;">Declaración Personal</h2>
        <table style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;">
            {% for question in insurance.questions %}
                {% if question.question|lower == "peso"  %}
                <tr>
                    <td><strong>Peso:</strong></td>
                    <td>{{ question.answer }} kg.</td>
                </tr>
                    {% endif %}
                    {% if question.question|lower == "estatura"  %}
                <tr>
                    <td><strong>Estatura:</strong></td>
                    <td>{{ question.answer }} cms</td>
                </tr>
                {% endif %}
			{% endfor %}
            {% for question in insurance.questions %}	
				{% if question.question|lower == "enfermedad"  %}
					{% if question.answer != "" %}
                <tr>
                    <td><strong>Declaración:</strong></td>
                    <td>{{question.answer}}</td>
                </tr>
            {% endif %}
				{% endif %}
			{% endfor %}
        </table>
    </td>
</tr>