<tr>
    <td>
        <h2 style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;">Datos de viaje</h2>
        <table style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;">
			<tr>
				<td><strong>Fecha de viaje:</strong></td>
				<td>{{ insurance.travelDate }}</td>
			</tr>
        </table>
    </td>
</tr>