
{% extends "SeguroBundle::Mail/mail_pago_transbank.html.twig" %}

{% block voucher %}
<tr>
    <td>
        <h2 style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;">Datos de la propiedad a asegurar</h2>
        <table style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;">
            <tr>
                <td><strong>Dirección:</strong></td>
                <td>{{ insurance.home.address }}</td>
            </tr>
            <tr>
                <td><strong>Ciudad:</strong></td>
                <td>{{ insurance.home.addressCity  |capitalize }}</td>
            </tr>
            <tr>
                <td><strong>Comuna:</strong></td>
                <td>{{ insurance.home.addressState |capitalize }}</td>
            </tr>
        </table>
    </td>
</tr>
{% endblock %}