<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Contratación de póliza</title>
	<style>
		@font-face {
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 400;
			src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v15/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
		}
	</style>
</head>
<body bgcolor="#F0F0F0">
	<table align="center" width="750" cellpadding="10" style="margin-bottom: 30px; border: 1px solid #DDDDDD; border-collapse: collapse; font-family: Arial; color: #444444;" bordercolor="#dddddd" bgcolor="#fffffff">
		<tr>
			<td align="center"><img style="display:block" src="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/seguros/images/ticket.png') }}" alt="" /></td>
		</tr>
		<tr>
			<td align="center" style="font-size: 20px">
				<strong style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;">Gracias por contratar su seguro de
                {% if insurance.product.titleInternet is empty %}
                    {{insurance.name}}
                {% else %}
                    {{insurance.product.titleInternet}}
                {% endif %}
                </strong>
			</td>
		</tr>
		<tr>
			<td>
				<table align="center" width="500">
					<tr>
						<td align="center" style="border: 1px solid #dddddd">
							<p style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;margin-bottom:3px">Número de transacción:</p>
							<p style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;margin-top:3px"><strong>
                                {{ insurance.id }}
                            </strong></p>
						</td>
						{% if (proposal != null and proposal.solicitud != null) %}
						<td width="20"></td>
						<td align="center" style="border: 1px solid #dddddd">
							<p style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;margin-bottom:3px">Número de solicitud:</p>
							<p style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;margin-top:3px"><strong>
                                {{ proposal.solicitud }}
                            </strong></p>
						</td>
            			{% endif %}
						<td width="20"></td>
						<td align="center" style="border: 1px solid #dddddd">
							<p style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;margin-bottom:3px">Fecha de transacción:</p>
							<p style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;margin-top:3px"><strong>
                            {% if insurance.paiement.created.date is defined %}
                               {{insurance.paiement.created.date | date('d/m/Y H:i:s')}}
                            {% else %}
                                {{insurance.created.date | date('d/m/Y H:i:s')}}
                            {% endif %}
                            </strong></p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<table align="center" width="750" cellpadding="10" style="border-collapse: collapse; border: 1px solid #DDDDDD; font-family: Arial; color: #444444;" bordercolor="#dddddd" bgcolor="#fffffff">
		<tr>
			<td align="center"><img style="display:block" src="{{ app.request.getSchemeAndHttpHost() ~ asset('assets/seguros/images/poliza.png') }}" alt="" /></td>
		</tr>
		<tr>
			<td align="center" style="font-size: 20px">
				<strong style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;">Datos de la póliza</strong>
			</td>
		</tr>
		<tr>
			<td>
				<table align="center" width="100%" cellpadding="0" border="1" style="border-collapse: collapse;border: 1px solid #DDDDDD;">
					<tr>
						<td align="center" valign="middle" style="padding: 20px 0">
							<span style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;background: #5fb1bb; color: #ffffff; border-radius: 30px; padding: 5px 30px; display: inline-block; font-size: 14px;">
                            {% set capital = '' %}
                            {% for key, coverage in insurance.product.coverages%}
                                {% if coverage.plan.id == insurance.plan.id and coverage.price is not null and coverage.codplanco is not null %}
                                    {% set arraycodplanco = coverage.codplanco|split(',') %}
                                        {% for codigoplan in arraycodplanco %}
                                            {% if codigoplan|trim == insurance.pri|trim  %}
                                                {% set capital =  " / " ~coverage.capital ~ " UF" %}
                                            {% endif %}
                                        {% endfor %}           
                                    
                                {% endif %}
                            {% endfor %}
                            {{ insurance.plan.name }} <br/> {{ capital }}
                           </span>
							<p style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;margin-bottom:3px"><strong>{{ insurance.price | monthly(uf.value) }}</strong></p>
							<p style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;margin-top:3px"><strong>(UF {{ insurance.price | number_format(2, ',', '.') }})</strong></p>
						</td>
						<td align="center" valign="middle">
							<p style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;color: #5fb1bb; font-size: 24px;">
                            {{ insurance.price | monthly(uf.value) }} (UF {{ insurance.price | number_format(2, ',', '.') }})
                            {% if plan.product.codFrecPago is defined %}
                            <strong><span style="font-size: 14px;">{{ plan.product.codFrecPago == 5 ? 'pago único': ( plan.product.codFrecPago == 4 ? 'pago anual' : 'pago mensual') }}</span> </strong>
                            {% else %}
                            <strong><span style="font-size: 14px;">{% block periodmail %}pago mensual{% endblock %}</span></strong>
                            {% endif %}
                            </p>
						</td>
						<td align="center" valign="middle">
							<p style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;margin-bottom:3px"><strong>Medio de pago</strong></p>
							<img style="margin-top:3px; display:block;" src="http://180.153.10.71/web20/assets/seguros/images/logo-webpay.png" alt="" />
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<h2 style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;">Datos del titular</h2>
				<table width="100%" style="font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;">
					<tr>
						<td><strong>Nombre completo:</strong></td>
						<td>{{insurance.client.name ~ " " ~ insurance.client.lastname1 ~  " " ~ insurance.client.lastname2 }}</td>
						<td><strong>Fecha de nacimiento:</strong></td>
						<td>{{insurance.client.birthday.date | date('d/m/Y') }}</td>
					</tr>
					<tr>
						<td><strong>Rut:</strong></td>
						<td>{{insurance.client.code}}</td>
						<td><strong>Comuna:</strong></td>
						<td>{{insurance.client.addressState |capitalize}}</td>
					</tr>
					<tr>
						<td><strong>Dirección:</strong></td>
						<td>{{insurance.client.address}}</td>
						<td><strong>Email:</strong></td>
						<td>{{insurance.client.addressEmail |capitalize}}</td>
					</tr>
					<tr>
						<td><strong>Ciudad:</strong></td>
						<td>{{insurance.client.addressCity |capitalize }}</td>
					</tr>
					<tr>
						<td><strong>Teléfono:</strong></td>
						<td>{{insurance.client.addressCellPhone}}</td>
					</tr>
				</table>
			</td>
		</tr>

		
		{% block voucher %}{% endblock %}
	</table>
</body>
</html>