{% extends "SeguroBundle::Mail/mail_pago_transbank.html.twig" %}

{% block voucher %}
	{% embed "SeguroBundle::Mail/cargacliente.html.twig" %}{% endembed %}
	{% embed "SeguroBundle::Mail/fechaviaje.html.twig" %}{% endembed %}
{% endblock %}


{% block periodmail %}anual{% endblock %}