{% extends "::base.html.twig" %}

{% block title %}{{ product.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/seguro-protegido-hogar.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/seguro-protegido-hogar.js') }}"></script>
   
    <SCRIPT language="JavaScript">

 $(document).ready(function(){
  $('#clicktocall').click(function() {               
    window.open('{{product.urlClicktocall}}','popupclickfono','menubar=0,resizable=0,width=440,height=365,top=250,left=400');
    document.form_fono.target="popupclickfono";
    document.form_fono.submit();
    return false;
  });
    $('#clicktocallMobile').click(function() {                 
    window.open('{{product.urlClicktocall}}','popupclickfono','menubar=0,resizable=0,width=440,height=365,top=250,left=400');
    document.form_fono.target="popupclickfono";
    document.form_fono.submit();
    return false;
  });

});

</SCRIPT>
{% endblock %}

{% block body %}
    {{ include('partials/banner_product.html.twig', { product: product, uf: uf, segment: app.user.segment, desc: desc }) }}
    <div class="col-12 xs title">
        <div class="mytable">
          <div class="myrow">
            <div class="mytd icon">
              <img src="{{ asset('img/family/' ~ (product.getFamilyBySegment(app.user.segment)).icon ) }}">
            </div>
            <div class="mytd">
              <h1 class="seguros">
                  <!--CODIGO ANTIGUO
                  <div class="bajada out">Contrátelo desde <span class="red">{{ product.price | monthly(uf.value) }}*</span> mensuales</div>
                  -->
                <!-- VALOR A PARSEAR -->
                <!-- <p>{{ product.description }}</p>-->

                  <div class="bajada out title-seguro">Desde <strong>{{ product.price | monthly(uf.value) }}<sup>*</sup> <strong>mensuales</strong></strong>
                  </div>


              </h1>
            </div>
          </div>
        </div>
        
            <div class="visible-sm">
                {% if product.buttonHelp != 1 %}
                <a id="clicktocallMobile"  class="button-solicitar btn-llamar no-disponible"> Te llamamos </a>
                {% else %}
                     {% if product.IdClicktocall != "" and product.UrlClicktocall != "" and product.GlosaClicktocall !="" %}
                        <a  id="clicktocallMobile" class="button-solicitar btn-llamar"> Te llamamos</a>
                    {% endif %}
                {% endif %}
              {% if product.permiteCotizar== true %}
                <a  id="clicktocallMobile" class="button-solicitar">Cotizarcf</a>
                {% endif %}
            </div>
        
    </div>
    <form id="form_fono" name="form_fono" action="{{product.UrlClicktocall}}" method="post">
  <input type="hidden" name="hidden[nom_cli]" id="hidden[nom_cli]" value="{{name}}">
  <input type="hidden" name="hidden[ID Cliente]" id="hidden[ID Cliente]" value="{{rut}}">
  <input type="hidden" name="hidden[Producto]" id="hidden[Producto]" value="{{product.IdClicktocall}}">
  <input type="hidden" name="hidden[glosa_producto]" id="hidden[glosa_producto]" value="{{product.GlosaClicktocall}}">
</form>

    {% set assists = product.getAssistsBySegment(app.user.segment) %}
    {% if assists and assists | length < 3 %}
        {% if assists and assists | length == 0 %}
          {% include 'partials/assistsShowProductInfo.html.twig' with {assists: assists, desc: desc, } %}
        {% else %}
          {% include 'partials/assistsShowProductInfo.html.twig' with {assists: assists,desc: desc} %}
          {% include 'partials/assistsShowProductAssists.html.twig' with {assists: assists} %}
        {% endif %}
    {% elseif assists and assists | length > 2 %}
        {% include 'partials/assistsShowProductAssists.html.twig' with {assists: assists } %}
        {% include 'partials/assistsShowProductInfo.html.twig' with {assists: assists, desc: desc} %}
    {% else %}
        {% include 'partials/showProduct.html.twig' with {product: product} %}
    {% endif %}
 
<div class="wrap-acordeon">
            <div class="row">
                <div class="col-12">
                    <div class="tooltip-accordeon row">
                        <ul>
                            <li class="col-3 col-sm-12">
                                <a href="#;">¿Qué cubre? <img src="{{ asset('assets/img/icons/icon-arrow.png') }}"></a>
                                <div class="info">
                                    {{ product.coverage | raw }}
                                </div>
                            </li>
                            <li class="col-3 col-sm-12">
                                <a href="#;">¿Qué no cubre? <img src="{{ asset('assets/img/icons/icon-arrow.png') }}"></a>
                                <div class="info">
                                    {{ product.coverageNot | raw }}
                                </div>
                            </li>
                            <li class="col-3 col-sm-12">
                                <a href="#;">¿Cómo utilizarlo? <img src="{{ asset('assets/img/icons/icon-arrow.png') }}"></a>
                                <div class="info">
                                    {{ product.howTo | raw }}
                                </div>
                            </li>
                            <li class="col-3 col-sm-12">
                            {% if product.pdf %}
                              <a target="_blank" href="{{ asset('img/poliza_seguro/' ~ product.pdf) }}">Condiciones General <img src="{{ asset('assets/img/icons/icon-arrow.png') }}"></a>
                            {% else %}
                              <a href="#">Ver póliza <img src="{{ asset('assets/img/icons/icon-arrow.png') }}"></a>
                            {% endif %}
                            </li>
                        </ul>
                    </div>
                    <div>{{ product.textLegal | raw }}</div>
                </div>
            </div>
    </div>
    <div class="clearfix"></div>
{% endblock %}