<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{#         <title>Ha Ocurrido un error: {{ status_code }}</title>#}

        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"  type="text/css"/>
    </head>
    <body>
    <div id="wrapper">
    
        <div id="container">
        
          <div id="errorpage">
            <div class="marco1">
              <h1>Estimado Cliente: </h1>
              Ha ocurrido un error. Por favor inténtelo nuevamente.<br>
              Disculpe las molestias.
            </div>
          </div>
       
       
            

    </div>        
    </body>
</html>
