<dl class="dl-horizontal">
    <dt>Nombre</dt>
    <dd>{{ value.fullname }}</dd>
    <dt>RUN</dt>
    <dd>{{ value.code }}</dd>
    <dt>Fecha de nacimiento</dt>
    <dd>{{ value.birthday | date('d/m/Y')}}</dd>
    {% block extra_fields %}{% endblock %}
</dl>
<hr>
