{% for beneficiary in value %}
    {% embed "::easy_admin/Insurance/base_person.html.twig" with {value: beneficiary} %}
        {% block extra_fields %}
            <dt>Parentesco</dt>
            <dd>{{ value.relationship }}</dd>
        {% endblock %}
    {% endembed %}
{% else %}
    No existen beneficiarios
{% endfor %}
