{% for carga in value %}
    {% embed "::easy_admin/Insurance/base_person.html.twig" with {value: carga} %}
        {% block extra_fields %}
            <dt>Parentesco</dt>
            <dd>{{ value.relationship }}</dd>
        {% endblock %}
    {% endembed %}
{% else %}
    No existen cargas
{% endfor %}
