<dl class="dl-horizontal">
    {% for key, data in value %}
        {% if data is not iterable %}
            <dt>{{ key }}</dt>
            <dd>{{ data }}</dd>
        {% endif %}
    {% endfor %}
</dl>
