{% extends "PlanificadorBundle::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
   
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/generico.js') }}"></script>
	
{% endblock %}

{% block body %}
	<div>
			<h3>Lista de Preguntas Generales</h3>
		<section>
			{{ include('PlanificadorBundle:administrador:layout/preguntasGenerica_listar.html.twig') }}
		</section>
	</div>
{% endblock %}

