<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="es-CL" id="ng-app" ng-app="portal" ng-init="uf = {{ uf.value }}">
    <head>
        <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=EDGE; IE=9; IE=8; IE=7; chrome=1" />
        <title>{% block title %}Zurich Santander{% endblock %}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!--[if lte IE 7]>
          <script src="{{ asset('assets/js/json3.min.js') }}"></script>
        <![endif]-->
        <!--[if lte IE 8]>
        
          <script src="{{ asset('assets/js/json3.min.js') }}"></script>
          <script>
            document.createElement('ng-include');
            document.createElement('ng-pluralize');
            document.createElement('ng-view');

            // Optionally these for CSS
            document.createElement('ng:include');
            document.createElement('ng:pluralize');
            document.createElement('ng:view');
          </script>
        <![endif]-->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/main.css?time') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/font.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/pikaday.css') }}">
           <link rel="stylesheet" href="{{ asset('assets/css/'~ (app.user.segment.name | lower) ~'.css') }}"> 
            {# CSS DE CAROUSEL #}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/style.css') }}?{{ 'now'|date('Ymd-H:i:s') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/jcarousel.responsive.css') }}">
            {#<link rel="stylesheet" type="text/css" href="owl.carousel.css">#}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/slick.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/slick-theme.css') }}">
        {% endblock %}
            {% if themedisplay == 'mobile' %}
            <link rel="stylesheet" type="text/css" href="{{ asset('assets/css/stylemobile.css') }}?{{ 'now'|date('Ymd-H:i:s') }}">
            {% endif %}
    </head>
    <body ng-init="token = '1234s'">
        <div id="headermovil"><a href="http://www.santander.cl"></a></div>
        <div class="container">
            <div class="row">
                {% block body %}{% endblock %}
               
                <!-- <div class="col-2 sm mt20">
                    <div class="mas-info p010">
                        <div class="text-lg-right text-md-center">
                            ¿Necesita más información?
                        </div>
                    </div>
                </div>
                <div class="col-3 col-sm-6 mt20 text-left borderLgray">
                    <div class="p010 icon-and-text">
                        <span><img src="{{ asset('assets/img/icons/icon-mobile.png') }}" alt=""></span>
                        <p>Llámenos al <span>(600) 320 3000</span></p>
                    </div>
                </div>
                <div class="col-3 col-sm-6 mt20 text-left borderLgray">
                    <div class="p010 icon-and-text">
                        <a href="#">
                            <span><img src="{{ asset('assets/img/icons/icon-chat-online.png') }}" alt=""></span>
                            <p>Chat online con <span>asesor experto</span></p>
                        </a>
                    </div>
                </div>
                <div class="col-4 sm mt10 pt-md-10 text-left">
                    <div class="mytable">
                        <div class="myrow">
                            <div class="mytd bkg-denuncia">
                                <p>Denuncio <span>ONLINE</span></p>
                            </div>
                            <div class="mytd bkg-gray-footer">
                                <p>Realiza el denuncio de siniestros online, de forma fácil y rápida.</p>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
	</div>
    <div class="hidden" id="mensajeespera">
        <div class="marco1">
            <div class="marco2">
                <div class="mensaje">
                    Espere un momento por favor...
                </div>                
            </div>
        </div>
    </div>    
        {% if udata is defined %}
            <script type="text/javascript"> 
                var utag_local =  {{ udata | json_encode | raw }};if(null!==utag_local&&""!==utag_local){var utag_data=Object.assign({},utag_local);void 0!==utag_data.template&&delete utag_data.template}
            </script>
        {% else %}
            <script type="text/javascript"> var utag_data = { }; </script> <!-- Loading script asynchronously -->
        {% endif %}
        <script type="text/javascript"> (function(a,b,c,d){ a='https://tags.tiqcdn.com/utag/santander/ch-online-banking/dev/utag.js'; b=document;c='script';d=b.createElement(c);d.src=a;d.type='text/java'+c;d.async=true; a=b.getElementsByTagName(c)[0];a.parentNode.insertBefore(d,a); })(); </script>
        {% block javascripts %}
            <script src="{{ asset('assets/js/angular.min.js?v=1.1.5') }}"></script>
            <script src="{{ asset('assets/js/angular-locale_es-cl.js') }}"></script>
            <script src="{{ asset('assets/js/app.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-1.12.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.validate.min.js') }}"></script>
            <script src="{{ asset('assets/js/validate.rut.js') }}"></script>
            <script src="{{ asset('assets/js/owl.carousel.js') }}"></script>
            <script src="{{ asset('assets/js/moment.min.js') }}"></script>
            <script src="{{ asset('assets/js/pikaday.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.mask.min.js') }}"></script>
            {# JS de CAROUSEL #}
            {#<script type="text/javascript" src="{{ asset('assets/js/jquery.js') }}"></script>#}
            <script type="text/javascript" src="{{ asset('assets/js/jquery.jcarousel.min.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/jcarousel.responsive.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/owl.carousel.js') }}"></script>
            <script type="text/javascript" src="{{ asset('assets/js/slick.min.js') }}"></script>
            {% if themedisplay == 'desktop' %}
            <script type="text/javascript" src="{{ asset('assets/js/owl-y-jcarousel.js') }}"></script>
            {% endif %}
        {% endblock %}
        {% set route = app.request.get("_route") %}
        {% if instantcall is defined %}
            {% if  instantcall  and  ( route == 'details_insurance' or route == 'resume_insurance' or route == 'fraud_insurance') %}
            
                {% if product.id is defined  %}
                <script>var instantcall = { product : {{ product.id }}, flag: {{ instantcall }}, url : '{{ path("instant_call", {step: "inicio"} ) }}' }; </script>
                {% elseif insurance.product is defined %}   
                <!-- {{ insurance.product | raw }}  -->       
                <script>var instantcall = { product :  {{ insurance.product.id }}, flag: {{ instantcall }}, url : '{{ path("instant_call", {step: "fin"} ) }}' }; </script>
                {% endif %}         
                <script type="text/javascript" src="{{ asset('assets/js/instant.call.js') }}"></script>
            
            {% endif %}
        {% endif %}
    </body>
</html>
