/*
  ===================== Botones =====================
*/
.str-btn {
  display: inline-block!important;
  font-size: 15px;
  padding: 15px ($margen * 4);
  @include border-radius(30px);
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none !important;
  position: relative;
  vertical-align: middle;
  appearance: none; 

  .text-btn {
    font-weight: $font-weight-normal;
  }


  &-primary {
    color: $color-white;
    background: $color-primary;
    border:none;

    .str-icon-candado {
      vertical-align: sub;
    }

    &:hover {
      background-color: #990000;
    }
  }

  

  &-secondary {
    color: $color-primary;
    background-color: $color-white;
    border: 2px solid $color-primary;
  }


  &-border {
    text-align: center;
    border-radius: 100px;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;
    color: $color-primary;
    border: 1px solid $color-primary;

    .str-icon-email {
      font-size: 17px!important;
    }

    i,
    .text-btn {
      display: inline-block;
      vertical-align: middle;
    }

    .text-btn {
      font-size: 14px;
    }


    &:hover {
      background-color: white;
    }
  }


  &-max {
    max-width: 260px;
  }

  [class*="str-icon-"] {
    font-size: 10px;
  }

  &-volver {
    background-color: $color-white;
    margin-bottom: -$margen * 3;
    a {
      text-decoration: none;
      i {
        font-size: 14px;
      }
    }
  }


  &[disabled]{
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
  }
}


.str-links-return {
  color: #999;
  text-decoration: none;
  position: relative;

  .text-btn {
    font-weight: 600;
  }

  i + .text-btn {
    padding-left: 10px;
  }

  i {
    font-size: 11px;
    position: absolute;
    left: 0px;
    top: 6px;
  }

  &:before {
    content: " ";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: currentColor;
    bottom: -2px;
    right: 0;
    left: 0;
    margin: 0 auto;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
  }

  &:hover {
    .text-btn { color: currentColor; }

    &:before {
      width: 100%;
    }
  }


  &.second {
    color: $color-primary;
  }
}




