/*
  ===================== custom libs  =====================
*/
.slick-center {
	.inset-str-box {
		transform: scale(1.04); 
	}	

	.str-box {
		@extend .str-shadow;
	}
}


.slider {
	padding-top: 20px;

	[class*="str-message-"] {
		margin-top: 50px;
	}
}

.slick-list {
	overflow: visible;
}

/*.slick-list.draggable {
	padding-bottom: 20px!important;
}*/

.slick-dots {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
	text-align: center;

	li {
		display: inline-block;
		pointer-events: none;

		button {
			width: 10px;
			height: 10px;
			border-radius: 100%;
			background-color: silver;
			border: 2px solid transparent;
			text-indent: -9999px;
		}


		& + li {
			margin-left: 5px;
		}


		&.slick-active {
			position: relative;
			top: -2px;

			button {
				width: 14px;
				height: 14px;
				border-color: white;
				background-color: red;
			}
		}
	}
}