

/* Gutter */
$var-gutter: 10px;
$var-gutter-min: 5px;


/* columnas */
$var-12: 100%;
$var-11: 91.66666667%;
$var-10: 83.33333333%;
$var-09: 75%;
$var-08: 66.66666667%;
$var-07: 58.33333333%;
$var-06: 50%;
$var-05: 41.66666667%;
$var-04: 33.33333333%;
$var-03: 25%;
$var-02: 16.66666667%;
$var-01: 8.33333333%;
$var-00: 0%;

/*.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: $var-gutter;
  padding-right: $var-gutter;
}

@media (max-width: $break-sm - 1) {
  .col-xs-12 + .col-xs-12 {
    margin-top: $margen * 2;
  }
}


@media (max-width: $break-md - 1) {
  .col-sm-12 + .col-sm-12 {
    margin-top: $margen * 2;
  }
}


@media (min-width: $break-sm) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: $var-gutter;
  padding-right: $var-gutter;
}*/

/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: $var-gutter;
  padding-right: $var-gutter;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: $var-12;
}
.col-xs-11 {
  width: $var-11;
}
.col-xs-10 {
  width: $var-10;
}
.col-xs-9 {
  width: $var-09;
}
.col-xs-8 {
  width: $var-08;
}
.col-xs-7 {
  width: $var-07;
}
.col-xs-6 {
  width: $var-06;
}
.col-xs-5 {
  width: $var-05;
}
.col-xs-4 {
  width: $var-04;
}
.col-xs-3 {
  width: $var-03;
}
.col-xs-2 {
  width: $var-02;
}
.col-xs-1 {
  width: $var-01;
}
.col-xs-pull-12 {
  right: $var-12;
}
.col-xs-pull-11 {
  right: $var-11;
}
.col-xs-pull-10 {
  right: $var-10;
}
.col-xs-pull-9 {
  right: $var-09;
}
.col-xs-pull-8 {
  right: $var-08;
}
.col-xs-pull-7 {
  right: $var-07;
}
.col-xs-pull-6 {
  right: $var-06;
}
.col-xs-pull-5 {
  right: $var-05;
}
.col-xs-pull-4 {
  right: $var-04;
}
.col-xs-pull-3 {
  right: $var-03;
}
.col-xs-pull-2 {
  right: $var-02;
}
.col-xs-pull-1 {
  right: $var-01;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: $var-12;
}
.col-xs-push-11 {
  left: $var-11;
}
.col-xs-push-10 {
  left: $var-10;
}
.col-xs-push-9 {
  left: $var-09;
}
.col-xs-push-8 {
  left: $var-08;
}
.col-xs-push-7 {
  left: $var-07;
}
.col-xs-push-6 {
  left: $var-06;
}
.col-xs-push-5 {
  left: $var-05;
}
.col-xs-push-4 {
  left: $var-04;
}
.col-xs-push-3 {
  left: $var-03;
}
.col-xs-push-2 {
  left: $var-02;
}
.col-xs-push-1 {
  left: $var-01;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: $var-12;
}
.col-xs-offset-11 {
  margin-left: $var-11;
}
.col-xs-offset-10 {
  margin-left: $var-10;
}
.col-xs-offset-9 {
  margin-left: $var-09;
}
.col-xs-offset-8 {
  margin-left: $var-08;
}
.col-xs-offset-7 {
  margin-left: $var-07;
}
.col-xs-offset-6 {
  margin-left: $var-06;
}
.col-xs-offset-5 {
  margin-left: $var-05;
}
.col-xs-offset-4 {
  margin-left: $var-04;
}
.col-xs-offset-3 {
  margin-left: $var-03;
}
.col-xs-offset-2 {
  margin-left: $var-02;
}
.col-xs-offset-1 {
  margin-left: $var-01;
}
.col-xs-offset-0 {
  margin-left: 0%;
}*/
/*@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: $var-12;
  }
  .col-sm-11 {
    width: $var-11;
  }
  .col-sm-10 {
    width: $var-10;
  }
  .col-sm-9 {
    width: $var-09;
  }
  .col-sm-8 {
    width: $var-08;
  }
  .col-sm-7 {
    width: $var-07;
  }
  .col-sm-6 {
    width: $var-06;
  }
  .col-sm-5 {
    width: $var-05;
  }
  .col-sm-4 {
    width: $var-04;
  }
  .col-sm-3 {
    width: $var-03;
  }
  .col-sm-2 {
    width: $var-02;
  }
  .col-sm-1 {
    width: $var-01;
  }
  .col-sm-pull-12 {
    right: $var-12;
  }
  .col-sm-pull-11 {
    right: $var-11;
  }
  .col-sm-pull-10 {
    right: $var-10;
  }
  .col-sm-pull-9 {
    right: $var-09;
  }
  .col-sm-pull-8 {
    right: $var-08;
  }
  .col-sm-pull-7 {
    right: $var-07;
  }
  .col-sm-pull-6 {
    right: $var-06;
  }
  .col-sm-pull-5 {
    right: $var-05;
  }
  .col-sm-pull-4 {
    right: $var-04;
  }
  .col-sm-pull-3 {
    right: $var-03;
  }
  .col-sm-pull-2 {
    right: $var-02;
  }
  .col-sm-pull-1 {
    right: $var-01;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: $var-12;
  }
  .col-sm-push-11 {
    left: $var-11;
  }
  .col-sm-push-10 {
    left: $var-10;
  }
  .col-sm-push-9 {
    left: $var-09;
  }
  .col-sm-push-8 {
    left: $var-08;
  }
  .col-sm-push-7 {
    left: $var-07;
  }
  .col-sm-push-6 {
    left: $var-06;
  }
  .col-sm-push-5 {
    left: $var-05;
  }
  .col-sm-push-4 {
    left: $var-04;
  }
  .col-sm-push-3 {
    left: $var-03;
  }
  .col-sm-push-2 {
    left: $var-02;
  }
  .col-sm-push-1 {
    left: $var-01;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: $var-12;
  }
  .col-sm-offset-11 {
    margin-left: $var-11;
  }
  .col-sm-offset-10 {
    margin-left: $var-10;
  }
  .col-sm-offset-9 {
    margin-left: $var-09;
  }
  .col-sm-offset-8 {
    margin-left: $var-08;
  }
  .col-sm-offset-7 {
    margin-left: $var-07;
  }
  .col-sm-offset-6 {
    margin-left: $var-06;
  }
  .col-sm-offset-5 {
    margin-left: $var-05;
  }
  .col-sm-offset-4 {
    margin-left: $var-04;
  }
  .col-sm-offset-3 {
    margin-left: $var-03;
  }
  .col-sm-offset-2 {
    margin-left: $var-02;
  }
  .col-sm-offset-1 {
    margin-left: $var-01;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}*/
@media (min-width: $media-responsive + 1) {
  .row {
    margin-left: -$var-gutter;
    margin-right: -$var-gutter;
    margin-bottom: 0!important;

    &:after {
       content: " ";
       visibility: hidden;
       display: block;
       height: 0;
       clear: both;
    }
  }

  .col-md-1, .col-md-2, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .col-md-3{
    display: inline-block;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 24.6% !important;
  }

  .col-md-12 {
    width: $var-12;
  }
  .col-md-11 {
    width: $var-11;
  }
  .col-md-10 {
    width: $var-10;
  }
  .col-md-9 {
    width: $var-09;
  }
  .col-md-8 {
    width: $var-08;
  }
  .col-md-7 {
    width: $var-07;
  }
  .col-md-6 {
    width: $var-06;
  }
  .col-md-5 {
    width: $var-05;
  }
  .col-md-4 {
    width: $var-04;
  }
  .col-md-3 {
    width: $var-03;
  }
  .col-md-2 {
    width: $var-02;
  }
  .col-md-1 {
    width: $var-01;
  }
  .col-md-pull-12 {
    right: $var-12;
  }
  .col-md-pull-11 {
    right: $var-11;
  }
  .col-md-pull-10 {
    right: $var-10;
  }
  .col-md-pull-9 {
    right: $var-09;
  }
  .col-md-pull-8 {
    right: $var-08;
  }
  .col-md-pull-7 {
    right: $var-07;
  }
  .col-md-pull-6 {
    right: $var-06;
  }
  .col-md-pull-5 {
    right: $var-05;
  }
  .col-md-pull-4 {
    right: $var-04;
  }
  .col-md-pull-3 {
    right: $var-03;
  }
  .col-md-pull-2 {
    right: $var-02;
  }
  .col-md-pull-1 {
    right: $var-01;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: $var-12;
  }
  .col-md-push-11 {
    left: $var-11;
  }
  .col-md-push-10 {
    left: $var-10;
  }
  .col-md-push-9 {
    left: $var-09;
  }
  .col-md-push-8 {
    left: $var-08;
  }
  .col-md-push-7 {
    left: $var-07;
  }
  .col-md-push-6 {
    left: $var-06;
  }
  .col-md-push-5 {
    left: $var-05;
  }
  .col-md-push-4 {
    left: $var-04;
  }
  .col-md-push-3 {
    left: $var-03;
  }
  .col-md-push-2 {
    left: $var-02;
  }
  .col-md-push-1 {
    left: $var-01;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: $var-12;
  }
  .col-md-offset-11 {
    margin-left: $var-11;
  }
  .col-md-offset-10 {
    margin-left: $var-10;
  }
  .col-md-offset-9 {
    margin-left: $var-09;
  }
  .col-md-offset-8 {
    margin-left: $var-08;
  }
  .col-md-offset-7 {
    margin-left: $var-07;
  }
  .col-md-offset-6 {
    margin-left: $var-06;
  }
  .col-md-offset-5 {
    margin-left: $var-05;
  }
  .col-md-offset-4 {
    margin-left: $var-04;
  }
  .col-md-offset-3 {
    margin-left: $var-03;
  }
  .col-md-offset-2 {
    margin-left: $var-02;
  }
  .col-md-offset-1 {
    margin-left: $var-01;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
/*@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: $var-12;
  }
  .col-lg-11 {
    width: $var-11;
  }
  .col-lg-10 {
    width: $var-10;
  }
  .col-lg-9 {
    width: $var-09;
  }
  .col-lg-8 {
    width: $var-08;
  }
  .col-lg-7 {
    width: $var-07;
  }
  .col-lg-6 {
    width: $var-06;
  }
  .col-lg-5 {
    width: $var-05;
  }
  .col-lg-4 {
    width: $var-04;
  }
  .col-lg-3 {
    width: $var-03;
  }
  .col-lg-2 {
    width: $var-02;
  }
  .col-lg-1 {
    width: $var-01;
  }
  .col-lg-pull-12 {
    right: $var-12;
  }
  .col-lg-pull-11 {
    right: $var-11;
  }
  .col-lg-pull-10 {
    right: $var-10;
  }
  .col-lg-pull-9 {
    right: $var-09;
  }
  .col-lg-pull-8 {
    right: $var-08;
  }
  .col-lg-pull-7 {
    right: $var-07;
  }
  .col-lg-pull-6 {
    right: $var-06;
  }
  .col-lg-pull-5 {
    right: $var-05;
  }
  .col-lg-pull-4 {
    right: $var-04;
  }
  .col-lg-pull-3 {
    right: $var-03;
  }
  .col-lg-pull-2 {
    right: $var-02;
  }
  .col-lg-pull-1 {
    right: $var-01;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: $var-12;
  }
  .col-lg-push-11 {
    left: $var-11;
  }
  .col-lg-push-10 {
    left: $var-10;
  }
  .col-lg-push-9 {
    left: $var-09;
  }
  .col-lg-push-8 {
    left: $var-08;
  }
  .col-lg-push-7 {
    left: $var-07;
  }
  .col-lg-push-6 {
    left: $var-06;
  }
  .col-lg-push-5 {
    left: $var-05;
  }
  .col-lg-push-4 {
    left: $var-04;
  }
  .col-lg-push-3 {
    left: $var-03;
  }
  .col-lg-push-2 {
    left: $var-02;
  }
  .col-lg-push-1 {
    left: $var-01;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: $var-12;
  }
  .col-lg-offset-11 {
    margin-left: $var-11;
  }
  .col-lg-offset-10 {
    margin-left: $var-10;
  }
  .col-lg-offset-9 {
    margin-left: $var-09;
  }
  .col-lg-offset-8 {
    margin-left: $var-08;
  }
  .col-lg-offset-7 {
    margin-left: $var-07;
  }
  .col-lg-offset-6 {
    margin-left: $var-06;
  }
  .col-lg-offset-5 {
    margin-left: $var-05;
  }
  .col-lg-offset-4 {
    margin-left: $var-04;
  }
  .col-lg-offset-3 {
    margin-left: $var-03;
  }
  .col-lg-offset-2 {
    margin-left: $var-02;
  }
  .col-lg-offset-1 {
    margin-left: $var-01;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}*/




/*@media (min-width: 992px) {
  .row-5 {
    [class*="col-"] {
      width: 20%;
    }
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .row-5 {
    .box-fondo {
      margin-bottom: 20px;
    }
  }
}
*/



/*
  modificacion row gutter
  */
  .row.gutter-min {
    margin-left: -$var-gutter-min;
    margin-right: -$var-gutter-min;

    [class*="col-"] {
      padding-left: $var-gutter-min;
      padding-right: $var-gutter-min;
    }
  }

