/*
  =====================  Container  =====================
*/

.hidden { display: none!important; }
.semi-bold { font-weight: $font-weight-semi-bold!important; }
.semi-light { font-weight: $font-weight-light!important; }
.str-color-primary { color: $color-primary!important; }

.thumbs-center {
	text-align: center;

	img {
		margin: auto;
	}
}

img {
	border: 0;
}

.str-content-circle {
	position: relative;
	padding-top: 50px!important;
	margin-top: 50px!important;
}

.str-circle-success,
.str-circle-error {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 5px solid #F0F0F0;;
	font-size: 25px;
	color: white;
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translate3d(-50%, 0, 0);

	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
	}
}

.str-circle-success {
	background-color: $color-success;
}

.str-circle-error {
	background-color: $color-primary;
}






.str-list-check {
	li {
		.str-icons-li,
		.str-text-li {
			display: inline-block;
			vertical-align: top;
		}

		.str-icons-li {
			width: 16px;
			height: 16px;
			border-radius: 50%;
			margin-right: $margen;
			position: relative;
			/*top: 4px;*/
			background-color: $color-success;

			i {
				font-size: 9px;
				color: white;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}
		}

		.str-text-li {
			max-width: calc(100% - 33px);
		}

		& + li {
			margin-top: 8px;
		}
	}
}


.str-list-bullet {
	li {
		&:before {
			content: '';
			border-radius: 50%;
			position: relative;
			top: 5px;
			background-color: $color-primary;
		}

		&:before,
		span {
			display: inline-block;
			vertical-align: top;
		}

		span {
			padding-left: 10px;
			max-width: calc(100% - 16px);
		}
	}
}

.str-list-bullet {
	ul{
		li {list-style: circle;margin-left: 17px;list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAIAAABvrngfAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAA/SURBVBhXY/j1/PndsLDz/PxABGQAuQx3goLOMDDAEZDLAJREFgJysQndjYhAFgJywcaHhl4QFwciIOPX8+cAx0ErpacvWMQAAAAASUVORK5CYII=');
		}
	}
}


.str-size-active {
	text-align: center;
}


/*
	=== desktop ===
*/
@media (min-width: $media-responsive + 1) {
	.show-mobile { display: none!important; }
}




/*
	=== desktop ===
*/
@media (max-width: $media-responsive) {
	.hidden-mobile { display: none!important; }
	.str-shadow-mobile {
		background: #FFFFFF;
		border: 2px solid #DDDDDD;
		box-shadow: 0px 8px 10px 0px rgba(25,25,25,0.20);
		border-radius: 2px;
		margin: 10px;
		padding: 20px;
	}
}





.str {

	&-head-page {
		text-align: center;
	}

		&-title-page {
			color: $color-primary;
			padding-left: 20px;
			padding-right: 20px;
			font-weight: $font-weight-normal;
		}


		&-subtitle-page {
			@extend .h3;
			padding-left: 10px;
			padding-right: 10px;
			margin-top: $margen + 5;
			color: #6D6D6D;
			font-weight: $font-weight-normal;
		}



	&-body-page {
		overflow: hidden;
	}




	/*
	  ===  box  ===
	*/
	
	&-box {
		display: block;
		text-decoration: none;
		border: 2px solid $color-border;
		border-radius: 4px;
		text-align: center;
		padding: $margen + 5;
		color: $color-base;
		background-color: white;
		transition: all ease-in-out 0.5s;



		@media (min-width: 600px) and (max-width: 800px) {
			& {
				margin: 20px;
			}
		}

		@media (max-width: 599px) {
			& {
				margin: 20px 10px;
			}
		}


		.str-circle {
			transition: transform ease 0.6s;
			display: inline-block;
			margin: auto;
			position: relative;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				border-radius: 50%;
				transition: background ease-in-out 0.6s;
			}

			i {
				position: relative;
				z-index: 10;
			}
		}

		.str-thumbs {
			margin-bottom: $margen;

			img {
				display: inline-block;
			}
		}


		


		&-active {
			border-color: $active-box;

			&:hover {
				box-shadow: none;
			}


			.str-circle {

				&:after {
					color: white;
					background-color: $active-box;
					border-color: $active-box!important;	
				}

				i {
					color: white;
				}
			}
		}

		&-error {
			border-color: $color-primary;
		}

		
		/*
			=== desktop ===
		*/
		@media (min-width: $media-responsive + 1) {
			& {
				margin-bottom: 20px;

				.str-circle {
					width: 35px;
					height: 35px;
					margin-top: $margen * 2;

					&:after {
						width: 31px;
						height: 31px;
						border: 2px dashed darken($color-border, 20%);
					}

					i {
						font-size: 14px;
						line-height: 35px;
					}
				}


				.str-thumbs {
					img {
						width: 112px;
						height: 103px;
					}
				}


				&:hover {
					box-shadow: 0px 10px 10px 0px rgba(25,25,25,0.20);

					.str-circle:after {
						animation: spinAround 3s linear infinite;
					}
				}


				&.str-box-order {
					.str-title-box {
						min-height: 75px;
					}
				}


				&.str-shadow.str-box-min {
					min-height: 290px;
				}



			}
		}
		

		/*
			=== mobile ===
		*/
		@media (max-width: $media-responsive) {

			&.str-box-order {
				display: flex;
				justify-content: center;
				flex-flow: column;

				.str-title-box {
					order: 1;
					min-height: 70px;
					font-size: $font-size-h2;
					font-weight: $font-weight-normal;
				}

				.str-thumbs {
					order: 2;
				}

				.str-circle {
					order: 3;
					width: 60px;
					height: 60px;

					&:after {
						width: 56px;
						height: 56px;
						border: 2px dashed darken($color-border, 20%);
					}

					i {
						font-size: 24px;
						line-height: 60px;
					}
				}
			}


			&.str-box-min {
				.str-title-box {
					min-height: 80px;
				}
			}

			/*&.no-order {
				.str-title-box {
					order: 1;
					font-size: $font-size-h2;
					font-weight: $font-weight-normal;
				}
			}*/
		}
	}


	&-box-check {
		

		.str-title-box {
			font-size: 14px;
			min-height: 35px;
		}

		.str-right {
			text-align: left;
		}


		.str-custom-checkbox {
			margin-top: 20px;
		}


		.str-input-box {
			position: relative;

			.str-icon-check2 {
				position: absolute;
				top: 50%;
				right: -20px;
				font-size: 17px;
				opacity: 0;
				transition: 500ms ease;
				transform: translate3d(0, -50%, 0);
				color: $color-success;
			}
		}


		&.str-box-active {
			.str-input-box {

				.str-icon-check2 {
					opacity: 1;
					right: 0px;
				}

				.str-input {
					border-bottom-color: $color-success;
				}
			}
		}


		/*
			=== desktop ===
		*/
		@media (min-width: $media-responsive + 1) {

			& {
				margin-bottom: 20px;
				overflow: hidden;

				.str-left,
				.str-right {
					float: left;
				}

				.str-left {
					width: 112px;
					margin-right: 40px;
				}


				.str-right {
					width: calc(100% - (122px + 40px));
				}
			}
		}	

		/*
			=== mobile ===
		*/
		@media (max-width: $media-responsive) {

			& {
				.str-title-box {
					font-size: 20px;
				}

				.str-custom-checkbox {
					text-align: center;
				}
			}
		}
	}





	&-footer-btn {
		background-color: #FAFAFA;
		padding: 8px;
		margin-top: 20px;


		/*
			=== desktop ===
		*/
		@media (min-width: $media-responsive + 1) {
			& {
				display: table;
				width: 100%;
			}

			.str-left,
			.str-right {
				display: table-cell;
				width: 50%;	
				vertical-align: middle;
			}


			.str-right {
				text-align: right
			}
		}



		/*
			=== mobile ===
		*/
		@media (max-width: $media-responsive) {
			& {
				display: flex;
				flex-flow: column;
				text-align: center;
				justify-content: center;

				.str-left {
					order: 2;
					margin-top: $margen * 2;
				}

				.str-right {
					order: 1;
				}

				.str-btn,
				.str-btn-border {
					display: block;
					width: 100%;
				}

				&.str-footer-center {

					.str-left,
					.str-center,
					.str-right {
						width: 100%;
					}

					.str-right {
						order: 1;
					}

					.str-left {
						order: 3;
						margin-bottom: 20px;
					}

					.str-center {
						margin-top: 20px;
						order: 2;
					}
				}
			}
		}
	}


	&-footer-center {
		.str-center {
			display: table-cell;
		}

		.str-left,
		.str-center,
		.str-right {
			width: 33.333%;
		}

	}





	/*loading*/
	&-loader-content {
		position: relative;
		width: 80px;
		height: 80px;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%, 0, 0);

		span{
			color: #ec0000;
		    font-size: 30px;
		    left: 25px;
		    position: absolute;
		    top: 25px;
		}

		.loading{
			animation-duration: 1.5s;
			animation-direction: normal;
			animation-iteration-count: infinite;
			animation-timing-function: linear;
			animation-name: loader;
		}



		@-webkit-keyframes uil-ring-anim {
		  0% {
		    -ms-transform: rotate(0deg);
		    -moz-transform: rotate(0deg);
		    -webkit-transform: rotate(0deg);
		    -o-transform: rotate(0deg);
		    transform: rotate(0deg);
		  }
		  100% {
		    -ms-transform: rotate(360deg);
		    -moz-transform: rotate(360deg);
		    -webkit-transform: rotate(360deg);
		    -o-transform: rotate(360deg);
		    transform: rotate(360deg);
		  }
		}
		@-webkit-keyframes uil-ring-anim {
		  0% {
		    -ms-transform: rotate(0deg);
		    -moz-transform: rotate(0deg);
		    -webkit-transform: rotate(0deg);
		    -o-transform: rotate(0deg);
		    transform: rotate(0deg);
		  }
		  100% {
		    -ms-transform: rotate(360deg);
		    -moz-transform: rotate(360deg);
		    -webkit-transform: rotate(360deg);
		    -o-transform: rotate(360deg);
		    transform: rotate(360deg);
		  }
		}
		@-moz-keyframes uil-ring-anim {
		  0% {
		    -ms-transform: rotate(0deg);
		    -moz-transform: rotate(0deg);
		    -webkit-transform: rotate(0deg);
		    -o-transform: rotate(0deg);
		    transform: rotate(0deg);
		  }
		  100% {
		    -ms-transform: rotate(360deg);
		    -moz-transform: rotate(360deg);
		    -webkit-transform: rotate(360deg);
		    -o-transform: rotate(360deg);
		    transform: rotate(360deg);
		  }
		}
		@-ms-keyframes uil-ring-anim {
		  0% {
		    -ms-transform: rotate(0deg);
		    -moz-transform: rotate(0deg);
		    -webkit-transform: rotate(0deg);
		    -o-transform: rotate(0deg);
		    transform: rotate(0deg);
		  }
		  100% {
		    -ms-transform: rotate(360deg);
		    -moz-transform: rotate(360deg);
		    -webkit-transform: rotate(360deg);
		    -o-transform: rotate(360deg);
		    transform: rotate(360deg);
		  }
		}
		@-moz-keyframes uil-ring-anim {
		  0% {
		    -ms-transform: rotate(0deg);
		    -moz-transform: rotate(0deg);
		    -webkit-transform: rotate(0deg);
		    -o-transform: rotate(0deg);
		    transform: rotate(0deg);
		  }
		  100% {
		    -ms-transform: rotate(360deg);
		    -moz-transform: rotate(360deg);
		    -webkit-transform: rotate(360deg);
		    -o-transform: rotate(360deg);
		    transform: rotate(360deg);
		  }
		}
		@-webkit-keyframes uil-ring-anim {
		  0% {
		    -ms-transform: rotate(0deg);
		    -moz-transform: rotate(0deg);
		    -webkit-transform: rotate(0deg);
		    -o-transform: rotate(0deg);
		    transform: rotate(0deg);
		  }
		  100% {
		    -ms-transform: rotate(360deg);
		    -moz-transform: rotate(360deg);
		    -webkit-transform: rotate(360deg);
		    -o-transform: rotate(360deg);
		    transform: rotate(360deg);
		  }
		}
		@-o-keyframes uil-ring-anim {
		  0% {
		    -ms-transform: rotate(0deg);
		    -moz-transform: rotate(0deg);
		    -webkit-transform: rotate(0deg);
		    -o-transform: rotate(0deg);
		    transform: rotate(0deg);
		  }
		  100% {
		    -ms-transform: rotate(360deg);
		    -moz-transform: rotate(360deg);
		    -webkit-transform: rotate(360deg);
		    -o-transform: rotate(360deg);
		    transform: rotate(360deg);
		  }
		}
		@keyframes uil-ring-anim {
		  0% {
		    -ms-transform: rotate(0deg);
		    -moz-transform: rotate(0deg);
		    -webkit-transform: rotate(0deg);
		    -o-transform: rotate(0deg);
		    transform: rotate(0deg);
		  }
		  100% {
		    -ms-transform: rotate(360deg);
		    -moz-transform: rotate(360deg);
		    -webkit-transform: rotate(360deg);
		    -o-transform: rotate(360deg);
		    transform: rotate(360deg);
		  }
		}

		.uil-ring-css {
		  background: none;
		  position: relative;
		}
		.uil-ring-css > div {
		  position: absolute;
		  display: block;
		  width: 80px;
		  height: 80px; 
		  border-radius: 80px;
		  box-shadow: 0 2px 0 0 #ec0000;
		  -ms-animation: uil-ring-anim 1s linear infinite;
		  -moz-animation: uil-ring-anim 1s linear infinite;
		  -webkit-animation: uil-ring-anim 1s linear infinite;
		  -o-animation: uil-ring-anim 1s linear infinite;
		  animation: uil-ring-anim 1s linear infinite;
		}
		.brown .uil-ring-css > div{
		  box-shadow: 0 2px 0 0 #fff;
		}
		.uil-ring-css > div:before{
		  content: "";
		}

	}

	
	@keyframes loader {
		from {
			transform: rotate(0deg);
		}

		to {
			transform: rotate(-360deg);
		}
	}
	/*fin loading*/






	&-info-column {

		.str-left {
			width: 48px;
			height: 48px;
			margin-right: 10px;
		}

		.str-left,
		.str-right {
			display: inline-block;
			vertical-align: middle;
		}

		.str-right {
			text-align: left;
			width: calc(100% - 64px);

			p {
				font-size: $font-size-base;
				font-weight: 100;
			}
		}

			.circle-info {
				border: 1px solid #00B3BC;
				color: #00B3BC;
				width: 45px;
				height: 45px;
				border-radius: 50%;

				span {
					display: block;
				}

				.min-text {
					position: relative;
					margin-top: 4px;
					font-size: 10px;
				}

				.max-text {
					line-height: 20px;
					font-size: 20px;
				}
			}



		& + .str-info-column {
			margin-top: 20px;
		}
	}


	&-shadow {
		box-shadow: 0px 15px 15px 0px rgba(25,25,25,0.20);
	}




	&-collapse-seguro {
		border: 1px solid $color-border;
		background-color: white;

		.str-collapse-head {
			display: table;
			width: 100%;
			padding-right: 40px;
			padding-left: 20px;
			padding-top: 15px;
			padding-bottom: 15px;
			font-size: 13px;
			position: relative;


			// todos
			.str-custom-checkbox,
			.str-icons,
			.str-info-seguro,
			.str-monto-seguro,
			.str-info-li,
			.str-event-collapse {
				display: inline-block;
				vertical-align: middle;
			}


			// icono seguro
			.str-icons {
				margin-right: 20px;

				img {
					width: 87px;
					height: auto;
				}
			}


			// info
			.str-info-seguro {
				width: 217px;

				h3 {
					font-weight: 600;
				}

				p {
					font-weight: 100;
					margin-top: 7px;
				}
			}

			// listas
			.str-info-li {
				max-width: 180px;
			}


			// monto
			.str-monto-seguro {
				padding-left: 20px;
				margin-left: 20px;
				margin-right: 40px;
				border-left: 1px solid $color-border;

				.str-monto {
					font-size: 28px;
					font-weight: 600;
					color: $color-success;
				}

				.str-mensual {
					display: block;
					font-weight: 100;
				}
			}

			// evento
			.str-event-collapse {
				position: absolute;
				top: 50%;
				right: 20px;
				width: 20px;
				height: 20px;
				transform: translate3d(0, -50%, 0);
				text-decoration: none;

				i {
					color: $color-primary;
					font-size: 13px;
					transition: 600ms ease transform;
				}

				&.is-active {
					i:before {
						content: "\e977";
					}
				}
			}



			@media (min-width: $media-responsive + 1) and (max-width: 840px) {
				& {
					.str-info-seguro {
						width: 180px;
					}
				}
			}


			@media (max-width: $media-responsive) {
				& {
					padding-top: 20px;
					padding-bottom: 20px;


					//checkbox
					.str-custom-checkbox {
						position: relative;
						top: 10px;
					}


					// info seguro
					.str-info-seguro {
						width: calc(100% - 49px);
						padding-left: 15px;

						h3 {
							font-weight: 100;
							text-transform: uppercase;
						}
					}

					//
					.str-monto-seguro {
						border-left: 0;
						padding: 0 0 0 46px;
						margin: 0;

						.str-monto {
							font-weight: 400;
						}

						.str-mensual {
							display: inline-block;
						}
					}

					.str-monto-seguro {
						.str-desde {
							font-weight: 100;
						}
					}
				}
			}
		}
		
			


	


		.str-collapse-body {
			display: none;

			.str-collapse-body-inner {
				padding: 20px;
				border-top: 1px solid $color-border;
			}

				li {
					font-size: 13px;
					& + li {
						margin-top: 10px;
					}
				}

			//subtitle
			.str-subtitle-collapse {
				font-size: 13px;
				font-weight: bold;
				margin-bottom: 20px;
			}


			@media (max-width: $media-responsive) {
				& {
					.col-md-6 + .col-md-6 {
						margin-top: 40px;
					}
				}
			}
		}



		@media (min-width: $media-responsive + 1) {
			& {
				border-radius: 4px;

				& + .str-collapse-seguro {
					margin-top: 25px;
				}
			}
		}


		@media (max-width: $media-responsive) {
			& {

				& + .str-collapse-seguro {
					border-top: 0;
				}
			}
		}
	}


	
	&-message {
		.str-title-box {
			font-size: 24px;
			margin-bottom: 20px;
		}
	}


	&-message-success,
	&-message-error {
		position: relative;

		.str-box {
			padding-top: 60px;
		}

		.str-title {
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 20px;
		}

		ul {
			text-align: left;

			li {
				& + li {
					margin-top: 20px;
				}
			}
		}

		.str-btn {
			margin-top: 40px;
			display: block;
			width: 100%;
		}

		.str-icons {
			width: 70px;
			height: 70px;
			border-radius: 50%;
			border: 5px solid #F0F0F0;
			font-size: 25px;
			color: white;
			position: absolute;
			top: -31px;
			left: 50%;
			transform: translate3d(-50%, 0, 0);

			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}
		}
	}

	&-message-success {
		.str-icons {
			background-color: $color-success;
		}
	}

	&-message-error {
		.str-icons {
			background-color: $color-error;
		}
	}





	&-quantity-field {
		.head-quantity {
			margin-bottom: 20px;
			font-size: 17px;

			input {
				width: auto;
				border: 0;
				text-align: center;
				font-weight: bold;
			}
		}

		a {
			display: inline-block;
			width: 40px;
			height: 40px;
			line-height: 40px;
			color: white;
			border-radius: 50%;
			font-size: 20px;
			font-weight: bold;
			text-decoration: none;
			position: relative;
			background-color: $color-primary;
		}

		.minus-btn {
			&:before {
				content: '';
				width: 10px;
				height: 4px;
				background-color: white;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}
		}

		.plus-btn {
			&:before {
				content: '';
				width: 12px;
				height: 4px;
				background-color: white;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}

			&:after {
				content: '';
				width: 4px;
				height: 12px;
				background-color: white;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}
		}
	}




	/*
	  ===  /box  ===
	*/
}


@media (max-width: $media-responsive) {
	.remove-dots {
		margin-top: -30px;
	}
}


.offset-top-0 { margin-top: 0!important; }


@mixin offset-margin($margin, $value){
  margin-#{$margin}: $value!important;
}

@for $i from 1 through 10 {
  @each $margin in top, left, bottom, right {

    .offset-#{$margin}-#{$i}{
      @include offset-margin($margin, 10px * $i) 
    }

  }
}









.modal-mail {
	h5 {
		text-align: center;
		margin-bottom: 60px;
		padding-top: 20px;
	}

	.str-btn {
		width: 260px;
		margin: 30px auto 0;
		display: table!important;
	}

	
	@media (min-width: $media-responsive + 1) {
		& {
			.str-cajaInput {
				width: 400px;
				margin: auto;
			}
		}
	}

}



.message-modal {

	p {
		text-align: center;
		font-size: 24px;
		margin: 40px 0;
	}


	.str-btn {
		margin: auto;
		width: 260px;
		display: table!important;
	}
	
}




/*modal*/
.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background-color: #000;

    &.in {
    	opacity: 1;
    	z-index: 1040;
    }
}

.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
	

	.close {
		position: absolute;
		top: -30px;
		right: 0;
		color: white;
		font-size: 22px;
		border: 0;
		cursor: pointer;
		background-color: transparent;

		&:hover {
			opacity: .8;
		}


		@media (max-width: $media-responsive) {
			& {
				display: none;
			}
		}
	}

	.modal-dialog {
	    width: 600px;
	    max-width: 90%;
	    margin: 30px auto;
	    transition: transform .3s ease-out;
	    transform: translate(0,-25%);
	}


	    .modal-content {
	        position: relative;
	        background-color: #fff;
	        padding-bottom: 30px;
	    }



	 &.in {
	 	opacity: 1;
	 	z-index: 1050;

		.modal-dialog {
			transform: translate(0,30px);
		}
	 }
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}




@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

