/*
  =====================  Container  =====================
*/
@media (max-width: $media-responsive) {
	body {
		background-color: #F0F0F0;
	}
}

.str {

	&-container {
		width: 850px;
		max-width: 100%;
		margin: auto;




		/*
			=== desktop ===
		*/
		@media (min-width: $media-responsive + 1) {
			& {
				margin-top: 30px;
				margin-bottom: 30px;

				.str-inset {
					padding: 25px;

					border: 2px solid #DDDDDD;
					box-shadow: 0px 2px 4px 0px rgba(25,25,25,0.20);
					border-radius: 2px;
				}
			}
		}



		/*
			=== desktop ===
		*/
		@media (max-width: $media-responsive) {
			& {
				padding-bottom: 20px;
				background-color: #F0F0F0;

				.str-inset {
					
				}
			}
		}
	}
}