.str {
	&-table-simple {
		color: #999;
		width: 100%;

		th,
		td {
			font-weight: 400;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		th {
			padding-right: 10px;
			text-align: left;
		}

		td {
			text-align: right;
		}
	}
}