/*
  =====================  wizard =====================
*/
$color-wizard: #37b1bc;
$color-default: #d1d1d1;
$tamano: 36px;
$icon-check: "\e91a";


.wizard {
	display: table;
	width: 100%;
	padding-bottom: 20px;
	margin-bottom: 30px;


	&.step-two {
		.wizard-step {
			&.active {
				.progress-bar { width: 100%; }
			}
		}
	}

	.wizard-step {
		display: table-cell;
		position: relative;
		width: 2%;

		&:first-child {
			.wizard-progress {
			    left: 0;
			    width: 100%;
			}

			/*&.active {
				.progress-bar { width: 0; }
			}*/
		}


		&:last-child {
			.wizard-progress {
			    width: 100%;
			}

			&.active {
				.progress-bar {
				    width: 100%;
				}
			}
		}


		&.complete {
			.progress-bar { width: 100%; }

			.wizard-dot {
				color: transparent;
				border-color: $color-wizard;

				&:before {
					color: $color-wizard;
					position: relative;
					left: 3px;
					top: 1px;
					content: $icon-check;
					@extend [class^="str-icon-"];
				}
			}

			.wizard-text {
				color: $color-base;
			}
		}


		&.active {
			.progress-bar { width: 50%; }

			.wizard-dot {
				color: $color-wizard;
				border-color: $color-wizard;
			}

			.wizard-text {
				color: $color-base;
			}
		}
	}


	.wizard-progress {
	    position: relative;
	    border-radius: 0px;
	    height: 3px;
	    box-shadow: none;
	    margin: 22px 0  20px 0;
	    overflow: hidden;
	    background-color: $color-default;
	}


		.progress-bar {
		    float: left;
		    width: 0;
		    height: 100%;
		    font-size: 12px;
		    line-height: 20px;
		    color: #fff;
		    text-align: center;
		    background-color: $color-wizard;
		    transition: width .3s ease;
		}


	.wizard-text {
		text-align: center;
		color: #c2c2c2;
		font-size: 13px;
		min-height: 40px;
		font-weight: 100;
	}


	.wizard-dot {
		width: $tamano;
		height: $tamano;
		line-height: $tamano - 4;
		position: absolute;
		top: 45px;
		left: calc(50% - 22px);
		color: #D8D8D8;
		z-index: 10;
		text-align: center;
		border-radius: 50%;
		display: inline-block;
		background-color: white;
		border: 2px solid $color-default;
	}


	@media (max-width: 800px) {
		& {
			display: none;

			.wizard-step {
				display: none;

				&.active,
				&:last-child {
					display: block;
				}
			}
		}
	}
}


/*
  =====================  /wizard =====================
*/

.wizard-mobile {
	display: none;
	margin-bottom: 20px;
	background-color: white;


	.title-wizard {
		display: inline-block;
		text-transform: uppercase;
	    text-align: left;
	    width: 68%;
	    padding: 15px;

	    .wizard-text {
	    	font-weight: $font-weight-semi-bold;
	    	color: #333;
	    }
	}

	.state-wizard {
		display: inline-block;
	    text-align: right;
	    width: 30%;
	    padding-right: 15px;
	}

	.progress-wizard{
		position: relative;
		float: left;
		height: 4px;
		width: 100%;
		background-color: #ddd;

		.inner-progress {
			position: absolute;
			top: 0;
			left: 0;
			height: 4px;
			border-radius: 0 4px 4px 0;
			background-color: #1bb3bc;
		}
	}
	

	.wizard-dot {
		border: 4px solid #1bb3bc;
	    border-radius: 50%;
	    padding: 8px;
	    margin-right: 10px;
	    text-align: center;
	    width: 40px;
	    height: 40px;
	    line-height: 18px;
	    color: #1bb3bc;
	    font-size: 17px;
	}

	.wizard-dot,
	.wizard-text {
		display: inline-block;
		vertical-align: middle;
	}


	.wizard-text {
		width: calc(100% - 50px);
	}
}


@media (max-width: $media-responsive) {
	.wizard-mobile {
		display: block;
	}
}



