<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" lang="es-CL" id="ng-app" ng-app="planificador">
    <head>
        <meta charset="UTF-8">
         <meta http-equiv="X-UA-Compatible" content="IE=EDGE; IE=9; IE=8; IE=7; chrome=1" />
        <title>{% block title %}Zurich Santander{% endblock %}</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <!--[if lte IE 7]>
          <script src="{{ asset('assets/js/json3.min.js') }}"></script>
        <![endif]-->
        <!--[if lte IE 8]>
        
          <script src="{{ asset('assets/js/json3.min.js') }}"></script>
          <script>
            document.createElement('ng-include');
            document.createElement('ng-pluralize');
            document.createElement('ng-view');

            // Optionally these for CSS
            document.createElement('ng:include');
            document.createElement('ng:pluralize');
            document.createElement('ng:view');
          </script>
        <![endif]-->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/planificador/planificador.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/font.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/planificador/simple-sidebar.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/js/jquery-ui.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/js/featherlight.css') }}" media="screen" charset="utf-8">
            
        {% endblock %}
    </head>
    <body ng-controller="plan">
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Zurich Santander
                    </a>
                </li>
                {% for menu in menus %}
                {% if menu.IdPadre %}
                    <li class="active"><a ng-click="menu({{menu.IdPadre}})" class="contenedor"><i class="fa fa-arrow-right"></i>  {{ menu.IdPadreNombre| capitalize}}</a>
                    {#<li class="active"><a class="contenedor" href={{menu.IdPadreRouting}}><i class="fa fa-arrow-right"></i>  {{ menu.IdPadreNombre| capitalize}}</a>#}
                {% endif %}
                  {% if menu.hijos %}
                    {% for hijo in menu.hijos %}
                        <ul class="hijo {{menu.IdPadre}}" style="display:none;">
                            <li><a href= {{ app.request.getBaseURL() ~ hijo.IdHijoRouting }}><i class="fa fa-arrow-right"></i> {{ hijo.IdHijoNombre | capitalize}}</a></li>
                        </ul>
                    {% endfor %}
                    </li>         
                    {% endif %} 
                {% endfor %}  
            </ul>
            {#
            {% for menu in menus %}
                {% if menu.IdPadre %}
                    <li class="active"><a class="contenedor" href={{menu.IdPadreRouting}}><i class="fa fa-arrow-right"></i>  {{ menu.IdPadreNombre| capitalize}}</a></li>
                {% endif %}
                {#  {% if menu.hijos %}
                    {% for hijo in menu.hijos %}
                        <ul class="hijo">
                            <li ><a href={{hijo.IdHijoRouting}}><i class="fa fa-arrow-right"></i> {{ hijo.IdHijoNombre | capitalize}}</a></li>
                        </ul>
                    {% endfor %}
                        </a></li>
                                    
                    {% endif %} 
            {% endfor %}#}   
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <section>
                            {% block body %}{% endblock %}
                        </section> 
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery-1.12.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/angular.min.js?v=1.1.5') }}"></script>
            <script src="{{ asset('assets/js/planificador/angular-animate.min.js') }}"></script>
            <script src="{{ asset('assets/js/angular-locale_es-cl.js') }}"></script>
            <script src="{{ asset('assets/js/planificador/app.js') }}"></script>
            <script src="{{ asset('assets/js/planificador/scripts.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-ui.min.js') }}"></script>
            <script src="{{ asset('assets/js/featherlight.js') }}" charset="utf-8"></script>
        {% endblock %}
        <script type="text/javascript">   

            //CONTROLA EL MENU
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });

        </script> <!-- Loading script asynchronously -->
        
    </body>
</html>
