/*
  =====================  Base =====================
*/
body {
  text-rendering: optimizeLegibility;
  color: $color-base;
  font-weight: normal;
  font: {
    family: $font-family-base;
    size: $font-size-base;
  };
}

/*
  =====================     Titulos =====================
*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  line-height: 120%;
  font-family: $font-family-base;
  font-weight: 100;
}

h1,
.h1 {
  font-size: $font-size-h1;
}

h2,
.h2 {
  font-size: $font-size-h2;
}

h3,
.h3 {
  font-size: $font-size-h3;
}

h4,
.h4 {
  font-size: $font-size-h4;
}

h5,
.h5 {
  font-size: $font-size-h5;
}
h6,
.h6 {
  font-size: $font-size-h6;
}














