/*
	===================== colores =================
*/
	$color-base:					#6D6D6D;
	$color-primary: 				#CC0000;
	$color-bg:						#F0F0F0;
	$color-white:					#ffffff;

	$color-success: 					#ABC111;
	$color-error: 					$color-primary;


/*Grises*/
	$color-border:					#DDD;


/*link*/
	$color-hover:					#990000;

/* color activo box */
	$active-box:					#ABC111;

/*otros*/
	$color-check:					#9ccc3c;
	$color-input-focus:				#66B1BA;
	$color-activo:					#1bb3bc;
	$color-shield:					#34495F;
	$color-notify:					#F8F0DF;
	$color-notify-border:			#E59D27;
	$color-academy:					#9E3667;







/*
	===================== Base =====================
*/
	$font-size-base: 		15px;
	$font-family-base: 		'Open Sans', sans-serif;

/*
	===================== Base =====================
*/
	//Line height base
	$line-height-base: 140%;

/*
	===================== font-weight ==============
*/

	$font-weight-light:    		300;
	$font-weight-normal:    	400;
	$font-weight-semi-bold:    	600;
	$font-weight-bold:    		700;





/*
	===================== font-size =====================
*/
	$font-size-h1: 24px;
	$font-size-h2: 20px;
	$font-size-h3: 15px;
	$font-size-h4: 20px;
	$font-size-h5: 18px;
	$font-size-h6: 14px;
/*
	===================== fin font-size =====================
*/



/*
	===================== margenes =====================
*/
	$margen: 10px;
/*
	===================== fin margenes =====================
*/


/*
	===================== MEDIA =====================
*/

	$media-responsive:      800px;
	




/*
	=====================     Mixin ================
*/
	@mixin border-radius($radius) {
	  			border-radius: $radius;
	  		 -o-border-radius: $radius;
	  		-ms-border-radius: $radius;
	  	   -moz-border-radius: $radius;
	  	-webkit-border-radius: $radius;
	}


	@mixin box-shadow($top, $left, $blur, $color) {

		-webkit-box-shadow:$top $left $blur $color;
		-moz-box-shadow:$top $left $blur $color;
		box-shadow:$top $left $blur $color;
	}

	@mixin opacity($opacity) {
	  opacity: $opacity;
	  $opacity-ie: $opacity * 100;
	  filter: alpha(opacity=$opacity-ie); //IE8
	}

	@mixin triangle($direction, $width, $height, $color) {
		content: '';
		display: block;
		width: 0;
		height: 0;
		@if $direction == top {
			border-left: ($width / 2) solid transparent;
			border-right: ($width / 2) solid transparent;
			border-bottom: $height solid $color;
		} @else if $direction == bottom {
			border-left: ($width / 2) solid transparent;
			border-right: ($width / 2) solid transparent;
			border-top: $height solid $color;
		} @else if $direction == left {
			border-top: ($width / 2) solid transparent;
			border-bottom: ($width / 2) solid transparent;
			border-right: $height solid $color;
		} @else if $direction == right {
			border-top: ($width / 2) solid transparent;
			border-bottom: ($width / 2) solid transparent;
			border-left: $height solid $color;
		}
	}


	@mixin offset-margin($margin, $value){
		margin-#{$margin}: $value!important;
	}

	@mixin offsety-margin($margin, $value){
		margin-#{$margin}: -$value!important;
	}

	@mixin linear-gradient($direction, $color-stops...) {
		@if is-direction($direction) == false {
			$color-stops: $direction, $color-stops;
			$direction: 180deg;
		}

		background: nth(nth($color-stops, 1), 1);
		background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
		background: linear-gradient($direction, $color-stops);
	}



	@for $i from 1 through 12 {
		@each $margin in top, left, bottom, right {

			.str-offset-#{$margin}-#{$i}{
				@include offset-margin($margin, 10px * $i)
			}

			.str-offsety-#{$margin}-#{$i}{
				@include offsety-margin($margin, 10px * $i)
			}

		}
	}



/*
	===================== fin Mixin =====================
*/


