/*
  ===================== Form =====================

*/
label,
input,
select {
  font-family: $font-family-base;
  font-size: 15px;
  width: 100%;
  color: $color-base;
}


select::-ms-expand {
  display: none;
}

::-ms-clear {
    display: none;
}


.custom-select {
  position: relative;


  select {
    display: block;
    width: 100%;
    padding: 5px 25px 5px 10px;
    
    height: 50px;
    position: relative;
    z-index: 10;
    background-color: transparent!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    font-weight: 100;
  }


  &:before {
    @extend [class^="str-icon-"];
    @extend .str-icon-flecha-abajo;
    position: absolute;
    top: calc(50% - 7px);
    right: 20px;
    color: $color-primary;
    font-size: 14px;
  }


  /*
    === desktop ===
  */
  @media (min-width: $media-responsive + 1) {
    & {
      select {
        border: 1px solid #CCC;
      }
    }
  }


  /*
    === mobile ===
  */
  @media (max-width: $media-responsive) {
    & {
      border-bottom: 1px solid $color-border;

      select {
        border: 0;
      }
    }
  }

}

input[type="submit"] {
  border: none;

}



.str-info-form {
  label {
    font-weight: 100;
    margin-bottom: $margen;
    display: block;
  }

  & + .str-info-form {
    margin-top: $margen * 3;
  }
}


:-ms-input-placeholder {
  color: #999;
}

.str-input {
  background-color: transparent;
  padding: 10px;
  display: block;
  border: none;
  color: #333;
  font-weight: 600;
  border-bottom: 1px solid $color-border;
  @include border-radius(0);


  &.str-validado + .str-barra {
    width: 100%;
    background-color: $color-check;
  }
  &.str-validado ~ .str-label {
    top: -20px;
    font-size: 13px;
    color: $color-check;
  }

  &.str-novalidado + .str-barra {
    width: 100%;
    background-color: $color-primary;
  }
  &.str-novalidado ~ .str-barra{
    width: 100%;
    background-color: $color-primary;
  }

  &.str-novalidado ~ .str-label {
    top: -20px;
    font-size: 13px;
    color: $color-primary;
  }

  &.str-editar ~ .str-label{
    top: -20px;
    font-size: 13px;
  }
  &.str-editar ~ .str-barra{
    width: 100%;
    background-color: #949494;
  }

}



.str-cajaInput {
  position: relative;
  width: 100%;
  margin-top: $margen * 3;

  label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: All .3s ease;
  }

  .str-icon-check2 {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: $color-check;
  }
  .str-icon-cerrar {
    position: absolute;
    right: 0;
    bottom: 10px;
    color: $color-primary;
  }

  .str-icon-editar{
    position: absolute;
    right: 0;
    bottom: 10px;
    color: $color-base;
  }

  .str-ico-clave {
    position: absolute;
    right: 0;
    text-decoration: none;
    bottom: 8px;
    height: 15px;
    &:before {
      display: block;
      @extend [class^="str-icon-"];
      content: "\e901";
      color: $color-base;
      font-size: 13px;
    }
  }
  .str-icon-cerrar + .str-pass {
    right: $margen * 3;
  }
}




.str-barra {
  background-color: $color-input-focus;
  position: absolute;
  width: 0;
  left: 0;
  right: 0;
  height: 2px;
  bottom: 0;
  margin: 0 auto;
  transition: All .3s ease;
  &.str-validado {
    background-color: $color-check;
  }
  &.str-novalidado {
    background-color: $color-primary;
  }
}


.str-custom-checkbox {
  display: block;
  vertical-align: bottom;
  line-height: 20px;


  input[type="checkbox"] {
    display:none;
  }

  .str-custom {
    background-color: white;
  }

  label {
    span {
      display: inline-block;
      vertical-align: middle;
      max-width: 85%;
    }
  }

  .label-text {
    font-size: 12px;
  }

  input[type="checkbox"] + label .str-custom {
    position: relative;
    width: 26px;
    height: 26px;
    border: 1px solid #979797;
    margin-right: 5px;
    display: inline-block;
    vertical-align: bottom;

    &:before {
      content: '\e91a';
      position: absolute;
      top: 4px;
      left: 0;
      width: 100%;
      height: 11px;
      opacity: 0;
      @extend [class^="str-icon-"];
      color: $color-primary;
      font-size: 15px;
      transition: all 0.25s ease-in-out;
      text-align: center;

    }
  }


  input[type="checkbox"]:checked + label .str-custom {
    &:before {
      opacity: 1;
    }
  }
}




.str-custom-radio {
  position: relative;
  padding-left: 30px;

  input {
    display: none;
  }

  .str-custom {
    display: inline-block;
    width: 21px;
    height: 21px;
    text-align: center;
    margin-right: 10px;
    position: absolute;
    left: 0;
    overflow: hidden;
    border-radius: 50%;
    top: -2px;
    background-color: #fff;
    box-shadow: 0px 2px 0px #f0f0f0;
    border: 1px solid #dddddd;

    &:before {
      content: '';
      border-radius: 100%;
      transition: 500ms ease;
    }
  }


  input:checked + label .str-custom {
    &:before {
      
      width: 10px;
      height: 10px;
      background-color: red;
      display: block;
      position: relative;
      top: 4px;
      left: 4px;
      
    }
  }
}



.str-custom-radio {
  input[type="radio"] {
    display: none;
  }


  .inputRadio:checked + label::after {
    
      content: '';
      width: 10px;
      height: 10px;
      display: block;
      background-color: red;
    
  }

  .labelRadio {
      display: inline-block;
      cursor: pointer;
      position: relative;
      padding-left: 35px;
      margin-right: 15px;


      &:after {
        content: "";
        display: inline-block;
        width: 21px;
        height: 21px;
        text-align: center;
        margin-right: 10px;
        position: absolute;
        left: 0;
        overflow: hidden;
        border-radius: 50%;
        top: -2px;
        background-color: #fff;
        -moz-box-shadow: 0px 2px 0px #f0f0f0;
        -webkit-box-shadow: 0px 2px 0px #f0f0f0;
        box-shadow: 0px 2px 0px #f0f0f0;
        border: 1px solid #dddddd;
    }
  }
}


/*Dropdown*/

.str-select-ui {
  margin: $margen auto ($margen * 2);
  .str-inputFlecha {
    display: none;
  }

  .str-drop {
    position: relative;
    display: inline-block;
    width: 100%;

    .str-botonDrop {
      background-color: $color-white;
      color: $color-base;
      padding: $margen ($margen + 6);
      width: 100%;
      height: 50px;
      text-align: left;
      font-size: 15px;
      border: 1px solid $color-border;
      @include border-radius(3px);
      cursor: pointer;
      margin: 0;
      transition: All .3s ease;
      position: relative;
      font-weight: 700;
      .str-icon-flecha-abajo {
        position: absolute;
        right: 16px;
        top: 18px;
        margin: 0;
        color: $color-primary;
        font-size: 14px;
      }
    }
  }

  .str-down {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 10;
    a {
      display: block;
      background-color: $color-white;
      color: #424242;
      padding: 11px 0 11px 16px;
      font-size: 14px;
      border: 1px solid $color-border;
      border-top: 0;
    }
    &.str-show {
      display: block;
    }
  }
}


.str-barra {
  span {
    position: absolute;
    right: 0;
    top: -25px;
  }

}

.str-input:focus ~ .str-label,
.str-input:valid ~ .str-label{
  top: -20px;
  font-size: 13px;
}
.str-input:invalid{
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  /* box-shadow: none; */
}
.str-input:focus ~ .str-barra{
  width: 100%;
}

.str-cont-login {
  &.str-scroll-active {
    position: fixed;
    z-index: 10;
    width: 100%;
    left: 0;
    animation: opacity-scroll 500ms ease-out;
    top: -140px;
    .str-btn {
      //margin: ($margen + 4) auto 0;
    }
  }
}

@keyframes opacity-scroll {
  0%   { opacity: 0; top: -200px; }
  100% { opacity: 1; top: -140px; }
}





.form-group {
  label {
    display: block;
    margin-bottom: 5px;
  }

  & + .form-group {
    margin-top: 20px;
  }
}


