
/*
  ===================== Iconos =====================
*/

@font-face {
  font-family: 'iconos-santander';
  src:  url('../fonts/iconos-santander.eot?e8ru82');
  src:  url('../fonts/iconos-santander.eot?e8ru82#iefix') format('embedded-opentype'),
  url('../fonts/iconos-santander.ttf?e8ru82') format('truetype'),
  url('../fonts/iconos-santander.woff?e8ru82') format('woff'),
  url('../fonts/iconos-santander.svg?e8ru82#iconos-santander') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="str-icon-"], [class*=" str-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconos-santander', sans-serif !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


i + span {
  margin-left: $margen / 2;
}



/*Tamaños*/
.str-icon-m {
  font-size: 22px!important;
}
.str-icon-m2 {
  font-size: 30px!important;
}
.str-icon-l {
  font-size: 44px;
}


.str-icon-error:before {
  content: "\e9b5";
}
.str-icon-flecha:before {
  content: "\e9b3";
}
.str-icon-www:before {
  content: "\e9b4";
}
.str-icon-a-chat:before {
  content: "\e9ae";
}
.str-icon-a-preguntas:before {
  content: "\e9af";
}
.str-icon-a-servicio:before {
  content: "\e9b0";
}
.str-icon-a-sucursal:before {
  content: "\e9b1";
}
.str-icon-a-telefono:before {
  content: "\e9b2";
}
.str-icon-s-auto:before {
  content: "\e9aa";
}
.str-icon-s-fraude:before {
  content: "\e9ab";
}
.str-icon-s-urgencia:before {
  content: "\e9ac";
}
.str-icon-s-vida:before {
  content: "\e9ad";
}
.str-icon-shield:before {
  content: "\e900";
}
.str-icon-eye:before {
  content: "\e901";
}
.str-icon-linkedin:before {
  content: "\e902";
}
.str-icon-cerrar2:before {
  content: "\e903";
}
.str-icon-check2:before {
  content: "\e904";
}
.str-icon-pdf:before {
  content: "\e905";
}
.str-icon-accesibilidad:before {
  content: "\e906";
}
.str-icon-accionistas:before {
  content: "\e909";
}
.str-icon-acreditacion:before {
  content: "\e90a";
}
.str-icon-acuerdos:before {
  content: "\e907";
}
.str-icon-ahorro:before {
  content: "\e908";
}
.str-icon-ajustes:before {
  content: "\e90b";
}
.str-icon-alarma:before {
  content: "\e90c";
}
.str-icon-analisis-datos:before {
  content: "\e90d";
}
.str-icon-app:before {
  content: "\e90e";
}
.str-icon-ATM:before {
  content: "\e90f";
}
.str-icon-audio:before {
  content: "\e910";
}
.str-icon-auto:before {
  content: "\e911";
}
.str-icon-avanzar:before {
  content: "\e912";
}
.str-icon-becas:before {
  content: "\e915";
}
.str-icon-beneficio:before {
  content: "\e916";
}
.str-icon-bluetooth:before {
  content: "\e913";
}
.str-icon-calculadora:before {
  content: "\e914";
}
.str-icon-calendario:before {
  content: "\e917";
}
.str-icon-centro-formacion:before {
  content: "\e918";
}
.str-icon-centro-medico:before {
  content: "\e919";
}
.str-icon-check:before {
  content: "\e91a";
}
.str-icon-ciberseguridad:before {
  content: "\e91b";
}
.str-icon-clientes-digitales:before {
  content: "\e91c";
}
.str-icon-clientes:before {
  content: "\e91d";
}
.str-icon-compartir:before {
  content: "\e91e";
}
.str-icon-compras-online:before {
  content: "\e921";
}
.str-icon-compras:before {
  content: "\e922";
}
.str-icon-credito:before {
  content: "\e91f";
}
.str-icon-cursos:before {
  content: "\e920";
}
.str-icon-datos:before {
  content: "\e923";
}
.str-icon-dinero:before {
  content: "\e924";
}
.str-icon-desventaja:before {
  content: "\e925";
}
.str-icon-documentos:before {
  content: "\e926";
}
.str-icon-editar:before {
  content: "\e927";
}
.str-icon-elegir:before {
  content: "\e928";
}
.str-icon-email:before {
  content: "\e929";
}
.str-icon-empleados-santander:before {
  content: "\e92a";
}
.str-icon-empleados:before {
  content: "\e92d";
}
.str-icon-empresas:before {
  content: "\e92e";
}
.str-icon-energias-renovables:before {
  content: "\e92b";
}
.str-icon-entradas:before {
  content: "\e92c";
}
.str-icon-favoritos:before {
  content: "\e92f";
}
.str-icon-fax:before {
  content: "\e930";
}
.str-icon-financiacion:before {
  content: "\e931";
}
.str-icon-formula-1:before {
  content: "\e932";
}
.str-icon-formularios:before {
  content: "\e933";
}
.str-icon-franquicia:before {
  content: "\e934";
}
.str-icon-futbol:before {
  content: "\e935";
}
.str-icon-gobierno-corporativo:before {
  content: "\e936";
}
.str-icon-golf:before {
  content: "\e939";
}
.str-icon-grafica-tarta:before {
  content: "\e93a";
}
.str-icon-grafica:before {
  content: "\e937";
}
.str-icon-hipoteca:before {
  content: "\e938";
}
.str-icon-horario:before {
  content: "\e93b";
}
.str-icon-ideas:before {
  content: "\e93c";
}
.str-icon-informacion:before {
  content: "\e93d";
}
.str-icon-integracion:before {
  content: "\e93e";
}
.str-icon-interes:before {
  content: "\e93f";
}
.str-icon-inversion:before {
  content: "\e940";
}
.str-icon-lector-tarjeta:before {
  content: "\e941";
}
.str-icon-llave:before {
  content: "\e942";
}
.str-icon-localizador:before {
  content: "\e943";
}
.str-icon-lupa:before {
  content: "\e944";
}
.str-icon-mantencion:before {
  content: "\e945";
}
.str-icon-mute:before {
  content: "\e946";
}
.str-icon-naturaleza:before {
  content: "\e947";
}
.str-icon-noticias:before {
  content: "\e948";
}
.str-icon-oficina:before {
  content: "\e949";
}
.str-icon-on-off:before {
  content: "\e94a";
}
.str-icon-ong:before {
  content: "\e94b";
}
.str-icon-orientacion:before {
  content: "\e94c";
}
.str-icon-parking:before {
  content: "\e94d";
}
.str-icon-petroleo:before {
  content: "\e94e";
}
.str-icon-plan-pensiones:before {
  content: "\e94f";
}
.str-icon-preguntas-frecuentes:before {
  content: "\e950";
}
.str-icon-prestamo-personal:before {
  content: "\e951";
}
.str-icon-promociones:before {
  content: "\e952";
}
.str-icon-regalo:before {
  content: "\e953";
}
.str-icon-rrss:before {
  content: "\e954";
}
.str-icon-rsvp:before {
  content: "\e955";
}
.str-icon-rutas:before {
  content: "\e956";
}
.str-icon-sacar-dinero:before {
  content: "\e957";
}
.str-icon-sala-de-arte:before {
  content: "\e958";
}
.str-icon-sala-reuniones:before {
  content: "\e959";
}
.str-icon-seguro-auto:before {
  content: "\e95a";
}
.str-icon-seguros-vida:before {
  content: "\e95b";
}
.str-icon-seguros-vivienda:before {
  content: "\e95c";
}
.str-icon-seguros:before {
  content: "\e95d";
}
.str-icon-sociedad:before {
  content: "\e95e";
}
.str-icon-subidas:before {
  content: "\e95f";
}
.str-icon-sucursales:before {
  content: "\e960";
}
.str-icon-tablet:before {
  content: "\e961";
}
.str-icon-telefono:before {
  content: "\e962";
}
.str-icon-tiempo-2:before {
  content: "\e963";
}
.str-icon-tiempo:before {
  content: "\e964";
}
.str-icon-tiendas:before {
  content: "\e965";
}
.str-icon-tipo-cambio:before {
  content: "\e966";
}
.str-icon-transacciones:before {
  content: "\e967";
}
.str-icon-tv:before {
  content: "\e968";
}
.str-icon-universidad-empleados:before {
  content: "\e969";
}
.str-icon-usuarios-digitales:before {
  content: "\e96a";
}
.str-icon-viajes:before {
  content: "\e96b";
}
.str-icon-video:before {
  content: "\e96c";
}
.str-icon-vinculo-clientes:before {
  content: "\e96d";
}
.str-icon-visit:before {
  content: "\e96e";
}
.str-icon-web:before {
  content: "\e96f";
}
.str-icon-wifi:before {
  content: "\e970";
}
.str-icon-workshops:before {
  content: "\e971";
}
.str-icon-cerrar:before {
  content: "\e972";
}
.str-icon-like:before {
  content: "\e973";
}
.str-icon-flecha-derecha:before {
  content: "\e974";
}
.str-icon-flecha-izquierda:before {
  content: "\e975";
}
.str-icon-flecha-abajo:before {
  content: "\e976";
}
.str-icon-flecha-arriba:before {
  content: "\e977";
}
.str-icon-tarjeta:before {
  content: "\e979";
}
.str-icon-alerta:before {
  content: "\e97a";
}
.str-icon-cuenta:before {
  content: "\e97b";
}
.str-icon-descarga:before {
  content: "\e97c";
}
.str-icon-smile:before {
  content: "\e97d";
}
.str-icon-documento:before {
  content: "\e97e";
}
.str-icon-grafico-barras:before {
  content: "\e97f";
}
.str-icon-ir:before {
  content: "\e980";
}
.str-icon-personas:before {
  content: "\e981";
}
.str-icon-marker-mundo:before {
  content: "\e982";
}
.str-icon-circulo:before {
  content: "\e983";
}
.str-icon-internacionalidad:before {
  content: "\e984";
}
.str-icon-candado:before {
  content: "\e985";
}
.str-icon-universidades:before {
  content: "\e986";
}
.str-icon-sanodelucas:before {
  content: "\e987";
}
.str-icon-galardon:before {
  content: "\e988";
}
.str-icon-arrow-top:before {
  content: "\e989";
}
.str-icon-acrobat:before {
  content: "\e98a";
}
.str-icon-marker-map:before {
  content: "\e98b";
}
.str-icon-compartir2:before {
  content: "\e98c";
}
.str-icon-spa-relax:before {
  content: "\e98d";
}
.str-icon-aventuras:before {
  content: "\e98e";
}
.str-icon-gastronomia:before {
  content: "\e98f";
}
.str-icon-santander:before {
  content: "\e990";
}
.str-icon-cupones:before {
  content: "\e991";
}
.str-icon-sol:before {
  content: "\e992";
}
.str-icon-trofeo:before {
  content: "\e993";
}
.str-icon-casa:before {
  content: "\e994";
}
.str-icon-descarga-arrow:before {
  content: "\e995";
}
.str-icon-sobre:before {
  content: "\e996";
}
.str-icon-avion:before {
  content: "\e997";
}
.str-icon-productos:before {
  content: "\e998";
}
.str-icon-pagos-en-linea:before {
  content: "\e999";
}
.str-icon-santander-logo:before {
  content: "\e99a";
}
.str-icon-facebook:before {
  content: "\e99b";
}
.str-icon-facebook2:before {
  content: "\e99c";
}
.str-icon-instagram:before {
  content: "\e99d";
}
.str-icon-instagram2:before {
  content: "\e99e";
}
.str-icon-twitter:before {
  content: "\e99f";
}
.str-icon-twitter2:before {
  content: "\e9a0";
}
.str-icon-youtube:before {
  content: "\e9a1";
}
.str-icon-youtube2:before {
  content: "\e9a2";
}
.str-icon-giro:before {
  content: "\e9a3";
}
.str-icon-pago-automatico:before {
  content: "\e9a4";
}
.str-icon-super-giro:before {
  content: "\e9a5";
}
.str-icon-transferencias:before {
  content: "\e9a6";
}
.str-icon-label-kms:before {
  content: "\e9a7";
}
.str-icon-monitor-dinero:before {
  content: "\e9a9";
}

