.bgModal{
	background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 8888;
}
.bgModalHide{
	display: none;
}
.modalSimple, .modalUsuario, .modalFiltro{
	display: none;
	
}
.contenedorModal{
	width: 100%;
	height: 100%;
    top: 0;
    left: 0;
	position: fixed;
	overflow-x: hidden;
    overflow-y: scroll;
    z-index: 8889;


    .subtitle {
    	margin-bottom: 20px;
    }
}
.contenedorModalSimple{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding-bottom: 60px;
	height: auto;
    z-index: 8889;
    position: relative;
    top: 110px;
}
.cuerpoModal{
	/*width: 90%;*/
	padding: 30px;
	background-color: #ffffff;
	height: auto;
	margin: auto;
	overflow: hidden;
}
.cuerpoModal img{
	width: 100%;
	height: auto;
}
.contenedorModalUsuario{
	width: 660px;
	height: auto;
	padding: 70px 70px 20px 70px;
	background-color: #ffffff;
	margin: 110px auto 0 auto;
	position: relative;
}
.contenedorModalUsuario .p_l{
	max-width: inherit;
}
.contenedorModalUsuario img.perfil{
	width: 100px;
	height: 100px;
	position: absolute;
	left: 50%;
	margin-left: -50px;
	top: -50px;
	border: 3px solid #ffffff;
	border-radius: 50%;
}
.contenedorModalFiltro{
	width: 720px;
	height: auto;
	padding: 70px 40px 20px 40px;
	background-color: #ffffff;
	margin: 110px auto 0 auto;
	position: relative;
	text-align: left;
}
.contenedorModalFiltro h6{
	background-color: #ec0000;
	position: absolute;
	left: 0;
	top: 0;
	color: #fff;
	margin: 0;
	text-align: left;
	padding: 20px 0 20px 20px;
	width: calc(100% - 20px);
}
.contenedorModalFiltro .cerrarModal{
    top: 20px;
    right: 20px;
    z-index: 2;
}
.contenedorModalFiltro ul{
	padding: 0;
	text-align: left;
}
.contenedorModalFiltro ul li{
	list-style: none;
	border-bottom: 1px solid #dddddd;
	padding: 20px 0;
}
.contenedorModalFiltro ul li .switch{
	float: right;
	margin-top: 8px;
}
.contenedorModalFiltro ul li span{
	margin-right: 20px;
}
.cerrarModal{
	color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 10px;
    top: -30px;
}


.footerModal {
	padding-top: 20px;
	margin-top: 30px;
	text-align: center;
	border-top: 1px solid $color-border;


	.str-btn {
		margin: auto;
	}
}


.modalCoberturas {
	ul {
		padding-right: 20px;
	}


	@media (max-width: 992px) {
		ul {
			padding-left: 20px;
		}
	}
}





.modalEnviarEmail {
	.str-btn {
		float: none!important;
		margin: 20px auto 0!important;
	}


	

	&.exito,
	&.error {
		padding-top: 70px;
	}

	@media (min-width: 768px) {
		.ingreso-datos {
			padding: 50px;
		}

		.mensaje-exito,
		.mensaje-error {
			padding: 40px 0;
		}
	}


}