.str-message-intro {
	background-color: #D5EFF1; 
	text-align: center;
	padding: 20px;
	margin-top: 60px;
	position: relative;


	.str-icons {
		border-radius: 50%;
		display: table;
		margin: auto;
		position: absolute;
		left: 50%;
		transform: translate3d(-50%, 0, 0);
		background-color: #3CA3B2;

		i {
			color: white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
		}
	} 


	p {
		padding-top: 13px;
	}
}






.str-page-loading {
	.str-loader-content {
		margin-bottom: 50px;
	}

	.str-inset {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}



.str-children {
	margin-top: 20px;
	overflow: hidden;

	.str-children-inner {

		.str-icons {
			border-radius: 50%;
			overflow-x: hidden;
			margin-right: 10px;
		}

		.str-icons,
		.custom-select {
			float: left;
		}
		
	}


	@media (min-width: $media-responsive + 1) {
		& {
			.str-children-inner {
				width: 50%;
				float: left;
				margin-bottom: 10px;
			}

			.custom-select {
				width: 140px;
			}
		}
	}


	@media (max-width: $media-responsive) {
		& {
			.str-icons {
				width: 50px;
				height: 50px;
			}


			.custom-select {
				width: calc(100% - 60px);
			}
		}
	}
}




.str-total {
	text-align: center;
	margin-bottom: 20px;

	img,
	p {
		display: inline-block;
		vertical-align: middle;
	}

	img {
		margin-right: 10px;
	}


	p {
		font-size: 24px;
		font-weight: 400;
	}
}



.str-page-result {
	@media (max-width: $media-responsive) {
		.str-inset {
			background: #FFFFFF;
			border: 2px solid #DDDDDD;
			box-shadow: 0px 15px 15px 0px rgba(25,25,25,0.20);
			border-radius: 2px;
			margin: 20px;
		}

			.str-collapse-seguro {
				border-left: 0;
				border-right: 0;
			}


			.str-footer-btn {
				background-color: transparent;
			}
	}		
}



@media (min-width: $media-responsive + 1) {
	.str-page-intro {
		.str-icons {
			width: 50px;
			height: 50px;
			top: -25px;
			font-size: 30px;
		}
	}
}



@media (max-width: $media-responsive) {
	.str-page-intro {
	
		
		.str-inset {
			padding: $margen * 2;
		}


		.str-btn {
			margin-top: 40px;
			display: block;
			width: 100%;
		}

		.str-icons {
			width: 30px;
			height: 30px;
			top: -15px;
			font-size: 17px;
		}

	}
}