<div>

<section class=" row form-horizontal">
	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr >
		   	<th>Id</th>
			<th>Descripcion</th>
			<th>Visible</th>
			<th>Tipo</th>
			<th>Imagen</th>
			<th>Editar</th>
			<th>Eliminar</th>		    
		</tr>
	  {% for pregunta in preguntas %}
		<tr >
		  	<td>{{ pregunta.Id}}</td>
			<td>{{ pregunta.Descripcion }}</td>
			<td>{{ pregunta.Visible }}</td>
			<td>{{ pregunta.tipo.Nombre }}</td>
			<td>
				<img src="{{  asset('img/planificador/preguntas/')}}{{pregunta.ImagenTipo}}" alt="" class="img-thumbnail imagenes" ></td>
			<td class="centrar_bot"><a href="{{ path('preguntasgenerales',{'id':pregunta.Id}) }}">Editar </a ></td>
			<td class="centrar_bot"><a href="{{ path('preguntasgenerales_eliminar',{'id':pregunta.Id}) }}">Eliminar </a ></td>
		</tr>
	{% endfor %}
	</table >
</section>
</div>