<section id="paso1" class="form-horizontal">
	<form  action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>
		<div class="form-group ">
			<label for="nombre" class="control-label col-sm-2"> {{ form_label(form.descripcion)}}</label>
			<div class="col-sm-10">
    			{{ form_widget(form.descripcion , { attr: {class: "form-control" }})}}
    		</div>
    	</div>
    	<div class="form-group">
			<label for="nombre" class="control-label col-sm-2"> {{ form_label(form.visible)}} </label>
			<div class="col-sm-10">
    			{{ form_widget(form.visible , { attr: {class: "form-control" }})}}
    		</div>
    	</div>
    	<div class="form-group">
			<label for="nombre" class="control-label col-sm-2"> Imagen:</label>
			<div class="col-sm-10">
    			{{ form_widget(form.imagen , { attr: {class: "file form-control" }})}}
    		</div>

    	</div>
        <div class="form-group">
            <label for="nombre" class="control-label col-sm-2"> {{ form_label(form.tipo)}} </label>
            <div class="col-sm-10">
                {{ form_widget(form.tipo , { attr: {class: "file form-control" }})}}
            </div>
            
        </div>
        {% if tipo > 0 %}
        <input class="btn btn-primary  btn-lg" type="submit" name='registrar_momento' value="Actualizar" />
        {% else %}
        <input class="btn btn-success  btn-lg" type="submit" name='registrar_momento' value="Registrar" />
    	{# opcion con angular
        <div class="form-group col-sm-12">
    		<input ng-if="but == 1" class="btn btn-primary  btn-lg" type="submit" name='registrar_momento' value="Actualizar" />
            <input ng-if="but == 0" class="btn btn-primary  btn-lg" type="submit" name='registrar_momento' value="Registrar" />
    	</div>
        #}
        {% endif %}    	
	</form>
</section>
