<div class="str-container">

    {% embed "PlanificadorBundle:front:navegacion.html.twig" with {active: posicionmenu} %}
    {% endembed %}



    <div class="str-inset">
        <div class="str-head-page hidden-mobile">
            <h1 class="str-title-page">{{ pregunta.titulo }}</h1>
        </div>


        <div class="str-body-page">
            <!--
                    ===== versión desktop =====
            -->
            <div class="hidden-mobile offset-top-2">
                <div class="row">
                    <div class="col-md-5">
                        <img src="{{  asset('img/planificador/preguntas/')}}{{pregunta.ImagenTipo}}" alt="">
                    </div>
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-10">
                                <div class="str-info-form">
                                    <label for="">Actualmente estoy</label>
                                    <div class="custom-select">
                                        <select  ng-model="estado" ng-change="est()" class="estado">
                                            <option value="" placeholder="Estado Civil" disabled selected required> -- Selecciona una opcion --</option>
                                            {% for edo in edocivils %}
                                                <option  value={{edo.Description}}>{{edo.Description}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="str-info-form">
                                    <label for="">Tengo</label>
                                    <div class="custom-select">
                                        <select id="select-hijos" ng-model="hijos" ng-change="cant()" class="hijos">
                                            <option value="" disabled selected required> -- Selecciona una opcion --</option>
                                            {% for hijo in canthijos %}
                                                <option value={{hijo.value}}>{{hijo.Description}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="str-children">
                            <div ng-repeat="edades in edad_hijos track by $index" class="str-children-inner">
                                <div class="str-icons"><img src="{{  asset('assets/img/front/img-hijo.png')}}" /></div>
                                <div class="custom-select">

                                    <select  name="selector" ng-model="edades.edad" class="edad" ng-change="anios()">
                                        <option value="" disabled selected required> -- Selecciona --</option>
                                        {% for edad in edades %}
                                            <option value={{edad.value}}>{{edad.Description}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        {#<div class="str-children">
                                <div ng-repeat="hij in edad track by $index" class="str-children-inner">
                                        <div class="str-icons"><img src="{{  asset('assets/img/front/img-hijo.png')}}" /></div>
                                        <div class="custom-select">
                                        {% verbatim %}
                                                <select  class="opt{{$index}}" name="selector" data-opt="{{$index}}"  ng-model="obtedad" ng-change="edades({{$index}})">
                                                        {% for edad in edades %}
                                                                <option value={{edad.value}}>{{edad.Descripcion}}</option>
                                                        {% endfor %}
                                                </select>
                                        </div>
                                </div>
                        </div>
                        {% endverbatim %}
                        #}
                    </div>
                </div>
            </div>
            <!--
                    ===== /versión desktop =====
            -->




            <!--
                   ===== versión mobile =====
            -->
            <div class="show-mobile">
                <section class="row center slider slider-intro">

                    <div class="col-md-3 show-mobile ">
                        <div class="inset-str-box str-message">
                            <div class="str-box str-shadow">
                                <h3 class="str-title-box str-color-primary">¿Cómo es tu familia?</h3>

                                <div class="show-mobile offset-top-4"></div>

                                <p>A continuación te preguntamos por tu estado civil y cuantos hijos tienes; selecciona las opciones para continuar</p>

                                <div class="offset-top-3">
                                    <div class="thumbs-center">
                                        <img src="{{  asset('assets/img/front/icon-deslizar.png')}}" alt="">

                                    </div>
                                    <p class="offset-top-1">Desliza para avanzar o retroceder en las preguntas</p>
                                </div>
                                <form action="{{ app.request.requestUri }}" method="post" name="geo" novalidate>
                                    <input type="hidden" id="sin_nada" name='checked_form[checked]' class="form-control">
                                    <br>
                                    <button class="str-btn-volver" type='submit' name='volver' >

                                        <span class="text-btn volverycontinuar"><i class="str-icon-flecha-izquierda"></i> Volver</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="inset-str-box">
                            <div class="str-box str-box-min">
                                <h3 class="str-title-box semi-bold">Actualmente Estoy</h3>
                                <div class="str-thumbs"><img src="{{  asset('img/planificador/preguntas/')}}{{pregunta.ImagenTipo}}" alt=""></div>

                                <div class="custom-select">
                                    <select ng-model="estado" ng-change="est()" class="estado">
                                        <option value="" disabled selected required> -- Selecciona una opcion --</option>
                                        {% for edo in edocivils %}
                                            <option value={{edo.Description}}>{{edo.Description}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="inset-str-box">
                            <div class="str-box str-box-min">
                                <h3 class="str-title-box semi-bold">¿Cuantos hijos tienes?</h3>
                                <div class="str-thumbs"><img src="{{  asset('img/planificador/preguntas/')}}{{pregunta.ImagenTipo}}" alt=""></div>

                                <div class="str-quantity-field">
                                    <div class="head-quantity">
                                        Tengo
                                        <input  class="quantity" id="quantity_xxxxxx" type="text" size="1" maxlength="1" ng-model='hijos'/> <strong>hijos</strong>
                                    </div class="head-">
                                    <a class="minus-btn" href="javascript: void(0)" ng-click="resta()"></a> &nbsp;
                                    <a class="plus-btn" href="javascript: void(0)" ng-click="suma()"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3" ng-show='hijos > 0'>
                        <div class="inset-str-box str-box-min">
                            <div class="str-box">
                                <h3 ng-show='hijos > 0' class="str-title-box semi-bold">¿Cuáles son las edades de tus hijos?</h3>
                                &nbsp; &nbsp;
                                <div class="str-children">
                                    <div ng-repeat="edades in edad_hijos track by $index" class="str-children-inner">
                                        <div class="str-icons"><img src="{{  asset('assets/img/front/img-hijo.png')}}" /></div>
                                        <div class="custom-select">

                                            <select name="selector" ng-model="edades.edad">
                                                <option value="" disabled selected required> -- Selecciona una opcion --</option>
                                                {% for edad in edades %}
                                                    <option value={{edad.value}}>{{edad.Description}}</option>
                                                {% endfor %}
                                            </select>
                                            <br/>
                                        </div>

                                    </div>
                                </div>
                                <br>
                                <p class="str-title-box semi-bold"></p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 remove-dots show-mobile">
                        <div class="inset-str-box str-message-success">
                            <div class="str-box str-box-min">
                                <div class="str-icons"><i class="str-icon-check"></i></div>
                                <h3 class="str-title">Tu y tu Familia</h3>
                                <ul class="str-list-check">
                                    <li>
                                        <span class="str-icons-li"><i class="str-icon-check"></i></span>
                                        <span class="str-text-li">Estás {%verbatim%}{{ estado}}{%endverbatim%}</span></li>
                                    <li>
                                        <span class="str-icons-li"><i class="str-icon-check"></i></span>
                                        <span class="str-text-li">Tienes {%verbatim%}{{ hijos}}{%endverbatim%} hijo(s)</span></li>
                                </ul>
                                <form action="{{ app.request.requestUri }}" id="other" method="post" name="other" novalidate>
                                    <div class="str-footer-btn">
                                        <!--input type="hidden" id="sin_nada" name='checked_form[checked]' class="form-control"-->
                                        <button  class="str-btn str-btn-primary" type='submit' ng-click="final()">
                                            <span class="text-btn volverycontinuar">Continuar</span>
                                            <i class="str-icon-flecha-derecha"></i>
                                        </button>

                                        <input type="hidden" id="checked_form_checked" name='checked_form[checked]' class="form-control">
                                        <button class="str-btn-volver" type='submit' name='volver' >
                                            <i class="str-icon-flecha-izquierda"></i>
                                            <span class="text-btn volverycontinuar">Volver</span>

                                        </button>


                                        {# <div class="str-left">
                                        <form action="{{ app.request.requestUri }}" method="post" name="geo" novalidate> #}

                                        <br>
                                        {#	</form>
                                        </div>#}
                                    </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!--
                   ===== versión mobile =====
            -->
        </div>
    </div>


    <div class="str-footer-btn hidden-mobile">
       <div class="str-left">
                 <a onclick="OneClickReturn(); return false;" href="" class="str-btn-volver str-btn-volver-destop">
               <!--<button name="volver" type='submit' class="str-btn-volver str-btn-volver-destop">-->
                   <i class="str-icon-flecha-izquierda"></i>
                   <span class="text-btn volverycontinuar">Volver</span>
               </a>
        </div>
        <script>
          var a = 0;
          function OneClickReturn() {
              if ( !a ) {
                a = 1;
                location.href="{{ path('front_preocupacion') }}"
              }
          }
        </script>
        <div class="str-right">
            <button class="str-btn str-btn-primary" type="submit" ng-click="final()">
                <span class="text-btn volverycontinuar">Continuar</span>
                <i class="str-icon-flecha-derecha gasto"></i>
            </button>
        </div>
    </div>
</form>



</div>
