<script>
    var cantidad = {{cantidad}};
            var tipo = {{tipo}};
</script>
<div class="str-container">

    {% embed "PlanificadorBundle:front:navegacion.html.twig" with {active: posicionmenu} %}
    {% endembed %}

    <div class="str-inset">
        <div class="str-head-page hidden-mobile">
            <h1 class="str-title-page">{{pregunta.titulo}} </h1>
        </div>
        <br>
        <div class="str-total hidden-mobile">
            <img src="{{  asset('assets/img/front/icon-billetera.png')}}" alt="">
            <label></label><p class="total" data-ng-init="fn_load()"></p>
        </div>

        <div class="str-body-page">

            <section class="row center slider slider-intro">

                <div class="col-md-6 show-mobile ">
                    <div class="inset-str-box str-message">
                        <div class="str-box str-shadow">
                            <h3 class="str-title-box str-color-primary">{{pregunta.titulo}}</h3>

                            <div class="show-mobile offset-top-4"></div>

                            <p>{{pregunta.descripcion | raw }}</p>

                            <div class="offset-top-3">
                                <div class="thumbs-center">
                                    <img src="{{  asset('assets/img/front/icon-deslizar.png')}}" alt="">
                                </div>
                                <p class="offset-top-1">Desliza para avanzar o retroceder en las preguntas</p>
                            </div>
                            <div class="str-left">
                                <form action="{{ app.request.requestUri }}" method="post" name="geo" {{ form_enctype(form) }} novalidate>
                                    <input type="hidden" id="sin_nada" name='checked_form[checked]' class="form-control">
                                    <br>
                                    <button class="str-btn-volver" type='submit' name='volver' >
                                        <i class="str-icon-flecha-izquierda"></i>
                                        <span class="text-btn volverycontinuar">Volver</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% for resp in pregunta.respuestas %}
                    <div class="col-md-6">
                        <div class="inset-str-box">
                            <div class="str-box str-box-check" id="cont-{{loop.index0}}">
                                <h3 class="str-title-box semi-bold show-mobile">{{ resp.titulo }}</h3>

                                <div class="str-left ">
                                    <div class="str-thumbs"><img src="{{  asset('img/planificador/respuestas/')}}{{resp.ImagenTipo}}" alt=""></div>
                                </div>

                                <div class="str-right">
                                    <h3 class="str-title-box semi-bold hidden-mobile">{{ resp.titulo }}</h3>

                                    <div class="str-input-box">
                                        <input class="str-input" data-id='{{resp.idrespuesta}}' data-name='{{ resp.titulo }}' id="gasto{{loop.index0}}"  placeholder="Ingresa monto" >
                                        <i class="str-icon-check2"></i>
                                    </div>

                                    <div class="str-custom-checkbox2">
                                        <input id="check-{{loop.index0}}" name="checkbox" type="checkbox" value="" data-id='{{resp.idrespuesta}}' data-name='{{ resp.titulo }}' ng-click=che({{loop.index0}})>
                                        <label for="check-{{loop.index0}}"><span class="str-custom"></span> <span class="label-text">Esto no es un gasto</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                {# total de gastos #}
                <div class="col-md-6 show-mobile remove-dots">
                    <div class="inset-str-box str-message-success">
                        <div class="str-box str-shadow">
                            <div class="str-icons"><i class="str-icon-check"></i></div>
                            <h3 class="str-title semi-light">Total de tus gastos</h3>
                            <div class="str-total">
                                <img src="{{  asset('assets/img/front/icon-billetera.png')}}" alt="">
                                <p class="total"></p>
                            </div>
                            <table class="str-table-simple">
                                <tbody>
                                    {% for resp in pregunta.respuestas %}
                                        <tr>
                                            <th>{{ resp.titulo }}</th>
                                            <td ng-show='sumatoria == 0' class="{{resp.titulo}}">$0</td>
                                            <td ng-show='sumatoria != 0' class="{{resp.titulo}}"></td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                            <form action="{{ app.request.requestUri }}" method="post" name="geo" {{ form_enctype(form) }} novalidate>
                                <div class="str-footer-btn">
                                    <!--input type="hidden" id="sin_nada" name='checked_form[checked]' class="form-control"-->
                                    <button  class="str-btn str-btn-primary gasto" type='submit'>
                                        <span class="text-btn volverycontinuar">Continuar</span>
                                        <i class="str-icon-flecha-derecha"></i>
                                    </button>
                                    <br>
                                    <input type="hidden" id="checked_form_checked" name='checked_form[checked]' class="form-control">

                                    <button class="str-btn-volver" type='submit' name='volver' >
                                        <i class="str-icon-flecha-izquierda"></i>
                                        <span class="text-btn volverycontinuar">Volver</span>
                                    </button>
                                </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>

    <div class="str-footer-btn hidden-mobile">
      <div class="str-left">
             <!--  <a href="javascript:void(0)" class="str-btn-volver str-btn-volver-destop">-->
         <button class="str-btn-volver str-btn-volver-destop" type='submit' name='volver' >
             <i class="str-icon-flecha-izquierda"></i>
             <span class="text-btn volverycontinuar">Volver</span>
         </button>
     </div>
        <div class="str-right">
          <button  class="str-btn str-btn-primary gasto" type='submit'>
                <span class="text-btn volverycontinuar">Continuar</span>
                <i class="str-icon-flecha-derecha"></i>
          </button>
        </div>
  
    </div>
</form>
</div>
