<div class="str-container">

	{% embed "PlanificadorBundle:front:navegacion.html.twig" with {active: posicionmenu } %}
	{% endembed %}

	<div class="str-inset">
		<div class="str-head-page hidden-mobile">
			<h1 class="str-title-page">{{ pregunta.titulo }}</h1>
		</div>
		<div class="str-body-page">
			<section class="row center slider slider-intro">

				<div class="col-md-3 show-mobile ">
					<div class="inset-str-box str-message">
						<div class="str-box str-shadow">
							<h3 class="str-title-box str-color-primary">{{pregunta.titulo}}</h3>

							<div class="str-info-column offset-top-2">
								<div class="str-left">
									<img src="{{  asset('assets/img/front/')}}icon-deslizar.png" alt="">
								</div>
								<div class="str-right">
									<p>Desliza para avanzar o retroceder en las preguntas</p>
								</div>
							</div>
							{#<div class="str-info-column"> #}
							<!--	<div class="str-left">
									<img src="{{  asset('assets/img/front/')}}icon-tocar.png" alt="">
								</div>-->
								<div class="str-info-column">
								<div class="str-left">
									<img src="{{  asset('assets/img/front/')}}icon-tocar.png" alt="">
								</div>
								<div class="str-right">
									<p>Toca para seleccionar una respuesta</p>
								</div>
							</div>
								<div class="str-left">
			 						<form action="{{ app.request.requestUri }}" method="post" name="geo" {{ form_enctype(form) }} novalidate>
			 							<input type="hidden" id="sin_nada" name='checked_form[checked]' class="form-control">
			 							<br>
										<button class="str-btn-volver" type='submit' name='volver' >
											<i class="str-icon-flecha-izquierda"></i>
											<span class="text-btn volverycontinuar">Volver</span>
										</button>
									</form>
								</div>
							{#</div>#}
						</div>
					</div>
				</div>
				{% for resp in pregunta.respuestas %}
				<div class="col-md-3">
					<div class="inset-str-box" id="{{resp.idRespuesta}}" data-nom="{{resp.titulo}}" ng-click="resp({{ resp.idRespuesta }})">
						<a href="#;" title=""  class="str-box str-box-order">
							<div class="str-thumbs"><img src="{{  asset('img/planificador/respuestas/')}}{{resp.ImagenTipo}}"></div>
							<h3 class="str-title-box" id="{{resp.idRespuesta}}" data-nom="{{resp.titulo}}" >{{ resp.titulo }}</h3>
							<span class="str-circle"><i class="str-icon-check"></i></span>
						</a>
					</div>
				</div>
				{% endfor %}

				<div class="col-md-3 show-mobile remove-dots">
					<div class="inset-str-box str-message-success">
						<div class="str-box str-shadow">
							<div class="str-icons"><i class="str-icon-check"></i></div>
							<h3 ng-show='checked.length < 1' class="str-title">No has seleccionado seguros</h3>
									<h3 ng-show='checked.length == 1' class="str-title">Has seleccionado {% verbatim %}{{ checked.length }}{%endverbatim%}  opción</h3>
									<h3 ng-show='checked.length > 1' class="str-title">Has seleccionado {% verbatim %}{{ checked.length }}{%endverbatim%}  opciones</h3>
							<ul class="str-list-check" ng-repeat="dat in nom">
								{%verbatim%}
								<li>
									<span class="str-icons-li"><i class="str-icon-check"></i></span>
									<span class="str-text-li">{{dat.nombre}}</span>
								</li>
								{%endverbatim%}

							</ul>
							<form action="{{ app.request.requestUri }}" method="post" name="geo" {{ form_enctype(form) }} novalidate>
								<div class="str-footer-btn">
									<input type="hidden" id="checked_form_checked" name='checked_form[checked]' class="form-control">
									<button  class="str-btn str-btn-primary" type='submit' ng-click="multi()">
										<span class="text-btn volverycontinuar">Continuar</span>
									</button>
									<br>
                                       <!--input type="hidden" id="sin_nada" name='checked_form[checked]' class="form-control"--->
									<button class="str-btn-volver" type='submit' name='volver' >
										<i class="str-icon-flecha-izquierda"></i>
										<span class="text-btn volverycontinuar">Volver</span>
									</button>

								</div>
						</div>
					</div>
				</div>
			</section>

			<div class="show-mobile">
				<p class="str-size-active hidden-no-dots">Has seleccionado <strong><span class="active-size">{%verbatim%}{{ checked.length }}{%endverbatim%}</span> de {{ respuestas }} seguros</strong></p>
			</div>
		</div>
	</div>
	<div class="str-footer-btn hidden-mobile">
			<div class="str-left">
				<button class="str-btn-volver str-btn-volver-destop" type='submit' name='volver' >
					<i class="str-icon-flecha-izquierda"></i>
					<span class="text-btn volverycontinuar">Volver</span>
				</button>
			</div>
			<div class="str-right">
				<button  class="str-btn str-btn-primary" type='submit' ng-click="multi()">
					<span class="text-btn volverycontinuar">Continuar</span>
					<i class="str-icon-flecha-derecha gasto"></i>
				</button>
			</div>
		</div>

	</form>
</div>
