		<div class="str-container str-page-result">
			
			{% embed "PlanificadorBundle:front:navegacion.html.twig" with {active: posicionmenu} %}
			{% endembed %}		
			

			<div class="str-inset str-content-circle">
				<!-- AQUI PODRIA IR LA PREGUNA -->
				<div class="str-head-page">
					<!--<div class="str-circle-success"><i class="str-icon-check"></i></div>-->
					<h1 class="str-title-page">{{pregunta.titulo}}</h1>
				</div>
				{% for resp in pregunta.respuestas %}
				<div class="str-body-page offset-top-4">

					<div class="str-collapse-seguro">
						<div class="str-collapse-head">
							<div >
					            <input  id="seguro-{{loop.index}}" name="checkbox" type="radio">
					            <label  for="seguro-{{loop.index}}"><span data-id="{{loop.index}}" class="vof str-custom"></span></label>
					        </div>

					        <div class="str-icons "><img src="{{  asset('img/planificador/respuestas/')}}{{resp.ImagenTipo}}" alt=""></div>	
					        <!--<div class="str-info-seguro">
					        	<p class="hidden-mobile">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, blanditiis doloremque ducimus repudiandae alias, voluptatum officia ea explicabo expedita maxime, placeat aliquid ab quasi saepe fugit aspernatur officiis recusandae, distinctio! .</p>
					        </div>-->
					         <div class="str-info-seguro">
					         	
					         	<p class="">{{ resp.Titulo }}.</p>
					         </div>
						</div>
					</div>
				</div>
				{% endfor %}
				<form action="{{ app.request.requestUri }}" method="post" name="geo" {{ form_enctype(form) }} novalidate>

					
					<input type="hidden" id="checked_form_checked" name='checked_form[checked]' class="form-control">
					<div class="str-footer-btn str-footer-center show-mobile">
						<div class="str-left">
							<button class="str-btn-volver" type='submit' name='volver' >
								<i class="str-icon-flecha-izquierda"></i>
								<span class="text-btn">Volver</span>
							</button>
						</div>
						
						<div class="str-right">
							<button type="submit" title="Contratar" class="str-btn str-btn-primary">
								<span class="text-btn">Continuar</span>
								<i class="str-icon-flecha-derecha"></i>
							</button>
						</div>
					</div>
			</div>				
			<div class="str-footer-btn str-footer-center hidden-mobile">
				<div class="str-left">
					<button class="str-btn-volver str-btn-volver-destop" type='submit' name='volver' >
						<i class="str-icon-flecha-izquierda"></i>
						<span class="text-btn">Volver</span>
					</button>
				</div>
				
				<div class="str-right">
					<button type="submit" title="Contratar" class="str-btn str-btn-primary">
						<span class="text-btn">Continuar</span>
						<i class="str-icon-flecha-derecha"></i>
					</button>
				</div>
			</div>
			</form>
	</body>
</html>