$white: #fff !default;
$blue: #007bff !default;
$black: #000 !default;
$gray-600: #6c757d !default;
$gray-900: #212529 !default;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3)
  ),
  $spacers
);

$sizes: () !default;
$sizes: map-merge(
  (
    25: 25%,
    50: 50%,
    75: 75%,
    100: 100%,
    auto: auto
  ),
  $sizes
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
) !default;

$primary: $blue !default;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "primary":    $primary
  ),
  $theme-colors
);

$enable-pointer-cursor-for-buttons: true !default;

$body-bg: $white !default;

$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$body-color: $gray-900 !default;
$text-muted: $gray-600 !default;

$border-width: 1px !default;

$paragraph-margin-bottom: 1rem !default;

$dt-font-weight: $font-weight-bold !default

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$line-height-lg: 1.5 !default;
$line-height-sm: 1.5 !default;

$label-margin-bottom: .5rem !default;

$font-weight-normal: 400 !default;
$line-height-base: 1.5 !default;

$headings-margin-bottom: $spacer / 2 !default;

$enable-grid-classes: true !default;

$hr-border-color: rgba($black, .1) !default;
$hr-border-width: $border-width !default;
$hr-margin-y: $spacer !default;

$font-weight-base: $font-weight-normal !default;
$font-size-base: 1rem !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-sans-serif:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-base: $font-family-sans-serif !default;

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;

$link-color: theme-color("primary") !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$table-cell-padding: .75rem !default;
$table-cell-padding-sm: .3rem !default;

$table-caption-color: $text-muted !default;

@include _assert-ascending($container-max-widths, "$container-max-widths");
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints, "$grid-breakpoints");
