<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>A Simple Responsive HTML Email</title>
        <style type="text/css">
 .hogar{
    background: #e69d25;
 }
 .fraude{
    background: #97999a;
 }
 .salud{
    background: #15b3bb;
  }
 .viajes{
    background: #a9c338;
  }
 .productos{
    background: #97999a;
  }
 .vida{
    background: #e21125;
  }
 .auto{
        background: #9e3768;
   }
 .title h1{
    font-weight: 300;
    letter-spacing: -0.02em;
    font-size: 1.6em;
}
 .title h1 img {
  margin: 0 5px -23px 0;
  width: 76px;
}

 ul.steps{
    margin: 20px 0;
    padding: 0;
    list-style: none;
    display: table;
    position: relative;
    width: 100%;
}
 ul.steps:after{
    content: '';
    height: 6px;
    background: #e2e2e2;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    left: 20px;
    right: 20px;
}
 ul.steps li{
    display: table-cell;
    padding: 0 10px;
    position: relative;
    z-index: 2;
    text-align: center;
    vertical-align: middle;
}
 ul.steps li.active:after{
    content: '';
    height: 6px;
    background: #676767;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    width: 50%;
    left: 50%;
    z-index: 0;
    border-radius: 3px;
}
 ul.steps li span{
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #e2e2e2;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.6em;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
    z-index: 10;
}
 ul.steps li.active span{
    background: #676767;
    color: #e2e2e2;
}
 ul.steps li.active:nth-child(2):after{
    width: 110%;
    left: -10%;
}
 ul.steps li.active:nth-child(3):after{
    width: 50%;
    left: -10%;
}
 .header-paso{
     padding: 12px 20px;
    color: #fff;
}
 .header-paso:after,
 .header-paso:before,
 .bkg-gray:after,
 .bkg-gray:before{
    content: '';
    display: table;
    clear: both;
}
 .header-paso .img-header{
    width: 45px;
}
 .header-paso h2{
    font-weight: 300;
    font-size: 1.5em;
    color: #fff;
}
 .header-paso h2 span{
    font-weight: 700;
}
 .header-paso p{
    color: #fff;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.1em;
}
 .bkg-gray{
    background: #fafafa;
    padding: 20px !important;
    font-size: 0.9em;
}
 .bkg-gray h2{
    font-size: 1.3em;
}
 .bkg-gray h4{
    margin-bottom: 15px;
}
 .bkg-gray .mytd{
    width: 50%;
}
@media (max-width: 600px){
    .bkg-gray h4{
        margin-top: 15px
    }
    ul.steps:after{
        left: 15%;
        right: 15%;
    }
}
 .title { margin: 20px 0 0 0; }

 .title h1 { font-weight: 300; letter-spacing: -0.02em; font-size: 1.6em; margin: 0; padding: 10px 0; }

 .title h1.seguros { text-transform: uppercase; font-weight: 700; }

 .title .icon { padding: 0 5px 0 0; }

 .title .icon, .title .icon img { width: 66px; }

 .title-less { margin: 20px 0; font: normal 600 1em "Open Sans Condensed", sans-serif; padding: 0 0 0 15px; position: relative; }

        body {margin: 0; padding: 0; min-width: 100%!important;}
        .content {width: 100%; max-width: 600px;}  
        </style>
    </head>
    <body yahoo bgcolor="#f6f8f1">
       
         <table  width="70%" bgcolor="#f6f8f1" border="0" cellpadding="0" cellspacing="0" align="center">
         <tr><td>
          <table width="100%" bgcolor="#f6f8f1" border="0" cellpadding="0" cellspacing="0" align="center">
          
                    
                       <tr style="display: table-row; ">
                         <td><img src="{{'https://www.santander.cl/web20/img/family/' ~ insurance.family.icon}}"  /></td> 
                         
                          <td style="font-family: 'Open Sans Condensed', sans-serif;" >
                          <h1>Solicitud de Seguro de {{insurance.product.name}} </h1> </td>
                      </tr>
                  
        </table>
</td></tr>
            <tr>
                <td>
                    <table style="width: 100%; " class="{{insurance.product.getMasterFamily | lower | trim | trim(' ')}} header-paso" class="content" align="left" cellpadding="0" cellspacing="0" border="0" >
                        <tr style="display: table-row;">
                        <td rowspan="2"><img src="https://www.santander.cl/web20/assets/img/icons/icon-contrato.png" /></td>
        <td ><p>{% if insurance.plan %}<h2>{{ insurance.plan.name }}</h2>{% else %}<h2>{{ insurance.name }}</h2>{% endif %}</p></td>
        <td ><p>Prima: {{ insurance.price | monthly(uf.value) }} (UF {{ insurance.price | number_format(2, ',', '.') }})</p></td>
</tr>
</table>
<table style="width: 100%; float: none !important; background: #fafafa; padding: 20px !important; border: 1px #dfdfdf solid; border-spacing:  5px; "  CELLPADDING="0" >
     <tr >
        <td style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0;   padding: 0; color: #000; letter-spacing: -0.05rem;  line-height: normal;font-size: 1.45rem; ">Comprobante:</td>
        <td style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0;   padding: 100; color: #000; letter-spacing: -0.05rem;  line-height: normal;font-size: 1.45rem; ">Transacción:</td>
    </tr>
    <tr>
            <td rowspan="{% if (proposal != null and proposal.solicitud != null) %}3{% else %}2{% endif %}" style="padding: 6px 0; display: table-cell;vertical-align: middle;padding-right:10px;" width="40%" align="justify"  >
                    {% if insurance.suscripcion ==1 %}
                    
                        Gracias por su solicitud. Los antecedentes serán remitidos a la Compañía de Seguros.
                        Le hemos enviado un comprobante a su email: {{ insurance.payer.addressEmail }}
                    
                    {% else %}
                    
                        Gracias por contratar su Seguro de {{ insurance.product.name }}.
                        Le hemos enviado un comprobante a su email: {{ insurance.payer.addressEmail }}
                        y además recibirá su póliza de seguro en su domicilio.
                    
                    {% endif %}

          
            </td>
            <td>Número:  <strong>{{ "%s" | format(insurance.id) }}</strong></td>
    </tr>
    {% if (proposal != null and proposal.solicitud != null) %}
    <tr>
        <td>Solicitud:  <strong>{{ "%s" | format(proposal.solicitud) }}</strong></td>
    </tr>
    {% endif %}
    <tr>
        <td>Fecha:  <strong>{{ insurance.created | date('d/m/Y H:i') }}</strong></td>       
    </tr>
  
    <tr><td colspan="3"><hr></td></tr>
    
    <tr><td style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0;   padding: 0; color: #000; letter-spacing: -0.05rem;  line-height: normal;font-size: 1.45rem; ">Datos de pago:</td></tr>
    <tr>
        <td>Nombre:</td>
        <td>{{ insurance.payer.fullname }}</td>
    </tr>
    <tr>
        <td>Rut:</td>
        <td>{{ insurance.payer.code }}</td>
    </tr>
    <tr>
        <td>Fecha de nacimiento:</td>
        <td>{{ insurance.payer.birthday | date('d/m/Y') }}</td>
    </tr>
     <tr>
        <td>Dirección:</td>
        <td>{{ insurance.payer.address }}</td>
    </tr>
     <tr>
        <td>Ciudad:</td>
        <td>{{ insurance.payer.addressCity }}</td>
    </tr>
     <tr>
        <td>Comuna:</td>
        <td>{{ insurance.payer.addressState }}</td>
    </tr>
    <tr>
        <td>Teléfono:</td>
        <td>{{ insurance.payer.addressCellphone }}</td>
    </tr>
        
     <tr>
        <td>E-mail:</td>
        <td>{{ insurance.payer.addressEmail }}</td>
    </tr>
    {% if insurance.product.seguroTerceros %}
        {% if insurance.payer.code != insurance.insured.code %}
            <tr><td colspan="3"><hr></td></tr>
            <tr>
                <td style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0;   padding: 0; color: #000; letter-spacing: -0.05rem;  line-height: normal;font-size: 1.45rem; ">Datos de Asegurado:</td>
            </tr>
            <tr>
                <td>Nombre:</td>
                <td>{{ insurance.insured.fullname }}</td>
            </tr>
            <tr>
                <td>Rut:</td>
                <td>{{ insurance.insured.code }}</td>
            </tr>
            <tr>
                <td>Fecha de nacimiento:</td>
                <td>{{ insurance.insured.birthday | date('d/m/Y') }}</td>
            </tr>
             <tr>
                <td>Dirección:</td>
                <td>{{ insurance.insured.address }}</td>
            </tr>
             <tr>
                <td>Ciudad:</td>
                <td>{{ insurance.insured.addressCity }}</td>
            </tr>
             <tr>
                <td>Comuna:</td>
                <td>{{ insurance.insured.addressState }}</td>
            </tr>
            <tr>
                <td>Teléfono:</td>
                <td>{{ insurance.insured.addressCellphone }}</td>
            </tr>
                
             <tr>
                <td>E-mail:</td>
                <td>{{ insurance.insured.addressEmail }}</td>
            </tr>
        {% endif %}
    {% endif %}
    
    {% if insurance.beneficiaries %}
                    {% set titulo=0 %}
                     {% for beneficiary in insurance.beneficiaries %}
                     {% set titulo=1 %}
                     {% endfor %}
                      {% if titulo==1 %}
                      <tr><td colspan="3"><hr></td></tr>
                      <tr>
                          <td style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0;   padding: 0; color: #000; letter-spacing: -0.05rem;  line-height: normal;font-size: 1.45rem; ">Beneficiarios:</td>
                        {% endif %}
                       {% for beneficiary in insurance.beneficiaries %}
                        <tr>
                            <tr>
                                <td>Nombre:</td>
                                <td>{{ beneficiary.name }} {{ beneficiary.lastname1 }} {{ beneficiary.lastname2 }}</td>
                            </tr>
                            <tr>
                                <td>Rut:</td>
                                <td>{{ beneficiary.code }}</td>
                            </tr>
                            <tr>
                                <td>Fecha de nacimiento:</td>
                                <td>{{ beneficiary.birthday | date('d/m/Y') }}</td>
                            </tr>
                        </tr>
                        <br>
                    {% endfor %}
                    {% if titulo==1 %}
                    </tr>
                    {% endif %}
                {% endif %}
                {% if insurance.cargas %}
                {% set titulo=0 %}
                      {% for carga in insurance.cargas %}
                     {% set titulo=1 %}
                     {% endfor %}
                      {% if titulo==1 %}
                      <tr><td colspan="3"><hr></td></tr>
                       <tr>
                        <td style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0;   padding: 0; color: #000; letter-spacing: -0.05rem;  line-height: normal;font-size: 1.45rem; ">Asegurados:</td>
                        {% endif %}
               
                       {% for carga in insurance.cargas %}
                        <tr>
                            <tr>
                                <td>Nombre:</td>
                                <td>{{ carga.name }} {{carga.lastname1 }} {{ carga.lastname2 }}</td>
                            </tr>
                            <tr>
                                <td>Rut:</td>
                                <td>{{carga.code }}</td>
                            </tr>
                            <tr>
                                <td>Fecha de nacimiento:</td>
                                <td>{{ carga.birthday | date('d/m/Y') }}</td>
                            </tr>
                        </tr>
                    
                        <br>
                    {% endfor %}
                     {% if titulo==1 %}
                    </tr>
                    {% endif %}

                {% endif %}

                {% if insurance.travelDate %}
                 <tr><td colspan="3"><hr></td></tr>
                <tr>
                    <td style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0;   padding: 0; color: #000; letter-spacing: -0.05rem;  line-height: normal;font-size: 1.45rem; ">Datos de viaje:</td>
                </tr>
                    <tr>
                            <td>Fecha de Viaje:</td>
                            <td>{{ insurance.travelDate}}</td>
                    </tr>
                        
                    
                {% endif %}
               
                   {% if insurance.creditCard %}
                    <tr>
                    <td style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0;   padding: 0; color: #000; letter-spacing: -0.05rem;  line-height: normal;font-size: 1.45rem; ">Datos de tarjeta asegurada:</td>
                </tr>
                    <tr>
                            <td>Número de tarjeta:</td>
                            <td>{{ insurance.creditCard.name | upper }}*****{{ insurance.creditCard.cardNumber |slice(-4) }}</td>
                    </tr>
                </tr>
                {% endif %}
                <tr><td colspan="3"><hr></td></tr>

        <tr><td style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0;   padding: 0; color: #000; letter-spacing: -0.05rem;  line-height: normal;font-size: 1.45rem; " >Formas de Pago: </td></tr>
        <tr>
            <td>Monto:</td>
            <td>${{ (insurance.price * uf.value) | number_format(0, ',', '.') }} (UF {{ insurance.price|number_format(2, ',', '.') }})</td>
        </tr>
        <tr>
            <td>Medio de pago:</td>
            <td>*****{{ insurance.paymentMethod|slice(-4) }}</td>
        </tr>
        <tr>
            <td>Día de cargo:</td>
            <td>{{ insurance.paymentDay }}</td>
        </tr>

        
  {% if insurance.home %} 
   <tr><td colspan="3"><hr></td></tr>
                    <tr>
                     <td style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0;   padding: 0; color: #000; letter-spacing: -0.05rem;  line-height: normal;font-size: 1.45rem; " colspan="3">Dirección Asegurada: </td>
                     </tr>

                        <tr>
                            <td>Direccion:</td>
                            <td>{{ (insurance.home.Address) }} </td>
                        </tr>
                        <tr>
                            <td>Comuna:</td>
                            <td>{{ insurance.home.AddressState }}</td>
                        </tr>
                        <tr>
                            <td>Ciudad:</td>
                            <td>{{ insurance.home.AddressCity }}</td>
                        </tr>
                

                {% endif %}
        {% set salud = 0 %}
                {% set actividad = 0 %}
                {% set riesgo=0 %}
                {% if insurance.questions %}     
                    {% for insu in insurance.questions %}
                        {% if (insu.question=="Peso") or (insu.question=="estatura") or (insu.question=="Enfermedad") %}
                            {% set salud=1 %}
                    
                        {% endif %}

                        {% if (insu.question=="Actividad Riesgo") or (insu.question=="Actividad Ejemplo") %}
                            {% set actividad=1 %}
                       
                        {% endif %}

                        {% if (insu.question=="Deportes Riesgo") %}
                            {% set riesgo=1 %}
                        
                        {% endif %}

                    {% endfor %}
                {% endif %}

                {% if salud==1 %}
                <tr><td colspan="3"><hr></td></tr>

                            
                             <tr><td style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0;   padding: 0; color: #000; letter-spacing: -0.05rem;  line-height: normal;font-size: 1.45rem; " >Declaración Personal de Salud:</td></tr>
                             {% for insu in insurance.questions %}   
                                                                       
                                           {% if insu.question=="Peso"%}
                                                <tr>
                                                   <td>{{insu.question}}:</td>
                                                   <td>{{insu.answer}}</td>
                                               </tr>
                                           {% endif %}
                                           {% if insu.question=="estatura"%}
                                               <tr>
                                                   <td>{{insu.question}}:</td>
                                                   <td>{{insu.answer}}</td>
                                               </tr>
                                           {% endif %}
                                           {% if insu.question=="Enfermedad"%}
                                               <tr>
                                                   <td>{{insu.question}}:</td>
                                                   <td>{{insu.answer}}</td>
                                               </tr>
                                            {% endif %}
                                   
                                {% endfor %}     
                        {% endif %} 
                        {% if actividad==1 %}
                                <tr><td style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0;   padding: 0; color: #000; letter-spacing: -0.05rem;  line-height: normal;font-size: 1.45rem; " >Declaración Personal de Actividades:</td></tr>      
                                    {% for insu in insurance.questions %}
                                                {% if insu.question=="Actividad Riesgo"%}
                                                <tr>
                                                    <td>{{insu.question}}:</td>
                                                    <td>{{insu.answer}}</td>
                                                </tr>
                                                {% endif %}
                                                {% if insu.question=="Actividad Ejemplo"%}
                                                <tr>
                                                    <td>{{insu.question}}:</td>
                                                    <td>{{insu.answer}}</td>
                                                </tr>
                                                {% endif %}
                          
                                    {% endfor %}
                        {% endif %}
                        {% if riesgo==1 %}
                                    <tr><td style="font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0;   padding: 0; color: #000; letter-spacing: -0.05rem;  line-height: normal;font-size: 1.45rem; " >Declaración Personal de Deportes:</td></tr>
                                            <tr>
                                        {% for insu in insurance.questions %}       
                                                {% if insu.question=="Deportes Riesgo" %}
                                                            <td>{{insu.question}}:</td>
                                                            <td>{{insu.answer}}</td>
                                                        </tr>
                                                {% endif %}
                                    {% endfor %}    
                        {% endif %} 
                           
                        </div>
                </div>
</table>
    <table >
        <tr>
            <td colspan="2" style="font-size: 0.75em; line-height: normal; clear: both;"><p>(1) El proponente asegurado autoriza que las comunicaciones o notificaciones que la compañía de seguro o el Banco Santander Chile envíen o deban enviar en razón de la póliza, se dirijan al correo electrónico indicado, así como a cualquier otra dirección de contacto que él hubiese entregado a dicho banco. Además a este email te enviaremos el comprobante e información del seguro.</p></td>
        </tr>
       
        <tr >
            <td  align="right"> <img  width="25%" heigth="10%" src="https://www.santander.cl/web20/assets/img/icons/santander_seguro.png" /></td>
        </tr>
    </table>
                </td>
            </tr>
        </table>
    </body>
</html>

    




   
