{% extends "PlanificadorBundle::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/planificador/admin_fix.css') }}" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/generico.js') }}"></script>
{% endblock %}

{% block body %}
<h3>Logs - Seguimiento</h3>
<a class="btn btn-primary btn-md pull-right margin-bottom" href="{{ path('seguimiento_export') }}" title="">Exportar</a>

<section class=" row form-horizontal">
	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr>
            <th>ID</th>
			<th>Usuario</th>
			<th>Sesi&oacute;n ID</th>
			<th>Acciones</th>
		</tr>
        {% for seguimiento in seguimientos %}
        <tr>
            <td>{{ seguimiento.id }}</td>
		  	<td>{{ seguimiento.username }}</td>
			<td>{{ seguimiento.sessionid }}</td>
			<td class="centrar_bot"> 
                <a class="link" href="{{ path('seguimiento_view', { 'id': seguimiento.Id } ) }}">Ver detalle</a>
			</td>
		</tr>
        {% endfor %}
    </table>
    
    {% if pagesCount > 1 %}
    <ul class="pagination pull-right">
        <li><a href="{{ path('seguimiento_listar_page', { page: page-1 < 1 ? 1 : page-1 }) }}">&laquo;</a></li>
        
        {% for i in 1..pagesCount %}
        <li><a class="btn {% if page == i %}btn-primary active{% endif %}" href="{{ path('seguimiento_listar_page', { page: i }) }}">{{ i }}</a></li> 
        {% endfor %}
        
        <li><a href="{{ path('seguimiento_listar_page', { page: page+1 <= pagesCount ? page+1 : page }) }}">&raquo;</a></li>
    </ul>
    {% endif %}
    
</section>
{% endblock %}