{% extends "PlanificadorBundle::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/generico.js') }}"></script>
{% endblock %}

{% block body %}
    <h3>Logs - Seguimiento (#{{ seguimiento.id }})</h3>
    
    <section class=" row form-horizontal">
        <table class="table table-striped table-bordered table-hover table-condensed">
            <tr>
                <td valign="top">ID</td>
                <td valign="top">{{ seguimiento.id }}</td>
            </tr>
            <tr>
                <td valign="top">Usuario</td>
                <td valign="top">{{ seguimiento.username }}</td>
            </tr>
            <tr>
                <td valign="top">Sesi&oacute;n ID</td>
                <td valign="top">{{ seguimiento.sessionid }}</td>
            </tr>
            <tr>
                <td valign="top">Agente</td>
                <td valign="top">{{ seguimiento.useragent }}</td>
            </tr>
            <tr>
                <td valign="top">Info.</td>
                <td valign="top">
                {% for key,seg in seguimiento.info %}
                <ul>
                    <li>
                        <h3>{{ key }}</h3>
                        <ul>
                            <li><strong>URL:</strong> {{ seg.url }}</li>
                            
                            <!--Opción de selección-->
                            {% if seg.seleccionado is defined %}
                            <li>
                                <strong>Seleccionado(s):</strong>
                                <ul>
                                    {% for sel in seg.seleccionado %}
                                    <li>{{ sel }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                               
                            <!--Estado civil-->
                            {% if seg.estado is defined %}
                            <li>
                                <strong>Estado civil:</strong>
                                {{ seg.estado }}
                            </li>
                            {% endif %}
                            
                            <!--Cantidad de hijos-->
                            {% if seg.cantidad_hijos is defined %}
                            <li>
                                <strong>Cantidad hijos:</strong>
                                {{ seg.cantidad_hijos }}
                                
                                {% if seg.edades is defined %}
                                <ul>
                                    {% for edad in seg.edades %}
                                    <li>{{ edad }}</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endif %}
                            
                            <!--Valores y Gastos-->
                            {% if seg.valores is defined %}
                            <li>
                                <strong>Valores:</strong>
                                <ul>
                                    {% for val in seg.valores %}
                                    <li>{{ val.titulo }}: {{ val.valor }}</li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
                {% endfor %}
                </td>
            </tr>
            <tr>
                <td valign="top">Creado</td>
                <td valign="top">{{ seguimiento.created|date('d-m-Y H:i:s') }}</td>
            </tr>
            <tr>
                <td valign="top">Modificado</td>
                <td valign="top">{{ seguimiento.updated|date('d-m-Y H:i:s') }}</td>
            </tr>
            <tr>
                <td></td>
                <td><a href="{{ path('seguimiento_listar') }}" title="">Volver al listado</a></td>
            </tr>
        </table>
    </section>
    
{% endblock %}