.font-frutiger { font-family: 'frutiger_regular'; }
.box-declaracion { font-family: 'frutiger_regular'; }

.box-declaracion .tit-declaracion p {
	color: #15B3BB;
	background: white;
	border:1px solid #15B3BB;
	margin: 0;
	padding: 10px 0 10px 10px;
	font-family: 'frutiger_bold';
	position: relative;
	cursor: pointer;
	font-size: 1rem;
}
/*
.box-declaracion .tit-declaracion p:after {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	top: 9px;
	right: 13px;
	background: url(../img/icons/mas-menos-accordion.png) bottom left no-repeat transparent;
}
*/
.box-declaracion .tit-declaracion.active p {
	background: #15B3BB;
	color: white;
}

.box-declaracion .tit-declaracion.active p:after {
	background-position: top left;
}

.info-declaracion {
	background-color: #F7F7F7;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	padding: 20px 19px;
}

.info-declaracion .titulo {
	color: #333333;
	font-size: 1rem;
	margin: 0 0 5px 0;
	font-family: 'frutiger_bold';
}

.info-declaracion .subtitulo {
	margin: 0 0 10px 0;
	font-size: 1rem;
}

.box-calendario {
	border-top:1px solid #d8d8d8;
	padding-top: 20px;
}

.box-calendario .tit-datepicker {
	color: #5B595B;
	font-family: 'frutiger_regular';
	font-size: 0.9rem;
	display: block;
	margin-bottom: 3px;
}

.box-calendario .datepicker {
	padding-left: 25px;
	background-image: url(../img/icons/calendar.png);
	background-position: 5px 2px;
	background-repeat: no-repeat;
	border: 1px solid #DDDDDD;
	height: 24px;
	border-radius: 3px;
}


.box-calendario .datepick {
	padding-left: 25px;
	
	background-position: 5px 2px;
	background-repeat: no-repeat;
	border: 1px solid #DDDDDD;
	height: 24px;
	border-radius: 3px;
}
/* CAJAS DE CARGAS */

.cont-box-cargas:after,
.cont-box-cargas:before{
	content: '';
	display: table;
	clear: both;
}

.box-carga {
	border:1px solid #DDDDDD;
	padding: 20px 10px;
	margin: 0 0 10px 0;
}
.cont-carga {
	width: 49%;
	float: left;
	margin: 0 2% 1.5% 0;
}
.cont-carga:nth-child(2n) {
	margin-right: 0;
}

.box-datos-persona .datos-persona-item {
	width: 36%;
	font-family: 'frutiger_regular';
	color: #5B595B;
	font-size: 0.9rem;
	padding: 3px 0 !important;
}
.box-datos-persona .datos-persona-inputs {
	width: 64%;
	font-family: 'frutiger_regular';
	color: #333;
	padding: 3px 0 !important;
}
sup.red {
	color: #EB0000;
}

.error {
	position: relative;
}
.error input, .error select {
    /*border-color: #e9e9e9;*/
    border-color: #ff0000;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 6px rgb(255, 0, 0);
    outline: 0 none;
}

.error .icon-x {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 8px;
	right: -20px;
	background: url(../img/icons/error-rojo.png) top left no-repeat;
	display: block;
}

.icon-x  { display: none; }

.regular-input {
	border: 1px solid #ddd;
	height: 22px;
	padding: 0 1em;
	border-radius: 3px;
	width: 100%;
	color: #5b5a5b;
	background: #fff;
}

.regular-dia {
	border: 1px solid #ddd;
	height: 22px;
	padding: 0 1em;
	border-radius: 3px;
	width: 35%;
	color: #5b5a5b;
	background: #fff;
}

.regular-input.num {
	width: 15%;
	padding: 0 2px;
    text-align: center;
}

.regular-select.select {
	width: 30%;
}
.regular-select.cel {
	width: 30%;
}

.regular-input.cel {
	width: 55%;
}

.info-footer {
	padding: 10px 10px 0 10px ;
}
.info-footer.no-border-top {
	border-top: 0;
}

.info-footer .legal-form {
    margin-top:0;
    line-height: 11px;
    font-size: 11px;
    color: #646464;
    font-family: Arial, Helvetica, sans-serif;
}

.info-footer .legal-form-dos {
    margin-top:0;
    line-height: 1.4rem;
    font-size: 0.8rem;
    color: #646464;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'frutiger_light';
}
.info-footer .valor-prima {
    font-size: 1rem;
    color: #333333;
    margin-top: 0;
}
.box-btn-right {
    text-align: right;
}
.btn-continuar {
    height: 36px;
    line-height: 36px;
    display: inline-block;
    width: 165px;
    text-align: center;
    background: #ec0000;
    color: #fff;
    padding: 0 10px;
    border-radius: 3px;
    margin: 10px auto;
    -webkit-box-shadow: 0 3px 0 0 #900;
    box-shadow: 0 3px 0 0 #900;
    font-weight: 400;
    font-family: 'frutiger_light';
    font-size: 1rem;
    border: 0;
}
.btn-cerrar {
    height: 36px;
    line-height: 36px;
    display: inline-block;
    width: 165px;
    text-align: center;
    background: #ec0000;
    color: #fff;
    padding: 0 10px;
    border-radius: 3px;
    margin: 10px auto;
    -webkit-box-shadow: 0 3px 0 0 #900;
    box-shadow: 0 3px 0 0 #900;
    font-weight: 400;
    font-family: 'frutiger_light';
    font-size: 1rem;
    border: 0;
}
.btn-continuar.inactivo {
	background-color: #DDDDDD;
	color: #666666;
	-webkit-box-shadow: 0 3px 0 0 #666;
    box-shadow: 0 3px 0 0 #666;
}
.btn-volver-declaracion {
	height: 36px;
    line-height: 36px;
    display: inline-block;
    color: #333333;
    font-size: 1rem;
    text-decoration: underline;
    border: 0;
    background: inherit;
    margin-right: 20px;
    width: 100px;
}

.box-aumento {
	text-align: right;
	margin-top: 20px;
}

.box-aumento .texto {
	margin-right: 10px;
	color: #333333;
	font-size: 0.94rem;
	font-family: 'frutiger_bold';
}
.box-aumento .menos-carga,
.box-aumento .mas-carga {
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	color: #313131;
	border: 1px solid #ddd;
	border-radius: 3px;
	background: #fff;
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	width: 23px;
	height: 23px;
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */
}
.box-aumento .menos-carga {
	margin-right:7px;
}
.box-aumento .mas-carga {
	font-size: 22px;
	padding-top: 1px;
}

.notas-importantes {
	color: #646464;
	font-size: 1rem;
	font-family: 'frutiger_bold';
	margin:0 0 5px 0;
}

.box-enfermedad label {
	margin-left: 5px;
	margin-right: 5px;
}

.bold-frutiger {
	font-family: 'frutiger_bold';
	color: #333;
}

.text-acepto {
	text-align: center;
	font-family: 'frutiger_bold';
	color: #333;
	font-size: 0.9rem;
}
.regular-check {
	height: 20px;
	width: 20px;
	vertical-align: middle;
	margin: 0 0.4em 0 0;
	border: 1px solid #DDDDDD;
	background:#fff;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance: none;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
}
.regular-check:checked {
	background:#17CAFF url(../img/check-radio.png) 50% 50% no-repeat;
	background-size: 70%;
}

.cont-box-actividad:after,
.cont-box-actividad:before,
.box-actividad:after,
.box-actividad:before{
	content: '';
	display: table;
	clear: both;
}
.cont-box-actividad {
	margin-bottom: 20px;
}

.cont-box-actividad .text-actividad {
	float: left;
	width: 58%;
	padding-right: 10px;
}
.cont-box-actividad .text-actividad .titulo {
	margin-top: 0;
}

.cont-box-actividad .select-actividad {
	float: left;
	width: 42%;
}

.box-actividad .actividad {
	float: left;
	text-align: center;
}

.box-actividad .actividad .box {
	float: left;
	width: 30%;
}

.box-actividad .actividad .box label {
	display: block;
}

.box-actividad .actividad span.texto.h40 {
	height: 40px;
	line-height: 40px;
}

.w60p {
	width: 60%;
}

#input-otro-deporte,
#input-otra-enfermedad {
	display: none;
}

.error-message{
	display: none;
}

.error-box{ background-color: #efeef0; position: relative;}
.error-box .error-content{position: relative;padding: 0 0 10px 55px;}
.error-box .error-icon{background: url('../img/icons/icon-error.png') no-repeat; width: 44px; height: 44px; position: absolute; top: 0; left: 0; }
.error-box .error-close {text-align: right;}
.error-border {background: #efeef0 !important; border-bottom: 1px solid transparent !important; padding: 25px 30px 18px 25px !important; }

div#plans {
    padding: 0;
}
#plans .owl-prev, #plans .owl-next {
    display: block;
}

.box-explains{
	background-color: #ECECEC;
	border: 1px solid #15B3BB;
	padding: 10px;
	margin: 10px 0 10px 0;
}

ul.steps{
	margin: 20px 0;
	padding: 0;
	list-style: none;
	display: table;
	position: relative;
	width: 90%;
}
ul.steps:after{
	content: '';
	height: 6px;
	background: #e2e2e2;
	position: absolute;
	top: 50%;
	margin-top: -3px;
	left: 20px;
	right: 20px;
}
ul.steps li{
	display: table-cell;
	padding: 0 10px;
	position: relative;
	z-index: 2;
	text-align: center;
	vertical-align: middle;
}
ul.steps li.active:after{
	content: '';
	height: 6px;
	background: #676767;
	position: absolute;
	top: 50%;
	margin-top: -3px;
	width: 50%;
	left: 50%;
	z-index: 0;
	border-radius: 3px;
}
ul.steps li span{
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #e2e2e2;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.6em;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	position: relative;
	z-index: 10;
}
ul.steps li.active span{
	background: #676767;
	color: #e2e2e2;
}
ul.steps li.active:nth-child(2):after{
	width: 110%;
	left: -10%;
}
ul.steps li.active:nth-child(3):after{
	width: 50%;
	left: -10%;
}
.header-paso{
	padding: 12px 20px;
	background: #15b3bb;
	color: #fff;
}
.header-paso:after,
.header-paso:before,
.bkg-gray:after,
.bkg-gray:before{
	content: '';
	display: table;
	clear: both;
}
.header-paso .img-header{
	width: 45px;
}
.header-paso h2{
	font-weight: 300;
	font-size: 1.5em;
	color: #fff;
}
.header-paso h2 span{
	font-weight: 700;
}
.header-paso p{
	color: #fff;
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.1em;
}
.bkg-gray{
	background: #fafafa;
	padding: 20px !important;
	font-size: 0.9em;
	border: 1px #dfdfdf solid;
}
.bkg-gray h2{
	font-size: 1.3em;
}
.bkg-gray h4{
	margin-bottom: 15px;
}
.bkg-gray .mytd{
	width: 50%;
}

.font-frutiger {
	font-family: 'frutiger_regular';
}

.title h1 {
	font-family: 'frutiger_regular';
	color: #333333;
}
.subtitulo {
	color: #333;
	font-family: 'frutiger_regular';
	font-size: 18px;
}

.box-coberturas .cobertura-item.titulo,
.box-coberturas .cobertura-valor.titulo {
	font-size: 1.3rem;
	color: #333333;
	border-bottom: 0;
	font-weight: normal;
	font-family: 'frutiger_regular';
}

.box-coberturas .cobertura-item {
	width: 75%;
	border-bottom: 1px solid #d8d8d8;
	color: #5B595B;
	font-family: 'frutiger_regular';
	font-size: 0.9rem;
}

.box-coberturas .cobertura-valor {
	width: 20%;
	border-bottom: 1px solid #d8d8d8;
	text-align: right;
	color: #333;
	font-weight: bold;
	font-family: 'frutiger_bold';
	font-size: 0.9rem;
}

.full-select{
	border: 1px solid #ddd;
	height: 22px;
	padding: 0 1em;
	border-radius: 3px;
	width: 100%;
	color: #5b5a5b;
	background: #fff;
}

.regular-select {
	border: 1px solid #ddd;
	height: 22px;
	padding: 0 1em;
	border-radius: 3px;
	width: 100%;
	color: #5b5a5b;
	background: #fff;
}
.regular-input.num {
	width: 15%;
	padding: 0 2px;
    text-align: center;
}

.regular-select.day, .regular-select.month {
	width: 20%;
	padding: 0;
	text-indent: 5px;
}

.regular-select.year {
	width: 52%;
	padding: 0;
	text-indent: 30px;
}

.regular-select.beneficiary.day, .regular-select.beneficiary.month {
	width: 27%;
}

.regular-select.beneficiary.year {
	width: 39%;
}

.regular-select.select {
	width: 30%;
}

.valor-prima {
	font-size: 1rem;
	color: #333333;
}

.box-datos-persona .datos-persona-item {
	width: 36%;
	font-family: 'frutiger_regular';
	color: #5B595B;
	font-size: 0.9rem;
	padding: 3px 0 !important;
}

.box-datos-persona .datos-persona-inputs {
	width: 64%;
	font-family: 'frutiger_regular';
	color: #333;
	padding: 3px 0 !important;
}
.box-datos-persona .texto-valor {
	font-family: 'frutiger_regular';
	color: #333;
	font-size: 0.9rem;
}
.pregunta-seguro {
	font-family: 'frutiger_regular';
	color:#333333;
	margin: 6px 0 12px 0;
	font-size: 1.2rem;
}

.pL30 {
	padding:0 20px 0 30px !important;
}

.box-opcion-seguro {
	margin-bottom: 8px;
}

.box-opcion-seguro label {
	font-size: 0.9rem;
	color: #333;
	margin-right: 15px;
	font-family: 'frutiger_regular';
}
.box-opcion-seguro label input {
	margin-right: 5px;
}

sup.red {
	color: #EB0000;
}

.box-asegurados span {
	vertical-align: middle;
	display: inline-block;
	cursor: pointer;
	color: #313131;
	border: 1px solid #ddd;
	border-radius: 3px;
	background: #fff;
	text-align: center;
	font-family: Arial;
	font-size: 30px;
	width: 23px;
	height: 23px;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZGVkZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#ededed 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-8 */

}
.box-asegurados span.mas-asegurados {
	font-size: 22px;
}

.box-asegurados .cantidad-asegurados {
	width: 25px;
	height: 25px;
	text-align: center;
	border: 1px solid #ddd;
    padding:2px;
    border-radius: 3px;
    background: #fff;
        vertical-align: middle;
}

.legal-form {
	line-height: 11px;
	font-size: 11px;
	color: #444;
	/*color: #646464;*/
	font-family: Arial, Helvetica, sans-serif;
}
.box-btn-right {
	text-align: right;
}
.btn-continuar {
	height: 36px;
	line-height: 36px;
	display: inline-block;
	width: 165px;
	text-align: center;
	background: #ec0000;
	color: #fff;
	padding: 0 10px;
	border-radius: 3px;
	margin: 10px auto;
	-webkit-box-shadow: 0 3px 0 0 #900;
	box-shadow: 0 3px 0 0 #900;
	font-weight: 400;
	font-family: 'frutiger_light';
	font-size: 1rem;
	border:0;
}

.own-carousel-menu .item {
	border-top:1px solid #15B3BB;
	border-bottom:1px solid #15B3BB;
	border-right: 1px solid #15B3BB;
	border-left: 0px solid #15B3BB;
}
.own-carousel-menu .owl-item:first-child .item {
	border-left: 1px solid #15B3BB;
}

.own-carousel-menu .menu-item-plan {
	display: block;
	color: #15B3BB;
	text-decoration: none;
	text-align: center;
	padding: 15px 20px;
	cursor: pointer;
}
.own-carousel-menu .menu-item-plan.active {
	background: #15B3BB;
	color: white;
}

.own-carousel-menu .menu-item-plan p {
	margin: 0;
	font-size: 1rem;
	font-family: 'frutiger_light';
	letter-spacing: -1px;
}
.own-carousel-menu .menu-item-plan .prima {
	font-size: 0.8rem;
	font-family: 'frutiger_regular';
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next {
    background: url('../img/icons/icon-prev.png') no-repeat 50% 50% #333;
    width: 28px;
    height: 36px;
    position: absolute;
    left:0px;
    top: 50%;
    margin-top: -18px;
    border-radius: 0 3px 3px 0;
    text-indent: -999px;
    overflow: hidden;
}
.owl-carousel .owl-controls .owl-nav .owl-next {
    left: inherit;
    right: 0;
    background: url('../img/icons/icon-next.png') no-repeat 50% 50% #333;
    border-radius: 3px 0 0 3px;
}

.info-plan {
	display: none;
}

.info-plan.active {
	display: block;
}
.only-mobile {
	display: none;
}

.error {
	position: relative;
}

.error input {
    border-color: #e9e9e9;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 6px rgb(255, 0, 0);
    outline: 0 none;
}

.icon-x  {
	display: none;
}

.error .icon-x {
	width: 15px;
	height: 15px;
	position: absolute;
	top: 8px;
	right: -20px;
	background: url(../img/icons/error-rojo.png) top left no-repeat;
	display: block;
}

input.si,
input.no {
	cursor: pointer;
}

/* PASO PLAN 1 */

.own-carousel-menu-plan .item {
	border: 1px solid #15B3BB;
	min-width: 200px;
}


.own-carousel-menu-plan .menu-item-plan {
	display: block;
	color: #15B3BB;
	text-decoration: none;
	text-align: center;
	padding: 15px 20px;
	cursor: pointer;
}
.own-carousel-menu-plan .menu-item-plan.active {
	background: #15B3BB;
	color: white;
}

.own-carousel-menu-plan .menu-item-plan p {
	margin: 0;
	font-size: 1rem;
	font-family: 'frutiger_light';
	letter-spacing: -1px;
}
.own-carousel-menu-plan .menu-item-plan p strong {
	font-family: 'frutiger_bold';
}
.own-carousel-menu-plan .menu-item-plan .prima {
	font-size: 0.8rem;
	font-family: 'frutiger_regular';
}

input.cant-asegurados {
	height: 20px;
	width: 20px;
	vertical-align: middle;
	margin: 0 15px 3px 0;
	border: 1px solid #DDDDDD;
	background:#fff;
	-webkit-appearance: none;
	-moz-appearance:none;
	appearance: none;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
}
input.cant-asegurados:checked {
	background:#17CAFF url(../img/check-radio.png) 50% 50% no-repeat;
	background-size: 80%;
}

input.checkred:checked {
	background: url(../img/checkred.png) 50% 50% no-repeat;
	height: 20px;
	width: 20px;
	vertical-align: middle;
	margin: 0 15px 3px 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border-radius: 3px;
}

.box-calendario {
	border-top:1px solid #d8d8d8;
	padding-top: 20px;
}

.box-calendario .tit-datepicker {
	color: #5B595B;
	font-family: 'frutiger_regular';
	font-size: 0.9rem;
	display: block;
	margin-bottom: 3px;
}

.box-calendario .datepicker {
	padding-left: 25px;
	background-image: url(../img/icons/calendar.png);
	background-position: 5px 2px;
	background-repeat: no-repeat;
	border: 1px solid #DDDDDD;
	height: 24px;
	border-radius: 3px;

}

.box-calendario .datepick {
	padding-left: 18px;
	background-position: 5px 2px;
	background-repeat: no-repeat;
	border: 1px solid #DDDDDD;
	height: 24px;
	border-radius: 3px;
	border: 1px;
	margin: 2px 0px 0px 0px;
}

.box-certificado p {
	font-family: 'frutiger_regular';
	color: #333333;
	font-size: 1rem;
}
.box-certificado label {
	font-family: 'frutiger_regular';
	color: #333333;
	font-size: 0.9rem;
	margin-right: 10px;
	cursor: pointer;
}
.box-certificado label input {
	margin-right: 1px;
}

.text-bold {
	font-weight: bold;
}

.help-phone:hover{
	background: #999;
}

.help-phone{
	cursor: pointer;
	float: right;
    background: #000;
    width: 20px;
    /* height: 10px; */
    /* font-size: 12px; */
    border-radius: 10px;
    color: #aaa;
    text-align: center;
	font-weight: bold;
}


.notice {
	border-radius: 3px;
	padding:5px;
	font-size: 12px;
	margin-top:15px;
	margin-bottom: 15px;
}

.notice.notice-information {
	background:#ddf4f5;
}

.notice .flex {
	display: flex;
}

.notice .pl-3{
	padding-left: 1rem;
}

.notice .icon {
	width: 25px;
	height: 25px;
	display: block;
}

.notice .icon.icon-info  {
	background:url('../img/icons/icon-info.png') no-repeat;
}
.notice .align-self-center {
	align-self: center;
}

@media (max-width: 600px){
	.cont-carga {
		width: 100%;
		float: none;
		margin-right: 0 0 20px 0;
	}
	.cont-box-actividad .text-actividad {
		margin-bottom: 10px;
	}
	.cont-box-actividad .text-actividad,
	.cont-box-actividad .select-actividad {
		width: 100%;
		padding-right: 0;
	}
	.check-mobile {
		height: 30px;
		width: 30px;
		vertical-align: middle;
		margin: 0 0.4em 0.4em 0;
		border: 1px solid #DDDDDD;
		background:#fff;
		-webkit-appearance: none;
		-moz-appearance:none;
		appearance: none;
		outline: none;
		border-radius: 3px;
		cursor: pointer;
	}
	.check-mobile:checked {
		background:#17CAFF url(../img/check-radio.png) 50% 50% no-repeat;
	}
	.block-mobile {
		display: block;
		margin-bottom: 5px;
	}
	.hide-on-mobile {
		display: none;
	}

	.bkg-gray h4{
		margin-top: 15px
	}
	ul.steps:after{
		left: 15%;
		right: 15%;
	}
	.pL30 {
		padding: 10px !important;
	}
	.valor-prima strong {
		display: block;
	}

}

@media (max-width: 360px){

	.box-datos-persona .datos-persona-item,
	.box-datos-persona .datos-persona-inputs
	{
		width: 100%;
		display: block;
	}
	.box-btn-right {
		text-align: center;
	}
	.btn-continuar {
		width: 228px;
	}
	.regular-input,
	.regular-select {
		height:38px;
	}
	.regular-select {
		background-image: url(../img/bkg/barra-select.png);
		background-position: 100% 50%;
		background-repeat: no-repeat;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.box-aumento {
		text-align: center;
		margin-bottom: 20px;
	}
	.box-aumento .texto {
		display: block;
		margin-bottom: 10px;
	}
	.btn-volver-declaracion {
		margin-right: 0;
	}
	.regular-input.w60p {
		width: 100%;
	}

	.box-coberturas .myrow {
		display: block;
		margin-bottom: 5px;
	}
	.box-coberturas .cobertura-item.titulo {
		margin-bottom: 10px;
	}
	.box-coberturas .cobertura-valor.titulo {
		display: none;
	}
	.box-coberturas .cobertura-item {
		border-bottom: 0;
		padding: 0 !important;
	}
	.box-coberturas .cobertura-item,
	.box-coberturas .cobertura-valor,
	.box-datos-persona .datos-persona-item,
	.box-datos-persona .datos-persona-inputs
	{
		width: 100%;
		display: block;
	}
	.box-coberturas .cobertura-valor {
		text-align: left;
	}
	.regular-input,
	.regular-select {
		height:38px;
	}
	.box-btn-right {
		text-align: center;
	}
	.btn-continuar {
		width: 228px;
	}
	.bkg-gray {
		padding: 10px !important;
	}

	.mytable.cellpadding .mytd.box-asegurados {
		display: block;
		width: 100%;
		text-align: center;
	}
	.block-mobile {
		width: 100% !important;
		display: block;
	}
	.only-desktop {
		display: none;
	}
	.only-mobile {
		display: block;
	}
	input.si,
	input.no,
	input.cant-asegurados {
		height: 30px;
		width: 30px;
		vertical-align: middle;
		margin: 0 0.4em 0.4em 0;
		border: 1px solid #DDDDDD;
		background:#fff;
		-webkit-appearance: none;
		-moz-appearance:none;
		appearance: none;
		outline: none;
		border-radius: 3px;
	}
	input.si:checked,
	input.no:checked,
	input.cant-asegurados:checked {
		background:#17CAFF url(../img/check-radio.png) 50% 50% no-repeat;
	}

	.owl-carousel .owl-item {
		min-width: 210px;
	}

	.regular-select {
		background-image: url(../img/bkg/barra-select.png);
		background-position: 100% 50%;
		background-repeat: no-repeat;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.box-calendario .myrow .mytd {
		width: 100%;
		display: block;
		margin-bottom: 5px;
	}
	.box-calendario .datepicker {
		height: 38px;
	    background-position: 5px 10px;
	    width: 100%;
	}
	.box-calendario .datepick {
		height: 38px;
	    background-position: 5px 10px;
	    width: 100%;
	}

}
