@import url('simulador.css');

#fam-info{
  display: none;
}
.combo-box{
  border: 1px solid #dadada;
  border-radius: 3px;
  height: 46px;
  padding: 0;
  position: relative;
  background: #fff;
  margin: 20px 0;
  position: relative;
  display: none;
}
.combo-box .option{
  line-height: 46px;
  padding: 0 0 0 30px;
  cursor: pointer;
}
.combo-box:after{
  content: '';
  position: absolute;
  border: 4px solid transparent;
  border-top-color: #e60000;
  right: 20px;
  top: 49%;
}

ul.icons-buttons{
  margin: 0;
  position: absolute;
  border: 1px solid #dadada;
  left: -1px;
  right: -1px;
  background: #fff;
  z-index: 999;
  top: 98%;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
  display: none;
}
ul.icons-buttons li,
.combo-box .option{
  display: block;
  float: none;
}
ul.icons-buttons li{
  height: 46px;
  line-height: 46px;
  width: 100%;
  border-bottom: 1px solid #dadada;
}
ul.icons-buttons li:last-child{
  border-bottom: none;
}
ul.icons-buttons li a{
  text-align: left;
  height: 46px;
  line-height: 46px;
  padding: 0 20px;
}
.combo-box .option img,
.combo-box .option span,
ul.icons-buttons li a img,
ul.icons-buttons li a span{
  float: left;
}
.combo-box .option img,
ul.icons-buttons li a img{
  width: 34px;
  height: auto;
  margin: 9px 0
}
.combo-box .option span,
ul.icons-buttons li a span{
  margin: 0 0 0 10px;
  height: 46px;
  line-height: 46px;
  font-size: 0.85em;
}
ul.icons-buttons li a:hover{
  background: #f4f4f4;
}
.combo-box .option span{
  font-weight: 400;
  font-size: 0.92em;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  text-transform: uppercase;
}
.slider-nav .item-own{
  margin-bottom: 10px;
}
.slider-nav .item-own .header-own {
  padding: 10px 30px;
  font-size: 0.9rem;
  color: #fff;
  position: relative;
}
.slider-nav .item-own .header-own:after{
  content: '+';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 10px;
  top: 50%;
  margin: -15px 0 0 0;
  line-height: 30px;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.slider-nav .item-own.active .header-own:after{
  content: '-';
  line-height: 25px;
}
.slider-nav .item-own .header-own h6 {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0;
}
.slider-nav .item-own .header-own p {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  font-weight: 300;
}
.slider-nav .slick-track {
  padding: 10px 20px;
  background: #f8f8f8;
  font-size: 0.85rem;
  border: 1px solid #ededed;
  border-top: none;
  display: none;
}

.slider-nav.auto .item-own .header-own{
  cursor: pointer;
}
.slider-nav.auto .item-own .header-own,
.slider-nav.auto .item-own .header-own h6{
  color: #9e3768;
}
.slider-nav.auto .item-own .header-own {
  border: 1px solid #9e3768;
}
.slider-nav.auto .item-own.active .header-own,
.slider-nav.auto .item-own.active .header-own h6 {
  color: #fff;
}
.slider-nav.auto .item-own.active .header-own,
.slider-nav.auto .item-own .header-own:after{
  background: #9e3768;
}
.slider-nav.auto .item-own.active .header-own:after{
  color: #9e3768;
  background: #fff;
}

.slider-nav.hogar .item-own .header-own,
.slider-nav.hogar .item-own .header-own h6{
  color: #e69d25;
}
.slider-nav.hogar .item-own .header-own {
  border: 1px solid #e69d25;
}
.slider-nav.hogar .item-own.active .header-own,
.slider-nav.hogar .item-own.active .header-own h6 {
  color: #fff;
}
.slider-nav.hogar .item-own.active .header-own,
.slider-nav.hogar .item-own .header-own:after{
  background: #e69d25;
}
.slider-nav.hogar .item-own.active .header-own:after{
  color: #e69d25;
  background: #fff;
}

.slider-nav.vida .item-own .header-own,
.slider-nav.vida .item-own .header-own h6{
  color: #e21125;
}
.slider-nav.vida .item-own .header-own {
  border: 1px solid #e21125;
}
.slider-nav.vida .item-own.active .header-own,
.slider-nav.vida .item-own.active .header-own h6 {
  color: #fff;
}
.slider-nav.vida .item-own.active .header-own,
.slider-nav.vida .item-own .header-own:after{
  background: #e21125;
}
.slider-nav.vida .item-own.active .header-own:after{
  color: #e21125;
  background: #fff;
}

.slider-nav.salud .item-own .header-own,
.slider-nav.salud .item-own .header-own h6{
  color: #15b3bb;
}
.slider-nav.salud .item-own .header-own {
  border: 1px solid #15b3bb;
}
.slider-nav.salud .item-own.active .header-own,
.slider-nav.salud .item-own.active .header-own h6 {
  color: #fff;
}
.slider-nav.salud .item-own.active .header-own,
.slider-nav.salud .item-own .header-own:after{
  background: #15b3bb;
}
.slider-nav.salud .item-own.active .header-own:after{
  color: #15b3bb;
  background: #fff;
}

.slider-nav.productos-bancarios .item-own .header-own,
.slider-nav.productos-bancarios .item-own .header-own h6{
  color: #97999a;
}
.slider-nav.productos-bancarios .item-own .header-own {
  border: 1px solid #97999a;
}
.slider-nav.productos-bancarios .item-own.active .header-own,
.slider-nav.productos-bancarios .item-own.active .header-own h6 {
  color: #fff;
}
.slider-nav.productos-bancarios .item-own.active .header-own,
.slider-nav.productos-bancarios .item-own .header-own:after{
  background: #97999a;
}
.slider-nav.productos-bancarios .item-own.active .header-own:after{
  color: #97999a;
  background: #fff;
}


.slider-nav.viajes .item-own .header-own,
.slider-nav.viajes .item-own .header-own h6{
  color: #a9c338;
}
.slider-nav.viajes .item-own .header-own {
  border: 1px solid #a9c338;
}
.slider-nav.viajes .item-own.active .header-own,
.slider-nav.viajes .item-own.active .header-own h6 {
  color: #fff;
}
.slider-nav.viajes .item-own.active .header-own,
.slider-nav.viajes .item-own .header-own:after{
  background: #a9c338;
}
.slider-nav.viajes .item-own.active .header-own:after{
  color: #a9c338;
  background: #fff;
}
.slick-prev {
  /*my style*/
  background: url(my-image.png);
}
.slick-next {
  /*my style*/
  background: url(my-image.png);
}

.own-carousel .item-own{
  margin-bottom: 10px;
}
.own-carousel .item-own .header-own {
  padding: 10px 30px;
  font-size: 0.9rem;
  color: #fff;
  position: relative;
}
.own-carousel .item-own .header-own:after{
  content: '+';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  right: 10px;
  top: 50%;
  margin: -15px 0 0 0;
  line-height: 30px;
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
.own-carousel .item-own.active .header-own:after{
  content: '-';
  line-height: 25px;
}
.own-carousel .item-own .header-own h6 {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0;
}
.own-carousel .item-own .header-own p {
  margin: 0;
  padding: 0;
  font-size: 0.9em;
  font-weight: 300;
}
.own-carousel .content-own {
  padding: 10px 20px;
  background: #f8f8f8;
  font-size: 0.85rem;
  border: 1px solid #ededed;
  border-top: none;
  display: none;
}

.own-carousel.auto .item-own .header-own{
  cursor: pointer;
}
.own-carousel.auto .item-own .header-own,
.own-carousel.auto .item-own .header-own h6{
  color: #9e3768 !important;
}
.own-carousel.auto .item-own .header-own {
  border: 1px solid #9e3768;
}
.own-carousel.auto .item-own.active .header-own,
.own-carousel.auto .item-own.active .header-own h6 {
  color: #fff;
}
.own-carousel.auto .item-own.active .header-own,
.own-carousel.auto .item-own .header-own:after{
  background: #9e3768;
}
.own-carousel.auto .item-own.active .header-own:after{
  color: #9e3768;
  background: #fff;
}

.own-carousel.hogar .item-own .header-own,
.own-carousel.hogar .item-own .header-own h6{
  color: #e69d25 !important;
}
.own-carousel.hogar .item-own .header-own {
  border: 1px solid #e69d25;
}
.own-carousel.hogar .item-own.active .header-own,
.own-carousel.hogar .item-own.active .header-own h6 {
  color: #fff;
}
.own-carousel.hogar .item-own.active .header-own,
.own-carousel.hogar .item-own .header-own:after{
  background: #e69d25;
}
.own-carousel.hogar .item-own.active .header-own:after{
  color: #e69d25;
  background: #fff;
}

.own-carousel.vida .item-own .header-own,
.own-carousel.vida .item-own .header-own h6{
  color: #e21125 !important;
}
.own-carousel.vida .item-own .header-own {
  border: 1px solid #e21125;
}
.own-carousel.vida .item-own.active .header-own,
.own-carousel.vida .item-own.active .header-own h6 {
  color: #fff;
}
.own-carousel.vida .item-own.active .header-own,
.own-carousel.vida .item-own .header-own:after{
  background: #e21125;
}
.own-carousel.vida .item-own.active .header-own:after{
  color: #e21125;
  background: #fff;
}

.own-carousel.salud .item-own .header-own,
.own-carousel.salud .item-own .header-own h6{
  color: #15b3bb !important;
}
.own-carousel.salud .item-own .header-own {
  border: 1px solid #15b3bb;
}
.own-carousel.salud .item-own.active .header-own,
.own-carousel.salud .item-own.active .header-own h6 {
  color: #fff;
}
.own-carousel.salud .item-own.active .header-own,
.own-carousel.salud .item-own .header-own:after{
  background: #15b3bb;
}
.own-carousel.salud .item-own.active .header-own:after{
  color: #15b3bb;
  background: #fff;
}

.own-carousel.productos-bancarios .item-own .header-own,
.own-carousel.productos-bancarios .item-own .header-own h6{
  color: #97999a !important;
}
.own-carousel.productos-bancarios .item-own .header-own {
  border: 1px solid #97999a;
}
.own-carousel.productos-bancarios .item-own.active .header-own,
.own-carousel.productos-bancarios .item-own.active .header-own h6 {
  color: #fff;
}
.own-carousel.productos-bancarios .item-own.active .header-own,
.own-carousel.productos-bancarios .item-own .header-own:after{
  background: #97999a;
}
.own-carousel.productos-bancarios .item-own.active .header-own:after{
  color: #97999a;
  background: #fff;
}


.own-carousel.viajes .item-own .header-own,
.own-carousel.viajes .item-own .header-own h6{
  color: #a9c338 !important;
}
.own-carousel.viajes .item-own .header-own {
  border: 1px solid #a9c338;
}
.own-carousel.viajes .item-own.active .header-own,
.own-carousel.viajes .item-own.active .header-own h6 {
  color: #fff;
}
.own-carousel.viajes .item-own.active .header-own,
.own-carousel.viajes .item-own .header-own:after{
  background: #a9c338;
}
.own-carousel.viajes .item-own.active .header-own:after{
  color: #a9c338;
  background: #fff;
}
