/*Frutiger Light*/
@font-face {
    font-family: 'frutiger_light';
    src: url('font/frutiger_lt_45_light-webfont.eot');
    src: url('font/frutiger_lt_45_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/frutiger_lt_45_light-webfont.woff2') format('woff2'),
         url('font/frutiger_lt_45_light-webfont.woff') format('woff'),
         url('font/frutiger_lt_45_light-webfont.ttf') format('truetype'),
         url('font/frutiger_lt_45_light-webfont.svg#frutiger_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
} 

/*Frutiger Light Italic*/
@font-face {
    font-family: 'frutiger_light_italic';
    src: url('font/frutiger_lt_46_light_italic-webfont.eot');
    src: url('font/frutiger_lt_46_light_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/frutiger_lt_46_light_italic-webfont.woff2') format('woff2'),
         url('font/frutiger_lt_46_light_italic-webfont.woff') format('woff'),
         url('font/frutiger_lt_46_light_italic-webfont.ttf') format('truetype'),
         url('font/frutiger_lt_46_light_italic-webfont.svg#frutiger_ltlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
} 

/*Frutiger Regular*/
@font-face {
    font-family: 'frutiger_regular';
    src: url('font/frutiger_lt_57_condensed-webfont.eot');
    src: url('font/frutiger_lt_57_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/frutiger_lt_57_condensed-webfont.woff2') format('woff2'),
         url('font/frutiger_lt_57_condensed-webfont.woff') format('woff'),
         url('font/frutiger_lt_57_condensed-webfont.ttf') format('truetype'),
         url('font/frutiger_lt_57_condensed-webfont.svg#frutiger_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
/*Frutiger Regular Italic*/
@font-face {
    font-family: 'frutiger_regular_italic';
    src: url('font/frutiger_lt_56_italic-webfont.eot');
    src: url('font/frutiger_lt_56_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/frutiger_lt_56_italic-webfont.woff2') format('woff2'),
         url('font/frutiger_lt_56_italic-webfont.woff') format('woff'),
         url('font/frutiger_lt_56_italic-webfont.ttf') format('truetype'),
         url('font/frutiger_lt_56_italic-webfont.svg#frutiger_ltroman_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
/*Frutiger Bold*/
@font-face {
    font-family: 'frutiger_bold';
    src: url('font/frutiger_lt_67_bold_condensed-webfont.eot');
    src: url('font/frutiger_lt_67_bold_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/frutiger_lt_67_bold_condensed-webfont.woff2') format('woff2'),
         url('font/frutiger_lt_67_bold_condensed-webfont.woff') format('woff'),
         url('font/frutiger_lt_67_bold_condensed-webfont.ttf') format('truetype'),
         url('font/frutiger_lt_67_bold_condensed-webfont.svg#frutiger_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Frutiger Bold Italic*/
@font-face {
    font-family: 'frutiger_bold_italic';
    src: url('font/frutiger_lt_66_bold_italic-webfont.eot');
    src: url('font/frutiger_lt_66_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/frutiger_lt_66_bold_italic-webfont.woff2') format('woff2'),
         url('font/frutiger_lt_66_bold_italic-webfont.woff') format('woff'),
         url('font/frutiger_lt_66_bold_italic-webfont.ttf') format('truetype'),
         url('font/frutiger_lt_66_bold_italic-webfont.svg#frutiger_ltbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
/*Frutiger Black*/
@font-face {
    font-family: 'frutiger_black';
    src: url('font/frutiger_lt_77_black_condensed-webfont.eot');
    src: url('font/frutiger_lt_77_black_condensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/frutiger_lt_77_black_condensed-webfont.woff2') format('woff2'),
         url('font/frutiger_lt_77_black_condensed-webfont.woff') format('woff'),
         url('font/frutiger_lt_77_black_condensed-webfont.ttf') format('truetype'),
         url('font/frutiger_lt_77_black_condensed-webfont.svg#frutiger_ltbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
/*Frutiger Black Italic*/
@font-face {
    font-family: 'frutiger_black_italic';
    src: url('font/frutiger_lt_76_black_italic-webfont.eot');
    src: url('font/frutiger_lt_76_black_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/frutiger_lt_76_black_italic-webfont.woff2') format('woff2'),
         url('font/frutiger_lt_76_black_italic-webfont.woff') format('woff'),
         url('font/frutiger_lt_76_black_italic-webfont.ttf') format('truetype'),
         url('font/frutiger_lt_76_black_italic-webfont.svg#frutiger_ltblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
} 