@charset "UTF-8";
/* fuentes */
@import url(opensans.css);
@import url(opensanscondensed.css);

@import url("normalize.css");
/* normalizador */
input:focus { outline: none !important; border: 1px solid #999; box-shadow: 0 0 10px #999; }

body { background: #fff; font: normal 15px/20px Arial, sans-serif; /* según manual normas gráficas */ color: #5b5a5b; margin: 0; }

h1, h2, h3, h4, h5, h6 { font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; margin: 0; padding: 0; color: #000; letter-spacing: -0.05rem; line-height: normal; }

h1 { font-size: 1.9rem; }

h2 { font-size: 1.75rem; }

h3 { font-size: 1.6rem; }

h4 { font-size: 1.45rem; }

h5 { font-size: 1.3rem; }

h6 { font-size: 1.15rem; }

* { box-sizing: border-box; }

a, a:hover, a:focus { text-decoration: none; outline: 0; }

.container { max-width: 850px; margin: 0 auto; padding: 0 10px; min-width: 800px;}

.row { margin: 0 -10px; }

.row:after, .row:before { content: ''; display: table; clear: both; }

.container [class*="col"] { float: left; padding: 0 10px; position: relative; }

.col-12 { width: 100%; float: none !important; clear: both; }

.col-11 { width: 91.6663%; }

.col-10 { width: 83.3333%; }

.col-9 { width: 74.9997%; }

.col-8 { width: 66.6664%; }

.col-7 { width: 58.3331%; }

.col-6 { width: 50%; }

.col-5 { width: 41.6665%; }

.col-4 { width: 33.3332%; }

.col-3 { width: 24.9999%; }

.col-2 { width: 16.6666%; }

.col-1 { width: 8.3333%; }

.text-red { color: #EE0000; }

/* buttons */
a.button-solicitar { height: 36px; line-height: 36px; display: block; max-width: 300px; text-align: center; background: #ec0000; color: #fff; padding: 0 10px; border-radius: 3px; margin: 10px auto; box-shadow: 0 3px 0 0 #900; font-weight: 400; font-family: 'Open Sans', sans-serif; font-size: 1rem; }

a.button-solicitar.black { background: #333; box-shadow: 0 3px 0 0 #0C0C0C; }

a.more { text-decoration: underline; color: #5b5a5b; display: block; text-align: center; margin: 10px; }

a.more.inline { display: inline; }

a.more.inline-block, a.button-solicitar.inline-block { display: inline-block; }

a.button-solicitar.inline-block { padding: 0 30px; }

a.more.less { font-size: 0.8em; }

a.button-solicitar.s2 { background: #6d6d6d; box-shadow: 0 3px 0 0 #444; }

a.button-solicitar.s3 { background: #edba67; box-shadow: 0 3px 0 0 #e59d27; }

.overflow { overflow-x: hidden; overflow-y: auto; margin: 10px 0 20px 0; background: #fff; padding: 5px 10px; border: 1px solid #ededed; font-size: 0.9em; }

.overflow::-webkit-scrollbar { width: .75em; background: #fff; }

.overflow::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3); }

.overflow::-webkit-scrollbar-thumb { background-color: #5b5a5b; outline: 0; border-radius: 0.2em; }

.bkg-denuncia { background: url("../img/icons/icon-excl-white.png") no-repeat 0 50% #ec0000; padding: 10px 20px 10px 37px; color: #fff; font-size: 0.8em; }

.bkg-denuncia span { display: block; text-transform: uppercase; }

.bkg-denuncia p { margin: 0; line-height: normal; }

.form-control { border: 1px solid #ddd; height: 32px; padding: 0 1em; border-radius: 3px; width: 100%; color: #5b5a5b; background: #fff; }

.form-control[type="checkbox"], .form-control[type="radio"] { width: auto; height: auto; }

.mytable.cellpadding .mytd { padding: 6px 0; }

/* banner */
.bkg-banner-simulador { padding: 1px 10px !important; position: relative; }

.bkg-banner-simulador img.banner { width: 100%; height: auto; }

.imageSubtitle { margin: 0 auto; max-width: 350px; padding: 20px; /*text-align: center;*/ position: absolute; top: 0; left: 0; }

h2.black { color: black; text-decoration: underline; font-size: 2em; }

h3.red { color: red; font-size: 1.5em; }

.cornersHome { margin: 0 auto; max-width: 350px; padding: 20px; text-align: center; position: absolute; top: 0; left: 0; }

.cornersHomelt { left: 0; top: 0; }

.cornersHomelb { left: 350; bottom: 0; }

.cornersHomert { right: 0; top: 0; }

.cornersHomerb { right: 0; bottom: 0; }

.corners { margin: 0 auto; max-width: 350px; padding: 20px; text-align: center; position: absolute; top: 35px; left: 60%; }

.corners h1 { text-transform: uppercase; line-height: 1.2em; }

.corners .bajada { font: normal 300 0.8rem "Open Sans", sans-serif; }

.corners .bajada.out { position: absolute; left: 0; right: 0; top: 100%; }

.corners .bajada .red { font-weight: 600; color: #ec0000; }

.corners .corner { position: absolute; width: 25px; height: 25px; }

.corners .corner.lt { left: 0; top: 0; }

.corners .corner.lb { left: 0; bottom: 0; }

.corners .corner.rt { right: 0; top: 0; }

.corners .corner.rb { right: 0; bottom: 0; }

.title {margin: 20px 0 0 0;}

.title h1 {font-weight: 300;letter-spacing: -0.02em;font-size: 1.6em;margin: 0;padding: 10px 0;line-height: 22px;}

.title h1.titulo {font-size: 2em; font-family: 'frutiger_regular'; color: #333333;}

.title h1.seguros { text-transform: uppercase; font-weight: 700; }

.title .icon { padding: 0 5px 0 0; }

.title .icon, .title .icon img {width: 66px;}

.title-less {margin: 0px 0;font: normal 600 1em "Open Sans Condensed", sans-serif;padding: 0 0 0 15px;position: relative;}

/*.title-less:after{ content: '>'; display: block; position: absolute; left: 0; top: 0; color: #e79d25; }*/
/* helpers */
.h110 { height: 110px; }

.h90 { height: 90px; }

.clearfix { clear: both; }

.fRight { float: right !important; }

.mytable { display: table; width: 100%; }

.myrow { display: table-row; }

.mytd {display: table-cell;vertical-align: middle;}

.bkg-gray-footer { background: #ececed; }

.mytd.bkg-gray-footer p { margin: 0; line-height: normal; }

.mytd.bkg-gray-footer { padding: 10px; font-size: 0.8em; }

.borderLgray { border-left: 1px solid #6f7072; }

.text-center { text-align: center; }

.hidden { display: none; }

.mt10 { margin-top: 10px; }

.mt20 { margin-top: 20px; }

.p010 { padding: 0 10px; }

.p020 { padding: 0 20px; }

.text-lg-right { text-align: left; }

.icon-and-text { font: normal 400 0.7rem "Open Sans", sans-serif; text-transform: uppercase; }

.icon-and-text a { color: #5b5a5b; }

.icon-and-text span, .icon-and-text p { float: left; }

.icon-and-text p { margin: 0 0 0 5px; }

.icon-and-text p span { float: none; display: block; }

.mas-info { font: normal 700 0.7rem "Open Sans", sans-serif; text-transform: uppercase; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.hidden-lg { display: none; }

.show-lg { display: block; }

hr { border: none; clear: both; margin: 0 10px; height: 0; position: relative; padding: 20px 0; }

hr:after { content: ''; position: absolute; left: 0; right: 0; top: 49.8%; border-top: 1px solid #d9d9d9; }

.pT30 { padding-top: 30px; }

.pT40 { padding-top: 40px; }

.text-black { color: #000; }

p.small { font-size: 0.75em; line-height: normal; clear: both; }

.marketing-text { font-weight: bold; }

html .btn-llamar { background-color: #e49d1b; box-shadow: 0 3px 0 0 #966712; }

html .btn-llamar:active { box-shadow: 0 3px 0 0 #e49d1b !important; }


html .button-solicitar:active { box-shadow: 0 3px 0 0 #ec0000; }

/* carousel */
html .owl-carousel .own-carousel .item-own { height: 440px; border-right: 0 none; border-left: 0 none !important; }

html .owl-carousel .own-carousel .item-own .header-own { min-height: 110px; }

html .owl-carousel .own-carousel .content-own { background-color: transparent; }

html .owl-carousel .owl-stage.dos { display: table; }

html .owl-carousel .owl-stage .owl-item + .owl-item:before { content: ''; width: 1px; height: 100%; background-color: #dadada; position: absolute; top: 0; left: 0; }


/**/
html .own-carousel.hogar .owl-stage{ 
  display: table;
  margin: auto;
  justify-content: center;
  width: auto!important;
}

.own-carousel.hogar .owl-item,
.owl-stage.dos .owl-item {
  width: 275px!important;
}


#mensajeespera {position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: rgba(255, 255, 255, 0.45); }
#mensajeespera .marco1 {width: 50%; margin: 0 auto; max-width: 400px; height: 100%; position: relative; }
#mensajeespera .marco2 {position: absolute; top: 50%; border: 1px solid red; width: 100%; text-align: center; padding: 24px; background: white; color: red; margin-top: -65px; }
#mensajeespera .mensaje {font-size: 13px; font-weight: bold; }

button.button-asesor { border-color: red; height: 36px; line-height: 36px; display: block; max-width: 300px; text-align: center; background: #ec0000; color: #fff; padding: 0 10px; border-radius: 3px; margin: 10px auto; box-shadow: 0 3px 0 0 #900; font-weight: 400; font-family: 'Open Sans', sans-serif; font-size: 1rem; }

/*# sourceMappingURL=main.css.map */

.myrow.onlyBack {
    display: block;
}

.myrow.onlyBack  .mytd{
    width: 100%;
    display: block;
}

.myrow.onlyBack  .mytd .btnBack{
    width: 100%;
    margin-top: 0;
}