@import url('main.css');

.title h1{
	font-weight: 300;
	letter-spacing: -0.02em;
	font-size: 1.6em;
}
.title h1 img {
  margin: 0 5px -23px 0;
  width: 76px;
}
ul.steps{
	margin: 20px 0;
	padding: 0;
	list-style: none;
	display: table;
	position: relative;
	width: 100%;
}
ul.steps:after{
	content: '';
	height: 6px;
	background: #e2e2e2;
	position: absolute;
	top: 50%;
	margin-top: -3px;
	left: 20px;
	right: 20px;
}
ul.steps li{
	display: table-cell;
	padding: 0 10px;
	position: relative;
	z-index: 2;
	text-align: center;
	vertical-align: middle;
}
ul.steps li.active:after{
	content: '';
	height: 6px;
	background: #676767;
	position: absolute;
	top: 50%;
	margin-top: -3px;
	width: 50%;
	left: 50%;
	z-index: 0;
	border-radius: 3px;
}
ul.steps li span{
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #e2e2e2;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.6em;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
	position: relative;
	z-index: 10;
}
ul.steps li.active span{
	background: #676767;
	color: #e2e2e2;
}
ul.steps li.active:nth-child(2):after{
	width: 110%;
	left: -10%;
}
ul.steps li.active:nth-child(3):after{
	width: 50%;
	left: -10%;
}
.header-paso{
	padding: 12px 20px;
	background: #15b3bb;
	color: #fff;
}
.header-paso:after,
.header-paso:before,
.bkg-gray:after,
.bkg-gray:before{
	content: '';
	display: table;
	clear: both;
}
.header-paso .img-header{
	width: 45px;
}
.header-paso h2{
	font-weight: 300;
	font-size: 1.5em;
	color: #fff;
}
.header-paso h2 span{
	font-weight: 700;
}
.header-paso p{
	color: #fff;
	margin: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.1em;
}
.bkg-gray{
	background: #fafafa;
	padding: 20px !important;
	font-size: 0.9em;
}
.bkg-gray h2{
	font-size: 1.3em;
}
.bkg-gray h4{
	margin-bottom: 15px;
}
.bkg-gray .mytd{
	width: 50%;
}
@media (max-width: 600px){
	.bkg-gray h4{
		margin-top: 15px
	}
	ul.steps:after{
		left: 15%;
		right: 15%;
	}
}
