ul.items-seguros{
  margin: 0;
  padding: 0;
  list-style: none;
}
/*
ul.items-seguros.row{
  margin: 0 -10px;
}
*/
ul.items-seguros li{
  text-align: center;
  margin: 3px 0;
}
ul.items-seguros li a{
  color: #5B595B;
  display: block;
  padding: 4px;
  position: relative;
}
ul.items-seguros li a .tooltip{
  left: 50%;
  position: absolute;
  top: 100%;
  padding: 15px;
  text-align: left;
  background: #6F7173;
  color: #CBCBCB;
  font-family: 'Open Sans Condensed', sans-serif;
  min-width: 230px;
  z-index: 100;
  display: none;
}
ul.items-seguros li a .tooltip p{
  margin: 0;
}
ul.items-seguros li a:hover .tooltip{
  display: block;
}
ul.items-seguros li a h6{
  font-weight: 300;
  text-transform: uppercase;
  margin: 1px 0;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #000;
}
ul.items-seguros li a .icon-seguro{
  padding: 0 0 0px 0;
  border-bottom: 1px solid #e79d25;
  display: block;
}
ul.items-seguros li a .icon-seguro img{
  width: 100%;
  max-width: 42px;
}
ul.items-seguros li a .tooltip:after{
  border: 5px solid transparent;
  border-right-color: #6F7173;
  left: -10px;
  position: absolute;
  top: 50%;
  margin: -5px 0 0 0;
}
ul.items-seguros li a:hover{
  -webkit-box-shadow: inset 0px 0px 0px 1px #e79d25;
  -moz-box-shadow: inset 0px 0px 0px 1px #e79d25;
  box-shadow: inset 0px 0px 0px 1px #e79d25;
}
ul.list-seguro{
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
ul.list-seguro li{
  padding: 3px 0 3px 15px;
  position: relative;
}
ul.list-seguro li:after{
  content: '>';
  display: block;
  position: absolute;
  left: 0;
  top: 2px;
  color: #e79d25;
  font: normal 600 1em 'Open Sans Condensed', sans-serif;
}
.tooltip-accordeon ul{
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  z-index: 99;
}
.tooltip-accordeon ul li{
  position: static !important;
}
.tooltip-accordeon ul li a{
  background: #d4d4d4;
  display: block;
  text-align: center;
  padding: 15px 20px;
  color: #58585A;
  text-transform: uppercase;
  font-size: 0.85em;
}
.tooltip-accordeon ul li .info{
  background: #58585A;
  border: 1px solid #E8E7E8;
  font-size: 0.8em;
  padding: 0 20px;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  color: #ddd;
}
.tooltip-accordeon .col-3{
  padding: 0;
}
.tooltip-accordeon ul li a.active{
  background: #58585A;
  color: #ddd;
  padding-bottom: 16px;
  margin-bottom: -1px;
  position: relative;
  z-index: 1;
}
.tooltip-accordeon ul li a.active img{
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
a.button-solicitar.hidden-lg{
  display: none;
}
@media (max-width: 600px){
  a.button-solicitar.show-sm {
    display: block;
  }
  .gray{
    background: #efefef;
    padding-bottom: 15px !important;
  }
  .gray .corners{
    margin-bottom: 30px;
  }
  ul.items-seguros li a .tooltip{
    position: absolute;
    width: 100%;
    left: 0;
    min-width: inherit;
    top: 66px;
  }
  ul.items-seguros li a .tooltip:after{
   
    border: 5px solid transparent;
    border-right-color: transparent;
    border-bottom-color: #6F7173;
    left: 50%;
    position: absolute;
    top: 0;
    margin: -10px 0 0 -5px;
  }
  ul.items-seguros li a:hover{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
  .tooltip-accordeon ul li{
    border-bottom: 1px solid #ccc;
    position: relative !important;
  }
  .tooltip-accordeon ul{
    padding: 0 10px;
  }
  .tooltip-accordeon ul li .info{
    position: static;
    border-color: #58585A;
  }
}

@media (min-width: 601px) {
  ul.items-seguros li a .tooltip.right {
    left: initial;
    right: 100%;
  }

  ul.items-seguros li a .tooltip.right:after {
    left: initial;
    right: -10px;
    border-right-color: transparent;
    border-left-color: #6F7173;
  }
}

@media (max-width: 600px) {
  .items-seguros .col-2 {
    width: 50%;
  }
}

.title-seguro {
  font-size: 24px;
  text-transform: uppercase;
}

.title-seguro strong{
  font-size: 24px;
  text-transform: uppercase;
}

.title-seguro,
.subtitle-seguro,
.title-beneficio {
  font-weight: lighter;
  color: #555;
}

.subtitle-seguro {
  font-weight: lighter;
  font-size: 17px;
  margin: 0;
  padding-top: 6px;
}


.title-beneficio {
  font-size: 17px;
}


.beneficios-seguro {
  padding: 14px 10px;
  background-color: #fafafa;
}

  .beneficios-seguro ul {
    padding-left: 0;
  }

  .beneficios-seguro li {
    font-size: 12px;
    font-weight: lighter;
    list-style: none;
    padding-left: 12px;
    line-height: 15px;
  }

  .beneficios-seguro li + li {
    margin-top: 5px;
  }

  .beneficios-seguro li:before {
    content: '>';
    color: #e59d27;
    font-size: 11px;
    padding-right: 5px;
    margin-left: -11px;
  }

  .beneficios-seguro li:before,
  .beneficios-seguro li span {
    display: inline-block;
    vertical-align: top;
  }

  .beneficios-seguro li span {
    max-width: 80%;
    margin-left: 10px;
  }


  .beneficios-seguro .icon-llamar,
  .beneficios-seguro .icon-cotizar {
    width: 56px;
    height: 56px;
    display: inline-block;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
  
  .beneficios-seguro .icon-llamar {
    background-image: url(../img/icons/icon-llamar.png);
  }

  .beneficios-seguro .icon-cotizar {
    background-image: url(../img/icons/icon-cotizar.png);
  }

  .beneficios-seguro .text-small {
    font-size: 12px;
    clear: both;
    margin: 9px 0 0 0;
  }

  .beneficios-seguro .hidden-sm .second-box {
    margin-top: 14px;
  }

  .second-box .text-right {
    text-align: right;
    margin: 0;
    font-size: 12px;
    line-height: 17px;
  }

   .second-box .llamar-vox {
    background: url(../img/icons/llamar-vox.jpg) 0 center no-repeat;
    padding-left: 35px;
    margin: 0;
    font-size: 12px;
    line-height: 17px;
   }


  @media (min-width: 600px) {
    .beneficios-seguro > .row > .col-6,
    .second-box .llamar-vox .col-6 {
      display: table-cell;
      float: none;
      /* vertical-align: middle; */
    }

    .beneficios-seguro > .row > .col-6.xs:first-child,
    .second-box .col-6:first-child {
      border-right: 1px solid #d2d2d2;
      padding-right: 20px;
    }

    .second-box .col-6:last-child {
      padding-left: 20px;
    }
  }


 @media (max-width: 700px) {
  .second-box .col-6 {
    width: 100%;
    margin-bottom: 10px;
  }

  .second-box .col-6 p {
    display: table;
    margin: auto;
    text-align: center!important;
  }

  .second-box .text-right br {
    display: none;
  }
 }

  .wrap-acordeon {
    margin: 10px 10px 35px 0;
  }
  
    @media (max-width: 850px) {
      .wrap-acordeon .tooltip-accordeon > ul a {
        text-align: left;
        border-bottom: 1px solid white;
      }

      .wrap-acordeon .tooltip-accordeon > ul a img {
        float: right;
        margin-top: 8px;
      }
    }

    @media (min-width: 601px) {
      .wrap-acordeon .tooltip-accordeon > ul a img {
        position: relative;
        top: -2px;
      }
    }




/*
  16/06/2016
*/
.no-disponible .col-6:first-child,
.button-solicitar.no-disponible {
  display: none;
}


.no-disponible .col-6:nth-child(2) {
  float: none;
  display: table;
  margin: auto;
}

@media (max-width: 600px) {
  .beneficios-seguro {
    margin-top: 20px;
  }

  .items-seguros .icon-seguro img {}

  html ul.items-seguros li .tooltip,
  html ul.items-seguros li a:hover .tooltip {
    display: none;
  }

  .items-seguros .tooltip.is-active {
    display: block!important;
  }

  .break-mobile {
    height: 1px;
    display: block;
    clear: both;
  }

}

@media (min-width: 600px) {
  .break-mobile {
    display: none;
  } 
}





