ul.icons-buttons{
	clear: both;
	margin: 20px 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.combo-box .option:after,
.combo-box .option:before,
ul.icons-buttons:after,
ul.icons-buttons:before{
	content: '';
	display: table;
	clear: both;
}
ul.icons-buttons li{
	float: left;
	width: 16.66%;
}
ul.icons-buttons li a{
	display: block;
	color: #000;
	font: normal 400 1rem 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	position: relative;
	z-index: 10;
}
ul.icons-buttons li a img{
	width: 80px;
	height: auto;
	transition: .2s;
}

ul.icons-buttons li a.active img {
	width: 100px;
	height: auto;
}	

ul.icons-buttons li a.active:after{
	content: '';
	position: absolute;
	border: 12px solid transparent;
	border-bottom-color: #97999a;
	bottom: -21px;
	left: 50%;
	margin: 0 0 0 -6px;
}
ul.icons-buttons li a span{
	display: block;
}
.combo-box .option{
	display: none;
}
.owl-carousel{
	border: 1px solid #dadada;
	display: block;
	margin: 0 0 40px 0
}
.owl-carousel .own-carousel .item-own{
	border-right: 1px solid #dadada;
}
.owl-carousel .own-carousel .item-own .header-own{
	padding: 10px 15px;
	font-size: 0.9rem;
	background: #97999a;
	color: #fff;
	min-height: 85px;
}
ul.icons-buttons li.auto a.active:after{
	border-bottom-color: #9e3768;
}
.owl-carousel .own-carousel.auto .item-own .header-own{
	background: #9e3768;
}
ul.icons-buttons li.hogar a.active:after{
	border-bottom-color: #e69d25;
}
.owl-carousel .own-carousel.hogar .item-own .header-own{
	background: #e69d25;
}
ul.icons-buttons li.vida a.active:after{
	border-bottom-color: #e21125;
}
.owl-carousel .own-carousel.vida .item-own .header-own{
	background: #e21125;
}
ul.icons-buttons li.salud a.active:after{
	border-bottom-color: #15b3bb;
}
.owl-carousel .own-carousel.salud .item-own .header-own{
	background: #15b3bb;
}
ul.icons-buttons li.fraude a.active:after{
	border-bottom-color: #97999a;
}
.owl-carousel .own-carousel.fraude .item-own .header-own{
	background: #97999a;
}
ul.icons-buttons li.viajes a.active:after{
	border-bottom-color: #a9c338;
}
.owl-carousel .own-carousel.viajes .item-own .header-own{
	background: #a9c338;
}
.owl-carousel .own-carousel .item-own .header-own h6{
	font-size: 1.1rem;
	color: #fff;
	font-weight: bold;
	letter-spacing: 0;
}
.owl-carousel .own-carousel .item-own .header-own p{
	margin: 0;
	padding: 0;
	font-size: 0.9em;
	font-weight: 300;
}
.owl-carousel .own-carousel .item-own .header-own p span{
	display: block;
}
.owl-carousel .own-carousel .content-own{
	padding: 10px 15px;
	background: #f8f8f8;
	font-size: 0.85rem;
	/*height: 400px;*/
}
.owl-carousel .owl-carousel{
	border: none !important;
	margin: 0 !important;
}
.owl-item .owl-controls .owl-nav .owl-prev,
.owl-item .owl-controls .owl-nav .owl-next{
	background: url('../img/icons/icon-prev.png') no-repeat 50% 50% #333;
	width: 28px;
	height: 36px;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -18px;
	border-radius: 0 3px 3px 0;
	text-indent: -999px;
	overflow: hidden;
}
.owl-item .owl-controls .owl-nav .owl-next{
	left: inherit;
	right: 0;
	background: url('../img/icons/icon-next.png') no-repeat 50% 50% #333;
	border-radius: 3px 0 0 3px;
}
.owl-carousel .owl-stage-outer{
	/*height: inherit;*/
	background-color: #f8f8f8;
}

@media (max-width: 600px){
	.icon-and-text.p010{
		padding: 0;
	}
	.borderLgray{
		border: none;
	}
	ul.icons-buttons{
		margin-top: 0;
		margin-bottom: 40px;
	}
	ul.icons-buttons li{
		width: 50%;
		height: 130px;
		padding: 0 0 10px 0;
	}
	ul.icons-buttons li:nth-of-type(odd) a{
		border-right: 1px solid #c9c9c9;
	}
	.owl-carousel{
		display: none !important;
	}
	.owl-carousel .owl-stage-outer{
		height: 0 !important;
	}
	ul.icons-buttons li.auto a.active:after,
	ul.icons-buttons li.hogar a.active:after,
	ul.icons-buttons li.vida a.active:after,
	ul.icons-buttons li.salud a.active:after,
	ul.icons-buttons li.fraude a.active:after,
	ul.icons-buttons li.viajes a.active:after{
		border-bottom-color: transparent;
	}
}




.marketing-text {
	font-weight: normal;
	min-height: 200px;
}

.marketing-text p {
	margin-top: 0px;
	margin-bottom: 10px;
}

.owl-stage.dos {
	width: auto!important;
	margin: auto;
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-justify-content: center;
}


.dos .owl-item:first-child .item-own {
	border-left: 1px solid #dadada;
}


@media (min-width: 601px) and (max-width: 778px) {
	ul.icons-buttons {
		margin-bottom: 0;
	}
	
	ul.icons-buttons li a {
		height: 140px;
	}

	ul.icons-buttons a:after {
		bottom: -1px!important;
	}
}


* {
	outline: none!important;
}