/*
@import '//fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:700,400,400italic';
*/

h6{
  color: #fff;
}
.wrapper {
    max-width: 920px;
    padding: 0 20px 40px 20px;
    margin: auto;
}

.centro{
  width: 100% !important;
}
.centro li{
  float: none !important;
  margin: 0 auto !important;
}

#sync1 .item{
    background: #0c83e7;
    margin: 0px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
}
#sync2 .item{
    width: 100%;
    padding: 10px 0px;
    /* margin: 2px; */
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
}
#sync2 .item h1{
  font-size: 18px;
}
#sync2 .synced .item{
  /*background: #0c83e7;*/
}

#sync2.icons-buttons li a img {
    max-width: 45px;
}

html ul.icons-buttons

.owl-item{
  padding: 0px;
  float: left;
}
.jcarousel{
    color:#111;
    height: 230px;
 }
.content-own{
  width: 100% !important;
  overflow: hidden;
  height: 80px;
  padding: 10px 15px;
  background: #f8f8f8;
  font-size: 0.85rem;
}
.content-own a.more { margin: 0; }

.header-own{
  width: 100% !important;
  height: 70px;
  background-color: #666;
  color: #fff !important;
  padding: 5px 10px;
  text-align: left;
}
.header-own p {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.marketing-text{
  text-align: left;
  font-size: 0.85rem;
  font-weight: normal;

}

ul.icons-buttons{
  height: 140px;
  clear: both;
  margin: 0 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.combo-box .option:after,
.combo-box .option:before,
ul.icons-buttons:after,
ul.icons-buttons:before{
  content: '';
  display: table;
  clear: both;
}
ul.icons-buttons li{
  float: left;
  width: 16.66%;
}
ul.icons-buttons li a{
  display: block;
  color: #000;
  font: normal 400 1rem 'Open Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  z-index: 10;
  height: 108px;
}
ul.icons-buttons li a img{
 
}

#grancarrusel ul.icons-buttons li a{
    font-size: 10px;
    font-weight: bold;
    height: 66px;
}
#sync2.icons-buttons{
  height: 75px !important;
}

#grancarrusel h6 {font-size: 15px;}

#grancarrusel .header-own {padding: 3px 10px;height: 57px;}

#grancarrusel .header-own p{
  font-size: 12px;
  line-height: 14px;
}

#grancarrusel .marketing-text {
    font-size: 12px;
    line-height: 16px;
}
#grancarrusel .marketing-text p {
    padding: 0;
    margin: 0;
}

#grancarrusel .content-own{
    padding: 7px 10px;
}

#grancarrusel a.button-solicitar{
    height: 25px;
    font-size: 15px;
    line-height: 25px;
    font-weight: bold;
}

#grancarrusel a.more{
    font-size: 12px;
}

ul.icons-buttons li a.active img {
  width: 100px;
  height: auto;
} 

ul.icons-buttons li a.active:after{
  content: '';
  position: absolute;
  border: 12px solid transparent;
  border-bottom-color: #97999a;
  bottom: -21px;
  left: 50%;
  margin: 0 0 0 -6px;
}
ul.icons-buttons li a span{
  display: block;
  /* margin-left: 15px; */
}
.combo-box .option{
  display: none;
}

ul.icons-buttons .Autos{
  border-bottom-color: #9e3768;
}
.owl-carousel .Autos{
  background: #9e3768;
}
ul.icons-buttons .Hogar{
  border-bottom-color: #e69d25;
}
.owl-carousel .Hogar{
  background: #e69d25;
}
ul.icons-buttons Vida{
  border-bottom-color: #e21125;
}
.owl-carousel .Vida {
  background: #e21125;
}
ul.icons-buttons .Salud{
  border-bottom-color: #15b3bb;
}
.owl-carousel .Salud {
  background: #15b3bb;
}

ul.icons-buttons .Oncologico{
  border-bottom-color: #15b3bb;
}
.owl-carousel .Oncologico {
  background: #15b3bb;
}
ul.icons-buttons .Hospitalizacion{
  border-bottom-color: #15b3bb;
}
.owl-carousel .Hospitalizacion {
  background: #15b3bb;
}

ul.icons-buttons .Urgencias{
  border-bottom-color: #15b3bb;
}
.owl-carousel .Urgencias {
  background: #15b3bb;
}

ul.icons-buttons .Catastrofico{
  border-bottom-color: #15b3bb;
}
.owl-carousel .Catastrofico {
  background: #15b3bb;
}

ul.icons-buttons .Fraude {
  border-bottom-color: #97999a;
}
.owl-carousel .Fraude{
  background: #97999a;
}

ul.icons-buttons .Bancarios {
  border-bottom-color: #97999a;
}
.owl-carousel .Bancarios{
  background: #97999a;
}

ul.icons-buttons .Seguro {
  border-bottom-color: #97999a;
}
.owl-carousel .Seguro{
  background: #97999a;
}

ul.icons-buttons.Viajes{
  border-bottom-color: #a9c338;
}
.owl-carousel .Viajes{
  background: #a9c338;
}
ul.icons-buttons.Vacaciones{
  border-bottom-color: #a9c338;
}
.owl-carousel .Vacaciones{
  background: #a9c338;
}


/* FAMILIA*/
.owl-prev{
display: none;
}
.owl-next{
display: none;
}


ul.icons-buttons .synced li a:after{
  content: '';
  display: block;
  position: absolute;
  border: 12px solid transparent;
  border-bottom-color: #97999a;
  bottom: 0px;
  left: 50%;
  margin: 0 0 0 -12px;
  z-index: 100000000;
}

ul.icons-buttons .synced li.auto   a:after{ border-bottom-color: #9e3768; }
ul.icons-buttons .synced li.hogar  a:after{ border-bottom-color: #e69d25; }
ul.icons-buttons .synced li.vida   a:after{ border-bottom-color: #e21125; }
ul.icons-buttons .synced li.salud  a:after{ border-bottom-color: #15b3bb; }
ul.icons-buttons .synced li.fraude a:after{ border-bottom-color: #97999a; }
ul.icons-buttons .synced li.viajes a:after{ border-bottom-color: #a9c338; }

  .legal-form{
    line-height: 11px;
    font-size: 11px;
    color: #444;
	/*color: #646464;*/
    font-family: Arial, Helvetica, sans-serif;
  }

.box-btn-right {
  text-align: right;
}

.btn-volver-detalle {
  display: inline-block;
  color: #333333;
  font-size: 14px;
  text-decoration: underline;
  border: 0;
  background: inherit;
  margin-right: 40px;
  width: 100px;
  padding-top: 20px;
}

#grancarrusel {
    min-width: 700px;
}

#grancarrusel .jcarousel-control-prev,
#grancarrusel .jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -44px;
    width: 15px;
    height: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0);
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    color: red;
    font-size: 50px;
}

#headermovil{
  display: none;   
}

.visible-sm {   display: none; }

#errorpage {
  width: 100%;
  padding-top: 30px;
}

#errorpage .marco1 {
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  margin: 0 auto;
  border: 1px solid red;
  padding: 25px;
  font-family: Arial;
  font-size: 13px;
  box-sizing: border-box;
}
#errorpage .marco1 h1{
  line-height: 14px;
  font-size: 14px;
  padding: 0 0 18px;
  margin: 0;
}

.detalle {margin: 0;}
.detalle .mytable {margin-top: 2px;}
.detalle .icon {width: 48px;}
.detalle .icon img {width: 42px;}
.detalle .subtitle-seguro {padding: 0;}
.detalle h1.seguros { padding-bottom: 7px;}
.detalle .beneficios-seguro {padding-top: 13px;}
.detalle .beneficios-seguro .title-beneficio {font-weight: bold;}

.beneficiaries-travel {
  font-size: 1rem;
  margin-top:20px;
  margin-bottom:30px;
}

.beneficiaries-travel .text-strong{
  font-weight: bold;
}
.plan-campaign {
  background:#d8d8d8;
  border-radius: 4px;
  padding:10px;
  font-size: 14px;
  margin-top:20px;
}
.plan-campaign p  {
  padding-top:0px;
  margin-top:0px;
  font-size: 14px;
  margin-bottom: 4px;
}

.plan-campaign input{
  margin-top:8px;
  height: 30px;
  margin-bottom: 4px;
}