#headermovil{
    background-color: red;
    background-image: url('../img/logo_movil.png');
    height: 36px;
    width: 100%;
    background-repeat: no-repeat;
    display: none !important;
}
#headermovil a{display: block;height: 100%;width: 200px;}

#main-icons { position: relative;}
#main-icons ul {
    display: block;
    border: 0px;
    position: relative;
    margin-top: 10px;
    -webkit-box-shadow: initial;
    box-shadow: initial;
    height: initial !important;
}
#main-icons ul li {
    height: initial;
    line-height: initial;
    border-bottom: 0px;
    float: left;
    text-align: center;
    width: 49%;
    padding: 0 0 10px 0;
}
#main-icons ul li:nth-of-type(odd) a {
    border-right: 1px solid #c9c9c9;
}
#main-icons ul li a img{
    width: initial;
    float: none;
}
#main-icons ul li a{
    height: initial;
    line-height: initial;
    text-align: center;
}
#main-icons ul li span{
    display: block;
    float: none;
    text-align: center;
    margin: 0;
    line-height: initial;
}

.header-own{
    height: 100% !important;
    background-color: initial;
    color: initial !important;
}
.content-own{
    height: 100%;
}
.marketing-text{
    min-height: 100% !important;
}
.combo-box ul.icons-buttons {
    height: initial !important;
}

.visible-sm {
    display: block !important;
}

body .container { min-width: initial !important; max-width: 600px; }
/* movile */

  .icon-and-text.p010{
    padding: 0;
  }
  .borderLgray{
    border: none;
  }

  .combo-box ul.icons-buttons li{
    width: 100% !important;
  }
  .combo-box ul.icons-buttons li:nth-of-type(odd) a{
    border-right: 0px solid #c9c9c9;
  }

  .owl-carousel .owl-stage-outer{
    height: 0 !important;
  }
  ul.icons-buttons li.auto a.active:after,
  ul.icons-buttons li.hogar a.active:after,
  ul.icons-buttons li.vida a.active:after,
  ul.icons-buttons li.salud a.active:after,
  ul.icons-buttons li.fraude a.active:after,
  ul.icons-buttons li.viajes a.active:after{
    border-bottom-color: transparent;
  }

    .cont-carga {
        width: 100%;
        float: none;
        margin-right: 0 0 20px 0;
    }
    .cont-box-actividad .text-actividad {
        margin-bottom: 10px;
    }
    .cont-box-actividad .text-actividad,
    .cont-box-actividad .select-actividad {
        width: 100%;
        padding-right: 0;
    }
    .check-mobile {
        height: 30px;
        width: 30px;
        vertical-align: middle;
        margin: 0 0.4em 0.4em 0;
        border: 1px solid #DDDDDD;
        background:#fff;
        -webkit-appearance: none;
        -moz-appearance:none;
        appearance: none;
        outline: none;
        border-radius: 3px;
        cursor: pointer;
    }
    .check-mobile:checked {
        background:#17CAFF url(../img/check-radio.png) 50% 50% no-repeat;
    }
    .block-mobile {
        display: block;
        margin-bottom: 5px;
    }
    .hide-on-mobile {
        display: none;
    }

    .bkg-gray h4{
        margin-top: 15px
    }
    ul.steps:after{
        left: 15%;
        right: 15%;
    }
    .pL30 {
        padding: 0 10px !important;
    }
    .valor-prima strong {
        display: block;
    }

.hidden-sm{ display: none !important; }
.visible-sm{ display: block !important; }

.box-datos-persona .myrow .mytd {
    width: 100% !important;
    display: block;
}

.box-actividad .actividad .box {
    float: left;
    width: 40%;
}

/* media queries */
@media (max-width: 850px) { .container [class*="col"].sm { width: 100%; float: none; clear: both; }
  .col-sm-12 { width: 100%; float: none !important; }
  .col-sm-11 { width: 91.6663%; }
  .col-sm-10 { width: 83.3333%; }
  .col-sm-9 { width: 74.9997%; }
  .col-sm-8 { width: 66.6664%; }
  .col-sm-7 { width: 58.3331%; }
  .col-sm-6 { width: 50%; }
  .col-sm-5 { width: 41.6665%; }
  .col-sm-4 { width: 33.3332%; }
  .col-sm-3 { width: 24.9999%; }
  .col-sm-2 { width: 16.6666%; }
  .col-sm-1 { width: 8.3333%; }
  /*.corners { position: relative; margin: 20px auto; top: 0; left: 0; }*/
  /* helpers */
  .text-md-center { text-align: center; }
  .pt-md-10 { padding-top: 10px !important; } }

@media (max-width: 600px) { .container [class*="col"].xs { width: 100%; float: none; clear: both; }
  .mt20 { margin-top: 10px; }
  .hidden-sm { display: none !important; }
  .show-sm { display: block; }
  .mas-info { font-size: 1em; }
  .bkg-banner-simulador { max-height: inherit !important; min-height: inherit !important; }
  .bkg-banner-simulador img.banner { display: none; }
  .bkg-banner-simulador div.imageSubtitle { display: none; }
  .bkg-banner-simulador div.corners { display: none; }
  .corners { margin: 16px auto; margin-bottom: 0; }
  .corners h1 { font-size: 1.5em; }
  .icon-and-text span { width: 21px; }
  .icon-and-text p { float: none; margin: 0 0 0 32px; }
  .icon-and-text p span { display: block; width: auto; }
  .icon-and-text span img { margin: 0; width: 28px; height: 28px; }
  a.more.inline-block, a.button-solicitar.inline-block { display: block; }
  .title { margin-top: 0px; } 
  .row{ margin: 0; }
  .container{ padding: 0; }
  .tooltip-accordeon ul {padding: 0 0px;}
  .wrap-acordeon { margin: 10px 0px 35px 0; }
  .detalle h1.titulo {}
  .detalle .title-seguro {font-size: 19px;}
  .detalle .title-seguro * {font-size: 19px;}
}

@media (min-width: 800px) { html .button-solicitar { min-width: 150px; } }

@media (min-width: 601px) { .visible-sm { display: none; } }

@media (max-width: 600px) { .visible-sm { display: block; } }

/* ====================== 24072016 ====================== */
/* nav icons */
@media (min-width: 601px) { html ul.icons-buttons { height: 117px; margin-bottom: 0; padding-bottom: 0; }
  html ul.icons-buttons a { height: 115px; }
  html ul.icons-buttons a.active:after { bottom: -1px !important; } }


@media (max-width: 480px){
    .box-datos-persona .myrow .mytd > label {
        padding-top: 10px !important;
        display: block;
    }

    .bkg-gray .mytable .myrow .mytd > strong {
        padding-top: 10px !important;
        display: block;
        width: 100% !important;
    }
}
@media (max-width: 360px){

    .box-datos-persona .datos-persona-item,
    .box-datos-persona .datos-persona-inputs
    {
        width: 100%;
        display: block;
    }
    .box-btn-right {
        text-align: center;
    }
    .btn-continuar {
        width: 228px;
    }
    .regular-input,
    .regular-select {
        height:38px;
    }
    .regular-select {
        background-image: url(../img/bkg/barra-select.png);
        background-position: 100% 50%;
        background-repeat: no-repeat;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .box-aumento {
        text-align: center;
        margin-bottom: 20px;
    }
    .box-aumento .texto {
        display: block;
        margin-bottom: 10px;
    }
    .btn-volver-declaracion {
        margin-right: 0;
    }
    .regular-input.w60p {
        width: 100%;
    }

    .box-coberturas .myrow {
        display: block;
        margin-bottom: 5px;
    }
    .box-coberturas .cobertura-item.titulo {
        margin-bottom: 10px;
    }
    .box-coberturas .cobertura-valor.titulo {
        display: none;
    }
    .box-coberturas .cobertura-item {
        border-bottom: 0;
        padding: 0 !important;
    }
    .box-coberturas .cobertura-item,
    .box-coberturas .cobertura-valor,
    .box-datos-persona .datos-persona-item,
    .box-datos-persona .datos-persona-inputs
    {
        width: 100%;
        display: block;
    }
    .box-coberturas .cobertura-valor {
        text-align: left;
    }
    .regular-input,
    .regular-select {
        height:38px;
    }
    .box-btn-right {
        text-align: center;
    }
    .btn-continuar {
        width: 228px;
    }
    .bkg-gray {
        padding: 10px !important;
    }

    .mytable.cellpadding .mytd.box-asegurados {
        display: block;
        width: 100%;
        text-align: center;
    }
    .block-mobile {
        width: 100% !important;
        display: block;
    }
    .only-desktop {
        display: none;
    }
    .only-mobile {
        display: block;
    }
    input.si,
    input.no,
    input.cant-asegurados {
        height: 30px;
        width: 30px;
        vertical-align: middle;
        margin: 0 0.4em 0.4em 0;
        border: 1px solid #DDDDDD;
        background:#fff;
        -webkit-appearance: none;
        -moz-appearance:none;
        appearance: none;
        outline: none;
        border-radius: 3px;
    }
    input.si:checked,
    input.no:checked,
    input.cant-asegurados:checked {
        background:#17CAFF url(../img/check-radio.png) 50% 50% no-repeat;
    }

    .owl-carousel .owl-item {
        min-width: 210px;
    }

    .regular-select {
        background-image: url(../img/bkg/barra-select.png);
        background-position: 100% 50%;
        background-repeat: no-repeat;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .box-calendario .myrow .mytd {
        width: 100%;
        display: block;
        margin-bottom: 5px;
    }
    .box-calendario .datepicker {
        height: 38px;
        background-position: 5px 10px;
        width: 100%;
    }
    .box-calendario .datepick {
        height: 38px;
        background-position: 5px 10px;
        width: 100%;
    }

}
