<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="{{ ns }}" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="{{ ns }}">
   <wsdl:documentation>Nuevos Datos Cliente</wsdl:documentation>
   <wsdl:types>
      <xsd:schema targetNamespace="{{ ns }}" elementFormDefault="unqualified" attributeFormDefault="unqualified">
         <xsd:element name="Nuevos_Datos_Cliente_Request">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="INPUT" type="tns:INPUTType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:complexType name="INPUTType">
            <xsd:sequence>
               <xsd:element name="RUTASEGURADO" type="xsd:string" nillable="true" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="Nuevos_Datos_Cliente_Response">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="OUTPUT" type="tns:OUTPUTType" />
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:complexType name="OUTPUTType">
            <xsd:sequence>
               <xsd:element name="INFO" type="tns:INFOType" />
               <xsd:element name="ESCALARES" type="tns:ESCALARESType" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="INFOType">
            <xsd:sequence>
               <xsd:element name="CODERR" type="xsd:string" nillable="true" />
               <xsd:element name="DESERR" type="xsd:string" nillable="true" />
               <xsd:element name="MSGUSUARIO" type="xsd:string" nillable="true" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ESCALARESType">
            <xsd:sequence>
               <xsd:element name="NOMASEGURADO" type="xsd:string" nillable="true" />
               <xsd:element name="APELLIPATASEG" type="xsd:string" nillable="true" />
               <xsd:element name="APELLIMATASEG" type="xsd:string" nillable="true" />
               <xsd:element name="FECHANACIMIENTOASERG" type="xsd:string" nillable="true" />
               <xsd:element name="DIRECASEG" type="xsd:string" nillable="true" />
               <xsd:element name="FONOCELASEGU" type="xsd:string" nillable="true" />
               <xsd:element name="FONOPARASEGU" type="xsd:string" nillable="true" />
               <xsd:element name="EMAILASEGU" type="xsd:string" nillable="true" />
               <xsd:element name="SEXOASEGU" type="xsd:string" nillable="true" />
               <xsd:element name="CODCONTROL" type="xsd:string" nillable="true" />
            </xsd:sequence>
         </xsd:complexType>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="Nuevos_Datos_Cliente_Request">
      <wsdl:part name="parameters" element="tns:Nuevos_Datos_Cliente_Request" />
   </wsdl:message>
   <wsdl:message name="Nuevos_Datos_Cliente_Response">
      <wsdl:part name="result" element="tns:Nuevos_Datos_Cliente_Response" />
   </wsdl:message>
   <wsdl:portType name="ws_nuevos_datos_clientePortType">
      <wsdl:operation name="Nuevos_Datos_Cliente">
         <wsdl:input wsaw:Action="{{ ns }}/Nuevos_Datos_Cliente" message="tns:Nuevos_Datos_Cliente_Request" />
         <wsdl:output wsaw:Action="{{ ns }}/Autc_Nuevos_Datos_Cliente/Nuevos_Datos_ClienteResponse" message="tns:Nuevos_Datos_Cliente_Response" />
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ws_nuevos_datos_clienteSoap11Binding" type="tns:ws_nuevos_datos_clientePortType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="Nuevos_Datos_Cliente">
         <soap:operation style="document" soapAction="{{ ns }}/Nuevos_Datos_Cliente" />
         <wsdl:input>
            <soap:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="ws_nuevos_datos_clienteSoap12Binding" type="tns:ws_nuevos_datos_clientePortType">
      <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="Nuevos_Datos_Cliente">
         <soap12:operation style="document" soapAction="{{ ns }}/Nuevos_Datos_Cliente" />
         <wsdl:input>
            <soap12:body use="literal" />
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="ws_nuevos_datos_clienteHttpBinding" type="tns:ws_nuevos_datos_clientePortType">
      <http:binding verb="POST" />
      <wsdl:operation name="Nuevos_Datos_Cliente">
         <http:operation location="Nuevos_Datos_Cliente" />
         <wsdl:input>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:input>
         <wsdl:output>
            <mime:content type="application/xml" part="parameters" />
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ws_nuevos_datos_cliente">
      <wsdl:port name="ws_nuevos_datos_clienteHttpSoap11Endpoint" binding="tns:ws_nuevos_datos_clienteSoap11Binding">
         <soap:address location="{{ endpoint }}" />
      </wsdl:port>
      <wsdl:port name="ws_nuevos_datos_clienteHttpSoap12Endpoint" binding="tns:ws_nuevos_datos_clienteSoap12Binding">
         <soap12:address location="{{ endpoint }}" />
      </wsdl:port>
      <wsdl:port name="ws_nuevos_datos_clienteHttpEndpoint" binding="tns:ws_nuevos_datos_clienteHttpBinding">
         <http:address location="{{ endpoint }}" />
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>
