{% extends "PlanificadorBundle::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
   
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/preocupaciones.js') }}"></script>
	<script>
   		var tipo = {{ tipo | raw }}
   		
   	</script>
{% endblock %}
{% block body %}
<div>
{#<div id="buscar" class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-5">
	<div class="col-sm-10 float-right">
    	<input type="text" class="form-control" placeholder="Ingrese datos de busqueda">
    </div>
</div>#}
<h3>Lista de capital</h3>
<section class=" row form-horizontal">
	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr >
			
		   	<th>Id</th>
			<th>Nombre</th>
			<th>Valor</th>

			<th class="td_icon">Editar</th>
			<th class="td_icon">Eliminar</th>		    
		</tr>
	  {% for cap in capital %}
		<tr >
		  	<td>{{ cap.Id | raw }}</td>
			<td>{{ cap.Nombre | raw }}</td>
			<td>{{ cap.Value | raw }}</td>
			<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('capital',{'id':cap.Id}) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i> </a ></td>
			<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('capital_eliminar',{'id':cap.Id}) }}"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a></td>
		</tr>
	{% endfor %}
	</table >
</section>
</div>
{% endblock %}