{% extends "PlanificadorBundle::base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}
     <link rel="stylesheet" href="{{ asset('assets/css/planificador/jasny-bootstrap.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/planificador/controller/momentos.js') }}"></script>
    <script src="{{ asset('assets/js/planificador/jasny-bootstrap.min.js') }}"></script>
    <script>
      var tipo = {{ tipo | raw }}
    </script>
{% endblock %}

{% block body %}
  <div >  
    <h3>Capital</h3>
    <div>
     {{ include('PlanificadorBundle:administrador:capital/form_capital.html.twig') }}
    </div>
  </div>
{% endblock %}