{% extends "PlanificadorBundle::base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
   
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('assets/js/planificador/controller/preocupaciones.js') }}"></script>
	<script>
   		var tipo = {{ tipo | raw }} 		
   	</script>
{% endblock %}
{% block body %}
<div>
{#<div id="buscar" class="form-group col-sm-6 col-xs-12 col-md-6 col-lg-5">
	<div class="col-sm-10 float-right">
    	<input type="text" class="form-control" placeholder="Ingrese datos de busqueda">
    </div>
</div>#}
<h3>Lista de Asociaciones</h3>
<section class=" row form-horizontal">
	

	<table class="table table-striped table-bordered table-hover table-condensed">
		<tr>
		   	<th colspan="2">Momentos</th>
		   	<th >Preocupaciones</th>
		   
			<th class="td_icon">Editar</th>
			<th class="td_icon">Eliminar</th>		    
		</tr>
	  {% for momento in arregloPresentacion %}
		<tr >
			<td>{{ momento.IdAsociacion | raw }}</td>
		  	<td>{{ momento.Descripcion | raw }}</td>
		  	<td>
		  	
				{% for preocupacion in  momento.Preocupaciones %}
		
					<li>{{ preocupacion.descripcion| raw  }} </li>
		
				{% endfor %}

			</td>
			<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('asociacion',{'id':momento.IdAsociacion}) }}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i> </a ></td>
			<td class="centrar_bot td_icon"><a class="fa_color" href="{{ path('asociacion_eliminar',{'id':momento.IdAsociacion}) }}"><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></a></td>
		</tr>
	{% endfor %}
	</table >
</section>
</div>
{% endblock %}