{% extends "PlanificadorBundle::base.html.twig" %}

{% block title %}Santander. Planificador{% endblock %}

{% block stylesheets %}
    {{ parent() }}
     <link rel="stylesheet" href="{{ asset('assets/css/planificador/jasny-bootstrap.min.css') }}">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/planificador/controller/asociacion.js') }}"></script>
    <script src="{{ asset('assets/js/planificador/jasny-bootstrap.min.js') }}"></script>
    <script>
        var preo = {{ preo | json_encode | raw }}
    </script>

{% endblock %}

{% block body %}
  <div >  
    <h3>Asociación</h3>
    
  <section id="paso1" class="form-horizontal">
  <br>  
  <form  action="{{ app.request.requestUri }}" method="post" {{ form_enctype(form) }}>
       {% if tipo==0 %}
    <div class="form-group ">
      <label for="nombre" class="control-label col-sm-2"> Momento:</label>
      <div class="col-sm-10">
          {{ form_widget(form.idMomento , { attr: {class: "form-control" }})}}
        </div>
    </div>
    {% else %}
      <div class="form-group ">
      <label for="nombre" class="control-label col-sm-2"> Momento:</label>
      <div class="col-sm-10">
          {{ momento.Descripcion }}
        </div>
    </div>
    {% endif %}
    <div class="form-group ">
      
      <div class="col-sm-10">
          {{ form_widget(form.preocupacion , { attr: {class: "form-control" }})}}
        </div>
    </div>
    <br>
    <h5>Asocia preocupaciones:</h5>
     <div class="form-group ">

    <ul>
    {% for preo in preocupaciones %}
      <li class="col-sm-4 col-md-3 asociacion" id="{{preo.id}}" ng-click="addAsoc({{preo.id}})">{{ preo.descripcion }}
        
      </li>
    {% endfor %}
    </ul>
    </div>
    {% if tipo > 0 %}
       <input class="btn btn-primary  btn-lg" type="submit" name='registrar_momento' value="Actualizar" />
    {% else %}
        <input class="btn btn-success  btn-lg" type="submit" name='registrar_momento' value="Registrar" />
    {% endif %} 
        
       
  </form>
</section>








    
  </div>
{% endblock %}