{% extends "SeguroBundle::base.html.twig" %}
{% block body %}
        {% embed "SeguroBundle::Front/order.html.twig" %}
			{% block orderextra %}
				{% embed "SeguroBundle::Order/cargas.html.twig" %}{% endembed %}
				{% embed "SeguroBundle::Order/declaracion.html.twig" %}{% endembed %}
			{% endblock %}
		{% endembed %}
{% endblock %}