<h3 class="sts-h3 sts-text-center sts-text-bold">Declaración Personal</h3>
<div class="sts-block__body-inner">
    <div class="sts-alert sts-alert--info2">
        <div class="row">
            <div class="col-sm-6">
            {% for question in insurance.questions %}
                {% if question.question|lower == "peso"  %}
                <div class="sts-info-form">
                    <p class="sts-info-form__label"><strong>Peso:</strong></p>
                    <p class="sts-info-form__text">{{ question.answer }} kg.</p>
                </div>
                {% endif %}
            {% endfor %}
            </div>

            <div class="col-sm-6">
            {% for question in insurance.questions %}
                {% if question.question|lower == "estatura"  %}
                <div class="sts-info-form">
                    <p class="sts-info-form__label"><strong>Estatura:</strong></p>
                    <p class="sts-info-form__text">{{ question.answer }} cms</p>
                </div>
                {% endif %}
            {% endfor %}
            </div>
            
                        
            {% for question in insurance.questions %}	
                {% if question.question|lower == "enfermedad"  %}
                    {% if question.answer != "" %}
                    <div class="col-sm-12">
                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Declaración:</strong></p>
                            <p class="sts-info-form__text">{{question.answer}}</p>
                        </div>
                    </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>