{% extends "SeguroBundle::base.html.twig" %}

{% block body %}

        {% embed "SeguroBundle::Front/order.html.twig" %}
			
			{% block orderextra %}
			<h3 class="sts-h3 sts-text-center sts-text-bold">Datos de la propiedad ha asegurar</h3>
			
			<div class="sts-block__body-inner">

              <div class="sts-alert sts-alert--info2">
                <div class="row">

                  <div class="col-sm-6 col-xs-12">
                    <div class="sts-info-form">
                      <p class="sts-info-form__label"><strong>Dirección:</strong></p>
                      <p class="sts-info-form__text">{{ insurance.home.address }}</p>
                    </div>

                    <div class="sts-info-form">
                      <p class="sts-info-form__label"><strong>Ciudad:</strong></p>
                      <p class="sts-info-form__text">{{ insurance.home.addressCity  |capitalize }}</p>
                    </div>
                  </div>

                  <div class="col-sm-6 col-xs-12">
                    <div class="sts-info-form">
                      <p class="sts-info-form__label"><strong>Comuna:</strong></p>
                      <p class="sts-info-form__text">{{ insurance.home.addressState |capitalize }}</p>
                    </div>

                    </div>
                </div>
              </div>
            </div>
			{% endblock %}
		{% endembed %}
{% endblock %}