{% extends "SeguroBundle::base.html.twig" %}

{% block body %}

        {% embed "SeguroBundle::Front/order.html.twig" %}
			{% block tipoprima %}Prima anual{% endblock %}
			{% block orderextra %}
                {% embed "SeguroBundle::Order/fecha-viaje.html.twig" %}{% endembed %}
				{% embed "SeguroBundle::Order/cargas.html.twig" %}{% endembed %}
			{% endblock %}
			{% block tipocobro %}Pago Anual{% endblock %}
			{% block period %}Valor pago anual:{% endblock %}
            

		{% endembed %}
{% endblock %}