{% extends "SeguroBundle::base.html.twig" %}

{% block googleoptimize %}
 <!-- Anti-flicker snippet (recommended)  -->
  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-WZ9RLQW':true});</script>
  <!-- Global site tag (gtag.js) - Google Analytics --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1166545-3"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-1166545-3', { 'send_page_view':false, 'optimize_id': 'GTM-WZ9RLQW'}); </script> 
 
{% endblock %}

{% block body %}
        {% embed "SeguroBundle::Front/order.html.twig" %}
            {% block tipoprima %}Prima única{% endblock %}
			{% block orderextra %}
                {% embed "SeguroBundle::Order/fecha-viaje.html.twig" %}{% endembed %}
				{% embed "SeguroBundle::Order/cargas.html.twig" %}{% endembed %}
                
			{% endblock %}
			{% block tipocobro %}Pago Único{% endblock %}
			{% block period %}Valor pago único:{% endblock %}
		{% endembed %}
{% endblock %}