{% block body %} 	
	{% embed "SeguroBundle::Front/wizard.html.twig" with {'step': '4', 'title' : 'Comprobante' }%} {% endembed %}
    
    
    <div class="sts-block sts-block--small sts-block--icons" >
        <div class="sts-animate--fadeIn">
            <span class="sts-block__header-icon sts--icons-success"><i class="str-icon-check"></i></span>
        </div>

        <div class="sts-success">
            <p class="sts-h3"><strong>Gracias por contratar tu seguro de {{ insurance.name }} /</strong> {{insurance.plan.name}}</p>
            <p>Te hemos enviado un comprobante a tu email: <strong >{{insurance.client.addressEmail}}</strong></p>
        </div>
        <div class="transaction">
            <div>
                <p class="sts-text-center title">Número de transacción:</p>
                {% if insurance.paiement.id is defined %}
                <p class="sts-text-center"><strong>{{ insurance.id }}</strong></p>
                {% elseif insurance.patPass.id is defined %}
                <p class="sts-text-center"><strong>{{ insurance.id }}</strong></p>
                {% endif %}
            </div>
            <div class="sep"></div>
            {% if (proposal != null and proposal.solicitud != null) %}
            <div>
                <p class="sts-text-center title">Número de solicitud:</p>
                <p class="sts-text-center"><strong>{{ proposal.solicitud }}</strong></p>
            </div>
            <div class="sep"></div>
            {% endif %}
            <div>
                <p class="sts-text-center title">Fecha de transacción:</p>
                {% if insurance.product.patpass == 1 %}
                    <p class="sts-text-center"><strong>{{insurance.created.date | date('d/m/Y H:i:s')}}</strong></p>
                {% else %}
                    <p class="sts-text-center"><strong>{{insurance.paiement.created.date | date('d/m/Y H:i:s')}}</strong></p>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="sts-block sts-block--small sts-block--icons">
      <div class="sts-animate--fadeIn">
        <span class="sts-block__header-icon sts--icons-confirm"><i class="str-icon-documento-ok"></i></span>
      </div>

      <div class="sts-block__body">

        <h3 class="sts-h3 sts-text-center sts-text-bold">Datos de la póliza</h3>
        
        <div class="sts-block__body-inner">
            <div class="info">
                <div class="plan">
                   {% set capital = '' %}
                    {% for key, coverage in insurance.product.coverages%}
                        {% if coverage.plan.id == insurance.plan.id and coverage.price is not null and coverage.codplanco is not null %}
                            {% set arraycodplanco = coverage.codplanco|split(',') %}
                                {% for codigoplan in arraycodplanco %}
                                    {% if codigoplan|trim == insurance.pri|trim  %}
                                        {% set capital =  "  " ~coverage.capital ~ " UF" %}
                                    {% endif %}
                                {% endfor %}           
                            
                        {% endif %}
                    {% endfor %}
                    <p class="type">{{insurance.plan.name }} <br/> {{ capital }}</p>
                   
                </div>
                <div class="quantity">
                    <p class="price cyan">
                        {{ insurance.price | monthly(uf.value) }} (UF {{ insurance.price | number_format(2, ',', '.') }}) 
                        {% if plan.product.codFrecPago is defined %}
                        <span>{{ plan.product.codFrecPago == 5 ? 'pago único': ( plan.product.codFrecPago == 4 ? 'pago anual' : 'pago mensual') }}</span>
                        {% else %}
                        <span>{% block tipopago %}pago mensual{% endblock %}</span>
                        {% endif %}
                    </p>
                    
                    {%  if insurance.hasCargas %}
                        <p>Cantidad de asegurados: {{ insurance.cargas|length }}</p>
                    {% endif %}
                    
                    {% if insurance.hasBeneficiaries %}
                        <p>Cantidad de asegurados: {{ insurance.beneficiaries|length }}</p>
                    {% endif %}
                </div>
                {% set paidImg = 'logo-webpay.png' %}
                {% if insurance.product.patpass == 1 %}
                    {% set paidImg = 'logo-credits.png' %}
                {% endif %}
                <div class="typepay">
                    <p class="sts-text-bold margin-bottom">Medio de Pago</p>
                    <img src="{{ asset('assets/seguros/images/') ~ paidImg }}" alt="">
                </div>
            </div>
        </div>

        <div class="sts-block__body-inner">
            <h3 class="sts-h3 sts-text-bold">Datos del titular</h3>

            <div class="sts-alert sts-alert--info2 no-border no-bg no-padding-left no-padding-right">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Nombre completo:</strong></p>
                            <p class="sts-info-form__text">{{insurance.client.name}} {{insurance.client.lastname1}} {{insurance.client.lastname2}}</p>
                        </div>

                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Rut:</strong></p>
                            <p class="sts-info-form__text">{{insurance.client.code | format_rut}}</p>
                        </div>

                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Dirección:</strong></p>
                            <p class="sts-info-form__text">{{insurance.client.address}}</p>
                        </div>

                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Ciudad:</strong></p>
                            <p class="sts-info-form__text">{{insurance.client.addressCity |capitalize }}</p>
                        </div>

                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Teléfono:</strong></p>
                            <p class="sts-info-form__text">{{insurance.client.addressCellPhone | format_phone}}</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Fecha de nacimiento:</strong></p>
                            <p class="sts-info-form__text">{{insurance.client.birthday.date | date('d/m/Y') }}</p>
                        </div>

                        <!--div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Región:</strong></p>
                            <p class="sts-info-form__text">Metropolitana</p>
                        </div-->

                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Comuna:</strong></p>
                            <p class="sts-info-form__text">{{insurance.client.addressState |capitalize }}</p>
                        </div>

                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Email:</strong></p>
                            <p class="sts-info-form__text">{{insurance.client.addressEmail}}</p>
                        </div>
                    </div>
                </div>
            </div>
            
            {% block voucherextra %}{% endblock %}
            
            {% if insurance.paiement.id is defined %}
            <h3 class="sts-h3 sts-text-bold">Datos de pago</h3>
            <div class="sts-alert sts-alert--info2 no-border no-bg no-padding-left no-padding-right">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Códigos de transacción:</strong></p>
                            <p class="sts-info-form__text">{{ insurance.paiement.authorizationCode }}</p>
                        </div>

                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Número de Tarjeta:</strong></p>
                            <p class="sts-info-form__text">xxxxxx{{ insurance.paiement.cardNumber }}</p>
                        </div>

                        
                    </div>
                    <div class="col-sm-6">
                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Tipo de Pago:</strong></p>
                            {% if insurance.paiement.paymentTypeCode == 'VD' %}
                            <p class="sts-info-form__text">Venta Debito</p>
                            {% elseif insurance.paiement.paymentTypeCode == 'VN' %}
                            <p class="sts-info-form__text">Venta Normal</p>
                             {% elseif insurance.paiement.paymentTypeCode == 'VC' %}
                            <p class="sts-info-form__text">Venta en cuotas</p>
                             {% elseif insurance.paiement.paymentTypeCode == 'SI' %}
                            <p class="sts-info-form__text">3 cuotas sin interés</p>
                            {% elseif insurance.paiement.paymentTypeCode == 'S2' %}
                            <p class="sts-info-form__text">2 cuotas sin interés</p>
                            {% elseif insurance.paiement.paymentTypeCode == 'NC' %}
                            <p class="sts-info-form__text">N° cuotas sin interés</p>
                            {% endif %}
                        </div>
                        
                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Fecha autorización:</strong></p>
                            {% set date = insurance.paiement.transactionDate | split('T') %}
                            {% set hora = date[1]| split('.') %}
                            <p class="sts-info-form__text">{{ date[0] }} {{ hora[0] }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div>
       

        <div class="sts-page-break"></div>
      </div>
    </div>
    
    <div class="buttons">
      <a class="sts-btn btn-reverse" href="javascript:window.print()" title=""><i class="str-icon-fax"></i> IMPRIMIR</a>
       <a href="https://www.santander.cl/seguros/index.asp" title="Volver al home"  class="sts-btn sts-btn--second" >
        Volver a inicio
      </a>
	</div>
     <!--
    <div class="sts-block sts-block--small sts-hide-print">
        <div class="sts-promo">
            <div class="sts-promo__icons">
                <a class="sts-wrap-icons" href="https://www.santander.cl/seguros/index.asp" title="Ver Seguro de Auto">
                    <span class="sts-icon sts-icon--autos"><i class="str-icon-seguro-auto"></i></span>
                    <p>Auto</p>
                </a>

                <a class="sts-wrap-icons" href="https://www.santander.cl/seguros/index.asp" title="Ver Seguro de Viaje">
                    <span class="sts-icon sts-icon--viajes"><i class="str-icon-viajes"></i></span>
                    <p>Viaje</p>
                </a>

                <a class="sts-wrap-icons" href="https://www.santander.cl/seguros/index.asp" title="Ver Seguro de Salud">
                    <span class="sts-icon sts-icon--salud"><i class="str-icon-s-urgencia"></i></span> 
                    <p>Salud</p>
                </a>

                <a class="sts-wrap-icons" href="https://www.santander.cl/seguros/index.asp" title="Ver Seguro de Viaje">
                    <span class="sts-icon sts-icon--hogar"><i class="str-icon-seguros-vivienda"></i></span>
                    <p>Hogar</p>
                </a> 

                <a class="sts-wrap-icons" href="https://www.santander.cl/seguros/index.asp" title="Ver Seguro de Fraude">
                    <span class="sts-icon sts-icon--fraude"><i class="str-icon-s-fraude"></i></span>  
                    <p>Fraude</p>
                </a>
            </div>

            <div class="sts-promo__text">
                <h5>Te puede interesar también</h5>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa natus error sit voluptatem accusa</p>

                <a href="javascript:void(0)" title="" class="otherInsurances">
                    <span>Cotiza otro seguro </span>
                    <i class="str-icon-flecha-abajo"></i>
                </a>
            </div>
        </div>
    </div>
    -->
    
{% endblock %}
