<form action="{{ app.request.requestUri }}" name="register" method="post" novalidate autocomplete="off" ng-controller="register" ng-init="initial({{ plan.id }})" {% if rulesage is iterable %} data-age="{{rulesage['start']}}:{{rulesage['end']}}" {%else%} data-age="{{plan.product.ageMin}}:{{plan.product.ageMax}}"   {% endif %} class="ng-cloak">  
	{% embed "SeguroBundle::Front/wizard.html.twig" with {'step' : '{[{step}]}'} %}{% endembed %}
	
	{% set overridePeriod %}
	   {% block period %}Valor prima mensual:{% endblock %}
	{% endset %}
	
	{% embed "SeguroBundle::Front/prima.html.twig" %}
		{% block period %}
			{% if overridePeriod is defined %}{{overridePeriod}}{%endif%}
		{% endblock %}
	{% endembed %}
	
	{% block container %}
	{% endblock %}
	
	<div class="sts-btns">
		<button type="button" class="sts-btn sts-btn--return"  ng-click="backStep()"><i class="str-icon-flecha-izquierda"></i> <span>VOLVER</span></button>
		<button type="button" class="sts-btn"   ng-click="nextStep()" ng-disabled="rules.error || error.birthday">CONTINUAR <i class="str-icon-flecha-derecha"></i></button>
	</div>
	{{ form_widget(form._token) }}
</form>