<form action="{{ app.request.requestUri }}" method="post" name="plan" novalidate ng-controller="products"  ng-init="initial('{{product.slug}}')">   
	<div class="offset-top-3">
		<h1 class="sts-h1 sts-text-bold sts-text-center offset-bottom-1">
			Seguro {% if product.titleInternet is empty %} {{product.title}} {% else %} {{product.titleInternet}} {% endif %}
		</h1>
		<div class="sts-text-center sts-text-prima">{{product.marketingText | raw }}</div>
		<div class="sts-block sts-block--small sts-block--icons sts-relative-loader">
			<div class="sts-animate--fadeIn sts-block__header-icon sts-icon--{{icon}} ">
				<i class="str-icon-{% if iconi is defined %}{{iconi}}{%else%}seguros-vivienda{% endif %}"></i>
			</div>
         
            
            {% block simulador %}

            {% endblock %}
            
            <div class="offset-bottom-3 sts-block--small sts-alert-home offset-top-3 ng-cloak"  ng-show="range">
                <div class="sts-alert sts-alert--info" ng-if="range != 'error'" >
                    <span class="sts-alert__icons"><i class="str-icon-informacion"></i></span>
                    <div class="sts-alert__text">
                        <p>De acuerdo a los datos proporcionados, usted está en el tramos de edad de <strong>{[{ range.start}]} a {[{range.end}]} años*</strong>. Si no es correcto, debe cambiar su fecha de nacimiento para actualizar el valor de su prima</p>
                    </div>
                </div>
            </div>
             <div class="offset-bottom-3 sts-block--small sts-alert-home offset-top-3 ng-cloak" >
                <div class="ng-fix-hide ng-cloak" ng-show="(plans | empty)">
                    <div class="sts-alert sts-alert--alert">
                        <span class="sts-alert__icons"><i class="str-icon-alert"></i></span>
                        <div class="sts-alert__text">
                            <p>De acuerdo a los datos proporcionados, no es posible encontrar un seguro.</p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="ng-cloak col-md-12 {% if simulador is defined %} sts-result results {%endif%}">
				<div  ng-show="(plans | empty) == false">
					{% block textResult %}{% endblock %}
                    
					<div  ng-repeat="plan in plans | orderBy:['order','price']">  <!-- | orderBy:['order','price']-->
						<div class="boxes col-md-12 offset-bottom-2">
							<div class="row border">
								<div class=" col-md-3 col-sm-12 col-xs-12 box">
									<div class="plan col-md-12 offset-top-2">
										<p class="type">
                                            <span>{[{ plan.name }]}</span>
                                           
                                            <span ng-if="plan.single != true" ng-repeat="coverage in plan.coverages" >{[{ coverage.capital }]} UF</span>
                                        </p>
                                        
										<!--p> Desde: ${[{ plan.price | toUf }]} (UF {[{ plan.price | toCommaFloat }]})</p-->
										<!--p>(UF {[{ plan.price | toCommaFloat }]})</p-->
									</div>
								</div>
								<div class="col-md-9 col-sm-12 col-xs-12 box border-left-gray">
                                    
									<div class="details col-md-8">
										<p class="price">${[{ plan.price | toUf }]} (UF {[{ plan.price | toCommaFloat }]})
                                       
										<span> pago  {[{ plan.frecuencia }]}</span></p>
										<ul>
											<li ng-repeat="coverage in plan.coverages | orderObjectByAlpha:'capital'"  ng-init="getPriceThisCoverage(coverage)">
                                            
                                                <i class="str-icon-check2"></i> {[{ coverage.name }]} 
                                                <input ng-if="coverage.price != 0 && coverage.price != null" id="coverage{[{coverage.id}]}" value="{[{coverage.id}]}"  type="radio" name="insured[coverage][{[{plan.id}]}]"  class="hidden ng-coverage" > 
                                                <span class="sts-info-form__text"  ng-if="coverage.capital != 0 && plan.single"  >{[{ coverage.capital }]} UF</span>
                                            
                                            </li>
										</ul>
									</div>
                                    
									<div class="contratar col-md-4">
										<a href="javascript:void(0)" ng-click="contratar( $event, plan.id, plan.price )"  class="sts-btn offset-top-4">CONTRATAR</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
           
		</div>
		<input type="hidden" name="_csrf_token_ajax" value="{{ _csrf_token_ajax }}">
        <input type="hidden" name="insured[plan]">
        <input type="hidden" name="insured[price]">
       
	</div>
    
 </form>