    <form action="{{ transbankuri }}" method="post" novalidate> 
	<div class="sts-wrapper">
		
		{% embed "SeguroBundle::Front/wizard.html.twig" with {'step': '3', 'title' : 'Confirmación de datos' }%} {% endembed %}
	
		<div class="sts-text-center offset-top-2">
			<h1 class="sts-h1 sts-text-bold">Seguros
				{% if insurance.product.titleInternet is empty %}
					{{insurance.product.title}}
				{% else %}
					{{insurance.product.titleInternet}}
				{% endif %}
			</h1>
			<p>{{insurance.product.marketingText | raw }}</p>
        </div>
		
		
        <div class="sts-block sts-block--small sts-block--icons">
            <div class="sts-animate--fadeIn">
                <span class="sts-block__header-icon sts--icons-confirm"><i class="str-icon-documento-ok"></i></span>
            </div>

            <h2 class="sts-h3 sts-text-center sts-text-bold">Confirmación datos del seguro</h2>

            <div class="sts-block__body-inner">
              <div class="sts-alert sts-alert--info2 no-border no-bg">
                <div class="row">
                  <div class="col-sm-6">
                    <div class="sts-info-form">
                        <p class="sts-info-form__label"><strong>Nombre Seguro:</strong></p>
                        <p class="sts-info-form__text">
							{% if insurance.product.titleInternet is empty %}
								{{insurance.product.title}}
							{% else %}
								{{insurance.product.titleInternet}}
							{% endif %}
						</p>
                    </div>
					
                    <div class="sts-info-form">
                        <p class="sts-info-form__label"><strong>Tipo de plan:</strong></p>
                        {% set capital = '' %}
                        {% for key, coverage in insurance.product.coverages%}
                            {% if coverage.plan.id == insurance.plan.id and coverage.price is not null and coverage.codplanco is not null %}
                                {% set arraycodplanco = coverage.codplanco|split(',') %}
                                    {% for codigoplan in arraycodplanco %}
                                        {% if codigoplan|trim == insurance.pri|trim  %}
                                            {% set capital =  " " ~coverage.capital ~ " UF" %}
                                        {% endif %}
                                    {% endfor %}           
                                
                            {% endif %}
                        {% endfor %}
                        <p class="sts-info-form__text">{{insurance.plan.name ~ capital }}</p>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    {% if insurance.hasCargas %}
                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Cantidad de beneficiados:</strong></p>
                            <p class="sts-info-form__text">{{ insurance.cargas|length }}</p>
                        </div>
                    {% endif %}
                    
                    {% if insurance.hasBeneficiaries %}
                        <div class="sts-info-form">
                            <p class="sts-info-form__label"><strong>Cantidad de beneficiados:</strong></p>
                            <p class="sts-info-form__text">{{ insurance.beneficiaries|length }}</p>
                        </div>
                    {% endif %}
                    
                    <div class="sts-info-form">
                        <p class="sts-info-form__label">
                            {% if plan.product.codFrecPago is defined %}
                            <strong>{{ plan.product.codFrecPago == 5 ? 'Prima única: ': ( plan.product.codFrecPago == 4 ? 'Prima anual: ' : 'Prima mensual: ') }}</strong>
                            {% else %}
                            <strong>{% block tipoprima %}Prima mensual{% endblock %}:</strong>
                            {% endif %}
                        </p>
                        <p class="sts-info-form__text"><strong class="cyan">{{ insurance.price | monthly(uf.value) }} (UF {{ insurance.price | number_format(2, ',', '.') }})</strong></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
		
		<!-- Datos del Titular -->
		
        <div class="sts-block sts-block--small sts-block--icons">
			<div class="sts-animate--fadeIn">
				<span class="sts-block__header-icon sts--icons-primary"><i class="str-icon-oficina"></i></span>
			</div>
		  
			<div class="sts-block__body">
            <h3 class="sts-h3 sts-text-center sts-text-bold">Datos del titular</h3>
            <div class="sts-block__body-inner">
				<div class="sts-alert sts-alert--info2">
					<div class="row">
						<div class="col-sm-6">
							<div class="sts-info-form">
								<p class="sts-info-form__label"><strong>Nombre completo:</strong></p>
								<p class="sts-info-form__text">{{insurance.client.name}} {{insurance.client.lastname1}}</p>
							</div>

							<div class="sts-info-form">
								<p class="sts-info-form__label"><strong>Rut:</strong></p>
								<p class="sts-info-form__text">{{insurance.client.code | format_rut }}</p>
							</div>

							<div class="sts-info-form">
								<p class="sts-info-form__label"><strong>Dirección:</strong></p>
								<p class="sts-info-form__text">{{insurance.client.address}}</p>
							</div>

							<div class="sts-info-form">
								<p class="sts-info-form__label"><strong>Ciudad:</strong></p>
								<p class="sts-info-form__text">{{insurance.client.addressCity |capitalize }}</p>
							</div>

							<div class="sts-info-form">
								<p class="sts-info-form__label"><strong>Teléfono:</strong></p>
								<p class="sts-info-form__text">{{insurance.client.addressCellPhone | format_phone}}</p>
							</div>
						</div>

					  <div class="col-sm-6">


						<div class="sts-info-form">
							<p class="sts-info-form__label"><strong>Fecha de nacimiento:</strong></p>
							<p class="sts-info-form__text">{{insurance.client.birthday.date | date('d/m/Y') }}</p>
						</div>

						<div class="sts-info-form">
							<p class="sts-info-form__label"><strong>Región:</strong></p>
							<p class="sts-info-form__text">Metropolitana</p>
						</div>

						<div class="sts-info-form">
							<p class="sts-info-form__label"><strong>Comuna:</strong></p>
							<p class="sts-info-form__text">{{insurance.client.addressState |capitalize}}</p>
						</div>

						<div class="sts-info-form">
							<p class="sts-info-form__label"><strong>Email:</strong></p>
							<p class="sts-info-form__text">{{insurance.client.addressEmail}}</p>
						</div>
					  </div>
					</div>
              </div>
            </div>
			
			<!--Datos de la propiedad ha asegurar -->
			{% block orderextra %}{% endblock %}
			<!--Fin Datos de la propiedad ha asegurar -->
          </div>
		</div>
		<!--Fin datos Titular -->
		
		
		<!--PAGO -->
        {% set paidImg = 'logo-webpay.png' %}
        {% if insurance.product.patpass == 1 %}
            {% set paidImg = 'logo-credits.png' %}
        {% endif %}
		
        <div class="sts-block sts-block--small sts-block--icons">
            <div class="sts-animate--fadeIn">
                <span class="sts-block__header-icon sts--icons-primary"><i class="str-icon-acuerdos"></i></span>
            </div>

            <div class="sts-head-title no-margin-top">
                <h3 class="sts-h3 sts-text-center sts-text-bold">Forma de pago</h3>
            </div>

            <div class="sts-block__body-inner">
                <div class="sts-alert sts-alert--info2">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-4 col-xs-12">
                            <div class="sts-form--radio">
                                <input type="radio" id="transbank" name="" required="required" class="" value="1" checked="checked">
                                <label class="radio tbk" for="transbank">
                                    <span class="type_pay"><strong>Medio de Pago</strong></span>
                                    <span class="sts-form__checked"></span>
                                    <img src="{{ asset('assets/seguros/images/') ~ paidImg }}" alt="" />
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sts-head-title">
                <h3 class="sts-h3 sts-text-center sts-text-bold">Mandato de pago</h3>
            </div>

            <div class="sts-block__body">
                <div class="sts-block__body-inner">
                    <div class="sts-scroll--vertical">
                        <div class="sts-small-text"> 
                            <p>El presente mandato afecta al conjunto de pólizas y renovaciones contratadas con Zurich Santander Seguros de Vida Chile S.A. Durante la vigencia del mismo y autoriza a que las primas de dichas pólizas se paguen mediante la modalidad de PAT, es decir, el cargo se realizará en base a la autorización de descuento en tarjeta de crédito bancaria. El monto de la prima, su forma y modalidad de pago se encuentran insertas en las condiciones particulares de cada póliza. Asimismo, el presente mandato se podrá hacer efectivo para que el pago de las primas de dichas pólizas se pague mediante la modalidad de PAC, es decir, autorización de descuento en cuenta corriente. El monto de la prima, su forma y modalidad de pago, se encuentran insertos en las condiciones particulares de cada póliza. Conforme a lo anterior, por el presente instrumento otorgo un mandato mercantil al banco Santander-Chile, para cargar el valor de la prima de mi póliza de seguros contratadas con Zurich Santander Seguros de Vida Chile S.A. En cualquiera de mis cuentas corrientes y/o líneas de créditos, así como en cualquier tarjeta de crédito que se encuentre vigente en el banco. La duración de este mandato es por un plazo indefinido, sin perjuicio de que "el mandante" puede revocarlo en cualquier tiempo, notificando por escrito al banco con una anticipación mínima de 30 días corridos. Se deja constancia que este mandato se contrae directamente entre "el mandante" y el banco, quedando liberada "la compañía de cualquier responsabilidad, salvo en lo referido al suministro oportuno y correcto de la información del mandante al banco para los cobros respectivos, caso en el cual el banco quedará liberado de toda responsabilidad. El pago de la o las prima(s) deberá hacerse en la fecha señalada en la póliza respectiva a favor de Zurich Santander Seguros de Vida Chile S.A. En el evento de no disponer de fondos y/o crédito en la fecha señalada, autorizo al banco para debitar el valor de la prima convenida, tan pronto existan éstos disponibles, en cualquiera de las cuentas y medios de pago identificados con anterioridad. Faculto asimismo al banco para cargar en mi cuenta corriente, cuenta vista -, o en cualquier otra que el mandante mantuviera con el banco Santander Chile (incluyendo tarjetas de crédito), todos los gastos y comisiones que se generen en virtud de este mandato. El presente mandato no revoca y es complementario de otros anteriores conferidos al banco. El presente mandato podrá terminar por voluntad unilateral del banco, por cierre de la cuenta de cargo o de todas las cuentas corrientes, cuentas vistas que el contratante mantenga con el banco mandatario o por revocación por parte del cliente de los servicios señalados. Se entiende incorporadas al presente mandato todas las condiciones generales del uso del servicio de pago automático de cuentas a disposición del público en cada sucursal del banco señalado precedentemente. El Asegurado autoriza, en este acto, al Banco para que informe a la Compañía Aseguradora sobre sus datos personales de contacto, las actualizaciones y/o cualquier modificación de los mismos que él entregue u otorgue. Autoriza además a la Compañía a notificar a estas nuevas o diferentes direcciones informadas, ya sean físicas o electrónicas.</p>
                        </div>  
                    </div>

                    <div class="sts-alert sts-alert--info offset-bottom-1 no-border">
                        <span class="sts-alert__icons"><i class="str-icon-informacion"></i></span>
                        <div class="sts-alert__text">
                            <p>Recuerda que debes aceptar los términos y condiciones de las coberturas y exclusiones antes de contratar tu seguro.</p>
                        </div>
                    </div>

                    <div class="sts-form--checkbox sts-form--legal">
						<input id="autorizacion" type="checkbox" ng-model="autorizacion">
						<label for="autorizacion">
						  <span class="sts-form__checked"></span>
						  <span class="sts-form__label"></span>
						</label>
						
						<div class="sts-links-modal">
						  <a class="sts-text-links sts-color--base" href="" data-modal="autorizacion">Acepto las Coberturas y Exclusiones que se me han informado</a>
						</div>
					</div>
                </div>
            </div>
        </div>
		
		<div class="sts-btns">
          <a href="javascript:history.back(1);" class="sts-btn sts-btn--return"><i class="str-icon-flecha-izquierda"></i> <span>VOLVER</span></a>
          <button ng-disabled="!autorizacion" title="Ir al contratar seguro" class="sts-btn">
          Contratar seguro <i class="str-icon-flecha-derecha"></i></button>
        </div>
		
        <!--div class="sts-block sts-block--small">

          <div class="sts-block__body">
            <div class="sts-block__body-inner">
             

            </div>
          </div>
        </div-->
		
        <!--<div class="sts-block sts-block--small">
          <div class="sts-block--toggle">
            <a href="" class="sts-block--toggle__head">Términos legales <i class="str-icon-flecha-abajo"></i></a>
            <div class="sts-block--toggle__body">
              {{ insurance.product.textLegal  | raw  }}
            </div>
          </div> 
        </div>-->
		
        {% if transbank.token is defined %}
		<input type="hidden" name="token_ws" value="{{transbank.token}}">
        {% endif %}
	</div>
	</form>
	
	<div class="sts-modal" id="autorizacion">
		<div class="sts-modal__content">
		<a href="" data-modal="close" class="sts-modal__close"><i class="str-icon-cerrar2"></i></a>

		<div class="sts-autorizacion fixlegal">
			<div class="sts__autoriza">
                <h2 class="sts-h3 sts-text-bold offset-bottom-3">¿Qué cubre?</h2>
                {{ product.coverage | raw  }}
			</div>

			<div class="sts__autoriza">
                <h2 class="sts-h3 sts-text-bold offset-bottom-3 offset-top-3">¿Qué no cubre?</h2>
                {{ product.coverageNot | raw  }}
			</div>
		</div>
		</div>
	</div>
	<div class="sts-modal-backdrop" data-modal="close"></div>