<div class="sts-head-title">
   <h2 class="sts-head__title">Datos de Tarjeta para Pago</h2>
   <p class="sts-head__text">Todos los datos son obligatorios</p> 
</div>

<div class="sts-block sts-block--small">
	<div class="sts-form--small">
		<div class="sts-block__body-inner">
			<div class="sts-form" data-error="El número de tarjeta es requerido" data-invalid="El número de tarjeta no es válido">
			 {{ form_widget(form.patpass.cardNumber, { 'attr': {'ng-model':'patpass.cardNumber','class': 'sts-form__input input_cardnumber', 'rel':'required', 'minlength' : '19', 'maxlength': '19','cc-number': null ,'cc-type':'cardType',  'cc-eager-type': '', 'cc-format': ''}}) }}
			  <label for="">Número Tarjeta</label>
			  <span class="sts-form__line"></span>
			</div>
			<div class="sts-form--date" >
			  <label for="">Fecha de vencimiento</label>
			  
			  <div class="sts-parent-select" data-error="La fecha de expiración es requerida" >
				{{ form_widget(form.patpass.cardExpirationDate.day, {'attr': { 'style': 'display:none' } }) }}
				<div class="sts-form--select">
				  {{ form_widget(form.patpass.cardExpirationDate.month, { 'attr': {'ng-model': 'patpass.month', 'ng-init':'patpass.month=1', 'rel':'required', 'data-label': 'Tarjeta'} }) }}
				</div>

				<div class="sts-form--select">
				   {{ form_widget(form.patpass.cardExpirationDate.year, { 'attr': {'ng-model': 'patpass.year',  'ng-init':'patpass.year=2018', 'rel':'required'} }) }}
				
				</div>
               
			  </div>
			</div>
             <div class="sts-form">
                <div class="sts-form--select sts-form--parentesco" data-error="Seleccione un día de cargo">
                   
                    {{ form_widget(form.patpass.paymentDay,{ 'attr': {'ng-model': 'patpass.paymentday',  'ng-init':'patpass.paymentday=0', 'rel':'required'} }) }}
                    
                </div>
            </div>
		</div>
	</div>
</div>