	<div class="offset-top-3 offset-bottom-3">
        <h1 class="sts-h1 sts-text-bold sts-text-center offset-bottom-1">Seguro {% if plan.product.titleInternet is empty %} {{plan.product.title}} {% else %} {{plan.product.titleInternet}} {% endif %}</h1>
		<div class="sts-text-center sts-text-prima">{{plan.product.marketingText | raw }}</div>
    </div>
    <div class="sts-block sts-block--small">
        <div class="prima">
            <p class="sts-h3 sts-text-center sts-text-bold border-top offset-bottom-3">
                {% if plan.product.codFrecPago is defined %}
                    {{ plan.product.codFrecPago == 5 ? 'Valor pago único: ': ( plan.product.codFrecPago == 4 ? 'Valor pago anual: ' : 'Valor prima mensual: ') }}
                {% else %}
                    {% block period %} Valor prima mensual: {%endblock%}
                {% endif %}
                <span class="cyan">{{ price | monthly(uf.value) }} (UF {{ price | number_format(2, ',', '.') }})</span>
            </p>
        </div>
    </div>
    