{% extends "SeguroBundle::base.html.twig" %}
	{% block body %} 	
	{% embed "SeguroBundle::Front/wizard.html.twig" with {'step': '4', 'title': 'Comprobante' }%} {% endembed %}
	
	<div class="sts-block sts-block--small sts-block--icons">
          <div class="sts-animate--fadeIn">
            <span class="sts-block__header-icon sts--icons-primary"><i class="str-icon-aerror"></i></span>
          </div>

          <div class="sts-success sts-success--border">
            <p class="sts-h3">La contratación de la póliza ha sido rechazada</p>
          </div>
        </div>

        <div class="sts-block sts-block--small">
          
          <div class="sts-block__head">
            <h2 class="sts-text-regular"><span class="sts-alert__icons sts-bg-color--secondary"><i class="str-icon-informacion"></i></span> Transacción rechazada Nº {% if insurance.id is defined %}{{ insurance.id }}{% endif %}</h2>
          </div>

          <div class="sts-block__body">

            <div class="sts-block__body-inner sts-border">

              <div class="row-fluid overflow">
                <div class="col-sm-6">
                  <div class="sts-info-form">
                    <p class="sts-info-form__text"><strong>Error de ingreso</strong></p>
                    <p class="sts-info-form__label">Puede existir un error en el ingreso de tu Tarjeta de Crédito o Débito (Fecha y/o código de seguridad).</p>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="sts-info-form">
                    <p class="sts-info-form__text"><strong>Cupo</strong></p>
                    <p class="sts-info-form__label">Tu Tarjeta de Crédito o Débito no cuenta con el cupo necesario para cancelar la compra.</p>
                  </div>
                </div>

              </div>

              <div class="row-fluid overflow">
                <div class="col-sm-6">
                  <div class="sts-info-form">
                    <p class="sts-info-form__text"><strong>Validez</strong></p>
                    <p class="sts-info-form__label">Tarjeta áun no habilitada en el sistema financiero.</p>
                  </div>
                </div>

                <div class="col-sm-6">
                </div>

              </div>
            </div>
          </div>
        </div>


        <!-- div class="sts-block sts-block--small sts-hide-print">
          <div class="sts-promo">
            <div class="sts-promo__icons">
              <a target="_blank" class="sts-wrap-icons" href="https://www.santander.cl/seguros/index.asp" title="Ver Seguro de Vida">
                  <span class="sts-icon sts-icon--vida"><i class="str-icon-seguros-vida"></i></span>
                  <p>Vida</p>
              </a>    

              <a target="_blank" class="sts-wrap-icons" href="https://www.santander.cl/seguros/index.asp" title="Ver Seguro de Salud">
                  <span class="sts-icon sts-icon--salud"><i class="str-icon-s-urgencia"></i></span> 
                  <p>Salud</p>
              </a>

              <a target="_blank" class="sts-wrap-icons" href="https://www.santander.cl/seguros/index.asp" title="Ver Seguro de Viaje">
                  <span class="sts-icon sts-icon--viajes"><i class="str-icon-viajes"></i></span>
                  <p>Viajes</p>
              </a>

              <a target="_blank" class="sts-wrap-icons" href="https://www.santander.cl/seguros/index.asp" title="Ver Seguro de Fraude">
                  <span class="sts-icon sts-icon--fraude"><i class="str-icon-s-fraude"></i></span>  
                  <p>Fraude</p>
              </a>
            </div>

            <div class="sts-promo__text">
              <h5>¿Quieres otro seguro?</h5>
              <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa</p>
            </div>
          </div>
        </div-->

        
        <div class="sts-btns--center sts-hide-print">
          <a target="_blank" href="https://www.santander.cl" title="Volver al home" class="sts-btn sts-btn--second">Volver al home</a>
        </div>
{% endblock %}