        <div class="sts-block sts-block--small sts-block--icons">
            <div class="sts-animate--fadeIn">
             <span class="sts-block__header-icon sts--icons-primary"><i class="str-icon-oficina"></i></span>
           </div>
           
            <div class="sts-text-center offset-bottom-3">
                <div class="sts-h3 sts-text-center sts-text-bold"> Datos del titular</div>
                <div class="sts-head__text"><small>Todos los datos son obligatorios</small></div>
            </div>
           
        
		  <div class="sts-form--small">
			{% set error = app.session.flashbag.get('error') %}
			{% if  error is not empty %}
			<div class="sts-alert sts-alert--alert fix-top" >
				<span class="sts-alert__icons"><i class="str-icon-alert"></i></span>
				{% for flashMessage in error %}
					 <div class="sts-alert__text">
						<p>{{ flashMessage }}</p>
					  </div>
				{% endfor %}
			</div>
			{% endif %}
			
			<div class="sts-form" data-error="El nombre es requerido">
			 {{ form_widget(form.client.name, { 'attr': {'ng-model':'user.name','class': 'sts-form__input sts-alpha', 'rel':'required', 'only-text': '' } }) }}
			  <label for="">Nombre</label>
			  <span class="sts-form__line"></span>
			</div>
			
			<div class="sts-form" data-error="El apellido paterno es requerido">
			 {{ form_widget(form.client.lastname1, { 'attr': {'ng-model':'user.lastname1','class': 'sts-form__input sts-alpha', 'rel':'required', 'only-text': '' } }) }}
			  <label for="">Apellido Paterno</label>
			  <span class="sts-form__line"></span>
			</div>
			
			<div class="sts-form" data-error="El apellido materno es requerido">
			 {{ form_widget(form.client.lastname2, { 'attr': {'ng-model':'user.lastname2','class': 'sts-form__input sts-alpha', 'rel':'required', 'only-text': '' } }) }}
			  <label for="">Apellido Materno</label>
			  <span class="sts-form__line"></span>
			</div>

			<div class="sts-form" data-error="El rut debe ser válido"> 
			  {{ form_widget(form.client.code, { 'attr': {'ng-model':'user.code', 'ng-rut':'','maxlength':'12','rut-format':'live','class': 'sts-form__input', 'rel':'required'} }) }}
			  <label for="">Rut</label>
			  <span class="sts-form__line"></span>
			</div>
			
			{% if  rulesage['start'] is defined and rulesage['end'] is defined  %}
			<div class="sts-alert sts-alert--alert fix-top ng-cloak" ng-if="rules.age" >
			  <span class="sts-alert__icons"><i class="str-icon-alert"></i></span>
			  <div class="sts-alert__text">
				<p>Según el plan seleccionado el rango de tu edad debe estar entre {{ rulesage['start'] }} a {{rulesage['end']}} años.</p>
			  </div>
			</div>
			{% else %}
			<div class="sts-alert sts-alert--alert fix-top ng-cloak" ng-if="rules.age" >
			  <span class="sts-alert__icons"><i class="str-icon-alert"></i></span>
			  <div class="sts-alert__text">
				<p>Según el plan seleccionado el rango de tu edad debe estar entre {{ plan.product.ageMin }} a {{plan.product.ageMax}} años.</p>
			  </div>
			</div>
			{% endif %}

			<div class="sts-form--date">
			  <label for="">Fecha de nacimiento</label>
			   
			  <div class="sts-parent-select"  data-error="La fecha de nacimiento es requerida">
				<div class="sts-form--select">
				  {{ form_widget(form.client.birthday.day, { 'attr': {'ng-model': 'user.birthday.day',  'ng-init': ('selectInit("user.birthday.day","" )'), 'rel':'required','class':'sts-form--dia'} }) }}
				</div>
			
				<div class="sts-form--select">
				  {{ form_widget(form.client.birthday.month, { 'attr': {'ng-model':'user.birthday.month', 'ng-init': ('selectInit("user.birthday.month","")'),
                  'rel':'required', 'class':'sts-form--mes'} }) }}
				</div>
				<div class="sts-form--select">
                    
				   {{ form_widget(form.client.birthday.year, { 'attr': {'ng-model': 'user.birthday.year', 'ng-change':'isAgePlan()',  
                   'ng-init': ('selectInit("user.birthday.year","")'), 'rel':'required','class':'sts-form--anio'} }) }}
				
				</div>
			  </div>
			</div>

			<!--<div class="sts-alert sts-alert--alert ng-cloak" ng-if="error.birthday">
				<span class="sts-alert__icons"><i class="str-icon-alert"></i></span>
				<div class="sts-alert__text">
					<p>Debe tener mayor de 18 años.</p>
				</div>
			</div>-->

			<div class="sts-form" data-error="La dirección es requerida">
			  {{ form_widget(form.client.address, { 'attr': {'ng-model':'user.address', 'class': 'sts-form__input', 'rel':'required', 'only-alphanumeric': ''} }) }}
			  <label for="">Dirección</label>
			  <span class="sts-form__line"></span>
			</div>
			
			<div class="sts-form--select" data-error="La ciudad o provincia es requerida">
				<label for="" style="display:none">Ciudad</label>
			   {{ form_widget(form.client.addressCity, { 'attr': { 'rel':'required', 'ng-model':'user.addressCity', 'ng-init':' selectInit("user.addressCity")'  , 'ng-change':'user.addressState=0'} }) }}
			</div>
            
			<div class="sts-form--select" data-error="La comuna es requerida">
				<label for="" style="display:none">Comuna</label>
				
				{{ form_widget(form.client.addressState, { 'attr': { 'rel':'required','ng-model':'user.addressState', 'ng-init': 'selectInit("user.addressState")'} }) }}
			</div>
			
			<div class="sts-form sts-form--phone sts-form--active" data-phone="+56"  data-error="El teléfono es inválido">
				<label for="" style="display:none">Teléfono</label>
				{{ form_widget(form.client.addressCellphone, {  'attr': {'ng-minlength':'9', 'ng-model':'user.addressCellphone', 'maxlength':'10', 'class': 'sts-form__input telefono', 'rel':'required'} }) }}
				<span class="sts-form__line"></span>
			</div>

			<div class="sts-form"  data-error="El email es inválido">
			 {{ form_widget(form.client.addressEmail, { 'attr': {'class': 'sts-form__input', 'rel':'required','ng-model':'user.addressEmail' } }) }}
			  <label for="">Email</label>
			  <span class="sts-form__line"></span>
			</div>
			<div class="sts-form-wrap">
			  <label class="sts-text-small">¿Quieres que te enviemos el certificado a tu domicilio?</label>
			  
			  <div class="sts-form--inline"  data-error="El envio del certificado es requerido">
				{{form_widget(form.client.addressSend, { 'attr': {  'rel':'required',  'ng-model':'user.addressSend'} } )}}
			  </div>
			</div>
			{#{form_widget(form.plan )}#}
			{% block extra_field %}{% endblock %}
		  </div>
		</div>
