<div data-step="{% if step is defined %}{{ step }}{% else %}1{% endif %}" ng-class="step == {% if step is defined %}{{ step }}{% else %}1{% endif %} ? 'ng-block': 'hidden'">
	<div class="{% if step is defined %}{% if step != '1' %}ng-cloak {% endif %}{% endif %}ng-block-step" >
		{% block container %}
		{% endblock %}
	</div>
</div>