<form action="{{ url }}" method="post" id="webpay" name="webpay">
    <input type="hidden" name="token_ws" value="{{ token }}">
</form>
<script>document.getElementById('webpay').submit();</script> 