<div class="sts-wizard" data-current="{% if step is defined %}{{ step }}{% else %}1{% endif %}" data-pasos="4">
    <div class="sts-wizard__left">
        <div class="sts-wizard__dots">{% if step is defined %} {{ step }} {% else %} 1 {% endif %}</div>
        <div class="sts-wizard__label">{% if title is defined %} {{ title }} {% else %} Ingresa tus datos {% endif %}</div>
    </div>

    <div class="sts-wizard__right">
        <div class="sts-wizard__status">
            Paso 
            <span class="sts-current">
                {% if step is defined %}
                    {{ step }}
                {% else %} 
                    1 
                {% endif %}
            </span>/<span class="sts-pasos"></span>
        </div>
    </div>
    
    <ul class="sts-barra">
        <li class="active">&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
        <li>&nbsp;</li>
    </ul>
</div>