._s-button {
    &--hover:hover {
        background: #ec0000;
        color: #ffffff;
    }
    &--disabled {
        display: none;
    }
    &--disabledGrey {
        background: #c2c2c2;
        color: #ffffff;
    }
}