._s-input__border--disabled {
    border-bottom: 1px dashed #c8ccd4;
}

._s-input__border--error {
    border-bottom: solid 2px $errorColor;
}

._s-input__message--error {
    color: #ec0000;
    opacity: 1;
}

._s-input__suffix {
    &--disabled {
        opacity: .5;
    }
}

input[type='text']{
    &:not(:placeholder-shown) + span {
        color: #5a667f;
        font-size: 12px;
        transform: translateY(-10px) scale(1);
    }
    &:focus {
        background: none;
        outline: none;
        border-bottom: 2px solid #1bb3bc;
    }
    &:focus + span {
        color: #444444;
        font-size: 12px;
        transform: translateY(-10px) scale(1);
    }
    &:not(:placeholder-shown) ~ span._input__prefix {
        display: block;
    }
    &:focus ~ span._input__prefix {
        display: block;
    }
    &._input__phone {
        padding-left:40px;
    }
    &:not(:disabled):hover {
        border-bottom-width: 2px;
        border-bottom-color: #444444;
    }
}

input[type='checkbox'] {
    &:disabled {
        background: #ccc;
    }
}
