.s-modal {
    &--info {
        background-color: #1bb3bc;
    }

    &--danger {
        background-color: #ec0000;
    }

    &--warning {
        background-color: #e59d27;
    }

    &--separate {
        border-top: 1px solid #dddddd;
        margin-top: 24px;
    }

    &--center {
        margin-top: 25vh;
    }

    &--top {
        margin-top: 5%;
    }

    &--t-center {
        text-align: center;
    }

    &--large {
        height: 635px;
    }

    &--small {
        height: 251px;
    }
}

@media screen and (max-width: 768px)  {
    .s-modal {
        &--top {
            margin-top: 8vh;
        }
        
        &--large {
            height: auto;
            padding-bottom: 20px;
        }
    }
}