._s-tabs {
    &--active {
        color: #ec0000;
        border-bottom: solid 4px $colorRed;
        font-weight: bold;
    }
    &__content {
        &--active {
            display: block;
        }
        &--disabled {
            display: none;
        }
    }
}