._s-text-error {
    color: $errorColor;
}

._input__text {
    &--valid {
        + span {
        color: #5a667f;
        font-size: 12px;
        transform: translateY(-10px) scale(1);
        }
        ~ span._input__prefix {
            display: block;
        }
    }
}
