.layout {
  // background: #fff;
  // border: 1px solid #ccc;
  // box-shadow: 0 2px 4px 0 rgba(25, 25, 25, 0.1);
  // margin: 5px auto;
  margin: 16px auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(25, 25, 25, 0.1);
  background-color: #ffffff;
  
  &_section_barProgress {
    &__content {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 60px;
      justify-content: space-between;
      padding-left: 16px;
      padding-right: 16px;

      &__title {
        color: #444;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        font-weight: bold;
        height: 24px;
        letter-spacing: normal;
        line-height: 1.5;

        &__circle {
          align-items: center;
          border: 2px solid #1bb3bc;
          border-radius: 50%;
          color: #1bb3bc;
          display: inline-flex;
          font-size: 16px;
          font-stretch: normal;
          font-style: normal;
          font-weight: bold;
          height: 24px;
          justify-content: center;
          letter-spacing: normal;
          line-height: 1.5;
          margin-right: 11px;
          text-align: center;
          width: 24px;
        }
      }

      &__steps {
        color: #444;
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        height: 20px;
        letter-spacing: normal;
        line-height: 1.43;
        text-align: right;
      }
    }

    &__progress {
      display: flex;
      height: 5px;
      justify-content: space-between;

      .step {
        background-color: #c2c2c2;
        height: 100%;
        width: 180.5px;

        &:first-child {
          border-bottom-left-radius: 3px;
        }

        &:last-child {
          border-bottom-right-radius: 3px;
        }

        &--active {
          background-color: #1bb3bc;
        }
      }
    }
  }
}

._l-base {
  &__section {
    // background: #fff;
    // border: 1px solid #dddddd;
    // border-radius: 4px;
    // box-shadow: 0 2px 4px 0 rgba(25, 25, 25, 0.1);
    // margin: 5px auto;
    margin: 16px auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(25, 25, 25, 0.1);
    background-color: #ffffff;
  }
}
