._l-grids {
    &--col {
        margin-bottom: 15px;
        min-height: 50px;
    }
    &--without-margin {
        margin-left: -25px;
    }
    &__section {
        &__margin {
            margin-bottom: 30px;
        }
    }
}

._l-grids-row {
    display: flex;
}

._l-grids-col {
    display: inline-flex;
    &__vertical {
        flex-direction: column;
    }
}