{% extends "SeguroBundle::base.html.twig" %}
{% form_theme form with 'SeguroBundle:Form:formulario_widget.html.twig' %} 
{% block body %} 
	{% embed "SeguroBundle::Front/form.html.twig" %}
		{% block extra_field %}{% endblock %}
		{% block container %}
			{% embed "SeguroBundle::Front/steps.html.twig" with { "step" : "1" }%}
				{% block container %}
					{% embed "SeguroBundle::Front/register.html.twig" %} {% endembed %}
				{% endblock %}
			{% endembed %}
			{% embed "SeguroBundle::Front/steps.html.twig" with { "step" : "2" }%}
				{% block container %}
					{% embed "SeguroBundle::Insured/cargas.html.twig"   %} {% endembed %}
				{% endblock %}
			{% endembed %}
			{% embed "SeguroBundle::Front/steps.html.twig" with { "step" : "3" }%}
				{% block container %}
					{% embed "SeguroBundle::Insured/declaracion.html.twig"   %} {% endembed %}
				{% endblock %}
			{% endembed %}
			{% if form.patpass is defined %}
				{% embed "SeguroBundle::Front/steps.html.twig" with { "step" : "4" }%}
					{% block container %}
						{% embed "SeguroBundle::Front/patpass.html.twig" %} {% endembed %}
					{% endblock %}
				{% endembed %}
			{% endif %}
		{% endblock %}
	{% endembed %}
{% endblock %}