{% extends "SeguroBundle::base.html.twig" %}
{% form_theme form with 'SeguroBundle:Form:formulario_widget.html.twig' %} 
{% block body %} 
	{% embed "SeguroBundle::Front/form.html.twig" %}
		{% block period %}Valor pago anual:{% endblock %}
		{% block container %}
			{% embed "SeguroBundle::Front/steps.html.twig" with { "step" : "1" }%}
				{% block container %}
					{% embed "SeguroBundle::Front/register.html.twig" %}
						{% block extra_field %}
							
							<div class="sts-form-wrap">
							  <label class="sts-text-small">¿Cuándo comienza el viaje?</label>
							   
							  <div class="sts-form sts-form--calendar" data-error="El campo cuando comienza el viaje es requerido">
								<i class="str-icon-calendario"></i>
								{{form_widget(form.traveldate, {'attr': {  'ng-model':'user.travelDate', 'rel':'required', class :'sts-form__input sts-datepicker', 'id' : 'datepicker', 'readonly': 'readonly'} } )}}
                                <span class="sts-form__line"></span>  
							  </div>
                              
							</div>
						{% endblock %}
					{% endembed %}
				{% endblock %}
			{% endembed %}
			{% embed "SeguroBundle::Front/steps.html.twig" with { "step" : "2" }%}
				{% block container %}
					{% embed "SeguroBundle::Insured/cargas.html.twig"  with { 'capital': 'true' } %} {% endembed %}
				{% endblock %}
			{% endembed %}
			{% if form.patpass is defined %}
				{% embed "SeguroBundle::Front/steps.html.twig" with { "step" : "3" }%}
					{% block container %}
						{% embed "SeguroBundle::Front/patpass.html.twig" %} {% endembed %}
					{% endblock %}
				{% endembed %}
			{% endif %}
		{% endblock %}
	{% endembed %}
{% endblock %}