{% extends "SeguroBundle::base.html.twig" %}

{% block googleoptimize %}
 <!-- Anti-flicker snippet (recommended)  -->
  <style>.async-hide { opacity: 0 !important} </style>
  <script>(function(a,s,y,n,c,h,i,d,e){s.className+=' '+y;h.start=1*new Date;
  h.end=i=function(){s.className=s.className.replace(RegExp(' ?'+y),'')};
  (a[n]=a[n]||[]).hide=h;setTimeout(function(){i();h.end=null},c);h.timeout=c;
  })(window,document.documentElement,'async-hide','dataLayer',4000,
  {'GTM-WZ9RLQW':true});</script>
  <!-- Global site tag (gtag.js) - Google Analytics --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1166545-3"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-1166545-3', { 'send_page_view':false, 'optimize_id': 'GTM-WZ9RLQW'}); </script> 
 
{% endblock %}

{% form_theme form with 'SeguroBundle:Form:formulario_widget.html.twig' %} 
{% block body %} 
	{% embed "SeguroBundle::Front/form.html.twig" %}
		{% block period %}Valor pago único:{% endblock %}
		{% block container %}
			{% embed "SeguroBundle::Front/steps.html.twig" with { "step" : "1" }%}
				{% block container %}
					{% embed "SeguroBundle::Front/register.html.twig" %} 
						{% block extra_field %}
							
							<div class="sts-form-wrap">
							  <label class="sts-text-small">¿Cuándo comienza el viaje?</label>
							   
							  <div class="sts-form sts-form--calendar" data-error="El campo cuando comienza el viaje es requerido">
								<i class="str-icon-calendario"></i>
								{{form_widget(form.traveldate, {'attr': {  'ng-model':'user.travelDate', 'rel':'required', class :'sts-form__input ', 'readonly': 'readonly'} } )}}
							  </div>  
							</div>
						{% endblock %}
					{% endembed %}
				{% endblock %}
			{% endembed %}
			{% embed "SeguroBundle::Front/steps.html.twig" with { "step" : "2" }%}
				{% block container %}
					{% embed "SeguroBundle::Insured/cargas.html.twig" %} {% endembed %}
				{% endblock %}
			{% endembed %}
			{% if form.patpass is defined %}
				{% embed "SeguroBundle::Front/steps.html.twig" with { "step" : "3" }%}
					{% block container %}
						{% embed "SeguroBundle::Front/patpass.html.twig" %} {% endembed %}
					{% endblock %}
				{% endembed %}
			{% endif %}
		{% endblock %}
	{% endembed %}
{% endblock %}