{% extends 'form_div_layout.html.twig' %}

{% block choice_widget_expanded %}
{% spaceless %}
<div {{ block('widget_container_attributes') }}>
{% for child in form %}
 <div class="sts-form--radio">
    
	{{ form_widget(child, {'attr': {'class': attr.widget_class|default(''), 'ng-model': attr["ng-model"] }}) }}
	<label class="{{ (multiple ? 'checkbox' : 'radio')  }}" for="{{child.vars.id}}">
		<span class="sts-form__checked"></span>
		<span class="sts-form__label">{{ child.vars.label|trans({}, translation_domain) }}</span>
    </label>
</div>
{% endfor %}
</div>
{% endspaceless %}
{% endblock choice_widget_expanded %}  

{% block _home_address_state_widget %}

	{% spaceless %}
         {{ form_widget(form) }}
	{% endspaceless %}
{% endblock  _home_address_state_widget %}


{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input  type="{{ type }}"  {% if attr["ng-model"] is defined and value is not empty %}ng-init="{{attr["ng-model"]}} ='{{ value }}'"{% endif %} {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple -%}
        {% set required = false %}
    {%- endif -%}
    
    <select {% if attr["ng-model"] is defined and value is not empty %}ng-model="{{attr["ng-model"]}}"{% endif %}  {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? placeholder|trans({}, translation_domain) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}


