._m-container-header {
    display: flex;
    border-bottom: solid 1px #DDDDDD;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;

    &__col {
        display: inline-flex;
    }
    &__content {
        flex-direction: column;
    }
    &__icon {
        min-width: 38px;
        min-height: 10px;
        max-width: 38px;
        width: 38px;
    }
}