._m-container-abstract {
    display: flex;
    padding: 16px 100px;
    padding-bottom: 30px;

    &__text {
        &__overtitle {
            font-size: 10px;
            font-weight: 600;
            color: #666666;
        }

    }

    &__section {
        margin-bottom: 30px;
        &__first {
            margin-bottom: 40px;
        }

        &__seconds {
            margin-bottom: 0px;
        }

        &__amount {
            width: 257px;

            &__icon {
                margin-right: 16px;
                margin-top: 22px;
            }
        }

        &__uf {
            text-align: right;
            width: 257px;
        }

        &__slide {
            width: 390px;
        }

        &__range-details {
            display: flex;
            justify-content: space-between;
            & > span {
                color: #666666;
                margin-top: -5px;
            }
        }
    }
}