._m-dps-choise {
    &__subtitle {
        margin-bottom: 30px;
    }
    &__choise {
        & > div {
            border-bottom: 1px dashed #dddddd;
            height: 60px;
        }        

        & span {
            display: inline-block;
            margin-right: 30px;

            & > input {
                margin-right: 10px;
            }
        }
    }
}