._m-dps-body-index {
    &__subtitle {
        margin-bottom: 10px;
    }
    &__index {
        text-align: center;
        padding-top:40px;

        &__description {
            font-size: 10px;
            font-weight: 600;
            line-height: 18px;
            text-align: center;
            color: #666666;
        }
    }
}