.msg
{
    height: 68px;
    background-color: #ddf4f5;
    &-info
    {
        border-radius: 4px;
        -webkit-border-radius: 4px;
        background-color: #ddf4f5;
        @include textNormal();
        @include bodyText();
        & > .container {
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }

    &__warning {
        border-radius: 4px;
        -webkit-border-radius: 4px;
        background-color: #f8f0df;
        @include textNormal();
        @include bodyText();
        & > .container {
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }
}

.just-padding-left-25 {
    padding-left: 25px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}