input[type=range] {
  height: 2px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-image:linear-gradient(to right, #ec0000 calc(var(--value)*1%), #D8D8D8 0);
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #EC0000;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #EC0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #EC0000;
  height: 16px;
  width: 16px;
  border-radius: 10px;
  background: #EC0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}

input[type=range]::-moz-range-thumb{
  border: 1px solid #EC0000;
  height: 14px;
  width: 14px;
  border-radius: 16px;
  background: #EC0000;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}

@supports (-ms-ime-align:auto) {
  input[type=range] {
    height: 30px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    overflow: hidden;
    background-image: none;
    position: relative;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-ms-thumb {
    margin-top: 1px;
    height: 14px;
    width: 14px;
    border-radius: 15px;
    background: #EC0000;
    cursor: pointer;
  }
  
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-ms-fill-lower {
    background: #EC0000;
  }
  input[type=range]::-ms-fill-upper {
    background: #D8D8D8;
  }

  input[type=range]:focus::-ms-fill-lower {
    background: #EC0000;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #D8D8D8;
  }
}