._m-summary {
  &__header {
    background-color: #6d6d6d;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #ffffff;
    font-size: 14px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 2;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    text-transform: uppercase;
  }

  &--grey {
      background: #F9F9F9;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
  }

  &--border-top {
    border-top: 1px solid #e6e6e6;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__body {
    padding-bottom: 16px;
    padding-top: 16px;

    &__insured,
    &__insurance,
    &__consolidated {
      display: grid;

      .title {
        color: #444;
        font-size: 14px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 600;
        padding-right: 25px;
        letter-spacing: normal;
        line-height: normal;
      }
    }

    .other-insurance {
      .cancel-insurance {
        background-color: #c2c2c2;
        border-radius: 50%;
        height: 13px;
        margin-top: 3px;
        padding: 0;
        position: absolute;
        right: 30px;
        width: 13px;

        > i {
          color: #fff;
          font-size: 6px;
          margin-left: 3px;
          pointer-events: none;
          position: absolute;
          top: 3px;
        }
      }

     
    }

    &__insured {
      .name {
        color: #444;
        font-size: 14px;
        font-stretch: normal;
        font-style: italic;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 1.43;
      }
    }

    &__insurance {
      .information {
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        letter-spacing: normal;
        line-height: 1.67;

        .uf {
          color: #1bb3bc;
          font-size: 14px;
          font-weight: bold;
        }

        .clp {
          color: #444;
          font-size: 12px;
        }
      }
    }

    &__consolidated {
      text-align: center;

      .title {
        font-stretch: normal;
        font-style: normal;
        height: 28px;
        padding-right: 0px;
        letter-spacing: normal;
        line-height: 2;
        text-align: center;
        text-transform: uppercase;
      }

      .total-uf {
        color: #abc111;
        font-size: 32px;
        font-stretch: normal;
        font-style: normal;
        font-weight: bold;
        letter-spacing: normal;
        line-height: 1.75;
      }

      .total-clp {
        color: #444;
        font-size: 16px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        height: 22px;
        letter-spacing: normal;
        line-height: 1.25;
        text-align: center;
      }

      .description {
        color: #6d6d6d;
        font-size: 12px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        height: 20px;
        letter-spacing: normal;
        line-height: 1.67;
        text-align: center;
      }
    }
  }

  &__sticky {
    position: -webkit-sticky; 
    position: sticky; 
    top: 0;
    margin-bottom: 20px;
  }

  
}
