._m-tabs {
    display: flex;
    flex-direction: column;
    &__title {
        margin-bottom: 16px;
    }
    &__headers {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        width: 100%;
        padding: 0px;
        box-shadow: 0 2px 4px 0 rgba(25, 25, 25, 0.1);
        margin:0px;
        &__tab {
            min-width: 33%;
            text-align: center;
            align-items: center;
            height: 56px;
            padding-top: 21px;
        }
    }
    &__contents {
        width: 100%;
        display: inline-flex;
        flex-direction: column;
        &__header {
            padding-bottom: 20px;
            border-bottom: solid 1px #dddddd;
            padding-top: 20px;
            padding-left: 16px;
            padding-right: 16px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        &__content {
            border-bottom: solid 1px #dddddd;
            padding: 16px;
            font-size: 12px;
            line-height: 18px;
        }
    }
}