@font-face {
    font-family: 'Santander-Text-Bold';
    src: url('../font/SantanderText-Bold.woff2') format('woff2'),
        url('../font/SantanderText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Santander-Text-Light';
    src: url('../font/SantanderText-Light.woff2') format('woff2'),
        url('../font/SantanderText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Santander-Text-ExtraBold';
    src: url('../font/SantanderTextExtraBold.woff2') format('woff2'),
        url('../font/SantanderTextExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Santander-Text';
    src: url('../font/SantanderText-Regular.woff2') format('woff2'),
        url('../font/SantanderText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Santander-Icon';
    src: url('../font/SantanderIcon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
i.icon {
    font-family: 'Santander-Icon';
    color: #ec0000;
    font-style: normal;
    font-size: 22px;
    line-height: 1;
}

i.icon-down:before {
    content: "\e900";
    position: absolute;
    right: 15px;
    cursor: pointer;
}
i.icon-up:before {
    content: "\e901";
    position: absolute;
    right: 15px;
    cursor: pointer;
}
i.icon-next {
    font-size: initial;
    position: relative;
    width: 14px;
    height: 14px;
    display: inline-block;
    font-size: 16px;

}
i.icon-next:before {
    content: "\e902";
    color: #fff;
    position: absolute;
    top: 2px;
    left: 0;
}
i.icon-info:before {
    content:"\e903";
    color:#1BB3BC;
    margin-right: 10px;
    vertical-align: bottom;
}
i.icon-download:before {
    content:"\e904";
    margin-right: 10px;
    font-weight: normal;
    vertical-align: bottom;
}
body {
    font-family: 'Santander-Text';
    font-size: 16px;
    letter-spacing: 0;
    line-height: 23px;
    color: #4D4D4D;
    background:#F5F9FB;
} 
p {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 20px;    
}
p strong {
    color: #767676;
    font-weight: 500;
}
.box-legal {
    max-width: 753px;
    font-size: 14px;
}
.box-legal p {
    font-size: 14px;
}
.pol-w {
    max-width: 752px;
}
.box-confirmation {
    max-width: 753px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
    margin-bottom: 24px;
}
    .box-confirmation h2 {
        padding-top: 14px;
        padding-bottom: 10px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 28px;
        text-align: center;
        font-family: 'Santander-Text-Bold';
    }
    .box-confirmation .p-90{
        padding-left:90px;
        padding-right: 90px;
    }

    .box-confirmation h3 {
        height: 23px;
        color: #4D4D4D;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 23px;
    }
    .box-confirmation h4{
        color: #767676;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
    }
    .box-confirmation .box-sub {
        box-sizing: border-box;
        border: 1px solid #1BB3BC;
        border-radius: 100px;
        color: #1BB3BC;
        font-size: 14px;
        letter-spacing: 0;
        text-align: center;
        padding: 0 12px;
        display: inline-block;
    }
    .box-confirmation .box-download a,
    .box-confirmation .box-download a:hover {
        color: #EC0000;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        text-decoration: none;
        line-height: 20px;
    }
.box-pol{
    max-width: 753px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
    margin-bottom: 90px;
}
.box-pol-content {
    padding-top:20px;
}
    .box-pol-content h3 {
        height: 23px;
        color: #4D4D4D;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 23px;
    }
    .box-pol-content h4{
        color: #767676;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
    }
    .box-pol-content  .border-bottom {
        border-bottom: 1px solid #DEEDF2;
    }
    .box-pol-content  .border-top {
        border-top: 1px solid #DEEDF2;
    }
.box-pol-title{
    color: #4D4D4D;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 23px;
    box-sizing: border-box;
   
    border-bottom:  1px solid #DEEDF2;
}
    .box-pol-title h2 {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin:0px;
    }
.box-pol-terms {
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
}
    .box-pol-terms  h3{
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 20px;
    }
.container .box-toogle  {
    border-bottom: 1px solid #DEEDF2;
    border-top: 1px solid #DEEDF2;
   
}
.box-btn {
    border-top: 1px solid #DEEDF2;
    padding-top:30px;
    padding-bottom: 30px;
}
    .box-btn .btn-pol {
        border-radius: 100px;
        background-color: #EC0000;
        font-size: 14px;
        color:#fff;
        padding-left:22px;
        padding-right: 22px;
    }
    .box-btn .btn-pol-reject {
        border-radius: 100px;
        background-color: #fff;
        font-size: 14px;
        color:#EC0000;
        padding-left:22px;
        padding-right: 22px;
        border: 1px solid #EC0000;
        font-weight: bold;
    }
    .box-btn .btn.disabled,.box-btn .btn:disabled{
        background-color: #C2C2C2;
        color:#fff;
    }

.box-back {
    text-align: center;
    color: #EC0000;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    margin-bottom: 24px;
}
.box-back .btn-back {
    box-sizing: border-box;
    height: 36px;
    border: 1px solid #999999;
    border-radius: 100px;
    background-color: #FFFFFF;
    color: #EC0000;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
    padding-left:24px;
    padding-right: 24px;
}
.box-pol-terms p{
    font-size: 10px;
}
.box-pol-terms .box-details{
    margin-top: 20px;
}

.box-pol-modal {
    color:#444444;
}
    .box-pol-modal p {
        font-size: 16px;
    }
    .box-pol-modal  h5 {
      
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        font-family: 'Santander-Text-Bold';
    }
   .box-pol-modal .modal-footer .btn-pol {
        border-radius: 100px;
        background-color: #EC0000;
        font-size: 14px;
        color:#fff;
        padding-left:84px;
        padding-right: 84px;
    }
    .box-pol-modal strong {
        font-weight: bold;
    }
    .box-pol-modal .modal-dialog {
        max-width: 680px;
        margin: 30px auto;
    }
    
    .box-pol-modal .modal-dialog .close {
        display: none;
    }
    

.pol-footer {
    max-width: 821px;
    border-top: 1px solid #767676;
    color: #444444;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 17px; 
    text-align: justify;
    margin-top:54px !important;
}

.pol-footer p {
    color: #444444;
    font-size: 12px;
}

.box-information {
    border-radius: 4px;
    background-color: #DDF4F5;
    background: #DDF4F5;
} 
    .box-information p{
        font-size: 12px;
    }

    .box-information i.icon-info:before {
        line-height: 20px;
    }
.box-error {
    max-width: 753px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
    margin-bottom: 24px;
}
    .box-error h2 {
        padding-top: 16px;
        padding-bottom: 16px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 28px;
        text-align: center;
        font-family: 'Santander-Text-Bold';
    }
    .box-error .p-90{
        padding-left:90px;
        padding-right: 90px;
    }

    .box-error h3 {
        height: 23px;
        color: #4D4D4D;
        font-size: 16px;
        letter-spacing: 0;
        line-height: 23px;
    }
    .box-error h4{
        color: #767676;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
    }
    .box-error .box-sub {
        box-sizing: border-box;
        border: 1px solid #1BB3BC;
        border-radius: 100px;
        color: #1BB3BC;
        font-size: 14px;
        letter-spacing: 0;
        text-align: center;
        padding: 0 12px;
        display: inline-block;
    }
    .box-error .box-download a,
    .box-error .box-download a:hover {
        color: #EC0000;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0;
        text-decoration: none;
        line-height: 20px;
    }
    .box-error .box-message {
    
        margin: 0 auto;
        margin-top:22px;
        margin-bottom:34px;
        max-width: 600px;
    }
    .box-error  i.icon-info:before {
        vertical-align: middle;
        display: inline-block;
    }

    .box-pol-terms-pdf {
        color: #767676;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 20px;
    }
    .box-pol-terms-pdf {
        max-width: 753px;
        box-sizing: border-box;
        padding: 20px 70px;
        padding-bottom: 30px;
        border: 1px solid #DEEDF2;
        border-radius: 4px;
        background-color: #FFFFFF;
    }
        .box-pol-terms-pdf h2 {
            padding-top: 16px;
            padding-bottom: 16px;
            font-size: 20px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 28px;
            text-align: center;
            font-family: 'Santander-Text-Bold';
        }
        .box-pol-terms-pdf .p-90{
            padding-left:90px;
            padding-right: 90px;
        }
    
        .box-pol-terms-pdf h3 {
            height: 23px;
            color: #4D4D4D;
            font-size: 16px;
            letter-spacing: 0;
            line-height: 23px;
        }
        .box-pol-terms-pdf h4{
            color: #767676;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 20px;
        }
        .box-pol-terms-pdf .box-sub {
            box-sizing: border-box;
            border: 1px solid #1BB3BC;
            border-radius: 100px;
            color: #1BB3BC;
            font-size: 14px;
            letter-spacing: 0;
            text-align: center;
            padding: 0 12px;
            display: inline-block;
        }
        .box-pol-terms-pdf .box-download a,
        .box-pol-terms-pdf .box-download a:hover {
            color: #EC0000;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0;
            text-decoration: none;
            line-height: 20px;
        }
        .box-pol-terms-pdf .box-message {
        
            margin: 0 auto;
            margin-top:22px;
            margin-bottom:34px;
            max-width: 600px;
        }
        .box-pol-terms-pdf  i.icon-info:before {
            vertical-align: middle;
            display: inline-block;
        }
        .box-pol-terms-pdf h4 {
            font-size: 16px;
            margin-bottom: 20px;
            color:#4D4D4D;
        }
        .box-pol-terms-pdf-border embed,
        .box-pol-terms-pdf-border object,
        .box-pol-terms-pdf-border iframe {
            border: 1px solid #DEEDF2;
        }
        .box-pol-terms-pdf .box-btn {
            border: 0px solid;
            padding:0px;
           
        }   
            .box-pol-terms-pdf  .box-btn button{
                width: 185px;
            }
            .box-pol-terms-pdf .box-btn .btn-pol {
                border-radius: 100px;
                background-color: #EC0000;
                font-size: 14px;
                color:#fff;
                padding-left:22px;
                padding-right: 22px;
            }
            .box-pol-terms-pdf .box-btn .btn-pol-reject {
                border-radius: 100px;
                background-color: #fff;
                font-size: 14px;
                color:#EC0000;
                padding-left:22px;
                padding-right: 22px;
                border: 1px solid #EC0000;
                font-weight: bold;
            }
            .box-pol-terms-pdf .box-btn .btn.disabled, .box-pol-terms-pdf .box-btn .btn:disabled{
                background-color: #C2C2C2;
                color:#fff;
            }

    .box-pol-terms-checkbox {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      .box-pol-terms-checkbox input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          height: 0;
          width: 0;
        }
        
        .box-pol-terms-checkbox .checkmark {
          position: absolute;
          top: 0;
          left: 0;
          height: 20px;
          width: 20px;
          background-color: #fff;
          border-radius: 4px;
          border:1px solid #000;
        }
         
        .box-pol-terms-checkbox .checkmark:after {
          content: "";
          position: absolute;
          display: none;
        }
        
        .box-pol-terms-checkbox input:checked ~ .checkmark:after {
          display: block;
        }
        
        .box-pol-terms-checkbox .checkmark:after {
          left: 6px;
          top: 2px;
          width: 6px;
          height: 12px;
          border: solid #ADC000;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: -4px;
    width: 20px;
    height: 20px;
    border: 1px solid #4D4D4D;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #EC0000;
    position: absolute;
    top: 2px;
    left: 6px;
    border-radius: 100%;
    
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

@media (max-width: 992px) { 
    .box-confirmation .p-90{
        padding-left:60px;
        padding-right: 60px;
    }

    .box-error .p-90{
        padding-left:60px;
        padding-right: 60px;
    }

}
@media (max-width: 768px) { 
    .box-confirmation .p-90{
        padding-left:30px;
        padding-right: 30px;
    }

    .box-error .p-90{
        padding-left:30px;
        padding-right: 30px;
    }

    .box-pol-terms-pdf  .box-btn button {
        width: 100%;
    }

    .box-pol-terms-pdf  {
        padding: 20px 30px;
    }
}

